Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

use new broadcast_shapes helper function
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

change code to use sparray
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linear_assignment.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_minimize_constrained.py
Owners: @andyfaff

ENH: signal: add the infra for the array api in scipy.signal
  .github/workflows/array_api.yml
  scipy/conftest.py
  scipy/signal/__init__.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/meson.build
Owners: @larsoner, @andyfaff, @ilayn

MAINT: special: small simplify in _support_alternative_backends
  scipy/special/_support_alternative_backends.py
Owners: @person142, @steppi

ENH: signal: array API support in convolution/correlation-like functions
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

TST: signal: adapt tests to array API
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: update for array_api_extra
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

TST: signal/windows: add skips for JAX
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

ENH: scipy.signal.window: add array API support
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

tmp: array_api dtypes
  scipy/_lib/_array_api.py
Owners: none

CI: signal/windows: run array API tests
  .github/workflows/array_api.yml
Owners: @larsoner, @andyfaff

MAINT: signal/windows: use sinc from array-api-extra
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

ENH: _lib: fix xp_assert_*(list, list)
  scipy/_lib/_array_api.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

MAINT: signal: make tests pass under torch
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: address review comments
  scipy/_lib/_array_api.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: fix up tests
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: use xp_device; deduplicate docstrings
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: array API support in test_windows
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: add shims for acos/arccos and asarray(..., device=...)
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: skip a test under torch CUDA
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: fixes for CuPy
  scipy/_lib/_array_api.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

ENH: _lib/assert_array_* : allow type(desired) == list
  scipy/_lib/_array_api.py
Owners: none

BUG: signal/windows: respect the device argument, create arrays on the device
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: make test_windows pass under array_api_strict
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal: linter-spotted fixes
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: mark new envelope test as np-only
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: differentiate.jacobian: tolerance bump for float32
  scipy/differentiate/tests/test_differentiate.py
Owners: none

MAINT: linalg.higher_order_svd: replace 'compact' with 'compact_rtol'
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_decomp.py
Owners: @larsoner, @ilayn

ENH: signal: TestVectorstrength array api + its tests
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal/vectorstrength: fix up for torch ideosyncrasies
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: stats.order_statistic: expose function to create OrderStatisticDistribution
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats: distributions of order statistics (#21790)
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

REL: set version to 1.16.0.dev0
  doc/source/release.rst
  doc/source/release/1.16.0-notes.rst
  pyproject.toml
Owners: @rgommers

MAINT: bump min NumPy to 1.24.4
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  meson.build
  pyproject.toml
  requirements/build.txt
  requirements/default.txt
  scipy/__init__.py
Owners: @larsoner, @andyfaff, @rgommers

DEV: `gh_lists`: fix asterisk sanitisation
  tools/gh_lists.py
Owners: @larsoner, @rgommers

DEV: unified git submodule exclusion for tools (#22003)
  .github/workflows/lint.yml
  dev.py
  doc/source/dev/missing-bits.rst
  tools/check_installation.py
  tools/check_test_name.py
  tools/check_unicode.py
  tools/get_submodule_paths.py
  tools/lint.py
  tools/pre-commit-hook.py
Owners: @larsoner, @andyfaff, @rgommers

DEV: Raise error if build directory is not available when spin test --coverage is called
  .spin/cmds.py
Owners: none

ENH: signal.filtfilt supports complex-coefficient filters
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

DEV: lint: add option to lint all files
  tools/lint.py
Owners: @larsoner, @rgommers

DEV: lint all through `dev.py`
  dev.py
Owners: @rgommers

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
