Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

DEP: deprecation warnings for `special.lpn` and `[c]lpmn`
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

TST: ignore `DeprecationWarning` of `scipy.lpn` and `[c]lpmn` during testing
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
Owners: @person142, @steppi

BUG: revert `import pytest` usage in `_TestPythranFunc`
  scipy/_lib/_testutils.py
Owners: none

ENH: linalg.eigh_tridiagonal: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.eigvalsh_tridiagonal: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: seed the use of `bootstrap` for determining confidence interval
  scipy/stats/tests/test_continuous_basic.py
Owners: none

ENH: linalg.eigvals: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: linalg.cdf2rdf: add test of batch support
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Revert "TST: linalg.cdf2rdf: add test of batch support"
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: linalg: generalize name of TestBatch
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: Add test for sph_harm deprecation warning
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

ENH: linalg.block_diag: add batch support
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_special_matrices.py
Owners: @larsoner, @ilayn

DOC: linalg.block_diag: document batch support
  scipy/linalg/_special_matrices.py
Owners: @larsoner, @ilayn

ENH: linalg: add batch support to remaining eigenvalue functions (#22165)
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: Add comments explaining why we're testing deprecated functions
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
Owners: @person142, @steppi

ENH: sparse: enhance dtype checking in constructors (#22113)
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

TYP: temporarily ignore the `numpy==2.2.1` mypy errors (#22162)
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Owners: none

DEP: deprecation warnings for `special.lpn` and `[c]lpmn`
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

TST: ignore `DeprecationWarning` of `scipy.lpn` and `[c]lpmn` during testing
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
Owners: @person142, @steppi

ENH: sparse: enhance dtype checking in constructors (#22113)
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

DEP: update version in deprecation warning of interpnd (#22099)
  scipy/_lib/deprecation.py
Owners: none

MAINT: stats.ContinuousDistribution.llf: remove method (#22149)
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: sparse: explicit dtypes for nonzero()
  scipy/sparse/_base.py
Owners: @perimosocordiae

DOC: PR 22150 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

shift csc calls to sparsetools csr. remove sparsetools csc.
  scipy/sparse/_compressed.py
  scipy/sparse/_csc.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/csc.h
Owners: @perimosocordiae

BUG: fix incorrect values in factorial for 0 with uint dtype
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

WIP: signal: start converting test_splines -- needs blanket delegation
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

BUG: fix incorrect values in factorial for 0 with uint dtype (#22168)
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

DOC: interpolate: add missing method `integrate` for `PchipInterpolator`
  scipy/interpolate/_cubic.py
Owners: @ev-br

DOC: interpolate: add missing method `integrate` for `PchipInterpolator` (#22173)
  scipy/interpolate/_cubic.py
Owners: @ev-br

switch from suppress_warnings to catch_warnings in production code
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_trustregion_constr/projections.py
Owners: @andyfaff

TST: tweak seed and comment on non-robust stats test
  scipy/stats/tests/test_continuous_basic.py
Owners: none

MAINT: capitalize `MVN_LOCK` and add requested code comments
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_morestats.py
Owners: none

MAINT: bump min NumPy to 1.24.4
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  meson.build
  pyproject.toml
  requirements/build.txt
  requirements/default.txt
  scipy/__init__.py
Owners: @larsoner, @andyfaff, @rgommers

Removed erf from functions.json
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf/erf.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

moved erfc and erfcx
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf/erf.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

WIP, MAINT: PR 22012 revisions
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  meson.build
  pyproject.toml
  requirements/build.txt
  requirements/default.txt
  scipy/__init__.py
Owners: @larsoner, @andyfaff, @rgommers

DEP: special: deprecation warning for `sph_harm` + comments (#22167)
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
  scipy/special/xsf_special.h
Owners: @person142, @steppi

CI: use Pythran master to build free-threaded wheels [wheel build]
  tools/wheels/cibw_before_build_linux.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
  tools/wheels/cibw_test_command.sh
Owners: @larsoner, @rgommers

BUG: interpolate: fix missing free-threading support in `_dierckxmodule.cc`
  scipy/interpolate/meson.build
  scipy/interpolate/src/_dierckxmodule.cc
Owners: @ev-br
