Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

_contains_nan for lazy arrays
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/optimize/_minpack_py.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: @andyfaff

Add failing test for banded Jacobian with lsoda
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

lint: trailing newline
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

remove print
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

use wrapper for banded jacobian for lsoda.
  scipy/integrate/_ode.py
Owners: @steppi

ENH: Implement ProperRigidTransformation.as_expcoords()
  scipy/spatial/transform/_properrigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: test ProperRigidTransformation.as_expcoords
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

DEBUG: check fixes to GPU tests
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

TST: stats: more precise skips
  scipy/stats/tests/test_stats.py
Owners: none

TST: Add skips for GPU CI failures (#22279)
  scipy/ndimage/tests/test_interpolation.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @ilayn

update pixi cache strategy
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

deal with ccache differently
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

DEBUG: skip test suite (we're debugging caching here)
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

Update scipy/stats/_distn_infrastructure.py
  scipy/stats/_distn_infrastructure.py
Owners: none

more ccache strategy
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

disable setup-pixi caching
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

CI: optimize caching strategies for Pixi and Ccache
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

CI: add documentation inside `gpu-ci.yml`
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

Update gpu-ci.yml [skip circle]
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

CI: add a GPU CI job (#22275)
  .github/workflows/gpu-ci.yml
  .github/workflows/pixi.lock
  .github/workflows/pixi.toml
  .gitignore
Owners: @larsoner, @andyfaff

MAINT: sparse: better error message for unsupported dtypes (#22284)
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

TEST: Rewrite tests to cover 1D, 2D, and 3D cases in separate functions
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br

Update scipy/interpolate/tests/test_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br

Update scipy/interpolate/tests/test_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br

BUG: Fix `Akima1DInterpolator` by returning linear interpolant for `y.shape[0] == 2` (#22278)
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br

MAINT: interpolate/BSpline: lock mutations of self.
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

DEV: Do not set to infinity for masked array
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

MISC: Styling changes
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

TEST: Added test for masked_invalid
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

CI: fix skip/trigger condition of GPU CI job
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

CI: fix skip/trigger condition of GPU CI job (#22289)
  .github/workflows/gpu-ci.yml
Owners: @larsoner, @andyfaff

fix inequality and 1/0 based indexing dance
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

Use `assert_allclose`
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

Update scipy/integrate/tests/test_banded_ode_solvers.py
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

remove vode comment
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

add comment about lsoda for original test
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

Make comment style consistent
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

Change from_transrot to from_rottrans, added as_rottrans
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

BUG: Fix banded Jacobian for lsoda: `ode` and `solve_ivp` (#22283)
  scipy/integrate/_ode.py
  scipy/integrate/tests/test_banded_ode_solvers.py
Owners: @steppi

tests for internal consistency
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10
