Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

ENH: linalg.qr_delete: add batch support
  scipy/linalg/_decomp_update.pyx.in
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DOC: update scipy module docstring for lazy loading (#22196)
  scipy/__init__.py
Owners: none

DOC: Clarify support behavior in rv_continuous documentation
  scipy/stats/_distn_infrastructure.py
Owners: none

Update _distn_infrastructure.py
  scipy/stats/_distn_infrastructure.py
Owners: none

ENH: linalg.cossin: add batch support (#22197)
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DEP: linalg.solve_toeplitz/matmul_toeplitz: warn on n-D `c`, `r` (#22193)
  doc/source/release/1.15.0-notes.rst
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_solve_toeplitz.py
Owners: @larsoner, @ilayn

Copy filtfilt output for torch
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

bug fix: deleting undefine name 'obj'
  scipy/stats/_distn_infrastructure.py
Owners: none

TST: linalg: check batch solves against np.linalg.solve
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: linalg.solve_toeplitz: remove batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DOC: roadmap-detailed.rst: adjustments per review
  doc/source/dev/roadmap-detailed.rst
Owners: none

DOC: update `stats`, `integrate`, `optimize`, and `differentiate` sections of roadmap (#22101)
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Owners: none

MAINT: signal/widows: continue adding support for Array API
  .github/workflows/array_api.yml
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @andyfaff, @ilayn

TST: array API support in test_windows
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: assorted fixes to address the review
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: run torch tests w/ float64 as the default dtype
  scipy/conftest.py
Owners: none

ENH: scipy.signal.window: add array API support
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

Revert "TST: run torch tests w/ float64 as the default dtype"
  scipy/conftest.py
Owners: none

TST: signal/windows: add explicit dtypes to asarrays
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

DOC: interpolate: add missed `integrate` doc link for `Akima1DInterpolator`
  scipy/interpolate/_cubic.py
Owners: @ev-br

Update scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: linalg.cho_solve(_banded): remove batch support for 'lower'
  scipy/linalg/_decomp_cholesky.py
Owners: @larsoner, @ilayn

ENH: linalg: wrap ?gbcon
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

MAINT: stats.weightedtau: fix decorator
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Owners: none

Apply suggestions from code review
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

Update scipy/stats/_stats_py.py
  scipy/stats/_stats_py.py
Owners: none

Apply suggestions from code review
  scipy/linalg/flapack_gen_banded.pyf.src
Owners: @larsoner, @ilayn

ENH: stats: add axis/nan_policy/keepdims/etc. support to correlation tests (#22155)
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: linalg: add batch support to linear system solvers (#22192)
  doc/source/tutorial/linalg_batch.md
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_solve_toeplitz.py
  scipy/stats/_covariance.py
Owners: @ev-br, @larsoner, @ilayn, @mdhaber

BUG: zpk2tf works correctly with complex k, real p, z
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

ENH: io: throw `FileNotFoundError` exception when the source file does not exist in `io.mmread`.
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/tests/test_mmio.py
Owners: none

MAINT: signal.zpk2tf: remove redundant numpy shim and add round trip test for complex k, real p, z (#22213)
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

TST: use _to_banded
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

MAINT: hide n
  scipy/linalg/flapack_gen_banded.pyf.src
Owners: @larsoner, @ilayn

ENH: linalg: wrap ?gbcon (#22212)
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

TST: TestBracketMinimum MPS shims
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

ENH: linalg: wrap ?langb
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

ENH: io: using os.path.exists instead of os.path.isfile.
  scipy/io/_fast_matrix_market/__init__.py
Owners: none

MAINT: linalg.clarkson_woodruff_transform: decouple from gh-22153
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: Don't deepcopy
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn
