Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

DOC: stats: draft random variable transition guide
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats.ContinuousDistribution: improve tutorial
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: expand fitting portion of tutorial
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: begin to polish transition guide
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/rv_infrastructure_1.png
  doc/source/tutorial/stats/rv_infrastructure_2.png
  doc/source/tutorial/stats/rv_infrastructure_3.png
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

Revert "Apply suggestions from code review "
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: adjustments per review; CI
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

MAINT: Add __str__ overrides for new distributions
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats.ContinuousDistribution: update heading levels
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOCS: stats.ContinuousDistribution: remove rmaining uses of 'params'
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: adjustments per review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

MAINT: Add `__str__` overrides for distributions in new infra to fix plot titles (#22081)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

BUG, DOC: fixup md5 hash reporting (#22082)
  tools/write_release_and_log.py
Owners: @larsoner, @rgommers

DOC: mention the removal of AccuracyWarning (#22098)
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: 1.15.0 release note updates (#22104)
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: sparse: correct eye_array docs for first shape input to fix #22095 (#22106)
  scipy/sparse/_construct.py
Owners: @perimosocordiae

DOC: sparse.linalg: remove broken examples from SuperLU.perm_{r,c}
  scipy/sparse/linalg/_dsolve/_add_newdocs.py
Owners: @perimosocordiae

TST: io.matlab: temp skip failures in io.matlab.Matlab****
  scipy/conftest.py
Owners: none

DOC: Fix incorrect reference to "Random Variable Transition Guide" notebook (#22124)
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

MAINT/DOC: sparse: nD cleanup and docs (#22129)
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_csr.py
Owners: @perimosocordiae

MAINT: _lib: add missing f string to _deprecate_positional_args
  scipy/_lib/deprecation.py
Owners: none

MAINT: stats._SimpleDomain: ensure that instances do not share `symbols` (#22139)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: linalg.subspace_angles: add batch support
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.svdvals: add batch support
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: stats.ContinuousDistribution.llf: remove method (#22149)
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

ENH: linalg.eigvalsh: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.expm_frechet: add batch support
  scipy/linalg/_expm_frechet.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.orthogonal_procrustes: add batch support
  scipy/linalg/_procrustes.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.khatri_rao: add batch support
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_sylvester: add batch support
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_continuous_are: add batch support
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_discrete_are: add batch support
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_..._lyapunov: add batch support
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.qz: add batch support
  scipy/linalg/_decomp_qz.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.ordqz: add batch support
  scipy/linalg/_decomp_qz.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.rsf2cs: add batch support
  scipy/linalg/_decomp_schur.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.cossin: add batch support
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Revert "ENH: linalg.cossin: add batch support"
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn
