Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

ENH: signal: add the infra for the array api in scipy.signal
  .github/workflows/array_api.yml
  scipy/conftest.py
  scipy/signal/__init__.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/meson.build
Owners: @larsoner, @andyfaff, @ilayn

MAINT: special: small simplify in _support_alternative_backends
  scipy/special/_support_alternative_backends.py
Owners: @person142, @steppi

MAINT: signal: mark new envelope test as np-only
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: update for array_api_extra
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

TST: signal: adapt tests to array API
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: linter-spotted fixes
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

ENH: signal: array API support in convolution/correlation-like functions
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: stats.FoldedDistribution: fix when -x is below left support
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.FoldedDistribution: improve fix
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: attempt to fix mypy complaints
  scipy/optimize/_isotonic.py
  scipy/stats/tests/test_stats.py
Owners: @andyfaff

MAINT: signal: address review comments
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: fix random number handling in `sparse.linalg.svds` tests
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Owners: @perimosocordiae

TST: sparse.linalg: fix tfmqr `test_x0_working` tolerance issue
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Owners: @perimosocordiae

TST: sparse.linalg: fix failures for tfmqr and svds (#22033)
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Owners: @perimosocordiae

Update scipy/stats/_distribution_infrastructure.py
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: Update reprs of transformed distributions
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: linalg: Minor language correction in HOSVD documentation
  scipy/linalg/_decomp_svd.py
Owners: @larsoner, @ilayn

DOC: adapt to NumPy 2.2 changes for abbreviation of large arrays:
  scipy/datasets/_fetchers.py
  scipy/linalg/_basic.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Owners: @larsoner, @ilayn, @perimosocordiae

Update scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: `stats.FoldedDistribution`: accommodate for private methods of distributions being invalid outside support (#22030)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

FIX: immortalize uarray global strings in order to prevent negative refcounts
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

MAINT: PR 22024 revisions [wheel build]
  pyproject.toml
Owners: @rgommers

MAINT: signal: address review comments
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

FIX: Make scipy.stats continuous/discrete distributions tests to work under concurrent loads
  scipy/stats/_morestats.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Owners: none

Adjust changes that occured during merges
  scipy/sparse/sparsetools/coo.h
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

use isinstance instead of type() ==
  scipy/sparse/_base.py
  scipy/sparse/_data.py
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

fix idx_dtype error
  scipy/sparse/_coo.py
Owners: @perimosocordiae

replace/fix removed tests. Fix broadcasting in DIA/BSR
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

quickfix lint in dev.py
  dev.py
Owners: @rgommers

ENH: stats.make_distribution: support irwinhall
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.make_distribution: support norminvgauss
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.make_distribution: support ksone/studentized_range
  scipy/stats/tests/test_continuous.py
Owners: none

DOC: adapt to NumPy 2.2 changes for abbreviation of large arrays: (#22036)
  scipy/datasets/_fetchers.py
  scipy/linalg/_basic.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Owners: @larsoner, @ilayn, @perimosocordiae

TST: stats.make_distribution: test support; fix truncpareto support
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous.py
Owners: none

ENH: stats.make_distribution: support distributions with _get_support override
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.jf_skew_t: add sf override
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous.py
Owners: none

ENH: signal: array API support / delegation in lfilter-like functions
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: make test_windows pass under array_api_strict
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: array API support in test_windows
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: add skips for JAX
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn
