Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

MAINT: Ensure repr is used instead of str for nested reprs
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

BUG: Set array priority to 1 to get proper behavior
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: remove stale comment
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

Update scipy/_lib/_util.py
  scipy/_lib/_util.py
Owners: none

DOC: linalg: add batch TLDR
  doc/source/tutorial/linalg.rst
Owners: none

TST: Add test for repr with float32 params
  scipy/stats/tests/test_continuous.py
Owners: none

MAINT: Remove dtype and shape from distribution reprs
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: Avoid hiding information in reprs
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Update reprs in __repr__ test
  scipy/stats/tests/test_continuous.py
Owners: none

Apply suggestions from code review
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Owners: none

MAINT: Be more aggressive for when to summarize arrays
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Add tests that reprs don't get too long
  scipy/stats/tests/test_continuous.py
Owners: none

BUG: fix string pattern conflict with summarized arrays
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Add test case to demonstrate bug
  scipy/stats/tests/test_continuous.py
Owners: none

BUG: Fix bug in loc scale repr
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: respond to review comment
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.wilcoxon: fix attempt to access np.AxisError (#22056)
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Owners: none

TST: Update some repr tests
  scipy/stats/tests/test_continuous.py
Owners: none

TST: Add test demonstrating incorrect repr behavior for shift scale
  scipy/stats/tests/test_continuous.py
Owners: none

ENH: BLD: allow building OpenBLAS from source in a SciPy wheel
  .gitignore
  pyproject.toml
  scipy/meson.build
  subprojects/openblas.wrap
Owners: @rgommers

BUG: Fix case in repr where we hide zero array that causes type promotion
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.order_statistic: override `support` (#22050)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

TST: Make repr tests work for numpy < 2
  scipy/stats/tests/test_continuous.py
Owners: none

TST: fix careless error in test
  scipy/stats/tests/test_continuous.py
Owners: none

DOC: stats._distribution_infrastructure: fix doctests
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

MAINT: stats.ContinuousDistribution: improve doc generation; fix broken doctests by making `stats.Uniform` public again (#22027)
  scipy/integrate/_tanhsinh.py
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous.py
Owners: @steppi, @ev-br, @rgommers

small commit for leftover changes
  benchmarks/benchmarks/io_matlab.py
  benchmarks/benchmarks/optimize.py
Owners: none

fixing some linting errors
  scipy/_lib/_boost_utils.py
  scipy/_lib/_unuran_utils.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_fitpack2.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/io/_harwell_boeing/_fortran_format_parser.py
  scipy/optimize/_basinhopping.py
  scipy/optimize/_zeros_py.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_signaltools.py
  scipy/sparse/_bsr.py
  scipy/sparse/_dia.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/spatial/distance.py
  scipy/special/_generate_pyx.py
  scipy/special/_orthogonal.pyi
  scipy/special/tests/test_nan_inputs.py
  scipy/stats/_unuran/unuran_wrapper.pyi
Owners: @ev-br, @andyfaff, @larsoner, @ilayn, @perimosocordiae, @tylerjereddy, @peterbell10, @person142, @steppi

fixing remainder of linting errors
  scipy/special/_generate_pyx.py
  scipy/special/_testutils.py
  scipy/special/utils/datafunc.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_mstats_extras.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_rank.py
  tools/authors.py
Owners: @person142, @steppi, @larsoner, @rgommers

DOC: stats.order_statistic: add 'Returns' section
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: temp skip of extending tests
  scipy/linalg/tests/test_extending.py
  scipy/optimize/tests/test_extending.py
  scipy/special/tests/test_extending.py
Owners: @larsoner, @ilayn, @andyfaff, @person142, @steppi

MAINT: fix __all__, make _repr_pattern private
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

BUG: ndimage: convert array scalars on return
  scipy/ndimage/_support_alternative_backends.py
Owners: none

MAINT: stats: Add custom reprs for transformed distributions (#22037)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: Change matrix type specification in dijkstra benchmark to avoid warnings
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

ENH: Speed up sparse.csgraph.dijkstra by replace FibonacciHeap which is slow due to a bug with std::priority_queue
  .gitignore
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/meson.build
Owners: @perimosocordiae

MAINT: PR review fixes
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

TST: Add star graph test.
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

MAINT: Fix signed-compare warnings
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

MAINT: Unify dijkstra functions(directed/undirected, single/multi-source)
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae
