Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

TST: add 'directed=False' parameter to undirected yen test
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

MAINT: Reorder the testcases and add comments for sparse.csgraph.tests.test_shortest_path
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

MAINT: linters fix
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/special/tests/test_nan_inputs.py
Owners: @perimosocordiae, @person142, @steppi

MAINT: linters fix (#22063)
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/special/tests/test_nan_inputs.py
Owners: @perimosocordiae, @person142, @steppi

DNM array_api_extra depends on array_api_compat
  .github/workflows/array_api.yml
  scipy/_lib/_array_api_compat_vendor.py
  scipy/_lib/meson.build
  scipy/_lib/tests/test_array_api.py
Owners: @larsoner, @andyfaff, @rgommers

MAINT: sparse.linalg._isolve: Remove postprocess function
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
  scipy/sparse/linalg/_isolve/utils.py
Owners: @perimosocordiae

Fix build
  scipy/_lib/meson.build
Owners: @rgommers

nits
  scipy/_lib/_array_api_compat_vendor.py
Owners: none

copy __init__.py
  scipy/_lib/meson.build
Owners: @rgommers

MAINT: `_lib`: co-vendor array-api-extra and array-api-compat (#22062)
  .github/workflows/array_api.yml
  scipy/_lib/_array_api_compat_vendor.py
  scipy/_lib/meson.build
  scipy/_lib/tests/test_array_api.py
Owners: @larsoner, @andyfaff, @rgommers

MAINT: version pins/prep for 1.15.0rc1 (#22024)
  ci/cirrus_wheels.yml
  pyproject.toml
  scipy/__init__.py
Owners: @larsoner, @andyfaff, @rgommers

CI: increase cirrus timeout
  ci/cirrus_wheels.yml
Owners: @larsoner, @andyfaff

TST: temp skip of extending tests
  scipy/linalg/tests/test_extending.py
  scipy/optimize/tests/test_extending.py
  scipy/special/tests/test_extending.py
Owners: @larsoner, @ilayn, @andyfaff, @person142, @steppi

DOC: stats.order_statistic: add 'Returns' section
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.order_statistic: override `support` (#22050)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

TST: integrate.tanhsinh: fix abscissae/weight "compression" bug (#22048)
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

MAINT: `stats.make_distribution`: support more existing distributions (#22040)
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats: Add custom reprs for transformed distributions (#22037)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DOC: adapt to NumPy 2.2 changes for abbreviation of large arrays: (#22036)
  scipy/datasets/_fetchers.py
  scipy/linalg/_basic.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Owners: @larsoner, @ilayn, @perimosocordiae

TST: sparse.linalg: fix failures for tfmqr and svds (#22033)
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Owners: @perimosocordiae

MAINT: fix mypy complaints (#22032)
  scipy/optimize/_isotonic.py
  scipy/stats/tests/test_stats.py
Owners: @andyfaff

MAINT: make `boost_math` a `subproject`
  .gitignore
  .gitmodules
  LICENSES_bundled.txt
  meson.build
  scipy/_lib/_boost_utils.py
  scipy/_lib/meson.build
  scipy/special/meson.build
  subprojects/boost_math.wrap
Owners: @rgommers, @person142, @steppi

wip
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

MAINT: sparse.linalg._isolve: Update breakdown case return value in bicg and cgs functions to fit docstring
  scipy/sparse/linalg/_isolve/iterative.py
Owners: @perimosocordiae

MAINT: `stats.FoldedDistribution`: accommodate for private methods of distributions being invalid outside support (#22030)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats.ContinuousDistribution: improve doc generation; fix broken doctests by making `stats.Uniform` public again (#22027)
  scipy/integrate/_tanhsinh.py
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous.py
Owners: @steppi, @ev-br, @rgommers

MAINT: stats.Mixture: fix default `weights` (#22026)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DOC: signal.dbode: improve docstring (#20908)
  scipy/signal/_ltisys.py
Owners: @larsoner, @ilayn

TST: fix up stats testing
  scipy/stats/tests/test_continuous.py
Owners: none

further repairs and indent fixes. return spmatrix if spmatrix input
  scipy/optimize/_linprog_util.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
Owners: @andyfaff

ENH: scipy.signal.window: add array API support
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: array API support in test_windows
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/widows: continue adding support for Array API
  .github/workflows/array_api.yml
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @andyfaff, @ilayn

MAINT: signal/windows: assorted fixes to address the review
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: run torch tests w/ float64 as the default dtype
  scipy/conftest.py
Owners: none

ENH: signal: TestVectorstrength array api + its tests
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

ENH: Implement Muller's method in scipy.optimize._zeros_py.py and _root_scalar.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Owners: @andyfaff

Correct value of args in case of masking.
  scipy/optimize/_zeros_py.py
Owners: @andyfaff

DEV: Use ENUM_CHECK_NAME for avoiding memory leaks
  scipy/sparse/linalg/_dsolve/_superluobject.c
Owners: @perimosocordiae

ENH: sparse: make two sputils public for easier index array casting (#22043)
  doc/source/reference/sparse.migration_to_sparray.rst
  doc/source/release/1.15.0-notes.rst
  scipy/sparse/__init__.py
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
