Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

STY: appease linter
  scipy/cluster/hierarchy.py
Owners: none

attempt np->xp
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Owners: none

make rng kwarg only
  scipy/linalg/_decomp_interpolative.pyx
Owners: @larsoner, @ilayn

fix test
  scipy/cluster/tests/test_hierarchy.py
Owners: none

MAINT: linalg.interpolative: normalize rng argument with default_rng (SPEC7) (#21893)
  scipy/linalg/_decomp_interpolative.pyx
  scipy/linalg/interpolative.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_milp.py
Owners: @andyfaff

MAINT: make `boost_math` a `subproject`
  .gitignore
  .gitmodules
  LICENSES_bundled.txt
  meson.build
  scipy/_lib/_boost_utils.py
  scipy/_lib/meson.build
  scipy/special/meson.build
  subprojects/boost_math.wrap
Owners: @rgommers, @person142, @steppi

TST: differentiate: add dtype test for jacobian/hessian
  scipy/differentiate/tests/test_differentiate.py
Owners: none

Create master
  master
Owners: none

TST: optimize.linprog/milp: add tests for various bug reports (#20589)
  scipy/optimize/tests/test_milp.py
Owners: @andyfaff

Apply suggestions from code review
  scipy/sparse/_construct.py
Owners: @perimosocordiae

Remove unused variable
  scipy/differentiate/tests/test_differentiate.py
Owners: none

ENH: differentiate: add array API support to `jacobian` and `hessian` (#21811)
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/differentiate/tests/test_differentiate.py
Owners: none

MAINT: Hausdorff Generator handling
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Owners: @tylerjereddy, @peterbell10

ENH: `stats.dpareto_lognorm`: add double Pareto lognormal distribution (#21731)
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_dpareto_lognorm.rst
  doc/source/tutorial/stats/probability_distributions.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Owners: @ev-br

MAINT: remove errorstate
  scipy/stats/_continuous_distns.py
Owners: none

ENH: integrate: `integrate.lebedev_rule`: points and weights of Lebedev quadrature (#21609)
  LICENSES_bundled.txt
  scipy/integrate/__init__.py
  scipy/integrate/_lebedev.py
  scipy/integrate/meson.build
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

DOC: optimize: remove hand coded rosen etc from tutorial
  doc/source/tutorial/optimize.rst
Owners: none

use rng in sparse.linag. Specifically svds/svdp
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/_svds_doc.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
  scipy/sparse/linalg/tests/test_propack.py
Owners: @perimosocordiae

add position_num, lint, smoke-doc
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
Owners: @perimosocordiae

add rng to rand and random. add test of use of rng (#114)
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Owners: @perimosocordiae

first pass at conversion
  scipy/optimize/_bracket.py
Owners: @andyfaff

MAINT: stats.dpareto_lognorm._cdf: treat special case at x=0
  scipy/stats/_continuous_distns.py
Owners: none

convert tests
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

fix array api strict
  scipy/optimize/_bracket.py
Owners: @andyfaff

fixes for torch
  scipy/optimize/_bracket.py
Owners: @andyfaff

convert last test
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

remove unused import
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

review comments and more stemming from those
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
Owners: @perimosocordiae

add backend skips
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

make propack tests deterministic. remove random_state from _svdp
  scipy/sparse/linalg/_svdp.py
  scipy/sparse/linalg/tests/test_propack.py
Owners: @perimosocordiae

make svds tests deterministic. allow RandomState in svdp
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
Owners: @perimosocordiae

TST: fix mpmath reference values and ignore edge case
  scipy/special/boost_special_functions.h
  scipy/special/tests/test_cdflib.py
Owners: @person142, @steppi

BUG: PR 21897 revisions
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/tests/test_hausdorff.py
Owners: @tylerjereddy, @peterbell10

test fix jax error
  scipy/ndimage/_filters.py
Owners: none

fixed the writble bug
  scipy/ndimage/_filters.py
  scipy/ndimage/src/_rank_filter_1d.cpp
Owners: none

added new tests
  scipy/ndimage/tests/test_filters.py
Owners: none

MAINT: stats.MonteCarloMethod: fixups post merge
  scipy/stats/_resampling.py
  scipy/stats/contingency.py
Owners: @mdhaber

DOC: stats.dpareto_lognorm: docstring fixup
  scipy/stats/_continuous_distns.py
Owners: none

MAINT: stats.MonteCarloMethod: additional post-merge corrections
  scipy/stats/_resampling.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_stats.py
Owners: @mdhaber
