Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

TST: fix thread safety issue in interpolate.bsplines memmap test
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

ENH: linalg.solve: use gbcon
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

merge from main
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

merge from main
  scipy/special/tests/test_logsumexp.py
Owners: @person142, @steppi

TST: clean up obsolete Array API fixtures (#22268)
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/constants/tests/test_constants.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_quadrature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/ndimage/tests/test_splines.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_splines.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_continued_fraction.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @larsoner, @peterbell10, @steppi, @andyfaff, @ilayn, @person142

ENH: Implement ProperRigidTransformation.from_expcoords
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

DOC: Document shape of expcoords
  scipy/spatial/transform/_properrigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: More information on exp. coordinate convention
  scipy/spatial/transform/_properrigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

ENH: Check input shape of expcoords
  scipy/spatial/transform/_properrigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: Add test for individual components
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

Fix Transformation __pow__
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

FIX: immortalize uarray global strings in order to prevent negative refcounts
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

switch x-y in optimize.root example
  doc/source/tutorial/optimize.rst
Owners: none

CI: add a GPU CI job
  .github/workflows/gpu-ci.yml
  .github/workflows/pixi.lock
  .github/workflows/pixi.toml
  .gitignore
Owners: @larsoner, @andyfaff

fix spacing
  doc/source/tutorial/optimize.rst
Owners: none

TST: additional tests for from_expcoords
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

TST: stats.Normal: bump tolerance on test of logcdf
  scipy/stats/tests/test_continuous.py
Owners: none

error message shows dtype instead of dtype.name
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

Replaced Twitter with X
  doc/source/dev/conduct/code_of_conduct.rst
Owners: none

Change the Twitter icon to X
  doc/source/conf.py
Owners: @tupui

Removed Twitter or X entirely in the Code of Conduct
  doc/source/dev/conduct/code_of_conduct.rst
Owners: none

DEV: Use linear interpolation if there are only 2 points
  scipy/interpolate/_cubic.py
Owners: @ev-br

TEST: Add regression test
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br

MISC: Styling changes
  scipy/interpolate/_cubic.py
Owners: @ev-br

DOC: optimize.curve_fit: add note about more advanced curve fitting (#22269)
  doc/source/tutorial/optimize.rst
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

Update scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_continuous.py
Owners: none

TST: stats.Normal: bump tolerance on test of logcdf (#22276)
  scipy/stats/tests/test_continuous.py
Owners: none

TST: signal: do not fail on dtype mismatch
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: signal: skip a cpu-only test on CUDA
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: stats: skip ttest-related test on CUDA (t-distr specfuns are CPU only)
  scipy/stats/tests/test_stats.py
Owners: none

TST: ndimage: skip a large-memory test on CUDA
  scipy/ndimage/tests/test_interpolation.py
Owners: none

TST: `_lib`: more idiomatic conditional skips
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_ccallback.py
Owners: none

TST: special: better skip messages for stdrit on JAX
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

fix typo [skip cirrus] [skip circle]
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

nit
  scipy/_lib/tests/test_ccallback.py
Owners: none

Apply suggestions from code review
  scipy/stats/_distn_infrastructure.py
Owners: none

Merge pull request #22280 from crusaderky/tst_skip
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_ccallback.py
Owners: none

TST: special: better skip message for stdtrit on JAX (#22281)
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

DEV: Use y.shape instead of x.shape
  scipy/interpolate/_cubic.py
Owners: @ev-br

TEST: Add 2D and 3D case
  scipy/interpolate/tests/test_interpolate.py
Owners: @ev-br
