Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

address review comments
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

Add broadcast_shapes function to sputils.py
  scipy/sparse/_compressed.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_sputils.py
Owners: @perimosocordiae

linter format-strings
  scipy/sparse/_compressed.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

fix rebase mistake
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

linting
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

TST: integrate.nsum: fix torch test failure
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

fix idx_dtype treatment in random_array, block_diag and kron
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Owners: @perimosocordiae

handle idx_dtype of indices in linalg.spsolve, min_max, coo.reshape, random_array, block_diag, kron, cs.multiply
  scipy/sparse/_compressed.py
  scipy/sparse/_construct.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

linting
  scipy/sparse/_compressed.py
Owners: @perimosocordiae

linting format strings
  scipy/sparse/_compressed.py
  scipy/sparse/_construct.py
Owners: @perimosocordiae

TST: gh21862 skip tests
  scipy/conftest.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_update.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_solvers.py
Owners: @larsoner, @ilayn

CI: test on macos15
  .github/workflows/macos.yml
Owners: @larsoner, @andyfaff

TST: fix import
  scipy/conftest.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

Use compat for xp.bool
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

ENH: integrate.nsum: add array API standard support (#21932)
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

fixes gh-20389: maintain idx_dtype across h/vstack. Also fixes block_diag
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Owners: @perimosocordiae

WIP: start adding _batch_lapack.cc
  scipy/linalg/_batched_lapack.cc
  scipy/linalg/meson.build
Owners: @larsoner, @ilayn

DOC: stats.make_distribution: add note about known failures
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

ENH: `stats.make_distribution`: generate a `ContinuousDistribution` from existing `rv_continuous`
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats: fix `axis_nan_policy` decorator non-broadcastable paired-sample statistics (#19764)
  scipy/stats/_axis_nan_policy.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
Owners: none

MAINT: spatial/special: audit std::is{nan, inf}
  scipy/spatial/ckdtree/src/build.cxx
  scipy/special/Faddeeva.cc
  scipy/special/_round.h
  scipy/special/stirling2.h
  scipy/special/wright.cc
Owners: @tylerjereddy, @peterbell10, @person142, @steppi

comments added for coo_matmat_dense_nd
  scipy/sparse/sparsetools/coo.h
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

indentation error fixed
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

product shape changed
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

axes handling code moved
  scipy/sparse/_coo.py
Owners: @perimosocordiae

MAINT: stats.chatterjeexi: fix error message
  scipy/stats/tests/test_correlation.py
Owners: none

TST: more thorough tests of SPEC 7
  scipy/_lib/tests/test__util.py
Owners: none

MAINT: stats._resampling: fix behavior when rng/random_state is an int
  scipy/stats/_resampling.py
Owners: @mdhaber

TST: add thorough SPEC 7 tests
  scipy/_lib/tests/test__util.py
  scipy/sparse/_construct.py
  scipy/stats/_qmc.py
Owners: @perimosocordiae, @tupui

parametrize tests, simplify function, remove print, fix typo
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Owners: @perimosocordiae

fix f-string typos
  scipy/sparse/_compressed.py
Owners: @perimosocordiae

ENH: sparse: add `broadcast_shapes` function to `_sputils.py` (#21944)
  scipy/sparse/_compressed.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_sputils.py
Owners: @perimosocordiae
