Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

DEP: scipy.misc: remove all but modules (#21864)
  .github/label-globs.yml
  .github/workflows/windows_intel_oneAPI.yml
  doc/source/conf.py
  doc/source/reference/index.rst
  doc/source/reference/misc.rst
  pytest.ini
  scipy/__init__.py
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test_config.py
  scipy/_lib/tests/test_doccer.py
  scipy/_lib/tests/test_public_api.py
  scipy/misc/__init__.py
  scipy/misc/_common.py
  scipy/misc/ascent.dat
  scipy/misc/common.py
  scipy/misc/doccer.py
  scipy/misc/ecg.dat
  scipy/misc/face.dat
  scipy/misc/meson.build
  scipy/misc/tests/__init__.py
  scipy/misc/tests/meson.build
  scipy/misc/tests/test_common.py
  tools/refguide_check.py
Owners: @larsoner, @andyfaff, @tupui, @rgommers

MAINT: stats.fisher_exact: edge case handling
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

Update scipy/stats/_distribution_infrastructure.py
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DEV: Add try-finally block to execute lcov after parent_callback call
  .spin/cmds.py
Owners: none

DEV: Fix linting issues
  .spin/cmds.py
Owners: none

ENH: sparse: Add nD COO support for matmul, dot and tensordot (#21435)
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/coo.h
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

ENH: stats.fisher_exact: extend to R x C tables (#21996)
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: signal.lombscargle: vectorization changes and handling rare division-by-zero edge cases (#21729)
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

use sputils safe_cast function in sparse/linalg
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

minor tweak to errmsg handling
  scipy/sparse/_sputils.py
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

switch from np.any idiom to the method .any()
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

finish applying suggestions locally and tweak docs
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

use safely_cast in csgraph
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
Owners: @perimosocordiae

doc_string editing
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

Apply suggestions from code review
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

add new function safely_cast_index_arrays
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Owners: @perimosocordiae

Apply suggestions from code review
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

Update scipy/sparse/_sputils.py
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

correct the path to helper functions safely_cast_index_arrays and get_index_dtype
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

TST: stats.ttest_ind: improve tests of errors/warnings
  scipy/stats/tests/test_stats.py
Owners: none

TST: run zeta underflow tests only on platforms known supported
  scipy/special/tests/test_zeta.py
Owners: @person142, @steppi

TST: Use skipif instead of xfail in zeta underflow tests
  scipy/special/tests/test_zeta.py
Owners: @person142, @steppi

MAINT: stats.ttest_ind: avoid passing 'rng' to 'monte_carlo_test'
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: Rename unicode-check for consistency
  .github/workflows/lint.yml
  dev.py
  doc/source/dev/missing-bits.rst
  tools/check_unicode.py
  tools/pre-commit-hook.py
Owners: @larsoner, @andyfaff, @rgommers

MAINT: Update checks to avoid submodules
  tools/check_installation.py
  tools/check_test_name.py
  tools/get_submodule_paths.py
  tools/unicode-check.py
Owners: @larsoner, @rgommers

MAINT: stats.truncate: expose public function, not class
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: Add submodule check to lint.py
  tools/lint.py
Owners: @larsoner, @rgommers

TST: Run complex zeta avoid underflow tests only on platforms known to be supported (#22002)
  scipy/special/tests/test_zeta.py
Owners: @person142, @steppi

ENH: sparse: Add safe casting function for sparse index to sputils (#21858)
  scipy/sparse/_sputils.py
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/tests/test_sputils.py
Owners: @perimosocordiae

DOC: sparse: migration to sparray guide updates (#21753)
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

ENH: stats: exponential, logarithm, and reciprocal of a random variable (#21746)
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.ContinuousDistribution: add __pow__
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats.ContinuousDistribution: 'dist' -> 'X', make positional-only
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.ContinuousDistribution.__pow__: fix for odd powers
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

ENH: stats: absolute value of a random variable (#21777)
  scipy/optimize/_chandrupatla.py
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @andyfaff, @ev-br

DEP: `stats.ttest_ind`: deprecate `random_state` and `permutation` in favor of `method`; require keywords for most args (#21921)
  scipy/_lib/deprecation.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_multicomp.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Owners: none

Apply suggestions from code review
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

ENH: stats.truncate: truncated random variables (#21752)
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

Complete tests and cleanup
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/sparsetools/csr.h
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

Initial changes to sparsetools, _binopt
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/bsr.h
  scipy/sparse/sparsetools/csc.h
  scipy/sparse/sparsetools/csr.cxx
  scipy/sparse/sparsetools/csr.h
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_sparsetools.py
Owners: @perimosocordiae
