Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

also switch coordinates on the right side of mgrid
  scipy/optimize/_root.py
Owners: @andyfaff

Use real names when loading MATLAB opaque objects.
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/_mio5_utils.pyx
  scipy/io/matlab/tests/classname.m
  scipy/io/matlab/tests/data/testclass_9.4_GLNXA64.mat
  scipy/io/matlab/tests/gen_mat5files.m
  scipy/io/matlab/tests/meson.build
  scipy/io/matlab/tests/test_mio.py
Owners: @rgommers

TST: assert_array_equal -> assert_equal
  scipy/io/tests/test_wavfile.py
Owners: none

TST: Add tests for dtypes for the functions `square` and `sawtooth`
  scipy/signal/tests/test_waveforms.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

ENH: linalg.solve: use langb (#22251)
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

TST: signal: fix symiir tests
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

ENH: io.wavfile: read unseekable files (#22208)
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Owners: none

TST: Mark with `xp` all tests in Array API-compatible modules
  scipy/constants/tests/test_constants.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/ndimage/tests/test_filters.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @peterbell10, @larsoner, @ilayn

TST: dev.py quietly ignores user markers
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_testutils.py
Owners: none

tidy up [skip cirrus] [skip circle]
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

torch fix [skip cirrus] [skip circle]
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

typo [skip cirrus] [skip circle]
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

MAINT: linalg.solve: at least warn when diagonal matrix is exactly singular
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

DOC: linalg.solve: more precise reason for raising LinAlgError
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

TST: signal: fix symiir tests (#22259)
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

Update scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

MAINT: interpolate: simplify complex c handling
  scipy/interpolate/_bsplines.py
Owners: @ev-br

MAINT: interpolate/BSpline: allocate the output in C
  scipy/interpolate/_bsplines.py
  scipy/interpolate/src/_dierckxmodule.cc
Owners: @ev-br

MAINT: stats: reset to main
  scipy/stats/_distn_infrastructure.py
Owners: none

DOC: stats: document a/b attributes of rv_continuous/rv_discrete and show example use of 'support'
  scipy/stats/_distn_infrastructure.py
Owners: none

MAINT: linalg: raise if rcond == 0
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

TST: Make @pytest.mark.usefixtures("skip_xp_backends") redundant
  doc/source/dev/api-dev/array_api.rst
  scipy/cluster/tests/test_hierarchy.py
  scipy/conftest.py
  scipy/fft/tests/test_real_transforms.py
  scipy/stats/tests/test_morestats.py
Owners: @peterbell10

EHN: cluster: JAX support (non-jitted)
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Owners: none

MAINT: solve: pass 'lower' to sycon/hecon
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

Code review
  scipy/conftest.py
Owners: none

switch nx and ny at np.zeros
  scipy/optimize/_root.py
Owners: @andyfaff

Merge pull request #22260 from crusaderky/skip_xp_backends
  doc/source/dev/api-dev/array_api.rst
  scipy/cluster/tests/test_hierarchy.py
  scipy/conftest.py
  scipy/fft/tests/test_real_transforms.py
  scipy/stats/tests/test_morestats.py
Owners: @peterbell10

Apply suggestions from code review
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

MAINT: linalg.solve: raise when diagonal matrix is exactly singular (#22266)
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

Code review
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Owners: @person142, @steppi

ENH: special: JAX support (non-jitted)
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

Merge from main
  scipy/special/tests/test_logsumexp.py
Owners: @person142, @steppi

TST: clean up obsolete Array API fixtures
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/constants/tests/test_constants.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_quadrature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/ndimage/tests/test_splines.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_splines.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_continued_fraction.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @larsoner, @peterbell10, @steppi, @andyfaff, @ilayn, @person142

DOC: optimize.curve_fit: add note about more advanced curve fitting
  doc/source/tutorial/optimize.rst
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

BUG: Add explicit recasts of intermediate arrays in `sawtooth`
  scipy/signal/_waveforms.py
Owners: @larsoner, @ilayn

Draft baseline implementation for ProperRigidTransformations
  mypy.ini
  scipy/spatial/transform/__init__.py
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/meson.build
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

Update scipy/optimize/_minpack_py.py
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

BLD: fix some issues with undeclared internal build dependencies
  scipy/linalg/meson.build
  scipy/spatial/meson.build
Owners: @larsoner, @ilayn, @tylerjereddy, @peterbell10

ENH: special: JAX support (non-jitted) (#22256)
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
