Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @tylerjereddy, @peterbell10, @ilayn, @ev-br, @andyfaff, @perimosocordiae, @person142, @tupui

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
setup.py  @rgommers @larsoner
pavement.py  @tylerjereddy
environment.yml  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/*  @peterbell10
scipy/fftpack/*  @peterbell10
scipy/linalg/*  @larsoner @ilayn
scipy/interpolate/*  @ev-br
scipy/optimize/*  @andyfaff
scipy/signal/*  @larsoner @ilayn
scipy/sparse/*  @perimosocordiae
scipy/spatial/*  @tylerjereddy @peterbell10
scipy/special/*  @person142
scipy/stats/_distn_infrastructure  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns  @andyfaff
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/*sobol*  @tupui

# Testing infrastructure
ci/*  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/*  @larsoner @rgommers
runtests.py  @larsoner
pytest.ini  @larsoner
tox.ini  @larsoner
codecov.yml  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/*  @larsoner
.github/*  @larsoner @andyfaff
azure-pipelines.yml  @larsoner
.travis.yml  @larsoner

STY: stats: PEP8
  scipy/stats/_distr_params.py
Owners: @ev-br

add Parameters, Results and See Also to many functions
  scipy/special/_add_newdocs.py
Owners: @person142

DOC: stats.truncweibull_min: add reference to public documentation
  scipy/stats/_continuous_distns.py
Owners: none

have all ufuncs consistently document out=None optional kwarg
  scipy/special/_add_newdocs.py
Owners: @person142

make linter happy
  scipy/special/_add_newdocs.py
Owners: @person142

MAINT: stats: adjust per self-review in gh-9974
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Owners: @ev-br

DOC: stats: explain the direction of statistic
  scipy/stats/_stats_py.py
Owners: none

default filename updated
  dodo.py
Owners: none

DOC: stats: fix trailing whitespaces
  scipy/stats/_stats_py.py
Owners: none

deleting old version
  updated_cli.py
Owners: none

MAINT: stats: deprecate non-numeric array support in stats.mode (#15573)
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: Truncated weibull (minimum) distribution (#9974)
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_truncweibull_min.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Owners: @ev-br

doc dependency updated
  dodo.py
Owners: none

basename updated
  dodo.py
Owners: none

task dependency updated
  dodo.py
Owners: none

Update scipy/stats/_stats_py.py
  scipy/stats/_stats_py.py
Owners: none

DEV: CircleCI caching for deps, build, doc
  .circleci/config.yml
Owners: @larsoner

DEV: restore doc cache in doc stage
  .circleci/config.yml
Owners: @larsoner

DEV: fix build path for doc
  .circleci/config.yml
Owners: @larsoner

DEV: do not use runtests.py
  .circleci/config.yml
Owners: @larsoner

DEV: restore multiple caches
  .circleci/config.yml
Owners: @larsoner

DEV: drop this commit
  .circleci/config.yml
Owners: @larsoner

DEV: don't rebuild for doc
  .circleci/config.yml
Owners: @larsoner

DEV: try to use dev.py interface [skip azp] [skip actions]
  .circleci/config.yml
Owners: @larsoner

apply suggestions from review to fix doc build
  scipy/special/_add_newdocs.py
Owners: @person142

add missing out parameter to wrightomega
  scipy/special/_add_newdocs.py
Owners: @person142

DEV: remove build cache to use ccache, remove atlas and lapack, bump CI [skip azp] [skip actions]
  .circleci/config.yml
Owners: @larsoner

Apply suggestions from code review
  scipy/stats/_distn_infrastructure.py
Owners: none

DOC: explain statistic calculation sign in ttest functions (#14087)
  scipy/stats/_stats_py.py
Owners: none

DEV: fix workspace [skip azp] [skip actions]
  .circleci/config.yml
Owners: @larsoner
