Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

ENH: _lib/assert_array_* : allow type(desired) == list
  scipy/_lib/_array_api.py
Owners: none

MAINT: signal: make tests pass under torch
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: fix up tests
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

ENH: scipy.signal.window: add array API support
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

tmp: array_api dtypes
  scipy/_lib/_array_api.py
Owners: none

MAINT: signal/windows: add shims for acos/arccos and asarray(..., device=...)
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: fixes for CuPy
  scipy/_lib/_array_api.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

ENH: _lib: fix xp_assert_*(list, list)
  scipy/_lib/_array_api.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: use xp_device; deduplicate docstrings
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: use sinc from array-api-extra
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: skip a test under torch CUDA
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

CI: signal/windows: run array API tests
  .github/workflows/array_api.yml
Owners: @larsoner, @andyfaff

MAINT: signal/windows: address review comments
  scipy/_lib/_array_api.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

BUG: signal/windows: respect the device argument, create arrays on the device
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

ENH: signal: TestVectorstrength array api + its tests
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: fix mypy complaints (#22032)
  scipy/optimize/_isotonic.py
  scipy/stats/tests/test_stats.py
Owners: @andyfaff

MAINT: stats.make_distribution: make help work
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.make_distribution: improve input validation
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

Update scipy/signal/_signaltools.py
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

DOC: stats.make_distribution: improve repr/docs of returned class
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats.make_distribution: refinements
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

STY: stats.make_distribution: fix lint failure
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: stats._continued_fraction: skip dtype test pre NEP 50
  scipy/stats/_continued_fraction.py
  scipy/stats/tests/test_continued_fraction.py
Owners: none

MAINT: `stats.make_distribution`: support more existing distributions (#22040)
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DEV: Perform Py_DECREF on obj to avoid memory leak
  scipy/sparse/linalg/_dsolve/_superlu_utils.c
Owners: @perimosocordiae

MAINT: stats.Uniform: improvements
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

BUG: signal: restore (and test for) array-like list inputs
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: link to a cupy fix
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: signal: mark deconvolve tests cpu-only
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: correlate_nd: use templates not tempita
  scipy/meson.build
  scipy/signal/_correlate_nd.cc
  scipy/signal/_lfilter.cc
  scipy/signal/_sigtools.h
  scipy/signal/meson.build
Owners: @rgommers, @larsoner, @ilayn

MAINT: build _signaltools as C++ not C
  scipy/signal/_correlate_nd.cc.in
  scipy/signal/_firfilter.cc
  scipy/signal/_lfilter.cc.in
  scipy/signal/_medianfilter.cc
  scipy/signal/_sigtoolsmodule.cc
  scipy/signal/meson.build
Owners: @larsoner, @ilayn

MAINT: signal/lfilter: use templates instead of tempita
  scipy/signal/_lfilter.cc
  scipy/signal/meson.build
Owners: @larsoner, @ilayn

MAINT: signal: remove `register` storage in medianfilter.cc
  scipy/signal/_medianfilter.cc
Owners: @larsoner, @ilayn

MAINT: signal: rename _sigtools.h --> _sigtools.hh
  scipy/signal/_correlate_nd.cc
  scipy/signal/_firfilter.cc
  scipy/signal/_lfilter.cc
  scipy/signal/_sigtools.hh
  scipy/signal/_sigtoolsmodule.cc
Owners: @larsoner, @ilayn

ENH: `stats._continued_fraction`: elementwise, Array API compatible continued fraction evaluation (#21557)
  scipy/stats/_continued_fraction.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_continued_fraction.py
Owners: @rgommers

MAINT: raise if no __repr__ override transformed dist subclass
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: remove __str__ from monotonic transform
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Update __repr__ tests for continuous dists
  scipy/stats/tests/test_continuous.py
Owners: none

MAINT: Improved reprs for pow, div, abs
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Add tests the reprs evaluate to correct dist
  scipy/stats/tests/test_continuous.py
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
