Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

ENH: sparse: make two sputils public for easier index array casting (#22043)
  doc/source/reference/sparse.migration_to_sparray.rst
  doc/source/release/1.15.0-notes.rst
  scipy/sparse/__init__.py
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

DOC: PR 22067 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: stats.ContinuousDistribution: improve tutorial
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

REL: 1.15.0rc1 release commit [wheel build]
  pyproject.toml
Owners: @rgommers

MAINT: make `boost_math` a `subproject`
  .github/workflows/macos.yml
  .gitignore
  .gitmodules
  LICENSES_bundled.txt
  meson.build
  scipy/_lib/_boost_utils.py
  scipy/_lib/meson.build
  scipy/special/meson.build
  subprojects/boost_math.wrap
Owners: @larsoner, @andyfaff, @rgommers, @person142, @steppi

BUG: Add headers to fetchers to avoid 403 errors
  scipy/datasets/_fetchers.py
Owners: none

DEP: sparse: remove conjtransp
  scipy/sparse/_dok.py
Owners: @perimosocordiae

DEP: integerate.quad_vec: remove quadrature='trapz'
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
Owners: @steppi

DEP: stats.linregress: remove one arg use
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

DOC: stats.ContinuousDistribution: expand fitting portion of tutorial
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: begin to polish transition guide
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/rv_infrastructure_1.png
  doc/source/tutorial/stats/rv_infrastructure_2.png
  doc/source/tutorial/stats/rv_infrastructure_3.png
Owners: none

DEP: stats: remove support for masked arrays from power_divergence and chisquare
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

STY: fix imports [lint only]
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

Revert "Apply suggestions from code review "
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: stats.ContinuousDistribution: adjustments per review; CI
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

TestFiltFilt.test_complex_coef handles generalized backend testing
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

DEP: stats: remove support for masked arrays from `power_divergence` and `chisquare` (#22079)
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

DEP: stats: remove deprecated trapz distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  tools/refguide_check.py
Owners: @larsoner, @rgommers

REL: set 1.15.0rc2 unreleased
  pyproject.toml
Owners: @rgommers

ndimage wip
  scipy/ndimage/_filters.py
  scipy/ndimage/_fourier.py
  scipy/ndimage/_interpolation.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_morphology.py
Owners: none

MAINT: Add __str__ overrides for new distributions
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

TST: Update str tests since no longer same as repr
  scipy/stats/tests/test_continuous.py
Owners: none

MAINT: Add __str__ overrides for new distributions
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats.ContinuousDistribution: update heading levels
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOCS: stats.ContinuousDistribution: remove rmaining uses of 'params'
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

Update scipy/stats/_distribution_infrastructure.py
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

fixing issues with _generate_pyx.py
  scipy/special/_generate_pyx.py
Owners: @person142, @steppi

MAINT: Add `__str__` overrides for distributions in new infra to fix plot titles (#22081)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

WIP: Fix unchecked memory allocation in aswfa()
  scipy/special/__init__.py
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/ellint_carlson_cpp_lite/ellint_common.hh
  scipy/special/sf_error.cc
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/tests/test_sf_error.py
  scipy/special/xsf/error.h
  scipy/special/xsf/par_cyl.h
  scipy/special/xsf/specfun/specfun.h
  scipy/special/xsf/sphd_wave.h
Owners: @person142, @steppi

ENH: optimize: migrate to use sparray (#22068)
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linear_assignment.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_minimize_constrained.py
Owners: @andyfaff

BUG, DOC: fixup md5 hash reporting
  tools/write_release_and_log.py
Owners: @larsoner, @rgommers

BUG, DOC: fixup md5 hash reporting (#22082)
  tools/write_release_and_log.py
Owners: @larsoner, @rgommers

DOC: Update special release notes
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: More updates to special release notes [docs only]
  doc/source/release/1.15.0-notes.rst
Owners: none

add zoom_maxiter param
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

revert
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

add zoom maxiter kwarg
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

DOC: tweak language about legendre functions [docs only]
  doc/source/release/1.15.0-notes.rst
Owners: none

ENH: optimize.elementwise.find_root: draft secant method
  scipy/optimize/_elementwise.py
Owners: @andyfaff
