Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

Update 1.15.0-notes.rst
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: mention the removal of AccuracyWarning (#22098)
  doc/source/release/1.15.0-notes.rst
Owners: none

TST: optimize: suppress incorrect sparray warning from scikit-sparse (#22089)
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_trustregion_constr/projections.py
Owners: @andyfaff

DEP: update version in deprecation warning of interpnd
  scipy/_lib/deprecation.py
Owners: none

DEP: signal.spline: use standard submodule machinary for deprecation
  scipy/_lib/tests/test_public_api.py
  scipy/signal/spline.py
Owners: @larsoner, @ilayn

DOC: update the roadmap
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: more updates to roadmap
  doc/source/dev/roadmap-detailed.rst
Owners: none

DOC: stats.pearsonr: correct `axis` version reference
  scipy/stats/_stats_py.py
Owners: none

DOC: 1.15.0 release note updates
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: 1.15 release notes: attempt to make TOC link to sections
  doc/source/release/1.15.0-notes.rst
Owners: none

Fix header naming with the SciPy version for the `_fetchers.py`
  scipy/datasets/_fetchers.py
Owners: none

BUG: Add headers to fetchers to avoid 403 errors in scipy/datasets/_download_all.py
  scipy/datasets/_download_all.py
Owners: none

Fix import error of sys in _fetchers.py
  scipy/datasets/_fetchers.py
Owners: none

Fix linting issues in _download_all.py
  scipy/datasets/_download_all.py
Owners: none

CI: Run 'Checkout scipy' and 'Check for skips' only on Github actions CI
  .github/workflows/commit_message.yml
Owners: @larsoner, @andyfaff

Update scipy/datasets/_fetchers.py
  scipy/datasets/_fetchers.py
Owners: none

correct doc description of input [docs only]
  scipy/sparse/_construct.py
Owners: @perimosocordiae

DOC: sparse.linalg: remove broken examples from SuperLU.perm_{r,c}
  scipy/sparse/linalg/_dsolve/_add_newdocs.py
Owners: @perimosocordiae

TST: io.matlab: temp skip failures in io.matlab.Matlab****
  scipy/conftest.py
Owners: none

DOC: sparse: correct eye_array docs for first shape input to fix #22095 (#22106)
  scipy/sparse/_construct.py
Owners: @perimosocordiae

CI: Add comment in 'Check for skips'
  .github/workflows/commit_message.yml
Owners: @larsoner, @andyfaff

DOC: updates per review
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Owners: none

TST: linalg: use infinity norm of matrix when norm='I'
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

DOC: stats: check that doctests from private classes are run in CI
  scipy/stats/_probability_distribution.py
Owners: @ev-br

BUG: datasets: add headers to fetchers to avoid 403 errors (#22076)
  scipy/datasets/_download_all.py
  scipy/datasets/_fetchers.py
Owners: none

TST: linalg: use infinity norm of matrix when norm='I' (#22110)
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  doc/source/release/1.15.0-notes.rst
Owners: none

Update doc/source/release/1.15.0-notes.rst
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: 1.15.0 release note updates (#22104)
  doc/source/release/1.15.0-notes.rst
Owners: none

tests of invalid dtype checking
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

complete dtype checking in constructor
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

fix linting
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

DOC: release notes: ensure TOC links to headings below
  doc/source/release/1.16.0-notes.rst
Owners: none

DOC: roadmap: update future of Fortran
  doc/source/dev/roadmap-detailed.rst
Owners: none

DOC: update the interpolate roadmap
  doc/source/dev/roadmap-detailed.rst
Owners: none

ENH: linalg.eig: support batched input (#21462)
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/tutorial/linalg.rst
  doc/source/tutorial/linalg_batch.md
  scipy/_lib/_util.py
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_decomp.py
Owners: @larsoner, @ilayn

MAINT: signal: rm np.split, use array API primitives instead
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

DOC: Fix incorrect reference to "Random Variable Transition Guide" notebook
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: Fix incorrect reference to "Random Variable Transition Guide" notebook (#22124)
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
