Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

MAINT: lengthen time for correct test this time
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_differentiable_functions.py
Owners: @andyfaff

MAINT: xsf: add `erf`, `faddeeva`, `log_ndtr`
  scipy/special/xsf/erf.h
  scipy/special/xsf/faddeeva.h
  scipy/special/xsf/stats.h
Owners: @person142, @steppi

MAINT: special: wrap `faddeeva`, `erf`, `log_ndtr` from xsf
  scipy/special/Faddeeva.cc
  scipy/special/Faddeeva.hh
  scipy/special/_add_newdocs.py
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

ENH: linalg.block_diag: add batch support (#22166)
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_special_matrices.py
Owners: @larsoner, @ilayn

ENH: linalg.solve: add batch support
  scipy/_lib/_util.py
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.lstsq: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_triangular: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: xsf: add `erf`, `faddeeva`, `log_ndtr`
  scipy/special/xsf/erf.h
  scipy/special/xsf/faddeeva.h
  scipy/special/xsf/stats.h
Owners: @person142, @steppi

MAINT: special: wrap `faddeeva`, `erf`, `log_ndtr` from xsf
  scipy/special/Faddeeva.cc
  scipy/special/Faddeeva.hh
  scipy/special/_add_newdocs.py
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

ENH: linalg.solveh_banded: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: linalg: remove old tests of 3D RHS
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_solve_toeplitz.py
Owners: @larsoner, @ilayn

ENH: linalg.cho_solve: add batch support
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.cho_solve_banded: add batch support
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Use `xp.asarray` instead of `xp.astype`
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

Use shape instead of size property to support pytorch
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

ENH: linalg.solve_toeplitz: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.lu_solve: add batch support
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: xsf: add `exp`, `log` funcs
  scipy/special/xsf/exp.h
  scipy/special/xsf/log.h
Owners: @person142, @steppi

MAINT: special: wrap `exp`, `log` funcs from xsf
  scipy/special/_add_newdocs.py
  scipy/special/_cunity.pxd
  scipy/special/_generate_pyx.py
  scipy/special/_hyp0f1.pxd
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_xlogy.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

BUG: catch invalid linkage count
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Owners: none

ENH: linalg.solve_banded: add batch support
  scipy/_lib/_util.py
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DOC: linalg: update batch tutorial for linear system solvers
  doc/source/tutorial/linalg_batch.md
Owners: none

MAINT: special: wrap `exp`, `log` funcs from xsf
  scipy/special/_add_newdocs.py
  scipy/special/_cunity.pxd
  scipy/special/_generate_pyx.py
  scipy/special/_hyp0f1.pxd
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_xlogy.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

MAINT: xsf: add `exp`, `log` funcs
  scipy/special/xsf/exp.h
  scipy/special/xsf/log.h
Owners: @person142, @steppi

MAINT: linalg: fix uses of solve_ functions with many-dimensional b
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/stats/_covariance.py
Owners: @ev-br, @mdhaber

MAINT: linalg: adjust style and tolerance to address CI failures
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DEP: linalg.solve_toeplitz: warn on n-D c, r
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_solve_toeplitz.py
Owners: @larsoner, @ilayn

MAINT: linalg.matmul_toeplitz: add admonition to documentation; test warning
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_solve_toeplitz.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_matmul_toeplitz.py
Owners: @larsoner, @ilayn

DOC: update release notes
  doc/source/release/1.15.0-notes.rst
Owners: none

DEP: revert changes to interpnd.py and bump version
  scipy/_lib/tests/test_public_api.py
  scipy/interpolate/interpnd.py
Owners: @ev-br

removed scipy module docstring for issue 22163
  scipy/__init__.py
Owners: none

ENH: linalg.cossin: add batch support
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DEP: interpolate: remove incidental imports from private modules dfitpack.py (#22160)
  scipy/_lib/tests/test_public_api.py
  scipy/interpolate/dfitpack.py
  scipy/interpolate/interpnd.py
Owners: @ev-br

ENH: _lib._util._apply_over_batch: add support for variable core dimensionality
  scipy/_lib/_util.py
Owners: none

ENH: linalg.qr_multiply: add batch support
  scipy/linalg/_decomp_qr.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.qr_update: add batch support
  scipy/linalg/_decomp_update.pyx.in
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DOC: basinhopping, clarify when lowest_optimization_result is updated
  scipy/optimize/_basinhopping.py
Owners: @andyfaff

ENH: linalg.qr_insert: add batch support
  scipy/linalg/_decomp_update.pyx.in
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn
