Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

MAINT: remove unused library import missed in PR #22300
  doc/source/conf.py
Owners: @tupui

ENH: allow 1x1 and 0x0 ortho and unitary groups
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Owners: none

ENH: streamline implementation of stats.special_ortho_group
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Owners: none

MAINT, DOC: forward port 1.15.1 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.15.1-notes.rst
Owners: @tupui

ENH: _UnivariateDistribution.plot: adapt to discrete distributions
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

REL, MAINT: prep for 1.15.2
  doc/source/release.rst
  doc/source/release/1.15.2-notes.rst
  pyproject.toml
Owners: @rgommers

MAINT: DiscreteDistribution.i_: fix inverse method edge cases
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

ENH: _ProbabilityDistribution: update considering discrete RVs
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

ENH: Rotation __repr__ uses .from_matrix() (PR feedback)
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

ENH: DiscreteDistribution: adjust edge cases
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats: fix remaining issues per review
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
Owners: none

MAINT: DiscreteDistribution.mode: return integer mode
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

switch from random.seed to random.default_rng
  scipy/stats/tests/test_multivariate.py
Owners: none

divide rather than multiply by determinant
  scipy/stats/_multivariate.py
Owners: none

switch to new rng API
  scipy/stats/tests/test_multivariate.py
Owners: none

DOC: Clarify support behavior in rv_continuous documentation (#22201)
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
Owners: none

MAINT: stats.DiscreteDistribution: avoid NaNs/warnings in entropy and nsum
  scipy/integrate/_tanhsinh.py
  scipy/stats/_distribution_infrastructure.py
Owners: @steppi, @ev-br

Add leading-zeros test for signal.bilinear
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

BUG: signal.bilinear handles complex input
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn

BUG: trim leading zeros in inputs in signal.bilinear
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn

Add test for signal.bilinear for complex input
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

TST: replace pytest.xfail with skip/xfail_xp_backends
  scipy/ndimage/tests/test_measurements.py
  scipy/stats/tests/test_entropy.py
Owners: none

MAINT: stats.DiscreteDistribution: linting/adjustments for CI
  scipy/integrate/tests/test_tanhsinh.py
  scipy/stats/_distribution_infrastructure.py
Owners: @steppi, @ev-br

ENH: stats.special_ortho_group: speed up, allow 1x1 and 0x0 ortho and unitary groups (#22304)
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Owners: none

DOC: stats.DiscreteDistribution: fix doc issues, hopefully
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

More docs
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

docs cleanup
  mypy.ini
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: stats.DiscreteDistribution: additional doc fixes
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

Finish up first pass at docs
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

fix refguide checks
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

MAINT: stats: update transformed distributions for continuous only
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.make_distribution: update for DiscreteDistribution
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.make_distribution: add support for discrete distributions
  scipy/stats/_discrete_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

TST: make test name more explicit
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

TST: compare parallel to serial minimize
  scipy/optimize/tests/test_optimize.py
Owners: @andyfaff

more docs updates
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

ENH: Implement RigidTransformation.as_dualquat()
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

ENH: implement RigidTransformation.from_dualquat()
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: Test RigidTransformation.from/as_dualquat
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

ENH: reuse _compose_quat from _rotation.pyx
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/_rotation.pyx
Owners: @tylerjereddy, @peterbell10

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
