Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

FIX: apply review comments
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

ENH: Add __repr__ method to scipy.spatial.transform.Rotation
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

FIX: apply suggestions from code review
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

FIX: remove unwanted dereferences
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

Normalize rotation matrix input for proper rigid transformations
  scipy/spatial/transform/_properrigidtransformation.pyx
  scipy/spatial/transform/tests/test_properrigidtransformation.py
Owners: @tylerjereddy, @peterbell10

TEST: Use parametrize for tests
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

BLD: Remove run_lcov and rely on ninja for running coverage reports
  .spin/cmds.py
Owners: none

Fixed typo in _short_time_fft.py
  scipy/signal/_short_time_fft.py
Owners: @larsoner, @ilayn

DOC: signal.ShortTimeFFT.nearest_k_p: fix typo (#22295)
  scipy/signal/_short_time_fft.py
Owners: @larsoner, @ilayn

MISC: Remove unused imports
  .spin/cmds.py
Owners: none

TEST: Use assert_equal
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

MAINT: fix url for array-api-extra git submodule
  .gitmodules
Owners: none

BLD: fix some issues with undeclared internal build dependencies
  scipy/linalg/meson.build
  scipy/spatial/meson.build
Owners: @larsoner, @ilayn, @tylerjereddy, @peterbell10

TST: fix thread safety issue in interpolate.bsplines memmap test
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

STY: fix alignment and whitespace
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

DOC: update 1.15.1 relnotes
  doc/source/release/1.15.1-notes.rst
Owners: none

Update reference
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

ENH: Rotation __repr__ uses .from_quat() (PR feedback)
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

Rename ProperRigidTransformation to RigidTransformation
  scipy/spatial/transform/__init__.py
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/meson.build
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

TST: stats.Normal: bump tolerance on test of logcdf (#22276)
  scipy/stats/tests/test_continuous.py
Owners: none

DOC: PR 22296 revisions
  doc/source/release/1.15.1-notes.rst
Owners: none

MAINT: minor refactor
  scipy/linalg/_matfuncs_sqrtm.py
Owners: @larsoner, @ilayn

RigidTransformation docs
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

ENH: linalg.sqrtm: add assume_a option
  scipy/linalg/_matfuncs_sqrtm.py
Owners: @larsoner, @ilayn

TST: test invalid assume_a
  scipy/linalg/tests/test_matfuncs.py
Owners: @larsoner, @ilayn

MAINT: remove end year from copyright
  LICENSE.txt
  doc/source/conf.py
Owners: @tupui

TST: test against general
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_matfuncs.py
Owners: @larsoner, @ilayn

Begin to draft discrete distribution
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

Fix doc build errors
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

REL: 1.15.1 rel commit [wheel build]
  pyproject.toml
Owners: @rgommers

ENH: linalg.sqrtm: add structure detection
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_matfuncs.py
Owners: @larsoner, @ilayn

More RigidTransformation docs
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

BENCH: sparse.csgraph.dijkstra: Skip n=1000
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

BENCH: sparse.csgraph.dijkstra: use data_sampler
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

ENH: stats.DiscreteDistribution: basic functionality for several methods
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

Removed unused import
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

BENCH: sparse.csgraph.dijkstra: add benchmark (#22237)
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

ENH: DiscreteDistribution: make inverse functions *almost* work; need to fix ccdf/logccdf edge cases
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: fix _draw, some edge cases
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
Owners: @ev-br

DOC: stats.DiscreteDistribution: fix examples
  scipy/stats/_probability_distribution.py
Owners: @ev-br
