Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

moved several more functions
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/xsf/erf.h
  scipy/special/xsf/stats.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

MAINT: stats: fix thread-safety issues under free-threaded CPython
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_morestats.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_morestats.py
Owners: none

moved remaining faddeeva functions
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/xsf/stats.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Owners: @person142, @steppi

Moved faddeeva to third_party
  scipy/special/meson.build
  scipy/special/xsf/erf.h
  scipy/special/xsf/third_party/Faddeeva/Faddeeva.cc
  scipy/special/xsf/third_party/Faddeeva/Faddeeva.hh
Owners: @person142, @steppi

Made Faddeeva pure header
  scipy/special/meson.build
  scipy/special/xsf/third_party/Faddeeva/Faddeeva.cc
  scipy/special/xsf/third_party/Faddeeva/Faddeeva.hh
Owners: @person142, @steppi

Added docs
  scipy/special/_add_newdocs.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/xsf/erf.h
  scipy/special/xsf/third_party/Faddeeva/Faddeeva.hh
Owners: @person142, @steppi

MNT Accept ndarray subclasses in interpolate._dierckx
  scipy/interpolate/src/_dierckxmodule.cc
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

lint
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

DEP: special: deprecation warning for `sph_harm` + comments (#22167)
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
  scipy/special/xsf_special.h
Owners: @person142, @steppi

BUG: fix incorrect values in factorial for 0 with uint dtype (#22168)
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

MAINT: stats: fix thread-safety issues under free-threaded CPython
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_morestats.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_morestats.py
Owners: none

CI: use Pythran master to build free-threaded wheels [wheel build]
  tools/wheels/cibw_before_build_linux.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
  tools/wheels/cibw_test_command.sh
Owners: @larsoner, @rgommers

BUG: interpolate: fix missing free-threading support in `_dierckxmodule.cc`
  scipy/interpolate/meson.build
  scipy/interpolate/src/_dierckxmodule.cc
Owners: @ev-br

DOC: PR 22150 revisions [wheel build]
  .mailmap
  doc/source/release/1.15.0-notes.rst
Owners: none

ENH: array types: add `dask.array` support
  .github/workflows/array_api.yml
  dev.py
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_morphology.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @andyfaff, @rgommers, @person142, @steppi

BUG: fixes for Dask
  scipy/cluster/hierarchy.py
  scipy/cluster/vq.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/_morphology.py
  scipy/optimize/_chandrupatla.py
Owners: @steppi, @andyfaff

add some skips [skip ci]
  scipy/ndimage/_support_alternative_backends.py
  scipy/ndimage/tests/test_measurements.py
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

Fixes for fft/special modules (#14)
  scipy/_lib/meson.build
  scipy/fft/tests/test_helper.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Owners: @rgommers, @peterbell10, @person142, @steppi

fix some CI failures
  scipy/ndimage/tests/test_measurements.py
Owners: none

fix array-api-compat install
  scipy/_lib/meson.build
Owners: @rgommers

CI: increase timeout limit in array API job
  .github/workflows/array_api.yml
Owners: @larsoner, @andyfaff

MAINT: improve overflow handling in factorial functions
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

DOC/DEV: mention `scipy-stubs` in building from source guide
  doc/source/building/index.rst
Owners: none

REL: 1.15.0rc2 rel commit [wheel build]
  pyproject.toml
Owners: @rgommers

MAINT: use MapWrapper
  scipy/optimize/_numdiff.py
Owners: @andyfaff

DOC: give example of parallel calc approx_derivative
  scipy/optimize/_numdiff.py
Owners: @andyfaff

DOC/DEV: mention `scipy-stubs` in building from source guide (#22179)
  doc/source/building/index.rst
Owners: none

MAINT: fix default workers argument
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
Owners: @andyfaff

ENH: apply workers kwd to _minimize_lbfgsb
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_optimize.py
Owners: @andyfaff

TST: fix a test
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

REL: set 1.15.0rc3 unreleased
  pyproject.toml
Owners: @rgommers

ENH: games_howell posthoc after welch ANOVA
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/_result_classes.py
  scipy/stats/tests/test_hypotests.py
Owners: none

TST: ndimage: cupy tweaks for inplace out=
  scipy/ndimage/tests/test_morphology.py
Owners: none

TST: speed up some tests
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

TST equal bounds
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_minimize.py
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_optimize.py
Owners: @andyfaff

DOC: amend docstrings
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_optimize.py
Owners: @andyfaff

DOC: interpolate: add a note about rounding rule of the `earest mothod`
  scipy/interpolate/_rgi.py
Owners: @ev-br

TST: mark workers test as slow
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

TST fix import
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

MAINT: remove print, lengthen time
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff
