Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

MAINT: fix repr issues to make them all executable
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: Add `strip_tagged_cells` configuration value
  doc/source/conf.py
Owners: @tupui

DOC: Add "jupyterlite_sphinx_strip" tag
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/sampling.md
Owners: none

Remove now unnecessary repr tests
  scipy/stats/tests/test_continuous.py
Owners: none

MAINT: Fix shifted scaled repr calculation for ndim > 0
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

Tst: Fix test_executable for array case
  scipy/stats/tests/test_continuous.py
Owners: none

make index tools public
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/__init__.py
Owners: @perimosocordiae

update release notes
  doc/source/release/1.15.0-notes.rst
Owners: none

committing changes from lint --fix
  scipy/_lib/decorator.py
  scipy/cluster/hierarchy.py
  scipy/cluster/vq.py
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_interpolate.py
  scipy/io/_harwell_boeing/_fortran_format_parser.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_zeros_py.py
  tools/authors.py
Owners: @ev-br, @andyfaff, @larsoner, @rgommers

MAINT: integrate.tanhsinh: fix regression
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
Owners: @steppi

ENH: BLD: allow building OpenBLAS from source in a SciPy wheel
  .gitignore
  pyproject.toml
  scipy/meson.build
  subprojects/openblas.wrap
Owners: @rgommers

MAINT: noqa imports that appear unused since used in eval [lint only]
  scipy/stats/tests/test_continuous.py
Owners: none

TST: optimize: fix CuPy failure for `bracket_minimum`
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

Add examples to docstring
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

adding first set of linting changes
  scipy/cluster/vq.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/io/_harwell_boeing/_fortran_format_parser.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio5.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_lapack.py
Owners: @ev-br, @larsoner, @ilayn

TST: optimize: fix CuPy failure for `bracket_minimum` (#22046)
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

more lint changes, 50 left
  scipy/optimize/_basinhopping.py
  scipy/optimize/_zeros_py.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_ltisys.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_savitzky_golay.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_bsr.py
  scipy/sparse/_dia.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Owners: @andyfaff, @larsoner, @ilayn, @perimosocordiae

MAINT: make `boost_math` a `subproject`
  .gitignore
  .gitmodules
  LICENSES_bundled.txt
  meson.build
  scipy/_lib/_boost_utils.py
  scipy/_lib/meson.build
  scipy/special/meson.build
  subprojects/boost_math.wrap
Owners: @rgommers, @person142, @steppi

MAINT: `_lib`: add `xp_asarray`
  scipy/_lib/_array_api.py
Owners: none

MAINT: `_lib`: `xp_asarray` clean-up
  scipy/_lib/_array_api.py
Owners: none

use idiom from scipy import sparse
  scipy/sparse/_sputils.py
Owners: @perimosocordiae

TST: integrate.tanhsinh: add test for pair_cache compression bug
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

MAINT: integrate.tanhsinh: fix abscissae/weight compression bug
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
Owners: @steppi

MAINT: convert `constants` and `cluster` to dlpack
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/vq.py
  scipy/constants/_constants.py
Owners: none

MAINT: stats.order_statistic: override `support`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

TST: integrate.tanhsinh: fix abscissae/weight "compression" bug (#22048)
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

DEV: Improve comment for adding Py_DECREF
  scipy/sparse/linalg/_dsolve/_superlu_utils.c
Owners: @perimosocordiae

MAINT: stats.OrderStatisticDistribution: override _update_parameters
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

address review comments
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

Add a note in the docstring of splu and spilu
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

nd _add_dense refactored
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Fix linting failure
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

DEV: Improve linting support in spin
  .spin/cmds.py
Owners: none

fixed syntax error
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Make grammatical changes to the docstring in splu and spilu
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

TEST: Add unicode and check_test_name in lint
  .spin/cmds.py
Owners: none

CI: Test spin lint on CI
  .github/workflows/lint.yml
Owners: @larsoner, @andyfaff

DOC: sparse.linalg: add note about complex matrices to `splu` and `spilu` (#22052)
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

MAINT: stats.wilcoxon: fix attempt to access np.AxisError
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Owners: none

TST: Get rid of unnecessary fingerprint function
  scipy/stats/tests/test_continuous.py
Owners: none
