Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

FIX: scipy.special tests are now running under concurrent loads
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/sf_error_state.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_sf_error.py
Owners: @person142, @steppi

[skip ci] Move utility code towards the end of the file
  .spin/cmds.py
Owners: none

REV: remove special error handling changes
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/sf_error_state.c
Owners: @person142, @steppi

FIX: remove unneeded changes
  scipy/special/sf_error.cc
  scipy/special/sf_error_state.c
Owners: @person142, @steppi

ENH: remove PyMutex from special error handling
  scipy/special/sf_error.cc
Owners: @person142, @steppi

FIX: use threads dependency
  scipy/special/meson.build
Owners: @person142, @steppi

FIX: Try with -lpthread explicitly
  scipy/special/meson.build
Owners: @person142, @steppi

FIX: still register threads to CPython interpreter on special error handling
  scipy/special/sf_error.cc
Owners: @person142, @steppi

FIX: try to remove volatile keyword
  scipy/special/sf_error_state.cpp
Owners: @person142, @steppi

FIX: remove unused C++ mutex
  scipy/special/sf_error_state.cpp
Owners: @person142, @steppi

FIX: scipy.special tests are now running under concurrent loads
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/sf_error_state.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_sf_error.py
Owners: @person142, @steppi

FIX: try again including pthread before Python headers
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/sf_error_state.h
Owners: @person142, @steppi

FIX: include pthread.h on MINGW
  scipy/special/sf_error_state.cpp
Owners: @person142, @steppi

FIX: try to link against pthread in MinGW
  scipy/special/meson.build
Owners: @person142, @steppi

MAINT: free-threading: declare HiGHS, `ndimage._rank_filter_1d` safe (#21961)
  scipy/integrate/tests/_test_multivariate.c
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
  scipy/ndimage/src/_rank_filter_1d.cpp
  scipy/optimize/_highspy/highs_options.cpp
Owners: @steppi, @andyfaff

REV: remove changes from tests
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_round.py
Owners: @person142, @steppi

DOC: stats.goodness_of_fit: clarify distinction between known/fit params
  scipy/stats/_fit.py
Owners: none

BUG: sparse: fix `idx_dtype` when building index arrays in many parts of sparse (#21824)
  scipy/sparse/_compressed.py
  scipy/sparse/_construct.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/tests/test_construct.py
Owners: @perimosocordiae

DEV: Use cache execution mode in conf.py
  doc/source/conf.py
Owners: @tupui

DEV: Added caching logic in convert-notebooks step
  doc/convert_notebooks.py
Owners: none

DEV: Use convert_notebooks.py
  doc/Makefile
Owners: none

MISC: Fix indendation errors
  doc/convert_notebooks.py
Owners: none

MISC: Fix linting issues
  doc/source/conf.py
Owners: @tupui

CI: Update CI to use spin
  .circleci/config.yml
  .github/workflows/array_api.yml
  .github/workflows/circle_artifacts.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/musllinux.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
  .spin/cmds.py
  ci/cirrus_general_ci.yml
Owners: @larsoner, @andyfaff

CI: Fix linting errors
  .spin/cmds.py
Owners: none

CI: Switch to scipy/scipy
  .github/workflows/array_api.yml
  .github/workflows/circle_artifacts.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/musllinux.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

CI: Remove --no-build flag
  .circleci/config.yml
Owners: @larsoner

Change doc to docs
  .circleci/config.yml
Owners: @larsoner

DOC: integrate.tanhsinh: update documentation
  scipy/integrate/_tanhsinh.py
Owners: @steppi

ENH: integrate.tanhsinh: make tanhsinh public
  scipy/integrate/__init__.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/special/tests/test_boost_ufuncs.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_multivariate.py
Owners: @steppi, @person142, @ev-br

MAINT: lint: disable UP031
  tools/lint.toml
Owners: @larsoner, @rgommers

DEV: lint: disable UP031
  tools/lint.toml
Owners: @larsoner, @rgommers

DEV: add `conda-build` to `environment.yml`
  environment.yml
Owners: @rgommers

CI: use stable NumPy for "old build"
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

TST: optimize.elementwise.bracket_root: fix torch test tolerance issue
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

TST: optimize.elementwise.bracket_root: fix torch test tolerance issue (#21976)
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

DOC: Cache jupyter notebooks build (#21433)
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/conf.py
Owners: @tupui

a few more missing xps
  scipy/optimize/_bracket.py
Owners: @andyfaff

convert tests
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

fixes
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff
