Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

BUG: sparse.linalg.norm: fix return type (#22372)
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Owners: @perimosocordiae

Apply suggestions from code review
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Clarify that the Clenshaw-Curtis method handles weighted integrals
  scipy/integrate/_quadpack_py.py
Owners: @steppi

revert NotImplemented return values in dot & others
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

fix doctests and make two recent functions visible
  scipy/sparse/linalg/_dsolve/__init__.py
  scipy/sparse/linalg/_dsolve/linsolve.py
Owners: @perimosocordiae

fix doctest in scipy.sparse.linalg._norm.py
  scipy/sparse/linalg/_norm.py
Owners: @perimosocordiae

lost updates to docstrings in sparse.linalg for sparrays
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_special_sparse_arrays.py
Owners: @perimosocordiae

update refguide
  scipy/sparse/linalg/__init__.py
Owners: @perimosocordiae

TST: enforce unit norm of dual quaternion
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

TST: test orthogonality after normalization
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

DOC: sparse.linalg: sparray updates in doc_strings and Sakurai and MikotaK methods (#22376)
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_special_sparse_arrays.py
Owners: @perimosocordiae

DOC: interpolate.AAA: add may vary to example
  scipy/interpolate/_bary_rational.py
Owners: @ev-br

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Preserve original text and adding to it instead
  scipy/integrate/_quadpack_py.py
Owners: @steppi

TST: from_dual_quat with precision loss
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

BUG: special: Fix unchecked malloc in stirling2.h (#22339)
  scipy/special/stirling2.h
Owners: @person142, @steppi

Extract function
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: Replace link to X in header with link to scientific python forum in header.
  doc/source/conf.py
  doc/source/custom-icons.js
Owners: @tupui

BUG: fix array shape
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

MAINT: vectorize dual quaternion normalization
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

MAINT: special: A bit of clean up in stirling2.h
  scipy/special/stirling2.h
Owners: @person142, @steppi

MAINT: cdef internal function
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: document that we normalize dual quaternions
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

fix capitalization [docs only]
  scipy/sparse/linalg/__init__.py
Owners: @perimosocordiae

Apply suggestions from code review
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Update scipy/integrate/_quadpack_py.py
  scipy/integrate/_quadpack_py.py
Owners: @steppi

argument order
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

DOC: integrate: fix quad documentation to correctly describe QAGS algorithm (#22366)
  scipy/integrate/_quadpack_py.py
Owners: @steppi

Moved file `custom-icons.js` from `doc/source/` into `doc/source/_static` to make it useful.
  doc/source/_static/custom-icons.js
  doc/source/conf.py
Owners: @tupui

TST: stats._continued_fraction: un-skip test
  scipy/stats/tests/test_continued_fraction.py
Owners: none

ENH: linalg: wrap stevd
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/lapack.py
Owners: @larsoner, @ilayn

DOC: Replace link to X in header with link to scientific python forum (#22380)
  doc/source/_static/custom-icons.js
  doc/source/conf.py
Owners: @tupui

MAINT: special: Qualify all cmath functions in stirling2.h with 'std::'.
  scipy/special/stirling2.h
Owners: @person142, @steppi

test fixes (#21)
  scipy/_lib/tests/test__util.py
  scipy/conftest.py
  scipy/integrate/tests/test_cubature.py
  scipy/ndimage/tests/test_filters.py
  scipy/signal/tests/test_windows.py
Owners: @steppi, @larsoner, @ilayn

ENH: Robust implementation of RigidTransformation.from_exp_coords
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
