Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

TST: linalg.orthogonal_procrustes: remove obsolete test
  scipy/linalg/tests/test_procrustes.py
Owners: @larsoner, @ilayn

ENH: modify ScalarFunction for workers
  scipy/_lib/_util.py
  scipy/optimize/_differentiable_functions.py
Owners: @andyfaff

ENH: f_oneway enhancement with equal_var for welch anova
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: linalg: add batch support to several remaining functions (#22147)
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_qz.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_expm_frechet.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_procrustes.py
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_procrustes.py
Owners: @larsoner, @ilayn

ENH: stats.pointbiserialr: add axis, nan_policy, etc. support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
Owners: none

ENH: linalg.clarkson_woodruff_transform: add batch support
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.cho_factor: add batch support
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: stats.kendalltau: add axis, nan_policy, etc. support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: stats.weightedtau: add axis, nan_policy, etc. support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: stats.linregress: add axis, nan_policy, etc. support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Owners: none

fix optimize [skp cirrus]
  scipy/optimize/_zeros_py.py
Owners: @andyfaff

lint [skip cirrus]
  scipy/io/_mmio.py
Owners: none

ENH: stats.theilslopes: add axis, nan_policy, etc. support
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_axis_nan_policy.py
Owners: none

ENH: stats.siegelslopes: add axis, nan_policy, etc. support
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_axis_nan_policy.py
Owners: none

TST: stats.probplot: fix test failure
  scipy/stats/tests/test_morestats.py
Owners: none

STY: style fix in welch anova docstring
  scipy/stats/_stats_py.py
Owners: none

TST: multiprocess worker example
  scipy/_lib/_util.py
  scipy/optimize/tests/test_differentiable_functions.py
Owners: @andyfaff

MAINT: track nfev for parallelised approx_derivative
  scipy/_lib/_util.py
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_differentiable_functions.py
Owners: @andyfaff

MNT Accept ndarray subclasses in interpolate._dierckx
  scipy/interpolate/src/_dierckxmodule.cc
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

lint
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

MAINT: HessWrapper with approx_derivative
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test_differentiable_functions.py
Owners: @andyfaff

MAINT: stats: address CI failures
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
Owners: none

DEP: update version in deprecation warning of interpnd (#22099)
  scipy/_lib/deprecation.py
Owners: none

ENH: linalg.cholesky_banded: add batch support
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DEP: interpolate: remove incidental imports from private modules
  scipy/_lib/tests/test_public_api.py
  scipy/interpolate/dfitpack.py
  scipy/interpolate/interpnd.py
Owners: @ev-br

DOC: fft: move the docstring from fft/_helper.py to fft/_pocketff/helper.py
  scipy/fft/_pocketfft/helper.py
Owners: @peterbell10

ENH: linalg: add batch support for remaining cholesky functions (#22157)
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

FIX: Make scipy.stats continuous/discrete distributions tests to work under concurrent loads
  scipy/stats/_morestats.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Owners: none

FIX: fix remaining tests
  scipy/_lib/_testutils.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_qmc.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Owners: none

DOC, MAINT: Drop `convert_notebooks.py`
  doc/Makefile
  doc/convert_notebooks.py
Owners: none

DOC: Use Markdown notebooks with JupyterLite
  doc/source/tutorial/linalg_batch.md
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/sampling.md
Owners: none

DOC: Add a "Download" button for the notebooks
  doc/source/conf.py
  doc/source/overrides.json
Owners: @tupui

DOC: Use the `NotebookLite` directive instead
  doc/source/tutorial/linalg_batch.md
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/sampling.md
Owners: none

MAINT: Pin jupyterlite-sphinx to >=0.17.1
  doc/source/dev/toolchain.rst
  environment.yml
  pyproject.toml
  requirements/doc.txt
Owners: @rgommers, @tupui

MAINT: stats: fix CI failures and address a few review comments
  scipy/_lib/_testutils.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_resampling.py
Owners: none

TYP: temporarily ignore the `numpy==2.2.1` mypy errors
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Owners: none

DEP: Add deprecation warning for sph_harm
  scipy/special/xsf_special.h
Owners: @person142, @steppi

TYP: temporarily ignore the `numpy==2.2.1` mypy errors (#22162)
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Owners: none

TST: Suppress deprecation warnings in sph_harm tests
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
Owners: @person142, @steppi

DOC: Add deprecation removal version to sph_harm doc
  scipy/special/_special_ufuncs_docs.cpp
Owners: @person142, @steppi

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
