Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

FIX: fix remaining tests
  scipy/_lib/_testutils.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_qmc.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Owners: none

ENH: linalg.expm_cond: add batch support
  scipy/linalg/_expm_frechet.py
  scipy/linalg/tests/meson.build
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

DOC: linalg: inject batch support note automatically
  scipy/_lib/_util.py
  scipy/linalg/_decomp.py
  scipy/linalg/_expm_frechet.py
Owners: @larsoner, @ilayn

ENH: linalg.issymmetric/ishermitian: add batch support
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  doc/source/dev/roadmap-detailed.rst
Owners: none

MAINT: signal: draft xp_pad for oaconvolve
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: linalg: adjustments to address CI failures
  scipy/_lib/_util.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: signa: test oaconvolve on CUDA
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: fft: remove a stray np.asarray call
  scipy/fft/_helper.py
Owners: @peterbell10

align checking for 3D across formats (and test)
  scipy/sparse/_compressed.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_common1d.py
Owners: @perimosocordiae

change test_base name mean->sum in some places
  scipy/sparse/tests/test_base.py
Owners: @perimosocordiae

add docstrings to dot and tensordot
  scipy/sparse/_coo.py
Owners: @perimosocordiae

fix idx_dtype error in broadcast_to
  scipy/sparse/_coo.py
Owners: @perimosocordiae

remove spurious whitespace
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_csr.py
Owners: @perimosocordiae

DOC: update the interpolate roadmap (#22116)
  doc/source/dev/roadmap-detailed.rst
Owners: none

ENH: linalg: add batch support for matrix -> scalar funcs (#22127)
  scipy/_lib/_util.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp.py
  scipy/linalg/_expm_frechet.py
  scipy/linalg/tests/meson.build
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: skip|xfail_xp_backends suppresses reason=
  scipy/conftest.py
Owners: none

TST: ndimage: array API-related cosmetic tweaks in tests
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_morphology.py
Owners: none

_lib: Use `at()` to support JAX (non-jitted)
  .github/workflows/array_api.yml
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @larsoner, @andyfaff, @person142, @steppi

TST: Array API: enforce namespace in tests
  .github/workflows/array_api.yml
  pytest.ini
  scipy/_lib/_array_api.py
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @larsoner, @andyfaff, @ilayn

fix CI failures
  scipy/_lib/_array_api.py
  scipy/signal/tests/test_signaltools.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @larsoner, @ilayn, @person142, @steppi

reason from explicit backends should take precedence on np_only/cpu_only
  scipy/conftest.py
Owners: none

docstring
  scipy/conftest.py
Owners: none

TST: `skip|xfail_xp_backends` disregards `reason=` (#22131)
  scipy/conftest.py
Owners: none

ENH: linalg.diagsvd: add batch support
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Merge pull request #22130 from crusaderky/test_ndimage
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_morphology.py
Owners: none

ENH: linalg.inv: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.null_space: add batch support
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.sqrtm: add batch support
  scipy/linalg/_matfuncs_sqrtm.py
Owners: @larsoner, @ilayn

ENH: linalg.funm: add batch support
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.signm: add batch support
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.fractional_matrix_power: add batch support
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

_lib: Use `at()` to support JAX (non-jitted)
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/special/tests/test_support_alternative_backends.py
Owners: @person142, @steppi

ENH: linalg: add batch support to several functions
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: Rename 'nomem' -> 'memory'.
  scipy/special/_ellip_harm.pxd
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/ellint_carlson_cpp_lite/ellint_common.hh
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/tests/test_sf_error.py
  scipy/special/xsf/error.h
  scipy/special/xsf/par_cyl.h
  scipy/special/xsf/sphd_wave.h
Owners: @person142, @steppi

MAINT: _lib: add missing f string to _deprecate_positional_args
  scipy/_lib/deprecation.py
Owners: none

MAINT: linalg.logm: remove warnings filter from test
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.pinv/pinvh: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.matrix_balance: add batch support
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

fixing typos in doc_strings
  scipy/sparse/_coo.py
Owners: @perimosocordiae

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
