Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

CI: Fix linux_intel_oneAPI job
  .github/workflows/linux_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

CI: Switch from czgdp1807 to scipy
  .github/workflows/linux_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

DOC: add a note on why we need to install Pythran from PyPI
  .github/workflows/linux_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

CI: fix `Intel oneAPI tests` job (#21950)
  .github/workflows/linux_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

TST: stats.rdist: skip failing xslow test
  scipy/stats/tests/test_fit.py
Owners: none

ENH: scipy.sparse tests are now passing under concurrent loads
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/_isolve/tests/test_minres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_norm.py
  scipy/sparse/linalg/tests/test_onenormest.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_dok.py
Owners: @perimosocordiae

MAINT: optimize.elementwise.bracket_root: adjustments for CuPy
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

TST: optimize.bracket_root: adjust test for torch
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

ENH: `optimize.elementwise.bracket_root`: add array API support (#21920)
  .github/workflows/array_api.yml
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @larsoner, @andyfaff

MAINT: mark f2py-generated extension modules as safe to run without GIL
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  tools/generate_f2pymod.py
Owners: @larsoner, @ilayn, @rgommers, @perimosocordiae

TST: additional fixes to ensure test compatibility
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
Owners: @perimosocordiae

TST: use thread_unsafe and not parallel_threads(1)
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_netcdf.py
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_norm.py
  scipy/sparse/linalg/tests/test_onenormest.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_dok.py
Owners: @perimosocordiae

FIX: scipy.spatial tests are running under concurrent loads
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_slerp.py
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

TST: omit index check on test_subsets when seed == 77098 and num_parallel_threads > 1
  scipy/spatial/tests/test_hausdorff.py
Owners: @tylerjereddy, @peterbell10

TST: use thread_unsafe and not parallel_threads(1)
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_netcdf.py
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_slerp.py
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

[skip ci] DEV: Update cmds.py to use keyword arguments for meson compile and meson install
  .spin/cmds.py
Owners: none

TST: stats.rdist: skip failing xslow test (#21953)
  scipy/stats/tests/test_fit.py
Owners: none

First pass
  scipy/optimize/_bracket.py
Owners: @andyfaff

MAINT: free-threading: declare HiGHS, ndimage._rank_filter_1d` safe
  scipy/ndimage/src/_rank_filter_1d.cpp
  scipy/optimize/_highspy/highs_options.cpp
Owners: @andyfaff

[skip ci] DEV: Pass --prefix from SciPy
  .spin/cmds.py
Owners: none

TST: address failing tests
  scipy/conftest.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
Owners: @perimosocordiae

[skip ci] DEV: Re-write build in cmds.py
  .spin/cmds.py
Owners: none

TST: fix test_real_eigs_real_k_subset
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
Owners: @perimosocordiae

[skip ci] DEV: Re-write test in cmds.py
  .spin/cmds.py
Owners: none

[skip ci] DEV: Re-write shell in cmds.py
  .spin/cmds.py
Owners: none

[skip ci] DEV: Re-write ipython in cmds.py
  .spin/cmds.py
Owners: none

[skip ci] DEV: Re-write python in cmds.py
  .spin/cmds.py
Owners: none

[skip ci] DEV: Re-write docs in cmds.py
  .spin/cmds.py
Owners: none

[skip ci] DEV: Re-write smoke_docs in cmds.py
  .spin/cmds.py
Owners: none

MAINT: two more stragglers that need to declare support
  scipy/integrate/tests/_test_multivariate.c
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
Owners: @steppi

MAINT: stats.wilcoxon: improve documentation and tests (#21867)
  scipy/stats/_morestats.py
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Owners: none

[skip ci] DEV: Update smoke_tutorials
  .spin/cmds.py
Owners: none

[skip ci] DEV: Do not update kwargs directly in build
  .spin/cmds.py
Owners: none

DOC: add docs on parallel execution and thread safety
  doc/source/tutorial/index.rst
  doc/source/tutorial/parallel_execution.rst
  doc/source/tutorial/thread_safety.rst
  scipy/cluster/hierarchy.py
Owners: none

[skip ci] DEV: Do not update kwargs directly in test
  .spin/cmds.py
Owners: none

[skip ci] DEV: Do not update kwargs directly in docs
  .spin/cmds.py
Owners: none

[skip ci] DEV: Do not update kwargs directly in smoke-docs
  .spin/cmds.py
Owners: none

TST: optimize: slight tolerance bump for a dual-annealing test
  scipy/optimize/tests/test__dual_annealing.py
Owners: @andyfaff

[skip ci] DEV: Remove rich imports from cmds.py
  .spin/cmds.py
Owners: none

TST: replace thread_unsafe by parallel_threads(1)
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_sf_error.py
Owners: @person142, @steppi
