Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

TST: Test conversion of pure translation dualquats
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

TST: test multiple dualquats
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

DOC: Document from_expcoords
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: examples of how to use dualquat/expcoords
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

Docs cleanup
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

more docs cleanup
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

WIP TST: Array API: wrap namespaces centrally
  scipy/_lib/_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_splines.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Owners: @peterbell10, @steppi, @andyfaff, @larsoner, @ilayn, @person142

Docs fixes
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

Apply suggestions from code review [skip ci]
  .github/workflows/array_api.yml
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
Owners: @larsoner, @andyfaff

address review [skip ci]
  scipy/ndimage/tests/test_filters.py
Owners: none

address review [skip ci]
  scipy/cluster/tests/test_vq.py
Owners: none

FIX: apply last set of suggestions
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

build errors
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

fix indentation
  scipy/stats/tests/test_entropy.py
Owners: none

fix
  scipy/stats/tests/test_entropy.py
Owners: none

BUG: immortalize uarray global strings in order to prevent negative refcounts (#22038)
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

TST: replace `pytest.xfail` with `skip/xfail_xp_backends` (#22311)
  scipy/ndimage/tests/test_measurements.py
  scipy/stats/tests/test_entropy.py
Owners: none

MAINT: stats.Mixture: make return type consistent
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DOC: stats.DiscreteDistribution: improve doc rendering
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @ev-br

Fix regressions
  scipy/_lib/tests/test_array_api.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
Owners: @peterbell10

Update scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_stats.py
Owners: none

Fix np1
  scipy/ndimage/tests/test_interpolation.py
Owners: none

cosmetic
  scipy/ndimage/tests/test_interpolation.py
Owners: none

ENH: io: add invalid field name warning for `savemat`
  scipy/io/matlab/__init__.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/_miobase.py
  scipy/io/matlab/tests/test_mio.py
Owners: none

lint
  scipy/stats/tests/test_entropy.py
Owners: none

ENH: io: fix doc string typo
  scipy/io/matlab/__init__.py
Owners: none

ENH: io: fix lint CI error
  scipy/io/matlab/_mio5.py
Owners: none

ENH: io: fix lint CI error
  scipy/io/matlab/_mio5.py
Owners: none

Rework of `signal.blinear` function.
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

fix
  scipy/_lib/tests/test__util.py
Owners: none

TST: `_lib`: run tests with `@jax.jit`
  doc/source/dev/api-dev/array_api.rst
  mypy.ini
  scipy/_lib/_lazy_testing.py
  scipy/_lib/meson.build
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_lazy_testing.py
  scipy/conftest.py
Owners: @rgommers

code review
  scipy/_lib/tests/test__util.py
Owners: none

Update scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_interpolation.py
Owners: none

FIXME skip check in torch
  scipy/differentiate/tests/test_differentiate.py
Owners: none

TST: array types: wrap namespaces centrally (#22320)
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_splines.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Owners: @peterbell10, @steppi, @andyfaff, @larsoner, @ilayn, @person142

Fix all uses of unchecked allocations in specfun.h
  scipy/special/_specfun.pyx
  scipy/special/_special_ufuncs.cpp
  scipy/special/xsf/mathieu.h
  scipy/special/xsf/specfun/specfun.h
  scipy/special/xsf/sphd_wave.h
Owners: @person142, @steppi

Fix aswfa() in specfunc.h
  scipy/special/xsf/specfun/specfun.h
Owners: @person142, @steppi

Fix refguide check.
  scipy/special/_ufuncs_extra_code.pxi
Owners: @person142, @steppi

Add comment about the return value when nonconvergence is detected in rmn2l.
  scipy/special/xsf/specfun/specfun.h
Owners: @person142, @steppi

TODO
  scipy/_lib/tests/test__util.py
Owners: none
