Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

ENH: `_lib`: deobfuscate `jax.jit` crash in `_asarray`
  scipy/_lib/_array_api.py
Owners: none

ENH: signal: TestVectorstrength array api + its tests
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: signal: convert test_splines.py
  scipy/signal/_delegators.py
  scipy/signal/_spline_filters.py
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

TST: signal: convert test_bsplines.py
  scipy/signal/_spline_filters.py
  scipy/signal/tests/test_bsplines.py
Owners: @larsoner, @ilayn

MAINT: signal: make symiirorder{1,2} tests pass on CuPY
  scipy/signal/_delegators.py
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

TST: signal: make sure tests pass with SCIPY_DEVICE=cuda
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

ENH: io.mmreaf: throw `FileNotFoundError` exception when the source file does not exist (#22215)
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/tests/test_mmio.py
Owners: none

MAINT: stats: avoid unintended use of array methods
  scipy/stats/_continued_fraction.py
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: linalg.leslie: use _apply_over_batch
  scipy/linalg/_special_matrices.py
Owners: @larsoner, @ilayn

ENH: special/stats: implement xp-compatible stdtrit and use in stats
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: @person142, @steppi

TST: fix failing tests
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: @person142, @steppi

appease the linter
  scipy/signal/_spline_filters.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_splines.py
Owners: @larsoner, @ilayn

Update LICENSE.txt, fix license year
  LICENSE.txt
Owners: none

Update LICENSE.txt, fix license year (#22223)
  LICENSE.txt
Owners: none

MAINT: special: avoid circular import
  scipy/special/_support_alternative_backends.py
Owners: @person142, @steppi

ENH: `special`/`stats`: implement xp-compatible `stdtrit` and use in `stats` (#22222)
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: @person142, @steppi

TST: signal/upfirdn: parametrize instead of a loop
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

DOC: differentiate.jacobian: correct/improve documentation about callable interface
  scipy/differentiate/_differentiate.py
Owners: none

MAINT: Apply suggestions from code review
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_least_squares.py
Owners: @andyfaff

Update scipy/differentiate/_differentiate.py
  scipy/differentiate/_differentiate.py
Owners: none

MAINT: signal/upfirdn: array API testing
  scipy/signal/_upfirdn.py
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

TST: linalg: add missing lower arguments in test_sy_hetrs
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

ENH: linalg: wrap ?systri
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

ENH: linalg: wrap ?hetri
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

TST: linalg: add missing lower arguments in test_sy_hetrs (#22227)
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

lint
  scipy/optimize/tests/test_least_squares.py
Owners: @andyfaff

MAINT: update lda definition
  scipy/linalg/flapack_sym_herm.pyf.src
Owners: @larsoner, @ilayn

ENH: cluster: remove unnecessary namespace changes
  scipy/cluster/vq.py
Owners: none

DEP: linalg.solve_toeplitz/matmul_toeplitz: warn on n-D `c`, `r` (#22193)
  doc/source/release/1.15.0-notes.rst
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_solve_toeplitz.py
Owners: @larsoner, @ilayn

DOC: differentiate.jacobian: correct/improve documentation about callable interface
  scipy/differentiate/_differentiate.py
Owners: none

Update scipy/differentiate/_differentiate.py
  scipy/differentiate/_differentiate.py
Owners: none

DOC: Update 1.15.0 relnotes
  doc/source/release/1.15.0-notes.rst
Owners: none

ENH: read unseekable files in scipy.io.wavfile.
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Owners: none

MAINT: use _call_callback_maybe_halt
  scipy/optimize/_lsq/dogbox.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/trf.py
Owners: @andyfaff

TST: itertools.product
  scipy/optimize/tests/test_least_squares.py
Owners: @andyfaff

TST: fix test
  scipy/optimize/_lsq/dogbox.py
  scipy/optimize/_lsq/trf.py
  scipy/optimize/tests/test_least_squares.py
Owners: @andyfaff

REL: 1.15.0 "final" rel commit [wheel build]
  pyproject.toml
Owners: @rgommers

ENH: add xp_default_dtype helper
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
Owners: none

TST: signal: fix f32/f64 dtype selection
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: make torch default dtype configurable
  .github/workflows/array_api.yml
  scipy/conftest.py
Owners: @larsoner, @andyfaff
