Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

try to appease mypy
  mypy.ini
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_qhull.py
Owners: @ev-br, @tylerjereddy, @peterbell10

try again
  mypy.ini
Owners: none

and again!
  mypy.ini
  scipy/spatial/__init__.py
  scipy/spatial/_kdtree.py
Owners: @tylerjereddy, @peterbell10

first set of changes
  benchmarks/benchmarks/common.py
  benchmarks/benchmarks/interpolate.py
  benchmarks/benchmarks/io_matlab.py
  benchmarks/benchmarks/optimize.py
  doc/source/tutorial/examples/signal_SpectralAnalysis_MagnitudeSpectrum_Hann_3x.py
  scipy/_build_utils/tempita/_looper.py
  scipy/_build_utils/tempita/_tempita.py
Owners: none

TST: ignore scipy.misc DeprecationWarning during testing
  pytest.ini
Owners: @larsoner

MAINT: remove misc from scipy.__init__
  scipy/__init__.py
Owners: none

second set of changes,
  scipy/_lib/_docscrape.py
  scipy/_lib/decorator.py
  scipy/cluster/hierarchy.py
  scipy/cluster/vq.py
  scipy/constants/tests/test_codata.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/fftpack/tests/gen_fftw_ref.py
  scipy/fftpack/tests/test_basic.py
  scipy/fftpack/tests/test_real_transforms.py
  scipy/integrate/_quadrature.py
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_interpolate.py
Owners: @peterbell10, @steppi, @ev-br

change method names to methods
  scipy/_lib/tests/test__util.py
Owners: none

DOC: integrate.tanhsinh: fix reference format; Examples heading
  scipy/integrate/_tanhsinh.py
Owners: @steppi

DOC: integrate.tanhsinh: remove reference to quadrature, _RichResult
  scipy/integrate/_tanhsinh.py
Owners: @steppi

TST: modify cython build test
  scipy/linalg/tests/_cython_examples/extending.pyx
Owners: @larsoner, @ilayn

BUG: linalg: fix cython import order
  scipy/linalg/__init__.pxd
  scipy/linalg/meson.build
  scipy/meson.build
Owners: @larsoner, @ilayn, @rgommers

MAINT: purge `from __future__ import annotations` (#21981)
  mypy.ini
  scipy/_lib/_array_api.py
  scipy/_lib/_array_api_no_0d.py
  scipy/_lib/_util.py
  scipy/constants/_codata.py
  scipy/constants/_constants.py
  scipy/integrate/_cubature.py
  scipy/integrate/_quadrature.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/ndimage/tests/__init__.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_isotonic.py
  scipy/optimize/_trustregion_constr/report.py
  scipy/signal/_short_time_fft.py
  scipy/spatial/__init__.py
  scipy/spatial/_ckdtree.pyi
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/_kdtree.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/distance.pyi
  scipy/spatial/meson.build
  scipy/spatial/tests/test_qhull.py
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/meson.build
  scipy/special/_orthogonal.pyi
  scipy/special/tests/test_cython_special.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_multicomp.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_survival.py
  scipy/stats/_unuran/unuran_wrapper.pyi
  tools/check_test_name.py
Owners: @steppi, @ev-br, @andyfaff, @larsoner, @ilayn, @tylerjereddy, @peterbell10, @person142, @tupui, @mdhaber, @rgommers

deal with optimize and special too
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/__init__.pxd
  scipy/optimize/meson.build
  scipy/special/__init__.pxd
  scipy/special/meson.build
Owners: @larsoner, @ilayn, @rgommers, @andyfaff, @person142, @steppi

add missing python_sources
  scipy/optimize/meson.build
  scipy/special/meson.build
Owners: @andyfaff, @person142, @steppi

Update scipy/signal/_signaltools.py
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

ENH: signal: Compute envelope of a real- or complex-valued signal (#20097)
  scipy/signal/__init__.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

CI: remove setting macOS 10.9 for SDK and deployment target
  .github/workflows/macos.yml
Owners: @larsoner, @andyfaff

CI: Install lcov
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

DEV: Improvise checking of compilers and GCOV
  dev.py
Owners: @rgommers

[skip ci] DEV: Remove GCOV flag
  scipy/__config__.py.in
  scipy/meson.build
Owners: @rgommers

MISC: Fix linting errors
  dev.py
Owners: @rgommers

[skip ci] MISC: Grammar correction
  dev.py
Owners: @rgommers

DEV: Execute lcov to capture coverage if tests succeed
  dev.py
Owners: @rgommers

Bug fix related to path
  dev.py
Owners: @rgommers

DEV: Use GCOV flag to decide whether to run LCOV
  dev.py
  scipy/__config__.py.in
  scipy/meson.build
Owners: @rgommers

CI: remove setting macOS 10.9 for SDK and deployment target (#21990)
  .github/workflows/macos.yml
Owners: @larsoner, @andyfaff

STY: some minor tweaks to print statements
  dev.py
Owners: @rgommers

BUG: linalg: fix cython import order (#21983)
  scipy/linalg/__init__.pxd
  scipy/linalg/meson.build
  scipy/linalg/tests/_cython_examples/extending.pyx
  scipy/meson.build
  scipy/optimize/__init__.pxd
  scipy/optimize/meson.build
  scipy/special/__init__.pxd
  scipy/special/meson.build
Owners: @larsoner, @ilayn, @rgommers, @andyfaff, @person142, @steppi

TST: add more thorough SPEC 7 tests (#21948)
  scipy/_lib/tests/test__util.py
  scipy/sparse/_construct.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
Owners: @perimosocordiae, @tupui, @mdhaber

FIX: address review comments
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
Owners: @perimosocordiae

FIX: use a global-scoped lock when compiling under MINGW
  scipy/special/sf_error_state.cpp
Owners: @person142, @steppi

FIX: check for __MINGW64__
  scipy/special/sf_error_state.cpp
  scipy/special/sf_error_state.h
Owners: @person142, @steppi

FIX: remove pthreads dependency
  scipy/special/meson.build
Owners: @person142, @steppi

FIX: purge PyMutex
  scipy/special/sf_error.cc
Owners: @person142, @steppi

MAINT: stats.chi2_contingency: make 'method' keyword-only
  scipy/stats/contingency.py
Owners: none

MAINT: stats.chi2_contingency: append / concatenate rather than += / asarray
  scipy/stats/contingency.py
Owners: none

MAINT: stats.MonotonicTransformedDistribution: rename class and update documentation
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

third set of changes!
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/io/_harwell_boeing/_fortran_format_parser.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_idl.py
  scipy/io/_mmio.py
  scipy/io/_netcdf.py
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Owners: @ev-br

MAINT: remove unused variable
  scipy/stats/contingency.py
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
