Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

BUG: fixes for Dask
  scipy/cluster/hierarchy.py
  scipy/cluster/vq.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/_support_alternative_backends.py
  scipy/optimize/_chandrupatla.py
Owners: @steppi, @andyfaff

add some skips [skip ci]
  scipy/ndimage/_support_alternative_backends.py
  scipy/ndimage/tests/test_measurements.py
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

CI: increase timeout limit in array API job
  .github/workflows/array_api.yml
Owners: @larsoner, @andyfaff

Fixes for fft/special modules (#14)
  scipy/_lib/meson.build
  scipy/fft/tests/test_helper.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Owners: @rgommers, @peterbell10, @person142, @steppi

fix array-api-compat install
  scipy/_lib/meson.build
Owners: @rgommers

fix some CI failures
  scipy/ndimage/tests/test_measurements.py
Owners: none

dont call xp.asarray on object array
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

fix most torch failures
  scipy/optimize/_bracket.py
Owners: @andyfaff

BUG: integrate: add locks to lsoda, vode, zvode
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/_ode.py
  scipy/integrate/tests/test_integrate.py
Owners: @steppi

fix test_flags
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

MAINT: replace `xp_create_diagonal` with `xpx`
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/optimize/_optimize.py
Owners: @andyfaff

TST: sparse.linalg: tweak rtol for flaky `expm_multiply` test
  scipy/sparse/linalg/tests/test_expm_multiply.py
Owners: @perimosocordiae

fix final test
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

add to array api ci job
  .github/workflows/array_api.yml
Owners: @larsoner, @andyfaff

line length
  scipy/optimize/_bracket.py
Owners: @andyfaff

MAINT: stats.qmc: transition to rng (SPEC 7)
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Owners: @tupui

ENH: ndimage: add axes support to most morphology functions (#21549)
  scipy/ndimage/_delegators.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_morphology.py
Owners: none

Remove input dimension squeeze, and specific relevant test.
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

Address upstream conflicts (will need a second commit to standardize all of the RandomStates that were missed by the other author).
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

Update the remaining seeds that were missed.
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

MAINT: integrate.nsum: adjustments for PyTorch
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

ENH: integrate.nsum: add array API standard support
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

DOC: integrate.nsum: update docstring
  scipy/integrate/_tanhsinh.py
Owners: @steppi

DOC: stats.qmc.LatinHypercube: dedent docstring
  scipy/stats/_qmc.py
Owners: @tupui

Apply suggestions from code review
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

Update scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

DOC: add Array API Standard support admonition
  doc/source/_static/scipy.css
  doc/source/conf.py
  scipy/differentiate/__init__.py
  scipy/optimize/elementwise.py
  scipy/stats/_stats_py.py
Owners: @tupui, @andyfaff

STY: conf.py: avoid UP031 / percent format
  doc/source/conf.py
Owners: @tupui

TST: linalg.blas: fix test concurrency, mark `*ger` as unsafe
  scipy/linalg/tests/test_blas.py
Owners: @larsoner, @ilayn

DOC: try to adjust color palette; add link to documentation
  doc/source/_static/scipy.css
  doc/source/conf.py
Owners: @tupui

TST: linalg: do not call np.asarray_chkfinite(np.empty((3, 1, 1))
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

FIX: use uarray static strings to prevent negative destructor refcounts
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

FIX: Do not use py_ref instances for global uarray variables
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Owners: none

TST: linalg: do not call np.asarray_chkfinite(np.empty((3, 1, 1)) (#21938)
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

MAINT: linalg: link to npymath in _umath_linalg (fp error handling)
  scipy/linalg/_umath_linalg.cpp
  scipy/linalg/meson.build
Owners: @larsoner, @ilayn

MAINT: linalg: move BLAS/LAPACK prototypes closer together
  scipy/linalg/_umath_linalg.cpp
Owners: @larsoner, @ilayn

ENH: linalg: add linalg gufunc infrastructure
  scipy/linalg/_basic.py
  scipy/linalg/_misc.py
  scipy/linalg/_umath_linalg.cpp
  scipy/linalg/meson.build
Owners: @larsoner, @ilayn

MAINT: linalg: add a basic batched inv test
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Owners: @larsoner, @ilayn

filtfilt - add support for complex signals
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

Apply suggestions from code review
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff
