Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

MAINT: improve test of inverse gamma
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.log: add logarithm of random variable
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.MonotonicTransformedDistribution: add __str__ / __repr__
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

merge conflicts and change name of safely_cast function
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

move description of safely_cast to its PR [docs only]
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

add remark in migration guide to sparray about these io functions.
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

CI: Update PYTHONPATH in circleci
  .circleci/config.yml
Owners: @larsoner

DEV: Copy f_A, f_B, f_AB from func to preserve inputs
  scipy/stats/_sensitivity_analysis.py
Owners: @tupui

TEST: Added regression test
  scipy/stats/tests/test_sensitivity_analysis.py
Owners: none

DEV: Bug fixes in lcov calling implementation
  dev.py
Owners: @rgommers

CI: Install lcov from Ubuntu
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

DEV: Unhide toctree in scipy.cluster with maxdepth=1
  scipy/cluster/__init__.py
Owners: none

Add warning functionality
  scipy/optimize/_nonlin.py
Owners: @andyfaff

BLD: Remove ld_classic usage on macOS
  meson.build
Owners: @rgommers

BUG: `optimize.curve_fit`: fix sigma dimension issue with `nan_policy="omit"` (#21918)
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

MAINT: stats.ContinuousDistribution: address self-review
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DEV: call `lcov` to generate coverage reports for C, C++ and Fortran codes. (#21919)
  .github/workflows/linux.yml
  dev.py
Owners: @larsoner, @andyfaff, @rgommers

FIX: address review comments
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

MAINT: stats.ContinuousDistribution: fix for RVs with negative support
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: sparse: ensure thread-safety (#21954)
  scipy/conftest.py
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/_isolve/tests/test_minres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_norm.py
  scipy/sparse/linalg/tests/test_onenormest.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_dok.py
Owners: @perimosocordiae

MAINT: special: add comment about when `errstate_lock` can be removed
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

ENH: special: ensure tests are thread-safety (#21965)
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_sf_error.py
Owners: @person142, @steppi

MAINT: stats.ContinuousDistribution: implement __rpow__
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: `stats.chi2_contingency`: add `method` parameter (#20989)
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_contingency.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Owners: @mdhaber

ENH: stats.fisher_exact: extend to R x C tables
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_stats.py
Owners: none

DEV: Workaround for dlopen path issue
  .github/workflows/macos.yml
  .spin/cmds.py
Owners: @larsoner, @andyfaff

Fix linting errors
  .spin/cmds.py
  scipy/interpolate/tests/test_fitpack2.py
  scipy/special/tests/test_nan_inputs.py
Owners: @ev-br, @person142, @steppi

CI: Switch to main branch of spin
  .circleci/config.yml
  .github/workflows/array_api.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/musllinux.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
  ci/cirrus_general_ci.yml
Owners: @larsoner, @andyfaff

MAINT: Use Jupytext API instead of calling CLI
  doc/convert_notebooks.py
Owners: none

MAINT: use `st_mtime` for tracking modifications
  doc/convert_notebooks.py
Owners: none

Update the warning string
  scipy/optimize/_nonlin.py
Owners: @andyfaff

DEV: Port support for lcov to cmds.py
  .spin/cmds.py
Owners: none

DOC: stats.fisher_exact: documentation improvements
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
Owners: none

MAINT: io: migration to use sparray in IO (#21905)
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_harwell_boeing/tests/test_hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/_mio4.py
  scipy/io/matlab/_mio5_utils.pyx
  scipy/io/matlab/tests/test_mio.py
  scipy/io/matlab/tests/test_miobase.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_paths.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

Update scipy/stats/_qmc.py
  scipy/stats/_qmc.py
Owners: @tupui

BUG: special: fix array index out of bound for `pro_rad2` (#21797)
  scipy/special/tests/test_specfun.py
  scipy/special/xsf/specfun/specfun.h
Owners: @person142, @steppi

MAINT: stats.OrderStatisticDistribution: fix logpdf edge case
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats: remove leftover "all" from previous phrasing
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

fourth set of changes, 113 left
  scipy/io/matlab/tests/test_mio.py
  scipy/io/matlab/tests/test_mio_funcs.py
  scipy/io/tests/test_mmio.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_solvers.py
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_special_matrices.py
  scipy/optimize/_basinhopping.py
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_constraints.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_nonlin.py
  scipy/optimize/_optimize.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/_spectral.py
  scipy/optimize/_trustregion.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_minpack.py
Owners: @larsoner, @ilayn, @andyfaff

typo in ref-name [docs only]
  doc/source/reference/sparse.migration_to_sparray.rst
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
