Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

TST: bump tolerance on TestHyp2f1.test_region3[hyp2f1_test_case23]
  scipy/special/tests/test_hyp2f1.py
Owners: @person142, @steppi

BUG: signal.bilinear handles complex input, and strips leading zeros (#22313)
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Owners: @larsoner, @ilayn

BUG: io: using deprecation error instead of throwing exception
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

TST: bump tolerance on TestHyp2f1.test_region3[hyp2f1_test_case23] (#22364)
  scipy/special/tests/test_hyp2f1.py
Owners: @person142, @steppi

Update scipy/io/_mmio.py
  scipy/io/_mmio.py
Owners: none

Update scipy/io/tests/test_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

Update scipy/io/_mmio.py
  scipy/io/_mmio.py
Owners: none

Update scipy/io/_mmio.py
  scipy/io/_mmio.py
Owners: none

Update scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_fast_matrix_market/__init__.py
Owners: none

Update scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_fast_matrix_market/__init__.py
Owners: none

reshuffle method order
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

rename methods
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

Exact check for last row of transformation matrix
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

rename doc variables t -> tf, d -> t
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

DOC: Fix quad documentation to correctly describe QAGS algorithm
  scipy/integrate/_quadpack_py.py
Owners: @steppi

undo tempita changes [skip ci]
  scipy/_build_utils/tempita/_looper.py
  scipy/_build_utils/tempita/_tempita.py
Owners: none

undo docscrape change [skip ci]
  scipy/_lib/_docscrape.py
Owners: none

Update scipy/stats/tests/test_rank.py
  scipy/stats/tests/test_rank.py
Owners: none

Update scipy/io/_mmio.py
  scipy/io/_mmio.py
Owners: none

BUG: io: Add integer check for precision argument
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

MAINT: signal: remove unused _timeit_fast
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: removed unused import
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

More tests
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

add test for reshape having wrong dtype
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

ENH: normalize dual quaternions
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

[skip ci]
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

[skip ci]
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

[skip ci]
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

MAINT: extract dual quaternion operations
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

[skip ci]
  scipy/optimize/_zeros_py.py
Owners: @andyfaff

[skip ci]
  scipy/optimize/_zeros_py.py
Owners: @andyfaff

[skip ci]
  scipy/linalg/_decomp_cholesky.py
Owners: @larsoner, @ilayn

[skip ci]
  scipy/linalg/_decomp_cholesky.py
Owners: @larsoner, @ilayn

[skip ci]
  scipy/linalg/_decomp_cholesky.py
Owners: @larsoner, @ilayn

[skip ci]
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

test that smaller dtype is maintained even if intermediate values are big
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

ENH: stats.make_distribution: allow definition of custom distributions
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

Add test for and fix return type of scipy.sparse.linalg.norm
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Owners: @perimosocordiae

RigidTransformation.*_rot_trans renamed to *_components
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

Input validation for from_rotation
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10
