Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

FIX: scipy.signal tests are passing under concurrent loads
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_czt.py
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
  scipy/signal/tests/test_ltisys.py
  scipy/signal/tests/test_peak_finding.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

FIX: prevent overlapping aaccess to BSpline knots when calling derivative concurrently
  scipy/interpolate/_bsplines.py
Owners: @ev-br

FIX: Use per-thread random generator in fft tests
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
Owners: @peterbell10

FIX: address review comments
  .github/workflows/linux.yml
  scipy/optimize/tests/test__basinhopping.py
Owners: @larsoner, @andyfaff

TST: fix other tests that use pytest.warns
  scipy/optimize/tests/test_quadratic_assignment.py
Owners: @andyfaff

FIX: scipy.linalg tests are now running under concurrent loads
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_blas.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_ldl.py
  scipy/linalg/tests/test_decomp_update.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_matfuncs.py
Owners: @larsoner, @ilayn

CI: Reduce number of parallel workers
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

TST: Mark bspline tests that check for warnings as single-threaded
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

STY: Address style issues
  scipy/_lib/_uarray/_backend.py
  scipy/_lib/tests/test_deprecation.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/fft/tests/test_backend.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/interpolate/tests/test_rbf.py
  scipy/linalg/tests/test_blas.py
Owners: @peterbell10, @steppi, @ev-br, @larsoner, @ilayn

FIX: scipy.interpolate and parts of interpolate are passing under thread-stress
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/_odepack_py.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_banded_ode_solvers.py
  scipy/integrate/tests/test_bvp.py
  scipy/integrate/tests/test_integrate.py
  scipy/integrate/tests/test_quadrature.py
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/tests/test_bary_rational.py
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_fitpack2.py
Owners: @steppi, @ev-br

FIX: scipy.fft tests are now passing using multiple threads
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fftpack/_pseudo_diffs.py
  scipy/fftpack/tests/test_basic.py
  scipy/fftpack/tests/test_pseudo_diffs.py
  scipy/fftpack/tests/test_real_transforms.py
Owners: @peterbell10

ENH: Define parallel_threads marker stub in case pytest-run-parallel is not available
  scipy/conftest.py
Owners: none

FIX: scipy.optimize tests are now passing under concurrency
  scipy/optimize/tests/test__basinhopping.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__dual_annealing.py
  scipy/optimize/tests/test__root.py
  scipy/optimize/tests/test__shgo.py
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_cobyqa.py
  scipy/optimize/tests/test_constraint_conversion.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_direct.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linesearch.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_milp.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_minpack.py
  scipy/optimize/tests/test_nonlin.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_quadratic_assignment.py
  scipy/optimize/tests/test_slsqp.py
  scipy/optimize/tests/test_trustregion.py
  scipy/optimize/tests/test_trustregion_krylov.py
  scipy/optimize/tests/test_zeros.py
Owners: @andyfaff

FIX: Add stub num_parallel_threads fixture
  scipy/conftest.py
Owners: none

FIX: Further remove global state from tests in cluster and differentiate
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/datasets/tests/test_data.py
  scipy/differentiate/_differentiate.py
  scipy/differentiate/tests/test_differentiate.py
Owners: none

FIX: Additional fixes in BSppline
  .github/workflows/linux.yml
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/tests/test_bsplines.py
Owners: @larsoner, @andyfaff, @ev-br

Apply suggestions from code review
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

remaining changes
  scipy/sparse/linalg/_svdp.py
Owners: @perimosocordiae

TST: np --> xp
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

API: sparse.linalg.svds: transition to rng (SPEC 7) (#21899)
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/_svds_doc.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
  scipy/sparse/linalg/tests/test_propack.py
Owners: @perimosocordiae

MAINT, TST: differentiate test_examples bump
  scipy/differentiate/tests/test_differentiate.py
Owners: none

BUG: integrate.trapezoid: fix broadcasting issue (#21912)
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

TST: stats.wilcoxon: add test for edge case of all zeros
  scipy/stats/tests/test_morestats.py
Owners: none

MAINT: sparse.random_array: transition random_state to rng in tests, docs
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

module 'array_api_strict' has no attribute 'float16'
  scipy/ndimage/tests/test_filters.py
Owners: none

Update scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_filters.py
Owners: none

Update scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_filters.py
Owners: none

ENH: ndimage: log(n) implementation for 1D rank filter (#20543)
  scipy/ndimage/_filters.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/meson.build
  scipy/ndimage/src/_rank_filter_1d.cpp
  scipy/ndimage/tests/test_filters.py
Owners: @rgommers

BLD: fortran: only use `-std=legacy` for gfortran
  meson.build
Owners: @rgommers

BUG: optimize.curve_fit fix sigma dimension issue with nan_policy="omit"
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

Added a regression test for omit nan
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

Fix linting issues
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

Avoid setting global random state
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

Remove the redundant prev_ydata_size
  scipy/optimize/_minpack_py.py
Owners: @andyfaff

TST: mark vode, zvodde and lsoda tests as thread_unsafe
  scipy/integrate/tests/test_integrate.py
Owners: @steppi

ENH: stats.ttest_ind: add `method` arugment
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: Remove old COBYLA
  scipy/optimize/_cobyla_py.py
  scipy/optimize/cobyla/cobyla.pyf
  scipy/optimize/cobyla/cobyla2.f
  scipy/optimize/cobyla/trstlp.f
  scipy/optimize/meson.build
Owners: @andyfaff

BUG: Fixing CI issues with PRIMA
  scipy/optimize/_prima/meson.build
  scipy/optimize/tests/test_cobyla.py
Owners: @andyfaff

TST: Explicitly do not check out submodules for lint
  .github/workflows/lint.yml
Owners: @larsoner, @andyfaff

ENH: Allow COBYLA to support the new constraint types.
  doc/source/tutorial/optimize.rst
  scipy/_lib/meson.build
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_cobyla.py
Owners: @rgommers, @andyfaff

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
