Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

MNT: Minor adjustment in RigidTransformation.from_exp_coords
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

ENH: Robust implementation of RigidTransformation.as_exp_coords
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: Improve tests for exp_coords
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

TST: Move exp_coords reciprocity test into test_from_as_internal_consistency
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

DOC: Document exp_coords helper functions
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: test special case of invalid dual quaternion
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

change tol on doctest and remove maxiter kwd [docs only]
  scipy/sparse/__init__.py
  scipy/sparse/linalg/_norm.py
Owners: @perimosocordiae

DOC: Update documentation on interactive examples and notebooks
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/rendering_documentation.rst
Owners: none

DOC: sparse.linalg: fix doctest in scipy.sparse.linalg._norm.py (#22375)
  scipy/sparse/__init__.py
  scipy/sparse/linalg/_norm.py
Owners: @perimosocordiae

MAINT: special: A bit of clean up in stirling2.h (#22381)
  scipy/special/stirling2.h
Owners: @person142, @steppi

[skip ci]
  scipy/interpolate/tests/test_interpnd.py
Owners: @ev-br

revert mmio changes
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

test_mmio fix
  scipy/io/tests/test_mmio.py
Owners: none

mmio file ignore
  tools/lint.toml
Owners: @larsoner, @rgommers

fix tools/authors.py
  tools/authors.py
Owners: @larsoner, @rgommers

MAINT: Deprecate unused atol parameter in optimize.nnls
  scipy/optimize/_nnls.py
Owners: @andyfaff

MAINT: Deprecate unused atol parameter in optimize.nnls
  scipy/optimize/_nnls.py
Owners: @andyfaff

DOC: Fix docs of predecessors for shortest_path, jhonson, bellman_ford and dijkstra
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DOC: Minor styling changes
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DOC: Add "Assert function selection guideline" doc in the new page "Tips for writing tests".
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/writing_test_tips.rst
Owners: none

DOC: Fix styling for shape variables
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DEP: optimize.nnls: deprecate unused atol parameter
  scipy/optimize/_nnls.py
Owners: @andyfaff

DOC: Fix styling changes for shape variables
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DOC: Fix link syntax
  doc/source/dev/contributor/rendering_documentation.rst
Owners: none

DOC: Fix styling changes for code variables
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DOC: Fix documentation for ``predecessors`` matrix in ``shortest_path``, ``bellman_ford``, ``johnson`` and ``dijkstra`` (#22388)
  scipy/sparse/csgraph/_shortest_path.pyx
Owners: @perimosocordiae

DOC: Explain MyST-md format and try_examples directive
  doc/source/dev/contributor/rendering_documentation.rst
Owners: none

ENH: stats._xp_mean: support marray
  .github/workflows/array_api.yml
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @andyfaff

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
