Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

API: integrate.simpson: allow `x` to be passed positionally
  scipy/integrate/_quadrature.py
Owners: @steppi

more fixes
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

TST: optimize.elementwise.bracket_minimum: ensure float64 args for PyTorch
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

MAINT: remove scipy.misc
  .github/label-globs.yml
  .github/workflows/windows_intel_oneAPI.yml
  doc/source/conf.py
  doc/source/reference/index.rst
  doc/source/reference/misc.rst
  scipy/__init__.py
  scipy/_lib/tests/test_public_api.py
  scipy/meson.build
  scipy/misc/__init__.py
  scipy/misc/_common.py
  scipy/misc/ascent.dat
  scipy/misc/common.py
  scipy/misc/doccer.py
  scipy/misc/ecg.dat
  scipy/misc/face.dat
  scipy/misc/meson.build
  scipy/misc/tests/__init__.py
  scipy/misc/tests/meson.build
  scipy/misc/tests/test_common.py
  scipy/misc/tests/test_config.py
  scipy/misc/tests/test_doccer.py
Owners: @larsoner, @andyfaff, @tupui, @rgommers

MAINT: readd empty scipy.misc namespace
  scipy/__init__.py
  scipy/meson.build
  scipy/misc/__init__.py
  scipy/misc/common.py
  scipy/misc/doccer.py
  scipy/misc/meson.build
Owners: @rgommers

MAINT: remove misc from refguide_check
  tools/refguide_check.py
Owners: @larsoner, @rgommers

TST: re-add tests
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test_config.py
  scipy/_lib/tests/test_doccer.py
  scipy/_lib/tests/test_public_api.py
Owners: @rgommers

TST: filter warnings
  scipy/_lib/tests/test_public_api.py
Owners: none

Update scipy/signal/_signaltools.py
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

Update scipy/sparse/_coo.py
  scipy/sparse/_coo.py
Owners: @perimosocordiae

TST: fix warning filter
  scipy/_lib/tests/test_public_api.py
Owners: none

using extend method
  scipy/sparse/_coo.py
Owners: @perimosocordiae

fix linter
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

dont call xp.asarray on results
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

DOC: stats.goodness_of_fit: clarify distinction between known/fit params (#21967)
  scipy/stats/_fit.py
Owners: none

MAINT: purge `from __future__ import annotations`
  scipy/_lib/_array_api.py
  scipy/_lib/_array_api_no_0d.py
  scipy/_lib/_util.py
  scipy/constants/_codata.py
  scipy/constants/_constants.py
  scipy/integrate/_cubature.py
  scipy/integrate/_quadrature.py
  scipy/interpolate/_cubic.py
  scipy/ndimage/tests/__init__.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_isotonic.py
  scipy/optimize/_trustregion_constr/report.py
  scipy/signal/_short_time_fft.py
  scipy/spatial/_ckdtree.pyi
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/distance.pyi
  scipy/spatial/transform/_rotation.pyi
  scipy/special/_orthogonal.pyi
  scipy/special/tests/test_cython_special.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_multicomp.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_survival.py
  scipy/stats/_unuran/unuran_wrapper.pyi
  tools/check_test_name.py
Owners: @steppi, @ev-br, @andyfaff, @larsoner, @ilayn, @tylerjereddy, @peterbell10, @person142, @tupui, @mdhaber, @rgommers

TYP: remove `PPFDist` protocol
  scipy/stats/_sensitivity_analysis.py
Owners: @tupui

MAINT: appease mypy and ruff
  mypy.ini
  scipy/_lib/_array_api.py
  scipy/stats/_sensitivity_analysis.py
Owners: @tupui

ENH: `optimize.elementwise.bracket_minimum`: add array API support (#21980)
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

tweak test calls to TestTransitionToRNG.random_*
  scipy/_lib/tests/test__util.py
Owners: none

Apply suggestions from code review
  scipy/_lib/_util.py
  scipy/integrate/_cubature.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_isotonic.py
  scipy/spatial/_ckdtree.pyi
  scipy/stats/_qmc.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_survival.py
Owners: @steppi, @andyfaff, @tylerjereddy, @peterbell10, @tupui, @mdhaber

Apply suggestions from code review
  scipy/stats/_sensitivity_analysis.py
Owners: @tupui

remove two stub files
  mypy.ini
  scipy/optimize/_direct_py.py
  scipy/spatial/_ckdtree.pyi
  scipy/spatial/meson.build
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/meson.build
  scipy/stats/_qmc.py
Owners: @andyfaff, @tylerjereddy, @peterbell10, @tupui

BUG: signal: actually reject objects in correlate/convolve
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

DOC: optimize.root: fix docs for `inner_*` parameters
  scipy/optimize/_root.py
Owners: @andyfaff

appease unicode check
  scipy/optimize/_root.py
Owners: @andyfaff

BUG: signal: actually reject objects in correlate/convolve (#21984)
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

add backticks
  scipy/optimize/_root.py
Owners: @andyfaff

DOC: optimize.root: fix docs for `inner_*` parameters (#21985)
  scipy/optimize/_root.py
Owners: @andyfaff

remove `Concatenate`
  scipy/optimize/_direct_py.py
Owners: @andyfaff

convert to sparray, use deprecation kwarg sparray=False; add deprecation warnings
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_harwell_boeing/tests/test_hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/_mio4.py
  scipy/io/matlab/_mio5_utils.pyx
  scipy/io/matlab/tests/test_mio.py
  scipy/io/matlab/tests/test_miobase.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_paths.py
Owners: none

update tests to avoid deprecations
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/tests/test_hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_paths.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

fix doc_tests for _mmio.py
  scipy/io/_mmio.py
Owners: none

make new kwarg keyword -only
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
Owners: none

change kwarg from sparray=False to spmatrix=True
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_harwell_boeing/tests/test_hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_paths.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
Owners: @perimosocordiae

remove SP as alias to scipy.sparse
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/matlab/tests/test_mio.py
Owners: none

remove deprecation and use sparray=False
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/io/_mmio.py
  scipy/io/matlab/_mio.py
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
