Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

change line_search_wolfe2 to add zoom_maxiter kwarg
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

TST: optimize.elementwise.find_root: update tests to use find_root directly
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

revert
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

add zoom_maxiter kwarg to line_search_wolfe2 and rewrite unit test
  scipy/optimize/_linesearch.py
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

update docstring
  scipy/optimize/_linesearch.py
Owners: @andyfaff

TST: optimize.elementwise.find_root: begin to extend tests to 'secant' method
  scipy/optimize/_elementwise.py
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

lint fixes
  scipy/optimize/tests/test_linesearch.py
Owners: @andyfaff

DOC: sparse: explicit dtypes for nonzero()
  scipy/sparse/_base.py
Owners: @perimosocordiae

add explicit int cast
  scipy/special/_generate_pyx.py
Owners: @person142, @steppi

DEP: special: raise error for non-integer types with exact=True for comb and perm
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Owners: @person142, @steppi

DOC: stats.ContinuousDistribution: adjustments per review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

TST: optimize.elementwise.find_root: update tests to use find_root directly
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

TST: optimize.elementwise.find_root: generalize test class name
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

suppress warning from scikit-sparse
  scipy/optimize/_trustregion_constr/projections.py
Owners: @andyfaff

docs updates [docs only]
  scipy/optimize/_constraints.py
  scipy/optimize/_linprog_doc.py
  scipy/optimize/_lsq/common.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_optimize.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_optimize.py
Owners: @andyfaff

DOC: Respond to review comment [docs only]
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: Update special release notes
  doc/source/release/1.15.0-notes.rst
Owners: none

Update doc/source/release/1.15.0-notes.rst [docs only]
  doc/source/release/1.15.0-notes.rst
Owners: none

try to fix mmio
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

MAINT: signal: fixed build warning (`sprintf`) on MacOS
  scipy/signal/_sigtoolsmodule.cc
Owners: @larsoner, @ilayn

DOC: Update special release notes (#22091)
  doc/source/release/1.15.0-notes.rst
Owners: none

ENH: linalg: wrap ?gbcon
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/lapack.py
Owners: @larsoner, @ilayn

suppress warning in linprog
  scipy/optimize/_linprog_ip.py
Owners: @andyfaff

fix lint
  scipy/optimize/_linprog_ip.py
Owners: @andyfaff

Correct TestFiltFilt.test_complex_coeff for data api backend testing
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

Expand on `filtfilt` complex-coeff change in docstring
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: remove unnecessary inheritance
  scipy/optimize/tests/test_chandrupatla.py
Owners: @andyfaff

expand warning supression to all cholmod funcs
  scipy/optimize/_linprog_ip.py
Owners: @andyfaff

Use float literal in TestfiltFilt.test_complex_coeff
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

Don't use arange with dtype complex128
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

DOC, MAINT: Add a `"jupyterlite_sphinx_strip"` tag to the `scipy.stats` interactive notebooks (#22042)
  doc/source/conf.py
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/sampling.md
Owners: @tupui

FIX: Kept only the scalar version as private function.
  scipy/optimize/_zeros_py.py
Owners: @andyfaff

FIX: Exposed _muller through root_scalar.
  scipy/optimize/_root_scalar.py
Owners: @andyfaff

FIX: Updated tests to reflect new changes.
  scipy/optimize/tests/test_zeros.py
Owners: @andyfaff

ENH: optimize: migrate documentation to sparray (#22090)
  scipy/optimize/_constraints.py
  scipy/optimize/_linprog_doc.py
  scipy/optimize/_lsq/common.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_optimize.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_optimize.py
Owners: @andyfaff

add TODO comment with longterm code in comments and gh-22089 link to history
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_trustregion_constr/projections.py
Owners: @andyfaff

Apply suggestions from code review
  scipy/optimize/_elementwise.py
Owners: @andyfaff

fix constants [skip cirrus]
  scipy/constants/tests/test_codata.py
Owners: none

Apply suggestions from code review
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: mention the removal of AccuracyWarning
  doc/source/release/1.15.0-notes.rst
Owners: none

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
