Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

MAINT: build _signaltools as C++ not C
  scipy/signal/_correlate_nd.cc.in
  scipy/signal/_firfilter.cc
  scipy/signal/_lfilter.cc.in
  scipy/signal/_medianfilter.cc
  scipy/signal/_sigtoolsmodule.cc
  scipy/signal/meson.build
Owners: @larsoner, @ilayn

ENH: spatial: raise `NotImplemented` for other types in `Rotation.__mul__`
  scipy/spatial/transform/_rotation.pyx
Owners: @tylerjereddy, @peterbell10

MAINT: signal/lfilter: use templates instead of tempita
  scipy/signal/_lfilter.cc
  scipy/signal/meson.build
Owners: @larsoner, @ilayn

MAINT: signal: correlate_nd: use templates not tempita
  scipy/meson.build
  scipy/signal/_correlate_nd.cc
  scipy/signal/_lfilter.cc
  scipy/signal/_sigtools.h
  scipy/signal/meson.build
Owners: @rgommers, @larsoner, @ilayn

MAINT: signal: remove `register` storage in medianfilter.cc
  scipy/signal/_medianfilter.cc
Owners: @larsoner, @ilayn

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  .mailmap
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

WIP, DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

WIP, DOC: SciPy 1.15.0 relnotes
  doc/source/release/1.15.0-notes.rst
Owners: none

try leaving signature alone
  scipy/spatial/transform/_rotation.pyx
Owners: @tylerjereddy, @peterbell10

DOC: PR 21982 revisions
  doc/source/conf.py
  doc/source/release/1.15.0-notes.rst
Owners: @tupui

replace __add__ test of broadcasting fail also put in addition part of method
  scipy/sparse/tests/test_arithmetic1d.py
Owners: @perimosocordiae

DOC: stats.ContinuousDistribution: add tutorial
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/distribution_infrastructure.md
  doc/source/tutorial/stats/probability_distributions.rst
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

remove unused test match options and remove whitespace
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_data.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

MAINT: sort dict of parameters instead of sorting later
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

fifth set of changes, let's go!
  scipy/optimize/tests/test_zeros.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_ltisys.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_savitzky_golay.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_bsr.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_dia.py
  scipy/sparse/_index.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_interface.py
  scipy/spatial/distance.py
  scipy/spatial/tests/test_qhull.py
  scipy/spatial/transform/tests/test_rotation_groups.py
  scipy/special/_generate_pyx.py
  scipy/special/_testutils.py
  scipy/special/tests/test_basic.py
Owners: @andyfaff, @larsoner, @ilayn, @perimosocordiae, @tylerjereddy, @peterbell10, @person142, @steppi

should be final set of changes!
  scipy/_build_utils/tempita/_tempita.py
  scipy/special/_generate_pyx.py
  scipy/special/tests/test_orthogonal.py
  scipy/special/utils/datafunc.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_mstats_extras.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_rank.py
  tools/authors.py
  tools/generate_f2pymod.py
  tools/ninjatracing.py
  tools/refguide_check.py
Owners: @person142, @steppi, @larsoner, @rgommers

removing UP031 from the ignore linting ruleset
  tools/lint.toml
Owners: @larsoner, @rgommers

DOC: PR 21982 revisions
  doc/source/release/1.15.0-notes.rst
Owners: none

Update _generate_pyx.py
  scipy/special/_generate_pyx.py
Owners: @person142, @steppi

DOC: SciPy 1.15.0 relnotes (#21982)
  .mailmap
  doc/source/conf.py
  doc/source/release/1.15.0-notes.rst
Owners: @tupui

DOC: stats.ContinuousDistribution: begin to draft transition guide
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none

DOC: improve signal.dbode docstring.
  scipy/signal/_ltisys.py
Owners: @larsoner, @ilayn

Expanded docstr (including the example) of `signal.dbode()`.
  scipy/signal/_ltisys.py
Owners: @larsoner, @ilayn

DOC: signal.dbode: improve docstring (#20908)
  scipy/signal/_ltisys.py
Owners: @larsoner, @ilayn

WIP, MAINT: version pins/prep for 1.15.0rc1
  ci/cirrus_wheels.yml
  pyproject.toml
  scipy/__init__.py
Owners: @larsoner, @andyfaff, @rgommers

DOC: stats: draft random variable transition guide
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

MAINT: stats.Mixture: fix default `weights`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats.Mixture: fix default `weights` (#22026)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT, BLD: PR 22024 revisions
  pyproject.toml
Owners: @rgommers

MAINT: stats._continued_fraction: improve per review
  scipy/stats/_continued_fraction.py
  scipy/stats/tests/test_continued_fraction.py
Owners: none

MAINT: stats.ContinuousDistribution: revert to dynamic doc generation
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
Owners: @ev-br

ENH: stats.Uniform: add uniform distribution
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

BUILD: stats: remove reference to eliminated _new_distribution_docs.json
  scipy/stats/meson.build
Owners: @rgommers

remove "UP031" from ignore in tools/lint.toml
  tools/lint.toml
Owners: @larsoner, @rgommers
