Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

ENH: Integrate _prima_minimize with minimal changes
  .gitmodules
  scipy/_lib/meson.build
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_prima/__init__.py
  scipy/optimize/_prima/meson.build
  scipy/optimize/meson.build
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_optimize.py
Owners: @rgommers, @andyfaff

ENH: Add iprint support to COBYLA
  scipy/optimize/_cobyla_py.py
  scipy/optimize/tests/test_cobyla.py
Owners: @andyfaff

ENH: Add support for the f_target option in COBYLA
  scipy/optimize/_cobyla_py.py
  scipy/optimize/tests/test_cobyla.py
Owners: @andyfaff

ENH: Add IntermediateResult callback to COBYLA
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_optimize.py
Owners: @andyfaff

TST: use pytest parametrization and xfail test case where boost returns negative value
  scipy/special/tests/test_cdflib.py
Owners: @person142, @steppi

torch fixes
  scipy/optimize/tests/test_bracket.py
Owners: @andyfaff

DEP: stats.ttest_ind: deprecate positional use of most arguments; all use of permutations/random_state
  scipy/_lib/deprecation.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Owners: none

DOC: stats.ttest_ind: adjust documentation about deprecated parameters
  scipy/stats/_stats_py.py
Owners: none

TST: stats: adjust/remove tests using deprecated features
  scipy/stats/tests/test_multicomp.py
  scipy/stats/tests/test_resampling.py
Owners: none

MAINT: stats.ttest_ind: pass additional args to permutation version of test
  scipy/stats/_stats_py.py
Owners: none

MAINT: _lib.xp_asarray: remove 'device' argument
  scipy/_lib/_array_api.py
Owners: none

CI: unpin array_api_strict
  .github/workflows/array_api.yml
  environment.yml
  pyproject.toml
  requirements/test.txt
Owners: @larsoner, @andyfaff, @rgommers

Apply suggestions from code review
  scipy/special/tests/test_cdflib.py
Owners: @person142, @steppi

DOC: In `signal.hilbert()` improve wording and beautify example a bit.
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

Add test coverage for scalar and 2D `sigma`
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

Fix a bug in the 2D `sigma` case
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Owners: @andyfaff

DOC: signal.hilbert: update to reflect implementation (#21378)
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

ENH: linalg: Add condeig function (#21688)
  scipy/linalg/_decomp.py
  scipy/linalg/decomp.py
Owners: @larsoner, @ilayn

MAINT: Reduce PRIMA binary size
  scipy/optimize/_prima/meson.build
Owners: @andyfaff

Adding a translation class to scipy.spatial.transform
  scipy/spatial/transform/_translation.pyi
  scipy/spatial/transform/_translation.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/meson.build
  scipy/spatial/transform/tests/test_translation.py
  scipy/spatial/transform/translation.py
Owners: @tylerjereddy, @peterbell10

Fixed some typos to build. Have not run tests yet
  scipy/spatial/transform/_translation.pyx
  scipy/spatial/transform/tests/meson.build
Owners: @tylerjereddy, @peterbell10

Fixing imports. Still need to fix tests
  scipy/spatial/transform/__init__.py
Owners: @tylerjereddy, @peterbell10

Needed cimport. Tests pass
  scipy/spatial/transform/_translation.pyx
Owners: @tylerjereddy, @peterbell10

Added tests for rotation and translation combined operations
  scipy/spatial/transform/tests/meson.build
  scipy/spatial/transform/tests/test_rotation_translation.py
Owners: @tylerjereddy, @peterbell10

Updating docstring in __init__.py to pass refguide check
  scipy/spatial/transform/__init__.py
Owners: @tylerjereddy, @peterbell10

Adding more -s to extend the line all the way
  scipy/spatial/transform/__init__.py
Owners: @tylerjereddy, @peterbell10

ENH: special: use boost in `nctdtr` (#21728)
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/tests/test_cdflib.py
  scipy/stats/_continuous_distns.py
Owners: @person142, @steppi

DOC: sparse: remove warnings about using slower RandomState
  scipy/sparse/_construct.py
Owners: @perimosocordiae

change decorator to stacked style on newly added tests
  scipy/ndimage/tests/test_morphology.py
Owners: none

API: `sparse`: transition `random`-like functions to `rng` (SPEC 7) (#21888)
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/_construct.py
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_coo.py
Owners: @perimosocordiae

lint fix
  scipy/ndimage/tests/test_morphology.py
Owners: none

FIX: Address review comments
  .github/workflows/linux.yml
  scipy/fft/tests/test_fftlog.py
  scipy/fftpack/tests/test_basic.py
  scipy/fftpack/tests/test_real_transforms.py
  scipy/interpolate/tests/test_fitpack2.py
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_blas.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_measurements.py
  scipy/optimize/tests/test_cobyqa.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_quadratic_assignment.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @andyfaff, @peterbell10, @ev-br, @ilayn

FIX: Add lock to COBYQA
  scipy/optimize/_cobyqa_py.py
Owners: @andyfaff

FIX: remove unused imports
  scipy/fft/tests/test_fftlog.py
  scipy/optimize/tests/test_cobyqa.py
Owners: @peterbell10, @andyfaff

TST: Mark FBLAS tests as thread-unsafe
  scipy/linalg/tests/test_blas.py
Owners: @larsoner, @ilayn

Revert "MAINT: io: move `_test_fortran` under `tests`"
  scipy/io/_test_fortran.f
  scipy/io/meson.build
  scipy/io/test_fortran.pyf
  scipy/io/tests/meson.build
  scipy/io/tests/test_fortran.py
Owners: @rgommers

TST: add Cython issue reference to comments
  scipy/linalg/tests/test_basic.py
  scipy/ndimage/tests/test_measurements.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: cython: make `test_extending` tests safe for parallel usage
  scipy/_lib/_testutils.py
Owners: none

DEV: `gh_lists`: fix warnings
  tools/gh_lists.py
Owners: @larsoner, @rgommers

ENH: array types: add `dask.array` support
  .github/workflows/array_api.yml
  dev.py
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_morphology.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @andyfaff, @rgommers, @person142, @steppi

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
