Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

BUG: fix nogil LinearNDInterpolator
  scipy/interpolate/_interpnd.pyx
Owners: @ev-br

CI: gha update
  .github/workflows/array_api.yml
  .github/workflows/commit_message.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
Owners: @larsoner, @andyfaff

MAINT: stats.MonteCarloMethod: more post-merge fixups
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_contingency.py
  scipy/stats/tests/test_resampling.py
Owners: @mdhaber

lint failure fix
  scipy/ndimage/_filters.py
Owners: none

fixed the tests
  scipy/ndimage/tests/test_filters.py
Owners: none

Expose uint16_codec parameter
  scipy/io/matlab/_mio.py
Owners: none

Clarify versions
  scipy/io/matlab/_mio.py
Owners: none

DOC: Io.loadmat: document uint16_codec parameter (#21909)
  scipy/io/matlab/_mio.py
Owners: none

ENH: integrate.nsum: support unimodal functions and infinite lower limit of summation (#21789)
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Owners: @steppi

Update scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_filters.py
Owners: none

Update scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_filters.py
Owners: none

test fix
  scipy/ndimage/tests/test_filters.py
Owners: none

ENH: signal.chirp(): Add functionality of complex-valued waveforms.
  scipy/signal/_waveforms.py
  scipy/signal/tests/test_waveforms.py
Owners: @larsoner, @ilayn

MAINT: stats: refactoring to prepare for discrete distributions
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

fixed to pass Linux PyTorch/JAX/xp-strict CPU (3.11, false)
  scipy/ndimage/tests/test_filters.py
Owners: none

BUG: fix gh21908
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

MAINT: broadcast n-D x to y
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

STY
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

repalce dtype string with dtype object
  scipy/ndimage/tests/test_filters.py
Owners: none

TST: fix test
  scipy/integrate/tests/test_quadrature.py
Owners: @steppi

MAINT: Hausdorff Generator handling (#21897)
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Owners: @tylerjereddy, @peterbell10

MAINT: spatial.directed_hausdorff: transition to 'rng' keyword (SPEC 7)
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Owners: @tylerjereddy, @peterbell10

Revert "MAINT: spatial.transform.Rotation.random: transition to RNG (SPEC 7)"
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

STY: sparse.linalg: fix PEP8 line length
  scipy/sparse/tests/test_construct.py
Owners: @perimosocordiae

MAINT: spatial.transform.Rotation.random: transition to RNG (SPEC 7)
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

adjust rng treatment for _svdp
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
  scipy/sparse/linalg/tests/test_propack.py
Owners: @perimosocordiae

MAINT: spatial.transform.Rotation.random: transition to RNG (SPEC 7) (#21914)
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

FIX: Solve leftover merge regions
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

FIX: scipy.ndimage tests are now passing under concurrent loads
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_ni_support.py
Owners: none

ENH: scipy.interpolate tests are now passing under concurrent loads
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/interpolate/tests/test_ndgriddata.py
  scipy/interpolate/tests/test_polyint.py
  scipy/interpolate/tests/test_rbf.py
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/interpolate/tests/test_rgi.py
Owners: @ev-br

FIX: scipy.misc tests are nnow passing under concurrent loads
  scipy/misc/tests/test_config.py
Owners: none

FIX: remove unnecessary copies on FITPACK routines
  scipy/differentiate/tests/test_differentiate.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

ENH: Extend uarray local context to consider threading
  scipy/_lib/_uarray/_backend.py
  scipy/fft/tests/mock_backend.py
  scipy/fft/tests/test_backend.py
Owners: @peterbell10

CI: do not install pythran from source
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

FIX: Use threading.local in fft backend tests
  scipy/_lib/tests/test__util.py
  scipy/cluster/tests/test_vq.py
  scipy/fft/tests/mock_backend.py
  scipy/fft/tests/test_backend.py
Owners: @peterbell10

FIX: scipy.io tests now work under concurrent loads
  scipy/io/_harwell_boeing/_fortran_format_parser.py
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_fortran.py
  scipy/io/tests/test_idl.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_netcdf.py
  scipy/io/tests/test_wavfile.py
Owners: none

TST: Use pytest-run-parallel against free-threaded CI
  .github/workflows/linux.yml
  scipy/_lib/tests/test__gcutils.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_deprecation.py
  scipy/_lib/tests/test_import_cycles.py
  scipy/_lib/tests/test_public_api.py
  scipy/_lib/tests/test_tmpdirs.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
Owners: @larsoner, @andyfaff

TST: fix several tests introduced after rebase
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/linalg/tests/test_procrustes.py
  scipy/linalg/tests/test_special_matrices.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_spectral.py
Owners: @larsoner, @ilayn

FIX: scipy.odr tests are now passing under concurrent loads
  scipy/odr/_odrpack.py
  scipy/odr/tests/test_odr.py
Owners: none

CI: Temporarily disable parallel testing
  .github/workflows/linux.yml
Owners: @larsoner, @andyfaff

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
