Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

Improve docstr of `signal.blinear` function by making the formulas a narrower by using subscript array notation. Also, some typos were removed.
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn

Reduce the width of the longest equation in the docstr of `signal.blinear` a little more.
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn

TST: signal/upfirdn: parametrize instead of a loop
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

MAINT: signal/upfirdn: array API testing
  scipy/signal/_upfirdn.py
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

MAINT: signal: cater to immutable jax arrays
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

MAINT: signal: appease the linter
  scipy/signal/tests/test_upfirdn.py
Owners: @larsoner, @ilayn

lint
  scipy/cluster/tests/test_vq.py
  scipy/fft/tests/test_basic.py
  scipy/ndimage/tests/test_measurements.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
Owners: @peterbell10, @larsoner, @ilayn

fix numpy tests [skip cirrus] [skip circle]
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: _lib: update the file listing for array_api_extra
  scipy/_lib/meson.build
Owners: @rgommers

appease mypy
  mypy.ini
Owners: none

ENH: DiscreteDistribution: add 2-arg cdf
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
Owners: @steppi, @ev-br

ENH: signal.upfirdn: array API standard support (#22226)
  mypy.ini
  scipy/_lib/meson.build
  scipy/signal/_upfirdn.py
  scipy/signal/tests/test_upfirdn.py
Owners: @rgommers, @larsoner, @ilayn

Change (c/m)alloc calls to use 'new' wrapped in a unique_ptr.
  scipy/special/xsf/specfun/specfun.h
Owners: @person142, @steppi

MAINT: address review comments
  scipy/_lib/_util.py
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

TST: slow test
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

STY: style nits
  scipy/io/matlab/_mio.py
  scipy/io/matlab/tests/test_mio.py
Owners: none

ENH: io: add invalid field name warning for `savemat` (#22324)
  scipy/io/matlab/__init__.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/_miobase.py
  scipy/io/matlab/tests/test_mio.py
Owners: none

Fix a few more names passed to set_error()
  scipy/special/xsf/mathieu.h
  scipy/special/xsf/sphd_wave.h
Owners: @person142, @steppi

ENH: spatial.transform.Rotation: Add __repr__ method to (#22293)
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Owners: @tylerjereddy, @peterbell10

Set outputs to nan in mtu12 when alloc fails Also update docstring-like comments of some C++ functions.
  scipy/special/xsf/specfun/specfun.h
Owners: @person142, @steppi

RigidTransformation __repr__
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

ENH: stats.DiscreteDistribution: implement logentropy
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: stats.make_distribution: support zipfian distribution
  scipy/stats/_discrete_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

MAINT: stats.Mixture: fix inverse when mean is undefined
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

docs tweaks
  scipy/spatial/transform/_rigidtransformation.pyx
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

MAINT: interpolate: simplify complex.view(float)
  scipy/interpolate/_bsplines.py
Owners: @ev-br

TST: `_lib`: run tests with `@jax.jit` (#22308)
  doc/source/dev/api-dev/array_api.rst
  mypy.ini
  scipy/_lib/_lazy_testing.py
  scipy/_lib/meson.build
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_lazy_testing.py
  scipy/conftest.py
Owners: @rgommers

MAINT: linalg: reorganize tridiagonal eigenvalue routines
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/flapack_other.pyf.src
Owners: @larsoner, @ilayn

BUG: special: Fix unchecked malloc in stirling2.h
  scipy/special/stirling2.h
Owners: @person142, @steppi

more fixes from Thomas (#20)
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @ilayn

MAINT: signal: xp_pad -> xpx.pad
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: rm np.split, use array API primitives instead
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

TST: signa: test oaconvolve on CUDA
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: add a code comment
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

DOC: fft: move the docstring from fft/_helper.py to fft/_pocketff/helper.py
  scipy/fft/_pocketfft/helper.py
Owners: @peterbell10

MAINT: fft: remove a stray np.asarray call
  scipy/fft/_helper.py
Owners: @peterbell10

MAINT: signal: linter
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal: draft xp_pad for oaconvolve
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

update comment [skip ci]
  scipy/signal/_signaltools.py
Owners: @larsoner, @ilayn

MAINT: signal.oaconvolve: avoid xp <-> numpy conversions (#22122)
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/helper.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Owners: @peterbell10, @larsoner, @ilayn

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
