Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

ENH: use workers for approx_derivative
  scipy/optimize/_numdiff.py
Owners: @andyfaff

ENH: approx_derivative workers
  scipy/optimize/_numdiff.py
Owners: @andyfaff

ENH: approx_derivative workers
  scipy/optimize/_numdiff.py
Owners: @andyfaff

TST: linalg: test passing arrays by keyword
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: stats._SimpleDomain: ensure that instances do not share symbols
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

DOC: linalg.matrix_balance: move math to notes; ensure that it renders
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

MAINT: cruft cleanup
  scipy/optimize/_numdiff.py
Owners: @andyfaff

ENH: linalg.bandwidth: add batch support
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.ldl: add batch support
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

Update scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_continuous.py
Owners: none

MAINT: stats._SimpleDomain: ensure that instances do not share `symbols` (#22139)
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Owners: @ev-br

ENH: linalg.svd: add batch support
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.cholesky: add batch support
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.polar: add batch support
  scipy/linalg/_decomp_polar.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg: add batch support to qr, rq, schur, hessenberg
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: linalg.clarkson_woodruff_transform: add batch support
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.orth/lu_factor: add batch support
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg.eig_banded/eigvals_banded: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

MAINT: rename stray variable
  scipy/optimize/_numdiff.py
Owners: @andyfaff

MAINT: mypy gremlins
  scipy/optimize/_numdiff.py
Owners: @andyfaff

ENH: signal: add blanket delegation to scipy.signal
  scipy/signal/__init__.py
  scipy/signal/_delegators.py
  scipy/signal/_short_time_fft.py
  scipy/signal/_signal_api.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/_wavelets.py
  scipy/signal/meson.build
Owners: @larsoner, @ilayn

DOC: linalg.matrix_balance: move math to notes; ensure that it renders (#22140)
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

Use keyword arg only
  scipy/integrate/_ivp/base.py
  scipy/integrate/_ivp/ivp.py
Owners: @steppi

BUG: signal: only wrap functions, not classes
  scipy/signal/__init__.py
  scipy/signal/_delegators.py
  scipy/signal/_signal_api.py
  scipy/signal/_support_alternative_backends.py
Owners: @larsoner, @ilayn

Code review
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
Owners: none

Run test_scalar on pure Python input
  scipy/stats/tests/test_variation.py
Owners: none

MAINT: signal: silence mypy noise
  mypy.ini
Owners: none

BUG: signal: fix delegation for LTI-consuming polymorphism
  scipy/signal/_delegators.py
Owners: @larsoner, @ilayn

TST: linalg.bandwidth: no more error with 3D input
  scipy/linalg/tests/test_cythonized_array_utils.py
Owners: @larsoner, @ilayn

MAINT: linalg.cwt: remove batch support to avoid issues with sparse input
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

ENH: linalg: add batch support for functions that accept a single array (#22133)
  scipy/linalg/_basic.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_polar.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_cythonized_array_utils.py
Owners: @larsoner, @ilayn

MAINT/DOC: sparse: nD cleanup and docs (#22129)
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_csr.py
Owners: @perimosocordiae

MAINT: parallelise sparse difference
  scipy/optimize/_numdiff.py
Owners: @andyfaff

TST: linalg: generalize batch test to multiple array inputs
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: add tests for workers in approx_derivative
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
Owners: @andyfaff

ENH: linalg.eigh: add batch support
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Owners: @larsoner, @ilayn

TST: ndimage: fix test skip typo
  scipy/ndimage/tests/test_morphology.py
Owners: none

MAINT: stats.ContinuousDistribution.llf: remove method
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats.ContinuousDistribution: add tutorial
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/distribution_infrastructure.md
  doc/source/tutorial/stats/probability_distributions.rst
  scipy/stats/_distribution_infrastructure.py
Owners: @ev-br

DOC: stats.ContinuousDistribution: begin to draft transition guide
  doc/source/tutorial/stats/rv_infrastructure.md
Owners: none
