Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui

BUG: Fix bug with dpss degenerate case
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

do not check dtype in test_compare_with_GCVSPL
  scipy/interpolate/tests/test_bsplines.py
Owners: @ev-br

tests tweaks
  scipy/spatial/transform/tests/test_rigidtransformation.py
Owners: @tylerjereddy, @peterbell10

BUG: special: Fix unchecked memory allocations in `specfun.h` (#22080)
  scipy/special/__init__.py
  scipy/special/_ellip_harm.pxd
  scipy/special/_specfun.pyx
  scipy/special/_special_ufuncs.cpp
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/ellint_carlson_cpp_lite/ellint_common.hh
  scipy/special/sf_error.cc
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/tests/test_sf_error.py
  scipy/special/xsf/error.h
  scipy/special/xsf/mathieu.h
  scipy/special/xsf/par_cyl.h
  scipy/special/xsf/specfun/specfun.h
  scipy/special/xsf/sphd_wave.h
Owners: @person142, @steppi

DOC: Harmonize summary line of docstrings of iterative sparse solvers.
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
Owners: @perimosocordiae

Update scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/iterative.py
Owners: @perimosocordiae

use std::unique_ptr and std::nothrow
  scipy/special/stirling2.h
Owners: @person142, @steppi

DOC: Harmonize summary line of docstrings of iterative sparse solvers. (#22348)
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
Owners: @perimosocordiae

FIX: Arg
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

address review comments
  scipy/special/stirling2.h
Owners: @person142, @steppi

solved the issue: inconsistent definitions of OP and OPinv in eigsh #18214
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Owners: @perimosocordiae

BUG: Fix bug with dpss degenerate case (#22344)
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

ENH: stats.quantile: add array API compatible quantile function
  scipy/stats/__init__.py
  scipy/stats/_quantile.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_quantile.py
Owners: @rgommers

Apply suggestions from code review
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Owners: @perimosocordiae

Fixes bug with selecting wrong dtype for coo coords
  scipy/sparse/_coo.py
Owners: @perimosocordiae

DOC: sparse.linalg.eigsh: fix inconsistent definitions of OP and OPinv#18214 (#22351)
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Owners: @perimosocordiae

BUG:scipy.special.stirling2.h:fixed Unchecked malloc #22336
  scipy/special/stirling2.h
Owners: @person142, @steppi

ENH: scipy.signal.window: add array API support
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

TST: array API support in test_windows
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/widows: continue adding support for Array API
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

MAINT: signal/windows: assorted fixes to address the review
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: fix tests
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: signal/windows: add explicit dtypes to asarrays
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: signal: update to dpss updates
  scipy/signal/tests/test_windows.py
Owners: @larsoner, @ilayn

TST: interpolate: small tolerance bump to TestAAA.test_basic_functions
  scipy/interpolate/tests/test_bary_rational.py
Owners: @ev-br

TST: test nctdtrit
  scipy/special/tests/test_cdflib.py
Owners: @person142, @steppi

MAINT: signal/windows: f64 degenerate windows, for consistency
  scipy/signal/windows/_windows.py
Owners: @larsoner, @ilayn

DOC: Add more examples for exp. coordinates
  scipy/spatial/transform/_rigidtransformation.pyx
Owners: @tylerjereddy, @peterbell10

MAINT: Stop installing libhighs
  scipy/optimize/_highspy/meson.build
Owners: @andyfaff

MAINT: migratespecial.nctdtrit to boost
  scipy/special/boost_special_functions.h
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/stats/_continuous_distns.py
Owners: @person142, @steppi

TST: Add specific tests against mpmath reference for nctdtrit
  scipy/special/tests/test_cdflib.py
Owners: @person142, @steppi

DOC: update nctdtrit docstring acc. to boost capabilities
  scipy/special/_add_newdocs.py
Owners: @person142, @steppi

File rename
  mypy.ini
  scipy/spatial/transform/__init__.py
  scipy/spatial/transform/_rigid_transformation.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/meson.build
  scipy/spatial/transform/tests/test_rigid_transformation.py
Owners: @tylerjereddy, @peterbell10

MAINT: remove temporary `# type: ignore`'s from #22162
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Owners: none

Code review updates
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

docs tweak
  scipy/spatial/transform/_rigid_transformation.pyx
Owners: @tylerjereddy, @peterbell10

TST: use different test case and mark test as failing for cython as the parameter combination results in overflowerror
  scipy/special/tests/test_cdflib.py
  scipy/special/tests/test_cython_special.py
Owners: @person142, @steppi

Small code formatting improvement in scipy/signal/_fir_filter_design.py
  scipy/signal/_fir_filter_design.py
Owners: @larsoner, @ilayn

Remove typos in function signal.bilinear
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn

Correct two typos in docst of `signal.bilinear`.
  scipy/signal/_filter_design.py
Owners: @larsoner, @ilayn
