Repository scipy/scipy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgommers, @larsoner, @peterbell10, @ilayn, @steppi, @ev-br, @andyfaff, @perimosocordiae, @tylerjereddy, @person142, @mdhaber, @tupui, @tirthasheshpatel

TST: special: streamline f32/f64 selection for test_logsumexp
  scipy/special/tests/test_logsumexp.py
Owners: @person142, @steppi

MAINT: stats: explicitly work around f32/f64 dtype selection
  scipy/stats/_continued_fraction.py
Owners: none

TST: stats: streamline f32/f64 selection in TestStudentT, ttest
  scipy/stats/tests/test_stats.py
Owners: none

Use StopIteration to stop integration
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/tests/test_ivp.py
Owners: @steppi

TST: Array API: enforce namespace in tests
  .github/workflows/array_api.yml
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @larsoner, @andyfaff, @ilayn, @person142, @steppi

ENH: _lib: JAX support (non-jitted)
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
Owners: none

MAINT: forward port 1.15.0 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release/1.15.0-notes.rst
Owners: @tupui

Update doc/source/_static/version_switcher.json
  doc/source/_static/version_switcher.json
Owners: @tupui

REL, MAINT: prep for 1.15.1
  doc/source/release.rst
  doc/source/release/1.15.1-notes.rst
  pyproject.toml
Owners: @rgommers

pass an intermediate ode result to callback
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/tests/test_ivp.py
Owners: @steppi

add documentation about StopIteration
  scipy/integrate/_ivp/ivp.py
Owners: @steppi

add example
  scipy/integrate/_ivp/ivp.py
Owners: @steppi

linting
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/tests/test_ivp.py
Owners: @steppi

DOC, MAINT: Add updates for interactive notebooks via `jupyterlite-sphinx` 0.17 (#22161)
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/conf.py
  doc/source/dev/toolchain.rst
  doc/source/overrides.json
  doc/source/tutorial/linalg_batch.md
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/sampling.md
  environment.yml
  pyproject.toml
  requirements/doc.txt
Owners: @tupui, @rgommers

Add benchmark discussed in gh-20717
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

STY: Fix line length
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

BENCH/ENH: sparse.csgraph.dijkstra: Use new random
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Owners: none

ENH: array types: add `dask.array` support
  .github/workflows/array_api.yml
  dev.py
  scipy/_lib/_array_api.py
  scipy/_lib/meson.build
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/hierarchy.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/_support_alternative_backends.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_stats.py
Owners: @larsoner, @andyfaff, @rgommers, @steppi, @person142

fixes from thomas
  .github/workflows/array_api.yml
  scipy/_lib/meson.build
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/tests/test_signaltools.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_continued_fraction.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Owners: @larsoner, @andyfaff, @rgommers, @peterbell10, @steppi, @ilayn, @person142

clean up [skip cirrus] [skip circle]
  scipy/_lib/meson.build
  scipy/_lib/tests/test_array_api.py
  scipy/conftest.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_real_transforms.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_measurements.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
Owners: @rgommers, @peterbell10, @steppi, @andyfaff, @larsoner, @ilayn

TST: signal: fix f32/f64 dtype selection
  scipy/signal/tests/test_signaltools.py
Owners: @larsoner, @ilayn

TST: make torch default dtype configurable
  .github/workflows/array_api.yml
  scipy/conftest.py
Owners: @larsoner, @andyfaff

ENH: add xp_default_dtype helper
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
Owners: none

TST: stats: streamline f32/f64 selection in TestStudentT, ttest
  scipy/stats/tests/test_stats.py
Owners: none

MAINT: stats: explicitly work around f32/f64 dtype selection
  scipy/stats/_continued_fraction.py
Owners: none

TST: special: streamline f32/f64 selection for test_logsumexp
  scipy/special/tests/test_logsumexp.py
Owners: @person142, @steppi

MAINT: make torch default to f64 in tests
  .github/workflows/array_api.yml
  scipy/conftest.py
Owners: @larsoner, @andyfaff

MAINT: integrate.cubature: fix undefined `asarray` use
  scipy/integrate/_rules/_base.py
Owners: @steppi

DOC: sparse: add example of random_array with uint32 data_sampler
  scipy/sparse/_construct.py
Owners: @perimosocordiae

MAINT: integrate.cubature: fix undefined `asarray` use (#22242)
  scipy/integrate/_rules/_base.py
Owners: @steppi

DOC: sparse: add example of random_array with uint32 data_sampler (#22243)
  scipy/sparse/_construct.py
Owners: @perimosocordiae

MAINT: fix url for array-api-extra git submodule
  .gitmodules
Owners: none

BUG: io: add `precision` argument validation for `mmwrite`
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Owners: none

ENH: linalg.lapack: wrap ?sytri and ?hetri (#22228)
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

DOC: optimize.root switch x - y coordinates in example **Large problem**
  scipy/optimize/_root.py
Owners: @andyfaff

Update scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/flapack_gen_banded.pyf.src
Owners: @larsoner, @ilayn

ENH: linalg: wrap ?langb (#22217)
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Owners: @larsoner, @ilayn

MAINT: `sparse.linalg._isolve`: Remove postprocess function (#22064)
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
  scipy/sparse/linalg/_isolve/utils.py
Owners: @perimosocordiae

ENH: linalg.solve: use langb
  scipy/linalg/_basic.py
Owners: @larsoner, @ilayn

MAINT: Fix dtype check in `scipy.signal._waveforms`.
  scipy/signal/_waveforms.py
Owners: @larsoner, @ilayn

.github/CODEOWNERS:

# The purpose of this file is to trigger review requests when PRs touch
# particular files. Those reviews are not mandatory, however it's often useful
# to have an expert pinged who is interested in only one part of SciPy and
# doesn't follow general development.
#
# Note that only GitHub handles (whether individuals or teams) with commit
# rights should be added to this file.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works.

# Each line is a file pattern followed by one or more owners.

.github/CODEOWNERS  @rgommers @larsoner

# Build related files
pyproject.toml  @rgommers
tools/generate_requirements.py  @rgommers
requirements/  @rgommers
environment.yml  @rgommers
meson*  @rgommers

# Dev CLI
dev.py  @rgommers

# SciPy submodules (please keep in alphabetical order)
scipy/fft/  @peterbell10
scipy/fftpack/  @peterbell10
scipy/linalg/  @larsoner @ilayn
scipy/integrate/ @steppi
scipy/interpolate/  @ev-br
scipy/optimize/  @andyfaff
scipy/signal/  @larsoner @ilayn
scipy/sparse/  @perimosocordiae
scipy/spatial/  @tylerjereddy @peterbell10
scipy/special/  @person142 @steppi
scipy/stats/_distn_infrastructure/  @andyfaff @ev-br
scipy/stats/*distr*.py  @ev-br
scipy/stats/_continuous_distns/  @andyfaff
scipy/stats/_covariance.py  @mdhaber
scipy/stats/_hypothesis.py  @tupui
scipy/stats/*qmc.*  @tupui
scipy/stats/_multicomp.py  @tupui @mdhaber
scipy/stats/_resampling.py  @mdhaber
scipy/stats/*sobol*  @tupui
scipy/stats/_sensitivity_analysis.py  @tupui
scipy/stats/_survival.py  @tupui @mdhaber
scipy/stats/.unuran/  @tirthasheshpatel

# Testing infrastructure
ci/  @larsoner @andyfaff
tools/refguide_check.py  @ev-br
tools/  @larsoner @rgommers
pytest.ini  @larsoner
.coveragerc  @larsoner
benchmarks/asv.conf.json  @larsoner

# CI config
.circleci/  @larsoner
.github/workflows/  @larsoner @andyfaff
.cirrus.star  @larsoner @andyfaff

# Doc
requirements/doc.txt  @tupui
doc/source/conf.py  @tupui
doc/source/_static/  @tupui
