Repository scipy/scipy, pull requests merged in 2018-05, with the labels that each got.

#8793 DOC: stats: Copy-edit a few distribution docstrings.
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#8740 BF/ENH: make minpack thread safe
  scipy/optimize/__minpack.h
  scipy/optimize/minpack.h
  scipy/optimize/minpack.py
  scipy/optimize/minpack/chkder.f
  scipy/optimize/minpack/dogleg.f
  scipy/optimize/minpack/dpmpar.f
  scipy/optimize/minpack/enorm.f
  scipy/optimize/minpack/fdjac1.f
  scipy/optimize/minpack/fdjac2.f
  scipy/optimize/minpack/hybrd.f
  scipy/optimize/minpack/hybrd1.f
  scipy/optimize/minpack/hybrj.f
  scipy/optimize/minpack/hybrj1.f
  scipy/optimize/minpack/lmder.f
  scipy/optimize/minpack/lmder1.f
  scipy/optimize/minpack/lmdif.f
  scipy/optimize/minpack/lmdif1.f
  scipy/optimize/minpack/lmpar.f
  scipy/optimize/minpack/lmstr.f
  scipy/optimize/minpack/lmstr1.f
  scipy/optimize/minpack/qform.f
  scipy/optimize/minpack/qrfac.f
  scipy/optimize/minpack/qrsolv.f
  scipy/optimize/minpack/r1mpyq.f
  scipy/optimize/minpack/r1updt.f
  scipy/optimize/minpack/rwupdt.f
  scipy/optimize/setup.py
  scipy/optimize/tests/test_minpack.py
Labels: enhancement, scipy.optimize

#8762 DOC: add example for scipy.io.loadmat
  scipy/io/matlab/mio.py
Labels: Documentation, scipy.io

#8802 MAINT: Suppress dd_real unused function compiler warnings.
  scipy/special/cephes/dd_idefs.h
  scipy/special/cephes/dd_real_idefs.h
Labels: maintenance, scipy.special

#8726 BUG: Fix _get_output in scipy.ndimage to support string
  scipy/ndimage/_ni_support.py
  scipy/ndimage/tests/test_ndimage.py
Labels: scipy.ndimage

#8813 MAINT: stats: Fix multinomial docstrings, and do some clean up.
  scipy/stats/_multivariate.py
Labels: maintenance, scipy.stats

#8822 BUG: integrate: Fix crash with repeated t values in odeint.
  scipy/integrate/_odepackmodule.c
  scipy/integrate/odepack.py
  scipy/integrate/tests/test_integrate.py
Labels: defect, scipy.integrate

#8817 BUG: ndimage: Fix validation of the origin argument in correlate and convolve.
  scipy/ndimage/filters.py
  scipy/ndimage/tests/test_filters.py
Labels: defect, scipy.ndimage

#8803 ENH: Add full_output support to optimize.newton()
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: scipy.optimize

#8839 DOC: stats: A few tweaks to the linregress docstring.
  scipy/stats/_stats_mstats_common.py
Labels: Documentation, scipy.stats

#8829 BUG: sparse.linalg: fix up breakdown detection in cgs/bicg/bicgstab
  scipy/sparse/linalg/isolve/iterative/BiCGREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/BiCGSTABREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/CGSREVCOM.f.src
  scipy/sparse/linalg/isolve/minres.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
Labels: defect, scipy.sparse.linalg

#8763 [DOC] Improved scipy.cluster.hierarchy documentation
  scipy/cluster/hierarchy.py
Labels: Documentation, scipy.cluster
