Repository scipy/scipy, pull requests merged in 2018-02, with the labels that each got.

#8387 MAINT: special: remove unused specfun code for Struve functions
  scipy/special/specfun/specfun.f
  scipy/special/specfun_wrappers.c
Labels: maintenance, scipy.special

#8393 DOC: Replace old type names in ndimage tutorial.
  doc/source/tutorial/ndimage.rst
Labels: Documentation, scipy.ndimage

#8148 Alias hanning as an explanatory function of hann
  scipy/signal/__init__.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/windows.py
Labels: maintenance, needs-work, scipy.signal

#8405 MAINT: special: remove unused `sincos` implementation
  scipy/special/cephes.h
  scipy/special/cephes/protos.h
  scipy/special/cephes/sincos.c
Labels: maintenance, scipy.special

#8333 FIX: Rewrapped ?gels and ?gels_lwork routines
  scipy/linalg/flapack.pyf.src
  scipy/linalg/tests/test_lapack.py
Labels: maintenance, scipy.linalg

#8426 DOC: correct FAQ entry on Apache license compatibility. Closes gh-8370.
  HACKING.rst.txt
Labels: Documentation, maintenance

#8432 MAINT: special: remove unused spherical Bessel routines from specfun
  scipy/special/specfun.pyf
  scipy/special/specfun/specfun.f
Labels: maintenance, scipy.special

#8412 MAINT: special: remove `cephes/protos.h`
  scipy/special/_cephes.pxd
  scipy/special/cephes.h
  scipy/special/cephes/cephes_names.h
  scipy/special/cephes/chbevl.c
  scipy/special/cephes/gamma.c
  scipy/special/cephes/gels.c
  scipy/special/cephes/mconf.h
  scipy/special/cephes/polevl.h
  scipy/special/cephes/protos.h
Labels: maintenance, scipy.special

#8358 ENH: stats: Use explicit MLE formulas in lognorm.fit and expon.fit
  scipy/misc/doccer.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#8171 ENH added normal inverse gaussian distribution to scipy.stats
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous_norminvgauss.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#8440 DOC:Add examples to integrate.quadpack docstrings
  scipy/integrate/quadpack.py
Labels: Documentation, scipy.integrate

#8279 CI: fixing doctests
  doc/source/tutorial/arpack.rst
  doc/source/tutorial/fftpack.rst
  doc/source/tutorial/linalg.rst
  doc/source/tutorial/optimize.rst
  doc/source/tutorial/stats.rst
  scipy/cluster/hierarchy.py
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ode.py
  scipy/io/_fortran.py
  scipy/optimize/_linprog.py
  scipy/signal/ltisys.py
  scipy/spatial/ckdtree.pyx
  scipy/special/basic.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/morestats.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
Labels: maintenance

#7120 ENH: implemented Owen's T function
  scipy/special/__init__.py
  scipy/special/_generate_pyx.py
  scipy/special/add_newdocs.py
  scipy/special/cephes.h
  scipy/special/cephes/cephes_names.h
  scipy/special/cephes/owens_t.c
  scipy/special/tests/data/boost/owenst_data_ipp/owens_t.txt
  scipy/special/tests/data/boost/owenst_data_ipp/owens_t_alarge.txt
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_owens_t.py
Labels: enhancement, scipy.special

#8476 TST: _lib: disable refcounting tests on PyPy
  scipy/_lib/_gcutils.py
  scipy/_lib/tests/test__gcutils.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
Labels: maintenance

#8477 BUG: signal/signaltools: fix wrong refcounting in PyArray_OrderFilterND
  scipy/signal/sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#8479 BUG: io/matlab: fix issues in matlab i/o on pypy
  scipy/io/matlab/streams.pyx
  scipy/io/matlab/tests/test_streams.py
Labels: maintenance, scipy.io

#8392 MAINT: linalg: Don't use variables 'I' or 'l'.
  scipy/linalg/_generate_pyx.py
  scipy/linalg/basic.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_special_matrices.py
Labels: maintenance, scipy.linalg

#8276 DOC: Add notes to explain constrains on overwrite_<>
  scipy/linalg/blas.py
  scipy/linalg/lapack.py
Labels: Documentation, scipy.linalg
