Repository scipy/scipy, pull requests merged in 2018-11, with the labels that each got.

#8537 ENH: Implement mode parameter for spline filtering.
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/src/ni_interpolation.h
  scipy/ndimage/src/ni_splines.c
  scipy/ndimage/src/ni_splines.h
  scipy/ndimage/tests/test_datatypes.py
  scipy/ndimage/tests/test_splines.py
Labels: enhancement, scipy.ndimage

#8890 ENH: Add optimize.root_scalar() as a universal dispatcher for 1d root-finders
  doc/source/optimize.root_scalar-bisect.rst
  doc/source/optimize.root_scalar-brenth.rst
  doc/source/optimize.root_scalar-brentq.rst
  doc/source/optimize.root_scalar-halley.rst
  doc/source/optimize.root_scalar-newton.rst
  doc/source/optimize.root_scalar-ridder.rst
  doc/source/optimize.root_scalar-secant.rst
  doc/source/optimize.root_scalar-toms748.rst
  doc/source/tutorial/optimize.rst
  scipy/optimize/__init__.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: enhancement, scipy.optimize

#9344 DOC: added examples to docstring of dirichlet class
  scipy/stats/_multivariate.py
Labels: Documentation, scipy.stats

#9421 DOC: Add missing docstring examples in scipy.spatial
  scipy/spatial/_plotutils.py
  scipy/spatial/qhull.pyx
Labels: Documentation, scipy.spatial

#9392 BUG: rank has to be integer in rank_filter: fixed issue 9388
  scipy/ndimage/filters.py
  scipy/ndimage/tests/test_filters.py
Labels: defect, scipy.ndimage

#9435 DOC: Add docstring examples for stats.binom_test
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#9305 ENH: Added Yeo-Johnson power transformation
  THANKS.txt
  scipy/stats/__init__.py
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: enhancement, scipy.stats

#9352 BUG: Fix lobpcg() largest option
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: defect, scipy.sparse.linalg

#9422 DOC: Add an example to integrate.newton_cotes
  scipy/integrate/quadrature.py
Labels: Documentation, scipy.integrate

#9443 DOC: Fix the order of indices in optimize tutorial
  doc/source/tutorial/optimize.rst
Labels: Documentation, scipy.optimize

#7373 BUG: Jaccard distance for all-zero arrays would return np.nan
  scipy/spatial/distance.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/tests/test_distance.py
Labels: maintenance, scipy.spatial

#9445 DOC: Added missing example to stats.mstats.kruskal
  scipy/stats/mstats_basic.py
Labels: Documentation, scipy.stats

#8908 ENH: Make sorting optional for cKDTree.query_ball_point()
  benchmarks/benchmarks/spatial.py
  scipy/spatial/ckdtree.pyx
  scipy/spatial/tests/test_kdtree.py
Labels: enhancement, scipy.spatial

#9444 MAINT: interpolate: use operator.index for checking/coercing to integers
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: maintenance, scipy.interpolate

#9048 ENH: scipy.sparse.random
  scipy/_lib/_numpy_compat.py
  scipy/sparse/construct.py
  scipy/sparse/tests/test_construct.py
Labels: enhancement, scipy.sparse

#9448 TST: skip a problematic linalg test
  scipy/linalg/tests/test_basic.py
Labels: maintenance, scipy.linalg

#9447 BLD: version-script handling in setup.py
  setup.py
Labels: Build issues, defect

#8293 ENH add ratio-of-uniforms method for rv generation to scipy.stats
  scipy/stats/__init__.py
  scipy/stats/_rvs_sampling.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9449 TST: fix missing seed in lobpcg test.
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: maintenance, scipy.sparse.linalg

#8098 ENH: Add shgo for global optimization of NLPs.
  scipy/optimize/__init__.py
  scipy/optimize/_shgo.py
  scipy/optimize/_shgo_lib/__init__.py
  scipy/optimize/_shgo_lib/sobol_seq.py
  scipy/optimize/_shgo_lib/sobol_vec.gz
  scipy/optimize/_shgo_lib/triangulation.py
  scipy/optimize/setup.py
  scipy/optimize/tests/test__shgo.py
Labels: enhancement, scipy.optimize

#9051 MAINT: Fix slow sparse.rand for k < mn/3 (#9036).
  benchmarks/benchmarks/sparse.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/sparse/construct.py
Labels: maintenance, scipy.sparse

#9431 BENCH: Add dual annealing to scipy benchmark (see #9415)
  benchmarks/benchmarks/optimize.py
Labels: Benchmarks, scipy.optimize

#9456 TST: test_eigs_consistency() now sorts output
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: maintenance, scipy.sparse.linalg

#8991 ENH: Weighted kde
  scipy/_lib/_numpy_compat.py
  scipy/stats/kde.py
  scipy/stats/mvn.pyf
  scipy/stats/mvndst.f
  scipy/stats/tests/test_kdeoth.py
Labels: enhancement, scipy.stats

#9463 REL: set version to 1.3.0.dev0 and add 1.3.0 release notes
  doc/release/1.3.0-notes.rst
  doc/source/release.1.3.0.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: Documentation

#9477 DOC: linalg: fix lstsq docstring on residues shape
  scipy/linalg/basic.py
Labels: Documentation, scipy.linalg

#9479 DOC: Add docstring example for ai_zeros and bi_zeros
  scipy/special/basic.py
Labels: Documentation, scipy.special

#9492 MAINT: stats: Improve implementation of chi2 ppf method.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#9472 MAINT: scipy.sparse: Fixed error when reshaping to illegal shape
  scipy/sparse/sputils.py
Labels: maintenance, scipy.sparse

#9499 DOC: Replace "Scipy" with "SciPy" in the .rst doc files for consistency.
  CONTRIBUTING.rst
  benchmarks/README.rst
  doc/source/building/macosx.rst
  doc/source/ccallback.rst
  doc/source/dev/deprecations.rst
  doc/source/dev/distributing.rst
  doc/source/dev/github.rst
  doc/source/dev/licensing.rst
  doc/source/dev/releasing.rst
  doc/source/dev/versioning.rst
  doc/source/tutorial/basic.rst
  doc/source/tutorial/fftpack.rst
  doc/source/tutorial/general.rst
  doc/source/tutorial/integrate.rst
  doc/source/tutorial/io.rst
  doc/source/tutorial/signal.rst
  doc/source/tutorial/special.rst
Labels: Documentation

#9504 DOC: Replace "Scipy" with "SciPy" in .py and .txt doc files for consistency
  doc/API.rst.txt
  doc/README.txt
  doc/ROADMAP.rst.txt
  scipy/__init__.py
  scipy/_build_utils/__init__.py
  scipy/cluster/hierarchy.py
  scipy/io/matlab/mio4.py
  scipy/linalg/decomp_lu.py
  scipy/linalg/decomp_qr.py
  scipy/odr/tests/test_odr.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_exact.py
  scipy/optimize/nonlin.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/signaltools.py
  scipy/sparse/_matrix_io.py
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/linalg/isolve/tests/test_lsmr.py
  scipy/sparse/sparsetools.py
  scipy/sparse/tests/test_matrix_io.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/distance.py
  scipy/special/orthogonal.py
  scipy/special/tests/test_mpmath.py
  scipy/stats/kde.py
  scipy/stats/tests/test_stats.py
Labels: Documentation

#9493 TST: 32-bit test_distance.py now passes
  scipy/spatial/tests/test_distance.py
Labels: backport-candidate, scipy.spatial

#9503 DOC: Add the correct terminal type for MSYS2
  doc/source/building/windows.rst
Labels: Build issues, Documentation

#9502 CI: Use released numpy and newer Cython
  .circleci/config.yml
Labels: Build issues, CI

#9506 DOC: add note that 1.2.x is the last release to support Python 2.7
  doc/release/1.2.0-notes.rst
Labels: Documentation

#9325 DEP: Remove deprecated functions for 1.3.0
  scipy/interpolate/README
  scipy/interpolate/__init__.py
  scipy/interpolate/interpolate.py
  scipy/misc/__init__.py
  scipy/misc/pilutil.py
  scipy/misc/tests/data/3x3x3.png
  scipy/misc/tests/data/3x3x4.png
  scipy/misc/tests/data/3x4x3.png
  scipy/misc/tests/data/3x4x4.png
  scipy/misc/tests/data/3x5x3.png
  scipy/misc/tests/data/3x5x4.png
  scipy/misc/tests/data/4x3x3.png
  scipy/misc/tests/data/4x3x4.png
  scipy/misc/tests/data/4x4x3.png
  scipy/misc/tests/data/4x4x4.png
  scipy/misc/tests/data/4x5x3.png
  scipy/misc/tests/data/4x5x4.png
  scipy/misc/tests/data/5x3x3.png
  scipy/misc/tests/data/5x3x4.png
  scipy/misc/tests/data/5x4x3.png
  scipy/misc/tests/data/5x4x4.png
  scipy/misc/tests/data/5x5x3.png
  scipy/misc/tests/data/5x5x4.png
  scipy/misc/tests/data/blocks2bit.png
  scipy/misc/tests/data/box1.png
  scipy/misc/tests/data/foo3x5x4indexed.png
  scipy/misc/tests/data/icon.png
  scipy/misc/tests/data/icon_mono.png
  scipy/misc/tests/data/icon_mono_flat.png
  scipy/misc/tests/data/pattern4bit.png
  scipy/misc/tests/test_common.py
  scipy/misc/tests/test_pilutil.py
  scipy/ndimage/__init__.py
  scipy/ndimage/io.py
  scipy/ndimage/tests/test_io.py
Labels: maintenance, scipy.misc, scipy.ndimage

#9507 CI: MAINT: Skip a ckdtree test on pypy
  scipy/sparse/linalg/isolve/tests/test_lgmres.py
  scipy/spatial/tests/test_kdtree.py
Labels: CI, scipy.sparse.linalg, scipy.spatial

#9486 BUG: fix sparse random int handling
  scipy/_lib/_numpy_compat.py
Labels: backport-candidate, defect, scipy.sparse

#9517 BUG: improve error handling in stats.iqr
  scipy/stats/stats.py
Labels: maintenance, scipy.stats

#9512 TST: test_random_sampling 32-bit handling
  scipy/sparse/tests/test_construct.py
Labels: backport-candidate, scipy.sparse

#9480 MAINT: linalg: lstsq clean up
  scipy/linalg/basic.py
  scipy/linalg/tests/test_basic.py
Labels: Documentation, maintenance, scipy.linalg

#9526 TST: relax precision requirements in signal.correlate tests
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#9489 DOC: roadmap update for changes over the last year.
  doc/ROADMAP.rst.txt
Labels: Documentation

#9532 TST: backport gh-9493 to 1.2.x branch
  scipy/spatial/tests/test_distance.py
Labels: maintenance, scipy.spatial

#9534 MAINT: multiple backports for 1.2.x
  scipy/_lib/_numpy_compat.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/linalg/isolve/tests/test_lgmres.py
  scipy/sparse/tests/test_construct.py
  scipy/spatial/tests/test_kdtree.py
  scipy/special/tests/test_kolmogorov.py
Labels: maintenance

#9541 BUG: fix SyntaxError due to non-ascii character on Python 2.7
  scipy/spatial/transform/rotation.py
Labels: backport-candidate, maintenance, scipy.spatial

#9550 BUG: scipy/_lib/_numpy_compat: get_randint
  scipy/_lib/_numpy_compat.py
  scipy/sparse/tests/test_construct.py
Labels: maintenance, scipy.sparse

#9549 MAINT: make dual_annealing signature match other optimizers
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: backport-candidate, scipy.optimize

#9554 CI: run PyPy tests on CircleCI with single-threaded OpenBLAS.
  .circleci/config.yml
Labels: CI

#9557 Tiny docstring format fix in scipy.optimize.shgo
  scipy/optimize/_shgo.py
Labels: scipy.optimize
