Repository scipy/scipy, pull requests merged in 2018-03, with the labels that each got.

#8497 DOC: Add explicit reasoning for the lack of Herm/Sym check in 'linalg.eigh'
  scipy/linalg/decomp.py
Labels: Documentation, scipy.linalg

#8496 ENH: special: make Chebyshev nodes symmetric
  scipy/special/orthogonal.py
  scipy/special/tests/test_orthogonal.py
Labels: enhancement, scipy.special

#8488 MAINT: special: add const/static specifiers where possible
  scipy/special/_precompute/expn_asy.py
  scipy/special/_precompute/gammainc_asy.py
  scipy/special/cephes/expn.c
  scipy/special/cephes/expn.h
  scipy/special/cephes/igam.c
  scipy/special/cephes/igam.h
  scipy/special/cephes/igami.c
  scipy/special/cephes/lanczos.c
  scipy/special/cephes/lanczos.h
  scipy/special/cephes/owens_t.c
  scipy/special/cephes/psi.c
  scipy/special/cephes/scipy_iv.c
  scipy/special/cephes/unity.c
  scipy/special/lapack_defs.h
Labels: maintenance, scipy.special

#8461 MAINT: Simplify return value of ndimage functions.
  scipy/ndimage/_ni_support.py
  scipy/ndimage/filters.py
  scipy/ndimage/fourier.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_ndimage.py
Labels: maintenance, scipy.ndimage

#7911 MAINT: Avoid unnecessary array copies in xdist
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: maintenance, scipy.spatial

#8264 ENH: Extend peak finding capabilities in scipy.signal
  THANKS.txt
  doc/release/1.1.0-notes.rst
  scipy/signal/__init__.py
  scipy/signal/_peak_finding.py
  scipy/signal/tests/test_peak_finding.py
Labels: enhancement, scipy.signal

#8413 TST: Improve coverage of convolve, etc.
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#8528 DOC: Better, shared docstrings in ndimage
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/filters.py
  scipy/ndimage/interpolation.py
Labels: Documentation, scipy.ndimage

#8481 DOC: Example for signal.cmplx_sort
  scipy/signal/signaltools.py
Labels: Documentation, scipy.signal

#8512 MAINT: Move spline interpolation code to spline.c
  scipy/ndimage/setup.py
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/src/ni_splines.c
  scipy/ndimage/src/ni_splines.h
  scipy/ndimage/tests/test_datatypes.py
  scipy/ndimage/tests/test_splines.py
Labels: maintenance, scipy.ndimage

#8442 MAINT: special: clean up Cephes header files
  scipy/special/_cephes.pxd
  scipy/special/cephes.h
Labels: maintenance, scipy.special

#8530 BUG: linalg: Fixed typo in flapack.pyf.src.
  scipy/linalg/flapack.pyf.src
Labels: backport-candidate, defect, scipy.linalg

#7004 ENH: scipy.linalg.eigsh cannot get all eigenvalues
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
Labels: good first issue, needs-work, scipy.sparse.linalg

#8489 BUG: ENH: use common halley's method instead of parabolic variant
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: scipy.optimize

#8538 MAINT: Fix a couple mistakes in .pyf files.
  scipy/fftpack/fftpack.pyf
  scipy/optimize/nnls/nnls.pyf
Labels: maintenance, scipy.fftpack, scipy.optimize

#8549 DOC: stats: invweibull is also known as Frechet or type II extreme value.
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#8557 [DOC]: fix Nakagami density docstring
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#8564 BLD: change default Python version for doc build from 2.7 to 3.6
  .travis.yml
  doc/Makefile
Labels: maintenance

#8546 ENH: New arguments, documentation, and tests for ndimage.binary_opening
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_ndimage.py
Labels: enhancement, scipy.ndimage

#8547 Giving both size and input now raises UserWarning (#7334)
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/filters.py
  scipy/ndimage/morphology.py
Labels: maintenance, scipy.ndimage

#8580 DOC: update link to asv docs
  benchmarks/README.rst
Labels: Documentation

#8483 ENH: io/netcdf: make mmap=False the default on PyPy
  scipy/io/netcdf.py
  scipy/io/tests/test_netcdf.py
Labels: enhancement, scipy.io

#8569 MAINT: reduce sort_vertices_of_regions() Python overhead
  scipy/spatial/_voronoi.pyx
Labels: maintenance, scipy.spatial

#8588 DOC: special: Remove heaviside from "functions not in special" in the tutorial.
  doc/source/tutorial/special.rst
Labels: Documentation, scipy.special

#8550 add cdf2rdf function
  scipy/linalg/__init__.py
  scipy/linalg/decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: enhancement, scipy.linalg

#8573 Backports for 1.0.1
  .travis.yml
  scipy/io/idl.py
  scipy/io/netcdf.py
  scipy/io/wavfile.py
  scipy/linalg/_solvers.py
  scipy/linalg/flapack.pyf.src
  scipy/misc/common.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/src/ni_support.c
  scipy/ndimage/tests/test_filters.py
  scipy/optimize/__minpack.h
  scipy/optimize/_linprog_ip.py
  scipy/optimize/cobyla.py
  scipy/optimize/minpack.h
  scipy/optimize/optimize.py
  scipy/optimize/tests/test__root.py
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/__init__.py
  scipy/sparse/sparsetools/sparsetools.cxx
  scipy/spatial/distance.py
  scipy/spatial/qhull.pyx
  scipy/spatial/tests/test_distance.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_mstats_extras.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_stats.py
  tools/ci/appveyor/requirements.txt
Labels: maintenance

#8591 DOC: cdf2rdf Added version info and "See also"
  scipy/linalg/decomp.py
Labels: Documentation, scipy.linalg

#8597 DOC: add versionadded 1.1.0 for new keywords in ndimage.morphology
  scipy/ndimage/morphology.py
Labels: Documentation, scipy.ndimage

#8581 Fix Cython 0.28 build break of qhull.pyx
  scipy/spatial/qhull.pyx
  tools/ci/appveyor/requirements.txt
Labels: backport-candidate, maintenance, scipy.spatial

#8605 MAINT: special: improve implementations of `sinpi` and `cospi`
  scipy/special/_trig.pxd
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_trig.py
Labels: maintenance, scipy.special

#8613 fix typo in doc of signal.peak_widths
  scipy/signal/_peak_finding.py
Labels: Documentation, scipy.signal

#8611 DOC: add SciPy 1.0.1 release notes (forward port from 1.0.x)
  doc/release/1.0.1-notes.rst
  doc/source/release.1.0.1.rst
  doc/source/release.rst
Labels: Documentation

#8523 ENH: Speed-up peak distance filtering with Cython
  scipy/signal/_peak_finding.py
  scipy/signal/_peak_finding_utils.pyx
  scipy/signal/tests/test_peak_finding.py
Labels: enhancement, scipy.signal

#8615 TST: fix failing linalg.qz float32 test by decreasing precision.
  scipy/linalg/tests/test_decomp.py
Labels: maintenance, scipy.linalg

#8555 MAINT: adjust benchmark config
  benchmarks/asv.conf.json
Labels: Benchmarks

#8400 Fix tolerance specification in sparse.linalg iterative solvers
  scipy/optimize/nonlin.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/iterative.py
  scipy/sparse/linalg/isolve/iterative/BiCGREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/BiCGSTABREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/CGREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/CGSREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/GMRESREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/QMRREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/STOPTEST2.f.src
  scipy/sparse/linalg/isolve/iterative/_iterative.pyf.src
  scipy/sparse/linalg/isolve/iterative/getbreak.f.src
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/minres.py
  scipy/sparse/linalg/isolve/setup.py
  scipy/sparse/linalg/isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/linalg/isolve/tests/test_lgmres.py
Labels: maintenance, scipy.sparse.linalg

#8621 MAINT: small cleanup of optimize.py.
  scipy/optimize/optimize.py
Labels: maintenance, scipy.optimize

#8584 filter_design: switch to explicit arguments, keeping None as wrapper for default
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: maintenance, scipy.signal

#8407 BUG: sparse.linalg: fix termination bugs for cg, cgs
  scipy/sparse/linalg/isolve/iterative.py
  scipy/sparse/linalg/isolve/iterative/CGSREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/QMRREVCOM.f.src
  scipy/sparse/linalg/isolve/tests/test_iterative.py
Labels: maintenance, scipy.sparse.linalg

#8608 FIX: Fix int check
  scipy/linalg/decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: maintenance, scipy.linalg

#8501 BUG: stats: Split the integral used to compute skewnorm.cdf.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#8318 ENH: odeint: Add the argument 'tfirst' to odeint.
  doc/release/1.1.0-notes.rst
  scipy/integrate/_odepackmodule.c
  scipy/integrate/odepack.py
  scipy/integrate/tests/test_integrate.py
Labels: enhancement, scipy.integrate

#8607 MAINT: add 2D benchmarks for convolve
  benchmarks/benchmarks/signal.py
Labels: Benchmarks, scipy.signal

#8631 BLD: fix pdf doc build. closes gh-8076
  doc/Makefile
  doc/release/0.13.0-notes.rst
  doc/release/0.18.0-notes.rst
  scipy/optimize/_root.py
  scipy/signal/windows/windows.py
  scipy/stats/_continuous_distns.py
Labels: Build issues, Documentation, maintenance

#8635 MAINT: remove spurious warning from (z)vode and lsoda. Closes gh-7888
  scipy/integrate/odepack/lsoda.f
  scipy/integrate/odepack/vode.f
  scipy/integrate/odepack/zvode.f
Labels: maintenance, scipy.integrate

#8636 BUG: sparse.linalg/gcrotmk: avoid rounding error in termination check
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/tests/test_gcrotmk.py
Labels: maintenance, scipy.sparse.linalg
