Repository scipy/scipy, pull requests merged in 2018-04, with the labels that each got.

#8633 BUG: fix regression in `io.netcdf_file` with append mode.
  scipy/io/netcdf.py
  scipy/io/tests/test_netcdf.py
Labels: backport-candidate, maintenance, scipy.io

#8328 ENH: optimize: ``trust-constr`` optimization algorithms [GSoC 2017]
  THANKS.txt
  doc/source/optimize.minimize-trustconstr.rst
  doc/source/tutorial/optimize.rst
  scipy/optimize/__init__.py
  scipy/optimize/_constraints.py
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_hessian_update_strategy.py
  scipy/optimize/_minimize.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_trustregion_constr/__init__.py
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/_trustregion_constr/report.py
  scipy/optimize/_trustregion_constr/setup.py
  scipy/optimize/_trustregion_constr/tests/__init__.py
  scipy/optimize/_trustregion_constr/tests/test_canonical_constraint.py
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/setup.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_hessian_update_strategy.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: enhancement, scipy.optimize

#8640 TST: fix special test that was importing `np.testing.utils` (deprecated)
  scipy/special/_testutils.py
  scipy/special/tests/test_basic.py
Labels: maintenance, scipy.special

#8618 add fsolve docs it doesn't handle over- or under-determined problems
  scipy/optimize/minpack.py
Labels: Documentation, scipy.optimize

#8554 ENH: stats: Use explicit MLE formulas in uniform.fit()
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#8541 ENH: Cythonize peak_prominences
  scipy/signal/_peak_finding.py
  scipy/signal/_peak_finding_utils.pyx
  scipy/signal/tests/test_peak_finding.py
Labels: enhancement, scipy.signal

#8620 DOC: add note on dtype attribute of aslinearoperator() argument
  scipy/sparse/linalg/interface.py
Labels: Documentation, scipy.sparse.linalg

#8553 Note in docs to address issue #3164.
  scipy/interpolate/fitpack2.py
Labels: Documentation, scipy.interpolate

#8540 ENH: interpolate: allow string aliases in make_interp_spline BC
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate

#8522 TST: special: restrict range of `test_besselk`/`test_besselk_int`
  scipy/special/tests/test_mpmath.py
Labels: maintenance, scipy.special

#8457 MAINT: special: use JSON for function signatures in `_generate_pyx.py`
  scipy/special/_generate_pyx.py
  scipy/special/functions.json
Labels: maintenance, scipy.special

#8647 TST: sparse: skip test_inplace_dense for numpy<1.13
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse

#8437 BUG: correct behavior for skew-symmetric matrices in io.mmwrite
  scipy/io/mmio.py
  scipy/io/tests/test_mmio.py
Labels: maintenance, scipy.io

#8204 ENH: sparse.linalg/lobpcg: change .T to .T.conj() to support hermitian matrices
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: maintenance, scipy.sparse.linalg

#8088 DOC: note version for which new attributes have been added to ConvexHull class
  scipy/spatial/qhull.pyx
Labels: Documentation, scipy.spatial

#8659 TST: special: skip sign-of-zero test on 32-bit win32 with old MSVC
  scipy/special/tests/test_trig.py
Labels: maintenance, scipy.special

#8671 DOC: Replace deprecated matplotlib kwarg
  scipy/special/_logsumexp.py
  scipy/stats/_binned_statistic.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/morestats.py
Labels: Build issues, Documentation, maintenance

#8572 ENH: Add previous/next to interp1d
  scipy/interpolate/interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#8232 BUG: sparse: Use deduped data for numpy ufuncs
  scipy/sparse/data.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#8641 BUG: optimize: fixed sparse redundancy removal bug
  scipy/optimize/_remove_redundancy.py
Labels: maintenance, scipy.optimize

#8587 TST: add benchmark for newton, secant, halley
  benchmarks/benchmarks/optimize_zeros.py
Labels: Benchmarks, scipy.optimize

#8515 ENH: special: improve accuracy of `zetac` for negative arguments
  scipy/special/_precompute/zetac.py
  scipy/special/cephes/zetac.c
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_zeta.py
Labels: enhancement, scipy.special

#7983 ENH: special: Add a real dispatch to `loggamma`
  scipy/special/_loggamma.pxd
  scipy/special/functions.json
  scipy/special/tests/test_loggamma.py
Labels: enhancement, scipy.special

#8551 ENH: Port of most of the dd_real part of the qd high-precision package.
  LICENSE.txt
  scipy/special/_cunity.pxd
  scipy/special/_round.h
  scipy/special/_test_round.pyx
  scipy/special/c_misc/double2.h
  scipy/special/c_misc/struve.c
  scipy/special/cephes/dd_idefs.h
  scipy/special/cephes/dd_real.c
  scipy/special/cephes/dd_real.h
  scipy/special/cephes/dd_real_idefs.h
  scipy/special/setup.py
Labels: enhancement, scipy.special

#8690 DEP: deprecate stats.itemfreq
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#8595 MAINT/ENH/BUG/TST: cdf2rdf: Address review comments made after merge
  scipy/linalg/decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: maintenance, needs-work, scipy.linalg

#8578 Example for linalg.eig()
  scipy/linalg/decomp.py
Labels: Documentation, scipy.linalg

#8104 Input checking for scipy.sparse.linalg.inverse()
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#7483 ENH: Addition/multiplication operators for StateSpace systems
  scipy/signal/ltisys.py
  scipy/signal/tests/test_ltisys.py
Labels: enhancement, scipy.signal

#7566 Informative exception when passing a sparse matrix
  scipy/spatial/distance.py
Labels: maintenance, needs-work, scipy.sparse

#8568 BUG: Fixes Bland's Rule for pivot row/leaving variable, closes #8561
  scipy/optimize/_linprog.py
  scipy/optimize/tests/test_linprog.py
Labels: defect, scipy.optimize

#8423 FIX: Handle unsigned integers in mmio
  scipy/io/mmio.py
  scipy/io/tests/test_mmio.py
Labels: scipy.io

#6590 BUG: sparse: fix custom rvs callable argument in sparse.random
  scipy/sparse/construct.py
Labels: needs-work, scipy.sparse

#8693 ENH: optimize: call callback with a copy for scipy.optimize
  scipy/optimize/_trustregion.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/lbfgsb.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#8630 ENH: Remove unnecessary copying in stats.percentileofscore
  scipy/stats/stats.py
Labels: enhancement, scipy.stats

#8594 ENH: Cythonize peak_widths
  scipy/signal/_peak_finding.py
  scipy/signal/_peak_finding_utils.pyx
  scipy/signal/tests/test_peak_finding.py
Labels: enhancement, scipy.signal

#8706 DOC: Specify encoding of rst file, remove an ambiguity in an SVD example
  scipy/linalg/decomp_svd.py
  tools/refguide_check.py
Labels: Documentation

#8711 ENH: remove an avoidable overflow in scipy.stats.norminvgauss.pdf()
  scipy/stats/_continuous_distns.py
Labels: maintenance, scipy.stats

#8697 BUG: Fix `setup.py build install egg_info`, which did not previously build
  setup.py
Labels: Build issues, defect

#8676 BUG: optimize: partial fix to linprog fails to detect infeasibility #8664
  scipy/optimize/_linprog_ip.py
  scipy/optimize/tests/test_linprog.py
Labels: defect, scipy.optimize

#7352 ENH: add Brunner Munzel test to scipy.stats.
  THANKS.txt
  scipy/stats/__init__.py
  scipy/stats/mstats.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#8720 np.testing import that is compatible with numpy 1.15
  scipy/stats/morestats.py
Labels: backport-candidate

#8731 BUG: signal: restore backward-compatible import for hanning
  scipy/signal/__init__.py
  scipy/signal/tests/test_windows.py
Labels: defect, scipy.signal

#8746 MAINT: signal: Fix a docstring of a private function, and fix a line length (PEP 8)
  scipy/signal/waveforms.py
Labels: maintenance, scipy.signal

#8732 DOC: special: fix loggamma documentation vs. gammaln
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#8753 DOC: signal: Fix a plot title in the chirp docstring.
  scipy/signal/waveforms.py
Labels: Documentation, scipy.signal

#8750 DOC clarified description of norminvgauss in scipy.stats
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#8742 BUG: Fix division by zero in trust-region optimization methods
  scipy/optimize/_trustregion.py
  scipy/optimize/tests/test_trustregion.py
Labels: defect, scipy.optimize

#8749 BUG: Handle UTF-8 input files under Py3 in doc postprocessing.
  doc/postprocess.py
Labels: Build issues, Documentation

#8769 BENCH: Add benchmarks for signal.find_peaks and related functions
  benchmarks/benchmarks/peak_finding.py
Labels: Benchmarks, scipy.signal

#8784 BLD: remove special/tests/data/local/ from sdist.
  MANIFEST.in
Labels: maintenance
