Repository scipy/scipy, pull requests merged in 2018-10, with the labels that each got.

#9326 Add example for Rosenbrock function
  scipy/optimize/optimize.py
Labels: Documentation, scipy.optimize

#9282 MAINT: dense_output and t_eval are mutually exclusive inputs
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/tests/test_ivp.py
Labels: scipy.integrate

#9351 MAINT: special.erf: use the x->-x symmetry
  scipy/special/cephes/ndtr.c
  scipy/special/tests/test_basic.py
Labels: maintenance, scipy.special

#9343 MAINT Use np.full when possible
  scipy/integrate/_ivp/common.py
  scipy/integrate/quadrature.py
  scipy/linalg/_decomp_update.pyx.in
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_group_columns.pyx
  scipy/optimize/nonlin.py
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/stats.py
Labels: maintenance

#9327 MAINT: Convert instructions to hidden HTML comment
  .github/ISSUE_TEMPLATE.md
  doc/source/tutorial/arpack.rst
Labels: github, maintenance

#9317 Nested SLSQP bug fix.
  THANKS.txt
  scipy/optimize/slsqp.py
  scipy/optimize/slsqp/slsqp.pyf
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/optimize/tests/test_slsqp.py
Labels: enhancement, scipy.optimize

#9320 MAINT: stats: avoid underflow in stats.geom.ppf
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#9358 DOC: improve doc for ksone and kstwobign in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
Labels: Documentation, scipy.stats

#8259 Option to follow original Storn and Price algorithm and its parallelisation
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
  tools/refguide_check.py
Labels: enhancement, scipy.optimize

#9369 DOC: minor tweak to CoC (updated NumFOCUS contact address).
  doc/source/dev/conduct/code_of_conduct.rst
Labels: Documentation

#9372 DOC: stats/binned_statistic_dd argument names
  scipy/stats/_binned_statistic.py
Labels: Documentation, scipy.stats

#9267 DOC: clarify expect() return val when moment is inf/nan
  scipy/stats/_distn_infrastructure.py
Labels: Documentation, scipy.stats

#9379 MAINT: TST: Make tests NumPy 1.8 compatible
  scipy/optimize/tests/test__differential_evolution.py
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.optimize, scipy.signal

#9387 Fix defaut value for 'mode' in 'ndimage.shift' in the doc
  scipy/ndimage/_ni_docstrings.py
Labels: Documentation, scipy.ndimage

#9374 FIX: AIX compilation issue with NAN and INFINITY
  scipy/special/cephes/dd_real.h
Labels: Build issues

#9294 DOC: fix the formula typo
  doc/source/tutorial/optimize.rst
Labels: Documentation, scipy.optimize

#9364 MAINT: Adds implicit none to fftpack fortran sources
  scipy/fftpack/src/dfftpack/dcosqb.f
  scipy/fftpack/src/dfftpack/dcosqf.f
  scipy/fftpack/src/dfftpack/dcosqi.f
  scipy/fftpack/src/dfftpack/dcost.f
  scipy/fftpack/src/dfftpack/dcosti.f
  scipy/fftpack/src/dfftpack/dfftb.f
  scipy/fftpack/src/dfftpack/dfftb1.f
  scipy/fftpack/src/dfftpack/dfftf.f
  scipy/fftpack/src/dfftpack/dfftf1.f
  scipy/fftpack/src/dfftpack/dffti.f
  scipy/fftpack/src/dfftpack/dffti1.f
  scipy/fftpack/src/dfftpack/dsinqb.f
  scipy/fftpack/src/dfftpack/dsinqf.f
  scipy/fftpack/src/dfftpack/dsinqi.f
  scipy/fftpack/src/dfftpack/dsint.f
  scipy/fftpack/src/dfftpack/dsint1.f
  scipy/fftpack/src/dfftpack/dsinti.f
  scipy/fftpack/src/dfftpack/zfftb.f
  scipy/fftpack/src/dfftpack/zfftb1.f
  scipy/fftpack/src/dfftpack/zfftf.f
  scipy/fftpack/src/dfftpack/zfftf1.f
  scipy/fftpack/src/dfftpack/zffti.f
  scipy/fftpack/src/dfftpack/zffti1.f
  scipy/fftpack/src/fftpack/cfftb.f
  scipy/fftpack/src/fftpack/cfftb1.f
  scipy/fftpack/src/fftpack/cfftf.f
  scipy/fftpack/src/fftpack/cfftf1.f
  scipy/fftpack/src/fftpack/cffti.f
  scipy/fftpack/src/fftpack/cffti1.f
  scipy/fftpack/src/fftpack/cosqb.f
  scipy/fftpack/src/fftpack/cosqf.f
  scipy/fftpack/src/fftpack/cosqi.f
  scipy/fftpack/src/fftpack/cost.f
  scipy/fftpack/src/fftpack/costi.f
  scipy/fftpack/src/fftpack/rfftb.f
  scipy/fftpack/src/fftpack/rfftb1.f
  scipy/fftpack/src/fftpack/rfftf.f
  scipy/fftpack/src/fftpack/rfftf1.f
  scipy/fftpack/src/fftpack/rffti.f
  scipy/fftpack/src/fftpack/rffti1.f
  scipy/fftpack/src/fftpack/sinqb.f
  scipy/fftpack/src/fftpack/sinqf.f
  scipy/fftpack/src/fftpack/sinqi.f
  scipy/fftpack/src/fftpack/sint.f
  scipy/fftpack/src/fftpack/sint1.f
  scipy/fftpack/src/fftpack/sinti.f
Labels: maintenance, scipy.fftpack

#9400 TST: stats: Fix the expected r-value of a linregress test.
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#9385 CI: On Travis matrix "OPTIMIZE=-OO" flag ignored
  .travis.yml
  runtests.py
  scipy/misc/doccer.py
  scipy/sparse/generate_sparsetools.py
  scipy/special/_generate_pyx.py
  scipy/special/utils/makenpz.py
  setup.py
Labels: Build issues, CI, github

#9405 BUG: np.hstack does not accept generator expressions
  scipy/linalg/basic.py
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_multivariate.py
Labels: defect, scipy.linalg, scipy.optimize, scipy.stats

#9408 ENH: linalg: Shorter ill-conditioned warning message
  scipy/linalg/basic.py
  scipy/sparse/linalg/tests/test_matfuncs.py
Labels: enhancement, scipy.linalg

#8737 BUG: Improve numerical precision/convergence failures of smirnov/kolmogorov
  scipy/special/__init__.py
  scipy/special/_cephes.pxd
  scipy/special/_legacy.pxd
  scipy/special/_testutils.py
  scipy/special/add_newdocs.py
  scipy/special/cephes.h
  scipy/special/cephes/cephes_names.h
  scipy/special/cephes/kolmogorov.c
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_kolmogorov.py
  scipy/stats/_continuous_distns.py
Labels: defect, enhancement, scipy.special, scipy.stats

#9306 ENH - add dual annealing
  scipy/optimize/__init__.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: enhancement, scipy.optimize

#9367 ENH+BUG: Add first_step functionality to all solve_ivp methods and fix lsoda first_step for backwards case (fixes #9366)
  scipy/integrate/_ivp/bdf.py
  scipy/integrate/_ivp/common.py
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/lsoda.py
  scipy/integrate/_ivp/radau.py
  scipy/integrate/_ivp/rk.py
  scipy/integrate/tests/test_ivp.py
Labels: enhancement, scipy.integrate

#8558 ENH: small speedup for stats.gaussian_kde
  benchmarks/benchmarks/stats.py
  scipy/stats/kde.py
Labels: enhancement, scipy.stats

#9418 DOC: Fix ndimage docstrings and reduce doc build warnings
  scipy/integrate/quadpack.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/fitpack2.py
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/interpolation.py
  scipy/signal/filter_design.py
  scipy/signal/windows/windows.py
  scipy/stats/_continuous_distns.py
Labels: Documentation, maintenance, scipy.integrate, scipy.interpolate, scipy.ndimage, scipy.signal

#9309 ENH add the yulesimon distribution to scipy.stats
  doc/source/tutorial/stats.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_basic.py
Labels: enhancement, scipy.stats

#9427 BUG: Fixed defect with maxiter #9419 in dual annealing
  scipy/optimize/_dual_annealing.py
Labels: maintenance, scipy.optimize
