Repository scipy/scipy, pull requests merged in 2019-04, with the labels that each got.

#10000 DOC: Describe distance condition in context of edges
  scipy/signal/_peak_finding.py
Labels: Documentation, scipy.signal

#9996 BUG: Make minimize_quadratic_1d work with infinite bounds correctly
  scipy/optimize/_lsq/common.py
  scipy/optimize/tests/test_lsq_common.py
Labels: defect, scipy.optimize

#10018 MAINT: special: Fix a few warnings that occur when compiling the cephes code.
  scipy/special/cephes/hyp2f1.c
  scipy/special/cephes/igam.c
  scipy/special/cephes/mtherr.c
  scipy/special/cephes/polevl.h
Labels: maintenance, scipy.special

#9993 BUG: Use const where possible in shortest_path
  .gitignore
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: defect, scipy.sparse.csgraph

#10019 TST: Azure summarizes test failures
  azure-pipelines.yml
Labels: CI

#9766 ENH: Speed up _gaussian_kernel1d by removing dependence on np.polynomial
  scipy/ndimage/filters.py
Labels: enhancement, scipy.ndimage

#10028 Fix rotate invalid plane check
  scipy/ndimage/interpolation.py
  scipy/ndimage/tests/test_ndimage.py
Labels: maintenance, scipy.ndimage

#8431 ENH: Cython optimize zeros api
  .gitignore
  doc/source/optimize.cython_optimize.rst
  doc/source/optimize.rst
  scipy/optimize.pxd
  scipy/optimize/Zeros/zeros.h
  scipy/optimize/__init__.py
  scipy/optimize/cython_optimize.pxd
  scipy/optimize/cython_optimize/__init__.py
  scipy/optimize/cython_optimize/_zeros.pxd
  scipy/optimize/cython_optimize/_zeros.pyx.in
  scipy/optimize/cython_optimize/c_zeros.pxd
  scipy/optimize/setup.py
  scipy/optimize/tests/test_cython_optimize.py
Labels: enhancement, scipy.optimize

#10027 MAINT: cluster: clean up the use of malloc() in the function identify_swaps().
  scipy/cluster/_optimal_leaf_ordering.pyx
Labels: maintenance, scipy.cluster

#10041 MAINT: special: Fix a warning generated when building the AMOS library.
  scipy/special/amos/zbesy.f
Labels: maintenance, scipy.special

#10044 DOC: fix up spatial.transform.Rotation docstrings
  scipy/spatial/transform/rotation.py
Labels: Documentation, scipy.spatial

#10046 BUG/TST: optimize: Fix a test that occasionally raises an exception.
  scipy/optimize/_trustregion_constr/tests/test_canonical_constraint.py
Labels: defect, scipy.optimize

#10047 MAINT: interpolate: Fix a few build warnings.
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/src/__fitpack.h
  scipy/interpolate/src/multipack.h
Labels: maintenance, scipy.interpolate

#10054 MAINT: signal: Fix a few build warnings and modernize some C function declarations.
  scipy/signal/C_bspline_util.c
  scipy/signal/D_bspline_util.c
  scipy/signal/Z_bspline_util.c
  scipy/signal/lfilter.c.src
Labels: maintenance, scipy.signal

#10040 MAINT: fix pratt method of wilcox test in scipy.stats
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: maintenance, scipy.stats

#10025 BUG: optimize: tweaked linprog status 4 error message
  scipy/optimize/_linprog_util.py
Labels: Documentation, scipy.optimize

#10056 BUG: Ensure factorial is not too large in kendaltau
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#10058 Small speedup in samping from ortho and special_ortho groups
  benchmarks/benchmarks/stats.py
  scipy/stats/_multivariate.py
Labels: enhancement, scipy.stats

#10004 BUG: Fix unbound local error in linprog - simplex.
  scipy/optimize/_linprog_simplex.py
Labels: maintenance, scipy.optimize

#10007 BLD: fix Python 3.7 build with build isolation
  .travis.yml
  MANIFEST.in
  pyproject.toml
Labels: Build issues, CI

#10061 BLD: DOC: make building docs easier by parsing python version.
  doc/Makefile
Labels: Build issues, Documentation

#10065 DOC: Reword parameter descriptions in `optimize.root_scalar`
  scipy/optimize/_root_scalar.py
Labels: Documentation, scipy.optimize

#10064 ENH: Significant speedup for ortho and special ortho group
  benchmarks/benchmarks/stats.py
  scipy/stats/_multivariate.py
Labels: enhancement, scipy.stats

#10066 BUG: signal: Fix error raised by savgol_coeffs when deriv > polyorder.
  scipy/signal/_savitzky_golay.py
  scipy/signal/tests/test_savitzky_golay.py
Labels: defect, scipy.signal

#9562 MAINT: stats: Rewrite pearsonr.
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#9915 cKDTree query_ball_point improvements
  scipy/spatial/ckdtree.pyx
  scipy/spatial/ckdtree/src/build.cxx
  scipy/spatial/ckdtree/src/ckdtree_decl.h
  scipy/spatial/ckdtree/src/ckdtree_methods.h
  scipy/spatial/ckdtree/src/coo_entries.h
  scipy/spatial/ckdtree/src/count_neighbors.cxx
  scipy/spatial/ckdtree/src/cpp_exc.cxx
  scipy/spatial/ckdtree/src/cpp_exc.h
  scipy/spatial/ckdtree/src/cpp_utils.h
  scipy/spatial/ckdtree/src/distance.h
  scipy/spatial/ckdtree/src/distance_base.h
  scipy/spatial/ckdtree/src/globals.cxx
  scipy/spatial/ckdtree/src/ordered_pair.h
  scipy/spatial/ckdtree/src/partial_sort.h
  scipy/spatial/ckdtree/src/query.cxx
  scipy/spatial/ckdtree/src/query_ball_point.cxx
  scipy/spatial/ckdtree/src/query_ball_tree.cxx
  scipy/spatial/ckdtree/src/query_pairs.cxx
  scipy/spatial/ckdtree/src/rectangle.h
  scipy/spatial/ckdtree/src/sparse_distances.cxx
  scipy/spatial/setup.py
  scipy/spatial/tests/test_kdtree.py
Labels: enhancement, scipy.spatial

#9990 ENH: constraint violation
  scipy/optimize/_constraints.py
  scipy/optimize/tests/test_constraints.py
Labels: enhancement, scipy.optimize

#9559 DOC: add section on global optimizers to tutorial
  doc/source/tutorial/examples/optimize_global_1.py
  doc/source/tutorial/examples/optimize_global_2.py
  doc/source/tutorial/optimize.rst
Labels: Documentation, scipy.optimize

#9705 Fix coefficients in expm helper function
  scipy/sparse/linalg/matfuncs.py
Labels: scipy.sparse.linalg

#10072 BUG: stats: Fix boxcox_llf to avoid loss of precision.
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#10021 ENH: Introduce CubicHermiteSpline
  scipy/interpolate/__init__.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_polyint.py
Labels: enhancement, scipy.interpolate

#10052 don't set flag to "converged" if max iter exceeded
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.c
Labels: maintenance, scipy.optimize

#10026 ENH: optimize: use SuiteSparse in linprog interior-point when available
  scipy/optimize/_linprog_ip.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#10077 DOC: Replace undefined `k` in `interpolate.splev` docstring
  scipy/interpolate/fitpack.py
Labels: Documentation, scipy.interpolate

#10075 ENH: Add wrappers for ?syconv routines
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#10076 BUG: optimize: fix curve_fit for mixed float32/float64 input
  scipy/optimize/minpack.py
  scipy/optimize/tests/test_minpack.py
Labels: defect, scipy.optimize

#9838 ENH: Use faster solvers for firls
  benchmarks/benchmarks/signal.py
  scipy/signal/fir_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
Labels: enhancement, scipy.signal

#9500 DOC: Document the toolchain and its roadmap.
  doc/source/dev/distributing.rst
  doc/source/index.rst
  doc/source/toolchain.rst
Labels: Documentation

#10009 BUG: Make sure that _binary_erosion only accepts an integer number of iterations.
  scipy/ndimage/morphology.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/tests/test_morphology.py
Labels: maintenance, scipy.ndimage

#9854 ENH: loadarff now supports relational attributes.
  THANKS.txt
  scipy/io/arff/arffread.py
  scipy/io/arff/tests/data/test10.arff
  scipy/io/arff/tests/data/test9.arff
  scipy/io/arff/tests/test_arffread.py
Labels: enhancement, scipy.io

#10079 DOC: Fixed typo, rearranged some doc of stats.morestats.wilcoxon.
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#10085 CI: remove PyPy from CircleCI build matrix.
  .circleci/config.yml
Labels: CI, maintenance

#9900 BUG: Restrict rv_generic._argcheck() and its overrides from setting members.
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#9568 raise runtime error for newton with zeroder if disp true, add tests
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: maintenance, scipy.optimize

#10090 MAINT: Fix CubicSplinerInterpolator for pandas
  scipy/interpolate/_cubic.py
Labels: scipy.interpolate

#10091 MAINT: improve logcdf and logsf of hypergeometric distribution
  THANKS.txt
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#10083 Clean ``_clean_inputs`` in optimize.linprog
  scipy/optimize/_linprog_util.py
Labels: maintenance, scipy.optimize

#10067 MAINT: Fix the cutoff value inconsistency for pinv2 and pinvh
  scipy/linalg/basic.py
  scipy/linalg/tests/test_basic.py
Labels: maintenance, scipy.linalg

#9753 ENH: Added exact computation for Kolmogorov-Smirnov two-sample test.
  doc/source/tutorial/stats.rst
  scipy/special/add_newdocs.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9831 ENH: Implement RotationSpline
  scipy/spatial/transform/__init__.py
  scipy/spatial/transform/_rotation_spline.py
  scipy/spatial/transform/tests/test_rotation_spline.py
Labels: enhancement, scipy.spatial

#10088 ENH: optimize: linprog test CHOLMOD/UMFPACK solvers when available
  scipy/optimize/_linprog_ip.py
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize

#10097 DOC: update 1.3.0 release notes / mailmap
  .mailmap
  doc/release/1.3.0-notes.rst
Labels: Documentation

#10100 REL: set version to 1.4.0.dev0
  doc/release/1.4.0-notes.rst
  doc/source/release.1.4.0.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#10099 DOC: Add missing docs for linprog unknown_options
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_rs.py
  scipy/optimize/_linprog_simplex.py
Labels: Documentation, scipy.optimize

#10057 DOC: add the doc source file for the `yulesimon`
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_yulesimon.rst
Labels: Documentation, scipy.stats

#10110 MAINT: _lib: Fix a build warning.
  scipy/_lib/messagestream.pyx
Labels: maintenance, scipy.lib

#10115 TST: Add a test with an almost singular design matrix for lsq_linear
  scipy/optimize/tests/test_lsq_linear.py
Labels: maintenance, scipy.optimize
