Repository scipy/scipy, pull requests merged in 2019-03, with the labels that each got.

#9788 TST, BUG: f2py-related issues with NumPy < 1.14.0
  .travis.yml
  scipy/interpolate/tests/test_bsplines.py
Labels: CI, backport-candidate, defect

#9330 Add note on push and pull affine transformations
  scipy/ndimage/interpolation.py
Labels: Documentation, scipy.ndimage

#9423 DOC: Clearly state how 2x2 input arrays are handled in stats.linregress
  scipy/stats/_stats_mstats_common.py
  scipy/stats/mstats_basic.py
Labels: Documentation, scipy.stats

#9227 DOC: update description of "direc" parameter of "fmin_powell"
  scipy/optimize/optimize.py
Labels: Documentation, scipy.optimize

#8744 DOC: added examples to remez docstring
  scipy/signal/fir_filter_design.py
Labels: Documentation, scipy.signal

#8743 DOC: Updated linalg.pinv, .pinv2, .pinvh docstrings
  scipy/linalg/basic.py
Labels: Documentation, scipy.linalg

#9888 MAINT: Replace NumPy aliased functions
  scipy/interpolate/fitpack2.py
  scipy/io/matlab/mio4.py
  scipy/io/matlab/mio5.py
  scipy/linalg/basic.py
  scipy/linalg/matfuncs.py
  scipy/linalg/tests/test_decomp.py
  scipy/misc/common.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_regression.py
  scipy/optimize/minpack.py
  scipy/optimize/optimize.py
  scipy/signal/lti_conversion.py
  scipy/signal/signaltools.py
  scipy/signal/tests/test_ltisys.py
  scipy/sparse/data.py
  scipy/special/_generate_pyx.py
Labels: maintenance

#9648 Add `stats.contingency` to refguide-check
  scipy/stats/contingency.py
  tools/refguide_check.py
Labels: maintenance, scipy.stats

#9625 Return the number of calls to 'hessp' (not just 'hess') in trust region methods.
  scipy/optimize/_trustregion.py
Labels: maintenance, scipy.optimize

#9810 ENH: Add the geometric standard deviation function
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9796 MAINT: Allow None tolerances in least_squares
  doc/source/tutorial/optimize.rst
  scipy/optimize/_lsq/common.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/trf.py
  scipy/optimize/tests/test_least_squares.py
Labels: maintenance, scipy.optimize

#9660 ENH: add pearson, tippett, and mudholkar-george to combine_pvalues
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9894 scipy.signal.find_peaks documentation error
  scipy/signal/_peak_finding.py
Labels: Documentation, scipy.signal

#9829 ENH: Add FOH and equivalent impulse response discretizations to scipy.signal.cont2discrete
  scipy/signal/lti_conversion.py
  scipy/signal/tests/test_cont2discrete.py
Labels: enhancement, scipy.signal

#9898 BUG: Set success attribute in OptimizeResult. See #9801
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: maintenance, scipy.optimize

#9619 FIX: Sparse matrix addition/subtraction eliminates explicit zeros
  scipy/sparse/sparsetools/csr.h
Labels: scipy.sparse

#9884 ENH: Use Sparsity in Clarkson-Woodruff Sketch
  THANKS.txt
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_sketches.py
Labels: enhancement, scipy.linalg

#9914 DOC: change ValueError message in _validate_pad of signaltools.
  scipy/signal/signaltools.py
Labels: defect, scipy.signal

#9880 BUG: Fix divide by zero warnings caused by error_norms=0 in bdf.py
  scipy/integrate/_ivp/bdf.py
Labels: maintenance, scipy.integrate

#9792 ENH: Allow inplace copying in place in "detrend" function
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal

#9906 fixed a bug in kde logpdf
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: maintenance, scipy.stats

#9522 ENH: Add Fiedler and fiedler companion to special matrices
  scipy/linalg/__init__.py
  scipy/linalg/special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg

#9920 BUG: sparse: Validate explicit shape if given with dense argument to coo_matrix
  scipy/sparse/coo.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#9807 MAINT: improve doc and add alternative keyword to wilcoxon in scipy.stats
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: maintenance, scipy.stats

#9924 BLD: add back pyproject.toml
  azure-pipelines.yml
  pyproject.toml
  setup.py
  tools/cythonize.py
Labels: Build issues

#9936 Revert gh-9619: "FIX: Sparse matrix addition/subtraction eliminates explicit zeros"
  scipy/sparse/sparsetools/csr.h
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse

#9937 MAINT: fix PEP8 issues and update to pycodestyle 2.5.0
  .travis.yml
  benchmarks/benchmarks/common.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_C.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_D.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_J.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_Q.py
  benchmarks/benchmarks/signal.py
  benchmarks/benchmarks/spatial.py
  scipy/linalg/special_matrices.py
  scipy/linalg/tests/test_basic.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/signal/tests/test_upfirdn.py
  scipy/special/tests/test_orthogonal.py
  tox.ini
Labels: maintenance

#9935 DOC: fix references for stats.f_oneway
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#9931 Fix empty constraint
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: maintenance, scipy.optimize

#9892 BUG: Fix 9890 query_ball_point returns wrong result when p is large.
  scipy/spatial/ckdtree.pyx
  scipy/spatial/ckdtree/src/query_ball_point.cxx
  scipy/spatial/ckdtree/src/rectangle.h
  scipy/spatial/tests/test_kdtree.py
Labels: defect, scipy.spatial

#9664 ENH: adding multi-target dijsktra performance enhancement
  THANKS.txt
  benchmarks/benchmarks/sparse_csgraph_djisktra.py
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: enhancement, scipy.sparse.csgraph

#9940 MAINT: remove extraneous distutils copies
  appveyor.yml
  azure-pipelines.yml
Labels: CI

#9539 ENH: add two-sample test (Epps-Singleton) to scipy.stats
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9774 TST: bump Azure CI OpenBLAS version to match wheels
  azure-pipelines.yml
Labels: CI, backport-candidate, maintenance

#9949 Added 'std' to add doctstrings since it is a `known_stats` but not documented
  scipy/stats/_binned_statistic.py
Labels: Documentation, scipy.stats

#9952 DOC: ENH: Add examples to `special.ellipe` documentation
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#9971 ENH: Improve performance of lsmr
  scipy/sparse/linalg/isolve/lsmr.py
Labels: enhancement, scipy.sparse.linalg

#9721 ENH: Convexhull visiblefacets
  scipy/spatial/qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: enhancement, scipy.spatial

#9969 DOC: fix Notes section of `special.ellipj` docstring
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#9962 __repr__ for Bounds
  scipy/optimize/_constraints.py
  scipy/optimize/tests/test_constraints.py
Labels: scipy.optimize

#9939 DOC: correct `structure` description in `ndimage.label` docstring
  scipy/ndimage/measurements.py
Labels: Documentation, scipy.ndimage

#9979 BUILD: move to pypy3-v7.1
  .circleci/config.yml
Labels: CI

#9980 ENH: Use JUnit to make CircleCI more readable
  .circleci/config.yml
Labels: CI

#9945 ENH: differential_evolution can use Bounds object
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#9856 integrate.bvp - improve handling of nonlinear boundary conditions
  scipy/integrate/_bvp.py
  scipy/integrate/tests/test_bvp.py
Labels: maintenance, scipy.integrate

#9465 MAINT: Clean up optimize.zeros C solvers interfaces/code.
  scipy/optimize/Zeros/bisect.c
  scipy/optimize/Zeros/brenth.c
  scipy/optimize/Zeros/brentq.c
  scipy/optimize/Zeros/ridder.c
  scipy/optimize/Zeros/zeros.h
  scipy/optimize/zeros.c
  scipy/optimize/zeros.py
Labels: maintenance, needs-decision, scipy.optimize

#9893 BUG: curve_fit doesn't check for empty input if called with bounds
  scipy/optimize/minpack.py
  scipy/optimize/tests/test_minpack.py
Labels: maintenance, scipy.optimize

#9991 BUG: Avoid inplace modification of input array in newton
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: backport-candidate, maintenance, scipy.optimize

#9995 MAINT: sparse.csgraph: Add cdef to stop build warning.
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: maintenance, scipy.sparse.csgraph
