Repository scipy/scipy, pull requests merged in 2019-02, with the labels that each got.

#9739 BUG: qr_updates fails if u is exactly in span Q
  scipy/linalg/_decomp_update.pyx.in
  scipy/linalg/tests/test_decomp_update.py
Labels: backport-candidate, scipy.linalg

#9726 BUG: Fix small issues with `signal.lfilter'
  scipy/signal/lfilter.c.src
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal

#9730 ENH: reduce sizeof(NI_WatershedElement) by 20%
  scipy/ndimage/src/ni_measure.c
Labels: maintenance, scipy.ndimage

#9646 BUG: stats: mode for objects w/ndim > 1
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#9755 DOC: Added example for signal.impulse, copied from impulse2
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#9757 DOC: Added examples for step functions
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#9760 DOC: Added docstring for lp2bs
  scipy/signal/filter_design.py
Labels: Documentation, scipy.signal

#9763 MAINT: Fix pypy timeout
  .circleci/config.yml
Labels: CI, maintenance

#9769 BUG: Fix Cubic Spline Read Only issues
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/tests/test_interpolate.py
Labels: defect, scipy.interpolate

#9767 DOC: update 1.2.1 release notes
  doc/release/1.2.1-notes.rst
  scipy/sparse/linalg/isolve/tests/test_lgmres.py
Labels: Documentation

#9787 TST: xfail problematic test for 1.2.x LTS branch
  scipy/interpolate/tests/test_bsplines.py
Labels: maintenance

#9694 DOC: Fix docstring for events in solve_ivp
  scipy/integrate/_ivp/ivp.py
Labels: Documentation, scipy.integrate

#9789 TST: close mat file, avoiding ResourceWarning
  scipy/io/matlab/mio.py
  scipy/io/matlab/tests/test_mio.py
Labels: CI, scipy.io

#9798 BUG: fixes abort trap 6 error in scipy issue 9785 in unit tests
  scipy/stats/tests/test_morestats.py
Labels: CI, scipy.stats

#9806 MAINT: forward port 1.2.1 release notes
  doc/release/1.2.1-notes.rst
  doc/source/release.1.2.1.rst
  doc/source/release.rst
Labels: maintenance

#9805 MAINT: prepare LTS branch for 1.2.2 & pavement.py backport
  doc/release/1.2.2-notes.rst
  doc/source/release.1.2.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#9808 Fix PPoly integrate and test for CubicSpline
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/tests/test_interpolate.py
Labels: scipy.interpolate

#9820 DOC: Include Numba in list of non-C ndimage examples
  doc/source/tutorial/ndimage.rst
Labels: Documentation

#9821 DOC: Drop 2nd Numba link
  doc/source/tutorial/ndimage.rst
Labels: Documentation

#9711 Release the GIL during sosfilt processing for simple types
  benchmarks/benchmarks/signal_filtering.py
  scipy/signal/lfilter.c.src
Labels: enhancement, scipy.signal

#9834 DOC: Change mielke distribution default parameters to ensure kurtosis exists.
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
Labels: Documentation, scipy.stats

#9637 Function to calculate the MAD of an array
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#9731 ENH: remove suspicious sequence of type castings
  scipy/ndimage/src/ni_interpolation.c
Labels: maintenance, scipy.ndimage

#9764 BUG: Catch internal warnings for matrix
  pytest.ini
  scipy/_lib/tests/test_warnings.py
  scipy/cluster/tests/test_vq.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/linalg/tests/test_procrustes.py
  scipy/linalg/tests/test_solvers.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test_hungarian.py
  scipy/optimize/tests/test_minpack.py
  scipy/optimize/tests/test_nonlin.py
  scipy/optimize/tests/test_tnc.py
  scipy/signal/tests/test_dltisys.py
  scipy/signal/tests/test_ltisys.py
  scipy/sparse/base.py
  scipy/sparse/compressed.py
  scipy/sparse/coo.py
  scipy/sparse/data.py
  scipy/sparse/dia.py
  scipy/sparse/lil.py
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/interface.py
  scipy/sparse/linalg/isolve/utils.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/sputils.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_sparsetools.py
  scipy/sparse/tests/test_spfuncs.py
  scipy/sparse/tests/test_sputils.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#9749 BUG: MapWrapper.__exit__ should terminate
  scipy/_lib/_util.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: backport-candidate, maintenance, scipy.optimize

#9817 DOC: Copy solver description to solver modules
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_rs.py
  scipy/optimize/_linprog_simplex.py
Labels: Documentation, scipy.optimize

#9862 TST: reduce Appveyor CI load
  appveyor.yml
Labels: CI

#9759 ENH: Allow pass_zero to act like btype
  scipy/signal/fir_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
Labels: enhancement, scipy.signal

#9773 DOC: Several docstrings
  THANKS.txt
  scipy/signal/filter_design.py
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#9874 DOC: Update requirements in release notes
  doc/release/1.3.0-notes.rst
Labels: Documentation

#9779 ENH: dual_annealing vectorise visit_fn
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: enhancement, scipy.optimize

#9811 BUG: remove invalid derphi default None value in scalar_search_wolfe2
  scipy/optimize/linesearch.py
Labels: maintenance, scipy.optimize

#9813 Adapt hamming distance in C to support weights
  scipy/spatial/distance.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_wrap.c
Labels: scipy.spatial

#9795 DOC: Fix/update docstring for dstn and dst
  scipy/fftpack/realtransforms.py
Labels: Documentation, scipy.fftpack

#9791 BUG: fix amax constraint not enforced in scalar_search_wolfe2
  THANKS.txt
  scipy/optimize/linesearch.py
  scipy/optimize/tests/test_linesearch.py
Labels: defect, scipy.optimize

#9775 DOC: Improve clarity of cov_x documentation for scipy.optimize.leastsq
  scipy/optimize/minpack.py
Labels: Documentation, scipy.optimize

#9497 DOC: Improve docstrings sparse.linalg.isolve
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/iterative.py
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/sparse/linalg/isolve/lsqr.py
  scipy/sparse/linalg/isolve/minres.py
Labels: Documentation, scipy.sparse.linalg

#9438 BUG: Initialize coo matrix with size_t indexes
  scipy/sparse/coo.py
Labels: maintenance, scipy.sparse
