Repository scipy/scipy, pull requests merged in 2019-01, with the labels that each got.

#9537 DOC: add a "big picture" roadmap
  doc/ROADMAP.rst.txt
  doc/source/index.rst
  doc/source/roadmap-detailed.rst
  doc/source/roadmap.rst
Labels: Documentation

#9573 BUG fixes range of pk variable pre-check
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#9662 TST: interpolate: avoid pytest deprecations
  scipy/interpolate/tests/test_bsplines.py
Labels: maintenance

#9263 ENH: optimize: added "revised simplex" for scipy.optimize.linprog
  doc/source/optimize.linprog-revised_simplex.rst
  scipy/optimize/__init__.py
  scipy/optimize/_bglu_dense.pyx
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_rs.py
  scipy/optimize/_linprog_simplex.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/setup.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#9612 BUG: don't use array newton unless size is greater than 1
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: backport-candidate, maintenance, scipy.optimize

#9674 DOC: add dev setup description for PRs to local repo
  HACKING.rst.txt
Labels: Documentation, github

#9683 MAINT: backport gh-9612, others
  scipy/interpolate/tests/test_bsplines.py
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
  scipy/stats/_continuous_distns.py
Labels: maintenance

#9652 Move misc.doccer to _lib.doccer
  scipy/_lib/doccer.py
  scipy/io/matlab/miobase.py
  scipy/misc/doccer.py
  scipy/misc/tests/test_doccer.py
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/interpolation.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_multivariate.py
Labels: maintenance, scipy.misc

#9700 MAINT: Fix pypy3 on CircleCI
  .circleci/config.yml
Labels: CI, defect, maintenance

#9670 MAINT: link planck and geometric distribution in scipy.stats
  scipy/stats/_discrete_distns.py
Labels: Documentation, maintenance, scipy.stats

#9690 BUG: tighten condition for bsr eliminate_zeros fast path
  scipy/sparse/bsr.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#9676 ENH: optimize: change default linprog method to interior-point
  .gitignore
  scipy/optimize/_linprog.py
Labels: enhancement, scipy.optimize

#9723 BLD: Modify rv_generic._construct_doc to print out failing distribution name
  scipy/stats/_distn_infrastructure.py
Labels: Build issues, Documentation, scipy.stats

#9622 MAINT: Raise error in directed_hausdorff distance
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Labels: maintenance, scipy.spatial

#9725 TST: pin mingw for Azure Win CI
  azure-pipelines.yml
Labels: CI

#9720 BUG: stats: weighted KDE does not modify the weights array
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: defect, scipy.stats

#9672 DOC: Fix solve_ivp doc and add dense_output example
  scipy/integrate/_ivp/ivp.py
Labels: Documentation, scipy.integrate
