Repository scipy/scipy, pull requests merged in 2019-11, with the labels that each got.

#10996 DOC: update 1.3.2 release notes
  .mailmap
  doc/release/1.3.2-notes.rst
Labels: Documentation, maintenance

#10993 TST: bump tolerance in optimize tests
  scipy/optimize/tests/test__dual_annealing.py
Labels: backport-candidate, defect, scipy.optimize

#8681 ENH add generalized inverse Gaussian distribution to scipy.stats
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_geninvgauss.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#11006 DOC: special: add a reference for `kl_div`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10997 MAINT: Rework residue and residuez
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, maintenance, scipy.signal

#10992 TST: Relax tolerance in upfirdn test_modes
  scipy/signal/tests/test_upfirdn.py
Labels: defect, maintenance

#10650 ENH: Cythonize sosfilt
  .gitignore
  benchmarks/benchmarks/signal_filtering.py
  scipy/signal/_sosfilt.pyx
  scipy/signal/setup.py
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal

#10988 BUG: signal: fixed issue #10360
  scipy/signal/fir_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
Labels: defect, scipy.signal

#11015 DOC: special: add references for `rel_entr`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10989 FIX binned_statistic_dd Mac wheel test fails
  scipy/stats/_binned_statistic.py
Labels: maintenance, scipy.stats

#11017 DOC: numpydoc validation of morestats.py
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#11032 DOC, MAINT: 1.3.2 relnotes update
  doc/release/1.3.2-notes.rst
Labels: Documentation, maintenance

#10876 ENH: Add beta-binomial distribution to scipy.stats
  THANKS.txt
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_betabinom.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Labels: enhancement, scipy.stats

#10981 MAINT: add support for a==0 and x>0 edge case to igam and igamc
  scipy/special/cephes/igam.c
  scipy/special/tests/test_gammainc.py
Labels: defect, scipy.special

#11004 BUG: integrate/quad_vec: fix several bugs in quad_vec
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
Labels: defect, scipy.integrate

#11039 MAINT: forward port 1.3.2 release notes
  doc/release/1.3.2-notes.rst
  doc/source/release.1.3.2.rst
  doc/source/release.rst
Labels: Documentation, maintenance

#11040 MAINT: prepare for SciPy 1.3.3
  doc/release/1.3.3-notes.rst
  doc/source/release.1.3.3.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#10920 MAINT: Update constants to codata 2018 values (second try)
  scipy/constants/__init__.py
  scipy/constants/codata.py
  scipy/constants/tests/test_codata.py
Labels: maintenance, scipy.constants

#10990 BUG: Fix memory leak in shgo triangulation
  scipy/optimize/_shgo_lib/triangulation.py
Labels: maintenance, scipy.optimize

#11042 TST: fix tf2zpk test failure due to incorrect complex sorting.
  scipy/signal/tests/test_filter_design.py
Labels: maintenance, scipy.signal

#11038 DOC: special: add a reference for the polygamma function
  scipy/special/_basic.py
Labels: Documentation, scipy.special

#11037 DOC: special: add a complete docstring for `rgamma`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10616 MAINT: Clean up 32-bit platform xfail markers
  scipy/conftest.py
  scipy/linalg/tests/test_decomp.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_precompute_gammainc.py
  scipy/special/tests/test_precompute_utils.py
Labels: maintenance, scipy.linalg

#10978 BUG: boxcox data dimension and constancy check #5112
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#11001 DOC: Updated Windows build tutorial
  doc/source/building/windows.rst
Labels: Build issues, Documentation

#10830 Adding LOBPCG solver in svds in addition to ARPACK
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
Labels: enhancement, scipy.sparse.linalg

#10566 ENH: add implementation of solver for the maximum flow problem
  .gitignore
  THANKS.txt
  benchmarks/benchmarks/sparse_csgraph_maxflow.py
  scipy/sparse/csgraph/__init__.py
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/setup.py
  scipy/sparse/csgraph/tests/test_flow.py
Labels: enhancement, scipy.sparse.csgraph

#11048 DOC: special: add reference for orthogonal polynomial functions
  scipy/special/add_newdocs.py
  scipy/special/orthogonal.py
Labels: Documentation, scipy.special

#11036 DOC: update doc/README with some more useful content.
  doc/README.md
  doc/README.txt
Labels: Documentation

#10104 BUG: Rewrite of stats.truncnorm distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#10461 DOC: Quickstart Guide updates
  doc/source/dev/contributor/quickstart_mac.rst
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation

#11034 MAINT: TST: Skip tests with multiprocessing that use "spawn" start method
  scipy/_lib/tests/test__util.py
  scipy/fft/tests/test_multithreading.py
  scipy/optimize/tests/test_optimize.py
Labels: backport-candidate, maintenance, scipy.lib

#10692 ENH: higher-dimensional input in `spatial.SphericalVoronoi`
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#11051 MAINT: pep8 cleanup
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#11049 MAINT: proper random number initialization and readability fix
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#10899 ENH: Match R functionality for hmean
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#11054 TST: bump test precision for dual_annealing SLSQP test
  scipy/optimize/tests/test__dual_annealing.py
Labels: maintenance, scipy.optimize

#10848 Better handling of empty (not missing) docstrings
  scipy/constants/__init__.py
  scipy/integrate/quadrature.py
  scipy/signal/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/mstats_basic.py
Labels: maintenance

#11055 DOC: special: add a reference for `zeta`
  scipy/special/_basic.py
Labels: Documentation, scipy.special

#11044 MAINT: choose_conv_method can choose fftconvolution for longcomplex
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#11012 MAINT: Rework invres and invresz
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, maintenance, scipy.signal

#10435 BUG: Allow integer input data in scipy.stats.yeojohnson
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#10641 ENH: allow matching of general bipartite graphs
  .gitignore
  benchmarks/benchmarks/sparse_csgraph_matching.py
  scipy/sparse/csgraph/__init__.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/setup.py
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/csgraph/tests/test_reordering.py
Labels: enhancement, scipy.sparse.csgraph

#11059 Update FUNDING.yml
  .github/FUNDING.yml
Labels: github

#10870 ENH: Do not raise EOF error if wavfile data read
  scipy/io/tests/data/test-44100Hz-le-1ch-4bytes-early-eof-no-data.wav
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: enhancement, scipy.io

#11005 TST: add Python 3.8 Win CI
  azure-pipelines.yml
Labels: CI

#10901 ENH: sparse/linalg: support pydata/sparse matrices
  .travis.yml
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/toolchain.rst
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/dsolve/_superlumodule.c
  scipy/sparse/linalg/dsolve/_superluobject.c
  scipy/sparse/linalg/dsolve/_superluobject.h
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/interface.py
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
  scipy/sparse/sputils.py
Labels: enhancement, scipy.sparse.linalg

#11065 DOC: Ubuntu Development Environment Quickstart should not modify base environment
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation

#11066 BUG: skip deprecation for numpy top-level types
  scipy/__init__.py
  scipy/_lib/deprecation.py
  scipy/_lib/tests/test__util.py
Labels: defect, maintenance

#10480 Add RuntimeError in _distn_infrastructure.py in fit() method
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#11056 API: Deprecated normalized keyword in Rotation
  scipy/spatial/transform/rotation.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: maintenance, scipy.spatial

#11067 DOC: updated documentation for consistency in writing style
  CONTRIBUTING.rst
  README.rst
  benchmarks/README.rst
  doc/source/building/windows.rst
  doc/source/toolchain.rst
  doc/source/tutorial/io.rst
  scipy/spatial/transform/rotation.py
Labels: Documentation

#11061 DOC: update 1.4.0 release notes
  .mailmap
  doc/release/1.4.0-notes.rst
Labels: Documentation

#11072 REL: set version to 1.5.0.dev0
  doc/release/1.5.0-notes.rst
  doc/source/release.1.5.0.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#11073 DOC: fix 1.4.0 release notes
  doc/release/1.4.0-notes.rst
Labels: Documentation, backport-candidate

#11075 DOC: Update stylistic consistency in multiple files
  pavement.py
  runtests.py
  scipy/__init__.py
  scipy/_build_utils/__init__.py
  scipy/_build_utils/compiler_helper.py
  scipy/_build_utils/system_info.py
  scipy/_build_utils/tests/test_scipy_version.py
  scipy/_distributor_init.py
  scipy/_lib/__init__.py
  scipy/_lib/_c99compat.h
  scipy/_lib/_ccallback.py
  scipy/_lib/_numpy_compat.py
  scipy/_lib/_pep440.py
  scipy/_lib/_threadsafety.py
  scipy/_lib/_tmpdirs.py
  scipy/_lib/_uarray/__init__.py
  scipy/_lib/_uarray/_backend.py
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/_lib/_util.py
  scipy/_lib/_version.py
  scipy/_lib/decorator.py
  scipy/_lib/doccer.py
  scipy/_lib/six.py
  scipy/_lib/src/_test_ccallback.c
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_tmpdirs.py
  scipy/_lib/tests/test_warnings.py
  scipy/_lib/uarray.py
  scipy/cluster/__init__.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
  scipy/constants/codata.py
  scipy/constants/constants.py
  scipy/fft/__init__.py
  scipy/fft/_backend.py
  scipy/fft/_basic.py
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/README.md
  scipy/fft/_pocketfft/basic.py
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/fft/_pocketfft/realtransforms.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/fft/_realtransforms.py
  scipy/fftpack/__init__.py
  scipy/fftpack/basic.py
  scipy/fftpack/helper.py
  scipy/fftpack/pseudo_diffs.py
  scipy/fftpack/realtransforms.py
  tox.ini
Labels: Documentation

#11069 ENH: stats.dlaplace.rvs improvements
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_basic.py
Labels: enhancement, scipy.stats

#11071 DOC: Added examples to maximum_position in ndimage
  scipy/ndimage/measurements.py
Labels: Documentation, scipy.ndimage

#11092 BUG: stats: fix freezing of some distributions
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
Labels: backport-candidate, defect, scipy.stats

#11083 DOC: more 1.4.0 release note fixes
  doc/release/1.4.0-notes.rst
Labels: Documentation, backport-candidate

#11101 MAINT: backports/1.4.0rc1 prep
  doc/release/1.4.0-notes.rst
  scipy/signal/tests/test_peak_finding.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
Labels: maintenance

#11102 MAINT: backports for 1.3.3
  doc/release/1.3.3-notes.rst
  scipy/_lib/tests/test__util.py
  scipy/optimize/tests/test_optimize.py
Labels: maintenance

#11116 MAINT: forward port 1.3.3 release notes
  doc/release/1.3.3-notes.rst
  doc/source/release.1.3.3.rst
  doc/source/release.rst
Labels: Documentation, maintenance

#10797 ENH: linalg: LU with full pivoting (wrappers for ?getc2/?gesc2)
  scipy/linalg/flapack_gen.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11112 BUG: special: Return NaN outside the domain of `eval_hermite`
  scipy/special/orthogonal_eval.pxd
  scipy/special/tests/test_orthogonal_eval.py
Labels: defect, scipy.special

#11081 API: Replace Rotation.match_vectors with align_vectors
  scipy/spatial/transform/rotation.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: backport-candidate, maintenance, scipy.spatial

#11139 MAINT: cluster: use cython_blas, remove handwritten BLAS wrappers
  scipy/cluster/_vq.pyx
  scipy/cluster/cluster_blas.h
  scipy/cluster/cluster_blas.pxd
  scipy/cluster/setup.py
Labels: maintenance, scipy.cluster

#11124 fix Cython warnings related to _stats.pyx
  scipy/stats/_stats.pyx
Labels: maintenance

#11117 MAINT: prepare for SciPy 1.3.4
  doc/release/1.3.4-notes.rst
  doc/source/release.1.3.4.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#11126 BUG: interpolate/fitpack: fix memory leak in splprep
  scipy/interpolate/src/_fitpackmodule.c
Labels: defect, scipy.interpolate

#11096 BUG: scipy.sparse.csgraph: fixed issue #10774
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: backport-candidate, defect, scipy.sparse.csgraph

#11115 DOC: special: add docstrings for `kei`, `ker`, `keip`, and `kerp`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special
