Repository scipy/scipy, pull requests merged in 2019-09, with the labels that each got.

#10655 ENH: Dockerfile for scipy development
  tools/Dockerfile
Labels: Build issues, enhancement

#10687 DOC: added Docker quickstart guide by @andyfaff
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/quickstart_docker.rst
  doc/source/dev/contributor/quickstart_mac.rst
  doc/source/dev/contributor/quickstart_ubuntu.rst
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/contributor/runtests.rst
Labels: Documentation

#10764 DOC: svds can also compute the smallest singular values
  scipy/sparse/linalg/eigen/arpack/arpack.py
Labels: Documentation

#10614 ENH: Add parallel computation to scipy.fft
  benchmarks/benchmarks/fft_basic.py
  scipy/fft/__init__.py
  scipy/fft/_basic.py
  scipy/fft/_pocketfft/basic.py
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_pocketfft/pocketfft_hdronly.h
  scipy/fft/_pocketfft/realtransforms.py
  scipy/fft/_pocketfft/setup.py
  scipy/fft/_pocketfft/version.md
  scipy/fft/_realtransforms.py
  scipy/fft/tests/test_multithreading.py
Labels: enhancement, scipy.fft

#10773 Fix error type for complex input to scipy.fftpack.rfft and irfft
  scipy/fft/_pocketfft/basic.py
  scipy/fftpack/tests/test_basic.py
Labels: defect

#10750 MAINT: make cython code more precise
  scipy/linalg/_decomp_update.pyx.in
  scipy/ndimage/src/_ni_label.pyx
Labels: maintenance

#10743 ENH: special: add a real dispatch for `wrightomega`
  scipy/special/_precompute/wrightomega.py
  scipy/special/_wright.cxx
  scipy/special/_wright.h
  scipy/special/functions.json
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_wrightomega.py
  scipy/special/wright.cc
  scipy/special/wright.hh
Labels: enhancement, scipy.special

#10783 MAINT: Fixing some URLs and typos in docs
  doc/release/0.16.0-notes.rst
  doc/source/building/linux.rst
  doc/source/building/macosx.rst
  doc/source/building/windows.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/core-dev/github.rst.inc
  doc/source/dev/core-dev/versioning.rst.inc
  doc/source/dev/gitwash/git_links.inc
  doc/source/tutorial/io.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/optimize.rst
  doc/source/tutorial/stats/continuous_burr12.rst
  doc/source/tutorial/stats/continuous_wrapcauchy.rst
  scipy/optimize/_shgo.py
  scipy/stats/_continuous_distns.py
Labels: needs-work

#10787 Fix behavior of `exp1` on branch cut and add docstring
  scipy/special/add_newdocs.py
  scipy/special/specfun/specfun.f
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_exponential_integrals.py
Labels: Documentation, defect, scipy.special

#10789 DOC: special: add parameters/returns doc sections for erfc/erfcx/erfi
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10792 DOC: special: add full docstring for `expi`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10790 Travis CI: sudo is deprecated and Xenial is default distro
  .travis.yml
Labels: CI, maintenance

#10799 DOC: special: add a complete docstring for `expn`
  scipy/special/add_newdocs.py
  scipy/special/cephes/expn.c
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_exponential_integrals.py
Labels: Documentation, scipy.special

#10709 BUG: Fix floyd_warshall to support zero-weight edges
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: backport-candidate, defect, scipy.sparse.csgraph

#10805 DOC: Fix unbalanced quotes in signal.place_poles
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#10672 ENH: return solution attribute when using events in solve_ivp
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/tests/test_ivp.py
Labels: scipy.integrate

#10811 MAINT: optimize: Remove extra variable from _remove_redundancy_dense
  scipy/optimize/_remove_redundancy.py
Labels: maintenance, scipy.optimize

#10617 WIP: ENH: 3D rotation groups
  scipy/spatial/transform/_rotation_groups.py
  scipy/spatial/transform/rotation.py
  scipy/spatial/transform/tests/test_rotation_groups.py
Labels: enhancement, scipy.spatial

#10813 MAINT: special: Remove unused variables from _kolmogi and _smirnovi
  scipy/special/cephes/kolmogorov.c
Labels: maintenance, scipy.special

#10816 MAINT: special: remove deprecated `bessel_diff_formula`
  scipy/special/_basic.py
Labels: maintenance, scipy.special

#10817 DOC: special: complete the docstring for `fresnel`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10741 ENH: LAPACK wrappers for ?geequ, ?geequb, ?syequb, ?heequb
  scipy/linalg/flapack_gen.pyf.src
  scipy/linalg/flapack_pos_def.pyf.src
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/src/det.f
  scipy/linalg/src/lu.f
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#10833 BUG: Fix subspace_angles for complex values
  doc/release/1.4.0-notes.rst
  scipy/linalg/decomp_svd.py
  scipy/linalg/tests/test_decomp.py
Labels: backport-candidate, defect, scipy.linalg

#10810 ENH: Raise catchable exceptions for bad Fortran files
  scipy/io/__init__.py
  scipy/io/_fortran.py
  scipy/io/tests/test_fortran.py
Labels: enhancement, scipy.io

#10847 remove redundant __getitem__ from scipy.sparse.lil
  scipy/sparse/lil.py
Labels: maintenance, scipy.sparse

#10851 DOC: add a generative art example to the scipy.spatial tutorial.
  doc/source/tutorial/spatial.rst
Labels: Documentation, scipy.spatial

#10850 MAINT : Refactoring lil List of Lists
  scipy/sparse/__init__.py
  scipy/sparse/base.py
  scipy/sparse/lil.py
Labels: maintenance, scipy.sparse

#10867 MAINT: Also store latex directory
  .circleci/config.yml
Labels: CI, maintenance

#10843 ENH: Adding optional parameter to stats.zscores to allow for ignoring NaNs
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#10885 [BUG] fix lobpcg with maxiter=None results in Exception
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: defect, scipy.sparse.linalg
