Repository scipy/scipy, pull requests merged in 2019-10, with the labels that each got.

#10849 ENH: implement rmatmat for LinearOperator
  scipy/sparse/linalg/interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: enhancement, scipy.sparse.linalg

#10883 MAINT: (ndimage) More robust check for output being a numpy dtype
  scipy/ndimage/_ni_support.py
Labels: maintenance, scipy.ndimage

#10891 BUG: make C-implemented root finders work with functools.lru_cache
  THANKS.txt
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.c
Labels: scipy.optimize

#10865 BUG: special: fix incomplete gamma functions for infinite `a`
  scipy/special/cephes/igam.c
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_gammainc.py
Labels: defect, scipy.special

#10828 MAINT: integrate: Remove unused variable from init_callback
  scipy/integrate/__quadpack.h
Labels: maintenance, scipy.integrate

#10825 MAINT: special: change some features of the Voigt function
  scipy/special/__init__.py
  scipy/special/_basic.py
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/add_newdocs.py
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_faddeeva.py
Labels: maintenance, scipy.special

#10906 BUG: sparse/linalg: fix expm for np.matrix inputs
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/linalg/tests/test_matfuncs.py
Labels: backport-candidate, defect, scipy.sparse.linalg

#10907 Check whether `maxiter` is integer
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: scipy.optimize

#10861 ENH: option to reuse binnumbers in stats.binned_statistic_dd
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: enhancement, scipy.stats

#10118 MAINT: fix rdist methods in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#10924 BUG: Forbid passing 'args' as kwarg in scipy.optimize.curve_fit
  THANKS.txt
  scipy/optimize/minpack.py
  scipy/optimize/tests/test_minpack.py
Labels: maintenance, scipy.optimize

#10900 MAINT: stats: Use keepdims to simplify a few lines in power_divergence.
  scipy/stats/stats.py
Labels: maintenance, scipy.stats

#10938 MAINT: Add Python 3.8 to pyproject.toml
  pyproject.toml
Labels: maintenance

#10928 DOC: Add examples to io.wavfile docstrings
  scipy/io/wavfile.py
Labels: Documentation, scipy.io

#10936 DOC: Added missing example to stats.mstats.variation
  scipy/stats/mstats_basic.py
Labels: Documentation, scipy.stats

#10943 BLD: update Cython version to 0.29.13
  azure-pipelines.yml
  benchmarks/asv.conf.json
  doc/source/toolchain.rst
  pyproject.toml
Labels: maintenance

#10776 ENH: handle geodesic input in `spatial.SphericalVoronoi`
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#10823 DOC: updated reference guide text for consistency in writing style
  doc/API.rst.txt
  doc/source/building/faq.rst
  doc/source/building/linux.rst
  doc/source/building/macosx.rst
  doc/source/dev/conduct/code_of_conduct.rst
  doc/source/dev/conduct/report_handling_manual.rst
  doc/source/dev/contributor/benchmarking.rst
  doc/source/dev/contributor/compiled_code.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/cython.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/pep8.rst
  doc/source/dev/contributor/quickstart_docker.rst
  doc/source/dev/contributor/quickstart_mac.rst
  doc/source/dev/governance/governance.rst
  doc/source/tutorial/arpack.rst
  doc/source/tutorial/csgraph.rst
  doc/source/tutorial/fft.rst
  doc/source/tutorial/linalg.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/signal.rst
  doc/source/tutorial/spatial.rst
  doc/source/tutorial/stats.rst
Labels: Documentation

#10884 DOC: Added instructions on adding a new distribution to scipy.stats.
  doc/source/dev/contributor/adding_new.rst
  doc/source/dev/contributor/adding_new/new_stats_distribution.rst.inc
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/index.rst
Labels: Documentation, scipy.stats

#10947 DOC: special: small improvements to the `poch` docstring
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10930 MAINT: Updates for 3.8
  scipy/io/netcdf.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: maintenance

#10882 BUG: sparse/arpack: fix incorrect code for complex hermitian M
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
Labels: backport-candidate, defect, scipy.sparse.linalg

#10781 ENH: solve_triangular C order improvement
  benchmarks/benchmarks/linalg.py
  scipy/linalg/basic.py
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg

#10763 MAINT: list of minimize methods
  benchmarks/benchmarks/optimize.py
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_optimize.py
Labels: maintenance, scipy.optimize

#10710 ENH: Added nan_policy to circ functions in `stats`
  THANKS.txt
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: enhancement, scipy.stats

#10739 BUG: optimize/slsqp: deal with singular BFGS update
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/optimize/tests/test_slsqp.py
Labels: defect, scipy.optimize

#10643 ENH: scipy.sparse.linalg.spsolve triangular unit diagonal
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
Labels: enhancement, scipy.sparse.linalg

#10756 BUG: optimize: ensure solvers exit with success=False for nan returns
  scipy/optimize/cobyla.py
  scipy/optimize/cobyla/cobyla2.f
  scipy/optimize/cobyla/trstlp.f
  scipy/optimize/lbfgsb_src/lbfgsb.f
  scipy/optimize/optimize.py
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/optimize/tests/test_optimize.py
Labels: backport-candidate, defect, scipy.optimize

#10768 BUG: Fix corner case for sos2zpk
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#10866 ENH: calculation of mean in spatial.transform.Rotation
  scipy/spatial/transform/rotation.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#10955 MAINT: Relax the assert_unitary atol value
  scipy/linalg/tests/test_decomp_update.py
Labels: maintenance, scipy.linalg

#10949 BUG: fix return type of erlang_gen._argcheck
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#10935 BUG: Avoid undefined behaviour on float to unsigned conversion
  scipy/ndimage/src/ni_filters.c
Labels: defect, scipy.ndimage

#10957 BUG: Ensure full binary compatibility of long double test data
  scipy/fft/_pocketfft/tests/test_real_transforms.py
Labels: scipy.fft

#10863 DOC: partial standardization and validation of scipy.stats reference guide
  scipy/stats/stats.py
Labels: Documentation

#10951 DOC: fixed Ricker wavelet formula
  scipy/signal/wavelets.py
Labels: Documentation, scipy.signal

#10946 BUG: setting verbose > 2 in minimize with trust-constr method leads to TypeError closes 10880
  scipy/optimize/_trustregion_constr/report.py
  scipy/optimize/_trustregion_constr/tests/test_report.py
Labels: maintenance, scipy.optimize

#9684 TST: add ppc64le ci testing
  .travis.yml
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/linalg/tests/test_decomp.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/tests/test_base.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_orthogonal.py
  scipy/stats/tests/test_mstats_basic.py
Labels: CI

#10966 MAINT: prepare for SciPy 1.3.2
  doc/release/1.3.2-notes.rst
  doc/source/release.1.3.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#10954 BUG: special: fix `factorial` return type for 0-d inputs
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: defect, scipy.special

#10964 ENH: Make Slerp callable with a scalar argument
  scipy/spatial/transform/rotation.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#10869 ENH: Implement overlap-add convolution
  benchmarks/benchmarks/signal.py
  doc/release/1.4.0-notes.rst
  scipy/signal/__init__.py
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal

#10939 ENH: scipy.sparse.lil: tocsr accelerated depending on density
  scipy/sparse/lil.py
Labels: enhancement, scipy.sparse

#10961 BUG: Fix signal.unique_roots
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#10972 BUG: Handle complex gains in zpk2sos
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: maintenance, scipy.signal

#10956 WIP: make pdtr(int, double) be pdtr(double, double)
  scipy/special/_cephes.pxd
  scipy/special/_legacy.pxd
  scipy/special/add_newdocs.py
  scipy/special/cephes.h
  scipy/special/cephes/pdtr.c
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_pdtr.py
Labels: scipy.special

#10664 Throw error on non-finite input for binned_statistic_dd()
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: maintenance, scipy.stats

#10290 MAINT: Deprecate NumPy functions in SciPy root
  doc/release/1.4.0-notes.rst
  scipy/__init__.py
  scipy/_lib/deprecation.py
  scipy/_lib/tests/test__util.py
  scipy/fft/__init__.py
  scipy/fft/tests/test_fft_function.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/isolve/tests/test_gcrotmk.py
Labels: maintenance

#10977 DOC: Fix typo in sp.stats.wilcoxon docsting
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#10854 DOC: special: add a full docstring for `pdtr`
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#10971 MAINT: use 3.8 stable in CI
  .travis.yml
Labels: CI, backport-candidate, maintenance

#4591 BUG, TST: Several issues with scipy.signal.residue
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#10552 add scipy.signal.upfirdn signal extension modes
  scipy/signal/_upfirdn.py
  scipy/signal/_upfirdn_apply.pyx
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_upfirdn.py
Labels: enhancement, scipy.signal

#10815 DOC, API: scipy.stats.reciprocal is "log-uniform"
  doc/release/1.4.0-notes.rst
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_loguniform.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
  tools/refguide_check.py
Labels: Documentation, scipy.stats

#10970 MAINT: backports for SciPy 1.3.2
  .travis.yml
  THANKS.txt
  azure-pipelines.yml
  benchmarks/asv.conf.json
  doc/source/toolchain.rst
  pyproject.toml
  scipy/io/netcdf.py
  scipy/linalg/decomp_svd.py
  scipy/linalg/tests/test_decomp.py
  scipy/odr/__odrpack.c
  scipy/odr/odrpack.h
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/cobyla.py
  scipy/optimize/cobyla/cobyla2.f
  scipy/optimize/cobyla/trstlp.f
  scipy/optimize/lbfgsb_src/lbfgsb.f
  scipy/optimize/optimize.py
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.c
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_index.py
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/tests/test_base.py
  scipy/stats/_continuous_distns.py
  scipy/stats/morestats.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, needs-work

#10975 TST: skip test_kendalltau ppc64le
  scipy/stats/tests/test_mstats_basic.py
Labels: CI, maintenance
