Repository scipy/scipy, pull requests merged in 2020-04, with the labels that each got.

#11726 Handle constant input for scipy.stats.f_oneway
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#11130 ENH: support for circular input
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#11741 BUG: fix small tolerances handling for minpack and add a test.
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_least_squares.py
Labels: defect, scipy.optimize

#11705 DOC: Slerp the SphericalVoronoi docstring
  scipy/spatial/_spherical_voronoi.py
Labels: Documentation, scipy.spatial

#11789 Doc: fix docstring of scipy.spatial.chebyshev
  scipy/spatial/distance.py
Labels: Documentation, scipy.spatial

#11752 DOC: fix docstring of scipy.optimize.least_squares
  scipy/optimize/_lsq/least_squares.py
Labels: maintenance, scipy.optimize

#11794 MAINT: add comments explaining a problem in cython_optimize organization
  scipy/optimize/cython_optimize.pxd
  scipy/optimize/cython_optimize/_zeros.pxd
Labels: maintenance, scipy.optimize

#11684 BUG: fix scipy.special.voigt_profile
  scipy/special/_faddeeva.cxx
  scipy/special/add_newdocs.py
  scipy/special/tests/test_faddeeva.py
Labels: defect, scipy.special

#11765 TST: Speedup test_pascal which is VERY slow on Azure
  scipy/sparse/linalg/tests/test_matfuncs.py
Labels: scipy.sparse.linalg

#11796 DOC: add a note about precision losing in csgraph.minimum_spanning_tree docstring
  scipy/sparse/csgraph/_min_spanning_tree.pyx
Labels: Documentation, scipy.sparse.csgraph

#11439 Support path objects (PEP 519) in mmio functions
  scipy/io/mmio.py
  scipy/io/tests/test_paths.py
Labels: enhancement, scipy.io

#11467 [MRG] Make result data type of KDE evaluation like in the input data (Issue #11464)
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: maintenance, scipy.stats

#11809 Duplicate entries are added together in csr_matrix constructor
  scipy/sparse/csr.py
Labels: Documentation, scipy.sparse

#11814 BUG: scipy.sparse.csr doctest failing with incorrect output value
  scipy/sparse/csr.py
Labels: defect, scipy.sparse

#11608 BUG: fix use of is in DE callback
  THANKS.txt
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: defect, scipy.optimize

#11824 DOC: add Examples in scipy.optimize.line_search docstring (line_search_wolfe2)
  scipy/optimize/linesearch.py
Labels: Documentation, task

#11820 ENH: Raise an error on incorrect bounds format in optimize.fmin_l_bfgs_b
  scipy/optimize/lbfgsb.py
  scipy/optimize/tests/test_optimize.py
Labels: defect, scipy.optimize

#11813 MAINT: bump pyflakes to version 2.1.1
  .travis.yml
Labels: Benchmarks, CI, maintenance

#11786 ENH: stats: add axis keyword argument to scipy.stats.rankdata
  scipy/stats/stats.py
  scipy/stats/tests/test_rank.py
Labels: enhancement, scipy.stats

#11817 DOC: add Examples in the scipy.optimize.leastsq docstring
  scipy/optimize/minpack.py
Labels: Documentation, task

#11830 TST: Always use fork for multiprocessing in fft tests
  scipy/fft/tests/test_multithreading.py
  scipy/fft/tests/test_numpy.py
Labels: defect, scipy.fft

#11833 BUG: Fix compiler_name when there are paths used in flags
  setup.py
Labels: Build issues, defect

#11832 DOC: stats: Some small corrections to a couple docstrings.
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#11840 BUG: sparse.linalg: fix overflow in expm intermediate computation
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/linalg/tests/test_matfuncs.py
Labels: defect, scipy.linalg

#11645 MAINT: Assorted clean up.
  scipy/_build_utils/_fortran.py
  scipy/signal/signaltools.py
  scipy/signal/wavelets.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_log_softmax.py
Labels: maintenance, scipy.signal, scipy.special

#11665 ENH: Add wrapper for ?pteqr
  THANKS.txt
  scipy/linalg/flapack_pos_def_tri.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11831 DOC: add Examples and Returns in scipy.misc.central_diff_weights docstring.
  scipy/misc/common.py
Labels: Documentation, task

#11801 MAINT, DOC: minor changes of ratio-of-uniforms in scipy.stats
  scipy/stats/_rvs_sampling.py
Labels: Documentation, maintenance, scipy.stats

#11842 BLD: fix build with gfortran 10
  scipy/_build_utils/_fortran.py
  scipy/_build_utils/compiler_helper.py
  scipy/linalg/setup.py
  scipy/optimize/setup.py
  scipy/sparse/linalg/eigen/arpack/setup.py
  setup.py
Labels: Build issues, defect

#11729 BENCH: optimize: added infeasible benchmarks for linprog
  THANKS.txt
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/bgdbg1.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/bgetam.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/bgindy.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/bgprtr.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/box1.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/ceria3d.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/chemcom.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/cplex1.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/cplex2.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/ex72a.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/ex73a.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/forest6.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/galenet.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/gosh.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/gran.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/itest2.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/itest6.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/klein1.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/klein2.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/klein3.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/mondou2.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/pang.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/pilot4i.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/qual.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/reactor.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/refinery.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/vol1.npz
  benchmarks/benchmarks/linprog_benchmark_files/infeasible/woodinfe.npz
  benchmarks/benchmarks/optimize_linprog.py
Labels: Benchmarks, scipy.optimize

#11836 MAINT: re-introduce multiprocessing tests on Python3.8
  runtests.py
  scipy/_lib/tests/test__util.py
  scipy/fft/tests/test_multithreading.py
  scipy/fft/tests/test_numpy.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_optimize.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.integrate

#11740 MAINT: special: remove unused specfun f2py wrappers
  scipy/special/specfun.pyf
Labels: maintenance, scipy.special

#11588 MAINT: Fully display problem size in lsmr/lsqr.
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/sparse/linalg/isolve/lsqr.py
Labels: maintenance, scipy.sparse.linalg

#11703 Improves docstring with consistent L2-norm
  scipy/sparse/linalg/isolve/lsqr.py
Labels: Documentation, scipy.sparse.linalg

#11822 CI: add github actions for macOS
  .github/workflows/testing.yml
Labels: CI, enhancement, github

#11852 CI: remove osx from travisCI
  .travis.yml
Labels: CI

#11627 ENH: add analytic formula for normal moments
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#11668 ENH: Add wrapper for ?gtsvx
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11797 ENH: Allow negative `axis` in `interpolate.BSpline`. Also use numpy's `normalize_axis_index` in a few places.
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/filters.py
  scipy/ndimage/fourier.py
  scipy/ndimage/interpolation.py
  scipy/stats/tests/test_stats.py
Labels: enhancement

#11857 BUG: Change parameter fc of gausspulse to float.
  scipy/signal/waveforms.py
Labels: Documentation, scipy.signal

#11861 order = degree + 1 for splines
  scipy/interpolate/_bsplines.py
Labels: Documentation, scipy.interpolate

#11863 Make g77 ABI wrapper work with gfortran ABI lapack
  scipy/_build_utils/src/wrap_g77_abi_f.f
Labels: Build issues, enhancement

#11843 MAINT: Simplify floats in constants.py
  scipy/constants/constants.py
Labels: scipy.constants

#11866 MAINT: add type ignores to sympy and matplotlib imports
  mypy.ini
  scipy/cluster/tests/test_hierarchy.py
  scipy/interpolate/interpnd_info.py
  scipy/optimize/_shgo_lib/triangulation.py
  scipy/spatial/_plotutils.py
  scipy/special/_precompute/expn_asy.py
  scipy/special/_precompute/lambertw.py
  scipy/special/_precompute/struve_convergence.py
  scipy/special/_precompute/utils.py
  scipy/special/tests/test_precompute_expn_asy.py
  scipy/special/tests/test_precompute_gammainc.py
  scipy/special/tests/test_precompute_utils.py
  scipy/stats/tests/test_morestats.py
Labels: maintenance, static typing

#11869 DOC: signal: Add an example to the lsim2 docstring.
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#11870 DOC: signal: Use impulse instead of impulse2 in the impulse example :)
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#11677 ENH: Add wrapper for ?ptsvx
  scipy/linalg/flapack_pos_def_tri.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11873 DOC: signal: Fix ODE in impulse and impulse2 docstrings.
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#11837 Doc: add Examples in scipy.optimize.fsolve docstring
  scipy/optimize/minpack.py
Labels: Documentation, scipy.optimize, task

#11878 DOC: fixed a typo under scipy/integrate/quadrature.py
  scipy/integrate/quadrature.py
Labels: Documentation, scipy.integrate

#11881 MAINT: normalise numpy-->np in optimize.py
  scipy/optimize/optimize.py
Labels: maintenance, scipy.optimize

#11882 DOC: add Examples for scipy.io.readsav docstring.
  scipy/io/idl.py
Labels: Documentation, scipy.io, task

#11874 DOC: add Examples of docstring for scipy.interpolate.approximate_taylor_polynomial
  scipy/interpolate/polyint.py
Labels: Documentation, scipy.interpolate, task

#11753 ENH: add input validation for dendrogram and a test.
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: maintenance, scipy.cluster

#11776 Add domain option for resample.
  THANKS.txt
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal

#11849 ENH: speed up geninvgauss by using cython
  scipy/stats/_continuous_distns.py
  scipy/stats/_stats.pxd
  scipy/stats/_stats.pyx
Labels: Cython, enhancement, scipy.stats

#11639 BUG: interpolate/interp1d: fail gracefully on all-nan inputs
  scipy/interpolate/interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: backport-candidate, defect, scipy.interpolate

#11883 DOC: add Returns and Examples for scipy.ndimage.correlate() docstring
  scipy/ndimage/filters.py
Labels: Documentation, scipy.ndimage

#11393 ENH: Speed up truncnorm's ppf()and rvs() methods
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#9525 BUG: SuperLU 'NATURAL' order applies a column permutation
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
Labels: defect, scipy.sparse.linalg

#11847 DOC: add a tutorial of scipy.optimize.linprog
  doc/source/tutorial/optimize.rst
Labels: Documentation, scipy.optimize, task

#11664 WIP: Add wrapper for ?gejsv
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11872 BUG: avoid recomputing in scipy.optimize.optimize.MemoizeJac
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: defect, scipy.optimize

#11880 DOC: stats: Add Examples for bartlett, fligner, levene.
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#11906 DOC: stats: fix error caused by trapz docstring
  scipy/stats/_continuous_distns.py
Labels: Documentation, defect, scipy.stats

#11915 ENH: Ndim linear operator
  scipy/sparse/linalg/interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: enhancement, scipy.sparse.linalg

#10759 ENH: calculation of region areas in spatial.SphericalVoronoi
  benchmarks/benchmarks/spatial.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#11904 fix real-to-real transforms for complex inputs and overwrite_x=True
  scipy/fft/_pocketfft/realtransforms.py
  scipy/fft/tests/test_real_transforms.py
Labels: defect, scipy.fft

#11912 ENH: Respect matplotlib color palette with hierarchy/dendrogram.
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: enhancement, scipy.cluster

#11931 DOC: add Examples for sparse.linalg.bicg docstring.
  scipy/sparse/linalg/isolve/iterative.py
Labels: Documentation, scipy.sparse.linalg, task

#11808 DOC: add Examples in the scipy.interpolate.interpn docstring.
  scipy/interpolate/interpolate.py
Labels: Documentation, task

#11935 DOC: make scipy.stats.mode documentation reflect that the function returns a ModeResult
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#11889 DOC: signal: Unify lsim and lsim2 examples.
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#11879 BUG: Fix index arrays overflow in sparse.kron
  scipy/sparse/construct.py
  scipy/sparse/tests/test_construct.py
Labels: defect, scipy.sparse

#11871 ENH: type ufuncs in special as ufuncs instead of Any
  scipy/special/_generate_pyx.py
Labels: scipy.special, static typing

#11907 BUG: stats: fixed SEGFAULT from Issue #9710
  scipy/stats/_stats.pyx
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#11930 DOC: add Examples and clean up for signal.qspline1d and signal.qspline_eval docstrings.
  scipy/signal/bsplines.py
Labels: Documentation, scipy.signal, task

#11937 Doc : Add docstring examples
  scipy/fftpack/basic.py
  scipy/io/matlab/mio.py
Labels: Documentation, scipy.fftpack, scipy.io

#11902 BUG: linalg: test_heequb failure
  scipy/linalg/tests/test_lapack.py
Labels: defect, scipy.linalg

#11792 DOC: dev: add guidelines for developing public Cython APIs
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/public_cython_api.rst
  doc/source/index.rst
Labels: maintenance, scipy.linalg, scipy.optimize, scipy.special

#11924 DOC: add Examples for scipy.optimize.bracket() docstring
  scipy/optimize/optimize.py
Labels: Documentation, task

#11914 DOC: refine doc for spatial.distance.squareform
  scipy/spatial/distance.py
Labels: Documentation, scipy.spatial

#11736 ENH: add input validations and its tests for FITPACK in fitpack2.py
  scipy/interpolate/fitpack2.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: Documentation, scipy.interpolate

#11680 MAINT: rng_integers allows RandomState.randint or Generator.integers
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/linalg/_sketches.py
  scipy/sparse/construct.py
  scipy/sparse/tests/test_construct.py
  scipy/stats/_discrete_distns.py
  scipy/stats/stats.py
  scipy/stats/tests/test_binned_statistic.py
Labels: maintenance, scipy.lib, scipy.linalg, scipy.sparse, scipy.stats

#11614 TST, MAINT: TestCtypesQuad skip with pytest
  scipy/integrate/tests/test_quadpack.py
Labels: maintenance, scipy.integrate

#11582 MAINT: fix typo in quadpack.py closes #11448
  scipy/integrate/quadpack.py
Labels: maintenance, scipy.integrate

#11380 BUG: sparse/isolve: bicg and qmr don't treat x0 correctly
  scipy/sparse/linalg/isolve/iterative/BiCGREVCOM.f.src
  scipy/sparse/linalg/isolve/iterative/QMRREVCOM.f.src
  scipy/sparse/linalg/isolve/tests/test_iterative.py
Labels: defect, scipy.sparse.linalg

#11936 ENH: special: add type stubs for `orthogonal.py`
  mypy.ini
  mypy_requirements.txt
  scipy/special/orthogonal.pyi
  scipy/special/tests/test_orthogonal.py
Labels: enhancement, scipy.special, static typing

#11942 MAINT: ignore conditional import in _lib/_util
  scipy/_lib/_util.py
Labels: maintenance, static typing

#11160 ignore warning on 0 * inf in basin hopping
  scipy/optimize/_basinhopping.py
Labels: maintenance, needs-work, scipy.optimize

#11943 MAINT: special: add types for geterr/seterr/errstate
  mypy.ini
  scipy/special/_generate_pyx.py
Labels: scipy.special, static typing

#11750 MAINT: type hints for `_spherical_voronoi`
  mypy.ini
  scipy/spatial/_voronoi.pyi
  scipy/spatial/ckdtree.pyi
  scipy/spatial/setup.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, static typing

#11952 DOC: update toolchain roadmap for py38, C99, C++11/14
  benchmarks/asv.conf.json
  doc/source/toolchain.rst
Labels: Documentation

#11761 MAINT: Replace npy_3kcompat.h shims
  scipy/integrate/_odepackmodule.c
  scipy/ndimage/src/nd_image.c
  scipy/signal/lfilter.c.src
  scipy/sparse/linalg/dsolve/_superluobject.c
Labels: Py3K, maintenance

#11946 MAINT: add py.typed marker
  scipy/py.typed
  scipy/setup.py
Labels: maintenance, static typing

#11302 ENH: build infrastructure for ILP64 BLAS + ARPACK conversion
  .travis.yml
  azure-pipelines.yml
  doc/source/building/index.rst
  scipy/_build_utils/__init__.py
  scipy/_build_utils/_fortran.py
  scipy/linalg/_cython_signature_generator.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/setup.py
Labels: enhancement

#11760 MAINT: Remove FileStream replaced by GenericStream
  scipy/io/matlab/streams.pyx
Labels: Py3K, maintenance, scipy.io

#11919 ENH: expose "window_size" parameter in find_peaks_cwt()
  scipy/signal/_peak_finding.py
  scipy/signal/tests/test_peak_finding.py
Labels: enhancement, scipy.signal

#11950 TST:MAINT: separated and stabilized heequb tests
  scipy/linalg/tests/test_lapack.py
Labels: maintenance, scipy.linalg

#11957 MAINT: Use np.errstate context manager instead of np.seterr.
  scipy/linalg/tests/test_decomp.py
  scipy/ndimage/tests/test_measurements.py
  scipy/optimize/tests/test_minpack.py
  scipy/optimize/tests/test_optimize.py
  scipy/sparse/csgraph/tests/test_conversions.py
  scipy/spatial/distance.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/_testutils.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_lambertw.py
  scipy/special/tests/test_logit.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_orthogonal.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#11958 MAINT: interpolate: Remove some trailing spaces.
  scipy/interpolate/_pade.py
  scipy/interpolate/interpolate.py
  scipy/interpolate/tests/test_fitpack2.py
  scipy/interpolate/tests/test_ndgriddata.py
  scipy/interpolate/tests/test_pade.py
Labels: maintenance, scipy.interpolate

#11964 MAINT: Cleanup unused IS_PYPY
  scipy/io/matlab/streams.pyx
  scipy/io/matlab/tests/test_streams.py
Labels: maintenance

#11962 DOC: Fix type of `codes` in docstring of `_vq._vq()`
  scipy/cluster/_vq.pyx
Labels: Documentation, scipy.cluster

#11897 DOC: Remove misleading default values from fit method
  scipy/stats/_distn_infrastructure.py
Labels: Documentation, scipy.stats

#11934 DOC, MAINT: mailmap update
  .mailmap
Labels: Documentation, maintenance

#11976 MAINT: add logo for github actions
  README.rst
Labels: maintenance
