Repository scipy/scipy, pull requests merged in 2020-08, with the labels that each got.

#12649 DOC: simplified pip quickstart guide
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/quickstart_pip.rst
Labels: Documentation

#12655 DOC: update Steering Council members listed in governance docs
  doc/source/dev/governance/people.rst
Labels: Documentation

#12616 DOC: make explicit docstring that interpolate.interp1d only accepts float convertible input.
  scipy/interpolate/interpolate.py
  scipy/interpolate/polyint.py
Labels: Documentation, scipy.interpolate

#12605 BUG: correct `np.asanyarray` use in `scipy.constants.lambda2nu`
  scipy/constants/constants.py
  scipy/constants/tests/test_constants.py
Labels: scipy.constants

#12476 ENH: add IIR comb filter to scipy.signal
  scipy/signal/__init__.py
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: enhancement, scipy.signal

#12650 DOC: stats: Fix boxcox docstring: lambda can be negative.
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#12532 ENH: Add norm={"forward", "backward"} to `scipy.fft`
  scipy/fft/_basic.py
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/fft/_realtransforms.py
  scipy/fft/tests/test_numpy.py
  scipy/fft/tests/test_real_transforms.py
Labels: enhancement, scipy.fft

#12659 rv_sample expect bug
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#12647 TST: Add Boost ellipr[cdfgj]_data test data
  scipy/special/tests/data/boost/ellint_rc_data_ipp/ellint_rc_data.txt
  scipy/special/tests/data/boost/ellint_rd_data_ipp/ellint_rd_data.txt
  scipy/special/tests/data/boost/ellint_rf_data_ipp/ellint_rf_data.txt
  scipy/special/tests/data/boost/ellint_rg_ipp/ellint_rg.txt
  scipy/special/tests/data/boost/ellint_rj_data_ipp/ellint_rj_data.txt
  scipy/special/utils/convert.py
Labels: maintenance, scipy.special

#12648 DOC: Update special/utils/README with instructions
  scipy/special/utils/README
  scipy/special/utils/README.md
Labels: Documentation

#12670 DOC: Update documentation for Gamma distribution
  THANKS.txt
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#12639 BENCH: Add benchmarks for fit method analytical MLE overrides
  benchmarks/benchmarks/stats.py
Labels: Benchmarks, scipy.stats

#12664 BUG: stats: Fix logpdf with large negative values for logistic and genlogistic dists.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#12434 ENH:linalg: Add LAPACK wrappers pptrf/pptrs/ppsv/pptri/ppcon
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#12682 MAINT: Remove _util._valarray
  scipy/_lib/_util.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
Labels: maintenance

#12666 MAINT: Fixes from static analysis
  benchmarks/benchmarks/signal_filtering.py
  pavement.py
  scipy/optimize/_dual_annealing.py
  scipy/special/_generate_pyx.py
  scipy/special/tests/test_sf_error.py
  tools/refguide_check.py
Labels: Benchmarks, maintenance, scipy.special

#12673 API: Unconditionally return np.intp from cKDTree.query
  scipy/spatial/ckdtree.pyx
Labels: maintenance, scipy.spatial

#12688 MAINT: add f2py-generated scipy.integrate files to .gitignore
  .gitignore
Labels: maintenance

#12375 ENH: Add fast path for minkowski distance with p=1,2 and support p=inf
  benchmarks/benchmarks/spatial.py
  scipy/spatial/distance.py
  scipy/spatial/setup.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/tests/test_distance.py
Labels: enhancement, scipy.spatial

#12700 TST: bump test precision for constrained trustregion test
  scipy/optimize/_trustregion_constr/tests/test_projections.py
Labels: maintenance, scipy.optimize

#12702 TST: bump test tolerance for `DifferentialEvolutionSolver.test_L4`
  scipy/optimize/tests/test__differential_evolution.py
Labels: maintenance, scipy.optimize

#12703 BUG: Improve input validation for sepfir2d
  doc/source/tutorial/signal.rst
  scipy/signal/splinemodule.c
  scipy/signal/tests/test_bsplines.py
Labels: defect, scipy.signal

#12705 MAINT: `openblas_support` added sha256 hash
  tools/openblas_support.py
Labels: maintenance

#12711 MAINT: Use platform.python_implementation to determine IS_PYPY
  scipy/_lib/_gcutils.py
  scipy/io/netcdf.py
Labels: maintenance

#12713 TST: Fix flaky test_lgmres
  scipy/sparse/linalg/isolve/tests/test_lgmres.py
Labels: CI, scipy.sparse.linalg

#12706 BUG: fix incorrect 1d case of the fourier_ellipsoid filter
  scipy/ndimage/src/ni_fourier.c
  scipy/ndimage/tests/test_ndimage.py
Labels: defect, scipy.ndimage

#12721 ENH: use special.sindg in ndimage.rotate
  scipy/ndimage/interpolation.py
  scipy/ndimage/tests/test_ndimage.py
Labels: scipy.ndimage

#12730 CI: pin xdist for Azure windows
  azure-pipelines.yml
Labels: CI

#12734 CI: Don't ignore line-length in the lint_diff check.
  tools/lint_diff.ini
Labels: CI

#12667 ENH: Adding Modified Rodrigues Parameters to the Rotation class
  benchmarks/benchmarks/spatial.py
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#12668 BUG: Ensure factorial is not too large in mstats.kendalltau
  scipy/_lib/_util.py
  scipy/interpolate/polyint.py
  scipy/signal/_savitzky_golay.py
  scipy/signal/bsplines.py
  scipy/signal/filter_design.py
  scipy/signal/tests/test_bsplines.py
  scipy/sparse/linalg/matfuncs.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#12726 BUG: Fix DOP853 error norm for complex problems
  scipy/integrate/_ivp/rk.py
  scipy/integrate/_ivp/setup.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/_ivp/tests/test_rk.py
Labels: backport-candidate, defect, scipy.integrate

#12732 BENCH: skip benchmarks instead of hiding them when SCIPY_XSLOW=0
  benchmarks/README.rst
  benchmarks/benchmarks/common.py
  benchmarks/benchmarks/optimize.py
  benchmarks/benchmarks/optimize_linprog.py
Labels: Benchmarks

#12736 DOC: Fix signal.windows.get_window() 'exponential' docstring
  scipy/signal/windows/windows.py
Labels: Documentation, scipy.signal

#12716 DOC: add examples and tutorial links for interpolate functions which are missing Examples.
  doc/source/tutorial/interpolate.rst
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/fitpack.py
Labels: Documentation, scipy.interpolate

#12757 ENH: stats: Add an sf method to levy_l for improved precision.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#12754 MAINT, CI: Azure windows deps multiline
  azure-pipelines.yml
Labels: CI, maintenance

#12771 TST: fix invalid input unit test for scipy.signal.gammatone
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal

#12765 TST, MAINT: infeasible_2 context
  scipy/optimize/tests/test_linprog.py
Labels: CI, maintenance

#12287 ENH: Read arbitrary bit depth (including 24-bit) WAVs
  scipy/io/tests/data/test-8000Hz-le-1ch-10S-20bit-extra.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-24bit.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-36bit.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-45bit.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-53bit.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-64bit.wav
  scipy/io/tests/data/test-8000Hz-le-4ch-9S-12bit.wav
  scipy/io/tests/data/test-8000Hz-le-5ch-9S-5bit.wav
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: scipy.io

#12514 ENH: stats: override stats.invgauss.fit with analytical MLE
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#12382 ENH: Replace KDTree with a thin wrapper over cKDTree
  scipy/spatial/kdtree.py
  scipy/spatial/tests/test_kdtree.py
Labels: scipy.spatial

#12786 BUG: stats: Fix formula in the `stats` method of the ARGUS distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#12746 TST: parameterize the test cases in test_ndimage.py
  scipy/ndimage/tests/__init__.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/ndimage/tests/test_regression.py
Labels: maintenance, scipy.ndimage

#12374 DEP: Deprecate `distance.wminkowski`
  scipy/spatial/distance.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_wrap.c
  scipy/spatial/tests/test_distance.py
Labels: deprecated, scipy.spatial

#12790 TST: Skip TestConvolve2d.test_large_array if not enough memory
  scipy/signal/tests/test_signaltools.py
Labels: maintenance, scipy.signal

#12795 CI: Pin setuptools on windows CI
  appveyor.yml
  azure-pipelines.yml
Labels: CI
