Repository scipy/scipy, pull requests merged in 2020-05, with the labels that each got.

#11983 DOC: add Examples for stats.mstats.argstoarray() docstring.
  scipy/stats/mstats_basic.py
Labels: Documentation, scipy.stats

#11993 TST, CI: Azure Windows path fixups
  azure-pipelines.yml
Labels: CI, maintenance

#11995 MAINT, CI: remove custom mingw Azure
  azure-pipelines.yml
Labels: CI, maintenance

#11997 MAINT, CI: Azure OpenBLAS simplify
  azure-pipelines.yml
Labels: CI, maintenance

#11970 BUG: sparse: 'diagonal' of sparse matrices fixed to match numpy's diagonal behaviour
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/coo.py
  scipy/sparse/dia.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#11998 BENCH: Run against current HEAD instead of master
  benchmarks/asv.conf.json
Labels: Benchmarks

#11867 CI: Add arm64 in travis-ci
  .travis.yml
  scipy/stats/tests/test_distributions.py
Labels: CI, Official binaries

#11960 MAINT: Cleanup Python2 compatibility code
  scipy/io/matlab/py3k.h
  scipy/io/matlab/streams.pyx
  scipy/ndimage/src/_ctest.c
  scipy/signal/lfilter.c.src
  scipy/sparse/linalg/dsolve/_superlumodule.c
Labels: Py3K, maintenance

#11982 Fix KMeans++ initialisation slowness
  benchmarks/benchmarks/cluster.py
  scipy/cluster/vq.py
Labels: maintenance, scipy.cluster

#11495 MAINT: refactor slsqp to fix issue in callback function
  scipy/optimize/slsqp.py
Labels: maintenance, scipy.optimize

#12007 MAINT: updated LICENSES_bundled for pybind11 and six
  LICENSES_bundled.txt
Labels: maintenance

#11961 MAINT: Remove numpy/npy_3kcompat.h from _superluobject.c
  scipy/sparse/linalg/dsolve/_superluobject.c
Labels: Py3K, maintenance, scipy.sparse.linalg

#12004 DOC: add examples for integrate.quad_vec() and integrate.quad_explain()
  scipy/integrate/_quad_vec.py
  scipy/integrate/quadpack.py
Labels: Documentation, scipy.integrate

#11938 MAINT: add helper function for deprecating Cython API functions
  doc/source/dev/contributor/public_cython_api.rst
  doc/source/dev/core-dev/deprecations.rst.inc
  scipy/_lib/_test_deprecation_call.pyx
  scipy/_lib/_test_deprecation_def.pxd
  scipy/_lib/_test_deprecation_def.pyx
  scipy/_lib/deprecation.py
  scipy/_lib/setup.py
  scipy/_lib/tests/test_deprecation.py
Labels: maintenance

#11986 Avoid bugs in ndimage when the output and input arrays overlap in memory
  scipy/ndimage/filters.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_ndimage.py
Labels: maintenance, scipy.ndimage

#12010 ENH: sparse.linalg: support 64-bit BLAS in isolve
  scipy/sparse/linalg/isolve/setup.py
Labels: scipy.linalg

#12009 ENH: optimize: support 64-bit BLAS in lbfgsb
  scipy/_build_utils/__init__.py
  scipy/_build_utils/system_info.py
  scipy/optimize/lbfgsb.py
  scipy/optimize/lbfgsb_src/lbfgsb.pyf
  scipy/optimize/setup.py
  scipy/optimize/tests/test_lbfgsb_setulb.py
Labels: enhancement, scipy.linalg

#11979 DOC: add Examples for stats.ranksums() docstring.
  scipy/stats/stats.py
Labels: Documentation, scipy.stats, task

#11974 BUG: Reshape oaconvolve output even when no axes are convolved
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#12013 MAINT: remove last uses of numpy.dual
  scipy/fft/__init__.py
  scipy/linalg/__init__.py
  scipy/odr/odrpack.py
  scipy/optimize/minpack.py
  scipy/signal/wavelets.py
Labels: maintenance

#12022 DOC : added default value of absolute_sigma to False in scipy.optimize.curve_fit docs
  scipy/optimize/minpack.py
Labels: Documentation, defect, scipy.optimize

#12024 DOC: add Examples for io.hb_read() and io.hb_write()
  scipy/io/harwell_boeing/hb.py
Labels: Documentation, scipy.io, task

#11996 DOC: add Examples and fix pep warning for fft.set_global_backend and fft.register_backend
  scipy/fft/_backend.py
Labels: Documentation, scipy.fft

#12036 MAINT: Add some generated C files .gitignore
  .gitignore
Labels: maintenance

#12039 MAINT: signal: Lower the resolution of the plots in the chirp examples.
  scipy/signal/waveforms.py
Labels: Documentation, maintenance, scipy.signal

#12044 MAINT: combine apt-get update and apt-get install into one RUN
  tools/Dockerfile
Labels: maintenance

#11737 BUG: Prevent crashes due to MKL bug in ?heevr
  scipy/linalg/flapack_sym_herm.pyf.src
Labels: maintenance, scipy.linalg

#11969 DOC: add Examples and fix docstring for special.airye
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#12057 Adding my name into THANKS.txt
  THANKS.txt
Labels: Documentation

#12005 MAINT: Use helper functions in ?tbtrs tests
  scipy/linalg/tests/test_lapack.py
Labels: maintenance, scipy.linalg

#12050 DOC: add download number badges of PyPI and conda-forge in README.rst
  README.rst
Labels: Documentation

#11977 CI: test bleeding edge Python
  .github/workflows/bleedingedge.yml
  .github/workflows/testing.yml
Labels: CI

#12020 MAINT: Removed handling of circular input in SphericalVoronoi
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#12062 TST: Change dec.slow to pytest.mark.slow
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#12060 TST: Reduce number of test_diagonal_types configs
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
Labels: maintenance, scipy.sparse

#11483 BUG: Fixed `_kpp` initialization on `scipy.cluster.vq`, closing #11463
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: defect, scipy.cluster

#12046 MAINT: Remove unused npy_3kcompat.h
  scipy/integrate/_odepackmodule.c
  scipy/sparse/linalg/dsolve/_superlu_utils.c
Labels: maintenance, scipy.integrate, scipy.sparse.linalg

#12025 MAINT: Remove numpy/npy_3kcompat.h from nd_image
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/src/nd_image.h
Labels: Py3K, maintenance, scipy.ndimage

#12014 CI: print 10 slowest tests
  .travis.yml
Labels: CI

#11394 MAINT: Remove self._size (and self._random_state) from stats distributions.
  scipy/sparse/construct.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12070 MAINT, CI: appveyor rack->conda.org
  appveyor.yml
Labels: CI, maintenance

#11423 ENH: Add tool to lint diffs
  .travis.yml
  runtests.py
  tools/lint_diff.ini
  tools/lint_diff.py
Labels: enhancement

#12001 ENH: stats: Implement _logpdf for the maxwell distribution.
  scipy/stats/_constants.py
  scipy/stats/_continuous_distns.py
Labels: enhancement, scipy.stats

#12047 MAINT: Cython 3.0 compat
  scipy/ndimage/src/_ni_label.pyx
  scipy/spatial/qhull.pyx
Labels: CI, maintenance

#12072 TST: filter out factorial(float) deprecation warning
  .gitignore
  scipy/special/tests/test_basic.py
Labels: maintenance

#10824 ENH: Fast gaussian kernel estimator
  scipy/stats/_stats.pyx
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: enhancement, scipy.stats

#12040 DOC: add Examples for ndimage.spline_filter1d() and spline_filter() docstrings
  scipy/ndimage/interpolation.py
Labels: Documentation, scipy.ndimage

#12056 ENH: Modifies shapiro to return a named tuple
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: enhancement, scipy.stats

#12030 ENH: optimize/_trlib: support ILP64 blas/lapack
  scipy/_build_utils/src/cblas.h
  scipy/_build_utils/src/npy_cblas.h
  scipy/_build_utils/src/npy_cblas_base.h
  scipy/_build_utils/src/wrap_g77_abi_c.c
  scipy/optimize/_trlib/setup.py
  scipy/optimize/_trlib/trlib_private.h
Labels: enhancement, scipy.optimize

#11802 BUG: fix scipy.odr to handle multidimensional independent and dependent variable currently causing segmentation fault
  scipy/odr/__odrpack.c
  scipy/odr/tests/test_odr.py
Labels: defect, scipy.odr

#12068 ENH: Modifies jarque_bera to return a named tuple
  THANKS.txt
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#12079 DOC: Remove Python2 reference from stats tutorial
  doc/source/tutorial/stats.rst
Labels: Documentation

#12084 BUG: interpolate: fix BarycentricInterpolator with integer input arrays
  scipy/interpolate/polyint.py
  scipy/interpolate/tests/test_polyint.py
Labels: defect, scipy.interpolate

#12012 DOC: add Examples for interpolate.barycentric_interpolate(), krogh_interpolate(), pchip_interpolate() docstrings
  scipy/interpolate/_cubic.py
  scipy/interpolate/polyint.py
Labels: Documentation, scipy.interpolate

#12052 DOC: add Examples odr.models.polynomial() and fix odr.odr docstring import issue
  scipy/odr/__init__.py
  scipy/odr/_add_newdocs.py
  scipy/odr/models.py
Labels: Documentation, scipy.odr, task

#12038 MAINT, CI: Travis rackcdn->conda.org
  .travis.yml
Labels: CI, maintenance

#11636 MAINT: Rollback python2.6 workaround
  scipy/odr/__odrpack.c
  scipy/odr/odrpack.h
Labels: maintenance, scipy.odr

#12088 Revert "MAINT: Rollback python2.6 workaround"
  scipy/odr/__odrpack.c
  scipy/odr/odrpack.h
Labels: maintenance, scipy.odr

#11382 MAINT: remove error throw in binned_statistic_dd() on non-finite values or samples
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: backport-candidate, scipy.stats

#12081 [WIP] DOC: add Examples docstring for optimize.show_options()
  scipy/optimize/optimize.py
  tools/refguide_check.py
Labels: Documentation, scipy.optimize

#12095 MAINT: ndimage: change `shares_memory` to `may_share_memory`
  scipy/ndimage/filters.py
  scipy/ndimage/morphology.py
Labels: maintenance, scipy.ndimage

#12090 ENH: integrate: support ILP64 BLAS in odeint/vode/lsoda
  scipy/integrate/_ode.py
  scipy/integrate/_odepackmodule.c
  scipy/integrate/dop.pyf
  scipy/integrate/lsoda.pyf
  scipy/integrate/setup.py
  scipy/integrate/vode.pyf
Labels: enhancement, scipy.integrate

#12101 Removed more unused imports and assignments.
  scipy/_lib/tests/test__util.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/io/matlab/tests/test_streams.py
  scipy/io/tests/test_paths.py
  scipy/linalg/tests/test_decomp_cossin.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/optimize/lbfgsb.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_optimize.py
  scipy/spatial/tests/test_slerp.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#12098 Doc: change 4 model instances of odr to be instances of `Model` subclasses
  scipy/odr/__init__.py
  scipy/odr/models.py
  scipy/odr/tests/test_odr.py
Labels: Documentation, scipy.odr

#12117 BUG: fix newline
  scipy/optimize/_differentialevolution.py
Labels: Documentation, scipy.optimize

#12126 TST: Cleanup unused matplotlib code.
  scipy/interpolate/tests/test_rbf.py
  scipy/spatial/tests/test__plotutils.py
Labels: maintenance, scipy.interpolate, scipy.spatial

#12124 TST: Always test matmul now that Python3.5+ is required
  scipy/sparse/base.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse, scipy.sparse.linalg

#12123 [MAINT] Fix error on PyData/Sparse import.
  .travis.yml
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: CI, scipy.sparse.linalg

#12127 DOC: update docstrings of signal.cspline2d, qspline2d, sepfir2d
  doc/source/tutorial/signal.rst
  scipy/signal/splinemodule.c
Labels: Documentation, scipy.signal

#12092 BUG: Fix dropping dt in signal.StateSpace
  scipy/signal/ltisys.py
  scipy/signal/tests/test_ltisys.py
Labels: defect, scipy.signal

#12078 TST: Skip test on colab with large memory alloc
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#12136 MAINT: Cleanup np.poly1d hack
  scipy/special/orthogonal.py
Labels: maintenance, scipy.special

#12130 MAINT: Fixing broken links with linkchecker
  doc/source/toolchain.rst
  doc/source/tutorial/stats.rst
  scipy/io/netcdf.py
  scipy/io/tests/test_netcdf.py
  scipy/signal/_peak_finding.py
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: Documentation

#12008 DOC: roadmap update
  doc/source/roadmap-detailed.rst
  doc/source/roadmap.rst
Labels: Documentation

#12094 MAINT: `openblas_support` hash checks
  tools/openblas_support.py
Labels: Official binaries, maintenance

#12151 DOC: Correct Rosenbrock function sum
  doc/source/tutorial/optimize.rst
Labels: Documentation, scipy.optimize

#12140 TST: stats: add kstwo, ksone to slow tests.
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#12137 TST, CI: reproduce wheels 32-bit setup
  azure-pipelines.yml
  scipy/signal/_peak_finding.py
  scipy/signal/wavelets.py
Labels: CI

#12108 MAINT: ensure attributes have correct data type in `SphericalVoronoi`
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#12171 CI, MAINT: Azure OpenBLAS drive flip
  azure-pipelines.yml
Labels: CI, maintenance

#12159 BUG: Fix length calculation in upfirdn
  scipy/signal/_upfirdn.py
  scipy/signal/_upfirdn_apply.pyx
  scipy/signal/tests/test_upfirdn.py
Labels: Documentation, defect, scipy.signal

#12168 DOC: add an obsolete version checking javascript to doc release builds
  doc/Makefile
  doc/source/_static/versioncheck.js_t
  doc/source/conf.py
Labels: Documentation, enhancement

#12089 ENH: spatial/qhull: support ILP64 Lapack
  scipy/spatial/qhull.pyx
  scipy/spatial/qhull_misc.h
  scipy/spatial/setup.py
Labels: enhancement, scipy.spatial

#12135 ENH: linalg: Add the function convolution_matrix.
  THANKS.txt
  doc/source/tutorial/linalg.rst
  scipy/linalg/__init__.py
  scipy/linalg/special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg

#12110 ENH: More helpful/forgiving io.wavfile errors
  scipy/io/tests/data/Transparent Busy.ani
  scipy/io/tests/data/test-8000Hz-le-1ch-1byte-ulaw.wav
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: enhancement, scipy.io

#11343 BUG: constants: fix 'exact' values table
  scipy/constants/codata.py
  scipy/constants/constants.py
  scipy/constants/tests/test_codata.py
Labels: backport-candidate, defect, scipy.constants

#12175 BLD: support more Fortran compilers for ilp64 and macro expansion flags
  scipy/_build_utils/_fortran.py
Labels: Build issues, Fortran, enhancement

#11798 Add simplify_cells parameter to scipy.io.loadmat
  scipy/io/matlab/mio.py
  scipy/io/matlab/mio5.py
  scipy/io/matlab/miobase.py
  scipy/io/matlab/tests/data/testsimplecell.mat
  scipy/io/matlab/tests/test_mio.py
Labels: enhancement, scipy.io

#12107 ENH: Area calculation for 2D inputs in SphericalVoronoi
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#12180 MAINT: removed redundant import in SphericalVoronoi tests
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#11202 BUG: fix edge counting in shortest_path
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: defect, scipy.sparse.csgraph

#12182 MAINT: random sampling on the hypersphere in SphericalVoronoi tests
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#11896 BUG: stats: Fix handling of size 0 inputs for ttest_rel and ttest_ind.
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#11385 ENH: special: add spherical Bessel functions to `cython_special`
  INSTALL.rst.txt
  azure-pipelines.yml
  benchmarks/asv.conf.json
  doc/source/building/windows.rst
  doc/source/toolchain.rst
  pyproject.toml
  scipy/special/_cython_special_custom.pxi
  scipy/special/_generate_pyx.py
  scipy/special/tests/test_cython_special.py
Labels: enhancement, scipy.special

#11757 ENH: improve binned_statistics_2d performance.
  benchmarks/benchmarks/stats.py
  scipy/stats/_binned_statistic.py
Labels: backport-candidate, enhancement, scipy.stats

#11885 BUG: stats: Handle multidimensional arrays in f_oneway, and more.
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#11431 Make median_absolute_deviation scale argument aligned w/iqr
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#11023 improving error message for cubic-interpolate with duplicates
  scipy/interpolate/_bsplines.py
Labels: maintenance, scipy.interpolate

#12210 Remove py.typed marker (at least for the release)
  scipy/py.typed
  scipy/setup.py
Labels: maintenance, static typing

#12202 ENH: tool to DL release wheels from Anaconda
  tools/download-wheels.py
Labels: Official binaries, enhancement

#10796 ENH exact p-values of wilcoxon test in scipy.stats
  scipy/stats/_hypotests.py
  scipy/stats/_wilcoxon_data.py
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: enhancement, scipy.stats

#11710 ENH: Modified stats.kstest() to use the exact stats.kstwo.sf() where appropriate
  THANKS.txt
  doc/source/tutorial/stats.rst
  scipy/stats/__init__.py
  scipy/stats/_ksstats.py
  scipy/stats/_rvs_sampling.py
  scipy/stats/morestats.py
  scipy/stats/mstats.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#12179 BUG: stats: A few distributions didn't accept lists as arguments.
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
Labels: defect, scipy.stats

#11988 ENH: Override fit method of Laplace distribution with Maximum Likelihood Estimates
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#11784 BUG: Fixed calculation of nonzero elements in scipy.sparse.random
  scipy/sparse/construct.py
  scipy/sparse/tests/test_construct.py
Labels: maintenance, scipy.sparse

#12223 BUG: stats: wilcoxon returned p > 1 for certain inputs.
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#11453 BUG: sparse: convert csc/csr indices to int64 as needed
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
Labels: defect, scipy.sparse.linalg

#12172 Bounds for the Powell minimization method
  scipy/optimize/_minimize.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#12229 MAINT: tools/gh_lists.py: fix http header case sensitivity issue
  tools/gh_lists.py
Labels: maintenance

#12221 DOC: update 1.5.0 release notes
  doc/release/1.5.0-notes.rst
Labels: Documentation

#12235 REL: set version to 1.6.0.dev0
  doc/release/1.6.0-notes.rst
  doc/source/release.1.6.0.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#12198 TST: Fix str + bytes error
  scipy/linalg/tests/test_lapack.py
Labels: maintenance, scipy.linalg

#12199 ENH: match np.result_type behaviour in some scipy.signal functions
  scipy/signal/filter_design.py
  scipy/signal/signaltools.py
  scipy/signal/tests/test_result_type.py
Labels: enhancement, scipy.signal

#12086 MAINT: Cleanup PyMODINIT_FUNC used during 2to3
  scipy/_lib/src/_test_ccallback.c
  scipy/integrate/tests/_test_multivariate.c
  scipy/ndimage/src/_ctest.c
Labels: maintenance

#12236 DOC: Fix a couple grammatical mistakes in 1.5.0-notes.rst.
  doc/release/1.5.0-notes.rst
Labels: Documentation, backport-candidate

#12227 BLD: Set macos min version when building rectangular_lsap
  scipy/_build_utils/compiler_helper.py
  scipy/_lib/_uarray/setup.py
  scipy/fft/_pocketfft/setup.py
  scipy/optimize/setup.py
  scipy/spatial/setup.py
Labels: Build issues, backport-candidate

#12125 TST: Add a test for stats.gmean with negative input
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#12245 DOC: Fixed incorrect default for mode in scipy.ndimage.spline_filter1d
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/filters.py
  scipy/ndimage/interpolation.py
Labels: Documentation, scipy.ndimage

#12208 wavfile bugfixes and maintenance
  scipy/io/wavfile.py
Labels: maintenance, scipy.io

#12217 BUG: stats: Fix handling of edge cases in median_abs_deviation.
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: backport-candidate, defect, scipy.stats

#12248 MAINT: clean up pavement.py
  pavement.py
Labels: maintenance

#12077 MAINT: malloc return value checks for cython
  scipy/interpolate/_ppoly.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/spatial/setlist.pxd
Labels: Cython, maintenance

#12067 MAINT: Cleanup OLDAPI in ndimage/src/_ctest.c
  scipy/ndimage/setup.py
  scipy/ndimage/src/_ctest.c
  scipy/ndimage/tests/test_c_api.py
Labels: maintenance, scipy.ndimage

#12250 ENH: Replaced csr_matrix() by tocsr() and complemented docstring
  scipy/optimize/_lsq/least_squares.py
Labels: enhancement, scipy.optimize

#12080 MAINT: Remove suppress_warnings
  scipy/special/_precompute/expn_asy.py
  scipy/special/_precompute/utils.py
Labels: maintenance, scipy.special

#12270 MAINT: backports prior to 1.5.0rc1
  doc/release/1.5.0-notes.rst
  scipy/_build_utils/compiler_helper.py
  scipy/_lib/_uarray/setup.py
  scipy/fft/_pocketfft/setup.py
  scipy/optimize/setup.py
  scipy/spatial/setup.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#12259 MAINT: Remove duplicated test for import cycles
  scipy/_build_utils/tests/test_circular_imports.py
  scipy/_lib/tests/test_import_cycles.py
Labels: maintenance

#12269 MAINT: Included mismatched shapes in error messages.
  scipy/interpolate/_bsplines.py
  scipy/interpolate/interpolate.py
  scipy/linalg/basic.py
  scipy/linalg/decomp_cholesky.py
  scipy/linalg/decomp_lu.py
  scipy/signal/ltisys.py
  scipy/sparse/compressed.py
  scipy/sparse/coo.py
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/isolve/utils.py
Labels: maintenance
