Repository scipy/scipy, pull requests merged in 2020-07, with the labels that each got.

#12462 MAINT: move distributor_init import after __config__ import
  scipy/__init__.py
Labels: Official binaries, backport-candidate, maintenance

#12448 DOC: stats: Add "Examples" to the ansari docstring.
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#12399 MAINT: Replace some Unicode dash-like chars with an ASCII hyphen.
  scipy/signal/filter_design.py
  scipy/signal/fir_filter_design.py
  scipy/stats/_continuous_distns.py
Labels: maintenance, scipy.signal, scipy.stats

#12404 MAINT: io: Change the encoding comment of test_mio.py to utf-8.
  scipy/io/matlab/tests/test_mio.py
Labels: maintenance, scipy.io

#12393 CI: Replace the existing check for non-ASCII characters with a Python script.
  .travis.yml
  tools/unicode-check.py
Labels: CI

#12486 DOC: add a note in poisson distribution when mu=0 and k=0 in pmf method
  scipy/stats/_discrete_distns.py
Labels: Documentation, scipy.stats

#12397 MAINT, REL: prepare for SciPy 1.5.1
  azure-pipelines.yml
  benchmarks/benchmarks/sparse_csgraph_djisktra.py
  doc/release/1.5.1-notes.rst
  doc/source/release.1.5.1.rst
  doc/source/release.rst
  pavement.py
  scipy/__init__.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/interpolate/interpnd.pyx
  scipy/io/matlab/mio5_utils.pyx
  scipy/io/tests/test_fortran.py
  scipy/linalg/_decomp_qz.py
  scipy/linalg/decomp.py
  scipy/linalg/decomp_qr.py
  scipy/linalg/decomp_schur.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_cossin.py
  scipy/linalg/tests/test_lapack.py
  scipy/ndimage/measurements.py
  scipy/ndimage/src/_ni_label.pyx
  scipy/ndimage/tests/test_ndimage.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_lsap.py
  scipy/optimize/_trlib/_trlib.pyx
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/tests/test_linear_assignment.py
  scipy/signal/_peak_finding_utils.pyx
  scipy/signal/ltisys.py
  scipy/signal/tests/test_filter_design.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/kdtree.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_spherical_voronoi.py
  scipy/special/_basic.py
  scipy/special/_test_round.pyx
  scipy/special/orthogonal.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_ksstats.py
  scipy/stats/_multivariate.py
  scipy/stats/_stats.pyx
  scipy/stats/morestats.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
  setup.py
Labels: maintenance

#12395 ENH: improve stats.binned_statistic_dd performance
  benchmarks/benchmarks/stats.py
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: enhancement, scipy.stats

#12492 MAINT: prepare for SciPy 1.5.2
  doc/release/1.5.2-notes.rst
  doc/source/release.1.5.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#12491 MAINT: forward port 1.5.1 release notes
  doc/release/1.5.1-notes.rst
  doc/source/release.1.5.1.rst
  doc/source/release.rst
Labels: maintenance

#12474 ENH: linalg: speedup _sqrtm_triu by moving tight loop to Cython
  benchmarks/benchmarks/linalg_logm.py
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/_matfuncs_sqrtm_triu.pyx
  scipy/linalg/setup.py
Labels: enhancement, scipy.linalg

#12376 Fix exception causes in most of the codebase
  pavement.py
  runtests.py
  scipy/__init__.py
  scipy/_build_utils/_fortran.py
  scipy/_lib/_ccallback.py
  scipy/_lib/_util.py
  scipy/cluster/hierarchy.py
  scipy/fft/_backend.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/integrate/_ode.py
  scipy/integrate/_quad_vec.py
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/fitpack.py
  scipy/interpolate/fitpack2.py
  scipy/interpolate/interpolate.py
  scipy/io/arff/arffread.py
  scipy/io/harwell_boeing/_fortran_format_parser.py
  scipy/io/harwell_boeing/hb.py
  scipy/io/matlab/mio.py
  scipy/linalg/decomp.py
  scipy/linalg/interpolative.py
  scipy/linalg/tests/test_build.py
  scipy/linalg/tests/test_decomp.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/optimize/_constraints.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/cobyla.py
  scipy/optimize/minpack.py
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test_linesearch.py
  scipy/signal/_peak_finding.py
Labels: maintenance, scipy.cluster, scipy.fft, scipy.integrate, scipy.interpolate, scipy.io, scipy.linalg, scipy.ndimage, scipy.optimize, scipy.signal

#12488 BUG: fix approx_derivative step size. Closes #12487
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
Labels: backport-candidate, defect, scipy.optimize

#12398 API: Disable len() and indexing of Rotation instances with single rotation
  scipy/spatial/transform/_rotation_spline.py
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: backport-candidate, defect, scipy.spatial

#12500 CI: actions branch trigger fix
  .github/workflows/testing.yml
Labels: CI, backport-candidate

#12501 CI: actions branch trigger fix
  .github/workflows/testing.yml
Labels: CI

#11691 ENH: add a stack of reversal functions to linprog
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_rs.py
  scipy/optimize/_linprog_simplex.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize

#12383 ENH: Make cKDTree.tree more efficient
  scipy/spatial/ckdtree.pyx
Labels: enhancement, scipy.spatial

#12372 MAINT: Minor cleanup of (c)KDTree tests
  scipy/spatial/tests/test_kdtree.py
Labels: maintenance, scipy.spatial

#12504 BUG: cKDTreeNode use after free
  scipy/spatial/ckdtree.pyx
Labels: defect, scipy.spatial

#12508 Fix exception causes all over the codebase
  scipy/fftpack/tests/test_basic.py
  scipy/signal/filter_design.py
  scipy/signal/fir_filter_design.py
  scipy/signal/ltisys.py
  scipy/signal/signaltools.py
  scipy/signal/spectral.py
  scipy/signal/windows/windows.py
  scipy/sparse/_index.py
  scipy/sparse/_matrix_io.py
  scipy/sparse/base.py
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/construct.py
  scipy/sparse/coo.py
  scipy/sparse/dia.py
  scipy/sparse/dok.py
  scipy/sparse/generate_sparsetools.py
  scipy/sparse/lil.py
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/sputils.py
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/_basic.py
  scipy/special/setup.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/morestats.py
  scipy/stats/stats.py
  tools/cythonize.py
  tools/validate_runtests_log.py
Labels: maintenance

#12343 DOC: add examples for special.eval_legendre()
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#12430 BUG: truncnorm and geninvgauss never return scalars from rvs
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
Labels: backport-candidate, defect, scipy.stats

#12521 MAINT: Remove unused imports
  scipy/interpolate/_bsplines.py
  scipy/interpolate/interpolate.py
  scipy/ndimage/interpolation.py
Labels: maintenance

#12520 DOC: Minor RST section renaming.
  scipy/stats/stats.py
Labels: Documentation

#12355 TST: Remove hack for old win-amd64 bug
  scipy/ndimage/tests/test_measurements.py
Labels: maintenance

#12442 MAINT:linalg: Fix for input args of eigvalsh
  scipy/linalg/decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: backport-candidate, maintenance, scipy.linalg

#12156 BUG: Fix permutation of distance matrices in scipy.stats.multiscale_graphcorr
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#12461 MAINT: sparse: write matrix/asmatrix wrappers without warning manipulations
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_solvers.py
  scipy/signal/tests/test_ltisys.py
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/sputils.py
  scipy/sparse/tests/test_sputils.py
Labels: scipy.sparse

#12450 ENH: add `leaves_color_list` for cluster.dendrogram dictionary.
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: enhancement, scipy.cluster

#12529 MAINT: allow graceful docs re-upload
  doc/Makefile
Labels: backport-candidate, maintenance

#12338 DOC: improve consistency and clarity of docs in linalg and sparse/linalg
  scipy/linalg/basic.py
  scipy/linalg/decomp.py
  scipy/linalg/decomp_cholesky.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
Labels: Documentation, scipy.sparse.linalg

#12527 Improve error message for wrong interpolation type
  scipy/interpolate/interpolate.py
Labels: enhancement, scipy.interpolate

#12551 DOC: fix typo in cluster/_hierarchy.pyx
  scipy/cluster/_hierarchy.pyx
Labels: Documentation, scipy.cluster

#12522 PERF: Get rid of unnececssary allocation in VarReader5.cread_fieldnames
  scipy/io/matlab/mio5_utils.pyx
Labels: enhancement, scipy.io

#12552 CI: Cleanup travis pip installs
  .travis.yml
Labels: CI

#12535 MAINT: Avoid sphinx deprecated aliases for SeeAlso and Only
  tools/refguide_check.py
Labels: maintenance

#12238 BUG: Use 64-bit indexing in convolve2d to avoid overflow
  scipy/signal/firfilter.c
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#12538 BUG:linalg: eigh type parameter handling corrected
  scipy/linalg/decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: backport-candidate, maintenance, scipy.linalg

#12560 MAINT: truncnorm.rvs compatibility for `Generator`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: backport-candidate, scipy.stats

#12478 BUG: fix array_like input defects and add tests for all functions in fitpack2.py
  scipy/interpolate/fitpack2.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: backport-candidate, defect, scipy.interpolate

#12530 Move redundant logic outside loop for conditional speedup in interpn
  scipy/interpolate/interpolate.py
Labels: scipy.interpolate

#12558 MAINT: Remove hack to allow scipy.fft to act like a function
  scipy/__init__.py
  scipy/_lib/tests/test__util.py
  scipy/fft/__init__.py
  scipy/fft/tests/test_fft_function.py
Labels: maintenance, scipy.fft

#12563 MAINT: Remove unused mu0 in special/orthogonal.py
  scipy/special/orthogonal.py
Labels: maintenance, scipy.special

#12214 DOC: fix docstring of "sd_beta" of odr.Output.
  scipy/odr/odrpack.py
Labels: Documentation, scipy.odr

#12540 BUG: fix odr.output.work_ind key bug and add its test.
  scipy/odr/__odrpack.c
  scipy/odr/tests/test_odr.py
Labels: defect, scipy.odr

#12432 DOC: Remove the "Basic functions" section from the SciPy tutorial.
  doc/source/tutorial/basic.rst
  doc/source/tutorial/index.rst
Labels: Documentation, Website

#12564 DOC: fix return type docstring for least_squares
  scipy/optimize/_lsq/least_squares.py
Labels: Documentation, scipy.optimize

#12565 DOC: stats: respond to query about Kruskal-Wallis test being one-sided (gh-12231)
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#12562 redo gh-12188: fix segfaults in splprep with fixed knots
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/tests/test_fitpack.py
Labels: defect, scipy.interpolate

#12416 CI: cache mingw, azure pipelines
  azure-pipelines.yml
Labels: CI

#12437 BUG: optimize: cast bounds to floats in new_bounds_to_old/old_bounds_to_new
  scipy/optimize/_constraints.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_slsqp.py
Labels: maintenance, scipy.optimize

#12359 TST: Sparse matrix test with int64 indptr and indices
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#12324 BUG: io: Fix an error that occurs when attempting to raise a ValueError.
  scipy/io/mmio.py
  scipy/io/tests/test_mmio.py
Labels: scipy.io

#12204 ENH: Add overwrite argument for odr.ODR() and its test.
  scipy/odr/odrpack.py
  scipy/odr/tests/test_odr.py
Labels: enhancement, scipy.odr

#12571 DEP: remove deprecated slepian window
  doc/source/conf.py
  scipy/signal/__init__.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/__init__.py
  scipy/signal/windows/windows.py
  tools/refguide_check.py
Labels: maintenance, scipy.signal

#12320 BUG: spatial: avoid returning negative correlation distance
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: defect, scipy.spatial

#12183 ENH: Use fromfile where possible
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: enhancement, scipy.io

#12085 ENH: special: support ILP64 Lapack
  scipy/special/_ellip_harm.pxd
  scipy/special/lapack_defs.h
  scipy/special/setup.py
Labels: enhancement, scipy.special

#12577 Revert "CI: cache mingw, azure pipelines"
  azure-pipelines.yml
Labels: CI

#12266 BUG: Fix paren error in dual annealing accept_reject calculation
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize

#12154 ENH: scipy.signal: allow lists in gauss_spline
  scipy/signal/bsplines.py
  scipy/signal/tests/test_bsplines.py
Labels: enhancement, scipy.signal

#12568 Updated documentation for as_quat
  scipy/spatial/transform/rotation.pyx
Labels: Documentation, scipy.spatial

#12463 DOC: improve and clean up *Spline docstrings in fitpack2.py
  scipy/interpolate/fitpack2.py
Labels: Documentation, scipy.interpolate

#12556 BUG: Fix problem with Scipy.integrate.solve_bvp for big problems
  THANKS.txt
  scipy/integrate/_bvp.py
  scipy/integrate/tests/test_bvp.py
Labels: defect, scipy.integrate

#12573 DEP: remove `frechet_l` and `frechet_r`
  doc/source/conf.py
  doc/source/tutorial/stats.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12443 BUG: stats: Improve calculation of exponnorm.pdf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#12586 BLD: Add -std=c99 to sigtools to compile with C99
  scipy/_build_utils/compiler_helper.py
  scipy/signal/setup.py
Labels: Build issues, backport-candidate, scipy.signal

#12591 BLD: fix cython error on master-branch cython
  scipy/spatial/transform/rotation.pyx
Labels: Build issues, backport-candidate, maintenance, scipy.spatial

#12590 CI: Add GCC 4.8 entry to travis build matrix
  .travis.yml
  runtests.py
Labels: CI, backport-candidate

#12385 DOC: improve docstrings of interpolate.NearestNDInterpolator.__call__ & LinearNDInterpolator.__call__
  scipy/interpolate/interpnd.pyx
  scipy/interpolate/ndgriddata.py
  scipy/interpolate/tests/test_interpolate.py
Labels: Documentation, scipy.interpolate

#12244 MAINT: stats: avoid spurious warnings in ncx2.pdf
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12588 DOC: add Examples add see also sections for LinearNDInterpolator, NearestNDInterpolator, and CloughTocher2DInterpolator
  scipy/interpolate/interpnd.pyx
  scipy/interpolate/ndgriddata.py
Labels: Documentation, scipy.interpolate

#12596 MAINT: additional SciPy 1.5.2 backports
  .travis.yml
  doc/release/1.5.2-notes.rst
  runtests.py
  scipy/_build_utils/compiler_helper.py
  scipy/signal/setup.py
  scipy/spatial/transform/rotation.py
Labels: maintenance

#12610 MAINT: forward port 1.5.2 release notes
  doc/release/1.5.2-notes.rst
  doc/source/release.1.5.2.rst
  doc/source/release.rst
Labels: maintenance

#12602 BUG: add const for Read-only views in interpnd.pyx
  scipy/interpolate/interpnd.pyx
  scipy/interpolate/tests/test_interpolate.py
Labels: Cython, defect, scipy.interpolate

#12566 BUG: Interpolate: use stable sort
  scipy/interpolate/interpolate.py
Labels: maintenance, scipy.interpolate

#12550 PERF: pickling speed of rv_*
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#12614 MAINT: prevent reverse broadcasting
  scipy/optimize/_differentialevolution.py
Labels: backport-candidate, scipy.optimize

#12618 DOC: Minor doc formatting.
  scipy/_lib/_util.py
  scipy/cluster/vq.py
  scipy/sparse/linalg/dsolve/linsolve.py
  scipy/stats/stats.py
Labels: Documentation

#12623 MAINT: stats: Loosen some test tolerances.
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
Labels: backport-candidate, maintenance, scipy.stats

#12617 MAINT: optimize: Handle nonscalar size 1 arrays in fmin_slsqp bounds.
  scipy/optimize/_constraints.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test_slsqp.py
Labels: backport-candidate, maintenance, scipy.optimize

#12612 MAINT: stats: Use explicit keyword parameters instead of `**kwds`.
  scipy/stats/morestats.py
  scipy/stats/stats.py
Labels: maintenance, scipy.stats

#12576 MAINT: remove warning from LSQSphereBivariateSpline
  doc/source/conf.py
  scipy/interpolate/fitpack2.py
Labels: maintenance, scipy.interpolate

#12638 CI, MAINT: pin pytest for Azure win
  azure-pipelines.yml
Labels: CI, backport-candidate, maintenance

#12357 MAINT,TST: update and run scipy/special/utils/convert.py
  scipy/special/tests/data/boost/assoc_legendre_p_ipp/assoc_legendre_p.txt
  scipy/special/tests/data/boost/bessel_i_int_data_ipp/bessel_i_int_data.txt
  scipy/special/tests/data/boost/bessel_i_prime_int_data_ipp/bessel_i_prime_int_data.txt
  scipy/special/tests/data/boost/bessel_j_int_data_ipp/bessel_j_int_data.txt
  scipy/special/tests/data/boost/bessel_j_prime_int_data_ipp/bessel_j_prime_int_data.txt
  scipy/special/tests/data/boost/bessel_j_prime_large_data_ipp/bessel_j_prime_large_data.txt
  scipy/special/tests/data/boost/bessel_k_data_ipp/bessel_k_data.txt
  scipy/special/tests/data/boost/bessel_k_int_data_ipp/bessel_k_int_data.txt
  scipy/special/tests/data/boost/bessel_k_prime_data_ipp/bessel_k_prime_data.txt
  scipy/special/tests/data/boost/bessel_k_prime_int_data_ipp/bessel_k_prime_int_data.txt
  scipy/special/tests/data/boost/bessel_y01_data_ipp/bessel_y01_data.txt
  scipy/special/tests/data/boost/bessel_yv_prime_data_ipp/bessel_yv_prime_data.txt
  scipy/special/tests/data/boost/beta_small_data_ipp/beta_small_data.txt
  scipy/special/tests/data/boost/binomial_quantile_ipp/binomial_quantile_data.txt
  scipy/special/tests/data/boost/ellint_rc_data_ipp/ellint_rc_data.txt
  scipy/special/tests/data/boost/ellint_rd_data_ipp/ellint_rd_data.txt
  scipy/special/tests/data/boost/ellint_rf_data_ipp/ellint_rf_data.txt
  scipy/special/tests/data/boost/ellint_rj_data_ipp/ellint_rj_data.txt
  scipy/special/tests/data/boost/erf_large_data_ipp/erf_large_data.txt
  scipy/special/tests/data/boost/erf_small_data_ipp/erf_small_data.txt
  scipy/special/tests/data/boost/erfc_inv_big_data_ipp/erfc_inv_big_data.txt
  scipy/special/tests/data/boost/erfc_inv_big_data_ipp/erfc_inv_big_data1.txt
  scipy/special/tests/data/boost/erfc_inv_big_data_ipp/erfc_inv_big_data2.txt
  scipy/special/tests/data/boost/expint_1_data_ipp/expint_1_data.txt
  scipy/special/tests/data/boost/expint_data_ipp/expint_data.txt
  scipy/special/tests/data/boost/expint_small_data_ipp/expint_small_data.txt
  scipy/special/tests/data/boost/expinti_data_long_ipp/expinti_data_long.txt
  scipy/special/tests/data/boost/ibeta_data_ipp/ibeta_data.txt
  scipy/special/tests/data/boost/ibeta_int_data_ipp/ibeta_int_data.txt
  scipy/special/tests/data/boost/ibeta_inva_data_ipp/ibeta_inva_data.txt
  scipy/special/tests/data/boost/igamma_int_data_ipp/igamma_int_data.txt
  scipy/special/tests/data/boost/igamma_inva_data_ipp/igamma_inva_data.txt
  scipy/special/tests/data/boost/igamma_med_data_ipp/igamma_med_data.txt
  scipy/special/tests/data/boost/igamma_small_data_ipp/igamma_small_data.txt
  scipy/special/tests/data/boost/legendre_p_ipp/legendre_p.txt
  scipy/special/tests/data/boost/legendre_p_large_ipp/legendre_p_large.txt
  scipy/special/tests/data/boost/negative_binomial_quantile_ipp/negative_binomial_quantile_data.txt
  scipy/special/tests/data/boost/owens_t_ipp/owens_t.txt
  scipy/special/tests/data/boost/owens_t_large_data_ipp/owens_t_large_data.txt
  scipy/special/tests/data/boost/owenst_data_ipp/owens_t.txt
  scipy/special/tests/data/boost/owenst_data_ipp/owens_t_alarge.txt
  scipy/special/tests/data/boost/poisson_quantile_ipp/poisson_quantile_data.txt
  scipy/special/tests/data/boost/powm1_sqrtp1m1_test_cpp/powm1_data.txt
  scipy/special/tests/data/boost/powm1_sqrtp1m1_test_cpp/sqrtp1m1_data.txt
  scipy/special/tests/data/boost/sinc_data_ipp/sinc_data.txt
  scipy/special/tests/data/boost/sph_bessel_data_ipp/sph_bessel_data.txt
  scipy/special/tests/data/boost/sph_neumann_data_ipp/sph_neumann_data.txt
  scipy/special/tests/data/boost/spherical_harmonic_ipp/spherical_harmonic.txt
  scipy/special/tests/data/boost/test_gamma_data_ipp/factorials.txt
  scipy/special/tests/data/boost/test_gamma_data_ipp/near_1.txt
  scipy/special/tests/data/boost/test_gamma_data_ipp/near_2.txt
  scipy/special/tests/data/boost/tgamma_ratio_data_ipp/tgamma_ratio_data.txt
  scipy/special/tests/test_data.py
  scipy/special/utils/convert.py
Labels: maintenance, scipy.special

#12170 ENH: scipy.stats: add negative hypergeometric distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_nhypergeom.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_distns.py
Labels: enhancement, scipy.stats

#12611 MAINT: prepare for SciPy 1.5.3
  azure-pipelines.yml
  doc/release/1.5.3-notes.rst
  doc/source/release.1.5.3.rst
  doc/source/release.rst
  pavement.py
  scipy/optimize/_constraints.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test_slsqp.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  setup.py
Labels: maintenance

#9361 ENH: Add Kendall's tau-a and tau-c variants to scipy.stats.kendalltau()
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats
