Repository scipy/scipy, pull requests merged in 2020-11, with the labels that each got.

#12937 CI: macOS3.9 testing
  .github/workflows/testing.yml
Labels: CI, backport-candidate

#13024 MAINT, CI: backport macOS3.9 + XCode 12 testing
  .github/workflows/testing.yml
Labels: maintenance

#12792 DOC: remove THANKS.txt file in favor of scipy.org
  THANKS.txt
  doc/source/dev/contributor/development_workflow.rst
Labels: Documentation

#13017 BUG: Add explicit cast to _tmp sum.
  scipy/ndimage/src/ni_filters.c
Labels: backport-candidate, defect

#13022 TST: xfail test_maxiter_worsening()
  scipy/sparse/linalg/isolve/tests/test_iterative.py
Labels: backport-candidate, maintenance

#13006 Keep correct dtype when loading empty mat arrays.
  scipy/io/matlab/mio_utils.pyx
  scipy/io/matlab/tests/test_mio_utils.py
Labels: scipy.io

#12964 BUG: added line.strip() to split_data_line()
  scipy/io/arff/arffread.py
  scipy/io/arff/tests/data/test11.arff
  scipy/io/arff/tests/test_arffread.py
Labels: maintenance, scipy.io

#12955 BUG: Fixed wrong NaNs check in scipy.stats.weightedtau
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#12851 BUG: sparse: fix inner indexed assignment of a 1d array
  scipy/sparse/_index.py
  scipy/sparse/tests/test_base.py
Labels: backport-candidate, defect, scipy.sparse

#12847 DOC: Unify the formula in docs of scipy.stats.pearsonr()
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#12752 DOC: Add examples for some root finding functions.
  scipy/optimize/nonlin.py
Labels: Documentation, scipy.optimize

#12998 MAINT: approx_derivative with FP32 closes #12991
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_least_squares.py
Labels: scipy.optimize

#12557 MAINT: Use extern templates to improve sparsetools compile time
  scipy/sparse/generate_sparsetools.py
  scipy/sparse/setup.py
  scipy/sparse/sparsetools/csr.cxx
  scipy/sparse/sparsetools/csr.h
  scipy/sparse/sparsetools/sparsetools.cxx
  scipy/sparse/sparsetools/util.h
Labels: Build issues, maintenance, scipy.sparse

#12743 BUG: Avoid negative variances in circular statistics
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#12996 BUG: Improve error messages for `range` arg of binned_statistic_dd
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: maintenance, scipy.stats

#12729 DEP: remove setup_requires
  .travis.yml
  setup.py
Labels: Build issues

#12885 numpy.linspace calls edited to ensure correct spacing.
  doc/source/tutorial/fft.rst
Labels: Documentation, scipy.fft

#12957 MAINT: fixes XCode 12/ python 3.9.0 build for 1.5.x maint branch
  scipy/sparse/linalg/dsolve/SuperLU/SRC/clacon2.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dmach.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/ilu_cdrop_row.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/ilu_zdrop_row.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/slacon2.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/smach.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sp_ienv.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zlacon2.c
Labels: Build issues, C/C++, backport-candidate

#12990 DOC: Clarify that using sos as output type for iirdesign can have performance costs
  scipy/signal/filter_design.py
Labels: Documentation, scipy.signal

#13032 DOC: fix docstring errors in in stats.wilcoxon
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#13013 ENH: Add `subset` and `subsets` methods to `DisjointSet` class.
  scipy/_lib/_disjoint_set.py
  scipy/cluster/tests/test_disjoint_set.py
Labels: enhancement, scipy.cluster

#13009 MAINT: clip SLSQP step within bounds
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test_slsqp.py
Labels: backport-candidate, scipy.optimize

#13028 MAINT: backports for SciPy 1.5.4
  .travis.yml
  azure-pipelines.yml
  doc/release/1.5.4-notes.rst
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/fft/_pocketfft/version.md
  scipy/fft/tests/test_helper.py
  scipy/ndimage/src/ni_filters.c
  scipy/ndimage/src/ni_fourier.c
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_index.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/tests/test_base.py
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
  tools/lint_diff.py
Labels: maintenance

#13045 MAINT: fix CI pycodestyle fails
  scipy/optimize/tests/test_slsqp.py
Labels: maintenance, scipy.optimize

#13042 MAINT: forward port 1.5.4 release notes
  doc/release/1.5.4-notes.rst
  doc/source/release.1.5.4.rst
  doc/source/release.rst
Labels: maintenance

#13046 DOC: Update optimize.least_squares doc for all tolerance must be higher than machine epsilon when method is 'lm'
  scipy/optimize/_lsq/least_squares.py
Labels: Documentation, scipy.optimize

#12709 BUG: bvls can fail catastrophically to converge
  scipy/optimize/_lsq/bvls.py
  scipy/optimize/tests/test_lsq_linear.py
Labels: backport-candidate, defect, scipy.optimize

#13036 BUG: forward port lint_diff shims
  .travis.yml
Labels: CI, defect

#8779 CI: Run benchmarks
  .circleci/config.yml
  .travis.yml
  benchmarks/benchmarks/blas_lapack.py
  benchmarks/benchmarks/cluster.py
  benchmarks/benchmarks/common.py
  benchmarks/benchmarks/cython_special.py
  benchmarks/benchmarks/fft_basic.py
  benchmarks/benchmarks/fftpack_pseudo_diffs.py
  benchmarks/benchmarks/go_benchmark_functions/go_benchmark.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_M.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_univariate.py
  benchmarks/benchmarks/integrate.py
  benchmarks/benchmarks/interpolate.py
  benchmarks/benchmarks/io_matlab.py
  benchmarks/benchmarks/linalg.py
  benchmarks/benchmarks/linalg_logm.py
  benchmarks/benchmarks/linalg_solve_toeplitz.py
  benchmarks/benchmarks/linalg_sqrtm.py
  benchmarks/benchmarks/optimize.py
  benchmarks/benchmarks/optimize_lap.py
  benchmarks/benchmarks/optimize_linprog.py
  benchmarks/benchmarks/optimize_qap.py
  benchmarks/benchmarks/optimize_zeros.py
  benchmarks/benchmarks/peak_finding.py
  benchmarks/benchmarks/signal.py
  benchmarks/benchmarks/signal_filtering.py
  benchmarks/benchmarks/sparse.py
  benchmarks/benchmarks/sparse_csgraph.py
  benchmarks/benchmarks/sparse_csgraph_djisktra.py
  benchmarks/benchmarks/sparse_csgraph_matching.py
  benchmarks/benchmarks/sparse_csgraph_maxflow.py
  benchmarks/benchmarks/sparse_linalg_expm.py
  benchmarks/benchmarks/sparse_linalg_lobpcg.py
  benchmarks/benchmarks/sparse_linalg_onenormest.py
  benchmarks/benchmarks/sparse_linalg_solve.py
  benchmarks/benchmarks/spatial.py
  benchmarks/benchmarks/special.py
  benchmarks/benchmarks/stats.py
Labels: Benchmarks

#11346 ENH: add fast toeplitz matrix multiplication using FFT
  scipy/linalg/__init__.py
  scipy/linalg/basic.py
  scipy/linalg/tests/test_matmul_toeplitz.py
Labels: enhancement, scipy.linalg

#12983 ENH: improvements to stats.linregress
  scipy/stats/_stats_mstats_common.py
  scipy/stats/morestats.py
  scipy/stats/mstats_basic.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#12767 Fix spline interpolation boundary handling for modes reflect and wrap
  doc/source/tutorial/examples/plot_boundary_modes.py
  doc/source/tutorial/examples/plot_interp_grid.py
  doc/source/tutorial/ndimage.rst
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/src/ni_splines.c
  scipy/ndimage/src/ni_support.c
  scipy/ndimage/src/ni_support.h
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_splines.py
Labels: defect, enhancement, scipy.ndimage

#13058 DOC: stats: Replace np.float with np.float64 in a tutorial file.
  doc/source/tutorial/stats.rst
Labels: Documentation, scipy.stats

#13061 DOC: signal.win -> signal.windows.win in Examples
  doc/source/tutorial/signal.rst
  scipy/signal/fir_filter_design.py
  scipy/signal/signaltools.py
  scipy/signal/spectral.py
  scipy/signal/windows/windows.py
Labels: Documentation, scipy.signal

#13060 MAINT: clip_x_for_func should be private
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
Labels: maintenance, scipy.optimize

#13056 MAINT: fft: Fix a C++ compiler warning.
  scipy/fft/_pocketfft/pypocketfft.cxx
Labels: maintenance, scipy.fft

#12253 TST, CI: turn on codecov patch diffs
  codecov.yml
Labels: CI

#13057 Minor fixes on doc of function csr_tocsc
  scipy/sparse/sparsetools/csr.h
Labels: Documentation, scipy.sparse

#13070 MAINT: stats: Remove a couple obsolete comments.
  scipy/stats/mstats_basic.py
Labels: maintenance, scipy.stats

#12968 ENH: stats: Use only an analytical formula or scalar root-finding in rayleigh.fit.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, enhancement, scipy.stats

#12776 ENH: add grid-constant boundary handling in ndimage interpolation functions
  doc/source/tutorial/examples/plot_boundary_modes.py
  doc/source/tutorial/ndimage.rst
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/src/ni_interpolation.h
  scipy/ndimage/src/ni_splines.c
  scipy/ndimage/src/ni_support.h
  scipy/ndimage/tests/test_interpolation.py
Labels: enhancement, scipy.ndimage

#12725 ENH: Support complex-valued images and kernels for many ndimage filters
  scipy/ndimage/_ni_support.py
  scipy/ndimage/filters.py
  scipy/ndimage/tests/__init__.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#12812 ENH: support interpolation of complex-valued images
  scipy/ndimage/_ni_support.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
Labels: enhancement, scipy.ndimage

#13059 DOC: stats: Update the "Returns" section of the linregress docstring.
  scipy/stats/_stats_mstats_common.py
Labels: Documentation, scipy.stats

#13073 BUG: Fix scalar_search_wolfe2 to resolve #12157
  scipy/optimize/linesearch.py
  scipy/optimize/tests/test_linesearch.py
Labels: defect, scipy.optimize

#11249 ENH: optimize: interpolative decomposition redundancy removal for linprog
  benchmarks/benchmarks/optimize_linprog.py
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#13078 CI, MAINT: migrate Lint to Azure
  .travis.yml
  azure-pipelines.yml
Labels: CI, maintenance

#12852 ENH, MAINT: Bring KDTree interface to feature-parity with cKDTree
  scipy/spatial/ckdtree.pyx
  scipy/spatial/kdtree.py
  scipy/spatial/tests/test_kdtree.py
Labels: enhancement, maintenance, scipy.spatial

#13081 BLD: drop Python 3.6 support (NEP 29)
  .github/workflows/testing.yml
  .travis.yml
  INSTALL.rst.txt
  azure-pipelines.yml
  pyproject.toml
  setup.py
  tox.ini
Labels: Build issues, maintenance

#12777 Add Taylor Window function - Common in Radar DSP
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/__init__.py
  scipy/signal/windows/windows.py
Labels: enhancement, scipy.signal

#13087 ENH:signal: Speed-up Cython implementation of _sosfilt
  scipy/signal/_sosfilt.pyx
Labels: Cython, enhancement, scipy.signal

#13091 BUG: Fix GIL handling in _sosfilt
  scipy/signal/_sosfilt.pyx
Labels: defect, scipy.signal

#12737 ENH: stats: override stats.gumbel_r.fit and stats.gumbel_l.fit with system of equations for MLE
  benchmarks/benchmarks/stats.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats

#12770 ENH: add nearest-up rounding to scipy.interpolate.interp1d
  scipy/interpolate/interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#13089 BLD, BUG: add c99 compiler flag to HiGHS basiclu library
  scipy/optimize/_highs/setup.py
Labels: Build issues, scipy.optimize

#13063 MAINT: Add suite-sparse and sksparse installation check
  scipy/optimize/_linprog_ip.py
  scipy/optimize/tests/test_linprog.py
Labels: maintenance, scipy.optimize

#13100 BUG: sparse: Correct output format of kron
  scipy/sparse/construct.py
  scipy/sparse/tests/test_construct.py
Labels: defect, scipy.sparse

#12839 ENH: scipy.stats: add multivariate hypergeometric distribution
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: enhancement, scipy.stats

#13094 DOC: clarify "location" in docstring of cKDTree.query
  scipy/spatial/ckdtree.pyx
  scipy/spatial/kdtree.py
Labels: Documentation, scipy.spatial

#13110 CI, MAINT: refguide/asv checks to azure
  .travis.yml
  azure-pipelines.yml
Labels: CI, maintenance

#13112 CI: fix MacOS CI
  .github/workflows/testing.yml
Labels: CI, defect

#13113 CI: Install word list package for refguide-check
  azure-pipelines.yml
Labels: CI

#13107 ENH: faster linear_sum_assignment for small cost matrices
  scipy/optimize/_lsap.py
  scipy/optimize/_lsap_module.c
Labels: scipy.optimize

#12069 DOC: Add developer guidelines for implementing the nan_policy parameter.
  doc/source/dev/api-dev/api-dev-toc.rst
  doc/source/dev/api-dev/nan_policy.rst
  doc/source/dev/api-dev/special_ufuncs.rst
  doc/source/dev/core-dev/index.rst
  doc/source/index.rst
Labels: Documentation

#13128 TST: skip Fortran I/O test for ODR
  scipy/odr/tests/test_odr.py
Labels: maintenance, scipy.odr

#13029 MAINT: basinhopping callback for initial mininmisation
  scipy/optimize/_basinhopping.py
  scipy/optimize/tests/test__basinhopping.py
Labels: maintenance, scipy.optimize

#13116 CI: Don't report name errors after an exception in refguide-check
  tools/refguide_check.py
Labels: CI

#13123 BLD: Specify file extension for language standard version tests
  scipy/_build_utils/compiler_helper.py
Labels: Build issues

#13119 Improve error message on friedmanchisquare function
  scipy/stats/stats.py
Labels: scipy.stats

#13097 BUG: fix CubicSpline(..., bc_type="periodic") #11758
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_polyint.py
Labels: defect, scipy.interpolate

#13117 CI: move sdist/pre-release test Azure
  .travis.yml
  azure-pipelines.yml
Labels: CI

#13082 MAINT: update minimum NumPy version to 1.16.5 in a couple more places
  INSTALL.rst.txt
  doc/release/1.6.0-notes.rst
  doc/source/toolchain.rst
  scipy/__init__.py
Labels: maintenance

#13083 DOC: update toolchain.rst
  doc/source/toolchain.rst
Labels: Documentation

#12597 ENH: Add single-sided p-values to t-tests
  scipy/stats/stats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#13139 Fix edge case for mode='nearest' in ndimage.interpolation functions
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/tests/test_interpolation.py
Labels: defect, scipy.ndimage

#13054 BUG: fix `scipy.optimize.show_options` for unknown methods. and add *_METHODS list for each solver script and fix show_options doc
  scipy/optimize/_linprog.py
  scipy/optimize/_minimize.py
  scipy/optimize/_qap.py
  scipy/optimize/_root.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: Documentation, defect, scipy.optimize

#13144 MAINT: stats: restrict gausshyper z > -1
  doc/source/tutorial/stats/continuous_gausshyper.rst
  scipy/stats/_continuous_distns.py
Labels: maintenance, scipy.stats

#12694 scipy/stats: Add laplace_asymmetric continuous distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_laplace_asymmetric.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
  tools/unicode-check.py
Labels: enhancement, scipy.stats

#13151 MAINT: stats: Fix a test and a couple PEP-8 issues.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#13149 DOC: spatial/stats: cross-ref random rotation matrix functions
  scipy/spatial/transform/rotation.pyx
  scipy/stats/_multivariate.py
Labels: Documentation, scipy.spatial, scipy.stats

#13115 BUG: add value range check for signal.iirdesign()
  scipy/signal/filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#13156 DOC: maintain equal display range for ndimage.zoom example
  scipy/ndimage/interpolation.py
Labels: Documentation, scipy.ndimage

#13154 ENH: stats: Implement defined handling of constant inputs in zscore.
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#13152 MAINT: stats: Use np.take_along_axis in the private function _first().
  scipy/stats/stats.py
Labels: maintenance, scipy.stats

#13138 CI: Port coverage, 64-bit BLAS, GCC 4.8 build to azure
  .travis.yml
  azure-pipelines.yml
  ci/azure-travis-template.yaml
  scipy/optimize/setup.py
Labels: CI

#13141 BUG: signal: Fix data type of the numerator returned by ss2tf.
  scipy/signal/lti_conversion.py
  scipy/signal/ltisys.py
  scipy/signal/tests/test_ltisys.py
Labels: defect, scipy.signal

#13160 DOC: stats: disambiguate location-shifted/noncentral
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
Labels: Documentation, scipy.stats

#13163 BUG: stats: fix bug in spearmanr nan propagation
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#13095 Zoom resize update
  scipy/ndimage/interpolation.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/src/ni_interpolation.c
  scipy/ndimage/src/ni_interpolation.h
  scipy/ndimage/tests/test_interpolation.py
Labels: defect, enhancement

#13159 CI: Azure: Don't run tests on merge commits, except for coverage
  ci/azure-travis-template.yaml
Labels: CI

#13167 MAINT: stats: Fix a test.
  scipy/stats/tests/test_continuous_basic.py
Labels: defect, scipy.stats
