Repository scipy/scipy, pull requests merged in 2020-10, with the labels that each got.

#12902 CI: Remove 'env' from pytest.ini
  pytest.ini
Labels: CI

#12097 ENH: stats: override stats.rayleigh.fit with analytical MLE
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#12908 MAINT: spatial: Remove two occurrences of unused variables in distance_wrap.c
  scipy/spatial/src/distance_wrap.c
Labels: maintenance, scipy.spatial

#12909 ENH: stats: Add methods gumbel_r._sf and gumbel_r._isf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#12910 CI: travis: Remove some unnecessary code from .travis.yml.
  .travis.yml
Labels: CI, maintenance

#12913 MAINT: Ignore pytest's PytestConfigWarning
  pytest.ini
Labels: CI

#12689 BENCH: simplify benchmark setup, remove benchmarks/run.py
  benchmarks/README.rst
  benchmarks/asv.conf.json
  benchmarks/run.py
  doc/source/dev/contributor/benchmarking.rst
  runtests.py
Labels: Benchmarks

#12921 CI: don't run GitHub Actions on fork or in cron job
  .github/workflows/bleedingedge.yml
  .github/workflows/testing.yml
Labels: CI

#12779 ENH: Improvments to pocketfft thread pool and ARM neon vectorization
  scipy/fft/_pocketfft/pocketfft_hdronly.h
  scipy/fft/_pocketfft/version.md
Labels: enhancement, scipy.fft

#12875 BUG: segfault in ndimage.fourier_ellipsoid with length-1 dims
  scipy/ndimage/src/ni_fourier.c
  scipy/ndimage/tests/test_fourier.py
Labels: backport-candidate, defect, scipy.ndimage

#12927 MAINT: rename integrate.simps to simpson
  doc/source/tutorial/integrate.rst
  scipy/integrate/__init__.py
  scipy/integrate/_quadrature.py
  scipy/integrate/quadpack.py
  scipy/integrate/tests/test_quadrature.py
  tools/refguide_check.py
Labels: maintenance, scipy.integrate

#12582 ENH: Multivariate t-distribution
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: enhancement, scipy.stats

#12938 MAINT: fix linter on master
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_rank.py
Labels: maintenance

#12906 WIP, MAINT: draft backports for 1.5.3
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  doc/release/1.5.3-notes.rst
  pytest.ini
  scipy/__init__.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test_warnings.py
  scipy/integrate/_ivp/rk.py
  scipy/integrate/_ivp/setup.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/_ivp/tests/test_rk.py
  scipy/interpolate/interpnd.pyx
  scipy/interpolate/polyint.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/measurements.py
  scipy/ndimage/src/ni_fourier.c
  scipy/ndimage/src/ni_measure.c
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/signal/_savitzky_golay.py
  scipy/signal/bsplines.py
  scipy/signal/filter_design.py
  scipy/signal/tests/test_bsplines.py
  scipy/sparse/_index.py
  scipy/sparse/compressed.py
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/ckdtree.pyx
  scipy/spatial/qhull_misc.c
  scipy/stats/_continuous_distns.py
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#12953 MAINT: 1.5.3 backports related to ARM64
  doc/release/1.5.3-notes.rst
  tools/openblas_support.py
Labels: maintenance

#12941 Update minimum AIX pinnings to match non AIX builds
  pyproject.toml
Labels: Build issues, maintenance

#12903 DOC: update Windows build guide and move into contributor guide
  doc/source/building/windows.rst
  doc/source/dev/contributor/contributor_toc.rst
Labels: Documentation

#12907 DOC: clarify which array the precenter option applies to
  scipy/signal/spectral.py
Labels: Documentation, scipy.signal

#12934 MAINT: rename trapz and cumtrapz to (cumulative_)trapezoid
  doc/release/0.18.0-notes.rst
  doc/release/1.5.0-notes.rst
  doc/source/tutorial/examples/4-1
  doc/source/tutorial/integrate.rst
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_trapezoid.rst
  scipy/integrate/__init__.py
  scipy/integrate/_quad_vec.py
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_quadrature.py
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
  tools/refguide_check.py
Labels: maintenance, scipy.integrate, scipy.stats

#12640 MAINT: stats: fix issues with scipy.stats.pearson3 docs, moment, and cdf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12738 ENH: stats: override stats.logistic.fit with system of equations for MLE
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#12962 Correcting that p should be in [0,1] for a variety of discrete distns.
  scipy/stats/_discrete_distns.py
Labels: Documentation, scipy.stats

#12961 MAINT: prepare for SciPy 1.5.4
  doc/release/1.5.4-notes.rst
  doc/source/release.1.5.4.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#12971 MAINT: Declare support for Python 3.9
  setup.py
Labels: maintenance

#12960 MAINT: forward port 1.5.3 release notes
  doc/release/1.5.3-notes.rst
  doc/source/release.1.5.3.rst
  doc/source/release.rst
Labels: maintenance

#12974 MAINT: Run lint_diff.py against the merge target and only for PRs
  .travis.yml
  tools/lint_diff.py
Labels: CI, maintenance

#12979 BUG: fft.next_fast_len should accept keyword arguments
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/fft/_pocketfft/version.md
  scipy/fft/tests/test_helper.py
Labels: backport-candidate, defect, scipy.fft

#12958 ENH: stats: Implement _logpdf, _sf and _isf for nakagami.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#12849 DOC: polish QAP docs for consistency and readability
  scipy/optimize/_qap.py
Labels: Documentation, scipy.optimize

#12992 DOC: capitalization and formatting in lsmr
  scipy/sparse/linalg/isolve/lsmr.py
Labels: Documentation, scipy.sparse.linalg

#12995 DOC: stats: Several documentation fixes.
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#12989 BUG: improved the stability of kde for highly (1000s) multi-dimension inputs
  scipy/stats/kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: backport-candidate, defect, scipy.stats

#12980 DOC: Update documentation on optimize.rosen
  scipy/optimize/optimize.py
Labels: Documentation, scipy.optimize

#12959 CI: add Windows Python 3.9 to CI
  azure-pipelines.yml
Labels: CI, backport-candidate

#12695 DOC: update Ubuntu quickstart; conda compilers now work!
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation

#12911 Minor fixes to dendrogram plotting
  scipy/cluster/hierarchy.py
Labels: maintenance, scipy.cluster
