Repository scipy/scipy, pull requests merged in 2020-02, with the labels that each got.

#11284 fix docs & behavior for mode sequences in ndimage filters
  scipy/ndimage/_ni_support.py
  scipy/ndimage/filters.py
  scipy/ndimage/tests/test_ndimage.py
Labels: Documentation, defect

#11454 DOC: Remove caveat on `maximum_bipartite_matching`
  scipy/sparse/csgraph/_flow.pyx
Labels: Documentation, scipy.sparse.csgraph

#11461 MAINT: minor spelling corrections in comments in SciPy.sparse.linalg.arpack
  scipy/linalg/tests/test_lapack.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
Labels: scipy.sparse

#11404 ENH: add docstring of butter() for transfer function syntax problem
  scipy/signal/filter_design.py
Labels: Documentation, maintenance, scipy.signal

#11476 DOC: stats: Copy-edit the anderson docstring.
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#11490 DOC: fix typo in scipy/io/matlab/mio4.py
  scipy/io/matlab/mio4.py
Labels: maintenance, scipy.io

#11489 BUG: fixes typo introduced in PR #11253 in stats.mstats.kendalltau()
  scipy/stats/mstats_basic.py
  scipy/stats/tests/test_mstats_basic.py
Labels: defect, scipy.stats

#11402 ENH: stats can use np.random.Generator
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_multivariate.py
  scipy/stats/_rvs_sampling.py
  scipy/stats/kde.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_binned_statistic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_kdeoth.py
Labels: enhancement, scipy.stats

#11455 BUG: Fix _lib._util.getargspec_no_self lack of KEYWORD_ONLY support.
  doc/source/scipyoptdoc.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/optimize/minpack.py
  scipy/optimize/nonlin.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_zeros.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
Labels: maintenance, scipy.stats

#11304 ENH: MAINT: Rewrite of eigh() and relevant wrappers
  scipy/linalg/decomp.py
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, maintenance, scipy.linalg

#11478 ENH: avoid unnecessary array copies in matrix product
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/generate_sparsetools.py
  scipy/sparse/sparsetools/bsr.h
  scipy/sparse/sparsetools/csc.h
  scipy/sparse/sparsetools/csr.h
Labels: enhancement, scipy.sparse

#11265 Fix: Can no longer slice csr_matrix in 1.3.0
  scipy/sparse/_index.py
  scipy/sparse/tests/test_csr.py
Labels: backport-candidate, defect, scipy.sparse

#11389 MAINT: line.startswith shouldn't be bytes
  scipy/io/mmio.py
  scipy/io/tests/test_mmio.py
Labels: maintenance, scipy.io

#11506 DOC: Fix typo in documentation of scipy.stats.morestats
  scipy/stats/morestats.py
Labels: Documentation, scipy.stats

#11486 BUG: make special.eval_hermite return nan if second argument is nan
  scipy/special/orthogonal_eval.pxd
  scipy/special/tests/test_orthogonal_eval.py
Labels: scipy.special

#11498 [DOC] mention graph cuts in maximum flow docstring
  scipy/sparse/csgraph/_flow.pyx
Labels: Documentation, scipy.sparse.csgraph

#11513 TST: disable NumPy cache dir ppc64le
  .travis.yml
Labels: CI

#11511 TST: pin numba for Travis/sparse
  .travis.yml
Labels: CI

#11469 Update integrate.quad documentation
  scipy/integrate/quadpack.py
Labels: Documentation, scipy.integrate

#11434 MAINT: Python3 improvements to refguide_check.py
  tools/refguide_check.py
Labels: maintenance

#11425 FIX: _array_newton should preserve complex inputs
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.py
Labels: scipy.optimize

#11499 DOC: Improve documentation of scipy.signal.signaltools.wiener
  scipy/signal/signaltools.py
Labels: Documentation, scipy.signal

#11508 ENH: avoid copy on sparse __init__ when dtype is given
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/dok.py
  scipy/sparse/lil.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#11418 ENH: Linalg: Python wrapper for ?geqrfp
  scipy/linalg/flapack_gen.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11520 BUG: make special.eval_gegenbauer return nan if passed nan
  scipy/special/orthogonal_eval.pxd
  scipy/special/tests/test_orthogonal_eval.py
Labels: scipy.special

#11487 ENH: improve docstring of correlate and correlate2d to fix #1968
  scipy/signal/signaltools.py
Labels: Documentation, scipy.signal

#11456 Implementation of khatri_rao product
  scipy/linalg/__init__.py
  scipy/linalg/matfuncs.py
  scipy/linalg/tests/test_matfuncs.py
Labels: enhancement, scipy.linalg

#11436 MAINT: Remove checks for sys.version < 3.5
  doc/postprocess.py
  runtests.py
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_matrix_io.py
  tools/refguide_check.py
  tools/suppress_output.py
Labels: maintenance

#11530 MAINT: Removed 3 unused imports, 3 unused assignments from ndimage.
  scipy/ndimage/filters.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_ndimage.py
  scipy/ndimage/tests/test_regression.py
Labels: maintenance, scipy.ndimage

#11533 MAINT: Fixed about 100 unused imports, unused assignment warnings from scipy/optimize
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_lsq/trf.py
  scipy/optimize/_shgo.py
  scipy/optimize/_trlib/setup.py
  scipy/optimize/_trustregion.py
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tests/test_report.py
  scipy/optimize/lbfgsb.py
  scipy/optimize/minpack.py
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__root.py
  scipy/optimize/tests/test__shgo.py
  scipy/optimize/tests/test_constraint_conversion.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_hessian_update_strategy.py
  scipy/optimize/tests/test_lbfgsb_hessinv.py
  scipy/optimize/tests/test_lsq_common.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_slsqp.py
  scipy/optimize/tests/test_trustregion_exact.py
  scipy/optimize/tests/test_trustregion_krylov.py
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/tnc.py
Labels: maintenance, scipy.optimize

#11535 MAINT: Fixed several unused imports in _lib.
  scipy/_lib/tests/test__gcutils.py
  scipy/_lib/tests/test__pep440.py
  scipy/_lib/tests/test_warnings.py
Labels: maintenance

#11536 MAINT: Fixed several unused imports and unused assignments in scipy/cluster.
  scipy/cluster/setup.py
  scipy/cluster/tests/test_hierarchy.py
Labels: maintenance, scipy.cluster

#11531 DOC: fix typos in bdtr and bdtrc from gh PR 11045
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#11540 MAINT: Fixed two unused imports in scipy/misc.
  scipy/misc/doccer.py
  scipy/misc/tests/test_common.py
Labels: maintenance, scipy.misc

#11397 MAINT: differential_evolution accepts np.random.Generator
  scipy/optimize/_basinhopping.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__basinhopping.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: enhancement, scipy.optimize

#11543 MAINT: Fixed several unused imports and unused assignments in scipy/io.
  scipy/io/harwell_boeing/_fortran_format_parser.py
  scipy/io/harwell_boeing/tests/test_fortran_format.py
  scipy/io/harwell_boeing/tests/test_hb.py
  scipy/io/matlab/mio5.py
  scipy/io/matlab/miobase.py
  scipy/io/matlab/tests/test_mio.py
  scipy/io/matlab/tests/test_mio_funcs.py
  scipy/io/matlab/tests/test_mio_utils.py
  scipy/io/matlab/tests/test_streams.py
  scipy/io/tests/test_fortran.py
  scipy/io/tests/test_netcdf.py
Labels: maintenance, scipy.io

#11546 MAINT: Removed unused imports; fixed unused assignments in scipy/signal.
  scipy/signal/signaltools.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_dltisys.py
  scipy/signal/tests/test_ltisys.py
  scipy/signal/tests/test_spectral.py
  scipy/signal/tests/test_upfirdn.py
Labels: maintenance, scipy.signal

#11544 MAINT: Fixed unused imports and unused assignments in scipy/integrate.
  scipy/integrate/_bvp.py
  scipy/integrate/quadrature.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_quadpack.py
Labels: maintenance, scipy.integrate

#11545 MAINT: Removed unused imports and fixed unused assignments in scipy/fftpack
  scipy/fftpack/setup.py
  scipy/fftpack/tests/test_basic.py
  scipy/fftpack/tests/test_helper.py
  scipy/fftpack/tests/test_import.py
Labels: maintenance, scipy.fftpack

#11542 MAINT: Fixed an unused import in scipy/odr.
  scipy/odr/__init__.py
Labels: maintenance, scipy.odr

#11541 MAINT: Fixed several unused imports and unused assignments in scipy/special
  scipy/special/_precompute/wrightomega.py
  scipy/special/orthogonal.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_bdtr.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_orthogonal.py
  scipy/special/tests/test_pdtr.py
  scipy/special/tests/test_precompute_gammainc.py
  scipy/special/tests/test_sf_error.py
  scipy/special/tests/test_trig.py
  scipy/special/tests/test_zeta.py
Labels: maintenance, scipy.special

#11538 MAINT: Fixed several unused imports in scipy/fft.
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/fft/tests/mock_backend.py
  scipy/fft/tests/test_backend.py
  scipy/fft/tests/test_helper.py
Labels: maintenance, scipy.fft

#11548 MAINT: Removed unused imports; fixed unused assignments in scipy.sparse.
  scipy/sparse/_matrix_io.py
  scipy/sparse/csgraph/tests/test_reordering.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/dsolve/setup.py
  scipy/sparse/linalg/eigen/arpack/setup.py
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/minres.py
  scipy/sparse/linalg/isolve/setup.py
  scipy/sparse/linalg/isolve/tests/demo_lgmres.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/linalg/tests/test_norm.py
  scipy/sparse/sparsetools.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_matrix_io.py
Labels: maintenance, scipy.sparse

#11547 MAINT: Removed unused imports; fixed unused assignments in scipy/spatial
  scipy/spatial/kdtree.py
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_qhull.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: maintenance, scipy.spatial

#11560 MAINT: stats: remove an _argcheck call
  scipy/stats/_distn_infrastructure.py
Labels: maintenance, scipy.stats

#11245 ENH: optimize: dense redundancy removal routine optimizations
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/tests/test__remove_redundancy.py
Labels: enhancement, scipy.optimize

#11378 ENH (WIP): Python wrapper for ?tbtrs
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#11573 MAINT: Removed unused imports; fixed unused assignments in scipy/stats.
  scipy/stats/stats.py
  scipy/stats/tests/test_contingency.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#11532 MAINT: Fixed several unused imports and unused assignments from linalg
  scipy/linalg/lapack.py
  scipy/linalg/setup.py
  scipy/linalg/tests/test_blas.py
  scipy/linalg/tests/test_build.py
  scipy/linalg/tests/test_matfuncs.py
Labels: maintenance, scipy.linalg

#11510 [DOC] An ex. for creating arbitrary size tri-diagonal
  scipy/sparse/dia.py
Labels: Documentation, scipy.sparse

#11575 MAINT: Update sytrd/hetrd tests
  scipy/linalg/tests/test_lapack.py
Labels: scipy.linalg

#11534 FIX: Allow non-native byte order inputs to scipy.fft
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fft/_pocketfft/tests/test_real_transforms.py
Labels: backport-candidate, scipy.fft

#9719 ENH: Added kstwo probability distribution for two-sided one-sample Kolmogorov-Smirnov tests.
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_kstwo.rst
  doc/source/tutorial/stats/continuous_kstwobign.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_distr_params.py
  scipy/stats/_ksstats.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: enhancement, scipy.stats

#11549 MAINT: Replace xrange with range
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/interpnd.pyx
  scipy/spatial/qhull.pyx
  scipy/spatial/setlist.pxd
  scipy/special/_comb.pyx
  scipy/stats/_stats.pyx
Labels: maintenance, scipy.interpolate

#11459 BUG: fix augmentation being broken in maximum_bipartite_matching
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/tests/test_matching.py
Labels: backport-candidate, maintenance, scipy.sparse.csgraph

#11188 MAINT: add rvs method to argus in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#11527 ENH: improve docstring of weibull_min_gen and weibull_max_gen to fix #10014
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#11517 ENH: improve sparse.lil.tocsr performance
  scipy/sparse/_csparsetools.pyx.in
  scipy/sparse/lil.py
Labels: enhancement, scipy.sparse
