Repository scipy/scipy, pull requests merged in 2020-09, with the labels that each got.

#12802 BENCH: add scipy.ndimage.interpolation benchmarks
  benchmarks/benchmarks/ndimage_interpolation.py
Labels: Benchmarks, scipy.ndimage

#12810 CI: fix 32-bit Linux build failure on Azure CI runs
  azure-pipelines.yml
  scipy/spatial/tests/test_distance.py
Labels: CI, maintenance

#12788 API: Rename cKDTree n_jobs argument to workers
  scipy/spatial/ckdtree.pyx
  scipy/spatial/tests/test_kdtree.py
Labels: maintenance, scipy.spatial

#12793 Add new flag to authors tool
  tools/authors.py
Labels: enhancement

#12744 Prevent build error on GNU/Hurd
  tools/cythonize.py
Labels: Build issues

#12831 typo in base.py
  scipy/sparse/base.py
Labels: Documentation, scipy.sparse

#12144 DOC: Update ndimage.morphology.distance_transform_*
  THANKS.txt
  scipy/ndimage/morphology.py
Labels: Documentation, maintenance, scipy.ndimage

#12830 [BUG] sparse: Avoid using size attribute in LIL __setitem__
  scipy/sparse/_index.py
  scipy/sparse/compressed.py
  scipy/sparse/tests/test_base.py
Labels: backport-candidate, defect, scipy.sparse

#12833 BUG: change list of globals items to list of a copy
  scipy/stats/_continuous_distns.py
Labels: defect, scipy.stats

#12835 MAINT: stats: Improve vonmises PDF calculation.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12843 changed M to N in windows.dpss
  scipy/signal/windows/windows.py
Labels: Documentation, scipy.signal

#12846 MAINT: update minimum NumPy version to 1.16.5
  .travis.yml
  doc/source/building/windows.rst
  pyproject.toml
  setup.py
Labels: maintenance

#12600 ENH: disjoint set data structure
  benchmarks/benchmarks/cluster_hierarchy_disjoint_set.py
  scipy/_lib/_disjoint_set.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_disjoint_set.py
Labels: enhancement, scipy.cluster

#12460 check if column in spearman rho is entirely NaN or Inf
  scipy/stats/mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#12845 BUG: avoid boolean or integer addition error in ndimage.measurements.median
  scipy/ndimage/measurements.py
  scipy/ndimage/tests/test_measurements.py
Labels: defect, scipy.ndimage

#12842 BUG: Use uint16 for cost in NI_WatershedElement
  scipy/ndimage/src/ni_measure.c
  scipy/ndimage/tests/test_measurements.py
Labels: defect, scipy.ndimage

#12698 MAINT: Replace np.max with np.maximum
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#12822 MAINT: simplify directed_hausdorff
  scipy/spatial/_hausdorff.pyx
Labels: maintenance, scipy.spatial

#12858 DOC: use :doi: and :arxiv: directives for references
  doc/source/tutorial/optimize.rst
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/_solvers.py
  scipy/linalg/basic.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/_lsap.py
  scipy/optimize/_minimize.py
  scipy/optimize/_qap.py
  scipy/signal/fir_filter_design.py
  scipy/signal/spectral.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/linalg/eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/spatial/ckdtree.pyx
  scipy/spatial/distance.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_multivariate.py
  scipy/stats/stats.py
Labels: Documentation

#12867 BUG: Fixes a ValueError yielded upon calling Scipy Interpolator objects
  scipy/interpolate/interpnd.pyx
Labels: Cython, backport-candidate, defect, scipy.interpolate

#12882 MAINT: stats: Change a test to use <= instead of strictly less than.
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#11119 ENH: add Cramer-von-Mises (one-sample) test to scipy.stats
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/stats.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#12886 DOC: stats: Add 'versionadded' to cramervonmises docstring.
  scipy/stats/_hypotests.py
  scipy/stats/stats.py
  scipy/stats/tests/test_hypotests.py
Labels: Documentation, scipy.stats

#12717 DOC: Fix Issue #5396
  scipy/spatial/distance.py
Labels: Documentation, scipy.spatial
