Repository scipy/scipy, pull requests merged in 2021-08, with the labels that each got.

#14477 MAINT: Using Tempita file for bspline (signal)
  scipy/signal/C_bspline_util.c
  scipy/signal/S_bspline_util.c
  scipy/signal/Z_bspline_util.c
  scipy/signal/bspline_util.c
  scipy/signal/bspline_util.c.in
  scipy/signal/setup.py
  scipy/signal/splinemodule.c
Labels: maintenance, scipy.signal

#14492 CI: make sure Azure job step fails when building a SciPy wheel fails
  azure-pipelines.yml
Labels: CI, maintenance

#14426 ENH: Add args argument for callable in quad_vec
  scipy/_lib/_util.py
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/optimize/_differentialevolution.py
Labels: enhancement, scipy.integrate

#14516 REL: prep for SciPy 1.7.2
  doc/release/1.7.2-notes.rst
  doc/source/release.1.7.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#14513 DOC: added reference and example in jacobi docstring
  scipy/special/orthogonal.py
Labels: Documentation, enhancement, scipy.special

#14507 CI: Add lint_diff docs & option to run only on specified files/dirs
  doc/source/dev/contributor/pep8.rst
  tools/lint_diff.py
Labels: CI, Documentation

#13471 ENH: LHS based OptimalDesign (scipy.stats.qmc)
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: enhancement, scipy.stats

#14538 CI: Revert "CI: make sure Azure job step fails when building a SciPy wheel fails"
  azure-pipelines.yml
Labels: CI, defect

#14524 ENH: Rotation.concatenate
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#14274 MAINT: more scalar array conversion fixes for optimize
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_shgo.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_optimize.py
Labels: maintenance, scipy.optimize

#14478 BUG: geometric_slerp t ndim guard
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/tests/test_slerp.py
Labels: defect, scipy.spatial, backport-candidate

#14449 ENH: Cythonize van der corput
  benchmarks/benchmarks/stats.py
  scipy/stats/_qmc.py
  scipy/stats/_qmc_cy.pyi
  scipy/stats/_qmc_cy.pyx
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement, Cython

#14547 ENH: __setitem__ method for Rotation class
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#14556 Fix the link to details of the strongly connected components algorithm
  scipy/sparse/csgraph/_traversal.pyx
Labels: Documentation, scipy.sparse.csgraph

#14344 ENH: scipy.interpolate b-splines (design_matrix)
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: enhancement, scipy.interpolate

#14380 ENH: Fixed intercept computation in theilslopes
  scipy/stats/_stats_mstats_common.py
  scipy/stats/mstats_basic.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation, maintenance

#14209 ENH: stats: kendalltau: add alternative parameter
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#14572 Set min length of the knot array for BSpline.design_matrix
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#14328 MAINT: _lib: add __dealloc__ to MessageStream
  scipy/_lib/messagestream.pxd
  scipy/_lib/messagestream.pyx
Labels: scipy._lib, maintenance

#14549 Small test fixes for pypy + win + mmap
  scipy/io/tests/test_netcdf.py
  scipy/io/tests/test_wavfile.py
Labels: scipy.io, maintenance

#14207 DOC: stats: remove 'Methods' section from `binomtest` docstring so Sphinx generates it?
  scipy/stats/_binomtest.py
Labels: scipy.stats, Documentation, backport-candidate

#14278 MAINT: two small fixes for implicit scalar-array-conversions
  scipy/stats/_continuous_distns.py
  scipy/stats/mstats_extras.py
Labels: scipy.stats, maintenance

#14213 ENH: stats: somersd: add alternative parameter
  scipy/stats/_hypotests.py
  scipy/stats/tests/test_hypotests.py
Labels: scipy.stats

#14474 DEP: Deprecate private but non-underscored ndimage.<module> namespace
  scipy/ndimage/_interpolation.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/filters.py
  scipy/ndimage/fourier.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_filters.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/stats.py
Labels: scipy.ndimage, maintenance

#14595 Removing unused subroutines in ``scipy/linalg/src/id_dist/src/prini.f``
  scipy/linalg/src/id_dist/src/prini.f
Labels: defect, scipy.linalg, Fortran

#14493 ENH: Updated Issue templates to use GitHub Issue Forms
  .github/ISSUE_TEMPLATE/Blank.md
  .github/ISSUE_TEMPLATE/Blank.yml
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Feature_request.yml
Labels: github

#14546 ENH: Orthogonal Latin Hypercube Sampling to QMC
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement

#14603 DEV: initialize all submodules in Gitpod Dockerfile
  tools/docker_dev/gitpod.Dockerfile
Labels: Build issues, gitpod

#14610 MAINT: Ignored ``scipy/signal/bspline_util.c``
  .gitignore
Labels: scipy.signal, maintenance

#14613 MAINT: interpolate: Declare type for a Cython indexing variable.
  scipy/interpolate/_bspl.pyx
Labels: scipy.interpolate, maintenance

#14605 MAINT: Skip some interpolative decomposition tests
  scipy/linalg/interpolative.py
  scipy/linalg/tests/test_interpolative.py
Labels: scipy.linalg, maintenance

#14581 MAINT: Refactor `linalg.tests.test_interpolative::TestInterpolativeDecomposition::test_id`
  scipy/linalg/tests/test_interpolative.py
Labels: scipy.linalg, maintenance

#14601 Fixed inconsistencies between numpy and scipy interp
  scipy/interpolate/interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: defect, scipy.interpolate

#14609 MAINT: Fix `-Wmaybe-uninitialized` warnings in `optimize/_highs`
  scipy/optimize/_highs/src/simplex/HDualRow.h
Labels: scipy.optimize, Build issues, maintenance

#14616 REL: update build dependency versions in pyproject.toml for 1.7.2
  pyproject.toml
Labels: maintenance

#14620 CI: fix Azure job which uses pre-release wheels + Python 3.7
  azure-pipelines.yml
Labels: CI

#14316 MAINT: Update `openblas_support.py` to support Apple Silicon
  azure-pipelines.yml
  tools/openblas_support.py
Labels: maintenance

#14627 MAINT: Bumped tolerances to pass ``special.tests`` on Apple Silicon
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, maintenance

#14007 BUG: Fix root bracketing logic in Brent's method (issue #13737)
  scipy/optimize/Zeros/brenth.c
  scipy/optimize/Zeros/brentq.c
  scipy/optimize/tests/test_zeros.py
Labels: defect, scipy.optimize, C/C++

#14631 Fix unuran builds for older compilers
  scipy/stats/_unuran/setup.py
Labels: scipy.stats, Build issues

#14633 BUG: scipy.stats._unran: send only strings to include_dirs
  scipy/stats/_unuran/setup.py
Labels: Build issues, backport-candidate

#14564 ENH: Add threaded Van Der Corput
  benchmarks/benchmarks/stats.py
  scipy/stats/_qmc.py
  scipy/stats/_qmc_cy.pyi
  scipy/stats/_qmc_cy.pyx
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement, Cython

#14635 DOC: stats: fix multivariate_t docs pdf eqn
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#14630 DOC: add citation file
  CITATION.bib
Labels: Documentation, Branding

#14554 ENH: scipy.interpolate.BSpline from_cubic
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: enhancement, scipy.interpolate

#14588 ENH: Added ``kulczynski1`` to ``scipy.spatial.distance``
  scipy/spatial/distance.py
  scipy/spatial/distance.pyi
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_wrap.c
  scipy/spatial/tests/test_distance.py
Labels: enhancement, scipy.spatial

#14454 MAINT: Begin translation of hyp2f1 for complex numbers into Cython
  scipy/special/_hyp2f1.pxd
  scipy/special/functions.json
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, Cython

#14656 MAINT: replacing assert_ with assert
  scipy/optimize/tests/test_linesearch.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#12146 DOC: add docs to explain behaviour of newton's mehod on arrays
  scipy/optimize/zeros.py
Labels: scipy.optimize, Documentation

#14655 MAINT: remove support for Python 3.7 (hence NumPy 1.16)
  .circleci/config.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  azure-pipelines.yml
  doc/Makefile
  doc/source/dev/contributor/rendering_documentation.rst
  pyproject.toml
  setup.py
  tools/Dockerfile
  tox.ini
Labels: maintenance, CI

#14663 MAINT: update leftover Python and NumPy version from pyproject.toml
  pyproject.toml
Labels: maintenance

#14649 DOC: clarify SciPy compatibility with Python and NumPy.
  doc/source/dev/toolchain.rst
Labels: Documentation

#14665 BLD: fix confusing "import pip" failure that should be caught
  setup.py
Labels: maintenance

#14602 MAINT: Fix `-Wunused-result` warnings in `sparse/linalg/dsolve`
  scipy/sparse/linalg/dsolve/SuperLU/SRC/creadhb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/creadrb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/creadtriple.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dreadhb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dreadrb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dreadtriple.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/slu_util.h
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sreadhb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sreadrb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sreadtriple.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/util.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zreadhb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zreadrb.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zreadtriple.c
Labels: scipy.sparse.linalg, maintenance

#14672 BLD: add `zip_safe=False` to the `setup()` call
  setup.py
Labels: Build issues, backport-candidate
