Repository scipy/scipy, pull requests merged in 2021-02, with the labels that each got.

#13204 ENH: stats: add Zipfian (different from Zipf/zeta) distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_zipfian.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Labels: enhancement, scipy.stats

#13479 MAINT: update directed_hausdorff Cython code
  scipy/spatial/_hausdorff.pyx
Labels: backport-candidate, maintenance, scipy.spatial

#13484 Move some pythran config from CI to setup
  azure-pipelines.yml
  scipy/optimize/setup.py
  scipy/signal/setup.py
Labels: CI, Pythran

#13482 CI: use numpy 1.20.0 again in macOS CI
  .github/workflows/macos.yml
Labels: CI

#13447 DEV: Update development Docker image
  .github/workflows/docker.yml
  .hadolint.yaml
  doc/source/dev/contributor/quickstart_docker.rst
  tools/docker_dev/Dockerfile
  tools/docker_dev/environment.yml
Labels: Documentation, enhancement

#13461 DOC: reorganize scipy.stats overview docs page
  scipy/stats/__init__.py
Labels: Documentation, scipy.stats

#13485 BUG: KDTree weighted count_neighbors doesn't work between two trees
  scipy/spatial/ckdtree/src/count_neighbors.cxx
  scipy/spatial/tests/test_kdtree.py
Labels: backport-candidate, defect, scipy.spatial

#13292 DOC: stats: note another common parameterization of nbinom
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
Labels: Documentation, scipy.stats

#13492 ENH: GH actions should not run on forks
  .github/workflows/docker.yml
Labels: CI, maintenance

#13381 DOC: update MacOS quickstart with conda-forge compiler, make more similar to ubuntu
  doc/source/building/faq.rst
  doc/source/dev/contributor/quickstart_mac.rst
Labels: Build issues, Documentation

#13295 BUG: stats: fix the support method to return correct bounds
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#13503 TST: fix `test_fortranfile_read_mixed_record` on big-endian systems
  scipy/io/tests/test_fortran.py
Labels: scipy.io

#13499 DOC: describe LSAP implementation
  scipy/optimize/_lsap.py
Labels: Documentation, scipy.optimize

#13502 BUG: Bounds created with lists weren't working for Powell
  scipy/optimize/_constraints.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_optimize.py
Labels: defect, scipy.optimize

#13425 BUG: spatial: make Rotation picklable
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: backport-candidate, defect, scipy.spatial

#13444 DOC: clarify range of `a` parameter fpr johnsonsu/johnsonsb
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#11313 ENH: add Wright's generalized Bessel function
  scipy/special/__init__.py
  scipy/special/_precompute/wright_bessel.py
  scipy/special/_precompute/wright_bessel_data.py
  scipy/special/_wright_bessel.pxd
  scipy/special/add_newdocs.py
  scipy/special/functions.json
  scipy/special/tests/data/local/wright_bessel.txt
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_wright_bessel.py
Labels: enhancement, scipy.special

#13516 DOC: reduce LaTeX usage for johnsonb docstring
  scipy/stats/_continuous_distns.py
Labels: Documentation, scipy.stats

#13354 BUG: optimize: rename private functions to include leading underscore
  .gitignore
  scipy/optimize/_highs/__init__.py
  scipy/optimize/_highs/cython/__init__.py
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/HighsLp.pxd
  scipy/optimize/_highs/cython/src/HighsLpUtils.pxd
  scipy/optimize/_highs/cython/src/HighsMipSolver.pxd
  scipy/optimize/_highs/cython/src/HighsModelUtils.pxd
  scipy/optimize/_highs/cython/src/HighsOptions.pxd
  scipy/optimize/_highs/cython/src/HighsRuntimeOptions.pxd
  scipy/optimize/_highs/cython/src/__init__.py
  scipy/optimize/_highs/cython/src/_highs_constants.pyx
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_highs/cython/src/_mpswriter.pyx
  scipy/optimize/_highs/setup.py
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/setup.py
Labels: backport-candidate, scipy.optimize

#13518 DOC: document that pip >= 20.3.3 is needed for macOS 11
  doc/release/1.6.1-notes.rst
Labels: Documentation, Official binaries

#13510 DOC: stats: fix small doc errors in 'multivariate_hypergeom'
  scipy/stats/_multivariate.py
Labels: Documentation, scipy.stats

#13527 TST: stats: xfail ttest_ind_randperm_alternative2 on 32 bit
  scipy/stats/tests/test_stats.py
Labels: maintenance, scipy.stats

#13546 DOC: fix list of "mode" options for ndimage
  scipy/ndimage/_ni_docstrings.py
Labels: Documentation, scipy.ndimage

#13519 BLD: remove build_sphinx support from setup.py
  setup.py
Labels: Build issues

#13552 MAINT: stats: remove float_power shim
  scipy/stats/_continuous_distns.py
Labels: maintenance, scipy.stats

#13397 MAINT:linalg: Fix tgsen family wrapper and ordqz
  scipy/linalg/_decomp_qz.py
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
Labels: maintenance, scipy.linalg

#13520 BLD: use oldest-supported-numpy in pyproject.toml
  pyproject.toml
Labels: Build issues, backport-candidate

#13522 MAINT: SciPy 1.6.1 backports
  .gitignore
  doc/release/1.6.1-notes.rst
  pyproject.toml
  scipy/fft/_helper.py
  scipy/fft/_realtransforms.py
  scipy/fftpack/basic.py
  scipy/fftpack/helper.py
  scipy/fftpack/realtransforms.py
  scipy/fftpack/tests/test_basic.py
  scipy/interpolate/fitpack2.py
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack2.py
  scipy/io/tests/data/test-44100Hz-be-1ch-4bytes.wav
  scipy/io/tests/data/test-8000Hz-be-3ch-5S-24bit.wav
  scipy/io/tests/test_fortran.py
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
  scipy/optimize/_highs/__init__.py
  scipy/optimize/_highs/cython/__init__.py
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/HighsLp.pxd
  scipy/optimize/_highs/cython/src/HighsLpUtils.pxd
  scipy/optimize/_highs/cython/src/HighsMipSolver.pxd
  scipy/optimize/_highs/cython/src/HighsModelUtils.pxd
  scipy/optimize/_highs/cython/src/HighsOptions.pxd
  scipy/optimize/_highs/cython/src/HighsRuntimeOptions.pxd
  scipy/optimize/_highs/cython/src/__init__.py
  scipy/optimize/_highs/cython/src/_highs_constants.pyx
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_highs/cython/src/_mpswriter.pyx
  scipy/optimize/_highs/setup.py
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_lsap_module.c
  scipy/optimize/rectangular_lsap/rectangular_lsap.cpp
  scipy/optimize/rectangular_lsap/rectangular_lsap.h
  scipy/optimize/setup.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/coo.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/_voronoi.pyx
  scipy/spatial/ckdtree/src/count_neighbors.cxx
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_spherical_voronoi.py
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance

#13560 MAINT: optimize: improve linprog error message for sparse input with method 'simplex'/'revised simplex'
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test_linprog.py
Labels: maintenance, scipy.optimize

#13562 MAINT: optimize: using np.isclose instead of _within_tolerance.
  scipy/optimize/zeros.py
Labels: maintenance, scipy.optimize

#13567 TST, BUG: adjust tol on test_equivalence
  scipy/optimize/tests/test__numdiff.py
Labels: backport-candidate, defect, scipy.optimize

#13564 DOC: document remote gpg2 (release management)
  doc/source/dev/core-dev/releasing.rst.inc
Labels: Documentation, Official binaries

#13573 MAINT: more 1.6.1 backporting
  doc/release/1.6.1-notes.rst
  scipy/optimize/tests/test__numdiff.py
Labels: maintenance

#13569 BENCH: optimize: benchmark only HiGHS methods; add bigger linprog benchmarks
  benchmarks/benchmarks/optimize_linprog.py
Labels: Benchmarks, scipy.optimize

#13575 BUG: fix `gaussian_kernel_estimate` on S390X
  scipy/stats/_stats.pyx
Labels: maintenance, scipy.stats

#13513 DOC: Added math notation in examples in ltisys.py
  scipy/signal/ltisys.py
Labels: Documentation, scipy.signal

#13551 MAINT: add git to docker env
  tools/Dockerfile
  tools/docker_dev/Dockerfile
Labels: Build issues, maintenance

#13493 DEV: Enable gitpod for SciPy
  .gitpod.yml
  tools/docker_dev/.gitpod.Dockerfile
  tools/docker_dev/docker_tags.sh
  tools/docker_dev/fix_permissions
  tools/docker_dev/settings.json
  tools/docker_dev/workspace_config
Labels: enhancement

#13574 DOC: In description of cluster.hierarchy.dendrogram 'level' parameter, changed "p merges from the …
  scipy/cluster/hierarchy.py
Labels: Documentation, scipy.cluster

#13588 MAINT: forward port 1.6.1 relnotes.
  doc/release/1.6.1-notes.rst
  doc/source/release.1.6.1.rst
  doc/source/release.rst
Labels: maintenance

#13507 MAINT, TST: stats: centralize invalid parameters list for all the distributions
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.stats

#12873 ENH: Stats: add Alexander Govern Test
  scipy/stats/__init__.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#13591 REL: prepare for SciPy 1.6.2
  doc/release/1.6.2-notes.rst
  doc/source/release.1.6.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#13396 BUG: Fix MLE for Nakagami `nakagami_gen.fit`
  doc/source/tutorial/stats/continuous_nakagami.rst
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: enhancement, scipy.stats

#12862 REL: put upper bounds on versions of dependencies
  INSTALL.rst.txt
  doc/source/conf.py
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/toolchain.rst
  pyproject.toml
  scipy/__init__.py
  setup.py
  tools/cythonize.py
Labels: Build issues, Official binaries

#13330 ENH: stats: add noncentral hypergeometric distributions (Fisher's and Wallenius')
  .gitignore
  doc/source/dev/contributor/adding_new/new_stats_distribution.rst.inc
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_nchypergeom_fisher.rst
  doc/source/tutorial/stats/discrete_nchypergeom_wallenius.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/_generate_pyx.py
  scipy/stats/biasedurn.pxd
  scipy/stats/biasedurn.pyx.templ
  scipy/stats/biasedurn/erfres.cpp
  scipy/stats/biasedurn/fnchyppr.cpp
  scipy/stats/biasedurn/impls.cpp
  scipy/stats/biasedurn/license.txt
  scipy/stats/biasedurn/randomc.h
  scipy/stats/biasedurn/stoc1.cpp
  scipy/stats/biasedurn/stoc3.cpp
  scipy/stats/biasedurn/stocR.h
  scipy/stats/biasedurn/stocc.h
  scipy/stats/biasedurn/wnchyppr.cpp
  scipy/stats/setup.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Labels: enhancement, scipy.stats

#13596 DOC: Fix indentation in new_stats_distribution.rst.inc
  doc/source/dev/contributor/adding_new/new_stats_distribution.rst.inc
Labels: Documentation, scipy.stats

#13605 Add Codecov badge to README
  README.rst
Labels: Documentation

#13598 ENH: enforce contiguous layout for output array in Rotation.as_euler
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: backport-candidate, enhancement, scipy.spatial

#13612 Add docker run command for Windows cmd
  doc/source/dev/contributor/quickstart_docker.rst
Labels: Documentation

#13586 BUG: sparse: Create a utility function `getdata`
  scipy/sparse/bsr.py
  scipy/sparse/coo.py
  scipy/sparse/sputils.py
  scipy/sparse/tests/test_base.py
Labels: backport-candidate, defect, scipy.sparse

#13607 MAINT: stats: fix crystalball entropy
  scipy/_lib/_util.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#13613 MAINT, CI: mypy: fix typing errors + add mypy to CI
  .github/workflows/linux.yml
  mypy.ini
  mypy_requirements.txt
  scipy/_lib/_uarray/_backend.py
  scipy/fft/tests/test_backend.py
  scipy/odr/_add_newdocs.py
  scipy/special/_precompute/wright_bessel.py
  scipy/special/_precompute/wright_bessel_data.py
  scipy/special/orthogonal.pyi
  scipy/stats/setup.py
  scipy/stats/tests/test_stats.py
Labels: CI, maintenance

#13620 CI: disable the mypy CI job (partial revert of gh-13613)
  .github/workflows/linux.yml
Labels: CI, static typing

#13621 DOC: signal: use array_like for input types
  scipy/signal/bsplines.py
Labels: Documentation, scipy.signal

#13604 DOC: Correct dual annealing visiting param range.
  scipy/optimize/_dual_annealing.py
Labels: Documentation, scipy.optimize

#13623 CI: enable Mypy CI job again
  .github/workflows/linux.yml
Labels: CI, static typing

#13622 MAINT: clean up some unused files, make `mypy scipy` pass
  scipy/optimize/tnc/example.py
  scipy/sparse/linalg/isolve/iterative/test.py
  scipy/special/utils/makenpz.py
Labels: maintenance

#13617 MAINT: accept numbers and iterables for width in find_peaks_cwt
  scipy/signal/_peak_finding.py
  scipy/signal/tests/test_peak_finding.py
Labels: maintenance, scipy.signal

#13448 ENH: Add annotations for `scipy.spatial.distance`
  mypy.ini
  scipy/spatial/distance.py
  scipy/spatial/distance.pyi
Labels: enhancement, scipy.spatial

#13611 Better argument preparation for distributions in stats package.
  scipy/_lib/_util.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
Labels: enhancement, scipy.stats
