Repository scipy/scipy, pull requests merged in 2021-09, with the labels that each got.

#14676 BUG: Fixes failing benchmark tests optimize_qap.QuadraticAssignment.track_score
  benchmarks/benchmarks/optimize_qap.py
Labels: scipy.optimize, Benchmarks

#14669 ENH: Refactor GitHub Issue form templates
  .github/ISSUE_TEMPLATE/Blank.yml
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .github/ISSUE_TEMPLATE/Feature_request.yml
Labels: github

#14532 ENH: sparse.linalg: The solution is zero when R.H.S. is zero
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/sparse/linalg/isolve/lsqr.py
  scipy/sparse/linalg/isolve/minres.py
Labels: enhancement, scipy.sparse.linalg

#14686 BUG: fix issue in lsqr.py introduced in a recent commit
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/lsqr.py
Labels: scipy.sparse.linalg, maintenance

#14682 DOC: Fix typo in mannwhitneyu docstring
  scipy/stats/_mannwhitneyu.py
Labels: scipy.stats, Documentation

#14666 MAINT: remove unnecessary seeding and update `check_random_state`
  scipy/_lib/_util.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: enhancement, maintenance

#14689 MAINT: replace IOError alias with OSError or other appropriate type
  scipy/_lib/messagestream.pyx
  scipy/io/_fortran.py
  scipy/io/arff/arffread.py
  scipy/io/harwell_boeing/hb.py
  scipy/io/matlab/mio.py
  scipy/io/matlab/streams.pyx
  scipy/io/matlab/tests/test_mio.py
  scipy/io/matlab/tests/test_mio5_utils.py
  scipy/io/matlab/tests/test_streams.py
  scipy/sparse/_matrix_io.py
  scipy/special/utils/makenpz.py
  tools/cythonize.py
Labels: maintenance

#14685 MAINT: static typing of entropy
  scipy/stats/_entropy.py
Labels: scipy.stats, static typing

#14693 DOC: update OptimizeResult notes
  scipy/optimize/optimize.py
Labels: scipy.optimize

#14673 BLD: fix include order, Python.h before standard headers
  scipy/_lib/src/_test_ccallback.c
  scipy/optimize/_trlib/trlib_eigen_inverse.c
  scipy/optimize/_trlib/trlib_krylov.c
  scipy/optimize/_trlib/trlib_leftmost.c
  scipy/optimize/_trlib/trlib_quadratic_zero.c
  scipy/optimize/_trlib/trlib_tri_factor.c
  scipy/spatial/src/distance_wrap.c
  scipy/special/_ellip_harm_2.pyx
  scipy/special/cephes/chbevl.c
  scipy/special/cephes/polevl.h
  scipy/special/sf_error.c
Labels: maintenance, C/C++

#14625 ENH: optimize min max and median scipy.stats.binned_statistic
  scipy/stats/_binned_statistic.py
Labels: scipy.stats, enhancement

#14695 BLD: bump Pythran version to 0.9.12
  doc/source/building/windows.rst
  environment.yml
  pyproject.toml
Labels: Documentation, maintenance, CI

#14619 ENH: stats.unuran: add Polynomial interpolation based numerical inversion
  benchmarks/benchmarks/stats_sampling.py
  doc/source/tutorial/stats/sampling.rst
  doc/source/tutorial/stats/sampling_pinv.rst
  scipy/stats/__init__.py
  scipy/stats/_unuran/__init__.py
  scipy/stats/_unuran/setup.py
  scipy/stats/_unuran/unuran_wrapper.pyi
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, enhancement

#14692 MAINT: Translation of hyp2f1 for complex numbers into Cython, part 2
  scipy/special/_hyp2f1.pxd
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special

#14578 DOC: added examples in spherical Bessel docstrings
  scipy/special/_spherical_bessel.py
Labels: scipy.special, Documentation

#14561 DOC: added reference and examples in (gen)laguerre docstring in scipy.special
  scipy/special/orthogonal.py
Labels: scipy.special, Documentation

#14699 BUG: Fix TypeError in `stats._discrete_distns`
  scipy/stats/_discrete_distns.py
Labels: scipy.stats

#14707 Update constants.py
  scipy/constants/__init__.py
  scipy/constants/constants.py
Labels: scipy.constants

#14708 BENCH: shorten svds benchmark that is timing out in CI
  benchmarks/benchmarks/sparse_linalg_svds.py
Labels: scipy.sparse.linalg, Benchmarks

#14712 MAINT: special: Updates for _cosine.c.
  scipy/special/_cosine.c
Labels: scipy.special, maintenance, C/C++

#14629 ENH: optimize std in scipy.stats.binned_statistic
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: scipy.stats, enhancement

#14721 MAINT: correct PR template link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance, github

#14734 DOC: fix inconsistent number in scipy.sparse.csgraph documentation example
  scipy/sparse/csgraph/__init__.py
Labels: scipy.sparse.csgraph

#14741 DOC: fix maximum_flow trivial example matrix
  scipy/sparse/csgraph/_flow.pyx
Labels: Documentation, scipy.sparse.csgraph

#14749 [WIP] DOC: fix docs for scipy.sparse.csgraph
  scipy/sparse/csgraph/_min_spanning_tree.pyx
Labels: scipy.sparse.csgraph, Cython

#14751 ENH: numpy masked_arrays in refguide-check
  tools/refguide_check.py
Labels: maintenance

#14748 DOC: fix matrix representation in scipy.sparse.csgraph
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_traversal.pyx
  tools/refguide_check.py
Labels: scipy.sparse.csgraph, Cython

#14737 BUG:signal: matching window dtype to input
  scipy/signal/signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal

#14684 DOC: optimize: fix sporadic linprog doctest failure
  scipy/optimize/_linprog.py
Labels: scipy.optimize, Documentation

#14739 TST: sparse.linalg: Add test case with 2-D Poisson equations
  scipy/sparse/linalg/isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance

#14432 BUG/ENH: more stable recursion for 2-sample ks test exact p-values
  scipy/stats/_hypotests_pythran.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#14759 BLD: change section name in site.cfg.example from ALL to DEFAULT
  site.cfg.example
Labels: Build issues, maintenance

#14762 TST: add a seed to the pickling test of RBFInterpolator
  scipy/interpolate/tests/test_rbfinterp.py
Labels: scipy.interpolate, maintenance

#14761 CI: remove `pre_release_deps_source_dist` job from Azure CI config
  azure-pipelines.yml
Labels: CI

#14760 TST: suppress jinja2 deprecation warning
  pytest.ini
Labels: maintenance

#14756 MAINT: LinAlgError from public numpy.linalg
  scipy/optimize/_linprog_rs.py
  scipy/optimize/_trustregion.py
Labels: scipy.optimize, maintenance

#14763 MAINT: Make solve_ivp slightly more strict wrt. t_span.
  scipy/integrate/_ivp/ivp.py
Labels: enhancement, scipy.integrate

#14772 DOC:special: Fix broken links to jburkardt
  scipy/special/_basic.py
Labels: scipy.special, Documentation

#14757 BUG: Ensure that stats.linregress and mstats.linregress properly handle input of data with identical x values
  scipy/stats/_stats_mstats_common.py
  scipy/stats/mstats_basic.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#14723 DOC: add note on padding to `stats.binned_statistic_2d` docs
  scipy/stats/_binned_statistic.py
Labels: scipy.stats, Documentation

#14787 MAINT: Increase tolerance values to avoid test failures
  scipy/sparse/linalg/eigen/tests/test_svds.py
Labels: scipy.sparse.linalg

#14789 MAINT: fix a tiny typo in signal/spectral.py
  scipy/signal/spectral.py
Labels: scipy.signal, maintenance
