Repository scipy/scipy, pull requests merged in 2021-06, with the labels that each got.

#14166 CI, MAINT: restrictions on pre-release CI
  .github/workflows/linux.yml
  azure-pipelines.yml
Labels: CI, backport-candidate, maintenance

#14148 MAINT: 1.7.0 backports before rc1
  .github/workflows/linux.yml
  .gitignore
  azure-pipelines.yml
  doc/release/1.7.0-notes.rst
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_contingency.py
  setup.py
Labels: maintenance

#14151 BLD: update pyproject.toml - add macOS M1, drop py36
  pyproject.toml
Labels: maintenance

#14171 TST: signal: Bump tolerances for a test of Gustafsson's method in filtfilt.
  scipy/signal/tests/test_signaltools.py
Labels: backport-candidate, scipy.signal

#14024 ENH: Add annotations for `scipy.spatial.cKDTree`
  mypy.ini
  scipy/spatial/ckdtree.pyi
Labels: scipy.spatial, static typing

#13960 ENH: stats: add `alternative` to masked normality tests
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#14175 TST: stats: Loosen tolerance in some binomtest tests.
  scipy/stats/tests/test_morestats.py
Labels: backport-candidate, maintenance, scipy.stats

#14182 MAINT: stats: Update ppcc_plot and ppcc_max docstring.
  scipy/stats/morestats.py
Labels: backport-candidate, maintenance, scipy.stats

#14181 MAINT: (more) backports for SciPy 1.7.0
  doc/release/1.7.0-notes.rst
  scipy/signal/tests/test_signaltools.py
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
Labels: maintenance

#14195 MAINT: download-wheels missing import
  tools/download-wheels.py
Labels: backport-candidate, maintenance

#14197 CI: azure: Fix handling of 'skip azp'.
  azure-pipelines.yml
  doc/source/dev/contributor/continuous_integration.rst
Labels: CI

#14163 BENCH: add benchmark for energy_distance and wasserstein_distance
  benchmarks/benchmarks/stats.py
Labels: Benchmarks, scipy.stats

#14192 BUG: stats: fix shape handing in multivariate_t.rvs
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: defect, scipy.stats

#14200 DOC: Remove link to alpha in scipy.stats.dirichlet
  scipy/stats/_multivariate.py
Labels: Documentation, maintenance, scipy.stats

#14191 MAINT:TST:linalg modernize the test assertions
  scipy/linalg/tests/test_interpolative.py
Labels: maintenance, scipy.linalg

#14222 MAINT: stats: remove unused 'type: ignore' comment
  scipy/stats/_qmc.py
Labels: maintenance

#14211 Fixed doc for gaussian_kde (kde.factor description)
  scipy/stats/kde.py
Labels: Documentation, scipy.stats

#14208 MAINT: add invalid='ignore' to np.errstate block in PchipInterpolator
  scipy/interpolate/_cubic.py
Labels: maintenance, scipy.interpolate

#14214 ENH: Improve the `scipy.spatial.qhull` annotations
  scipy/spatial/qhull.pyi
Labels: scipy.spatial, static typing

#14224 MAINT: Modify to use new random API in benchmarks
  benchmarks/benchmarks/interpolate.py
  benchmarks/benchmarks/linalg.py
  benchmarks/benchmarks/signal.py
  benchmarks/benchmarks/signal_filtering.py
  benchmarks/benchmarks/sparse.py
  benchmarks/benchmarks/sparse_csgraph_djisktra.py
  benchmarks/benchmarks/sparse_csgraph_matching.py
  benchmarks/benchmarks/sparse_linalg_expm.py
  benchmarks/benchmarks/sparse_linalg_onenormest.py
  benchmarks/benchmarks/sparse_linalg_solve.py
  benchmarks/benchmarks/spatial.py
  benchmarks/benchmarks/stats.py
Labels: Benchmarks

#14219 ENH: sparse.linalg: Use the faster "sqrt" from "math" and be consistent with both "lsqr.py" and "lsmr.py"
  scipy/sparse/linalg/isolve/minres.py
Labels: maintenance, scipy.sparse.linalg

#14204 Improve error message for index dimension
  scipy/sparse/_index.py
Labels: maintenance, scipy.sparse

#14201 TST: cleanup in lsqr and lsmr tests
  scipy/sparse/linalg/isolve/tests/test_lsmr.py
  scipy/sparse/linalg/isolve/tests/test_lsqr.py
Labels: maintenance, scipy.sparse.linalg

#14218 DOC: clarify `ndimage.center_of_mass` docstring
  scipy/ndimage/measurements.py
Labels: Documentation, scipy.ndimage

#14187 DOC: interpolate: rbf has kwargs too.
  scipy/interpolate/rbf.py
Labels: Documentation, scipy.interpolate

#14186 TST, MAINT: hausdorff test cleanups
  scipy/spatial/tests/test_hausdorff.py
Labels: maintenance, scipy.spatial

#14225 MAINT: fix missing LowLevelCallable in `dir(scipy)`
  scipy/__init__.py
Labels: maintenance

#13958 ENH: stats: add `alternative` to masked version of T-Tests
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#14227 MAINT: fix maybe-uninitialized warnings in lbfgbf.f
  scipy/optimize/lbfgsb_src/lbfgsb.f
Labels: maintenance, scipy.optimize

#14226 BLD: fix warning for missing dependency, and dev version number
  setup.py
Labels: Build issues

#14153 BUG: stats: Implementing boost's hypergeometric distribution to correct numerical errors
  scipy/stats/_boost/__init__.py
  scipy/stats/_boost/include/_info.py
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_hypotests.py
Labels: defect, scipy.stats

#14230 REL: stop shipping generated Cython sources in sdist
  MANIFEST.in
  scipy/optimize/_highs/setup.py
  scipy/optimize/cython_optimize/setup.py
  scipy/optimize/setup.py
  setup.py
Labels: Build issues, Official binaries, backport-candidate

#14231 MAINT: SciPy 1.7.0rc2 backports
  MANIFEST.in
  doc/release/1.7.0-notes.rst
  scipy/optimize/_highs/setup.py
  scipy/optimize/cython_optimize/setup.py
  scipy/optimize/setup.py
  setup.py
  tools/download-wheels.py
Labels: maintenance

#14183 DOC: add examples/ update mstats doc of pearsonr in scipy.stats
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#14237 Removes unused variable
  scipy/interpolate/_bspl.pyx
Labels: Cython, maintenance, scipy.interpolate

#14245 Rephrase collection of libraries that use PyData-Sphinx
  doc/release/1.7.0-notes.rst
Labels: Documentation

#14254 BUG: Fixed an issue wherein `SphericalVoronoi` could raise for certain array-likes
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: defect, scipy.spatial

#14257 MAINT: Fixed deprecated API calls in scipy.optimize
  scipy/optimize/minpack.h
  scipy/optimize/tnc/moduleTNC.c
Labels: maintenance, scipy.optimize

#14258 DOC: fix stats.pearsonr example that was failing in CI
  scipy/stats/mstats_basic.py
  scipy/stats/stats.py
Labels: maintenance, scipy.stats

#14242 BUG: stats: fix discrete `.isf` to work at boundaries when `loc != 0`
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
Labels: maintenance, scipy.stats

#14210 BUG: Fix Nelder-Mead logic when using a non-1D x0 and adapative
  scipy/optimize/optimize.py
Labels: maintenance, scipy.optimize

#14261 BLD: fix include order and build warnings for `optimize/_trlib`
  scipy/optimize/_trlib/trlib_krylov.c
  scipy/optimize/_trlib/trlib_private.h
Labels: maintenance, scipy.optimize

#14260 BLD: optimize: fix some warnings in moduleTNC and minpack.h
  scipy/optimize/__minpack.h
  scipy/optimize/minpack.h
  scipy/optimize/tnc/moduleTNC.c
Labels: maintenance, scipy.optimize

#14259 CI: pin mypy to 0.902 and fix one CI failure
  mypy_requirements.txt
  scipy/stats/_qmc.py
Labels: CI, static typing

#14263 DOC: forward port 1.7.0 relnotes
  doc/release/1.7.0-notes.rst
Labels: Documentation, maintenance

#14264 REL: prepare for SciPy 1.7.1
  doc/release/1.7.1-notes.rst
  doc/source/release.1.7.1.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#13864 Array scalar conversion deprecation
  scipy/io/_fortran.py
  scipy/linalg/tests/test_basic.py
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/_trustregion.py
  scipy/optimize/_trustregion_constr/report.py
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
Labels: maintenance

#14272 REL: fix doc upload path, remove "not yet released" line for 1.7.0
  doc/Makefile
  doc/release/1.7.0-notes.rst
Labels: Documentation, maintenance

#14268 MAINT: Replaced direct field access in PyArrayObject* with wrapper functions
  scipy/integrate/__quadpack.h
Labels: maintenance, scipy.integrate

#14281 ENH: Annotate the array dtypes of `scipy.spatial.qhull`
  mypy.ini
  scipy/spatial/qhull.pyi
Labels: enhancement, static typing

#13883 MAINT: move LSAP maximization handling into solver code
  scipy/optimize/_lsap.py
  scipy/optimize/_lsap_module.c
  scipy/optimize/rectangular_lsap/rectangular_lsap.cpp
  scipy/optimize/rectangular_lsap/rectangular_lsap.h
Labels: maintenance, scipy.optimize

#14178 DEV: Update Boschloo Exact test
  scipy/stats/_hypotests.py
  scipy/stats/tests/test_hypotests.py
Labels: backport-candidate, maintenance, scipy.stats

#14285 DEV: remove scikit-umfpack from environment.yml
  environment.yml
Labels: maintenance

#14251 MAINT: sparse.linalg: improve svds support for multiple solvers
  doc/source/reference/sparse.linalg.svds-arpack.rst
  doc/source/reference/sparse.linalg.svds-lobpcg.rst
  doc/source/scipyoptdoc.py
  scipy/sparse/linalg/__init__.py
  scipy/sparse/linalg/eigen/__init__.py
  scipy/sparse/linalg/eigen/_svds.py
  scipy/sparse/linalg/eigen/_svds_doc.py
  scipy/sparse/linalg/eigen/arpack/arpack.py
  scipy/sparse/linalg/eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/eigen/tests/__init__.py
  scipy/sparse/linalg/eigen/tests/test_svds.py
Labels: scipy.sparse.linalg

#14283 BUG: fix refguide-check namedtuple handling
  tools/refguide_check.py
Labels: maintenance

#14275 MAINT: Update vendored uarray, required for auto-dispatching
  scipy/_lib/_uarray/__init__.py
  scipy/_lib/_uarray/_backend.py
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/_lib/_uarray/scipychanges.patch
  scipy/_lib/_uarray/setup.py
  scipy/_lib/_uarray/small_dynamic_array.h
  scipy/_lib/_uarray/vectorcall.cxx
  scipy/_lib/_uarray/vectorcall.h
  scipy/_lib/uarray.py
Labels: maintenance, scipy.lib

#14291 TST: split combined LSAP input validation tests up
  scipy/optimize/tests/test_linear_assignment.py
Labels: maintenance, scipy.optimize

#14293 MAINT: remove the last deprecated `PyEval_*` usages
  scipy/integrate/__quadpack.h
  scipy/integrate/_odepackmodule.c
Labels: maintenance, scipy.integrate

#14301 MAINT: fix the last build warning in `optimize/_trlib/`
  scipy/optimize/_trlib/trlib_tri_factor.c
Labels: maintenance, scipy.optimize

#14302 BLD: fix build warnings for `stats/biasedurn`
  scipy/stats/biasedurn/stoc3.cpp
Labels: maintenance, scipy.stats

#14309 BLD: fix build warnings for scipy.special
  scipy/special/_cython_special_custom.pxi
  scipy/special/cephes/kolmogorov.c
Labels: maintenance, scipy.special

#14049 MAINT: Change special.orthogonal.orthopoly1d type hints to ArrayLike
  scipy/special/_basic.py
  scipy/special/orthogonal.pyi
Labels: enhancement, static typing

#14294 ENH: Annotate array dtypes in `scipy.spatial.ckdtree` and `distance`
  mypy.ini
  scipy/spatial/ckdtree.pyi
  scipy/spatial/distance.pyi
  scipy/spatial/tests/test_kdtree.py
Labels: enhancement, scipy.spatial, static typing

#14311 MAINT: Corrected NumPy API usage in scipy.spatial
  scipy/spatial/src/distance_wrap.c
Labels: maintenance, scipy.spatial

#14295 MAINT: move LSAP input validation into lsap_module
  scipy/optimize/_lsap.py
  scipy/optimize/_lsap_module.c
  scipy/optimize/tests/test_linear_assignment.py
Labels: maintenance, scipy.optimize
