Repository scipy/scipy, pull requests merged in 2021-07, with the labels that each got.

#14303 FIX: Check for None before calling str methods
  scipy/io/matlab/mio4.py
  scipy/io/matlab/mio5.py
  scipy/io/matlab/tests/test_mio_funcs.py
Labels: backport-candidate, defect, scipy.io

#14327 BUG: medfilt can access beyond the end of an array
  scipy/signal/sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
Labels: backport-candidate, defect, scipy.signal

#14250 Error in parameter checking in cdfbin.f
  scipy/special/cdflib/cdfbin.f
Labels: maintenance, scipy.special

#14339 TST: fix `sparse.linalg.spsolve` test with singular input
  scipy/sparse/linalg/dsolve/tests/test_linsolve.py
Labels: maintenance, scipy.sparse.linalg

#14333 MAINT: Use /usr/bin/linux32 so that sysconfig.get_platform() is correct
  azure-pipelines.yml
Labels: CI, maintenance

#14341 MAINT: Add missing parenthesis in _nnls.py
  scipy/optimize/_nnls.py
Labels: maintenance, scipy.optimize

#14323 BUG: Speed up sparse compressed indexing with very many rows
  scipy/sparse/compressed.py
  scipy/sparse/csr.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, scipy.sparse

#14173 BUG: Fixed an issue wherein `geometric_slerp` would return an incorrect shape/type for degenerate inputs
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/tests/test_slerp.py
Labels: defect, scipy.spatial

#14308 ENH: use Pythran to speedup somersd and _tau_b
  scipy/stats/_hypotests.py
  scipy/stats/_hypotests_pythran.py
  scipy/stats/setup.py
Labels: Pythran, enhancement, scipy.stats

#14174 ENH: Add annotations to `scipy.spatial.geometric_slerp`
  scipy/spatial/_geometric_slerp.py
Labels: scipy.spatial, static typing

#14362 Use list comprehension
  scipy/special/_precompute/utils.py
Labels: scipy.special

#14240 ENH: sparse.linalg: Normalize type descriptions
  scipy/sparse/linalg/isolve/_gcrotmk.py
  scipy/sparse/linalg/isolve/iterative.py
  scipy/sparse/linalg/isolve/lgmres.py
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/sparse/linalg/isolve/minres.py
Labels: Documentation, scipy.sparse.linalg

#14378 MAINT: Removing deprecated NumPy C API from `interpolate`
  scipy/interpolate/setup.py
  scipy/interpolate/src/_fitpackmodule.c
Labels: maintenance, scipy.interpolate

#14312 ENH: Using random directional derivative to check grad
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#14381 BENCH: add benchmark for somersd
  .gitignore
  benchmarks/benchmarks/stats.py
Labels: Benchmarks, scipy.stats

#14367 BUG: Check for NULL pointer in `memmove`
  scipy/signal/C_bspline_util.c
  scipy/signal/D_bspline_util.c
  scipy/signal/S_bspline_util.c
  scipy/signal/Z_bspline_util.c
Labels: maintenance, scipy.signal

#14387 MAINT: Removed deprecated NumPy C api from `sparse`
  scipy/sparse/setup.py
  scipy/sparse/sparsetools/sparsetools.cxx
Labels: maintenance, scipy.sparse

#14377 Fix behavior of binary morphology with output=input when iterations=1
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_morphology.py
Labels: defect, scipy.ndimage

#14359 ENH: Set fft backend with try_last=True
  scipy/fft/_backend.py
Labels: enhancement, scipy.fft

#14384 BUG: Reference count leak in distance_pybind
  scipy/spatial/src/distance_pybind.cpp
  scipy/spatial/tests/test_distance.py
Labels: backport-candidate, defect, scipy.spatial

#14397 DOC/CI: do not allow sphinx 4.1.
  doc_requirements.txt
  pyproject.toml
Labels: Documentation, defect

#14406 MAINT: Use numpy_nodepr_api in `spatial`
  scipy/spatial/setup.py
Labels: maintenance, scipy.spatial

#14404 DOC: docstring fix for default of n param of interpolate.pade
  scipy/interpolate/_pade.py
Labels: Documentation, scipy.interpolate

#14331 ENH: Complement `trace` method of sparse matrices like `csr_matrix/csc_matrix/coo_matrix`
  scipy/sparse/base.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#14411 MAINT: minor cleanups in usage of `compute_uv` keyword of `svd`
  scipy/linalg/matfuncs.py
  scipy/optimize/nonlin.py
Labels: maintenance, scipy.linalg

#14358 ENH: Dinic's algorithm for maximum_flow
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/tests/test_flow.py
Labels: enhancement, scipy.sparse.csgraph

#14417 DOC/CI: pin sphinx to !=4.1.0
  doc_requirements.txt
  pyproject.toml
Labels: Documentation, backport-candidate

#14413 DOC:interpolate: Fix the docstring example of "lagrange"
  scipy/interpolate/interpolate.py
Labels: Documentation, scipy.interpolate

#14350 MAINT: make fit method of rv_continuous pickleable
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/common_tests.py
Labels: maintenance, scipy.stats

#14255 BUG: Numerical stability for large N BarycentricInterpolator
  scipy/interpolate/polyint.py
  scipy/interpolate/tests/test_polyint.py
Labels: maintenance, scipy.interpolate

#14423 CI: remove printing of skipped and xfailed tests from Azure test logs
  azure-pipelines.yml
Labels: CI

#14427 MAINT: extra pythran annotation for i686 support
  scipy/optimize/_group_columns.py
  scipy/signal/_max_len_seq_inner.py
Labels: Pythran, maintenance

#14422 MAINT: csgraph: change Dinic algorithm to iterative implementation
  scipy/sparse/csgraph/_flow.pyx
Labels: maintenance, scipy.sparse.csgraph

#14355 BUG: KDTree balanced_tree is unbalanced for degenerate data
  scipy/spatial/ckdtree.pyx
  scipy/spatial/ckdtree/src/build.cxx
  scipy/spatial/ckdtree/src/ordered_pair.h
  scipy/spatial/ckdtree/src/partial_sort.h
  scipy/spatial/kdtree.py
  scipy/spatial/setup.py
  scipy/spatial/tests/test_kdtree.py
Labels: backport-candidate, defect, scipy.spatial

#14392 BUG/ENH: rework maximum flow preprocessing
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/tests/test_flow.py
Labels: enhancement, scipy.sparse.csgraph

#14440 MAINT: stats: silence mypy complaints
  scipy/stats/_qmc.py
Labels: maintenance

#14287 TST: Add testing for hyp2f1 for complex values in anticipation of move to Cython.
  scipy/special/_precompute/hyp2f1_data.py
  scipy/special/tests/test_hyp2f1.py
Labels: maintenance, scipy.special

#13839 MAINT: set same tolerance between LSMR and LSQR
  scipy/sparse/linalg/isolve/lsmr.py
  scipy/sparse/linalg/isolve/lsqr.py
Labels: maintenance, scipy.sparse.linalg

#14132 DOC: badge with version of the doc in the navbar
  doc/source/_static/scipy.css
  doc/source/_templates/version.html
  doc/source/conf.py
Labels: Documentation, Website

#14419 DEP: deprecate private but non-underscored `signal.spline` namespace
  scipy/signal/__init__.py
  scipy/signal/bsplines.py
  scipy/signal/setup.py
  scipy/signal/spline.py
  scipy/signal/splinemodule.c
  scipy/signal/tests/test_bsplines.py
Labels: maintenance, scipy.signal

#14460 DOC: add required scipy version to kwarg
  scipy/spatial/transform/rotation.pyx
Labels: Documentation, scipy.spatial

#14463 Fix typo in doc overview: "pandas" to "SciPy"
  doc/source/index.rst
Labels: Documentation

#14458 DOC: clarify meaning of rvalue in stats.linregress
  scipy/stats/_stats_mstats_common.py
Labels: Documentation, scipy.stats

#14456 CI: Lint with flake8 instead of pyflakes + pycodestyle
  azure-pipelines.yml
  benchmarks/benchmarks/fft_basic.py
  benchmarks/benchmarks/integrate.py
  environment.yml
  runtests.py
  scipy/signal/__init__.py
  scipy/signal/spline.py
  scipy/signal/tests/test_bsplines.py
  scipy/stats/tests/test_discrete_distns.py
  tools/lint_diff.py
  tox.ini
Labels: CI

#14459 MAINT: Fix uninitialized warnings in `interpolate` and `cluster`
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/_optimal_leaf_ordering.pyx
  scipy/interpolate/src/_fitpackmodule.c
Labels: maintenance, scipy.cluster, scipy.interpolate

#14447 MAINT: rename scipy.ndimage modules
  mypy.ini
  scipy/ndimage/__init__.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_fourier.py
  scipy/ndimage/_interpolation.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/filters.py
  scipy/ndimage/fourier.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_measurements.py
Labels: maintenance, scipy.ndimage

#14160 ENH: sparse.linalg: Add TFQMR algorithm for non-Hermitian sparse linear systems
  scipy/sparse/linalg/__init__.py
  scipy/sparse/linalg/isolve/__init__.py
  scipy/sparse/linalg/isolve/tests/test_iterative.py
  scipy/sparse/linalg/isolve/tfqmr.py
Labels: enhancement, scipy.sparse.linalg

#14479 Added `Inverse` word in `idstn` and `idctn` docstrings
  scipy/fft/_realtransforms.py
Labels: Documentation, scipy.fft

#14466 MAINT: 1.7.1 backports (round 1)
  doc/release/1.7.1-notes.rst
  doc_requirements.txt
  pyproject.toml
  scipy/io/matlab/mio4.py
  scipy/io/matlab/mio5.py
  scipy/io/matlab/tests/test_mio_funcs.py
  scipy/signal/sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
  scipy/spatial/ckdtree.pyx
  scipy/spatial/ckdtree/src/build.cxx
  scipy/spatial/ckdtree/src/ordered_pair.h
  scipy/spatial/ckdtree/src/partial_sort.h
  scipy/spatial/kdtree.py
  scipy/spatial/setup.py
  scipy/spatial/src/distance_pybind.cpp
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_kdtree.py
  scipy/stats/_hypotests.py
  scipy/stats/_sobol.pyx
  scipy/stats/tests/test_hypotests.py
  tools/refguide_check.py
Labels: maintenance

#14297 DOC: Make code block an Item List
  scipy/stats/stats.py
Labels: Documentation, scipy.stats

#14487 TST: modify flaky test for constrained minimization
  scipy/optimize/_trustregion_constr/tests/test_report.py
Labels: maintenance, scipy.optimize

#14499 DOC: fix toarray/todense docstring
  scipy/sparse/base.py
Labels: Documentation, scipy.sparse

#14489 MAINT: cleanup of some line_search code
  scipy/optimize/linesearch.py
Labels: maintenance, scipy.optimize

#14442 MAINT: Fix uninitialized warnings in `sparse/linalg/dsolve`
  scipy/sparse/linalg/dsolve/SuperLU/SRC/cgsisx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/cgssv.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/cgssvx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/clangs.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dgsisx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dgssv.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dgssvx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dlangs.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/dmach.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/ilu_ccopy_to_ucol.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/ilu_zcopy_to_ucol.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sgsisx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sgssv.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/sgssvx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/slangs.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/smach.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zgsisx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zgssv.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zgssvx.c
  scipy/sparse/linalg/dsolve/SuperLU/SRC/zlangs.c
  scipy/sparse/linalg/dsolve/SuperLU/scipychanges.patch
  scipy/sparse/linalg/dsolve/_superluobject.c
Labels: maintenance, scipy.sparse.linalg

#14228 BENCH: add more benchmarks for inferential statistics tests
  benchmarks/benchmarks/stats.py
Labels: Benchmarks, scipy.stats

#14509 MAINT: 1.7.1 backports (round 2)
  doc/release/1.7.1-notes.rst
  scipy/spatial/transform/rotation.pyx
Labels: maintenance
