Repository scipy/scipy, pull requests merged in 2021-03, with the labels that each got.

#13624 TST: test more values for `visiting_param` input to `dual_annealing`
  scipy/optimize/tests/test__dual_annealing.py
Labels: maintenance, scipy.optimize

#13601 Add dpss for get_window function
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/windows.py
Labels: defect, scipy.signal

#13616 FIX: Return correct output for invgauss.cdf when mu is very small
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#13645 MAINT: mypy: don't install numpy-stubs
  mypy_requirements.txt
Labels: maintenance, static typing

#13625 Rename integrate.simps to integrate.simpsons in documentation examples
  doc/source/tutorial/examples/4-1
  doc/source/tutorial/integrate.rst
Labels: Documentation, scipy.integrate

#13593 BUG: stats: preserve sample dtype for bin edges
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: maintenance, scipy.stats

#13048 ENH: stats: Add a function that computes the relative risk.
  doc/source/stats._result_classes.rst
  doc/source/stats.rst
  scipy/stats/__init__.py
  scipy/stats/_binomtest.py
  scipy/stats/_common.py
  scipy/stats/_relative_risk.py
  scipy/stats/_result_classes.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_relative_risk.py
Labels: enhancement, scipy.stats

#13641 ENH: Added degrees parameter to rotvec
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#13626 FIX: optimize.linprog: dual simplex model feasibility fix
  .gitignore
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/HighsMipSolver.pxd
  scipy/optimize/_highs/cython/src/HighsModelUtils.pxd
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_highs/cython/src/_mpswriter.pyx
  scipy/optimize/_highs/setup.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#13263 ENH: add Cramer-von Mises test for two samples
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/stats.py
  scipy/stats/tests/test_hypotests.py
Labels: enhancement, scipy.stats

#13487 DOC: add a tutorial about scipy.stats.qmc
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/plots/qmc_plot_conv_mc.py
  doc/source/tutorial/stats/plots/qmc_plot_conv_mc_sobol.py
  doc/source/tutorial/stats/plots/qmc_plot_curse.py
  doc/source/tutorial/stats/plots/qmc_plot_discrepancy.py
  doc/source/tutorial/stats/plots/qmc_plot_mc.py
  doc/source/tutorial/stats/plots/qmc_plot_mc_qmc.py
  doc/source/tutorial/stats/plots/qmc_plot_sobol_halton.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: Documentation, scipy.stats

#13530 DOC: correct comparisons between median filter functions
  scipy/ndimage/filters.py
  scipy/signal/signaltools.py
Labels: Documentation, scipy.ndimage, scipy.signal

#13652 DOC: fix eigvalsh documentation (#13651)
  scipy/linalg/decomp.py
Labels: Documentation, scipy.linalg

#13657 TST: remove IPython warning in debug session
  pytest.ini
Labels: maintenance

#13667 MAINT: Make latest Docker image default
  tools/docker_dev/.gitpod.Dockerfile
  tools/docker_dev/docker_tags.sh
Labels: CI, maintenance

#13668 MAINT: add .theia/ to .gitignore
  .gitignore
Labels: maintenance

#13674 MAINT, CI: remove appveyor
  README.rst
  appveyor.yml
  tools/ci/appveyor/requirements.txt
Labels: CI, maintenance

#13669 BLD: change SCIPY_USE_PYTHRAN default to `1`
  .circleci/config.yml
  scipy/optimize/setup.py
  scipy/signal/setup.py
Labels: Build issues, Pythran

#13678 MAINT: add Pythran-generated files to .gitignore
  .gitignore
Labels: maintenance

#13679 MAINT: move the `conda develop .` in the Gitpod config
  .gitpod.yml
Labels: gitpod

#13633 MAINT: stats.binned_statistic_2d user function expecting arrays
  scipy/stats/_binned_statistic.py
Labels: maintenance, scipy.stats

#13680 DOC: Add cKDTree note comparing it with KDTree
  scipy/spatial/ckdtree.pyx
Labels: Documentation, scipy.spatial

#13681 DOC: build doc updates on Pythran, compiled code, and cleanups
  doc/source/building/linux.rst
  doc/source/building/macosx.rst
  doc/source/building/windows.rst
  doc/source/dev/contributor/compiled_code.rst
  doc/source/dev/contributor/quickerstart_conda.rst
  doc/source/dev/contributor/quickstart_mac.rst
  doc/source/dev/contributor/quickstart_pip.rst
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation, Pythran

#13685 BUG: fix cosine distance range to 0-2
  scipy/spatial/distance.py
Labels: maintenance, scipy.spatial

#13549 ENH: stats: add 'alternative' keyword to some normality tests.
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy.stats

#13694 MAINT: fix warning emitted when NumPy version is incorrect
  scipy/__init__.py
Labels: maintenance

#13441 ENH: add functionality `barnard_exact` test to scipy.stats.
  benchmarks/benchmarks/stats.py
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/contingency.py
  scipy/stats/stats.py
  scipy/stats/tests/test_hypotests.py
Labels: enhancement, scipy.stats

#13688 MAINT: backport version pins
  pyproject.toml
  scipy/__init__.py
  setup.py
  tools/cythonize.py
Labels: maintenance

#13698 BUG: stats: Fix spurious warnings generated by arcsine.pdf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#13702 DEP: Clean up spent deprecations in spatial.distance
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: deprecated, scipy.spatial

#13654 BUG: Fix LatinHypercubes
  scipy/stats/_qmc.py
  scipy/stats/_qmc.pyi
  scipy/stats/qmc.py
  scipy/stats/tests/test_qmc.py
Labels: defect, scipy.stats

#13705 MAINT: backports for SciPy 1.6.2
  doc/release/1.6.2-notes.rst
  scipy/odr/odrpack.py
  scipy/sparse/bsr.py
  scipy/sparse/coo.py
  scipy/sparse/sputils.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/transform/rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
  scipy/stats/_stats.pyx
Labels: maintenance

#13703 MAINT: fix issues found by static code analysis
  scipy/special/_generate_pyx.py
  scipy/special/_precompute/gammainc_asy.py
  scipy/special/tests/test_cython_special.py
  scipy/special/utils/convert.py
Labels: maintenance

#13683 BUG: mmwrite correctly serializes non skew-symmetric arrays
  scipy/io/mmio.py
  scipy/io/tests/test_mmio.py
Labels: defect, scipy.io

#13649 FIX: sparse: csc_matrix.argmax() integer overflow
  scipy/sparse/data.py
  scipy/sparse/tests/test_csc.py
Labels: scipy.sparse

#13712 BUG: stats: Override _fitstart for the invweibull distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#13706 ENH: stats: Implement sf and isf for the laplace distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#13714 MAINT: stats: Remove an unused list from test_continuous_basic.py.
  scipy/stats/tests/test_continuous_basic.py
Labels: maintenance, scipy.stats

#13715 MAINT: stats: No need to suppress frechet deprecation warnings.
  scipy/stats/tests/test_fit.py
Labels: maintenance, scipy.stats

#10170 MAINT: stats: Implement cdf and ppf as ufuncs for the cosine distribution.
  scipy/special/_cosine.c
  scipy/special/_cosine.h
  scipy/special/_precompute/cosine_cdf.py
  scipy/special/add_newdocs.py
  scipy/special/functions.json
  scipy/special/setup.py
  scipy/special/tests/test_cosine_distr.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance, scipy.special, scipy.stats

#13721 Mypy cosine fix
  scipy/special/_precompute/cosine_cdf.py
  scipy/special/tests/test_cosine_distr.py
Labels: maintenance, scipy.special, static typing

#13723 MAINT: mypy: ignore mpmath imports in mypy.ini
  mypy.ini
  scipy/signal/tests/mpsig.py
  scipy/signal/tests/test_filter_design.py
  scipy/special/_mptestutils.py
  scipy/special/_precompute/cosine_cdf.py
  scipy/special/_precompute/gammainc_asy.py
  scipy/special/_precompute/gammainc_data.py
  scipy/special/_precompute/lambertw.py
  scipy/special/_precompute/loggamma.py
  scipy/special/_precompute/struve_convergence.py
  scipy/special/_precompute/utils.py
  scipy/special/_precompute/wright_bessel_data.py
  scipy/special/_precompute/wrightomega.py
  scipy/special/_precompute/zetac.py
  scipy/special/tests/test_cdflib.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_precompute_gammainc.py
  scipy/special/tests/test_precompute_utils.py
Labels: maintenance

#13433 Removed array from 2-sided binomtest and made computation O(logn) from O(n)
  scipy/stats/_binomtest.py
  scipy/stats/tests/test_morestats.py
Labels: enhancement, scipy.stats

#13735 DOC: correct Voronoi docstring
  scipy/spatial/qhull.pyx
Labels: Documentation, scipy.spatial

#13713 DOC: update toolchain.rst to reflect windows universal C runtime
  doc/source/toolchain.rst
Labels: C/C++, Documentation

#13738 DOC: add example to wright_bessel
  scipy/special/add_newdocs.py
Labels: Documentation, scipy.special

#13731 MAINT: stats: Some flake8-driven clean up.
  scipy/stats/_binned_statistic.py
  scipy/stats/_binomtest.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_generate_pyx.py
  scipy/stats/_hypotests.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_binned_statistic.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_qmc.py
Labels: maintenance, scipy.stats

#13739 ENH: stats: Implement _sf and _isf for the chi distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: enhancement, scipy.stats

#13514 ENH: simplify low_0_bit function for Sobol
  scipy/stats/_sobol.pyx
Labels: Cython, scipy.stats

#13725 BENCH: add benchmark for Kendalltau
  benchmarks/benchmarks/stats.py
Labels: Benchmarks, scipy.stats

#13747 DOC: Add note for interp1d for non-unique x-values
  scipy/interpolate/interpolate.py
Labels: scipy.interpolate

#13436 ENH: interpolate: add input validation to check input x-y is strictly increasing for fitpack.bispev and fitpack.parder
  scipy/interpolate/fitpack2.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: enhancement, scipy.interpolate

#13040 BUG: Allow RectSphereBivariateSpline to accept negative longitude
  scipy/interpolate/fitpack2.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: defect, scipy.interpolate

#13741 MAINT: prevent overwriting of x in minimize
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_trustregion.py
  scipy/optimize/cobyla.py
  scipy/optimize/optimize.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#13749 MAINT: forward port 1.6.2 relnotes
  doc/release/1.6.2-notes.rst
  doc/source/release.1.6.2.rst
  doc/source/release.rst
Labels: maintenance

#13755 CI: fix the matplotlib warning emitted during builing docs
  doc/source/tutorial/special.rst
Labels: CI

#13756 REL: prep for SciPy 1.6.3
  doc/release/1.6.3-notes.rst
  doc/source/release.1.6.3.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#13711 MAINT: stats: fix broadcasting for scipy.stats.entropy
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#13467 DOC: optimize: add description about `tol` argument for `minimize`.
  scipy/optimize/_minimize.py
Labels: Documentation, scipy.optimize

#13768 BENCH: Add missing pythran dependency
  benchmarks/asv.conf.json
Labels: Benchmarks

#13765 FIX: npymath missing causing npy_log1p to be unknown
  scipy/stats/setup.py
Labels: CI, defect, scipy.stats

#13759 MAINT: simpson small performance speedups
  scipy/integrate/_quadrature.py
Labels: scipy.integrate

#13770 ENH: stats.contingency: Add the sparse option to crosstab.
  scipy/stats/_crosstab.py
  scipy/stats/tests/test_crosstab.py
Labels: enhancement, scipy.stats

#13773 BUG: Divide by zero in yule dissimilarity of constant vectors
  scipy/spatial/distance.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/tests/test_distance.py
Labels: backport-candidate, defect, scipy.spatial
