Repository scipy/scipy, pull requests merged in 2022-10, with the labels that each got.

#17103 ENH: stats.Covariance: add CovViaDiagonal
  scipy/stats/__init__.py
  scipy/stats/_covariance.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17127 TST: stats.studentized_range: fix incorrect test
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#17131 MAINT: pyproject.toml: Update build system requirements
  pyproject.toml
Labels: maintenance, backport-candidate

#17029 CI: cirrus for building aarch64
  .cirrus.star
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  pyproject.toml
  tools/wheels/cibw_test_command_manylinux_aarch64.sh
Labels: Official binaries, backport-candidate, CI

#17130 DOC: remove inconsistent messages
  scipy/optimize/_minimize.py
Labels: scipy.optimize, Documentation, maintenance

#16017 ENH: special: Use boost for a couple ufuncs.
  scipy/special/__init__.py
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/setup.py
  scipy/special/tests/meson.build
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_erfinv.py
  scipy/special/tests/test_powm1.py
Labels: enhancement, scipy.special, C/C++

#17128 ENH: stats.covariance: add CovViaCholesky
  scipy/stats/_covariance.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#14248 MAINT:linalg: Make lu_factor accept rectangular arrays
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_decomp.py
Labels: enhancement, scipy.linalg, maintenance

#14430 ENH: improve siegelslopes via pythran
  mypy.ini
  scipy/stats/_hypotests.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/_stats_pythran.py
  scipy/stats/meson.build
  scipy/stats/setup.py
Labels: scipy.stats, enhancement, Pythran

#16814 FIX: milp: return feasible solutions if available on time out
  doc/source/tutorial/optimize.rst
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_milp.py
  scipy/optimize/tests/test_milp.py
Labels: enhancement, scipy.optimize

#17055 MAINT: stats.pearson3: fix ppf for negative skew
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: defect, scipy.stats, backport-candidate

#17091 MAINT: interpolate remove duplication of FITPACK interface `sproot`.
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/fitpack/sproot.f
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack2.py
Labels: scipy.interpolate, maintenance

#16646 MAINT: have get_index_dtype follow its documentation and return int32 or int64
  scipy/optimize/_group_columns.py
  scipy/signal/_max_len_seq.py
  scipy/signal/_max_len_seq_inner.py
  scipy/sparse/_sputils.py
Labels: maintenance, Pythran

#17135 ENH: stats.Covariance: specifying covariance matrix by its eigendecomposition
  scipy/stats/_covariance.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17147 BENCH: remove `--quick` flag to `asv run` in dev.py
  dev.py
Labels: maintenance, Benchmarks

#14638 DOC: added mention of the limitations of Thomas' algorithm
  scipy/linalg/_basic.py
Labels: scipy.linalg, Documentation

#17134 CI: build macosx_arm64 wheels on cirrus-ci
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  pyproject.toml
  tools/wheels/cibw_before_build_macos.sh
Labels: Official binaries, CI

#17132 MAINT: 1.9.2 backports
  .github/workflows/wheels.yml
  doc/release/1.9.2-notes.rst
  doc/source/dev/contributor/building_faq.rst
  doc/source/dev/toolchain.rst
  meson.build
  pyproject.toml
  scipy/_lib/_uarray/meson.build
  scipy/_lib/meson.build
  scipy/fft/_pocketfft/meson.build
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/meson.build
  scipy/linalg/meson.build
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_solvers.py
  scipy/meson.build
  scipy/ndimage/_interpolation.py
  scipy/odr/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lsap.c
  scipy/optimize/_minimize.py
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/_construct.py
  scipy/sparse/_sputils.py
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/dpropack.pyf
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/tests/test_csr.py
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/_boost/include/func_defs.hpp
  scipy/stats/_continuous_distns.py
  scipy/stats/_mstats_basic.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_stats.py
  tools/wheels/LICENSE_linux.txt
  tools/wheels/LICENSE_osx.txt
  tools/wheels/LICENSE_win32.txt
  tools/wheels/check_license.py
  tools/wheels/cibw_before_build_linux.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
  tools/wheels/cibw_test_command.sh
  tools/wheels/cibw_test_command_manylinux_aarch64.sh
  tools/wheels/cross_arm64.txt
  tools/wheels/gfortran_utils.sh
  tools/wheels/repair_windows.sh
  tools/wheels/test.f
  tools/wheels/upload_wheels.sh
Labels: maintenance

#17149 MAINT: remove certifi py3.11 warning filter
  scipy/datasets/_fetchers.py
  scipy/datasets/tests/test_data.py
Labels: maintenance, scipy.datasets

#17153 DOC: stats.pearsonr: typo in coeffic*i*ent
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17144 DOC: replace `set_tight_layout` with `set_layout_engine` in example
  scipy/ndimage/_interpolation.py
Labels: Documentation

#17138 CI: add permission to GH actions.
  .github/workflows/docker.yml
  .github/workflows/gitpod.yml
  .github/workflows/linux.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos.yml
  .github/workflows/macos_meson.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
Labels: CI, github

#17106 CI: fix testing of `SCIPY_USE_PYTHRAN=0`, and upgrade to pythran 0.12.0
  azure-pipelines.yml
  mypy.ini
  scipy/interpolate/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/stats/meson.build
Labels: CI

#14402 DOC: Clarify argument documentation for `solve`
  scipy/linalg/_basic.py
Labels: scipy.linalg, Documentation, needs-work

#17150 MAINT: more 1.9.2 backports prep
  .github/workflows/wheels.yml
  doc/release/1.9.2-notes.rst
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_milp.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: maintenance

#17159 MAINT: spatial: Skip `test_massive_arr_overflow` on systems with too little RAM
  scipy/spatial/tests/test_hausdorff.py
Labels: scipy.spatial, maintenance

#16357 BENCH: Add SHGO and DIRECT to optimization benchmark
  benchmarks/benchmarks/optimize.py
Labels: scipy.optimize, Benchmarks

#17169 MAINT: special: Loosen the tolerance for a test of powm1.
  scipy/special/tests/test_powm1.py
Labels: scipy.special, maintenance

#12594 BUG: fixed indexing error when using bounds in Powell's method (scipy.optimize.minimize)
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#17177 DOC: stats: Fix versionadded markup for odds_ratio
  scipy/stats/_odds_ratio.py
Labels: scipy.stats, Documentation

#17176 REL: Prep for SciPy 1.9.3
  doc/release/1.9.3-notes.rst
  doc/source/release.1.9.3.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#17170 MAINT: better handling of mode/center outside of the domain in stats.sampling
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, maintenance

#15363 BUG: fix powell evaluated outside limits
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#17175 MAINT: forward port 1.9.2 relnotes
  doc/release/1.9.2-notes.rst
  doc/source/release.1.9.2.rst
  doc/source/release.rst
Labels: maintenance

#16506 MAINT: fix SHGO extra arguments
  scipy/optimize/_shgo.py
  scipy/optimize/tests/test__shgo.py
Labels: defect, scipy.optimize

#16547 ENH: correct bounds warnings in `minimize`
  scipy/optimize/_minimize.py
Labels: enhancement, scipy.optimize

#13411 BUG: fix out-of-bound evaluations in optimize.minimize, powell method
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#17184 DOC: stats: Fix the 1.9.0 release note about the 'weights' parameter of hmean.
  doc/release/1.9.0-notes.rst
Labels: scipy.stats, Documentation

#17188 DOC: update version switcher for 1.9.2
  doc/source/_static/version_switcher.json
Labels: Documentation, maintenance

#17183 DOC: examples for `ive` and `kve`
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17190 BUG: special: Fix two XSLOW test failures.
  scipy/special/tests/test_mpmath.py
Labels: defect, scipy.special

#17204 Keepdims incorrectly documneted fix
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#16897 Pass down mip_rel_gap to the HiGHS optimizer
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_linprog_doc.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#17210 BLD: fix invalid shebang for build helper script
  scipy/_build_utils/cythoner.py
Labels: maintenance, backport-candidate

#17209 MAINT: Handle numpy's deprecation of accepting out-of-bound integers.
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_sparsetools.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.sparse, scipy.spatial, maintenance

#17200 BLD: fix issue with incomplete threads dependency handling
  scipy/fft/_pocketfft/meson.build
  scipy/meson.build
  scipy/optimize/_highs/meson.build
  scipy/stats/meson.build
Labels: maintenance

#17193 MAINT: update meson.build to make it work on IBM i system
  meson.build
Labels: Build issues, backport-candidate, Meson

#17114 CI: skip doc rendering on GitHub if skipping CircleCI
  .github/workflows/circle_artifacts.yml
Labels: CI

#17223 DOC: linalg: Expand the qz example.
  scipy/linalg/_decomp_qz.py
Labels: scipy.linalg, Documentation

#17152 ENH/MAINT: `qmc.LatinHypercube`: deprecate centered with scramble
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement, maintenance, deprecated

#17219 CI: remove set-output occurrences
  .github/workflows/docker.yml
  .github/workflows/gitpod.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos_meson.yml
  .github/workflows/wheels.yml
Labels: CI

#17198 MAINT: stats: remove use of interp2d from levy_stable._fitstart
  scipy/stats/_levy_stable/__init__.py
Labels: scipy.stats, maintenance

#17227 TST: stats.sampling.NumericalInverseHermite: filter all RuntimeWarnings
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, maintenance

#17181 CI: Fix when wheels are built for staging
  .cirrus.star
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
Labels: CI

#17166 MAINT: stats.rv_discrete.pmf: should be zero at non-integer argument
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Labels: defect, scipy.stats

#17090 MAINT: stats.rayleigh: enforce constraint on location
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, backport-candidate

#13322 Bug: setting iprint=0 hides all output from fmin_l_bfgs_b, but it should print convergence info from final iteration.
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#15892 BUG: stats: use mean behavior for percentileofscore in bootstrap
  scipy/stats/_resampling.py
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, enhancement

#17233 DOC: examples for Struve functions
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17238 DOC: linalg: Several docstring updates.
  scipy/linalg/_basic.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/_decomp_qz.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_expm_frechet.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_sketches.py
  scipy/linalg/_solvers.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/lapack.py
Labels: scipy.linalg, Documentation

#17255 CI: update encrypted tokens for CirrusCI wheel uploads
  ci/cirrus_wheels.yml
Labels: CI

#17259 DOC: CI: Add note about skipping Cirrus CI.
  doc/source/dev/contributor/continuous_integration.rst
Labels: Documentation, CI

#17258 MAINT: stats.multivariate_normal: frozen rvs should pass cov_object to unfrozen rvs
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#17253 DOC: Removing old forwarding file to roadmap
  doc/ROADMAP.rst.txt
Labels: Documentation

#17239 MAINT: 1.9.3 backports
  doc/release/1.9.3-notes.rst
  meson.build
  scipy/_build_utils/cythoner.py
  scipy/fft/_pocketfft/meson.build
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/fitpack/fpknot.f
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_fitpack2.py
  scipy/interpolate/tests/test_rgi.py
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/tests/test_lapack.py
  scipy/meson.build
  scipy/odr/_odrpack.py
  scipy/odr/tests/test_odr.py
  scipy/optimize/Zeros/bisect.c
  scipy/optimize/Zeros/brenth.c
  scipy/optimize/Zeros/brentq.c
  scipy/optimize/Zeros/ridder.c
  scipy/optimize/Zeros/zeros.h
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_optimize.py
  scipy/optimize/_shgo.py
  scipy/optimize/cython_optimize/c_zeros.pxd
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__shgo.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/_spectral_py.py
  scipy/sparse/_compressed.py
  scipy/sparse/linalg/_isolve/lsmr.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_sparsetools.py
  scipy/spatial/ckdtree/src/query_pairs.cxx
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_kdtree.py
  scipy/special/specfun/specfun.f
  scipy/special/tests/test_mpmath.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_morestats.py
  scipy/stats/_multivariate.py
  scipy/stats/_stats_py.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#17264 DOC: update version switcher for 1.9.3
  doc/source/_static/version_switcher.json
Labels: Documentation

#17262 MAINT: forward port 1.9.3 relnotes
  doc/release/1.9.3-notes.rst
  doc/source/release.1.9.3.rst
  doc/source/release.rst
Labels: maintenance

#17263 REL: Prep for SciPy 1.9.4
  doc/release/1.9.4-notes.rst
  doc/source/release.1.9.4.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#17161 MAINT: stats.sampling.NumericalInverseHermite: private distribution methods need at least 1d arrays
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: defect, scipy.stats

#16941 MAINT: support logpdf in NumericalInverseHermite (stats.sampling)
  scipy/stats/_unuran/unuran_callback.h
  scipy/stats/_unuran/unuran_wrapper.pyi
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, maintenance

#17062 Add location and sign to KS test result
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17272 TST: stats: silence warnings temporarily
  scipy/stats/tests/test_boost_ufuncs.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#17273 TST: linalg: temporarily silence failure in test_solve_discrete_are
  scipy/linalg/tests/test_solvers.py
Labels: scipy.linalg, maintenance

#17276 MAINT/ENH: stats.multivariate_normal.rvs: fix shape and speed up with Covariance
  scipy/stats/_covariance.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17279 TST: mark no_segmentation fault test for DIRECT as xslow
  scipy/optimize/tests/test_direct.py
Labels: scipy.optimize, maintenance

#17283 STY: stats.Covariance: fix lint issue in `main`
  scipy/stats/_covariance.py
Labels: scipy.stats, maintenance

#17118 ENH: Support for complex functions in binned_statistic_dd
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: scipy.stats, enhancement

#17236 stats/distributions: make rv_sample public, allow subclassing
  scipy/stats/__init__.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17284 MAINT: special: Loosen tolerance in test_sinpi() and test_cospi().
  scipy/special/tests/test_mpmath.py
Labels: scipy.special, maintenance

#17122 ENH: remove duplicate function call
  scipy/optimize/_optimize.py
Labels: enhancement, scipy.optimize

#17296 Fix test fails caused by pytest 7.1.3
  scipy/_lib/tests/test_bunch.py
  scipy/optimize/tests/test_minpack.py
  scipy/stats/tests/test_hypotests.py
Labels: maintenance

#13753 DOC: optimize: update Powell docs to reflect API
  scipy/optimize/_optimize.py
Labels: scipy.optimize, Documentation

#11712 BUG: trust-constr evaluates function out of bounds
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: defect, scipy.optimize

#17298 DOC: Add examples to Stats Anderson
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#17301 DOC, MAINT: remove use of inspect.formatargspec during doc build
  doc/source/scipyoptdoc.py
Labels: Documentation, maintenance

#17304 ENH: stats: implement _sf and _isf for invweibull.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17303 Remove handwritten `_fitpack.spalde` : a rebase of pr/17145
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack2.py
Labels: scipy.interpolate, maintenance

#17280 DOC: example for voigt_profile
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17237 ENH: add conditional_table to SciPy.stats.
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17126 MAINT, ENH: scipy.stats: Refactor `directionalmean` to return magnitude along with the mean vector
  scipy/stats/__init__.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement, maintenance

#17306 DOC: document return object type recommendations in "The Missing Bits"
  doc/source/dev/missing-bits.rst
Labels: Documentation

#16707 DOC: expand the `scipy.interpolate` tutorial
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/1D.rst
  doc/source/tutorial/interpolate/ND_regular_grid.rst
  doc/source/tutorial/interpolate/ND_unstructured.rst
  doc/source/tutorial/interpolate/smoothing_splines.rst
  doc/source/tutorial/interpolate/splines_and_polynomials.rst
Labels: scipy.interpolate, Documentation

#17309 Revert "DOC: missing-bits: document rule on return object type"
  doc/source/dev/missing-bits.rst
Labels: Documentation
