Repository scipy/scipy, pull requests merged in 2022-01, with the labels that each got.

#15326 DOC: interpolate: silence `sproot` tutorial failure on refguide_asv_check
  doc/source/tutorial/interpolate.rst
  scipy/optimize/_minimize.py
Labels: Documentation

#15331 BUG: stats._unuran: fix invalid attribute lookups
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
Labels: scipy.stats, maintenance

#15332 CI: pin numpy to 1.21.5 for the doc build on CircleCI
  .circleci/config.yml
Labels: CI

#15335 CI: pin numpy to 1.21.5 in the Azure refguide check job
  azure-pipelines.yml
Labels: CI

#15334 BUG: stats._unuran: fix remaining attribute lookup errors
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
Labels: scipy.stats, maintenance

#15325 CI: reshuffle two Windows Azure CI jobs, and don't run 'full' on both
  azure-pipelines.yml
Labels: CI

#15328 MAINT: interpolate: csr_matrix -> csr_array
  scipy/interpolate/_bsplines.py
Labels: scipy.interpolate, maintenance, backport-candidate

#15330 ENH: optimize: support undocumented option `full_output` for `optimize.curve_fit`.
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: enhancement, scipy.optimize

#15336 DOC: update detailed roadmap
  doc/source/dev/roadmap-detailed.rst
Labels: Documentation

#15341 BUG: `highs-ds` returns memoryviews instead of np.arrays for the dual values
  scipy/optimize/_linprog_highs.py
  scipy/optimize/tests/test_linprog.py
Labels: defect, scipy.optimize, backport-candidate

#15314 MAINT: changed needed after renaming `master` branch to `main`
  .circleci/config.yml
  .github/workflows/docker.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .gitpod.yml
  CONTRIBUTING.rst
  HACKING.rst.txt
  README.rst
  azure-pipelines.yml
  benchmarks/README.rst
  ci/azure-travis-template.yaml
  dev.py
  doc/release/1.0.0-notes.rst
  doc/release/1.9.0-notes.rst
  doc/source/conf.py
  doc/source/dev/contributor/adding_new/new_stats_distribution.rst.inc
  doc/source/dev/contributor/benchmarking.rst
  doc/source/dev/contributor/cython.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/meson.rst
  doc/source/dev/contributor/runtests.rst
  doc/source/dev/core-dev/github.rst.inc
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/dev/gitwash/development_setup.rst
  doc/source/dev/gitwash/dot2_dot3.rst
  doc/source/dev/gitwash/git_links.inc
  doc/source/dev/gitwash/useful_git.rst
  doc/source/dev/governance/people.rst
  doc/source/dev/roadmap-detailed.rst
  pavement.py
  runtests.py
  tools/cythonize.py
  tools/lint_diff.py
  tools/validate_runtests_log.py
Labels: maintenance

#15251 [MRG] ENH: Update `laplacian` function introducing the new `copy` option
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
Labels: enhancement, scipy.sparse.csgraph

#15287 MAINT: Move z/(z - 1) transform case for hyp2f1 into Cython
  scipy/special/_hyp2f1.pxd
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, maintenance

#15352 BLD: put upper bound `setuptools<60.0` in conda environment yml files
  environment.yml
  environment_meson.yml
Labels: Build issues

#15310 ENH: signal: Add Kaiser-Bessel derived window function
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/__init__.py
  scipy/signal/windows/_windows.py
Labels: enhancement, scipy.signal

#15259 MAINT: optimize, special, signal: Use custom warnings instead of print statements
  scipy/optimize/_optimize.py
  scipy/optimize/_trustregion.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_trustregion.py
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, scipy.optimize, scipy.signal, maintenance

#15361 MAINT: sparse.linalg: Remove unnecessary operations
  scipy/sparse/linalg/_isolve/utils.py
Labels: scipy.sparse.linalg, maintenance

#15323 MAINT: filter RuntimeWarnings in stats functions
  scipy/_lib/tests/test_warnings.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_distns.py
Labels: scipy.stats, maintenance, backport-candidate

#15369 CI: update trigger for Meson job from `master` to `main`
  .github/workflows/linux_meson.yml
Labels: CI

#15378 MAINT: remove version pinning on gmpy2
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  ci/azure-travis-template.yaml
  environment.yml
  environment_meson.yml
  pyproject.toml
Labels: maintenance

#15347 ENH: stats: add weights in harmonic mean
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#15244 Added example for morphology: binary_dilation and erosion
  doc/source/tutorial/examples/morphology_binary_dilation_erosion.py
  doc/source/tutorial/examples/ndimage/3D_binary_structure.py
  doc/source/tutorial/ndimage.rst
Labels: scipy.ndimage, Documentation

#15230 ENH: expose submodules via `__getattr__` to allow lazy access
  scipy/__init__.py
  scipy/_lib/tests/test_public_api.py
  scipy/fft/tests/test_fft_function.py
Labels: maintenance

#15371 MAINT: stats: fix unuran compile-time warnings
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
Labels: scipy.stats, maintenance

#15294 ENH: add integrality constraints for linprog
  scipy/optimize/_highs/cython/src/HConst.pxd
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/HighsInfo.pxd
  scipy/optimize/_highs/cython/src/HighsLp.pxd
  scipy/optimize/_highs/cython/src/_highs_constants.pyx
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_highs/setup.py
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_doc.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#15388 DOC: interpolate: improve `RectBivariateSpline` doc
  scipy/interpolate/_fitpack2.py
Labels: scipy.interpolate, Documentation

#15387 MAINT: Fix a couple build warnings.
  scipy/special/cephes/kolmogorov.c
  scipy/stats/statlib/spearman.f
Labels: scipy.stats, scipy.special, maintenance

#15360 MAINT: speed up rvs of nakagami in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#15130 BUG: Deconvolve method does not work with signals with more than 1-D …
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance

#15370 DOC: governance members moved to scipy.org
  doc/source/dev/governance.rst
  doc/source/dev/governance/people.rst
  doc/source/dev/index.rst
Labels: Website, Documentation

#12143 BUG: Correctly use `axis` in `scipy.stats.tmean`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats, backport-candidate

#14657 ENH: stats: add `axis` tuple and `nan_policy` to `gmean`
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats

#15397 BUG: ensured vendored pep440 is imported
  setup.py
Labels: Build issues, maintenance

#15396 DOC: Git:// protocol on github pending removal.
  doc/source/dev/contributor/recommended_development_setup.rst
  doc/source/dev/gitwash/following_latest.rst
Labels: Documentation

#15399 ENH: stats: add `axis` tuple and `nan_policy` to `hmean`
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#15402 DOC: update pip_quickstart (submodules)
  doc/source/dev/contributor/quickstart_pip.rst
Labels: Documentation

#15408 MAINT: check for negative weights in `Rotation.align_vectors`
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: scipy.spatial

#15406 MAINT: use `Rotation.Random` instead of manual generation
  scipy/spatial/transform/tests/test_rotation.py
Labels: scipy.spatial, maintenance

#15366 Make signal functions respect input dtype.
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal

#15413 ENH: stats: add `rvs` method for `gennorm`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#15416 BUG: Fix PyUFunc for wasm targets
  scipy/stats/_boost/include/Templated_PyUFunc.hpp
Labels: defect, scipy.stats, backport-candidate

#15421 MAINT: stats: mode: fix negative axis issue with np.moveaxis instead of custom code
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#15400 MAINT: sparse.linalg: Move the test function of GMRES to the appropriate location and remove test-independent code
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance

#15424 ENH: bypass LinearOperator in lobpcg for small-size cases
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: enhancement, scipy.sparse.linalg

#15427 MAINT: Manage imports in `sparse.linalg`
  scipy/sparse/linalg/_expm_multiply.py
Labels: scipy.sparse.linalg, maintenance

#15418 MAINT: 1.8.0 rc3 backports round 1
  .circleci/config.yml
  .gitignore
  azure-pipelines.yml
  doc/release/1.8.0-notes.rst
  pyproject.toml
  scipy/_build_utils/_fortran.py
  scipy/_lib/tests/test_warnings.py
  scipy/conftest.py
  scipy/interpolate/_bsplines.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_tnc.py
  scipy/optimize/setup.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tnc/_moduleTNC.pyx
  scipy/signal/_fir_filter_design.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_filter_design.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_lsqr.py
  scipy/sparse/linalg/dsolve.py
  scipy/sparse/linalg/eigen.py
  scipy/sparse/linalg/tests/test_propack.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/tests/test_hausdorff.py
  scipy/special/_testutils.py
  scipy/special/cdf_wrappers.c
  scipy/special/tests/test_cdft_asymptotic.py
  scipy/special/tests/test_mpmath.py
  scipy/stats/_boost/include/Templated_PyUFunc.hpp
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_stats_py.py
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_stats.py
  setup.py
  tools/cythonize.py
Labels: maintenance

#15410 ENH: add `order` parameter to specify quaternion format
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#15407 BLD: meson: split pyx->c and Python extension build
  meson.build
  scipy/_build_utils/cythoner.py
  scipy/_lib/meson.build
  scipy/cluster/meson.build
  scipy/fftpack/meson.build
  scipy/interpolate/meson.build
  scipy/io/matlab/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/ndimage/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lsq/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/csgraph/meson.build
  scipy/sparse/meson.build
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/_boost/meson.build
  scipy/stats/_levy_stable/meson.build
  scipy/stats/_unuran/meson.build
  scipy/stats/meson.build
Labels: Build issues, Meson

#15401 MAINT: DOC: analytics from analytics.scientific-python
  doc/source/_templates/layout.html
Labels: Documentation, maintenance

#15422 ENH: stats: add `axis` tuple and `nan_policy` to `kurtosis`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#15432 MAINT: release branch PROPACK switch (default off)
  doc/release/1.8.0-notes.rst
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: scipy.sparse.linalg, maintenance

#15451 BLD: further refinement of Cython dependencies
  scipy/stats/meson.build
Labels: maintenance, Meson

#15445 ENH: stats: add `nnlf` method for discrete distributions
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#15442 MAINT: Fix meson build warnings on windows
  scipy/odr/__odrpack.c
  scipy/signal/_upfirdn_apply.pyx
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cmemory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dmemory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/smemory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zmemory.c
Labels: maintenance

#15454 BLD: remove dependency on libnpymath from `spatial._distance_wrap`
  scipy/spatial/meson.build
  scipy/spatial/setup.py
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_wrap.c
Labels: scipy.spatial, maintenance

#15459 DOC: documents parameter `limit` for function `integrate.quad_vec`.
  scipy/integrate/_quad_vec.py
Labels: scipy.integrate, Documentation

#15453 ENH: Make dual_annealing work with Bounds class
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: enhancement, scipy.optimize

#15455 ENH: Support Bounds class in shgo
  scipy/optimize/_shgo.py
  scipy/optimize/tests/test__shgo.py
Labels: enhancement, scipy.optimize

#15440 MAINT: Try to detect scipy path in `runtests.py` while not building
  .github/workflows/linux.yml
  dev.py
  runtests.py
Labels: maintenance

#15465 DOC: stats: add weights in formulas and examples for gmean and hmean
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#15466 MAINT: fix compile errors with CPython 3.11
  scipy/ndimage/src/ni_morphology.c
Labels: scipy.ndimage, maintenance

#15394 ENH: optimize: improvements to `LinearConstraint` class
  scipy/optimize/_constraints.py
  scipy/optimize/tests/test_constraints.py
Labels: enhancement, scipy.optimize

#15472 ENH: stats: add `axis` tuple and `nan_policy` to `skew`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, enhancement

#15475 ENH: optimize: linprog: improve HiGHS status/message handling
  scipy/optimize/_linprog_highs.py
  scipy/optimize/tests/test_linprog.py
Labels: enhancement, scipy.optimize

#15469 MAINT: Remove `distutils` usage
  scipy/linalg/_generate_pyx.py
  scipy/sparse/_generate_sparsetools.py
  scipy/special/_generate_pyx.py
  scipy/special/utils/makenpz.py
Labels: maintenance

#15449 Adapt dev.py to Windows install stages
  dev.py
Labels: maintenance

#15479 MAINT: prepare for SciPy 1.8.0rc4
  .gitmodules
  doc/release/1.8.0-notes.rst
  scipy/sparse/linalg/_propack/setup.py
  scipy/sparse/linalg/tests/test_propack.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#15487 MAINT: typo in bsplines.py
  scipy/interpolate/_bsplines.py
Labels: scipy.interpolate, Documentation

#15485 BLD: updates to Meson build files for more correct linking and removing warnings
  meson.build
  scipy/_lib/meson.build
  scipy/cluster/meson.build
  scipy/fftpack/meson.build
  scipy/interpolate/meson.build
  scipy/io/matlab/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/ndimage/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lsq/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/signal/_bspline_util.c.in
  scipy/signal/meson.build
  scipy/sparse/csgraph/meson.build
  scipy/sparse/meson.build
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/_boost/meson.build
  scipy/stats/_unuran/meson.build
  scipy/stats/meson.build
Labels: maintenance, Meson

#15484 Make bounds test for shgo stronger
  scipy/optimize/tests/test__shgo.py
Labels: enhancement, scipy.optimize
