Repository scipy/scipy, pull requests merged in 2022-03, with the labels that each got.

#15682 MAINT: sparse.linalg: Clear up unnecessary modules imported in `sparse/linalg/_isolve/utils.py`
  scipy/sparse/linalg/_isolve/utils.py
Labels: scipy.sparse.linalg, maintenance

#15586 ENH: stats: Add 'alternative' and confidence interval to pearsonr
  scipy/_lib/_bunch.py
  scipy/_lib/tests/test_bunch.py
  scipy/stats/_result_classes.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#15691 MAINT: stats.bootstrap: fix bug with `method="BCa"` when `statistic` returns Python float
  scipy/stats/_bootstrap.py
  scipy/stats/tests/test_bootstrap.py
Labels: scipy.stats, maintenance

#15652 DOC: stats.circstd: add reference, notes, comments
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#15699 DOC: stats.ttest_1samp: update example
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#15694 MAINT,CI: signal: fix failing refguide check
  scipy/signal/windows/_windows.py
Labels: maintenance, CI

#15695 ENH, TYP: Add annotations for `scipy.constants`
  mypy.ini
  scipy/constants/__init__.py
  scipy/constants/_codata.py
  scipy/constants/_constants.py
Labels: enhancement, static typing

#15701 BUG: Fix dual_annealing bounds test
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize

#15705 ENH: stats: add axis, nan_policy, masked array support to kstat, kstatvar
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#15647 ENH: add variable bits to `stats.qmc.Sobol`
  benchmarks/benchmarks/stats.py
  scipy/stats/_qmc.py
  scipy/stats/_sobol.pyi
  scipy/stats/_sobol.pyx
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement, Cython

#15526 MAINT: add qrvs method to NumericalInversePolynomial in scipy.stats
  scipy/stats/_unuran/unuran_wrapper.pyi
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, enhancement

#15491 ENH: stats: bootstrap: support vector-valued statistics
  scipy/stats/_bootstrap.py
  scipy/stats/tests/test_bootstrap.py
  scipy/stats/tests/test_hypotests.py
Labels: scipy.stats, enhancement

#15710 MAINT: sparse.linalg: `bnorm` only calculate once
  scipy/sparse/linalg/_isolve/tests/demo_lgmres.py
Labels: scipy.sparse.linalg, maintenance

#15625 MAINT: Clean up `type: ignore` comments related to third-party packages
  .github/workflows/linux.yml
  mypy.ini
  mypy_requirements.txt
  scipy/_lib/_docscrape.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/interpolate/_interpnd_info.py
  scipy/optimize/_shgo_lib/triangulation.py
  scipy/spatial/_plotutils.py
  scipy/spatial/tests/test_kdtree.py
  scipy/special/_precompute/expn_asy.py
  scipy/special/_precompute/lambertw.py
  scipy/special/_precompute/struve_convergence.py
  scipy/special/_precompute/utils.py
  scipy/special/_precompute/wright_bessel.py
  scipy/special/tests/test_precompute_expn_asy.py
  scipy/special/tests/test_precompute_gammainc.py
  scipy/special/tests/test_precompute_utils.py
  scipy/stats/_fit.py
  scipy/stats/tests/test_morestats.py
Labels: maintenance, static typing

#15669 BUG: stats: fix a bug in UNU.RAN error handler
  scipy/stats/_unuran/unuran_callback.h
Labels: defect, scipy.stats, backport-candidate

#15359 MAINT: special: deprecate casting to integers behavior in `special.comb` when `exact=True`
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, maintenance

#15725 DEV: Try to detect scipy from dev installed path
  dev.py
Labels: maintenance, development experience

#15763 ENH: stats: replace ncf with Boost non_central_f distribution
  scipy/stats/_boost/__init__.py
  scipy/stats/_boost/include/_info.py
  scipy/stats/_boost/meson.build
  scipy/stats/_continuous_distns.py
  scipy/stats/meson.build
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#15648 DOC: Add examples to documentation for `scipy.special.ellipr{c,d,f,g,j}`
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#15766 BUG: improve exceptions for private attributes in refactored `__all__` dicts
  scipy/interpolate/fitpack2.py
  scipy/interpolate/interpolate.py
  scipy/io/matlab/mio.py
  scipy/io/matlab/mio5.py
  scipy/linalg/basic.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
  scipy/optimize/moduleTNC.py
  scipy/optimize/optimize.py
  scipy/signal/filter_design.py
  scipy/signal/signaltools.py
  scipy/signal/spectral.py
  scipy/sparse/compressed.py
  scipy/sparse/coo.py
  scipy/sparse/dia.py
  scipy/sparse/lil.py
  scipy/sparse/linalg/matfuncs.py
  scipy/special/basic.py
  scipy/special/orthogonal.py
  scipy/stats/kde.py
  scipy/stats/morestats.py
  scipy/stats/stats.py
Labels: defect, maintenance

#15718 ENH: Migration of `write_release_and_log` into standalone script
  tools/write_release_and_log.py
Labels: maintenance

#15771 MAINT: stats: resolve discrete rvs dtype platform dependency
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#15774 MAINT: stats: remove deprecated `median_absolute_deviation`
  scipy/stats/__init__.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15776 DOC: stats.powerlaw: more explicit explanation of support
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#15775 DOC: stats.lognorm: rephrase note about parameterization
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#15777 MAINT: stats.shapiro: subtract median from shapiro input
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#15712 ENH: `scipy.stats.qmc.Sobol`: allow 32 or 64 bit computation
  benchmarks/benchmarks/stats.py
  scipy/stats/_qmc.py
  scipy/stats/_sobol.pyi
  scipy/stats/_sobol.pyx
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
Labels: scipy.stats, enhancement

#15779 CI: don't run meson tests on forks and remove skip flags
  .github/workflows/linux.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos.yml
  .github/workflows/macos_meson.yml
  .github/workflows/windows.yml
Labels: CI

#15567 ENH: stats.pareto fit improvement for parameter combinations
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#15783 CI:Pin pytest version to 7.0.1 on Azure
  azure-pipelines.yml
  ci/azure-travis-template.yaml
Labels: CI

#15788 DOC: update macOS and Linux contributor docs to use Python 3.9
  doc/source/dev/contributor/quickstart_mac.rst
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation

#15624 MAINT: decorator for backward-compatible keyword renaming
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15786 DOC: Add examples of integrals to integrate.quadpack
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#15684 DOC: add formula and documentation improvements for scipy.special.chndtr and its inverses
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#15664 BENCH: Add benchmarks for special.factorial/factorial2/factorialk
  benchmarks/benchmarks/special.py
Labels: scipy.special, Benchmarks

#15079 ENH:linalg: expm overhaul and ndarray processing
  .gitignore
  benchmarks/benchmarks/linalg.py
  benchmarks/benchmarks/sparse_linalg_expm.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_matfuncs_expm.pyi
  scipy/linalg/_matfuncs_expm.pyx.in
  scipy/linalg/meson.build
  scipy/linalg/setup.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
Labels: enhancement, scipy.linalg, maintenance

#15794 MAINT: stats: give frozen distributions pdf or pmf, not both
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, maintenance

#15795 DEP: remove n_jobs from cKDTree
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/tests/test_kdtree.py
Labels: scipy.spatial, deprecated

#15379 BUG: Fix input validation tests of signal.istft()
  scipy/signal/tests/test_spectral.py
Labels: scipy.signal, maintenance

#15802 DOC: Import Error in examples
  scipy/optimize/_numdiff.py
Labels: scipy.optimize, Documentation

#15804 DEP: sharpen warning message on >1-dim for optimize.minimize
  scipy/optimize/_minimize.py
Labels: scipy.optimize, deprecated

#15803 DOC: error in TransferFunctionDiscrete example
  scipy/signal/_ltisys.py
Labels: scipy.signal, Documentation

#15810 DOC: stats.mood: validity only when observations are unique
  scipy/stats/_morestats.py
Labels: defect, scipy.stats, Documentation

#15813 DOC: information about skip on CircleCI
  doc/source/dev/contributor/continuous_integration.rst
Labels: Documentation, CI

#15768 [DOC] fix typo in cython optimize help example
  scipy/optimize/cython_optimize/__init__.py
Labels: scipy.optimize, Documentation

#15704 BUG: Adding parameter `scaling` to signal.stft() and signal.istft()
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Labels: defect, scipy.signal

#15799 DEP: add warning for documented-as-deprecated extradoc
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, maintenance

#15782 DEPR: remove k=None in KDTree.query
  scipy/spatial/_kdtree.py
  scipy/spatial/tests/test_kdtree.py
Labels: scipy.spatial, deprecated

#15821 DEP: add actual DeprecationWarning for sym_pos-keyword of scipy.linalg.solve
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
  scipy/optimize/_linprog_ip.py
  scipy/signal/_fir_filter_design.py
Labels: scipy.linalg, deprecated

#15825 TST: stats: xfail_on_32bit studentized_range moment test
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#15831 MAINT: stats.rv_generic: fix unnecessary call to `_munp` in `moment`
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#15830 MAINT: stats: collocate bootstrap/permutation_test/monte_carlo_test
  scipy/stats/__init__.py
  scipy/stats/_bootstrap.py
  scipy/stats/_hypotests.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15828 DEP: raise value error for object arrays
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Labels: scipy.sparse, deprecated

#15817 MAINT: stats.fisher_exact: improve docs and fix bugs
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation

#15822 DEP: remove `right` from interpolate.extend
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, deprecated

#15724 TST: stats: simplify `check_sample_mean`
  scipy/stats/tests/test_continuous_basic.py
Labels: scipy.stats, maintenance

#15837 DOC: Simplify conda command
  doc/source/dev/contributor/quickstart_ubuntu.rst
Labels: Documentation

#15632 ENH: stats.wilcoxon: return z-statistic (as requested)
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#15847 BUG: adds warning to scipy.stats.brunnermunzel
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15850 MAINT: sparse.linalg: Missing tfqmr in the re-entrancy test
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance

#15853 DEP: remove the keyword debug from linalg.solve
  scipy/linalg/_basic.py
Labels: scipy.linalg

#15791 MAINT: add ShapeInfo to continuous distributions in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, Documentation, maintenance

#13955 DOC: SciPy extensions for code style and docstring guidelines.
  doc/source/dev/index.rst
  doc/source/dev/missing-bits.rst
Labels: Documentation

#15855 ENH: stats.rv_continuous.expect: split interval to improve reliability
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#15867 CI: fix python version matrix in linux workflow
  .github/workflows/linux.yml
Labels: CI

#15391 ENH: graph Laplacian as LinearOperator, add dtype and symmetrized options
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
Labels: enhancement, scipy.sparse.csgraph

#15868 CI: fix Azure workflows
  ci/azure-travis-template.yaml
  pyproject.toml
Labels: CI

#15840 DOC: special: Add 'Examples' for wrightomega.
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#15187 BUG: special: Fix numerical precision issue of log_ndtr
  scipy/special/_add_newdocs.py
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/cephes/ndtr.c
  scipy/special/functions.json
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_ndtr.py
  scipy/special/tests/test_ndtri_exp.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.special

#15443 DOC, BUG: Fix error in heading remapping for custom `scipy.optimize:function` domain directive
  ci/azure-travis-template.yaml
  doc/source/conf.py
  doc/source/scipyoptdoc.py
  doc_requirements.txt
  pyproject.toml
Labels: defect, scipy.optimize, Documentation

#15870 TST: signal: Convert a test with 'assert_array_less' to 'less or almost equal'.
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal, CI

#15876 DEP: remove _ppform
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, deprecated

#15875 DEP: remove old BSR methods
  scipy/sparse/_bsr.py
Labels: scipy.sparse, deprecated

#15167 CI: make sure CI stays on VS2019 unless changed explicitly
  azure-pipelines.yml
  doc/source/dev/toolchain.rst
Labels: CI

#15690 ENH: add uarray multimethods for fast Hankel transforms
  scipy/fft/__init__.py
  scipy/fft/_backend.py
  scipy/fft/_fftlog_multimethods.py
  scipy/fft/meson.build
  scipy/fft/tests/mock_backend.py
  scipy/fft/tests/test_backend.py
Labels: enhancement, scipy.fft

#15769 MAINT: stats: check integrality in `_argcheck` as needed
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, maintenance

#15872 DEP: remove mlab from dendrogram
  scipy/cluster/hierarchy.py
Labels: scipy.cluster, deprecated

#15874 DEP: remove py_vq2
  scipy/cluster/vq.py
Labels: scipy.cluster, deprecated

#15848 DOC: fix interp2d docs showing wrong Z array ordering.
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#15885 DOC: stats: clarify truncnorm shape parameter definition
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#15887 DEP: remove ftol/xtol from neldermead
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, deprecated

#15881 DEP: remove signal.windows.hanning
  scipy/signal/__init__.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/__init__.py
  scipy/signal/windows/_windows.py
  scipy/signal/windows/windows.py
Labels: scipy.signal, deprecated

#15525 BUG: ensure studentized_range pvalues are in the range [0, 1] by clipping the _cdf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#13338 ENH: stats: Implement _sf and _isf for norminvgauss.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#15882 DEP: enforced radius in spherical voronoi
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: scipy.spatial, deprecated

#15900 DOC: fix import in example in _morestats
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#15778 MAINT: stats: more specific error type from `rv_continuous.fit`
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance

#15909 DEP: deal with deprecation of ndim >1 in bspline
  scipy/interpolate/_fitpack_py.py
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, deprecated

#5747 [ENH] circvar calculated simply as 1-R
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, needs-decision
