Repository scipy/scipy, pull requests merged in 2022-12, with the labels that each got.

#17409 DOC: Examples for special functions related to F distribution
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17526 BUG, DOC: stats: fix `[source]` button redicting to the wrong function
  doc/source/conf.py
Labels: defect, Documentation

#16294 BUG: linalg: Add precision preservation for `sqrtm`
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_matfuncs.py
Labels: defect, scipy.linalg

#17527 MAINT: stats.boxcox: ensure that output is an array
  scipy/stats/_morestats.py
Labels: scipy.stats, maintenance

#16626 BUG: cluster: fix `leaves_color_list` issue
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: defect, scipy.cluster, sprint

#17471 MAINT: stats.rv_count: revert gh-17236
  scipy/stats/__init__.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#16653 DEV: generalized cross-validation smoothing spline
  scipy/interpolate/__init__.py
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/data/gcvspl.npz
  scipy/interpolate/tests/meson.build
  scipy/interpolate/tests/test_bsplines.py
Labels: enhancement, scipy.interpolate

#16907 BUG: stats: expect method of the vonmises distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#17537 DOC: tutorial: rST typo
  doc/source/tutorial/interpolate/smoothing_splines.rst
Labels: Documentation

#17543 CI: fix gh17539 failures of the alpine linux run
  ci/cirrus_general_ci.yml
Labels: CI

#17540 DOC: fix documentation of `make_smoothing_spline`
  scipy/interpolate/_bsplines.py
Labels: scipy.interpolate, Documentation, maintenance

#17545 BUG: special: Fix handling of subnormal input for lambertw.
  scipy/special/_lambertw.pxd
  scipy/special/tests/test_lambertw.py
Labels: defect, scipy.special, Cython

#16355 DEP: add deprecation warnings to kwargs turbo / eigvals of linalg.eigh
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_decomp.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Labels: scipy.linalg, deprecated

#17415 MAINT: Python 3.8 typing simplify
  scipy/integrate/_quadrature.py
  scipy/spatial/_ckdtree.pyi
  scipy/spatial/distance.pyi
  scipy/special/_orthogonal.pyi
  scipy/stats/_qmc.py
  scipy/stats/_sobol.pyi
  scipy/stats/_unuran/unuran_wrapper.pyi
Labels: maintenance, static typing

#17536 DOC: Examples for `yve` and `jve`
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17534 DOC: 1.10.0 release notes
  .mailmap
  doc/release/1.10.0-notes.rst
Labels: Documentation

#17541 REL: set version to 1.11.0.dev0
  doc/release/1.11.0-notes.rst
  doc/source/release.1.11.0.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#17451 DEP: Deprecate `vertices` in qhull.
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: scipy.spatial, deprecated

#17392 ENH: Implementation of new method of conversion for Rotation.as_euler() method
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#17555 DEP: stats: removal of kwargs n in stats.moment and alpha in stats.interval
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, deprecated

#17562 ENH: stats: Implement _ppf for the betaprime distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17535 MAINT: special: Improve comments about Cephes p1evl function.
  scipy/special/cephes/polevl.h
Labels: scipy.special, maintenance, C/C++

#17557 MAINT: bump Ubuntu version in Azure CI
  azure-pipelines.yml
  doc/source/dev/toolchain.rst
Labels: CI

#17563 DEP: stats: remove misspelt gilbrat distribution
  doc/source/conf.py
  doc/source/tutorial/stats.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  tools/refguide_check.py
Labels: scipy.stats, deprecated

#17567 MAINT: Update gitpod setup
  .gitpod.yml
Labels: maintenance, CI

#17479 Add new SI prefixes
  scipy/constants/__init__.py
  scipy/constants/_constants.py
Labels: enhancement, scipy.constants

#16996 ENH: stats.anderson_ksamp: add permutation version of test
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#17483 MAINT: optimize.basinhopping: fix acceptance of failed local search
  scipy/optimize/_basinhopping.py
  scipy/optimize/tests/test__basinhopping.py
Labels: scipy.optimize, maintenance

#16071 ENH: add missing "characteristic impedance of vacuum"
  scipy/constants/_codata.py
Labels: scipy.constants, needs-decision

#17569 MAINT: version bounds for 1.10.0rc1/relnotes fixes
  doc/release/1.10.0-notes.rst
  pyproject.toml
  scipy/__init__.py
  setup.py
  tools/version_utils.py
Labels: maintenance

#17411 DOC: Subheadings for statistical functions in special docs landing page
  scipy/special/__init__.py
Labels: scipy.special, Documentation

#17579 Revert "ENH: stats.ks_2samp: Pythranize remaining exact p-value calculations
  scipy/stats/_stats_py.py
  scipy/stats/_stats_pythran.py
  scipy/stats/setup.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, backport-candidate

#17580 CI: native cp38-macosx_arm64 [wheel build][skip azp][skip circle][ski…
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  tools/wheels/cibw_before_all_cp38_macosx_arm64.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cross_arm64.txt
Labels: Official binaries, backport-candidate, CI

#17583 MAINT: 1.10.0rc1 backports round 2
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  doc/release/1.10.0-notes.rst
  scipy/stats/_stats_py.py
  scipy/stats/_stats_pythran.py
  scipy/stats/setup.py
  scipy/stats/tests/test_stats.py
  tools/wheels/cibw_before_all_cp38_macosx_arm64.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cross_arm64.txt
Labels: maintenance

#17480 ENH: stats: Implement _sf and _isf for halfnorm, gibrat, gompertz.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#15877 DEP: remove extradoc in _distn_infrastructure
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, deprecated

#17591 MAINT: stats.pearsonr: raise error for complex input
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, backport-candidate

#17590 DEP: raise on >1-dim inputs for optimize.minimize
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_tnc.py
Labels: scipy.optimize, deprecated

#17600 DOC: update version switcher for 1.10
  doc/source/_static/version_switcher.json
Labels: Documentation

#17556 DEV: bump flake8 version used in CI job
  azure-pipelines.yml
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: CI

#17608 DOC: curve_fit - clarify fvec output
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17595 DOC: optimize.line_search: note that `pk` must be a descent direction
  scipy/optimize/_linesearch.py
Labels: scipy.optimize, Documentation

#17603 DEP: remove spatial.distance.kulsinski
  benchmarks/benchmarks/spatial.py
  scipy/spatial/distance.py
  scipy/spatial/distance.pyi
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_wrap.c
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated

#17566 DOC: correct, update, and extend `lobpcg` docstring info and examples
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Labels: scipy.sparse.linalg, Documentation

#15873 DEP: remove sym_pos argument from linalg.solve
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg, deprecated

#17605 DOC: example of epidemic model with LHS
  scipy/stats/_qmc.py
Labels: scipy.stats, Documentation

#17486 ENH: optimize.minimize: callback enhancements
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#17613 DOC: curve_fit, include sigma
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17617 DEP: remove MaximumFlowResult.residual
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/tests/test_flow.py
Labels: scipy.sparse.csgraph, deprecated

#17618 DOC: fix unicode in qmc example
  scipy/stats/_qmc.py
Labels: defect, Documentation

#17615 MAINT: scipy.optimize.root: fix error when both args and jac are provided
  scipy/optimize/_root.py
  scipy/optimize/tests/test__root.py
Labels: scipy.optimize, maintenance

#17614 MAINT: optimize.milp: don't warn about `mip_rel_gap` option
  scipy/optimize/_milp.py
  scipy/optimize/tests/test_milp.py
Labels: scipy.optimize, maintenance, backport-candidate

#17627 MAINT: Cast `datasets.ascent` image to float64
  doc/source/tutorial/signal.rst
Labels: scipy.signal, maintenance, backport-candidate, scipy.datasets

#17611 MAINT: Update ascent.dat file hash
  scipy/datasets/_registry.py
Labels: maintenance, backport-candidate, scipy.datasets

#17634 MAINT: casting errstate for NumPy 1.24
  scipy/linalg/tests/test_decomp_update.py
  scipy/sparse/tests/test_base.py
Labels: maintenance, backport-candidate

#17448 MAINT: optimize.minimize_scalar: always acknowledge 'bounds' and failures due to infinite bounds
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance, backport-candidate

#17638 MAINT, TST: alpine/musl segfault shim
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg, maintenance, backport-candidate

#17640 MAINT: prepare for SciPy 1.10.0rc2
  doc/release/1.10.0-notes.rst
  doc/source/tutorial/signal.rst
  scipy/datasets/_registry.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_decomp_update.py
  scipy/optimize/_milp.py
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_milp.py
  scipy/optimize/tests/test_optimize.py
  scipy/sparse/tests/test_base.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#17649 fix documentation lines
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: Documentation, scipy.sparse.csgraph

#17645 MAINT: stats.rankdata: ensure consistent shape handling
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_rank.py
Labels: scipy.stats, maintenance, backport-candidate

#17629 DOC: stats: example treatment odd_ratio
  scipy/stats/_odds_ratio.py
Labels: scipy.stats, Documentation

#17610 DOC: add example to chi2_contingency
  scipy/stats/contingency.py
Labels: scipy.stats, Documentation

#17653 MAINT: pybind11 win exclusion
  .github/workflows/windows.yml
  pyproject.toml
Labels: maintenance, backport-candidate

#17656 MAINT: 1.10.0rc2 backports, round two
  .github/workflows/windows.yml
  doc/release/1.10.0-notes.rst
  pyproject.toml
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_rank.py
Labels: maintenance

#17654 MAINT:interpolate:Add .c file to .gitignore
  .gitignore
Labels: scipy.interpolate, maintenance

#17651 Update _svds.py removing no longer necessary QR for LOBPCG output
  scipy/sparse/linalg/_eigen/_svds.py
Labels: enhancement, scipy.sparse.linalg

#17622 MAINT: optimize.root_scalar: raise when NaN is encountered
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17553 DOC: optimize.curve_fit: add note about `pcov` condition number
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17585 ENH: Von Mises distribution fit
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17664 MAINT: optimize.root_scalar: fix underflow sign check bug
  scipy/optimize/Zeros/bisect.c
  scipy/optimize/Zeros/brenth.c
  scipy/optimize/Zeros/brentq.c
  scipy/optimize/Zeros/ridder.c
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17616 MAINT: optimize.minimize: enhance `callback` for remaining `minimize` methods and `fmin`s
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/_trustregion.py
Labels: enhancement, scipy.optimize

#17668 ENH: stats.loguniform: reformulate methods to avoid overflow
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17663 DOC: optimize.curve_fit: example output may vary
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17674 DOC: optimize: add tutorial example of passing kwargs to callable
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#17684 ENH: support `Bounds` class in lsq_linear
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/tests/test_lsq_linear.py
Labels: enhancement, scipy.optimize

#17643 TST: interpolate/rgi: Add tests for descending ordered points
  scipy/interpolate/tests/test_rgi.py
Labels: scipy.interpolate, maintenance

#17687 MAINT: optimize.toms748: correct "rtol too small" message
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17686 REV: integrate.qmc_quad: delay release to SciPy 1.11.0
  scipy/integrate/__init__.py
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, maintenance, backport-candidate
