Repository scipy/scipy, pull requests merged in 2022-02, with the labels that each got.

#15462 CI: switch one macOS CI job from distutils to meson
  .github/workflows/macos.yml
  .github/workflows/macos_meson.yml
  environment_meson.yml
  scipy/optimize/meson.build
Labels: CI, Meson

#15497 MAINT: update vendored uarray
  scipy/_lib/_uarray/__init__.py
  scipy/_lib/_uarray/_backend.py
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/_lib/_uarray/vectorcall.h
Labels: scipy._lib, maintenance

#15439 ENH: differential_evolution vectorized kwd
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#15499 CI: remove matplotlib from 32-bit linux job, it fails to build
  azure-pipelines.yml
Labels: CI

#15501 MAINT: Remove unused variable warnings
  scipy/_build_utils/src/wrap_g77_abi_f.f
Labels: maintenance

#15496 DOC: signal: fixed parameter 'order' for butter bandpass
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#15026 ENH: allow approx_fprime to work with vector-valued func
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#15494 DOC: fix typos in doc
  doc/source/dev/contributor/meson.rst
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/dev/index.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/stats/sampling_srou.rst
Labels: Documentation

#13490 DEV: stats: check for distribution/method keyword name collisions
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_bootstrap.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
  tools/refguide_check.py
Labels: scipy.stats, maintenance

#15423 MAINT: stats: mode: mode is a reduction operation; should consume an axis
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#15502 DEV: meson: allow specifying build directory and install prefix
  .github/workflows/linux_meson.yml
  .github/workflows/macos_meson.yml
  dev.py
Labels: development experience, Meson

#15504 MAINT: np.all(lb == ub) for optimize.minimize
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize

#15520 TST: optimize.minimize: add tests for np.all(lb == ub)
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#15515 MAINT: fix broken link and remove CI badges
  README.rst
  doc/source/dev/gitwash/git_links.inc
  doc/source/index.rst
Labels: Documentation, maintenance, backport-candidate

#15521 MAINT: prepare for SciPy 1.8.0 final
  README.rst
  doc/release/1.8.0-notes.rst
  doc/source/dev/gitwash/git_links.inc
  doc/source/index.rst
Labels: maintenance

#15523 DOC: fixed the link for fluiddyn's transonic vision in dev/roadmap.html.
  doc/source/dev/roadmap.rst
Labels: Documentation

#15529 DOC: forward port 1.8.0 relnotes
  doc/release/1.8.0-notes.rst
Labels: Documentation, maintenance

#15532 TST: parametrize test_ldl_type_size_combinations
  scipy/linalg/tests/test_decomp_ldl.py
Labels: scipy.linalg, maintenance

#15215 MAINT: stats: batch permutation t-test
  scipy/stats/_hypotests.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15470 ENH: `stats.qmc`: faster hypercube point comparison and scrambling doc
  scipy/stats/_qmc.py
  scipy/stats/qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement, Documentation

#15546 DOC: missing section for metrics
  scipy/spatial/__init__.py
Labels: scipy.spatial, Documentation

#15516 MAINT: stats.mode: fix issues with `nan_policy='propagate'`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#15531 [BUG] Fix importing scipy.lib._pep440
  setup.py
Labels: Build issues, backport-candidate, Pythran

#15558 CI: re-enable Pythran in Azure Windows CI jobs
  azure-pipelines.yml
Labels: backport-candidate, CI

#15555 MAINT: make unuran clone shallow
  .gitmodules
Labels: maintenance, development experience

#15553 ENH, BLD: Add configure option for blas/lapack libraries
  meson.build
  meson_options.txt
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/odr/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
Labels: enhancement, Meson

#15565 DOC: incorrect underline lenght in section.
  scipy/optimize/_remove_redundancy.py
Labels: scipy.optimize, Documentation

#15524 DOC: Remove redundant installation instructions
  doc/source/building/index.rst
  doc/source/building/macosx.rst
  doc/source/getting_started.rst
  doc/source/install_upgrade.rst
Labels: Documentation

#15569 DOC: pip quickstart: setup.py -> meson
  doc/source/dev/contributor/quickstart_pip.rst
Labels: Documentation, Meson

#15570 MAINT: bump test tolerance in test_linprog
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize, maintenance

#15571 DOC: Wrong underline length
  scipy/stats/_binomtest.py
Labels: Documentation

#15578 Make Windows Python setup more standard
  .github/workflows/windows.yml
Labels: maintenance, Meson

#15590 DOC: factorialk docstring inconsistent with code
  scipy/special/_basic.py
Labels: scipy.special, Documentation

#15583 DOC: clarify O(N) SO(N) in random rotations
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#15592 DOC: special: fix `special.factorial2` docstring inconsistency with code
  scipy/special/_basic.py
Labels: scipy.special, Documentation

#15581 MAINT: clarify deprecation warning spatial.transform.rotation
  scipy/spatial/transform/rotation.py
Labels: scipy.spatial, maintenance

#15580 BUG: Avoid C Preprocessor symbol in _hypotests_pythran.py.
  scipy/stats/_hypotests.py
  scipy/stats/_hypotests_pythran.py
Labels: scipy.stats, Build issues, Pythran

#15452 BUG/DOC/TST: combine_pvalues: fix Tippett and Pearson
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats, Documentation

#15597 DOC: update `hyp2f1` docstring example based on doctest
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#15460 ENH: optimize: milp: mixed integer linear programming
  scipy/optimize/__init__.py
  scipy/optimize/_milp.py
  scipy/optimize/meson.build
  scipy/optimize/tests/meson.build
  scipy/optimize/tests/test_milp.py
Labels: enhancement, scipy.optimize

#15606 MAINT: allow multiplication sign `×`
  tools/unicode-check.py
Labels: Documentation, maintenance

#15436 ENH: stats: fit: function for fitting discrete and continuous distributions
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_result_classes.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#15615 MAINT: stats.fit: move to new file
  scipy/stats/__init__.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_fit.py
  scipy/stats/_result_classes.py
  scipy/stats/meson.build
Labels: scipy.stats, maintenance

#15616 CI: pin asv to avoid slowdowns in 0.5/0.5.1
  .circleci/config.yml
  environment.yml
  environment_meson.yml
Labels: CI

#15614 REL: filter out @ in authors name and add count
  doc/source/dev/core-dev/newfeatures.rst.inc
  tools/authors.py
Labels: backport-candidate, gitpod, development experience

#15611 BUG:signal: Fix median bias in csd(..., average="median")
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Labels: scipy.signal

#14576 ENH: stats: add one-sample Monte Carlo hypothesis test
  scipy/stats/__init__.py
  scipy/stats/_bootstrap.py
  scipy/stats/tests/test_bootstrap.py
Labels: scipy.stats, enhancement

#15619 DOC: stats: update interval and moment method signatures
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, Documentation

#15626 TST, MAINT: ignore np distutils dep
  pytest.ini
Labels: maintenance

#11148 WIP: DOC: examples for docstrings in scipy.stats
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#8289 DOC/ENH: Explain limitations of stats.levy_stable more explicitly
  scipy/stats/_levy_stable/__init__.py
Labels: scipy.stats, enhancement

#15573 MAINT: stats: deprecate non-numeric array support in stats.mode
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#9974 ENH: Truncated weibull (minimum) distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_truncweibull_min.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#15629 MAINT: stats: fix `trim1` `axis` behavior
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#14087 DOC: explain null hypotheses in ttest functions
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#13172 The error message “Domain error in arguments” could be more informative
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, maintenance

#15603 BENCH: optimize: milp: add MILP benchmarks
  benchmarks/benchmarks/linprog_benchmark_files/milp_benchmarks.npz
  benchmarks/benchmarks/optimize_linprog.py
  benchmarks/benchmarks/optimize_milp.py
Labels: scipy.optimize, Benchmarks

#15634 CI: Improve concurrency to cancel running jobs on PR update
  .github/workflows/linux.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos.yml
  .github/workflows/macos_meson.yml
  .github/workflows/windows.yml
Labels: CI, development experience

#14476 BUG: levy_stable _fitstart fixes
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#14068 DOC: add example for `stats.mstats.compare_median_ms`
  scipy/stats/_mstats_extras.py
Labels: scipy.stats, Documentation

#15640 DEV: Try to detect scipy from dev installed path while using no build option
  dev.py
Labels: maintenance, development experience

#15637 DOC, MAINT: fix links to wrapped functions and SciPy's distributions
  doc/source/conf.py
Labels: Documentation, maintenance, backport-candidate

#15646 DOC: stats.ks_1samp: correct examples
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#15651 DOC: stats.ks_2samp/stats.kstest: correct examples
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#15645 DOC: Add code example to the documentation of `sparse.linalg.cg`.
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, Documentation

#15655 REL: fix small issue in pavement.py for release note writing
  pavement.py
Labels: maintenance

#15656 DOC: Fix example for subset_by_index in eigh doc
  scipy/linalg/_decomp.py
Labels: scipy.linalg, Documentation

#15478 ENH: stats: add `keepdims` support to `_axis_nan_policy` decorator
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#15659 MAINT: benchmarks: Update out of date instructions for safe benchmark imports
  benchmarks/README.rst
Labels: Documentation, Benchmarks

#15662 DOC: stats.fit: fix intermittent failure in doctest
  scipy/stats/_fit.py
Labels: scipy.stats, Documentation

#14003 DOC: clarify the definition of the pdf of `stats.fisk`
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#15622 improve docstrings for many scipy.special ufuncs
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#15653 ENH: Add freezability to remaining multivariate distributions
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#15649 DEV/DOC: remove latex/pdf documentation
  .circleci/config.yml
  doc/Makefile
  doc/README.md
  doc/postprocess.py
  doc/source/conf.py
  doc/source/dev/contributor/runtests.rst
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/toolchain.rst
  pavement.py
  scipy/signal/windows/_windows.py
Labels: Documentation, deprecated

#13438 ENH: wilcoxon exact calculation for n>25
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_wilcoxon_data.py
  scipy/stats/meson.build
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#13523 MAINT: Clarifies `F_onewayConstantInputWarning` documentation
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#12225 BUG: boxcox data constancy check #5112 #10978
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: defect, scipy.stats

#15673 DOC: fix intersphinx links
  doc/source/conf.py
Labels: defect, Documentation
