Repository scipy/scipy, pull requests merged in 2022-09, with the labels that each got.

#16937 MAINT: refer to python3 in refguide_check
  dev.py
  tools/refguide_check.py
Labels: maintenance

#16788 DOC, TST: clarify Voronoi Qz
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: scipy.spatial, Documentation

#16516 DOC: add a hint on what to use in case of matlab v7.3
  scipy/io/matlab/_mio.py
Labels: scipy.io, Documentation

#16641 DOC: optimize: fix doc that `curve_fit` xdata should be float convertible
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#16758 ENH: Release the GIL while computing KDE kernel estimate
  scipy/stats/_stats.pyx
Labels: scipy.stats, enhancement, Cython

#16939 MAINT: stats: move `_contains_nan` function to `_lib._util.py`
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/_variation.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#16943 BLD: use compiler flags in a more portable way
  meson.build
  scipy/_lib/_uarray/meson.build
  scipy/_lib/meson.build
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/odr/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/meson.build
Labels: Build issues, backport-candidate

#16956 BLD: fix meson version checks for MSVC
  meson.build
Labels: Build issues, backport-candidate, Meson

#16633 DOC: update benchmarking docs to use dev.py user interface
  benchmarks/asv.conf.json
  dev.py
  doc/source/dev/contributor/benchmarking.rst
Labels: Documentation, Benchmarks, sprint

#16953 DEV: update dev.py to only install changed files
  dev.py
Labels: maintenance, DX

#16960 DOC: Fix indentation in benchmarking.rst
  doc/source/dev/contributor/benchmarking.rst
Labels: Documentation

#16959 DOC: Add example for morlet in scipy.signal
  scipy/signal/_wavelets.py
Labels: scipy.signal, Documentation

#16948 DOC: sparse.linalg.svds: fix intermittent refguide check failure
  scipy/sparse/linalg/_eigen/_svds.py
Labels: scipy.sparse.linalg, maintenance

#15901 DEP: Deprecate scipy.misc in favour of scipy.datasets
  doc/source/conf.py
  scipy/_lib/_finite_differences.py
  scipy/_lib/meson.build
  scipy/misc/__init__.py
  scipy/misc/_common.py
  scipy/misc/common.py
  scipy/misc/tests/test_common.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_fourier.py
  scipy/ndimage/_interpolation.py
  scipy/signal/_signaltools.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_ksstats.py
Labels: scipy.misc, deprecated, scipy.datasets

#16870 MAINT: Label new PRs with relevant languages and modules
  .github/label-globs.yml
  .github/workflows/pull-request-labeler.yml
Labels: github

#16955 BLD: fix up or suppress Fortran build warnings
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/stats/meson.build
Labels: maintenance, Meson

#16963 DOC: Update 2 links to point to stable.
  README.rst
Labels: Documentation

#16933 MAINT : interpolate: added test for DivideByZero warning silencing in BarycentricInterpolator
  scipy/interpolate/tests/test_polyint.py
Labels: scipy.interpolate, maintenance

#16966 MAINT: fix NumPy upper bound
  scipy/__init__.py
  setup.py
Labels: maintenance

#16793 DOC: optimize: add tutorial for milp
  doc/source/tutorial/optimize.rst
  scipy/optimize/_milp.py
Labels: scipy.optimize, Documentation

#16975 DOC: Update numpy supported versions for 1.9.2
  doc/source/dev/toolchain.rst
Labels: Documentation, backport-candidate

#16976 DOC: stats.qmc: fix description of seed parameter
  scipy/stats/_qmc.py
Labels: scipy.stats, Documentation

#16699 DOC: stats: resampling and Monte Carlo methods tutorial
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/resampling.rst
Labels: scipy.stats, Documentation

#16890 ENH: optimize.OptimizeResult: improve pretty-printing
  scipy/optimize/_linprog.py
  scipy/optimize/_optimize.py
  scipy/optimize/_qap.py
  scipy/optimize/_shgo.py
Labels: enhancement, scipy.optimize

#16877 MAINT: remove un-necessary all-true array.
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, maintenance

#16986 DOC: Fix link to rendered docs in documentation guide
  doc/source/dev/contributor/rendering_documentation.rst
Labels: Documentation

#16969 BLD: fix usage of `get_install_data`, which defaults to purelib
  meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/special/meson.build
Labels: Build issues, backport-candidate, Meson

#16931 DOC: add details on Meson build debugging and introspection
  doc/source/dev/contributor/meson_advanced.rst
Labels: Documentation

#16826 MAINT: fix some build warnings from `special/ellip_harm.pxd`
  scipy/special/_ellip_harm.pxd
  scipy/special/meson.build
Labels: scipy.special, maintenance

#16951 ENH: stats.fit: add plot_types to FitResult.plot
  scipy/stats/_fit.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#16992 CI: upgrade CI image to run on Ubuntu 22.04 instead of 20.04
  .github/workflows/linux_meson.yml
Labels: CI

#16995 DOC: stats: fix incorrectly documented statistic attribute for SomersDResult
  scipy/stats/_hypotests.py
Labels: scipy.stats, Documentation

#16902 ENH: stats.ttest_rel: add confidence_interval to result
  scipy/stats/_result_classes.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#16990 CI: enable uploads for (weekly) nightlies and update how action triggers are specified
  .github/workflows/circle_artifacts.yml
  .github/workflows/wheels.yml
Labels: CI

#17001 CI: allow the wheel build commit trigger anywhere in the commit message
  .github/workflows/wheels.yml
Labels: CI

#17005 CI: pin OpenBLAS to specific build in macOS job to avoid gges issue
  environment.yml
Labels: scipy.linalg, maintenance, CI

#16965 BUG: linalg: Fix the XSLOW test test_sgesdd_lwork_bug_workaround()
  scipy/linalg/tests/test_lapack.py
Labels: defect, scipy.linalg

#17009 Revert "CI: pin OpenBLAS to specific build in macOS job to avoid gges issue"
  environment.yml
Labels: defect, CI

#17008 ENH: stats.weightedtau: add statistic attribute to result object
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17017 ENH: stats.somersd: add correlation attribute to result object
  scipy/stats/_hypotests.py
Labels: scipy.stats, enhancement

#17016 ENH: stats.pearsonr, stats.pointbiserialr: add statistic/correlation …
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17007 ENH: stats.kendalltau: add statistic attribute to result object as al…
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17006 ENH: stats.spearmanr: add statistic attribute to result object as ali…
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17018 CI: Skip some doc build artifact redirector jobs
  .github/workflows/circle_artifacts.yml
Labels: CI

#16991 BLD: fixes for building with MSVC and Intel Fortran
  meson.build
  scipy/fft/_pocketfft/meson.build
  scipy/meson.build
Labels: Build issues, backport-candidate, Meson

#17021 FIX: `dev.py build` parallelism behaviour and fixed typos
  dev.py
Labels: DX

#16923 MAINT: integrate.qmc_quad: add QMC quadrature
  scipy/_lib/_util.py
  scipy/integrate/__init__.py
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
  scipy/stats/_qmc.py
Labels: scipy.stats, scipy.integrate

#13053 ENH: add MLE for stats.powerlaw.fit
  benchmarks/benchmarks/stats.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#16954 MAINT: stats.mode: fix bug with `axis!=1`, `nan_policy='omit'`, `keepdims=False`
  scipy/stats/_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats, backport-candidate

#16680 MAINT: stats.gmean: corrections with `axis=None` when masked-array input contains 0 or negative value
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, maintenance

#16843 ENH: Handle np array methods in stats.binned_statistic_dd
  scipy/stats/_binned_statistic.py
  scipy/stats/tests/test_binned_statistic.py
Labels: scipy.stats, enhancement

#17032 TST: stats.fit: fix random state
  scipy/stats/tests/test_fit.py
Labels: defect, scipy.stats

#17034 TST: stats.jarque_bera: fix test failure due to NumPy update
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, maintenance

#17035 BUG: sparse: Avoid creating a view when ensuring that an array has native byte order.
  scipy/sparse/_sputils.py
Labels: defect, scipy.sparse

#17048 DOC:signal: Fix typo in TransferFunction
  scipy/signal/_ltisys.py
Labels: scipy.signal, Documentation

#16532 Deprecated imports in docstring examples in `io.harwell_boeing` and `optimize.nonlin`
  scipy/io/_harwell_boeing/hb.py
  scipy/optimize/__init__.py
  scipy/optimize/_nonlin.py
Labels: scipy.io, scipy.optimize, Documentation

#17014 MAINT: remove unused variables and imports
  scipy/_lib/_ccallback_c.pyx
  scipy/cluster/_optimal_leaf_ordering.pyx
  scipy/interpolate/interpnd.pyx
  scipy/io/matlab/_mio5_utils.pyx
  scipy/io/matlab/_streams.pyx
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_matfuncs_sqrtm_triu.pyx
  scipy/ndimage/src/_ni_label.pyx
  scipy/optimize/_group_columns.pyx
  scipy/optimize/_highs/cython/src/_highs_constants.pyx
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_trlib/_trlib.pyx
  scipy/optimize/tnc/_moduleTNC.pyx
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_traversal.pyx
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/_qhull.pyx
  scipy/special/_ellip_harm_2.pyx
  scipy/stats/_qmc_cy.pyx
Labels: maintenance, Cython

#17041 DOC: Add examples for integrals of Bessel functions
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17043 MAINT: fix small LSMR problem
  scipy/sparse/linalg/_isolve/lsmr.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: defect, scipy.sparse.linalg

#17038 deduplicate `splint` in FITPACK wrappers; take 3
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/fitpack/splint.f
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_fitpack.py
Labels: scipy.interpolate, maintenance

#17057 Fix or avoid various test failures that are showing up in CI
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_solvers.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: maintenance

#17013 BLD: make MKL detection a little more robust, add notes on TODOs
  doc/source/dev/contributor/building_faq.rst
  scipy/meson.build
  scipy/sparse/linalg/_propack/dpropack.pyf
  scipy/sparse/linalg/_propack/meson.build
Labels: Build issues, backport-candidate, Meson

#16987 ENH: stats.gaussian_kde: replace use of inv_cov in logpdf
  scipy/stats/_kde.py
  scipy/stats/_stats.pyx
Labels: scipy.stats, enhancement

#17052 BLD: implement symbol hiding for Meson through a linker version script
  .github/workflows/linux_meson.yml
  meson.build
  mypy.ini
  scipy/_build_utils/link-version-pyinit.map
  scipy/_lib/_uarray/meson.build
  scipy/_lib/meson.build
  scipy/cluster/meson.build
  scipy/fft/_pocketfft/meson.build
  scipy/fftpack/meson.build
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/matlab/meson.build
  scipy/io/meson.build
  scipy/linalg/meson.build
  scipy/ndimage/meson.build
  scipy/odr/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lsq/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/csgraph/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/meson.build
  scipy/sparse/sparsetools/meson.build
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/_boost/meson.build
  scipy/stats/_levy_stable/meson.build
  scipy/stats/_unuran/meson.build
  scipy/stats/meson.build
Labels: Build issues, Meson

#17068 MAINT: Removed unused imports.
  scipy/misc/_common.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_isolve/tests/test_minres.py
  scipy/sparse/linalg/_propack/setup.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_kde.py
Labels: maintenance

#17046 CI: Update cibuildwheel to 2.10.1
  .github/workflows/wheels.yml
Labels: CI

#17036 DEV: Update GPG key in Docker [Gitpod]
  tools/docker_dev/Dockerfile
  tools/docker_dev/fix_permissions
  tools/docker_dev/meson.Dockerfile
Labels: maintenance, gitpod

#17071 DOC: update maxfun in scipy.optimize.minimize(method=’L-BFGS-B’) to match fmin_l_bfgs_b
  scipy/optimize/_lbfgsb_py.py
Labels: scipy.optimize, Documentation

#17003 DOC: Add examples for a few Bessel functions
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#16950 DOC: Add examples for common Bessel functions
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17076 DOC: spatial: Copy-edit the voronoi_plot_2d example.
  scipy/spatial/_plotutils.py
Labels: scipy.spatial, Documentation

#17073 DOC: examples for derivatives of Bessel functions
  scipy/special/_basic.py
Labels: scipy.special, Documentation

#17064 BUG: Fix numerical precision error of `truncnorm.logcdf` when cdf is nearly 1
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#17081 DOC: Fix formatting in svds docstrings
  scipy/sparse/linalg/_eigen/_svds_doc.py
Labels: scipy.sparse.linalg, Documentation

#17083 DOC: Fix broken link for environment variables NumPy doc
  doc/source/dev/contributor/building.rst
Labels: Documentation

#16989 DOC: edited t_span parameter description in integrate.solve_ivp
  scipy/integrate/_ivp/ivp.py
Labels: scipy.integrate, Documentation

#17079 BUG: fix `signal.sosfilt` issue with complex dtypes and Intel compiler
  scipy/signal/_sosfilt.pyx
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance

#17085 DOC: optimize: add link to SciPy cookbooks milp tutorials
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#17095 MAINT: stats: revert gh-16852, gh-16877
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, maintenance

#17096 FIX: ensure a hold on GIL before raising warnings/errors
  scipy/stats/_boost/include/func_defs.hpp
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, backport-candidate

#16002 ENH: Allow specyfing inverse covariance of a multivariate normal distribution
  scipy/stats/__init__.py
  scipy/stats/_covariance.py
  scipy/stats/_multivariate.py
  scipy/stats/meson.build
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#16628 FIX: Updated dtype resolution in `_stack_along_minor_axis`
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_csr.py
Labels: defect, scipy.sparse, backport-candidate, sprint

#17099 BLD: turn off fast-math for Intel compilers
  meson.build
Labels: maintenance

#17094 DOC: examples for roots of Bessel functions
  scipy/special/_basic.py
Labels: scipy.special, Documentation

#17105 FIX: special: use intended branching for `lamv` implementation
  scipy/special/specfun/specfun.f
Labels: defect, scipy.special, Fortran

#17110 DOC: add Numpy import to scipy.sparse examples
  scipy/sparse/_construct.py
  scipy/sparse/_matrix_io.py
Labels: scipy.sparse, Documentation

#17112 ENH: Add support for bounds class in curve_fit
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: enhancement, scipy.optimize

#17108 DOC: Reformulate ufunc description in special doc page
  scipy/special/__init__.py
Labels: scipy.special, Documentation

#17109 BLD: Ensure Intel Fortran handles negative 0 as expected.
  meson.build
Labels: maintenance

#17117 ENH: stats.logistic: override fit for remaining cases
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement
