Repository scipy/scipy, pull requests merged in 2022-05, with the labels that each got.

#15357 ENH: interpolate: add new methods for RegularGridInterpolator.
  doc/source/tutorial/interpolate.rst
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#15588 MAINT: Use lanczos approximation for gamma ratios in hyp2f1 for complex numbers
  scipy/special/_hyp2f1.pxd
  scipy/special/_precompute/hyp2f1_data.py
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, maintenance

#16070 ENH: interpolate: handle length-1 grid axes in RegularGridInterpolator
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#16083 DOC: fixing a sign issue in FFTlog function documentation
  scipy/fft/_fftlog.py
Labels: Documentation, scipy.fft

#16062 DOC: Document QUADPACK routines used in `*quad`
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#16091 DOC: stats.invwishart: document LinAlgError raised when `scale` is not PD
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#16095 MAINT: Remove old filtered warnings
  dev.py
  doc/source/conf.py
  pytest.ini
  runtests.py
Labels: maintenance

#16100 MAINT: Fix a couple compiler warnings.
  scipy/optimize/__nnls/nnls.f
  scipy/special/ellint_carlson_cpp_lite/_rj.hh
Labels: scipy.special, scipy.optimize, maintenance

#16099 ENH: Prevent unnecessary matvec in scipy.optimize
  scipy/optimize/_nonlin.py
Labels: enhancement, scipy.optimize

#16056 MAINT: stats.theilslopes: warn and return `nan` for degenerate input
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_mstats_basic.py
Labels: defect, scipy.stats

#16107 DOC: stats.mstats: correct links to stats functions
  scipy/stats/_mstats_basic.py
Labels: scipy.stats, Documentation

#16104 DOC: stats: symmetry not checked for (inv)wishart distributions
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#16105 BUG: stats: fix skewnorm pdf when a=0
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
Labels: defect, scipy.stats

#16101 BUG: fix + test for reflected fixed location gumbel_l
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#16093 DEP: execute deprecation of inexact indices into sparse matrices
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Labels: scipy.sparse, deprecated

#15715 ENH: stats: add _axis_nan_policy_factory to moment
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#16115 MAINT: merge `environment.yml` and `environment_meson.yml`
  .github/workflows/docker.yml
  .github/workflows/macos_meson.yml
  doc/source/dev/contributor/conda_guide.rst
  doc/source/dev/contributor/meson.rst
  doc/source/dev/contributor/quickstart_gitpod.rst
  doc/source/dev/dev_quickstart.rst
  environment.yml
  environment_meson.yml
  tools/docker_dev/gitpod.Dockerfile
  tools/docker_dev/meson.Dockerfile
  tools/docker_dev/settings.json
  tools/docker_dev/workspace_config
Labels: CI, Meson

#16044 DEV: do.py, adoption of pkg pydevtool (removed non SciPy specific code).
  do.py
  environment.yml
Labels: maintenance, DX

#16073 DOC: expand RegularGridInterpolator docstring
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#16077 BUG: interpolate: RGI(nan) is nan
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: defect, scipy.interpolate

#16122 CI: Speed up ci build that keeps timing out
  azure-pipelines.yml
Labels: maintenance, CI

#16125 DOC: interpolate: fix typos "the the" -> "the"
  scipy/interpolate/_cubic.py
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#16092 ENH: interpolate: Add functionality to accept descending points for `interpn` and `RegularGridInterpolator`.
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#16126 DOC: interpolate: details rectilinear grids in docstrings
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#16118 Download openblas binary from GH repo
  .github/workflows/windows.yml
Labels: maintenance, CI

#16130 Increase time to timeout on azure
  azure-pipelines.yml
Labels: CI

#16128 BUG: interpolate: fix extrapolation behaviors of `previous` and `next` mode in `interpolate.interp1d`
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: defect, scipy.interpolate

#16139 WIP, BLD, MAINT: git security/version shim
  setup.py
Labels: needs-work, maintenance

#16137 Clean up fitpack smoke tests
  scipy/interpolate/tests/test_fitpack.py
Labels: scipy.interpolate, maintenance

#16141 DOC: Plot poles as x and zeros as o in signal
  doc/source/tutorial/signal.rst
Labels: scipy.signal, Documentation

#16138 TST: interpolate: mark rbf chunking tests as slow
  scipy/interpolate/tests/test_rbfinterp.py
Labels: scipy.interpolate, maintenance

#16155 MAINT: correct wrong license of Biasedurn
  LICENSES_bundled.txt
  scipy/stats/biasedurn/erfres.cpp
  scipy/stats/biasedurn/fnchyppr.cpp
  scipy/stats/biasedurn/randomc.h
  scipy/stats/biasedurn/stoc1.cpp
  scipy/stats/biasedurn/stoc3.cpp
  scipy/stats/biasedurn/stocc.h
  scipy/stats/biasedurn/wnchyppr.cpp
Labels: scipy.stats, maintenance, backport-candidate

#16152 TST: Fortify invalid-value warning filters to small changes in NumPy
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance, backport-candidate

#15997 MAINT: integrate: add `recursive` to QUADPACK Fortran sources
  scipy/integrate/quadpack/dqag.f
  scipy/integrate/quadpack/dqage.f
  scipy/integrate/quadpack/dqagi.f
  scipy/integrate/quadpack/dqagie.f
  scipy/integrate/quadpack/dqagp.f
  scipy/integrate/quadpack/dqagpe.f
  scipy/integrate/quadpack/dqags.f
  scipy/integrate/quadpack/dqagse.f
  scipy/integrate/quadpack/dqawc.f
  scipy/integrate/quadpack/dqawce.f
  scipy/integrate/quadpack/dqawf.f
  scipy/integrate/quadpack/dqawfe.f
  scipy/integrate/quadpack/dqawo.f
  scipy/integrate/quadpack/dqawoe.f
  scipy/integrate/quadpack/dqaws.f
  scipy/integrate/quadpack/dqawse.f
  scipy/integrate/quadpack/dqc25c.f
  scipy/integrate/quadpack/dqc25f.f
  scipy/integrate/quadpack/dqc25s.f
  scipy/integrate/quadpack/dqcheb.f
  scipy/integrate/quadpack/dqelg.f
  scipy/integrate/quadpack/dqk15.f
  scipy/integrate/quadpack/dqk15i.f
  scipy/integrate/quadpack/dqk15w.f
  scipy/integrate/quadpack/dqk21.f
  scipy/integrate/quadpack/dqk31.f
  scipy/integrate/quadpack/dqk41.f
  scipy/integrate/quadpack/dqk51.f
  scipy/integrate/quadpack/dqk61.f
  scipy/integrate/quadpack/dqmomo.f
  scipy/integrate/quadpack/dqng.f
  scipy/integrate/quadpack/dqpsrt.f
Labels: scipy.integrate, maintenance, Fortran

#16167 ENH: Tweak theilslopes and siegelslopes to return a tuple_bunch
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, enhancement

#16172 CI: pin Pip to 22.0.4 to avoid issues with `--no-build-isolation`
  azure-pipelines.yml
  ci/azure-travis-template.yaml
Labels: backport-candidate, CI

#16173 Adds note to the curve_fit() docstring to use float64.
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#16165 BUG: fix extension module initialization, needs use of `PyMODINIT_FUNC`
  scipy/_lib/_fpumode.c
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/_lib/_uarray/meson.build
  scipy/_lib/src/_test_ccallback.c
  scipy/integrate/_odepackmodule.c
  scipy/integrate/_quadpackmodule.c
  scipy/integrate/tests/_test_multivariate.c
  scipy/interpolate/src/_fitpackmodule.c
  scipy/ndimage/src/_ctest.c
  scipy/ndimage/src/nd_image.c
  scipy/odr/__odrpack.c
  scipy/optimize/_lsap_module.c
  scipy/optimize/_minpackmodule.c
  scipy/optimize/tnc/moduleTNC.c.old
  scipy/optimize/zeros.c
  scipy/signal/_sigtoolsmodule.c
  scipy/signal/_splinemodule.c
  scipy/sparse/linalg/_dsolve/_superlumodule.c
  scipy/sparse/sparsetools/sparsetools.cxx
  scipy/spatial/meson.build
  scipy/spatial/src/distance_wrap.c
Labels: maintenance

#16175 TST: fix test failure due to changes in numpy scalar behavior.
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance

#16135 MAINT: sparse.linalg: A minor improvement with zero initial guess
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
Labels: scipy.sparse.linalg

#16111 BUG: Fix norm for sparse arrays
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Labels: defect, scipy.sparse.linalg

#16144 DEP: Execute deprecation for squeezing input vectors in spatial.distance
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated

#16181 BUG: stats: fix multivariate_hypergeom.rvs method
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: defect, scipy.stats

#16180 DEV: do.py build. On setup checks if intro-buildoptions.json exists instead of build dir.
  do.py
Labels: maintenance

#16177 MAINT: Cleanup unused code in meson-files
  scipy/_lib/_uarray/meson.build
  scipy/spatial/meson.build
Labels: Meson

#16184 DEP: raise if fillvalue cannot be cast to output type in signal.convolve2d
  scipy/signal/_sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, deprecated

#16183 ENH: Simplify return names in stats.theil/siegelslopes (and fix bug where mstats.siegelslopes was ignoring the method parameter)
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, maintenance

#16168 BUG: special: Fix the test 'test_d' that is run when SCIPY_XSLOW is defined.
  scipy/special/_mptestutils.py
  scipy/special/tests/test_precompute_gammainc.py
Labels: defect, scipy.special

#16145 ENH: Fix signal.iircomb w0 bugs, add support for both frequency types
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, enhancement, scipy.signal

#16160 MAINT: stats.nbinom.logcdf: fix vectorization
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#16198 DEP: sharpen deprecation in NumericalInverseHermite
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, deprecated

#16186 ENH: more numerically stable version of `softmax`
  scipy/special/_logsumexp.py
Labels: enhancement, scipy.special

#16209 Fix _contains_nan
  scipy/stats/_stats_py.py
Labels: defect, scipy.stats

#16213 MAINT: forward port 1.8.1 relnotes
  doc/release/1.8.1-notes.rst
  doc/source/release.1.8.1.rst
  doc/source/release.rst
Labels: maintenance

#16214 REL: prep for SciPy 1.8.2
  doc/release/1.8.2-notes.rst
  doc/source/release.1.8.2.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: maintenance

#16194 BLD: add a build option to force use of the g77 ABI with Meson
  doc/source/dev/contributor/building_faq.rst
  meson_options.txt
  scipy/meson.build
Labels: Meson

#15819 DEP: docstring-related deprecations (#15757)
  scipy/_lib/doccer.py
  scipy/misc/_doccer.py
  scipy/misc/doccer.py
  scipy/misc/meson.build
  scipy/misc/tests/test_doccer.py
Labels: scipy.misc, deprecated

#16206 CI: Test NumPy main branch also with Python 3.11
  .github/workflows/linux.yml
Labels: CI

#14300 ENH: Adding DIRECT algorithm to ``scipy.optimize``
  scipy/optimize/__init__.py
  scipy/optimize/_direct.py
  scipy/optimize/_direct/AUTHORS
  scipy/optimize/_direct/COPYING
  scipy/optimize/_direct/DIRect.c
  scipy/optimize/_direct/DIRserial.c
  scipy/optimize/_direct/DIRsubrout.c
  scipy/optimize/_direct/README
  scipy/optimize/_direct/direct-internal.h
  scipy/optimize/_direct/direct_wrap.c
  scipy/optimize/_directmodule.c
  scipy/optimize/_directmodule.h
  scipy/optimize/meson.build
  scipy/optimize/setup.py
  scipy/optimize/tests/meson.build
  scipy/optimize/tests/test_direct.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#15886 BUG: check that iirfilter argument Wn satisfies Wn[0] < Wn[1]
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: enhancement, scipy.signal

#14036 ENH: fix numerical issues in roots_jacobi and related special functions that occur for large parameter values
  scipy/special/_orthogonal.py
  scipy/special/tests/test_orthogonal.py
Labels: defect, scipy.special

#16185 BUG: stats: Fix handling of float32 inputs for the boost-based ufuncs.
  scipy/stats/_boost/include/Templated_PyUFunc.hpp
  scipy/stats/_boost/include/code_gen.py
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_boost_ufuncs.py
Labels: defect, scipy.stats, C/C++

#16225 TST: optimize: skip failing test of deprecated solver
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize

#16230 BUG: fix extension module initialization, needs use of PyMODINIT_FUNC, round 2
  scipy/optimize/_directmodule.c
Labels: maintenance

#16228 TST: interpolate: move test_spalde_scalar to other fitpack tests
  scipy/interpolate/tests/meson.build
  scipy/interpolate/tests/test_fitpack.py
  scipy/interpolate/tests/test_regression.py
Labels: scipy.interpolate, maintenance

#16229 REL: DOC: fix documentation URLs
  doc/Makefile
Labels: Documentation

#16221 REL: DOC: fix documentation URLs for the 1.8.x releases
  doc/Makefile
Labels: Documentation

#16245 DEP: Execute deprecation of pinv2
  scipy/linalg/__init__.py
  scipy/linalg/_basic.py
  scipy/linalg/basic.py
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg

#16223 MAINT: interpolate: move RGI to a separate file
  scipy/interpolate/__init__.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/meson.build
  scipy/interpolate/tests/meson.build
  scipy/interpolate/tests/test_interpolate.py
  scipy/interpolate/tests/test_rgi.py
Labels: scipy.interpolate, maintenance

#16239 MAINT: tools: Add more output to a refguide-check error message.
  tools/refguide_check.py
Labels: maintenance

#13918 ENH: Poisson Disk sampling for QMC
  scipy/stats/_qmc.py
  scipy/stats/qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement

#16220 Create a new spline from a partial derivative of a bivariate spline
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/fitpack/pardtc.f
  scipy/interpolate/meson.build
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack2.py
Labels: enhancement, scipy.interpolate

#16249 Refguide check verbosity abs names
  dev.py
  do.py
  runtests.py
  tools/refguide_check.py
Labels: maintenance

#16247 DOC:linalg: Remove references to removed pinv2 function
  doc/source/tutorial/linalg.rst
Labels: scipy.linalg, Documentation, deprecated

#16259 Revert "CI: pin Pip to 22.0.4 to avoid issues with `--no-build-isolation`"
  azure-pipelines.yml
  ci/azure-travis-template.yaml
Labels: CI

#16176 MAINT: remove questionable uses of `Py_FatalError` in module init
  scipy/integrate/_ode.py
  scipy/integrate/_odepackmodule.c
  scipy/integrate/_quadpackmodule.c
  scipy/interpolate/src/_fitpackmodule.c
  scipy/optimize/_minpackmodule.c
  scipy/signal/_splinemodule.c
  scipy/sparse/linalg/_dsolve/_superlumodule.c
Labels: maintenance

#15923 MAINT: stats: attempt to consolidate warnings and errors
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_resampling.py
  scipy/stats/_result_classes.py
  scipy/stats/_stats_py.py
  scipy/stats/_warnings_errors.py
  scipy/stats/meson.build
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
  tools/refguide_check.py
Labels: scipy.stats, maintenance

#16261 DEP: remove maxiter in minimize_tnc
  scipy/optimize/_tnc.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_tnc.py
Labels: scipy.optimize, deprecated

#16258 DEP: add deprecation warning for vertices attribute in qhull
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: scipy.spatial, deprecated

#16265 DEP: deprecate spatial.distance.kulsinski
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated

#16257 DEP: Deprecation follow-ups
  scipy/spatial/distance.pyi
  scipy/stats/_continuous_distns.py
  scipy/stats/_rvs_sampling.py
  scipy/stats/tests/test_continuous_basic.py
Labels: deprecated

#16267 DOC: broken donation link on GitHub
  .github/FUNDING.yml
Labels: github

#16042 MAINT: stats.dirichlet: fix interface inconsistency
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: defect, scipy.stats

#15729 ENH: stats: add weighted power mean
  scipy/stats/__init__.py
  scipy/stats/_stats_py.py
  scipy/stats/stats.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#16276 MAINT: sparse.linalg: Update some docstrings.
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, Documentation, maintenance

#16273 DOC: remove deprecated functions from refguide
  doc/release/0.15.0-notes.rst
  doc/release/1.0.0-notes.rst
  doc/release/1.7.0-notes.rst
  doc/release/1.8.0-notes.rst
  scipy/spatial/distance.py
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
Labels: Documentation, CI, deprecated

#15464 ENH: Performance improvements for `linear_sum_assignment`
  scipy/optimize/_lsap.c
  scipy/optimize/_lsap.py
  scipy/optimize/meson.build
  scipy/optimize/rectangular_lsap/rectangular_lsap.cpp
  scipy/optimize/setup.py
Labels: enhancement, scipy.optimize

#16282 BUG: special: DECREF scipy_special object before exiting sf_error().
  scipy/special/sf_error.c
  scipy/special/tests/test_sf_error.py
Labels: defect, scipy.special, C/C++

#16274 DEP: Update `maxiter` deprecation in _minimize_tnc tests
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, deprecated

#16287 BLD: sync pyproject.toml changes from oldest-supported-numpy
  pyproject.toml
Labels: maintenance

#16290 BLD: fix issue with `python setup.py install` and `_directmodule`
  scipy/optimize/__init__.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_directmodule.c
  scipy/optimize/meson.build
  scipy/optimize/setup.py
Labels: CI

#16264 DOC: update the RegularGridInterpolator docstring
  scipy/interpolate/_rgi.py
Labels: scipy.interpolate, Documentation

#16187 BLD: default to Meson in pyproject.toml
  .gitignore
  INSTALL.rst.txt
  azure-pipelines.yml
  ci/azure-travis-template.yaml
  doc/release/1.9.0-notes.rst
  doc/source/dev/contributor/meson.rst
  doc/source/dev/contributor/meson_advanced.rst
  doc/source/dev/contributor/windows.rst
  doc/source/dev/core-dev/releasing.rst.inc
  pyproject.toml
  scipy/meson.build
Labels: enhancement, Meson

#16296 DOC: REL: fix `make dist` issue with missing dependencies
  doc/Makefile
Labels: maintenance

#16295 MAINT: move `import_array` before module creation in module inits
  scipy/integrate/_odepackmodule.c
  scipy/integrate/_quadpackmodule.c
  scipy/interpolate/src/_fitpackmodule.c
  scipy/ndimage/src/nd_image.c
  scipy/optimize/_directmodule.c
  scipy/optimize/_lsap.c
  scipy/optimize/_minpackmodule.c
  scipy/signal/_sigtoolsmodule.c
  scipy/signal/_splinemodule.c
  scipy/sparse/sparsetools/sparsetools.cxx
  scipy/spatial/src/distance_wrap.c
Labels: maintenance

#16279 MAINT: stats: override `loguniform.fit` to resolve overparameterization
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#13572 ENH: n-D and nan_policy support for scipy.stats.percentileofscore
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#15598 BUG/ENH: `lsq_linear`: fixed incorrect `lsmr_tol` in first call to `lsmr`; added `lsmr_max_iter` option and unbounded output
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_lsq/trf_linear.py
  scipy/optimize/tests/test_lsq_linear.py
Labels: enhancement, scipy.optimize

#16309 BLD: CI: fix issue in wheel metadata, and add basic "build in Ubuntu venv" CI job
  .github/workflows/linux_meson.yml
  pyproject.toml
Labels: Build issues, CI, Meson

#16304 MAINT: add a more informative error message for broken installs
  scipy/__init__.py
Labels: maintenance

#16303 MAINT: revert addition of multivariate_beta
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats

#16117 MAINT: stats.wilcoxon: return `zstatistic` only when `method='approx'`
  scipy/stats/_morestats.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#16316 REL: update version switcher for 1.8.1
  doc/source/_static/version_switcher.json
  doc/source/dev/core-dev/releasing.rst.inc
Labels: Documentation, maintenance

#16289 MAINT: stats: remove function-specific warning messages
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#14143 Support LinearOperator in expm_multiply
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
Labels: enhancement, scipy.sparse.linalg

#11829 Fixes safe handling of small singular values in svds.
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: scipy.sparse.linalg, maintenance

#16241 DOC: stats: update roadmap
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Labels: scipy.stats

#16248 DOC: prep 1.9.0 release notes
  .mailmap
  doc/release/1.9.0-notes.rst
  tools/gh_lists.py
Labels: Documentation, needs-work

#16298 REL: set version to 1.10.0.dev0
  doc/release/1.10.0-notes.rst
  doc/source/release.1.10.0.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#16327 DOC: BLD: remove `-scipyopt` from html Make command and build output
  .circleci/config.yml
  .github/workflows/circle_artifacts.yml
  dev.py
  do.py
  doc/Makefile
  doc/README.md
  doc/source/dev/contributor/quickstart_gitpod.rst
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/contributor/runtests.rst
  doc/source/dev/contributor/using_act.rst
  runtests.py
  tools/docker_dev/settings.json
Labels: Documentation

#16328 MAINT: retry openblas download in CI
  tools/openblas_support.py
Labels: maintenance, CI

#16324 DOC: update guidance on a Meson FAQ entry
  doc/source/dev/contributor/meson.rst
Labels: Documentation, Meson

#16326 REL: update version switcher for 1.9
  doc/source/_static/version_switcher.json
Labels: maintenance
