Repository scipy/scipy, pull requests merged in 2022-11, with the labels that each got.

#17039 ENH: add a `stats.expectile` function
  scipy/stats/__init__.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17315 MAINT: special: Remove tests of numpy functions arccosh, arcsinh and arctanh.
  scipy/special/meson.build
  scipy/special/tests/data/boost/acosh_data_ipp/acosh_data.txt
  scipy/special/tests/data/boost/asinh_data_ipp/asinh_data.txt
  scipy/special/tests/data/boost/atanh_data_ipp/atanh_data.txt
  scipy/special/tests/test_data.py
Labels: scipy.special, maintenance

#17295 CI: test on musllinux
  ci/cirrus_general_ci.yml
Labels: enhancement, CI

#17319 DOC: references and examples for huber/pseudo_huber
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17331 CI: On Azure, pin pytest-xdist to version 2.5.0
  ci/azure-travis-template.yaml
Labels: CI

#17141 ENH: stats.fit: add maximum spacing estimation
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_fit.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#17178 DOC: interpolate: discuss failure modes of SmoothBivariateSpline
  scipy/interpolate/_fitpack2.py
Labels: scipy.interpolate, Documentation

#17230 ENH: subclass-friendly refactor RegularGridInterpolator
  benchmarks/benchmarks/interpolate.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_rgi.py
Labels: enhancement, scipy.interpolate

#17256 doc/RegularizedIncompleteBetaFunction
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17317 DOC: interpolate/tutorial: add an example for equally-spaced grid
  doc/source/tutorial/interpolate/ND_regular_grid.rst
Labels: scipy.interpolate, Documentation

#17199 DOC: Fix typos in IIR design argument documentation
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#17349 DOC: Fix signal docstrings; finish adding 'import numpy as np'
  scipy/datasets/_fetchers.py
  scipy/signal/_filter_design.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_lti_conversion.py
  scipy/signal/_ltisys.py
  scipy/signal/_savitzky_golay.py
  scipy/signal/_signaltools.py
  scipy/signal/_spectral_py.py
  scipy/signal/_wavelets.py
  scipy/signal/windows/_windows.py
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, scipy.signal, Documentation, scipy.datasets

#17351 CI: Pin ninja==1.10.2.4 to avoid bug in 1.11.1 that breaks meson.
  .circleci/config.yml
  .github/workflows/linux_meson.yml
  ci/cirrus_general_ci.yml
  environment.yml
  pyproject.toml
Labels: CI

#17346 BLD: fix `SCIPY_USE_PYTHRAN=0` usage for the Meson build
  meson.build
  scipy/meson.build
  scipy/stats/meson.build
Labels: Build issues

#17277 ENH: Random unit vector distribution
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17291 Cythonize 2D linear code path in RegularGridInterpolator
  mypy.ini
  scipy/interpolate/_poly_common.pxi
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/_rgi.py
  scipy/interpolate/_rgi_cython.pyx
  scipy/interpolate/meson.build
  scipy/interpolate/setup.py
  scipy/interpolate/tests/test_rgi.py
Labels: enhancement, scipy.interpolate

#17180 DEP: interpolate: deprecate interp2d
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
Labels: scipy.interpolate, deprecated

#17308 MAINT: optimize.minimize: revert gh-11712 to fix macos_arm64_test
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: scipy.optimize, maintenance

#17359 CI: ninja packages are repaired, so unpin.
  .circleci/config.yml
  .github/workflows/linux_meson.yml
  ci/cirrus_general_ci.yml
  environment.yml
  pyproject.toml
Labels: CI

#17363 DOC: adjust the deprecation notice for interp2d
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#17030 ENH: stats.permutation_test: improve performance of samples/pairings random permutations
  scipy/stats/_resampling.py
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, enhancement

#17367 DOC: Add missing `build` parameter to `dev.py`
  doc/source/dev/dev_quickstart.rst
Labels: Documentation

#17369 DOC: consistent use of `=` for argument documentation
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/fft/_realtransforms.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_nonlin.py
  scipy/sparse/linalg/_expm_multiply.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_hypotests.py
Labels: Documentation, maintenance

#17355 DOC: spatial: Fix some docstrings.
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/_kdtree.py
  scipy/spatial/_qhull.pyx
Labels: scipy.spatial, Documentation

#17302 MAINT: special: Use boost for special.hyp1f1 with real inputs.
  scipy/special/_hypergeometric.pxd
  scipy/special/boost_special_functions.h
  scipy/special/functions.json
  scipy/special/tests/test_hypergeometric.py
Labels: scipy.special, maintenance, C/C++

#17361 DOC: examples for gdtr and gdtrc
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17340 DOC: clarify use of bounds with basinhopping
  scipy/optimize/_basinhopping.py
Labels: scipy.optimize, Documentation

#17371 DOC: update RBF tutorial with new `RBFInterpolator`
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/ND_unstructured.rst
Labels: scipy.interpolate, Documentation

#17366 DOC/MAINT: clean doctests namespace
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/tutorial/fft.rst
  doc/source/tutorial/general.rst
  doc/source/tutorial/integrate.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/spatial.rst
  doc/source/tutorial/special.rst
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/_rbf.py
  scipy/interpolate/_rbfinterp.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/interpnd.pyx
  scipy/io/_fortran.py
  scipy/io/_netcdf.py
  scipy/linalg/_decomp_svd.py
  scipy/odr/_models.py
  scipy/optimize/_constraints.py
  scipy/signal/_czt.py
  scipy/signal/_ltisys.py
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/csgraph/_tools.pyx
  scipy/spatial/_qhull.pyx
  scipy/spatial/distance.py
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/_rotation_spline.py
  scipy/stats/_unuran/unuran_wrapper.pyx.templ
  tools/refguide_check.py
Labels: Documentation, maintenance

#17157 ENH: Added value_indices() function to scipy.ndimage
  scipy/ndimage/__init__.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/tests/test_measurements.py
Labels: enhancement, scipy.ndimage, C/C++

#17376 DOC: Add examples to stats.mstats.find_repeats
  scipy/stats/_mstats_basic.py
Labels: scipy.stats, Documentation

#17247 MAINT: optimize.leastsq: fix covariance not SPD
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: defect, scipy.optimize

#17374 DOC: `special.itairy` example
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17395 DOC: optimize: minimize doc to reflect tnc's deprecation of maxiter
  scipy/optimize/_minimize.py
  scipy/optimize/_tnc.py
Labels: Documentation, deprecated

#17397 BUG: signal: Change types in the upfirdn utility function _output_len()
  scipy/signal/_upfirdn_apply.pyx
  scipy/signal/tests/test_upfirdn.py
Labels: scipy.signal

#17400 TST: use norm in signal.TestBessel.test_fs_param
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal

#14579 BENCH: optimize: add DFO CUTEST benchmark
  benchmarks/benchmarks/cutest/calfun.py
  benchmarks/benchmarks/cutest/dfo.txt
  benchmarks/benchmarks/cutest/dfovec.py
  benchmarks/benchmarks/cutest/dfoxs.py
  benchmarks/benchmarks/optimize.py
Labels: enhancement, scipy.optimize, Benchmarks

#17416 BLD: fix a lot of configuration warnings by using `fs.copyfile`
  dev.py
  meson.build
  scipy/_build_utils/copyfiles.py
  scipy/_lib/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/spatial/meson.build
  scipy/special/meson.build
  scipy/stats/meson.build
Labels: maintenance, Meson

#17299 DOC: interpolate: Extrapolation tips and tricks
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/extrapolation_examples.rst
Labels: scipy.interpolate, Documentation

#17423 Documentation to fix #17089
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17427 DOC: optimize.linprog: adjust HiGHS URL
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_doc.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_milp.py
Labels: scipy.optimize, Documentation

#17418 DOC: special: Remove duplicate imports from special examples.
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
  scipy/special/_orthogonal.py
  scipy/special/_spherical_bessel.py
Labels: scipy.special, Documentation

#17426 BLD: fix for propack and boost submodules - don't ask for native compiler
  scipy/sparse/linalg/_propack/meson.build
  scipy/stats/_boost/meson.build
Labels: maintenance, backport-candidate, Meson

#17399 DOC: signal.iirdesign: remove `bessel` from supported filter type
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#17345 ENH: commit to close #1261 (trac #734) by adding xtol argument.
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: defect, scipy.optimize

#17433 MAINT/TST: improved test coverage for DIRECT optimizer
  scipy/optimize/_direct_py.py
  scipy/optimize/tests/test_direct.py
Labels: scipy.optimize, maintenance

#17439 DOC: Improve example for uniform_direction distribution
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#17243 DOC: special: Updates for smirnov and smirnovi
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17449 MAINT: remove remaining occurrences of unicode
  scipy/constants/_codata.py
  scipy/stats/tests/test_binned_statistic.py
Labels: scipy.stats, scipy.constants, maintenance

#16801 ENH: added the spectral 2-norm to _norm.py
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Labels: enhancement, scipy.sparse.linalg

#16967 ENH: stats.goodness_of_fit: a general goodness of fit test
  scipy/stats/__init__.py
  scipy/stats/_fit.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#17417 BUG: integrate: simpson didn't handle integer n-d arrays.
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: defect, scipy.integrate, Documentation, maintenance

#16096 BUG: use SOS filters in decimate for numerical stability
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#12211 DOC: Dice similiarity index
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#17457 DOC: Double Integral Example Typo
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#17467 BUG: ndimage: Don't use np.int0 (it is the same as np.intp)
  scipy/ndimage/_measurements.py
Labels: defect, scipy.ndimage

#17469 BUG: stats: Random parameters in `pytest.mark.parametrize()` break pytest-xdist.
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#17051 ENH: support complex functions in integrate.quad
  scipy/integrate/_quadpack_py.py
  scipy/integrate/tests/test_quadpack.py
Labels: enhancement, scipy.integrate

#17163 ENH: Add `download_all` utility method & script
  scipy/datasets/__init__.py
  scipy/datasets/_download_all.py
  scipy/datasets/meson.build
  scipy/datasets/tests/test_data.py
Labels: enhancement, scipy.datasets

#16696 ENH: Speed up sparse.csgraph.dijkstra
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
  benchmarks/benchmarks/sparse_csgraph_djisktra.py
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: enhancement, scipy.sparse.csgraph, Cython

#17140 BUG: Fix issue with shgo not correctly passing jac to minimizer
  scipy/optimize/_shgo.py
  scipy/optimize/tests/test__shgo.py
Labels: defect, scipy.optimize

#17484 DOC: remove hard-coded value from PoissonDisk example
  scipy/stats/_qmc.py
Labels: scipy.stats, Documentation

#17485 ENH: increase range of vonmises entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17487 CI: pin setuptools for musllinux
  ci/cirrus_general_ci.yml
Labels: CI

#17472 Getting rid of _make_points_and_values_ascending and its unnecessary sorting, refactoring
  scipy/interpolate/_rgi.py
Labels: scipy.interpolate, maintenance

#17489 BUG: ndimage: Work around gh-17270
  ci/cirrus_general_ci.yml
  scipy/ndimage/_fourier.py
Labels: defect, scipy.ndimage

#17446 MAINT: stats.gaussian_kde: error early if n_features > n_data
  scipy/stats/_kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: scipy.stats, maintenance

#17430 BLD: define NDEBUG to mimic cmake release build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_highs/setup.py
Labels: scipy.optimize

#17305 BUG: interpolate: allow zero-sized data arrays
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_polyint.py
Labels: defect, scipy.interpolate

#17482 MAINT: stats: Unconditionally disable boost double promotion.
  scipy/stats/_boost/meson.build
  scipy/stats/_boost/setup.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, C/C++

#13957 ENH: stats.ks_2samp: Pythranize remaining exact p-value calculations
  scipy/stats/_stats_py.py
  scipy/stats/_stats_pythran.py
  scipy/stats/setup.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, Pythran

#15972 DOC: length of `bands` param. specified in `firls`
  scipy/signal/_fir_filter_design.py
Labels: scipy.signal, Documentation

#16712 BUG: Update _svds.py: orthogonalize eigenvectors from arpack to eliminate edge case failures with clustered eigenvalues and update docstring examples
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: scipy.sparse.linalg

#17481 MAINT: special: remove more `npy_math.h` usage
  scipy/special/_faddeeva.cxx
  scipy/special/_sici.pxd
  scipy/special/amos_wrappers.c
  scipy/special/cdf_wrappers.h
  scipy/special/cephes/airy.c
  scipy/special/cephes/bdtr.c
  scipy/special/cephes/ellie.c
  scipy/special/cephes/ellik.c
  scipy/special/cephes/ellpj.c
  scipy/special/cephes/erfinv.c
  scipy/special/cephes/fresnl.c
  scipy/special/cephes/gamma.c
  scipy/special/cephes/igam.c
  scipy/special/cephes/igami.c
  scipy/special/cephes/j0.c
  scipy/special/cephes/j1.c
  scipy/special/cephes/jv.c
  scipy/special/cephes/kn.c
  scipy/special/cephes/kolmogorov.c
  scipy/special/cephes/mconf.h
  scipy/special/cephes/ndtr.c
  scipy/special/cephes/owens_t.c
  scipy/special/cephes/poch.c
  scipy/special/cephes/psi.c
  scipy/special/cephes/rgamma.c
  scipy/special/cephes/scipy_iv.c
  scipy/special/cephes/shichi.c
  scipy/special/cephes/sici.c
  scipy/special/cephes/sindg.c
  scipy/special/cephes/spence.c
  scipy/special/cephes/stdtr.c
  scipy/special/cephes/struve.c
  scipy/special/cephes/tukey.c
  scipy/special/cephes/unity.c
  scipy/special/cephes/yv.c
  scipy/special/cephes/zetac.c
  scipy/special/meson.build
  scipy/special/specfun_wrappers.c
Labels: scipy.special, maintenance

#17501 Minor: Misspelling typos fixed in _svds.py
  scipy/sparse/linalg/_eigen/_svds.py
Labels: Documentation

#17496 DEV: dev.py: make lint task consistent with CI
  dev.py
  environment.yml
  scipy/integrate/_odepack_py.py
  scipy/integrate/tests/test_quadpack.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/io/arff/_arffread.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_zeros.py
  scipy/signal/_filter_design.py
  scipy/signal/_peak_finding.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/spatial/tests/test_distance.py
  scipy/special/_basic.py
  scipy/stats/_binned_statistic.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, DX

#17466 BUG: stats: Fix for gh-17444.
  scipy/stats/_boost/include/func_defs.hpp
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, C/C++

#16227 BUG: special: Fix a couple issues with the 'double-double' code in cephes/dd_*
  .gitignore
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/_test_round.pyi
  scipy/special/cephes/dd_real.c
  scipy/special/cephes/dd_real.h
  scipy/special/meson.build
  scipy/special/setup.py
  scipy/special/tests/meson.build
  scipy/special/tests/test_dd.py
  scipy/special/tests/test_round.py
Labels: defect, scipy.special, C/C++

#17504 CI: PRs run against merged main [skip circle][skip gh][skip azp]
  ci/cirrus_general_ci.yml
Labels: CI

#17506 DOC docstring of goodness_of_fit
  scipy/stats/_fit.py
Labels: scipy.stats, Documentation

#17512 TST: interpolate: stop skipping a test with zero-sized arrays
  scipy/interpolate/tests/test_polyint.py
Labels: scipy.interpolate, maintenance

#17500 MAINT: special: Remove references to nonexistent function exp1m.
  scipy/special/_cephes.pxd
  scipy/special/_ndtri_exp.pxd
  scipy/special/cephes.h
  scipy/special/cephes/cephes_names.h
Labels: scipy.special, maintenance, C/C++

#17513 BUG: optimize: fixed issue 17380
  scipy/optimize/_linprog.py
  scipy/optimize/tests/test_linprog.py
Labels: defect, scipy.optimize
