Repository scipy/scipy, pull requests merged in 2023-09, with the labels that each got.

#19168 BLD: special: fix dependencies for `_ellip_harm_2`
  scipy/special/meson.build
Labels: scipy.special, Build issues

#19170 MAINT: fix a number of issues in Cython code
  scipy/_lib/_ccallback_c.pyx
  scipy/cluster/_vq.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/meson.build
  scipy/sparse/csgraph/parameters.pxi
  scipy/special/_complexstuff.pxd
  scipy/special/_digamma.pxd
  scipy/special/_hyp2f1.pxd
  scipy/special/_hypergeometric.pxd
  scipy/special/_lambertw.pxd
  scipy/special/_loggamma.pxd
  scipy/special/_sici.pxd
  scipy/special/_wright_bessel.pxd
  scipy/stats/_ansari_swilk_statistics.pyx
  scipy/stats/_stats.pyx
Labels: maintenance, Cython

#19178 MAINT/DOC: add `fit` to multivariate normal methods in documentation
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#19018 TST/BUG: fix array API test skip decorators
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
Labels: scipy.cluster, maintenance, array types

#19157 TST: add array-agnostic assertions
  scipy/_lib/_array_api.py
Labels: array types

#19183 MAINT: Import `fromarrays` from `rec`
  scipy/stats/tests/test_distributions.py
Labels: maintenance

#17542 ENH: Extend Rotation.align_vectors() to allow an infinite weight, as well as minimum-distance rotations for single vectors
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#19156 BUG: Support sparse arrays in scipy.sparse.csgraph.laplacian
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
Labels: defect, scipy.sparse.csgraph, backport-candidate

#19195 DOC: Fixed typo in scipy.stats.Covariance
  scipy/stats/_covariance.py
Labels: scipy.stats, Documentation

#19192 TST: test tolerance bumps to fix reported failures
  scipy/fft/_pocketfft/tests/test_real_transforms.py
  scipy/linalg/tests/test_lapack.py
  scipy/ndimage/tests/test_datatypes.py
  scipy/spatial/transform/tests/test_rotation.py
  scipy/special/tests/test_hyp2f1.py
Labels: maintenance

#19187 BUG: accept `np`-coercible array-likes with array API flag set
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
Labels: scipy._lib, maintenance, array types

#18930 ENH: _lib._util: make _lazywhere compatible with Array API
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
Labels: enhancement, scipy._lib

#19200 TST: fix `TestODR.test_implicit` test failure with tolerance bump
  scipy/odr/tests/test_odr.py
Labels: scipy.odr, maintenance

#19201 DOC: missing backticks
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#19198 DOC: optimize.minimize_scalar: note limitations and suggest alternatives
  scipy/optimize/__init__.py
  scipy/optimize/_minimize.py
Labels: scipy.optimize, Documentation

#19203 DOC: Fix _nan_allsame example prompt.
  scipy/_lib/_util.py
Labels: scipy._lib

#19184 TST: fix sparse constructor test with large memory footprint
  scipy/sparse/tests/test_construct.py
Labels: scipy.sparse

#19202 DOC: remove old mention to Python 2.
  scipy/io/matlab/_mio5.py
Labels: scipy.io, Documentation

#19206 TST, MAINT: skip fix for array API tests
  scipy/_lib/tests/test_array_api.py
Labels: maintenance, array types

#19146 DOC: sparse.linalg: Enhance lobpcg documentation with updated examples
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Labels: scipy.sparse.linalg, Documentation

#19194 BUG/TST: fix `test_array_api` for `cupy`
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
Labels: scipy._lib, maintenance, array types

#19191 BLD: update minimum versions of meson-python and pythran
  pyproject.toml
Labels: maintenance

#17633 BUG: add infeasibility checks to min_weight_full_bipartite_matching
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/tests/test_matching.py
Labels: defect, scipy.sparse.csgraph, backport-candidate

#19217 BLD: start building wheels against numpy 2.0 [wheel build]
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  pyproject.toml
Labels: Official binaries

#19219 ENH: Implemented custom mutation / crossover functions for DifferentialEvolution
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#18920 DOC: indicate functions with multiple valid solutions in csgraph
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_traversal.pyx
Labels: scipy.sparse, Documentation, scipy.sparse.csgraph

#18898 DOC: fix sparse docs "matrix" and "array" mixup
  scipy/sparse/__init__.py
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_index.py
  scipy/sparse/_lil.py
  scipy/sparse/_matrix.py
Labels: scipy.sparse

#19222 DOC: clarify guidance on style modifications
  doc/source/dev/contributor/pep8.rst
Labels: Documentation

#19186 TST: _lib: improve array API assertions
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
Labels: enhancement, scipy._lib, array types

#19227 DOC: Trailing character after closing backquote.
  scipy/stats/_continuous_distns.py
  scipy/stats/_resampling.py
Labels: Documentation

#19230 DOC, MAINT: workaround for py311 docs
  doc/source/conf.py
Labels: Documentation, maintenance

#19233 DOC: Fix character after trailing backticks
  scipy/integrate/_odepack_py.py
  scipy/interpolate/_interpolate.py
  scipy/linalg/_decomp_qz.py
  scipy/signal/_peak_finding.py
Labels: Documentation

#19237 DOC: Missing import in private _nan_allsame function docs.
  scipy/_lib/_util.py
Labels: scipy._lib, Documentation

#19238 MAINT, TST: stats tests NEP 50
  scipy/stats/_hypotests.py
Labels: scipy.stats, maintenance

#19240 DEP: spatial: improve deprecation of private modules without underscore prefix
  scipy/_lib/tests/test_public_api.py
  scipy/spatial/ckdtree.py
  scipy/spatial/kdtree.py
  scipy/spatial/qhull.py
  scipy/spatial/transform/rotation.py
Labels: scipy.spatial, deprecated

#19244 MAINT: scipy.io NEP 50 shims
  scipy/io/_idl.py
Labels: scipy.io, maintenance

#17722 ENH add pava and isotonic_regression
  mypy.ini
  scipy/optimize/__init__.py
  scipy/optimize/_isotonic.py
  scipy/optimize/_pava/pava_pybind.cpp
  scipy/optimize/meson.build
  scipy/optimize/setup.py
  scipy/optimize/tests/meson.build
  scipy/optimize/tests/test_isotonic_regression.py
Labels: enhancement, scipy.optimize, scipy.interpolate, C/C++

#19243 DOC: stats: fix documentation of warnings raised by pearsonr
  scipy/stats/_mstats_basic.py
Labels: scipy.stats, Documentation

#19218 DOC: Added examples for zpk2tf, tf2sos, sos2tf, lp2lp_zpk, lp2hp_zpk, lp2bp_zpk, lp2bs_zpk functions
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#18631 ENH: Add `fast_matrix_market` to scipy.io
  .circleci/config.yml
  LICENSES_bundled.txt
  benchmarks/benchmarks/io_mm.py
  scipy/io/__init__.py
  scipy/io/_fast_matrix_market/LICENSE.txt
  scipy/io/_fast_matrix_market/README.md
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/fast_float/LICENSE-MIT
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/fast_float/README.md
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/fast_float/include/fast_float/fast_float.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/fast_float/meson.build
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/LICENSE-Boost
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/README.md
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/meson.build
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/common.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2fixed.c
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2fixed_full_table.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2s.c
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2s_full_table.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2s_intrinsics.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/d2s_small_table.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/digit_table.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/f2s.c
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/f2s_full_table.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/f2s_intrinsics.h
  scipy/io/_fast_matrix_market/fast_matrix_market/dependencies/ryu/ryu/ryu.h
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/array.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/doublet.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/triplet.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/chunking.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/fast_matrix_market.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/field_conv.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/formatters.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/header.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/parse_handlers.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/read_body.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/read_body_threads.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/thirdparty/task_thread_pool.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/types.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/write_body.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/write_body_threads.hpp
  scipy/io/_fast_matrix_market/meson.build
  scipy/io/_fast_matrix_market/setup.py
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
  scipy/io/_fast_matrix_market/src/_fmm_core.hpp
  scipy/io/_fast_matrix_market/src/_fmm_core_read_array.cpp
  scipy/io/_fast_matrix_market/src/_fmm_core_read_coo.cpp
  scipy/io/_fast_matrix_market/src/_fmm_core_write_array.cpp
  scipy/io/_fast_matrix_market/src/_fmm_core_write_coo_32.cpp
  scipy/io/_fast_matrix_market/src/_fmm_core_write_coo_64.cpp
  scipy/io/_fast_matrix_market/src/pystreambuf.h
  scipy/io/meson.build
  scipy/io/setup.py
  scipy/io/tests/test_mmio.py
  scipy/meson.build
Labels: scipy.io, C/C++

#19247 MAINT: NumPy version check removals
  scipy/stats/_multivariate.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#19023 ENH: special: dispatch to array library
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/meson.build
  scipy/special/tests/meson.build
  scipy/special/tests/test_support_alternative_backends.py
Labels: enhancement, scipy.special, array types

#19253 MAINT: Cleanup expired ndarray methods
  scipy/io/_idl.py
  scipy/io/_netcdf.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
Labels: scipy.io, maintenance

#18348 ENH: add private function to bracket root of monotonic function
  scipy/integrate/_tanhsinh.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: enhancement, scipy.optimize

#19005 ENH: fft: support array API standard
  .github/workflows/array_api.yml
  scipy/fft/__init__.py
  scipy/fft/_backend.py
  scipy/fft/_basic_backend.py
  scipy/fft/_fftlog.py
  scipy/fft/_fftlog_backend.py
  scipy/fft/_fftlog_multimethods.py
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/basic.py
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_realtransforms_backend.py
  scipy/fft/meson.build
  scipy/fft/tests/mock_backend.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
Labels: scipy._lib, scipy.fft, array types

#19264 MAINT/TST: fft: remove duplicate namespace and dtype checks
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
Labels: maintenance, scipy.fft, array types

#19259 DOC: outline workaround when precision losses occur in BFGS [skip cir…
  scipy/optimize/_optimize.py
Labels: scipy.optimize, Documentation

#19208 BUG: freqz rfft grid fix
  benchmarks/benchmarks/signal_filtering.py
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#19265 MAINT: array API: rename `arg_err_msg` and move to `_lib`
  scipy/_lib/_array_api.py
  scipy/fft/_basic_backend.py
Labels: scipy._lib, maintenance, array types

#19270 MAINT: fix -Wdeprecated-non-prototype warnings in Cephes code
  scipy/special/cephes/airy.c
  scipy/special/cephes/btdtr.c
  scipy/special/cephes/chdtr.c
  scipy/special/cephes/dawsn.c
  scipy/special/cephes/ellpe.c
  scipy/special/cephes/ellpk.c
  scipy/special/cephes/fresnl.c
  scipy/special/cephes/gdtr.c
  scipy/special/cephes/hyp2f1.c
  scipy/special/cephes/hyperg.c
  scipy/special/cephes/i0.c
  scipy/special/cephes/i1.c
  scipy/special/cephes/incbet.c
  scipy/special/cephes/incbi.c
  scipy/special/cephes/j0.c
  scipy/special/cephes/j1.c
  scipy/special/cephes/k0.c
  scipy/special/cephes/k1.c
  scipy/special/cephes/kn.c
  scipy/special/cephes/nbdtr.c
  scipy/special/cephes/ndtri.c
  scipy/special/cephes/pdtr.c
  scipy/special/cephes/rgamma.c
  scipy/special/cephes/shichi.c
  scipy/special/cephes/sici.c
  scipy/special/cephes/sindg.c
  scipy/special/cephes/spence.c
  scipy/special/cephes/stdtr.c
  scipy/special/cephes/yn.c
  scipy/special/cephes/zeta.c
Labels: scipy.special, maintenance

#19271 DOC: add example for `ndimage.shift`
  scipy/ndimage/_interpolation.py
Labels: scipy.ndimage, Documentation

#19199 MAINT: stats.CovViaEigendecomposition: fix `_LA` attribute when covariance is singular
  scipy/stats/_covariance.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#19275 MAINT: Add warning filter for `numpy.core` rename
  pytest.ini
Labels: maintenance

#19261 MAINT: fft: refactor basic backend with `_execute_1D`
  scipy/fft/_basic_backend.py
Labels: maintenance, scipy.fft, array types

#19266 ENH: use inplace add in _minimize_newtoncg
  scipy/optimize/_optimize.py
Labels: enhancement, scipy.optimize

#19282 MAINT: fft: clean up assertions
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
Labels: maintenance, scipy.fft, array types

#19224 BUG: integrate: expose ODEintWarning
  scipy/integrate/__init__.py
  scipy/integrate/_odepack_py.py
Labels: defect, scipy.integrate

#19294 MAINT: replace IOError alias with OSError
  tools/ninjatracing.py
Labels: maintenance

#19290 BLD: add float.h include to `_fpumode.c`, fixes Clang on Windows issue
  scipy/_lib/_fpumode.c
Labels: scipy._lib, maintenance

#19296 MAINT: fix linter issues
  scipy/linalg/tests/test_lapack.py
  scipy/optimize/_shgo_lib/_complex.py
  scipy/optimize/tests/test__shgo.py
  scipy/stats/_page_trend_test.py
  tools/refguide_check.py
Labels: maintenance

#19267 MAINT: use linalg.norm in `_minimize_newtoncg`
  scipy/optimize/_optimize.py
Labels: enhancement, scipy.optimize

#19286 BUG: stats: fix build failure due to incorrect Boost policies usage
  scipy/stats/_boost/include/func_defs.hpp
  scipy/stats/meson.build
Labels: defect, scipy.stats, backport-candidate, C/C++

#19262 MAINT: fft: clean up test-skips
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
Labels: maintenance, scipy.fft, array types

#19289 BLD: stats: improve build config for `unuran_wrapper`
  scipy/stats/_unuran/meson.build
  scipy/stats/meson.build
Labels: scipy.stats, Build issues

#19226 DEP: improve message for deprecated private API for `sparse`
  scipy/_lib/tests/test_public_api.py
  scipy/sparse/base.py
  scipy/sparse/bsr.py
  scipy/sparse/compressed.py
  scipy/sparse/construct.py
  scipy/sparse/coo.py
  scipy/sparse/csc.py
  scipy/sparse/csr.py
  scipy/sparse/data.py
  scipy/sparse/dia.py
  scipy/sparse/dok.py
  scipy/sparse/extract.py
  scipy/sparse/lil.py
  scipy/sparse/linalg/dsolve.py
  scipy/sparse/linalg/eigen.py
  scipy/sparse/linalg/interface.py
  scipy/sparse/linalg/isolve.py
  scipy/sparse/linalg/matfuncs.py
  scipy/sparse/sparsetools.py
  scipy/sparse/spfuncs.py
  scipy/sparse/sputils.py
Labels: scipy.sparse, deprecated

#19279 MAINT: SciPy 1.11.3 backports/prep
  .github/workflows/linux_meson.yml
  .github/workflows/wheels.yml
  .mailmap
  benchmarks/benchmarks/signal_filtering.py
  ci/cirrus_wheels.yml
  dev.py
  doc/source/release/1.11.3-notes.rst
  pyproject.toml
  scipy/_lib/_fpumode.c
  scipy/integrate/_quadrature.py
  scipy/odr/tests/test_odr.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_zeros.py
  scipy/signal/_filter_design.py
  scipy/signal/_upfirdn_apply.pyx
  scipy/signal/tests/test_filter_design.py
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_traversal.pyx
  scipy/sparse/csgraph/parameters.pxi
  scipy/sparse/csgraph/tests/test_connected_components.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/csgraph/tests/test_traversal.py
  scipy/special/_generate_pyx.py
  scipy/stats/_boost/include/func_defs.hpp
  scipy/stats/_continuous_distns.py
  scipy/stats/_covariance.py
  scipy/stats/_mstats_basic.py
  scipy/stats/meson.build
  scipy/stats/tests/test_multivariate.py
  tools/wheels/LICENSE_linux.txt
  tools/wheels/LICENSE_osx.txt
  tools/wheels/LICENSE_win32.txt
Labels: maintenance

#19314 DOC: Rst don't like list without blanklines.
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#19316 MAINT: Prep 1.11.4
  doc/source/release.rst
  doc/source/release/1.11.4-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#19315 MAINT: forward port 1.11.3 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.11.3-notes.rst
Labels: Documentation, maintenance

#19320 BLD: fix up version parsing issue in cythonize.py for setup.py build
  pyproject.toml
Labels: Build issues, backport-candidate

#19256 DOC: Added examples for correlation, num_obs_dm, num_obs_y functions.
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#18694 DOC: signal: Updated Chebyshev 2 documentation
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#19293 MAINT: optimize._bracket_root: refactor and comment for clarity
  scipy/optimize/_zeros_py.py
Labels: scipy.optimize, maintenance

#19307 set idx_dtype in sparse dia_array.tocoo
  scipy/sparse/_dia.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#19324 quad: Use {.imag,.real} directly for faster performance in complex integration.
  scipy/integrate/_quadpack_py.py
Labels: enhancement, scipy.integrate
