Repository scipy/scipy, pull requests merged in 2023-11, with the labels that each got.

#19435 MAINT: Translate lambertw_scalar into C++
  scipy/special/_evalpoly.h
  scipy/special/_extra_special.h
  scipy/special/_lambertw.h
  scipy/special/_lambertw.pxd
  scipy/special/functions.json
  scipy/special/meson.build
Labels: scipy.special, maintenance, C/C++

#19461 DOC: dev: update max line length to 88 characters
  doc/source/dev/contributor/pep8.rst
  doc/source/dev/hacking.rst
Labels: Documentation, DX

#19465 DOC: fix broken NetCDF URL
  scipy/io/_netcdf.py
Labels: scipy.io, Documentation

#19472 MAINT: Update fast_matrix_market to 1.7.4
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/array.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/doublet.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/triplet.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/app/user_type_string.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/fast_matrix_market.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/field_conv.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/read_body.hpp
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/types.hpp
Labels: scipy.io, maintenance, C/C++

#19458 DOC: spatial: Rotation docs updates
  scipy/spatial/transform/_rotation.pyx
Labels: scipy.spatial, Documentation

#19425 ENH: stats: add masked array, axis tuple, and nan policy support to trimmed statistics
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#19489 MAINT: lint: ignore E501 (line length) by subpackage
  tools/lint.toml
Labels: maintenance

#19408 BUG: Fix typecasting problem in scipy.sparse.lil_matrix truediv
  scipy/sparse/_lil.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse, backport-candidate

#19494 MAINT/STY: `conftest.py`: remove E501 (line length) lint ignore
  scipy/conftest.py
  tools/lint.toml
Labels: maintenance

#19484 CI: limit scipy-openblas32 wheel to 0.3.23.293.2
  .github/workflows/linux_meson.yml
  .github/workflows/windows.yml
Labels: CI

#19501 TST: skip test_bootstrap_against_theory
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, maintenance, CI

#19482 MAINT: Make use of sf_error conditional on flag in scipy::special C++ library
  scipy/special/_lambertw.h
  scipy/special/error.h
  scipy/special/meson.build
  scipy/special/sf_error.c
  scipy/special/sf_error.cc
  scipy/special/sf_error.h
  scipy/special/tests/test_sf_error.py
Labels: scipy.special, maintenance, C/C++

#19509 MAINT: fix remaining lint errors
  benchmarks/benchmarks/integrate.py
  scipy/_lib/_bunch.py
  scipy/io/tests/test_idl.py
  scipy/ndimage/tests/test_datatypes.py
Labels: maintenance

#19508 MAINT/DOC/BENCH: optimize: fix linter errors
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_Z.py
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_univariate.py
  benchmarks/benchmarks/optimize.py
  benchmarks/benchmarks/tests/test_go_benchmark_functions.py
  doc/source/tutorial/examples/newton_krylov_preconditioning.py
  doc/source/tutorial/examples/optimize_global_2.py
Labels: maintenance

#19302 MAINT: Fix/parametrize Rotation tests.
  scipy/spatial/transform/tests/test_rotation.py
Labels: scipy.spatial, maintenance

#19471 MAINT: Translate binom to C++
  scipy/special/_binom.h
  scipy/special/_extra_special.h
  scipy/special/cephes.hh
  scipy/special/functions.json
  scipy/special/meson.build
Labels: scipy.special, maintenance, C/C++

#19519 DOC: Fix example used in stats tutorial
  doc/source/tutorial/stats/plots/qmc_plot_conv_mc_sobol.py
Labels: Documentation

#19504 DOC, MAINT: Bump CircleCI Python version to 3.11
  .circleci/config.yml
Labels: Documentation, maintenance

#19466 MAINT: NumPy int type shims
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/ndimage/src/_ni_label.pyx
  scipy/stats/_qmc.py
  scipy/stats/_sobol.pyx
Labels: maintenance

#19514 MAINT/STY: odr: remove E501 (line length) lint ignore
  .git-blame-ignore-revs
  scipy/odr/_add_newdocs.py
  scipy/odr/_odrpack.py
  scipy/odr/tests/test_odr.py
  tools/lint.toml
Labels: scipy.odr, maintenance

#19517 MAINT, REL: unpin Python 1.11.x branch
  pyproject.toml
Labels: maintenance

#19520 MAINT/STY: fft: remove E501 (line length) lint ignore, `noqa` clean-up
  .git-blame-ignore-revs
  scipy/fft/_backend.py
  scipy/fft/_basic.py
  scipy/fft/_pocketfft/helper.py
  tools/lint.toml
Labels: maintenance, scipy.fft

#19525 DOC, CI: refguide may vary locs
  doc/source/tutorial/arpack.rst
  doc/source/tutorial/optimize.rst
Labels: Documentation, CI

#19523 MAINT/STY: constants: remove E501 (line length) lint ignore
  scipy/constants/__init__.py
  scipy/constants/_constants.py
  tools/lint.toml
Labels: scipy.constants, maintenance

#19534 MAINT: get rid of more Python 2 left-overs
  tools/authors.py
  tools/gh_lists.py
Labels: maintenance

#19529 MAINT: blanket `noqa` vet
  .git-blame-ignore-revs
  benchmarks/benchmarks/cutest/dfovec.py
  dev.py
  doc/source/conf.py
  scipy/_lib/_docscrape.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/datasets/__init__.py
  scipy/integrate/__init__.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_quadrature.py
  scipy/interpolate/_interpolate.py
  scipy/io/matlab/tests/test_mio.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_matfuncs.py
  scipy/ndimage/__init__.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/moduleTNC.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_zeros.py
  scipy/signal/__init__.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
  scipy/sparse/_base.py
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/__init__.py
  scipy/stats/_fit.py
  scipy/stats/_kde.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/_morestats.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmc.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_stats_py.py
  scipy/stats/_survival.py
  scipy/stats/tests/data/_mvt.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_qmc.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_survival.py
  tools/lint.toml
  tools/refguide_check.py
Labels: maintenance

#19540 DOC: _binomtest.py: Add clearer error messages
  scipy/stats/_binomtest.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#19527 DOC, MAINT: more refguide fixes
  scipy/linalg/_decomp_schur.py
  scipy/stats/_mstats_extras.py
Labels: Documentation, maintenance

#19533 DOC: fix more typos found by codespell
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_H.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/integrate/_ode.py
  scipy/integrate/_quadpack_py.py
  scipy/interpolate/interpnd.pyx
  scipy/ndimage/src/_ni_label.pyx
  scipy/optimize/_bglu_dense.pyx
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_hessian_update_strategy.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_shgo.py
  scipy/optimize/_trustregion_exact.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_isolve/tests/test_lsqr.py
  scipy/spatial/_kdtree.py
  scipy/spatial/transform/_rotation.pyx
  scipy/special/__init__.py
  scipy/special/_add_newdocs.py
  scipy/special/_cosine.c
  scipy/special/_lambertw.h
  scipy/special/_precompute/hyp2f1_data.py
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/_wright_bessel.pxd
  scipy/special/tests/test_cdflib.py
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
Labels: maintenance

#19550 MAINT, BLD: poetry loongarch shims
  pyproject.toml
Labels: Build issues, maintenance

#19385 ENH: beta negative binomial distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/discrete.rst
  doc/source/tutorial/stats/discrete_betanbinom.rst
  scipy/stats/__init__.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
Labels: scipy.stats, enhancement

#19556 DOC: revert part of bcbb18f / #19533
  scipy/interpolate/interpnd.pyx
Labels: maintenance

#19559 MAINT: Prepare SciPy 1.11.5 just in case
  doc/source/release.rst
  doc/source/release/1.11.5-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#19558 MAINT: forward port 1.11.4 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.11.4-notes.rst
Labels: maintenance

#19564 MAINT: Mark in `.gitignore` the directories instead of their content as ignored.
  .gitignore
Labels: Build issues, maintenance, DX

#19570 DOC: Fixed build instructions in index.rst (#19568)
  doc/source/building/index.rst
Labels: Documentation, DX

#19515 MAINT: Restructure extra_special (working name) as internal library
  scipy/special/__init__.py
  scipy/special/_binom.h
  scipy/special/_evalpoly.h
  scipy/special/_lambertw.h
  scipy/special/_special.h
  scipy/special/cephes.hh
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/sf_error.c
  scipy/special/sf_error.cc
  scipy/special/sf_error.h
  scipy/special/special/error.h
  scipy/special/special/evalpoly.h
  scipy/special/special/lambertw.h
Labels: scipy.special, maintenance

#19506 MAINT: sparse: update tests to switch to format and toarray from get_format() and .A, .H
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_csc.py
  scipy/sparse/tests/test_csr.py
Labels: scipy.sparse, maintenance

#19574 DOC: update Building from source docs for editable installs
  doc/source/building/index.rst
Labels: Documentation

#19579 BLD:MAINT:Update dev.py message
  dev.py
Labels: maintenance

#19576 BUG: Use uint32 for cost in NI_WatershedElement
  scipy/ndimage/src/ni_measure.c
  scipy/ndimage/tests/test_measurements.py
Labels: defect, scipy.ndimage, backport-candidate

#19583 ENH: Use `np.dot` to speedup `spatial.distance.correlation`
  scipy/spatial/distance.py
Labels: enhancement, scipy.spatial

#19588 BLD:Add missing cstdin include in fast matrix market
  scipy/io/_fast_matrix_market/fast_matrix_market/include/fast_matrix_market/types.hpp
Labels: scipy.io, Build issues, maintenance

#19590 MAINT:special:Add more noexcept to Cython signatures
  scipy/special/_generate_pyx.py
Labels: scipy.special, Build issues, maintenance

#19591 MAINT: interpolate/RGI: avoid unnecessary validation of data size
  scipy/interpolate/_rgi.py
Labels: scipy.interpolate, maintenance

#19589 ENH: Use `np.dot` to speedup `spatial.distance.hamming`
  scipy/spatial/distance.py
Labels: enhancement, scipy.spatial

#19497 CI: add '[lint only]', '[docs only]' skip tags
  .circleci/config.yml
  .cirrus.star
  .github/workflows/array_api.yml
  .github/workflows/circle_artifacts.yml
  .github/workflows/commit_message.yml
  .github/workflows/linux_meson.yml
  .github/workflows/linux_musl.yml
  .github/workflows/macos_meson.yml
  .github/workflows/windows.yml
  doc/source/dev/contributor/continuous_integration.rst
Labels: CI, github, DX

#19581 BUG: interpolate/ndbspline: fix OOB access for len(tx) != len(ty) in tensor product splines
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_ndbspline.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#19444 ENH: Add faster inverse-Wishart rvs and logpdf
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#19603 DOC: doc shim for eig normalization
  scipy/linalg/_decomp.py
Labels: scipy.linalg, Documentation
