Repository scipy/scipy, pull requests merged in 2023-02, with the labels that each got.

#17886 ENH: Warn about missing boundary when NOLA condition failed in ISTFT …
  scipy/signal/_spectral_py.py
Labels: enhancement, scipy.signal

#17921 CI: clean conda index upon cache invalidation
  .github/workflows/macos_meson.yml
Labels: CI

#17910 CI: use nightly numpy musllinux_x86_64 wheel
  ci/cirrus_general_ci.yml
Labels: maintenance, CI

#17922 DOC: corrected doc of bilinear discretization of lti
  .mailmap
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#17883 DOC: Clarified the meaning of optional arguments in optimize.leastsq
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17915 DOC: Add warning to butter function docstring
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#17852 MAINT: optimize: improve `optimize.curve_fit` doc and error message.
  scipy/_lib/_util.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: scipy.optimize, maintenance

#17909 ENH: improve accuracy of betaprime ppf in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17868 ENH: add analytical formula for Nakagami distribution entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17587 BUG: stats: Avoid overflow/underflow issues in loggamma _cdf, _sf, _ppf, _isf.
  scipy/stats/_constants.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#17867 DOC: note on negative variables for linprog
  scipy/optimize/_linprog.py
Labels: scipy.optimize, Documentation

#17666 DOC: optimize.root_scalar: harmonize documentation and implementation of xtol
  scipy/optimize/_zeros_py.py
Labels: scipy.optimize, Documentation, maintenance

#17932 TST: 32-bit tol for test_pdist_jensenshannon_iris
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, maintenance, backport-candidate

#17917 Cython lint
  .git-blame-ignore-revs
  pyproject.toml
  scipy/_lib/_ccallback_c.pyx
  scipy/cluster/_hierarchy.pyx
  scipy/fftpack/convolve.pyx
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/interpnd.pyx
  scipy/io/matlab/_mio5_utils.pyx
  scipy/io/matlab/_streams.pyx
  scipy/ndimage/src/_cytest.pyx
  scipy/sparse/csgraph/_flow.pyx
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/_qhull.pyx
  scipy/special/_ellip_harm_2.pyx
  scipy/special/_test_internal.pyx
  scipy/stats/_stats.pyx
  scipy/stats/_unuran/unuran_wrapper.pyx
  tools/lint.py
Labels: maintenance, Cython

#17900 Re-implement pre-commit hook in Python
  HACKING.rst.txt
  doc/source/dev/contributor/pep8.rst
  tools/lint.py
  tools/pre-commit-hook.py
  tools/pre-commit-hook.sh
Labels: maintenance

#17410 ENH: stats.multivariate_t: add cdf method
  scipy/stats/_multivariate.py
  scipy/stats/_qmvnt.py
  scipy/stats/meson.build
  scipy/stats/tests/data/_mvt.py
  scipy/stats/tests/data/meson.build
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17929 ENH: stats.nakagami.entropy: improve formulation
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement, maintenance

#17939 DOC: ttest_ind_from_stats: discuss negative stdev
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17940 BUG: `rng_integers` in `_random_cd` now samples on a closed interval of 0 to d - 1 or n - 1
  scipy/stats/_qmc.py
Labels: defect, scipy.stats, backport-candidate

#17942 BLD: update classifiers for Python 3.11
  pyproject.toml
  setup.py
Labels: maintenance, backport-candidate

#17830 MAINT: stats._axis_nan_policy: raise appropriate TypeErrors
  scipy/stats/_axis_nan_policy.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, maintenance

#17211 ENH: Implemented Dirichlet-multinomial distribution (#16810)
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17936 BUG: Use raw strings for paths in `__config__.py.in`
  scipy/__config__.py.in
Labels: defect, Meson

#17944 pre-commit should fail when fixes are made by Ruff
  tools/pre-commit-hook.py
Labels: maintenance, DX

#17907 DOC: stats.wilcoxon: warn about roundoff errors in x-y
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#17956 MAINT: optimize.dual_annealing: fix callable jac with args
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize, maintenance

#14069 Use warnings instead of print statements
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, needs-work, maintenance

#17882 BLD: fix Meson build warnings about multiple targets
  meson_options.txt
  scipy/linalg/meson.build
  scipy/optimize/meson.build
  scipy/special/meson.build
  scipy/stats/meson.build
Labels: maintenance, Meson

#17931 TST: test_location_scale proper 32bit Linux skip
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance, backport-candidate

#17964 DEP: integrate.quad_vec: deprecate parameter full_output
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
Labels: scipy.integrate, deprecated

#16313 MAINT: Update optimize.shgo
  scipy/optimize/_shgo.py
  scipy/optimize/_shgo_lib/_complex.py
  scipy/optimize/_shgo_lib/_vertex.py
  scipy/optimize/_shgo_lib/meson.build
  scipy/optimize/_shgo_lib/triangulation.py
  scipy/optimize/tests/test__shgo.py
Labels: defect, enhancement, scipy.optimize

#17904 ENH: `multivariate_normal_frozen`: restore `cov` attribute
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement, backport-candidate

#17863 BUG: fix Johnson's algorithm
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: defect, scipy.sparse.csgraph, backport-candidate, Cython

#17963 MAINT: backports/prep for SciPy 1.10.1
  .github/workflows/macos.yml
  ci/cirrus_general_ci.yml
  doc/release/1.10.1-notes.rst
  doc/source/dev/contributor/meson_advanced.rst
  meson.build
  pyproject.toml
  scipy/__config__.py.in
  scipy/_build_utils/cythoner.py
  scipy/_lib/meson.build
  scipy/integrate/_ivp/tests/__init__.py
  scipy/integrate/_ivp/tests/meson.build
  scipy/integrate/_quadrature.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/_rgi_cython.pyx
  scipy/interpolate/tests/test_rgi.py
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/misc/tests/meson.build
  scipy/misc/tests/test_config.py
  scipy/optimize/_highs/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/spatial/meson.build
  scipy/spatial/tests/test_distance.py
  scipy/special/meson.build
  scipy/special/tests/test_orthogonal.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/meson.build
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
  setup.py
  tools/config_utils.py
Labels: maintenance

#17949 ENH: stats.dirichlet_multinomial: vectorize implementation
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17948 STY: fix only staged files.
  tools/lint.py
  tools/pre-commit-hook.py
Labels: maintenance, DX

#17898 DOC: remove hidden submodules from sidebar
  doc/API.rst.txt
  doc/source/reference/ccallback.rst
  doc/source/reference/cluster.rst
  doc/source/reference/linalg.rst
  doc/source/reference/main_namespace.rst
  doc/source/reference/optimize.rst
  doc/source/reference/spatial.rst
  scipy/_lib/_ccallback.py
  scipy/cluster/__init__.py
  scipy/linalg/__init__.py
  scipy/optimize/__init__.py
  scipy/sparse/__init__.py
  scipy/spatial/__init__.py
Labels: Documentation, maintenance

#17971 ENH: stats: add axis tuple and nan_policy to `sem` and `iqr`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#17975 BUG: Update test_lobpcg.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: defect, scipy.sparse.linalg

#17967 MAINT: Fully qualify std::move invocations to fix clang -Wunqualified-std-cast-call
  scipy/fft/_pocketfft/pypocketfft.cxx
Labels: maintenance, C/C++

#17981 BLD: make sure macosx_x86_64 10.9 tags are being made on maintenance/1.10.x
  .github/workflows/wheels.yml
Labels: maintenance, backport-candidate

#17950 MAINT: bump OpenBLAS version, bump macOS image used in GHA
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  azure-pipelines.yml
  ci/cirrus_wheels.yml
  pyproject.toml
  scipy/linalg/tests/test_solvers.py
  tools/openblas_support.py
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
Labels: maintenance

#17984 DOC: update link of the logo in the readme
  README.rst
Labels: Documentation, backport-candidate, Branding

#17989 MAINT: sparse.linalg: remove unused __main__ code
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tests/test_lsmr.py
  scipy/sparse/linalg/_isolve/tests/test_lsqr.py
Labels: scipy.sparse.linalg, maintenance

#17980 FIX: CI: avoid passing Cython files to ruff
  tools/lint.py
Labels: CI

#17946 ENH: Maxwell distribution `sf`/`isf` override
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17906 DOC: interpolate: add a note against using triangulation based intrpolators on a regular grid
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/interpnd.pyx
Labels: scipy.interpolate, Documentation

#17998 ENH: optimize.RootResults: make `RootResults` an `OptimizeResult`
  scipy/optimize/_optimize.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: enhancement, scipy.optimize

#18001 MAINT: SciPy 1.10.1 backports round 2
  .mailmap
  README.rst
  doc/release/1.10.1-notes.rst
  scipy/__config__.py.in
  scipy/optimize/_differentialevolution.py
  scipy/signal/_medianfilter.c
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/special/boost_special_functions.h
  scipy/special/cephes/kolmogorov.c
  scipy/stats/tests/test_continuous_basic.py
Labels: maintenance

#16839 ENH: stats: optimised MLE for the lognormal distribution
  benchmarks/benchmarks/stats.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18008 MAINT: forward port 1.10.1 relnotes
  .mailmap
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.10.1-notes.rst
Labels: Documentation, maintenance

#18003 ENH: improve halfnorm CDF precision
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18000 DOC: stats, interpolate: Fix some minor docstring issues.
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_fitpack_py.py
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/_rgi.py
  scipy/stats/_morestats.py
  scipy/stats/_sensitivity_analysis.py
Labels: scipy.stats, scipy.interpolate, Documentation, maintenance

#18009 REL, MAINT: prep for 1.10.2
  doc/release/1.10.2-notes.rst
  doc/source/release.1.10.2.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#17937 DOC: Update pip + venv instructions in the contributor documentation to include missing dependencies
  doc/source/dev/contributor/ubuntu_guide.rst
  doc/source/dev/dev_quickstart.rst
Labels: Documentation, DX

#17945 DOC: remove seed in HTML only
  doc/source/conf.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/stats/_hypotests.py
Labels: Documentation, DX

#17959 MAINT: update supported versions of Python and NumPy to follow NEP29
  .circleci/config.yml
  .github/workflows/circle_artifacts.yml
  .github/workflows/linux.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos_meson.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  INSTALL.rst.txt
  azure-pipelines.yml
  ci/cirrus_wheels.yml
  doc/source/dev/toolchain.rst
  environment.yml
  mypy_requirements.txt
  pyproject.toml
  scipy/__init__.py
  scipy/optimize/_direct_py.py
  scipy/signal/tests/test_spectral.py
  scipy/sparse/linalg/_svdp.py
  setup.py
  tools/Dockerfile
  tools/docker_dev/meson.Dockerfile
  tools/lint.toml
  tools/ruff.toml
  tools/wheels/cibw_before_all_cp38_macosx_arm64.sh
Labels: maintenance

#18028 DOC: fix underlying of title in extrapolate
  doc/source/tutorial/interpolate/extrapolation_examples.rst
Labels: scipy.interpolate, Documentation

#18022 DOC: interpolate: link to the gist with the porting guide
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, Documentation

#18006 BLD: use a relative path to numpy include and library directories
  .github/workflows/linux_meson.yml
  scipy/cluster/meson.build
  scipy/fft/_pocketfft/meson.build
  scipy/fftpack/meson.build
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/matlab/meson.build
  scipy/io/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/ndimage/meson.build
  scipy/odr/meson.build
  scipy/optimize/_highs/meson.build
  scipy/optimize/_lsq/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/csgraph/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/meson.build
  scipy/sparse/sparsetools/meson.build
  scipy/spatial/meson.build
  scipy/spatial/transform/meson.build
  scipy/special/meson.build
  scipy/stats/_boost/meson.build
  scipy/stats/_levy_stable/meson.build
  scipy/stats/_rcont/meson.build
  scipy/stats/_unuran/meson.build
  scipy/stats/meson.build
Labels: Meson

#18011 DOC: fix readme logo
  README.rst
Labels: Documentation, backport-candidate

#18036 BLD: build Windows wheel for py39 against numpy 1.22.3
  pyproject.toml
Labels: Build issues

#18015 TST: optimize.root_scalar: refactor tests and add Chandrupatla tests
  scipy/optimize/_tstutils.py
  scipy/optimize/tests/test_zeros.py
Labels: enhancement, scipy.optimize

#17990 BLD: make musllinux wheels for nightly
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  pyproject.toml
Labels: Official binaries

#18040 DOC: Fix error in doc of _minimize_trustregion_exact
  scipy/optimize/_trustregion_exact.py
Labels: scipy.optimize, Documentation

#17993 BLD: Fix meson build on Cygwin.
  dev.py
  scipy/integrate/meson.build
  scipy/linalg/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/special/_faddeeva.cxx
  scipy/special/_faddeeva.h
  scipy/special/_wright.h
  scipy/special/wright.cc
Labels: Build issues, maintenance, backport-candidate, Meson

#18037 DOC/MAINT: fix source button
  doc/source/conf.py
Labels: Documentation, maintenance

#18013 MAINT: stats.vonmises.fit: maintain backward compatibility
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18049 STY: Include Python.h before any other headers.
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/sparse/linalg/_dsolve/_superluobject.h
  scipy/special/Faddeeva.cc
Labels: maintenance, C/C++

#18047 DOC: Update scipy.spatial.distance.pdist docstring to match its function declaration
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#17836 DOC: integrate.solve_ivp: clarify impact of parameter `vectorized`
  scipy/integrate/_ivp/base.py
  scipy/integrate/_ivp/bdf.py
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/lsoda.py
  scipy/integrate/_ivp/radau.py
  scipy/integrate/_ivp/rk.py
Labels: scipy.integrate, Documentation

#18021 DEP: linalg: deprecate tri{,u,l}
  scipy/linalg/_matfuncs.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: scipy.linalg, deprecated

#18012 BLD: bump OpenBLAS to v0.3.20-571-g3dec11c6 [wheel build]
  .github/workflows/windows.yml
  azure-pipelines.yml
  dev.py
  pyproject.toml
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_solvers.py
  tools/openblas_support.py
Labels: maintenance

#18060 MAINT: remove pavement
  .gitattributes
  .github/CODEOWNERS
  .gitignore
  pavement.py
Labels: maintenance

#18052 BLD: use anaconda-client to upload wheels
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  tools/wheels/upload_wheels.sh
Labels: CI

#18058 BLD: use meson-native dependency lookup for pybind11
  scipy/meson.build
Labels: Build issues, Meson

#17849 ENH: special: Add the function _scaled_exp1
  scipy/special/_add_newdocs.py
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/scaled_exp1.c
  scipy/special/scaled_exp1.h
  scipy/special/setup.py
  scipy/special/tests/test_exponential_integrals.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement, scipy.special, C/C++
