Repository scipy/scipy, pull requests merged in 2023-03, with the labels that each got.

#18073 MAINT: avoid non-recommended numpy functions and constants
  scipy/optimize/_optimize.py
  scipy/optimize/_trustregion_exact.py
  scipy/signal/_filter_design.py
  scipy/special/tests/test_hypergeometric.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/_resampling.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_resampling.py
Labels: maintenance

#18066 TST: stats.nct: add test for crash with large nc
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18023 DOC: how to document examples using RNG and also self-contained bits
  doc/source/dev/contributor/rendering_documentation.rst
Labels: Documentation

#18072 DOC: Modifying t parameter documentation issue in splprep #17893
  scipy/interpolate/_fitpack_py.py
Labels: scipy.interpolate, Documentation

#18029 fix error from betabinom stats using only integers for a and b
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_distns.py
Labels: scipy.stats, enhancement

#18043 MAINT: update GH bug template
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: github

#18050 MAINT: integrate.qmc_quad: correct behavior of parameter `log`
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, maintenance

#18076 DOC: fix docstring typo for `kurtosis` and whitespace in `_continuous_distns`
  scipy/stats/_continuous_distns.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, maintenance

#18068 TST: stats.ksone: loosen variance test tolerance
  scipy/stats/tests/common_tests.py
Labels: scipy.stats, maintenance

#18075 MAINT: update pooch deps
  scipy/datasets/_utils.py
Labels: defect, maintenance, scipy.datasets

#18064 DOC: add examples in for xlogy
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17987 DOC: move .rst.txt to source and cleaning around generating doc
  CONTRIBUTING.rst
  HACKING.rst.txt
  INSTALL.rst.txt
  doc/API.rst.txt
  doc/README.md
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/core-dev/github.rst.inc
  doc/source/dev/hacking.rst
  doc/source/reference/index.rst
Labels: Documentation, maintenance

#18083 STY: fix mypy assignment.
  scipy/datasets/_utils.py
Labels: maintenance, static typing, scipy.datasets

#18035 ENH: stats: add ecdf function
  scipy/stats/__init__.py
  scipy/stats/_survival.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_survival.py
Labels: scipy.stats, enhancement

#18082 DOC: add examples for xlog1py
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#18084 BUG: calculate VDC permutations at init of Halton
  scipy/integrate/_quadrature.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: defect, scipy.stats

#18081 ENH: allow single observation for equal variance in `stats.ttest_ind`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#17848 ENH: implement _sf and _isf for powernorm distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17873 ENH: Added analytical formula for dgamma distribution entropy (#17748)
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17930 ENH: use asymptotic expansions for entropy of `genlogistic` and `chi2`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18034 BLD: avoid running `run_command(py3, ...)`, for better cross-compiling
  doc/source/dev/contributor/meson_advanced.rst
  meson.build
  meson_options.txt
  scipy/meson.build
Labels: enhancement, backport-candidate, Meson

#18098 ENH: increase available range of Gompertz entropy using scaled_exp1
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18092 ENH: stats.ecdf: support right-censored data
  scipy/stats/_survival.py
  scipy/stats/tests/test_survival.py
Labels: scipy.stats, enhancement

#18002 ENH: override halflogistic `sf` and `isf`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18120 Correct the comments about ` fmin_powell` in `scipy/optimize`
  doc/source/tutorial/examples/5-1
  scipy/optimize/__init__.py
Labels: scipy.optimize, Documentation

#18059 Johnson distributions `sf` and `isf` override
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18127 MAINT: cleanup inconsistencies in _continous_dists
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, maintenance

#18102 ENH: stats.goodness_of_fit: add Filliben's test
  scipy/stats/_fit.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#18130 Some doc updates and small code tweaks.
  scipy/optimize/_direct_py.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_morestats.py
  scipy/stats/_page_trend_test.py
  scipy/stats/_warnings_errors.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, scipy.optimize, Documentation, maintenance

#18061 ENH: implement array @ LinearOperator
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: enhancement, scipy.sparse.linalg

#18145 BLD: emit a warning when building from source on 32-bit Windows
  meson.build
Labels: Build issues, maintenance

#18107 ENH: add Dunnett's test
  scipy/stats/__init__.py
  scipy/stats/_hypotests.py
  scipy/stats/_multicomp.py
  scipy/stats/_result_classes.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_multicomp.py
Labels: scipy.stats, enhancement

#18129 TST: stats.rv_continuous.fit: use `nnlf` instead of `_reduce_func` in tests
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18094 ENH: improve entropy calculation of chi distribution using asymptotic expansion
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18063 DOC: improve documentation for distance_transform_{cdt,edt}
  scipy/ndimage/_morphology.py
Labels: scipy.ndimage, Documentation

#18018 DOC: Add an example showing how to plot Rotations to the docs
  scipy/spatial/transform/_rotation.pyx
Labels: scipy.spatial, Documentation

#18122 ENH: Added asymptotic expansion for invgamma entropy (#18093)
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18149 TST: fix issue with inaccurate `cython_blas` tests
  scipy/linalg/_generate_pyx.py
  scipy/linalg/tests/test_cython_blas.py
Labels: scipy.linalg, maintenance

#18135 Added asymptotic expansion for t entropy (#18093)
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18144 DOC: Add doc examples for friedmanchisquare
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#18095 ENH: asymptotic expansion for gamma distribution entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18154 BLD: Update to Cython 0.29.33
  azure-pipelines.yml
  pyproject.toml
Labels: maintenance

#18124 MAINT: correctly forward-declare `print_soln` in SuperLU
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgstrs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dgstrs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sgstrs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgstrs.c
Labels: scipy.sparse.linalg, maintenance, backport-candidate, C/C++

#18101 DOC: adding references to the UnivariateSpline docstring #17828
  scipy/interpolate/_fitpack2.py
Labels: scipy.interpolate, Documentation

#18153 FIX: add const with fused type memory view in evaluate_spline
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate, backport-candidate

#18157 CI: fix pre-release job that is failing on Cython 3.0b1
  ci/azure-travis-template.yaml
Labels: CI

#18158 DOC:stats: Fix levy and levy_l descriptions
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#18162 ENH: Dweibull entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18131 ENH: Added asymptotic expansion for gengamma entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18159 FIX: const with double_or_complex memory views in _bspl.pyx
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, backport-candidate

#18128 MAINT: add test against generic fit method for vonmises distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#17908 ENH: powerlognormal distribution improvements
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18096 MAINT: stats.johnsonsu: override _stats
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18138 ENH: improve precision of genlogistic methods
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18168 TST: spatial: skip failing test to make CI green again
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, CI

#18019 add tests for `trimmed_var` and `trimmed_std` in `stats.mstats`
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, maintenance

#18134 ENH: stats: Improve _cdf and implement _sf for genhyperbolic
  scipy/stats/_continuous_distns.py
  scipy/stats/_stats.pyx
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, enhancement

#16782 ENH: stats: optimised fit for the truncated Pareto distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#18172 MAINT: optimize.root_scalar: return gracefully when callable returns NaN
  scipy/optimize/_root_scalar.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17889 DOC: Cleanup development guide
  doc/source/_static/scipy.css
  doc/source/dev/contributor/building.rst
  doc/source/dev/contributor/compiled_code.rst
  doc/source/dev/contributor/conda_guide.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/cython.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/devpy_test.rst
  doc/source/dev/contributor/pep8.rst
  doc/source/dev/contributor/public_cython_api.rst
  doc/source/dev/contributor/quickstart_docker.rst
  doc/source/dev/contributor/quickstart_gitpod.rst
  doc/source/dev/contributor/reviewing_prs.rst
  doc/source/dev/contributor/ubuntu_guide.rst
  doc/source/dev/gitwash/development_setup.rst
  doc/source/dev/gitwash/following_latest.rst
  doc/source/dev/gitwash/git_intro.rst
  doc/source/dev/gitwash/gitwash.rst
Labels: Documentation

#18177 MAINT: stats.logistic.fit: ensure scale is positive
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance, backport-candidate

#18173 DOC: update links for ARPACK to point to ARPACK-NG
  doc/source/tutorial/arpack.rst
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Labels: scipy.sparse.linalg, Documentation

#18174 DOC: cite pip issue about multiple `--config-settings`
  doc/source/dev/contributor/meson_advanced.rst
Labels: Build issues, Documentation

#18187 MAINT: stats.ecdf: store number at risk just before events
  scipy/stats/_survival.py
  scipy/stats/tests/test_survival.py
Labels: scipy.stats, maintenance

#18178 ENH: Added `_sf` method for anglit distribution (#17832)
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, enhancement

#18188 BUG: interpolate: add x-y length validation for `make_smoothing_spline`.
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#18169 MAINT: Windows distutils cdist/pdist shims
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, maintenance, backport-candidate

#18160 BUG: Wrong status returned by _check_result. See #18106. optimize
  scipy/optimize/_linprog.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test_linprog.py
Labels: defect, scipy.optimize

#18189 DOC: Fix for side bar rendering on top of text issue
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#18193 MAINT: stats.kendalltau: avoid overflow
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#18190 ENH: fix vonmises fit for bad guess of location parameter
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18121 BUG: sparse: Use _ascontainer for argmin/argmax
  scipy/sparse/_data.py
  scipy/sparse/tests/test_array_api.py
Labels: defect, scipy.sparse, backport-candidate

#18207 ENH: improve precision of folded normal distribution cdf
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18204 MAINT/TST: fix `Slerp` typing and better iv in `Rotation`
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, static typing

#18150 ENH: add CI and str to Dunnett's test
  scipy/stats/_multicomp.py
  scipy/stats/tests/test_multicomp.py
Labels: scipy.stats, enhancement

#18215 DOC: stats: describe attributes of `DunnettResult`
  scipy/stats/_multicomp.py
Labels: scipy.stats, Documentation

#18196 ENH: add Log rank for survival analysis
  scipy/stats/__init__.py
  scipy/stats/_survival.py
  scipy/stats/tests/test_survival.py
Labels: scipy.stats, enhancement

#18104 BUG: enable matlab nested arrs
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
Labels: defect, scipy.io

#17235 MAINT: pass check_finite to the vq() call of kmeans2()
  scipy/cluster/vq.py
Labels: scipy.cluster, maintenance

#18199 BUG: throw ValueError for mismatched w dimensions and test for error
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: defect, scipy.spatial

#18220 CI: clear cache for macOS conda job, and use mamba to install deps
  .github/workflows/macos_meson.yml
Labels: CI
