Repository scipy/scipy, pull requests merged in 2023-04, with the labels that each got.

#18228 ENH: stats.geometric.entropy: implement analytical formula
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18222 MAINT: stats.TTestResult: fix NaN bug in ttest confidence intervals
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, maintenance

#18229 ENH: stats.bootstrap: add one-sided confidence intervals
  scipy/stats/_resampling.py
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, enhancement

#18240 fix typo
  scipy/stats/_rvs_sampling.py
Labels: Documentation

#18217 MAINT: stats: consistently return NumPy numbers
  scipy/_lib/_util.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#18243 TST: stats.dunnett: fix seed in test_shapes
  scipy/stats/tests/test_multicomp.py
Labels: scipy.stats, maintenance

#8727 BUG: vq.kmeans() compares signed diff to a threshold.
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: scipy.cluster, maintenance

#18211 BUG: sparse: Fix LIL full-matrix assignment
  scipy/sparse/_lil.py
Labels: defect, scipy.sparse, backport-candidate

#18016 Add axes argument to ndimage filters
  scipy/ndimage/_filters.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#18246 ci: touch up wheel build action
  .github/workflows/wheels.yml
Labels: Official binaries, maintenance, CI

#18248 BLD: implement version check for minimum Cython version
  meson.build
  pyproject.toml
Labels: maintenance, Meson

#18245 DOC: remove content related to `setup.py` usage from the docs
  doc/source/dev/contributor/building_faq.rst
  doc/source/dev/contributor/cython.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/quickstart_docker.rst
  doc/source/dev/contributor/windows.rst
  doc/source/dev/roadmap-detailed.rst
  doc/source/reference/index.rst
  doc/source/tutorial/ndimage.rst
Labels: Documentation

#17505 ENH: Add relativistic Breit-Wigner Distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_rel_breitwigner.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/data/meson.build
  scipy/stats/tests/data/rel_breitwigner_pdf_sample_data_ROOT.npy
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, enhancement

#18241 MAINT: remove Gitpod in favour of GitHub CodeSpaces
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitattributes
  .github/workflows/docker.yml
  .github/workflows/gitpod.yml
  .gitpod.yml
  .hadolint.yaml
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/quickstart_docker.rst
  doc/source/dev/contributor/quickstart_gitpod.rst
  doc/source/dev/dev_quickstart.rst
  doc/source/release/1.7.0-notes.rst
  tools/Dockerfile
  tools/ci/README.txt
  tools/docker_dev/environment.yml
  tools/docker_dev/fix_permissions
  tools/docker_dev/gitpod.Dockerfile
  tools/docker_dev/meson.Dockerfile
  tools/docker_dev/settings.json
  tools/docker_dev/workspace_config
Labels: Documentation, maintenance, github, gitpod

#17322 DOC: Add notebook infrastructure for the docs
  .gitignore
  dev.py
  doc/source/conf.py
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/toolchain.rst
  doc/source/notebooks/interp_transition_guide.md
  doc/source/tutorial/general.rst
  doc/source/tutorial/index.rst
  doc/source/tutorial/linalg.rst
  doc_requirements.txt
  environment.yml
  pyproject.toml
Labels: enhancement, Documentation

#18210 ENH: stats.ttest_ind: add degrees of freedom and confidence interval
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#18216 MAINT: replace use of make_dataclass with explicit dataclasses
  scipy/stats/_hypotests.py
  scipy/stats/_page_trend_test.py
  scipy/stats/_resampling.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_stats_py.py
  scipy/stats/stats.py
Labels: scipy.stats, maintenance, DX

#18264 MAINT: remove `from numpy.math cimport` usages
  scipy/_build_utils/src/npy_cblas.h
  scipy/_build_utils/src/npy_cblas_base.h
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/transform/_rotation.pyx
  scipy/special/_ellip_harm.pxd
  scipy/special/_hyp0f1.pxd
  scipy/stats/_stats.pyx
Labels: maintenance

#17881 BUG: Fix handling on user-supplied filters in `signal.decimate`
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#18270 CI: test meson-python from its main branch in one CI job
  .github/workflows/linux_meson.yml
Labels: CI

#18276 MAINT: stats.betaprime: avoid spurious warnings in `fit`, `stats`
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18281 BLD: Enable incompatible pointer types warnings
  doc/source/dev/contributor/meson_advanced.rst
  meson.build
  scipy/_lib/_ccallback_c.pyx
  scipy/interpolate/interpnd.pyx
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/spatial/_qhull.pxd
  scipy/spatial/_qhull.pyx
  scipy/stats/_rcont/meson.build
Labels: Build issues, Meson

#18192 FIX trigger indptr/indices copy when data are copied in astype
  scipy/sparse/_csparsetools.pyx.in
  scipy/sparse/_data.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse, backport-candidate

#18285 MAINT: Remove codecov
  ci/azure-travis-template.yaml
Labels: maintenance, CI

#18232 ENH: override dweibull distribution survival and inverse survival function
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18289 MAINT: mmread allow leading whitespace
  scipy/io/_mmio.py
  scipy/io/tests/test_mmio.py
Labels: scipy.io, maintenance

#18292 CI: add CircleCI API token to fix html preview link
  .github/workflows/circle_artifacts.yml
Labels: CI

#18181 DOC: wheel build infra updates
  azure-pipelines.yml
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/toolchain.rst
Labels: Documentation

#18293 BUG: fix for incompatible pointer warning from stats._rcond #18282
  scipy/stats/_rcont/_rcont.h
  scipy/stats/_rcont/meson.build
Labels: scipy.stats, C/C++

#18297 MAINT: linalg.solve_discrete_are: fix typo in error message
  scipy/linalg/_solvers.py
Labels: scipy.linalg, maintenance

#18290 DEP: stats.mode: raise with non-numeric input
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, deprecated

#18291 TST: stats._axis_nan_policy: add test that decorated function accepts custom array-like
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, maintenance

#18294 CI: remove `setup.py` based jobs from GitHub Actions and run less on merge to main
  .github/workflows/linux.yml
  .github/workflows/linux_meson.yml
  .github/workflows/macos.yml
  .github/workflows/macos_meson.yml
  .github/workflows/windows.yml
  scipy/signal/tests/test_signaltools.py
Labels: CI

#18275 TST: stats: infrastructure for generation of distribution function reference values
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distribution_infrastructure_tests.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18238 MAINT:optimize: shgo assorted fixes
  scipy/optimize/_shgo.py
  scipy/optimize/_shgo_lib/_complex.py
  scipy/optimize/_shgo_lib/_vertex.py
  scipy/optimize/tests/test__shgo.py
Labels: defect, scipy.optimize

#18299 DOC: interpolate: add see also references for data on regular grid
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/interpnd.pyx
Labels: scipy.interpolate, Documentation

#18261 Add axes support to uniform_filter, minimum_filter, maximum_filter
  scipy/ndimage/_filters.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#18269 ENH: stats: Implement _sf and _isf for exponweib.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18195 MAINT: interpolate: remove duplicated FITPACK interface _fitpack._spl_.
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/fitpack/splder.f
  scipy/interpolate/fitpack/splev.f
  scipy/interpolate/src/_fitpackmodule.c
  scipy/interpolate/src/fitpack.pyf
Labels: scipy.interpolate, maintenance

#18070 Docstring: note on bivariate spline axis ordering
  scipy/interpolate/_fitpack2.py
Labels: scipy.interpolate, Documentation

#18303 DOC: css adjustment in dark mode and hidden toctree in dev section
  doc/source/_static/scipy.css
  doc/source/_templates/sidebar-nav-bs.html
Labels: defect, Documentation

#18307 DOC: add cdf under methods for multivariate t distribution
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#18263 BUG: some tweaks to PROPACK f2py wrapper and build flags
  scipy/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/linalg/_propack/zpropack.pyf
Labels: scipy.sparse.linalg, maintenance

#17624 ENH: add von Mises-Fisher distribution
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#18313 CI: remove asv from AzureCI
  azure-pipelines.yml
  ci/azure-travis-template.yaml
  doc/source/dev/contributor/continuous_integration.rst
Labels: maintenance, CI

#18225 ENH:MAINT:linalg det in Cython and with nDarray support
  scipy/linalg/_basic.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg, Documentation, maintenance

#18314 CI: remove scikit-umfpack/sparse from Azure testing
  ci/azure-travis-template.yaml
Labels: CI

#18312 CI: move gcc-8 test to GHA
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
Labels: CI

#15958 CI: move `prerelease_deps_coverage_64bit_blas` to GitHub actions.
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
Labels: CI

#17455 Deprecate scipy.signal.{bspline, quadratic, cubic}
  doc/source/tutorial/signal.rst
  scipy/signal/_bsplines.py
  scipy/signal/tests/test_bsplines.py
Labels: scipy.signal, maintenance, deprecated

#18320 CI: migrate ref guide-check to CircleCI
  .circleci/config.yml
  azure-pipelines.yml
  ci/azure-travis-template.yaml
  doc/source/dev/contributor/continuous_integration.rst
Labels: maintenance, CI

#17531 TST: scipy.signal.order_filter: add test coverage
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal

#18321 Revert "ENH: stats.anderson_ksamp: add permutation version of test (#16996)
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#18315 CI: remove coverage jobs
  .github/CODEOWNERS
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
  ci/azure-travis-template.yaml
  codecov.yml
  pytest.ini
Labels: maintenance, CI

#18327 MAINT: optimize.milp: improve behavior for unexpected sparse input
  scipy/optimize/_constraints.py
  scipy/optimize/_milp.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_milp.py
Labels: scipy.optimize, maintenance

#18020 TST: stats.mstats: add `median_cihs`/`sen_seasonal_slopes` tests
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_mstats_extras.py
Labels: scipy.stats, maintenance

#18332 TST: fix minor tolerance issue for `stats.multivariate_t` test
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#18330 BLD: avoid build warnings on Windows, bump pybind11 and meson min versions
  doc/source/dev/contributor/meson_advanced.rst
  meson.build
  pyproject.toml
  scipy/__config__.py.in
  scipy/meson.build
Labels: maintenance, Meson

#18325 CI: move Azure cp39/full/win job to GHA
  .github/workflows/windows.yml
  azure-pipelines.yml
Labels: maintenance, CI

#18333 CI: windows cp311 use-pythran=false full, sdist GHA
  .github/workflows/windows.yml
  azure-pipelines.yml
Labels: CI

#18328 MAINT: stats.shapiro: override p-value when len(x)==3
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#18340 DOC: interpolate: declare Rbf legacy
  scipy/interpolate/_rbf.py
Labels: scipy.interpolate, Documentation

#17267 DOC/MAINT: special: Several updates for tklmbda
  scipy/special/_add_newdocs.py
  scipy/special/cephes/tukey.c
  scipy/special/tests/test_cdflib.py
Labels: scipy.special, Documentation, maintenance, C/C++

#18323 ENH: increase available range of vonmises `fit`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18343 MAINT: use math.prod (python >= 3.8)
  scipy/_lib/_util.py
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_interpolate.py
  scipy/signal/_signaltools.py
  scipy/sparse/_sputils.py
Labels: maintenance

#18344 MAINT: Set cython compiler directive cpow to True
  scipy/interpolate/_ppoly.pyx
  scipy/interpolate/interpnd.pyx
  scipy/linalg/_matfuncs_expm.pyx.in
  scipy/signal/_spectral.pyx
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/_qhull.pyx
  scipy/spatial/transform/_rotation.pyx
  scipy/special/_agm.pxd
  scipy/special/_spence.pxd
  scipy/special/_spherical_bessel.pxd
  scipy/special/_test_internal.pyx
  scipy/special/_wright_bessel.pxd
  scipy/special/orthogonal_eval.pxd
  scipy/special/sph_harm.pxd
  scipy/stats/_qmc_cy.pyx
  scipy/stats/_stats.pyx
Labels: maintenance

#18077 BUG: Check for initial state finiteness
  scipy/integrate/_ivp/base.py
  scipy/integrate/_ivp/tests/test_ivp.py
Labels: defect, scipy.integrate

#18342 TST: stats.mstats.median_cihs: strengthen test
  scipy/stats/tests/test_mstats_extras.py
Labels: scipy.stats, maintenance

#18345 DEV: work around pathlib bug affecting dev.py for Python 3.9 on Windows
  .github/workflows/windows.yml
  dev.py
Labels: CI

#18287 DOC: `distance_transform_bf` example
  scipy/ndimage/_morphology.py
Labels: scipy.ndimage, Documentation

#18339 TST: optimize: fix test_milp_timeout
  scipy/optimize/tests/test_milp.py
Labels: scipy.optimize, maintenance

#18231 ENH: stats.monte_carlo_test: add support for multi-sample statistics
  scipy/stats/_resampling.py
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, enhancement

#18353 Migrate ruff.toml configuration to lint.toml
  tools/lint.py
  tools/lint.toml
  tools/ruff.toml
Labels: DX

#17680 DOC: examples for special functions related to neg. binomial distribution
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#18349 MAINT: stats.dgamma.entropy: avoid deprecated NumPy usage and simplify
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, maintenance

#18152 ENH: stats.moment: enable non-central moment calculation
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#18351 CI: remove Azure sdist job
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
Labels: maintenance, CI

#18209 ENH: improve integrate.simpson for even number of points
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: enhancement, scipy.integrate, deprecated

#18247 BLD: Add const to Cython signatures for BLAS/LAPACK
  scipy/linalg/_cython_signature_generator.py
  scipy/linalg/_generate_pyx.py
  scipy/linalg/cython_blas_signatures.txt
  scipy/linalg/cython_lapack_signatures.txt
Labels: enhancement, scipy.linalg

#18362 MAINT: Add noexcept function declaration to `_cythonized_array_utils.pxd`
  scipy/linalg/_cythonized_array_utils.pxd
Labels: maintenance, Cython

#18284 DOC: improved gmres doc on preconditioning (scipy.sparse.linalg)
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, Documentation

#18370 DOC: stats.chisquare: attribute is pvalue, not p
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation

#17947 TST: Update list of modules for import cycle checks
  scipy/_lib/tests/test_import_cycles.py
Labels: maintenance

#18352 MAINT: stats: more avoidance of deprecated NumPy usage
  scipy/stats/_continuous_distns.py
  scipy/stats/_unuran/unuran_wrapper.pyx
Labels: scipy.stats, maintenance

#18369 CI: bdist_wheel windows job Azure --> GHA
  .github/workflows/windows.yml
  azure-pipelines.yml
  ci/azure-travis-template.yaml
Labels: CI

#18379 TST/MAINT: remove vonmises fit correctnes test for extreme kappa value
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#18380 MAINT: Limit fittable data for von mises fisher distribution to 2D
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: defect, scipy.stats

#18360 DOC: improve neg. binomial function examples in `special`
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#18324 ENH: add `entropy` method for multivariate t distribution
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#18383 MAINT: add smoke testing of signal.detrend
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance
