Repository scipy/scipy, pull requests merged in 2023-10, with the labels that each got.

#19329 DOC: stats.chisquare: result object contains attribute 'statistic'
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#19303 ENH: add `axis` tuple, `nan_policy`, and `keepdims` to `differential_entropy`
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_entropy.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#19310 MAINT: Remove `np.int_` and `np.uint`
  pytest.ini
  scipy/_lib/_util.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/linalg/_decomp_qz.py
  scipy/ndimage/src/_ni_label.pyx
  scipy/optimize/_trlib/_trlib.pyx
  scipy/signal/_upfirdn.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_sputils.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/_qhull.pyi
  scipy/spatial/tests/test_distance.py
  scipy/special/_basic.py
  scipy/special/_test_internal.pyx
  scipy/special/tests/test_basic.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_multivariate.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_rank.py
Labels: maintenance

#19327 ENH: Add a numerically stable logpdf function for the skewnorm distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#19331 MAINT, BLD: more setup.py cleanups
  .coveragerc
  .github/CODEOWNERS
  .gitignore
  scipy/__init__.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/linalg/_propack/meson.build
  scipy/stats/_boost/include/code_gen.py
  scipy/stats/_generate_pyx.py
  scipy/stats/meson.build
Labels: maintenance

#19341 MAINT: Remove remaining `numpy.int_` and filter `np.long` warning
  scipy/_lib/_util.py
  scipy/_lib/tests/test_warnings.py
  scipy/ndimage/_measurements.py
  scipy/stats/_mstats_extras.py
  scipy/stats/mstats_extras.py
Labels: maintenance

#19336 ENH: `stats.variation`: add `axis` tuple support and shift to axis nan policy factory
  scipy/_lib/_util.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_variation.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#19345 MAINT: remove `np.testing.suppress_warnings` that aren't in tests
  scipy/_lib/tests/test_warnings.py
  scipy/optimize/_constraints.py
  scipy/signal/_ltisys.py
  scipy/stats/_binned_statistic.py
  scipy/stats/_stats_py.py
Labels: scipy.optimize, maintenance

#18954 BENCH: update/rewrite lobpcg benchmark sparse_linalg_lobpcg.py
  benchmarks/benchmarks/sparse_linalg_lobpcg.py
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/sparse/linalg/tests/test_special_sparse_arrays.py
Labels: scipy.sparse.linalg, Benchmarks

#19367 CI: avoid using Cython 3.0.3
  .circleci/config.yml
  .github/workflows/array_api.yml
  .github/workflows/linux_meson.yml
  .github/workflows/linux_musl.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
  environment.yml
  pyproject.toml
Labels: CI

#19360 BLD, MAINT: more build system cleanups
  scipy/_build_utils/tempita.py
  scipy/cluster/_optimal_leaf_ordering.pyx
  scipy/linalg/_generate_pyx.py
  scipy/optimize/_highs/cython/src/HConst.pxd
  scipy/optimize/_highs/cython/src/Highs.pxd
  scipy/optimize/_highs/cython/src/HighsIO.pxd
  scipy/optimize/_highs/cython/src/HighsInfo.pxd
  scipy/optimize/_highs/cython/src/HighsLp.pxd
  scipy/optimize/_highs/cython/src/HighsLpUtils.pxd
  scipy/optimize/_highs/cython/src/HighsModelUtils.pxd
  scipy/optimize/_highs/cython/src/HighsOptions.pxd
  scipy/optimize/_highs/cython/src/HighsRuntimeOptions.pxd
  scipy/optimize/_highs/cython/src/HighsSparseMatrix.pxd
  scipy/optimize/_highs/cython/src/HighsStatus.pxd
  scipy/optimize/_highs/cython/src/SimplexConst.pxd
  scipy/optimize/_highs/cython/src/_highs_constants.pyx
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/optimize/_highs/cython/src/highs_c_api.pxd
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/distance.py
  scipy/special/_generate_pyx.py
  scipy/special/utils/makenpz.py
  scipy/stats/_biasedurn.pyx
  scipy/stats/_boost/include/code_gen.py
  scipy/stats/_boost/include/templated_pyufunc.pxd
  scipy/stats/_qmc_cy.pyx
Labels: maintenance

#19350 ENH: stats: add support for masked arrays, `nan_policy`, and `keepdims` to `entropy`
  scipy/stats/_entropy.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_entropy.py
Labels: scipy.stats, enhancement

#19358 TST: SphericalVoronoi region type
  scipy/spatial/tests/test_spherical_voronoi.py
Labels: scipy.spatial, maintenance

#19379 BUG: Restore the original behavior of 'trf' from least_squares to make x0 "sufficiently" feasible
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_least_squares.py
Labels: defect, scipy.optimize, backport-candidate

#19333 ENH: Fit skewnorms with MLE more robustly
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#19380 DEV/CI: use scipy-openblas32 wheels in dev.py and some CI jobs
  .github/workflows/linux_meson.yml
  .github/workflows/windows.yml
  .gitignore
  dev.py
  pytest.ini
  scipy/_distributor_init.py
  scipy/meson.build
Labels: CI

#19340 DEP: deprecate scipy.signal wavelets
  doc/source/conf.py
  scipy/signal/_peak_finding.py
  scipy/signal/_wavelets.py
  scipy/signal/tests/test_wavelets.py
Labels: scipy.signal, deprecated

#19391 MAINT: spatial: Change error message in KDTree to be more informative.
  scipy/spatial/_ckdtree.pyx
Labels: scipy.spatial, maintenance

#19172 MAINT: Spherical Voronoi sort simplify
  scipy/spatial/_voronoi.pyx
Labels: scipy.spatial, maintenance

#19335 BUG: fix pow method for sparrays with power zero
  scipy/sparse/_data.py
  scipy/sparse/tests/test_array_api.py
Labels: defect, scipy.sparse, backport-candidate

#19400 BLD: use classic linker on macOS 14 (Sonoma), the new linker is broken
  meson.build
Labels: Build issues, maintenance, backport-candidate

#19390 DOC, MAINT: more distutils/build cleanups
  doc/source/dev/roadmap-detailed.rst
  scipy/_build_utils/_fortran.py
  scipy/_build_utils/compiler_helper.py
Labels: Documentation, maintenance

#19399 TST: signal: add missing assertion in test_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal, maintenance

#19395 DEP: ndimage: improve the deprecation of private modules named without underscore prefix
  scipy/_lib/tests/test_public_api.py
  scipy/ndimage/filters.py
  scipy/ndimage/fourier.py
  scipy/ndimage/interpolation.py
  scipy/ndimage/measurements.py
  scipy/ndimage/morphology.py
Labels: scipy.ndimage, deprecated

#19392 ENH: stats.bartlett: add axis / nan_policy / keepdims support
  scipy/stats/_morestats.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#19409 MAINT: fix a C++ build error with GCC 13
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
Labels: Build issues

#19173 MAINT: integrate._tanhsinh: improvements after further testing
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_quadrature.py
  scipy/optimize/_zeros_py.py
Labels: scipy.integrate, maintenance

#19414 BLD: with-scipy-openblas instead of use-scipy-openblas
  .github/workflows/linux_meson.yml
  .github/workflows/windows.yml
  dev.py
Labels: Build issues

#19402 MAINT: l-bfgs-b remove intermediate bounds array
  scipy/optimize/_lbfgsb_py.py
Labels: scipy.optimize, maintenance

#19410 DOC: interpolate: add note to BarycentricInterpolator.add_xi
  scipy/interpolate/_polyint.py
Labels: scipy.interpolate, Documentation

#19394 MAINT: Partially revert `np.int_` changes
  scipy/signal/_upfirdn.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_base.py
  scipy/special/_basic.py
Labels: maintenance

#19429 DOC: Fix documentation of callback function signature of scipy.optimize.minimize
  scipy/optimize/_minimize.py
Labels: scipy.optimize, Documentation

#19431 MAINT: more NEP 50 shims
  scipy/signal/_peak_finding.py
Labels: scipy.signal, maintenance

#19419 ENH: SphericalVoronoi sort faster
  scipy/spatial/_voronoi.pyx
Labels: enhancement, scipy.spatial

#17728 ENH: Implemented Rotation.from_davenport and Rotation.as_davenport
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#19439 BLD: update build dependency versions in pyproject.toml
  pyproject.toml
Labels: maintenance

#19443 TST: Fix #19442 minimally
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: scipy.sparse.linalg, maintenance

#19412 ENH: stats: add support for masked arrays for circular statistics functions
  scipy/stats/_morestats.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, enhancement

#19433 DOC: Add example for `stats.hdquantiles`
  scipy/stats/_mstats_extras.py
Labels: scipy.stats, Documentation

#19449 DOC/MAINT: fft: fix signature for next_fast_len
  scipy/fft/_helper.py
Labels: Documentation, maintenance, scipy.fft
