Repository scipy/scipy, pull requests merged in 2023-05, with the labels that each got.

#18392 BUG: optimize.differential_evolution: fix division by zero error
  scipy/optimize/_differentialevolution.py
Labels: defect, scipy.optimize

#18399 DOC: Replace "HACKING" with "hacking"
  CONTRIBUTING.rst
  doc/source/dev/core-dev/github.rst.inc
Labels: Documentation

#18405 Revert "BLD: Add const to Cython signatures for BLAS/LAPACK (#18247)"
  scipy/linalg/_cython_signature_generator.py
  scipy/linalg/_generate_pyx.py
  scipy/linalg/cython_blas_signatures.txt
  scipy/linalg/cython_lapack_signatures.txt
Labels: scipy.linalg, maintenance

#18382 TST: stats.cosine: modify test to silence failure
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18402 TST: fix failing signal.windows tests
  scipy/signal/tests/test_windows.py
Labels: scipy.signal, CI

#15841 Overhaul `factorial{,2,k}`: API coherence, bug fixes & consistent array-support
  benchmarks/benchmarks/special.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: enhancement, scipy.special

#18410 TST: fix test failures in linprog unboundedness test
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize, maintenance

#18341 DEP: signal: deprecate using medfilt and order_filter with float128 and object dtypes
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, deprecated

#18357 MAINT: clearer error in `LinearOperator * spmatrix`
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: defect, scipy.sparse.linalg

#18412 MAINT: signal: simplify shape manipulations in signal.detrend
  scipy/signal/_signaltools.py
Labels: scipy.signal, maintenance

#18416 BUG: interpolate: add `mest` calculation logic for `UnivariateSpline.roots` backward compatibility
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: defect, scipy.interpolate

#18242 MAINT: Allow scipy to be compiled in cython3
  .github/workflows/linux_meson.yml
  scipy/linalg.pxd
  scipy/special.pxd
  scipy/special/meson.build
Labels: maintenance

#18411 BLD: an Intel Fortran fix and MinGW-related cleanups
  dev.py
  scipy/_build_utils/gcc_build_bitness.py
  scipy/meson.build
  scipy/sparse/linalg/_propack/meson.build
Labels: maintenance, Meson

#18227 ENH: stats: resampling methods configuration classes and example use in `pearsonr`
  scipy/stats/__init__.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#18419 MAINT: interpolate: remove unused codes in `_fitpackmodule.c`.
  scipy/interpolate/src/_fitpackmodule.c
Labels: scipy.interpolate, maintenance

#18387 DOC: interpolate: deduplicate docstrings in _fitpack_py and _fitpack_impl
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_fitpack_py.py
Labels: scipy.interpolate, Documentation, maintenance

#18427 ENH: prevent unnecessary computation in `scipy.stats.rankdata`
  scipy/stats/_stats_py.py
Labels: scipy.stats, enhancement

#18384 DOC: improve vonmises documentation
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#18438 BLD: DOC: fix Sphinx doc build caching behavior for `.dev` versions
  dev.py
  doc/source/conf.py
Labels: Documentation, maintenance

#18442 TST: fix precision of several linalg/sparse.linalg tests
  scipy/linalg/tests/test_decomp_ldl.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: scipy.sparse.linalg, scipy.linalg, maintenance

#18439 BLD: detect `xsimd` if it's installed and add to pythran dependency
  meson.build
  scipy/meson.build
Labels: Build issues, Pythran

#18426 BLD: fix two `-Duse-g77-abi` regressions and a PROPACK bug
  scipy/_build_utils/src/npy_cblas.h
  scipy/_build_utils/src/npy_cblas_base.h
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/linalg/_propack/setup.py
Labels: Build issues, maintenance

#18433 ENH: improve t distribtion logpdf and pdf for large degrees of freedom
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18414 CI: move last Azure job to GHA
  .github/workflows/linux_meson.yml
  azure-pipelines.yml
  scipy/spatial/transform/tests/test_rotation_spline.py
  scipy/special/tests/test_hyp2f1.py
  scipy/stats/tests/test_continuous_basic.py
Labels: CI

#18447 DOC: remove references to Azure
  .github/CODEOWNERS
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/dev/roadmap-detailed.rst
Labels: Documentation, CI

#17705 DOC: optimize.minimize_scalar and friends: correct documentation about bracket
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
Labels: scipy.optimize, maintenance

#18288 TST: stats.ortho_group: improve determinant distribution test
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#17704 MAINT: optimize.bracket: don't fail silently
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
  tools/unicode-check.py
Labels: scipy.optimize, maintenance

#18455 MAINT: simplifiy detrend
  scipy/signal/_signaltools.py
Labels: scipy.signal, maintenance

#18444 DOC: clarify Sobel transform
  scipy/ndimage/_filters.py
Labels: scipy.ndimage, Documentation

#18454 DOC: add `distance_transform_cdt` example
  scipy/ndimage/_morphology.py
Labels: scipy.ndimage, Documentation

#18449 ENH: increase truncated exponential distribution sf/isf precision
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18459 DOC: optimize: add use of functools.partial to tutorial
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#18458 DOC: odr: clarify `cov_beta` is not scaled by the residual variance
  scipy/odr/_odrpack.py
Labels: scipy.odr, Documentation

#18460 DOC: examples for `ndimage.generic_filter`
  scipy/ndimage/_filters.py
Labels: scipy.ndimage, Documentation

#18440 MAINT: sparse: Invert the sparray / spmatrix hierarchy
  scipy/optimize/_milp.py
  scipy/sparse/__init__.py
  scipy/sparse/_arrays.py
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_index.py
  scipy/sparse/_lil.py
  scipy/sparse/_matrix.py
  scipy/sparse/_spfuncs.py
  scipy/sparse/_sputils.py
  scipy/sparse/meson.build
  scipy/sparse/tests/test_array_api.py
Labels: scipy.sparse, maintenance

#18301 CI: remove `runtests.py` and related scripts/files
  runtests.py
  site.cfg.example
  tools/suppress_output.py
  tools/validate_runtests_log.py
  tox.ini
Labels: CI

#15929 DEP: `lsim2` deprecated in favor of `lsim`
  doc/source/conf.py
  scipy/signal/_ltisys.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_ltisys.py
Labels: scipy.signal, deprecated

#18466 DOC: fix issues in `svds` docstring examples that were failing in CI
  scipy/sparse/linalg/_eigen/_svds.py
Labels: scipy.sparse.linalg, Documentation

#18468 BLD: enforce utf-8 in tools/cythonize.py, and some cleanups
  tools/cythonize.py
Labels: maintenance, Cython

#18472 MAINT: remove lsim2/impulse2/step2 docstring examples
  doc/source/conf.py
  scipy/signal/_ltisys.py
Labels: scipy.signal, maintenance

#18476 TST: stats/optimize: filter warnings in tests
  scipy/optimize/tests/test__linprog_clean_inputs.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, scipy.optimize, maintenance

#18429 DOC: rewrite all build docs and restructure build/contributor guide
  doc/source/building/blas_lapack.rst
  doc/source/building/compilers_and_options.rst
  doc/source/building/cross_compilation.rst
  doc/source/building/distutils_equivalents.rst
  doc/source/building/index.rst
  doc/source/building/introspecting_a_build.rst
  doc/source/building/redistributable_binaries.rst
  doc/source/building/understanding_meson.rst
  doc/source/dev/contributor/building.rst
  doc/source/dev/contributor/building_faq.rst
  doc/source/dev/contributor/conda_guide.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/meson.rst
  doc/source/dev/contributor/osx.rst
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/contributor/reviewing_prs.rst
  doc/source/dev/contributor/ubuntu_guide.rst
  doc/source/dev/contributor/windows.rst
  doc/source/dev/dev_quickstart.rst
  doc/source/getting_started.rst
  doc/source/index.rst
  doc/source/release/1.9.0-notes.rst
Labels: enhancement, Documentation

#18486 DOC: remove already-resolved deprecation warning filter
  doc/source/scipyoptdoc.py
Labels: Documentation

#18112 FIX: reset semantic in `QMCEngine.reset`
  scipy/integrate/_quadrature.py
  scipy/stats/_qmc.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_qmc.py
Labels: defect, scipy.stats

#18489 DEP: signal: deprecate importing window functions from signal namespace
  scipy/signal/__init__.py
  scipy/signal/tests/test_windows.py
Labels: scipy.signal, deprecated

#18482 MAINT: ensure Nelder-Mead respects floating point type
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#18045 MAINT: update codeowners.
  .github/CODEOWNERS
Labels: github

#18493 BUG: stats: Fix the variable that is checked to skip a test.
  scipy/stats/tests/test_continuous_basic.py
Labels: defect, scipy.stats

#18441 ENH:stats: add sf method for betaprime
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18230 BUG: nan segfault in KDTree, reject non-finite input
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/tests/test_kdtree.py
Labels: defect, scipy.spatial, backport-candidate

#17212 Guard against integer overflows in fitpackmodule.c
  scipy/interpolate/src/_fitpackmodule.c
Labels: scipy.interpolate, maintenance, C/C++

#18475 DOC: remove warnings in doc build
  doc/source/conf.py
  doc/source/tutorial/fft.rst
  scipy/signal/_ltisys.py
  scipy/signal/_wavelets.py
  scipy/signal/windows/_windows.py
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
Labels: Documentation, maintenance

#18500 MAINT: tweak code comment for list of private-but-present modules
  scipy/_lib/tests/test_public_api.py
Labels: scipy._lib, maintenance

#18430 MAINT: stats.mode: improve `nan_policy` behavior
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#18505 MAINT: sparse: Generalize isshape to (optionally) handle non-2d shapes
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Labels: scipy.sparse, maintenance

#18513 MAINT: sparse: cosmetic updates + typing for sputils
  scipy/sparse/_sputils.py
Labels: scipy.sparse, maintenance

#18508 ENH: Ensure that the result of divide(sparse, dense) is sparse
  scipy/sparse/_base.py
  scipy/sparse/tests/test_array_api.py
Labels: enhancement, scipy.sparse

#18502 BUG: guard against non-finite kd-tree queries
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/tests/test_kdtree.py
Labels: defect, scipy.spatial

#16936 BUG: sparse: fix argmin/argmax when all entries are nonzero
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#18510 TST: Add regression tests for sparse creation functions.
  scipy/sparse/tests/test_array_api.py
Labels: scipy.sparse

#18522 Pin prerelease pipeline with Cython>=3.0.0b3
  .github/workflows/linux_meson.yml
Labels: maintenance, Cython

#18526 DOC: Fix broken reference to count_nonzero in See Also.
  scipy/sparse/_matrix.py
Labels: scipy.sparse, Documentation

#18516 DOC: add user guide page introing new sparse arrays
  doc/source/tutorial/index.rst
  doc/source/tutorial/sparse.rst
Labels: scipy.sparse, Documentation

#18523 TST: piecemeal updates to `test_base.py` for sparray conversion
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, maintenance

#17589 BUG: FutureWarning in distance_transform_cdt
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_morphology.py
Labels: scipy.ndimage, maintenance

#18355 ENH: allow dividing LinearOperator by number
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: enhancement, scipy.sparse.linalg

#17538 ENH: Extending _distance_pybind with additional distance metrics (continued)
  scipy/spatial/distance.py
  scipy/spatial/src/distance_metrics.h
  scipy/spatial/src/distance_pybind.cpp
  scipy/spatial/tests/test_distance.py
Labels: enhancement, scipy.spatial, C/C++

#18305 ENH: ndimage: add axes argument to rank_filter, percentile_filter, median_filter
  scipy/ndimage/_filters.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#18536 Add deprecation notices to sparse array docs
  scipy/sparse/_base.py
  scipy/sparse/_matrix.py
Labels: scipy.sparse, deprecated

#18532 Fix format property in _csr.py
  scipy/sparse/_csr.py
  scipy/sparse/tests/test_array_api.py
Labels: defect, scipy.sparse

#18540 MAINT: sparse: Deprecate multi-Ellipsis indexing
  scipy/sparse/_index.py
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, maintenance

#18358 ENH:MAINT:linalg:lu Cythonized and ndarray support added
  scipy/linalg/_cythonized_array_utils.pxd
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_lu_cython.pyi
  scipy/linalg/_decomp_lu_cython.pyx
  scipy/linalg/_matfuncs_expm.pyx.in
  scipy/linalg/meson.build
  scipy/linalg/setup.py
  scipy/linalg/tests/meson.build
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_lu.py
Labels: enhancement, scipy.linalg, Documentation, maintenance, Cython

#18550 DOC: optimize.OptimizeResult: note that not all listed attributes are present
  scipy/optimize/_optimize.py
Labels: scipy.optimize, Documentation

#18549 TST: optimize: filter RuntimeWarning that does not indicate test failure
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#18545 TST: speed up `test_import_cycles`
  scipy/_lib/tests/test_import_cycles.py
Labels: scipy._lib, maintenance

#18418 Fix warning when `nogil` is placed before `except`
  .github/workflows/linux_meson.yml
  meson.build
  pyproject.toml
  scipy/_lib/_ccallback_c.pxd
  scipy/_lib/_ccallback_c.pyx
  scipy/linalg/_generate_pyx.py
  scipy/spatial/_ckdtree.pyx
  scipy/stats/_stats.pxd
  scipy/stats/_stats.pyx
Labels: maintenance, Cython

#18504 MAINT: upload nighlighties to new location
  .github/workflows/linux_meson.yml
  .github/workflows/wheels.yml
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
  doc/source/dev/contributor/continuous_integration.rst
  tools/wheels/upload_wheels.sh
Labels: Official binaries, maintenance

#18528 ENH: Update isspmatrix behavior
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_index.py
  scipy/sparse/_lil.py
  scipy/sparse/_spfuncs.py
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_validation.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/_matfuncs.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse

#18553 BENCH: sparse: Add a benchmark for sparse matrix power
  benchmarks/benchmarks/sparse_matrix_power.py
Labels: scipy.sparse, Benchmarks

#18542 ENH: sparse: add nanmin/nanmax (followup on gh-8902)
  scipy/sparse/_data.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#18539 DOC: sparse: Document sparse canonical formats
  doc/source/tutorial/sparse.rst
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
Labels: scipy.sparse, Documentation

#17116 MAINT: Adjust Pull-Request labeler configuration
  .github/label-globs.yml
  .github/workflows/pull-request-labeler.yml
Labels: CI

#17675 ENH: update lobpcg.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: enhancement, scipy.sparse.linalg

#18554 BUG: sparse: Fix DIA.tocoo canonical format setting
  scipy/sparse/_dia.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#18538 ENH: sparse: Add _array version of `diags` creation functions.
  scipy/sparse/__init__.py
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Labels: enhancement, scipy.sparse

#17334 ENH: Map the rotation quaternion double cover of rotation space to a canonical single cover
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial

#18560 MAINT: integrate: revert`full_output` deprecation / result object change
  scipy/integrate/_quad_vec.py
  scipy/integrate/_quadpack_py.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_quadpack.py
Labels: scipy.integrate, maintenance

#18563 DOC: SciPy 1.11.0 release notes
  .mailmap
  doc/source/release/1.11.0-notes.rst
Labels: Documentation

#18575 REL: set version to 1.12.0.dev0
  doc/source/release.rst
  doc/source/release/1.12.0-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#18587 DEP: signal: deprecate cmplx_sort
  scipy/signal/_signaltools.py
Labels: scipy.signal, deprecated

#18585 DOC: stats.rv_discrete: note that default methods are not compatible with support unbounded below
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, Documentation

#18556 MAINT: io: replace isspmatrix with issparse in mmio module
  scipy/io/_mmio.py
Labels: scipy.io, maintenance, backport-candidate

#18591 MAINT: version bounds for 1.11.0rc1
  meson.build
  pyproject.toml
  scipy/__init__.py
  setup.py
  tools/version_utils.py
Labels: maintenance

#18596 DOC: Fix sidebar for API reference pages
  doc/source/_static/version_switcher.json
  doc/source/conf.py
Labels: Documentation, backport-candidate
