Repository scipy/scipy, pull requests merged in 2023-01, with the labels that each got.

#17685 ENH: stats: Implement _sf for the foldnorm distribution.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17689 REL: integrate.qmc_quad: remove from release notes
  doc/release/1.10.0-notes.rst
Labels: scipy.integrate, Documentation

#17662 Fix undefined behavior within scipy.fft
  .github/workflows/windows.yml
  pyproject.toml
  scipy/fft/_pocketfft/pypocketfft.cxx
Labels: maintenance, backport-candidate, scipy.fft

#17695 TST: optimize.root_scalar: adjust reference value of TOMS748 test problem 13 root
  scipy/optimize/_tstutils.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17208 DOC: Add triage guide
  HACKING.rst.txt
  doc/source/dev/conduct/code_of_conduct.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/index.rst
  doc/source/dev/triage.rst
Labels: Documentation

#17701 DOC: stats: Fix a reference for the genexpon distribution.
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#17696 MAINT: prepare for SciPy 1.10.0 "final"
  .github/workflows/windows.yml
  doc/release/1.10.0-notes.rst
  pyproject.toml
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/integrate/__init__.py
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: maintenance

#17678 DOC: optimize: show how memoization avoids duplicating work
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#17711 MAINT: forward port 1.10.0 relnotes
  doc/release/1.10.0-notes.rst
  doc/source/_static/version_switcher.json
Labels: Documentation, maintenance

#17709 MAINT: update copyright date
  LICENSE.txt
Labels: maintenance

#17720 DOC: `fdtridfd` example
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17707 DOC: add acetazolamide example to `stats.fisher_exact`
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17712 REL, MAINT: prepare for 1.10.1
  doc/release/1.10.1-notes.rst
  doc/source/release.1.10.1.rst
  doc/source/release.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#17682 DOC: add real example for `stats.chisquare`
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17724 DOC: spatial: Several updates:
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#17729 STY: fix unicode error
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17693 DOC: pointbiserialr correlation formula notation fix.
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17669 MAINT: optimize.newton: avoid error with complex `x0`
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17730 MAINT: rotate CircleCI ssh key
  .circleci/config.yml
Labels: maintenance, CI

#17700 ENH: Inverse wishart entropy
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17679 ENH: optimize.minimize: add bound constraints to COBYLA
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_cobyla.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#17326 ENH: Clarify the index of element corresponding to a label in SciPy.ndImage
  scipy/ndimage/_measurements.py
Labels: scipy.ndimage, Documentation

#17732 MAINT: optimize.toms748: don't do newton after secant interpolation
  scipy/optimize/_zeros_py.py
Labels: scipy.optimize, maintenance

#17708 ENH: stats: Implement _ppf and _isf for genexpon.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17694 ENH: stats: Implement _sf and _isf for halfcauchy; _sf for foldcauchy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17561 MAINT: stats.mode: remove deprecated features, smooth edges
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats, deprecated

#17702 DOC: stats: complete references and links for descriptive stats
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17692 MAINT: optimize.minimize_scalar: enforce output shape consistency
  scipy/optimize/_minimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#17717 BUG: allow readonly input to interpolate.interpn
  scipy/interpolate/_rgi.py
  scipy/interpolate/_rgi_cython.pyx
  scipy/interpolate/tests/test_rgi.py
Labels: defect, scipy.interpolate, backport-candidate

#17747 DOC: stats.jarque_bera: add semi-realistic example
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17676 BUG: correctly handle array-like types in scipy.io.savemat
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
Labels: defect, scipy.io

#17759 DOC: stats.skewtest: add semi-realistic example
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17625 DOC: Examples for special functions related to the student t distribution
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17660 MAINT: optimize.newton: converged=False when secant has zero slope
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#17742 ENH: override _entropy for beta, chi and chi2 distributions
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17714 ENH: Provide public API for fast DisjointSet subset size.
  scipy/_lib/_disjoint_set.py
  scipy/cluster/tests/test_disjoint_set.py
Labels: enhancement, scipy.cluster

#17743 DOC: improve the docs on using BLAS/LAPACK libraries with Meson
  doc/source/dev/contributor/meson_advanced.rst
Labels: Build issues, Documentation, backport-candidate, Meson

#17764 ENH: entropy for matrix normal distribution
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17765 DOC: stats: additional normality test examples
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#17769 DOC/BUG: add missing entropy methods in docstrings
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#17768 TST: special: fix incorrectly named tests
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_orthogonal.py
Labels: scipy.special, maintenance

#17772 MAINT: remove unused test utility functions
  scipy/_lib/tests/test_public_api.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/fft/_pocketfft/tests/test_basic.py
  scipy/fftpack/tests/test_basic.py
  scipy/io/tests/test_idl.py
  scipy/linalg/tests/test_decomp.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/spatial/tests/test_qhull.py
Labels: maintenance

#17637 DEP: switch default of special.comb to legacy=False
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, deprecated

#17770 TST: stats: fixed misnamed tests
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, maintenance

#17688 MAINT: optimize.curve_fit: memoize `f` and `jac`
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: scipy.optimize, maintenance

#17773 DOC: stats: add realistic examples to correlation tests
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  tools/unicode-check.py
Labels: scipy.stats, Documentation

#17784 DOC: linalg: fix docstring of `linalg.sqrtm`
  scipy/linalg/_matfuncs_sqrtm.py
Labels: scipy.linalg, Documentation

#17783 BUG: Correct intermediate overflow in KS one asymptotic in SciPy.stats
  scipy/special/cephes/kolmogorov.c
  scipy/stats/tests/test_continuous_basic.py
Labels: defect, scipy.stats

#17698 MAINT: implicit float conversion in rgi test
  scipy/interpolate/tests/test_rgi.py
Labels: scipy.interpolate, maintenance

#17726 BUG: interpolate/RGI: upcast float32 to float64
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_rgi.py
Labels: defect, scipy.interpolate, backport-candidate

#17790 BUG: signal: fix check_malloc extern declaration type
  scipy/signal/_medianfilter.c
Labels: defect, scipy.signal

#17780 MAINT: optimize.minimize: fix new callback interface when parameter is typed
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#17691 ENH: optimize.root_scalar: allow newton without f', secant without x1
  scipy/optimize/_root_scalar.py
  scipy/optimize/tests/test_zeros.py
Labels: enhancement, scipy.optimize

#17655 DEV: add check for misnamed tests
  azure-pipelines.yml
  dev.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test__spectral.py
  scipy/optimize/tests/test_linesearch.py
  scipy/sparse/tests/test_sparsetools.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  tools/check_test_name.py
  tools/lint_diff.py
Labels: DX

#17657 DEV: streamline OpenBLAS handling on Win machine
  dev.py
Labels: Build issues, maintenance, DX

#17791 DEP: remove maxiter kwarg in _minimize_tnc
  scipy/optimize/_tnc.py
  scipy/optimize/tests/test_tnc.py
Labels: scipy.optimize, deprecated

#17786 DOC: examples for ndtr, ndtri
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17810 BLD: use Meson's found cython instead of a wrapper script
  meson.build
  scipy/_build_utils/cythoner.py
  scipy/_lib/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/spatial/meson.build
  scipy/special/meson.build
  scipy/stats/meson.build
Labels: maintenance, backport-candidate, Meson

#17628 ENH: add Sobol' indices
  scipy/stats/__init__.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_sensitivity_analysis.py
Labels: scipy.stats, enhancement

#17813 MAINT: integrate.qmc_quad: re-introduce qmc_quad
  scipy/integrate/__init__.py
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: enhancement, scipy.integrate

#17806 MAINT: stats.powerlaw.fit: fix overflow when np.min(data)==0
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#17794 TST: Added test suite for dgamma distribution
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#17816 MAINT: allow typed method in `stats.sobol_indices`
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/tests/test_sensitivity_analysis.py
Labels: scipy.stats, maintenance

#17817 MAINT: remove unused args parameter from `qmc_quad`
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, maintenance

#17820 DOC/BUG: plot `ndtri` only where it is defined
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17793 MAINT: remove divide by zero in differential_evolution
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: scipy.optimize, maintenance

#17825 DOC: optimize: change term zero to root
  scipy/optimize/__init__.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/cython_optimize/__init__.py
Labels: scipy.optimize, Documentation

#17797 MAINT: stats.pearsonr: correct p-value with negative correlation and one-sided alternative
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, backport-candidate

#12787 ENH: add anderson darling test for weibull #10829
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#16961 ENH: optimize: Add `nan_policy` optional argument for `curve_fit`.
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: enhancement, scipy.optimize

#17750 ENH: Support multinomial distributions with n=0 trials.
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#17818 BUG/ENH: stats: several updates for dgamma.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, enhancement

#17665 DOC: mention inaccuracy of curve_fit result `pcov`
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#17626 DOC: improve docstrings of exp. scaled Bessel functions
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#17831 MAINT, CI: GHA MacOS setup.py update
  .github/workflows/macos.yml
Labels: CI

#17829 DOC: stats: document RNG behavior when distribution is deepcopied
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, Documentation

#17835 DOC: integrate: document limitation of numerical integration
  doc/source/tutorial/integrate.rst
Labels: scipy.integrate, Documentation

#17767 DOC: stats: reorganize hypothesis tests in main page
  scipy/stats/__init__.py
Labels: scipy.stats, Documentation

#17824 ENH: analytical entropy for invgauss distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17834 MAINT: improve accuracy of betaprime cdf in scipy.stats
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats

#17850 MAINT: remove use of `__code__` in `scipy.integrate`
  scipy/integrate/_quadrature.py
Labels: scipy.integrate, maintenance, backport-candidate

#13699 ENH: stats: Add handling of censored data to univariate cont. distributions
  mypy.ini
  scipy/stats/__init__.py
  scipy/stats/_censored_data.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_censored_data.py
  scipy/stats/tests/test_continuous_fit_censored.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#17838 DOC: integrate.quad: behavior is not guaranteed for divergent integrals
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#17837 DEP: integrate.nquad: deprecate parameter `full_output`
  scipy/integrate/_quadpack_py.py
  scipy/integrate/tests/test_quadpack.py
Labels: scipy.integrate, deprecated

#17499 MAINT: remove use of `NPY_UPDATEIFCOPY`
  scipy/ndimage/src/nd_image.c
  scipy/optimize/tnc/moduleTNC.c.old
  scipy/signal/_lfilter.c.in
  scipy/sparse/sparsetools/sparsetools.cxx
Labels: maintenance

#17573 DOC: Update testing documentation to dev.py
  HACKING.rst.txt
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/devpy_test.rst
  doc/source/dev/contributor/runtests.rst
  doc/source/dev/index.rst
Labels: Documentation, DX

#17842 DOC, MAINT: Add issue template for Documentation issues
  .github/ISSUE_TEMPLATE/Documentation.yml
Labels: maintenance, github

#17777 BLD: link to libatomic if necessary
  scipy/meson.build
  scipy/optimize/_highs/meson.build
Labels: Build issues, backport-candidate, Meson

#17854 TST: mark test for `stats.kde.marginal` as xslow
  scipy/stats/tests/test_kdeoth.py
Labels: scipy.stats, maintenance

#17853 DOC: integrate.dblquad/tplquad: update result descriptions
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#17859 TST: fix test failures on i386, s390x, ppc64, riscv64 (Debian)
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/special/tests/test_orthogonal.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_mstats_basic.py
Labels: maintenance, backport-candidate

#17855 BUG: Fix handling of `powm1` overflow errors
  scipy/special/boost_special_functions.h
Labels: defect, scipy.stats, C/C++

#17857 MAINT: analytical formula for genlogistic entropy
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#17865 MAINT: stats: fix recent CI and other issues
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_fit_censored.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#17778 DOC: stats: add realistic examples to variance tests
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#17310 DOC: missing-bits: document recommendations on return object type
  doc/source/dev/missing-bits.rst
Labels: Documentation

#17841 DOC: linalg: expand pinv example
  scipy/linalg/_basic.py
Labels: scipy.linalg, Documentation

#17812 MAINT: add (optional) pre-commit hook
  HACKING.rst.txt
  azure-pipelines.yml
  dev.py
  doc/source/dev/contributor/pep8.rst
  environment.yml
  pyproject.toml
  runtests.py
  tools/lint.py
  tools/lint.toml
  tools/lint_diff.ini
  tools/lint_diff.py
  tools/pre-commit-hook.sh
  tools/ruff.toml
  tox.ini
Labels: DX

#17876 DOC: remove hidden stats sections from sidebar/toctree
  doc/API.rst.txt
  doc/source/reference/stats.rst
  scipy/signal/_signaltools.py
  scipy/stats/__init__.py
Labels: scipy.stats, Documentation

#17872 BUG: fix powm1 overflow handling
  scipy/special/boost_special_functions.h
Labels: defect, scipy.special, C/C++

#17402 ENH: stats: add false discovery rate control function
  doc/source/conf.py
  scipy/stats/__init__.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#17862 BLD: Meson `__config__` generation
  scipy/__config__.py.in
  scipy/meson.build
  scipy/misc/tests/meson.build
  scipy/misc/tests/test_config.py
  tools/config_utils.py
Labels: Meson

#17879 DOC: add docs for the main namespace
  dev.py
  doc/API.rst.txt
  doc/source/reference/main_namespace.rst
  scipy/__init__.py
  scipy/_lib/_testutils.py
Labels: Documentation

#17894 MAINT: update .gitignore with meson and linter
  .gitignore
Labels: maintenance

#17895 DOC: config info in issue template
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: Documentation, github

#17892 MAINT: stats: Post-"lint everything" clean up in stats.
  .git-blame-ignore-revs
  scipy/stats/_continuous_distns.py
  scipy/stats/_covariance.py
  scipy/stats/_crosstab.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_kde.py
  scipy/stats/_ksstats.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/_stats_pythran.py
  scipy/stats/_tukeylambda_stats.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_mstats_extras.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_rank.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_tukeylambda_stats.py
Labels: scipy.stats, maintenance

#17899 MAINT: use conda for linters
  environment.yml
Labels: maintenance
