Repository scipy/scipy, pull requests merged in 2023-08, with the labels that each got.

#18742 ENH: differential_evolution callback accepts intermediate_result
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#19000 MAINT: fft: rename `test_numpy.py` to `test_basic.py`
  .git-blame-ignore-revs
  scipy/fft/tests/meson.build
  scipy/fft/tests/test_basic.py
Labels: maintenance, scipy.fft

#18687 ENH: add support for a scalar sigma in optimize.curve_fit
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: enhancement, scipy.optimize

#18985 CI: move some cirrus jobs to GHA.
  .github/workflows/linux_musl.yml
  ci/cirrus_general_ci.yml
Labels: CI

#18825 BUG: make `L-BFGS-B` optimizer work with single precision gradient
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/tests/test_lbfgsb_setulb.py
Labels: defect, scipy.optimize, Fortran

#18996 ENH: optimize.curve_fit: reduce overhead of lightweight memoization
  scipy/optimize/_minpack_py.py
Labels: enhancement, scipy.optimize

#18999 CI: reduce Cirrus CI usage during wheel builds
  ci/cirrus_wheels.yml
Labels: CI

#18975 ENH: Port scipy to use new numpy complex types
  .github/workflows/linux_meson.yml
  scipy/_build_utils/src/npy_2_complexcompat.h
  scipy/meson.build
  scipy/ndimage/meson.build
  scipy/ndimage/setup.py
  scipy/ndimage/src/ni_fourier.c
  scipy/sparse/setup.py
  scipy/sparse/sparsetools/complex_ops.h
  scipy/sparse/sparsetools/meson.build
  scipy/special/_complexstuff.pxd
  scipy/special/_faddeeva.cxx
  scipy/special/_hyp0f1.pxd
  scipy/special/_wright.cxx
  scipy/special/amos_wrappers.c
  scipy/special/amos_wrappers.h
  scipy/special/ellint_carlson_wrap.cxx
  scipy/special/specfun_wrappers.c
  scipy/special/specfun_wrappers.h
Labels: scipy.special, scipy.sparse, scipy.ndimage, C/C++

#19013 DOCS: Fixed typo in _fitpack2.py
  scipy/interpolate/_fitpack2.py
Labels: scipy.interpolate

#18948 ENH: Jones and Faddy Skew-T distribution
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_jf_skew_t.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/data/jf_skew_t_gamlss_pdf_data.npy
  scipy/stats/tests/data/meson.build
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#12680 ENH: stats: add nonparametric one-sample quantile test and CI
  scipy/stats/__init__.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#19015 ENH: Update numpy exceptions imports
  scipy/_lib/_util.py
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_rgi.py
  scipy/io/matlab/tests/test_mio.py
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/tests/test_decomp_ldl.py
  scipy/optimize/_milp.py
  scipy/optimize/tests/test__linprog_clean_inputs.py
  scipy/optimize/tests/test_linprog.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_base.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: scipy._lib, maintenance

#19012 DOC: stats.mannwhitneyu: address apparent sign inconsistency in alternative hypotheses
  scipy/stats/_mannwhitneyu.py
Labels: scipy.stats, Documentation

#18859 BUG: make Bessel-roots function not hang and not skip roots
  scipy/special/specfun/specfun.f
Labels: defect, scipy.special, Fortran

#19014 MAINT: copy, array-api compatible utility function
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
Labels: scipy._lib

#18992 DEP: interpolate: improve deprecation of private modules named without underscore prefix
  scipy/_lib/deprecation.py
  scipy/_lib/tests/test_public_api.py
  scipy/integrate/dop.py
  scipy/integrate/lsoda.py
  scipy/integrate/odepack.py
  scipy/integrate/quadpack.py
  scipy/integrate/vode.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/fitpack.py
  scipy/interpolate/fitpack2.py
  scipy/interpolate/interpolate.py
  scipy/interpolate/ndgriddata.py
  scipy/interpolate/polyint.py
  scipy/interpolate/rbf.py
  scipy/optimize/cobyla.py
  scipy/optimize/lbfgsb.py
  scipy/optimize/linesearch.py
  scipy/optimize/minpack.py
  scipy/optimize/minpack2.py
  scipy/optimize/moduleTNC.py
  scipy/optimize/nonlin.py
  scipy/optimize/optimize.py
  scipy/optimize/slsqp.py
  scipy/optimize/tnc.py
  scipy/optimize/zeros.py
  scipy/stats/biasedurn.py
  scipy/stats/kde.py
  scipy/stats/morestats.py
  scipy/stats/mstats_basic.py
  scipy/stats/mstats_extras.py
  scipy/stats/mvn.py
  scipy/stats/stats.py
Labels: scipy.interpolate, deprecated

#19025 BUG: pass unused xrtol in fmin_bfgs to _minimize_bfgs
  scipy/optimize/_optimize.py
Labels: defect, scipy.optimize

#19033 MAINT: Fix codespaces setup.sh script
  .devcontainer/setup.sh
Labels: maintenance, DX

#19045 MAINT: Change `add_newdoc` import and remove `NINF`
  scipy/odr/_add_newdocs.py
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, scipy.odr

#19047 Corrected a grammatical error in the docstring of class DOP853
  scipy/integrate/_ivp/rk.py
Labels: scipy.integrate

#19004 BUG: interpolate: fix spalde with len(c) < len(t)
  scipy/interpolate/fitpack/spalde.f
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack.py
Labels: defect, scipy.interpolate

#17918 BUG: Fix error in linalg/_matfuncs_sqrtm.py
  scipy/linalg/_matfuncs_sqrtm.py
Labels: defect, scipy.linalg, backport-candidate

#18929 ENH: change sparse dok from subclass of dict to have attribute dict
  scipy/sparse/_dok.py
Labels: enhancement, scipy.sparse

#18544 ENH: sparse.linalg: Implement matrix_power()
  scipy/sparse/_matrix.py
  scipy/sparse/linalg/__init__.py
  scipy/sparse/linalg/_matfuncs.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse.linalg

#18963 ENH:sparse.linalg: Add LaplacianNd class to special sparse arrays
  scipy/sparse/linalg/__init__.py
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/sparse/linalg/meson.build
  scipy/sparse/linalg/tests/meson.build
  scipy/sparse/linalg/tests/test_special_sparse_arrays.py
Labels: enhancement, scipy.linalg

#19054 MAINT: ensure cobyla objective returns scalar
  scipy/optimize/_cobyla_py.py
Labels: scipy.optimize, backport-candidate

#18197 ENH: Add derivatives for BarycentricInterpolator
  scipy/interpolate/_polyint.py
  scipy/interpolate/tests/test_polyint.py
Labels: enhancement, scipy.interpolate, needs-work

#19061 DOC: spell NaN -> nan
  scipy/linalg/_cythonized_array_utils.pyx
Labels: scipy.linalg

#19066 Update dfovec.py case 20 for zero indexing
  benchmarks/benchmarks/cutest/dfovec.py
Labels: scipy.optimize, Benchmarks

#19062 BLD: Replace complex occurences with singlecomplex in SuperLU
  scipy/__init__.py
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ccolumn_bmod.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ccopy_to_ucol.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cdiagonal.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgscon.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsequ.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsisx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsitrf.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsrfs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgssvx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgstrf.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgstrs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/clacon2.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/clangs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/claqgs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cldperm.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cmemory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cmyblas2.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpanel_bmod.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpanel_dfs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpivotgrowth.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpruneL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/creadhb.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/creadrb.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/creadtriple.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/csnode_bmod.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/csp_blas2.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/csp_blas3.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cutil.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/icmax1.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_ccopy_to_ucol.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_cdrop_row.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_cpanel_dfs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_cpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/scomplex.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/scsum1.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_cdefs.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_scomplex.h
  scipy/sparse/linalg/_dsolve/SuperLU/scipychanges-complex.patch
Labels: scipy.sparse.linalg, scipy.sparse, C/C++

#19070 DEP: odr: improved deprecation of private modules
  scipy/_lib/tests/test_public_api.py
  scipy/odr/models.py
  scipy/odr/odrpack.py
Labels: scipy.odr, scipy._lib, deprecated

#19067 DEP: remove all deprecated `scipy.<numpy-func>` objects
  benchmarks/benchmarks/sparse_linalg_lobpcg.py
  scipy/__init__.py
  scipy/_lib/tests/test__util.py
  scipy/fft/tests/meson.build
  scipy/fft/tests/test_fft_function.py
Labels: scipy._lib, maintenance, scipy.fft

#19035 DEP: linalg: improve deprecation of private modules named without underscore prefix
  scipy/_lib/tests/test_public_api.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/basic.py
  scipy/linalg/decomp.py
  scipy/linalg/decomp_cholesky.py
  scipy/linalg/decomp_lu.py
  scipy/linalg/decomp_qr.py
  scipy/linalg/decomp_schur.py
  scipy/linalg/decomp_svd.py
  scipy/linalg/flinalg.py
  scipy/linalg/matfuncs.py
  scipy/linalg/misc.py
  scipy/linalg/special_matrices.py
Labels: scipy.linalg, deprecated

#19076 MAINT: should not be using np.float64() on arrays
  scipy/integrate/_quadrature.py
Labels: scipy.integrate

#19074 TST: add regression test for sqrtm unexpectedly converting to complex
  scipy/linalg/tests/test_matfuncs.py
Labels: scipy.linalg

#18956 BUG: trust-constr Bounds exclusive
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: defect, scipy.optimize

#19055 MAINT: use `copy` utility from #19014 in `cluster`
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: scipy.cluster, array types

#18977 ENH: Expose c1 and c2 of scalar_search_wolfe to fmin_bfgs
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#19040 MAINT: prepare for SciPy 1.11.2
  .github/workflows/linux_meson.yml
  .github/workflows/linux_musl.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  README.rst
  _setup.py
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
  doc/source/release/1.11.2-notes.rst
  pyproject.toml
  scipy/interpolate/fitpack/spalde.f
  scipy/interpolate/src/fitpack.pyf
  scipy/interpolate/tests/test_fitpack.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/optimize/_cobyla_py.py
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_optimize.py
  scipy/optimize/cython_optimize.pxd
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/optimize/tests/test_lbfgsb_setulb.py
  scipy/optimize/tests/test_least_squares.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/spatial/_ckdtree.pyx
  scipy/special/specfun/specfun.f
  scipy/stats/_continuous_distns.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/_stats_py.py
  tools/lint.toml
  tools/wheels/cibw_before_build_linux.sh
Labels: scipy.stats, scipy.special, scipy.io, scipy.sparse.linalg, scipy.sparse, scipy.optimize, scipy.spatial, maintenance, Fortran

#19084 REL, MAINT: prep for 1.11.3
  doc/source/release.rst
  doc/source/release/1.11.3-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#19083 MAINT: forward port 1.11.2 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.11.2-notes.rst
Labels: maintenance

#19086 BLD: tweaks to build dependencies and 3.12 classifier in pyproject.toml
  pyproject.toml
Labels: maintenance

#19089 DOC: add comment on args in solve_ivp (#18876)
  scipy/integrate/_ivp/ivp.py
Labels: scipy.integrate, Documentation

#19087 DOC: add info about usage of ccache for benchmarks
  doc/source/dev/contributor/benchmarking.rst
Labels: Documentation

#19091 MAINT: optimize.root_scalar: handle args when method is newton and fprime is not provided
  scipy/optimize/_root_scalar.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#19081 ENH: optimize: c1 and c2 of scalar_search_wolfe to cg and newton-cg
  scipy/optimize/_linesearch.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#19093 MAINT: stats.zscore: return correct result when 0th element is masked
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#19094 BUG: optimize: update incorrect c1 value
  scipy/optimize/_linesearch.py
  scipy/optimize/_optimize.py
Labels: defect, scipy.optimize

#18927 TST: use Hypothesis for property-based tests
  .github/workflows/array_api.yml
  .github/workflows/linux_meson.yml
  .github/workflows/linux_musl.yml
  .github/workflows/windows.yml
  ci/cirrus_general_ci.yml
  doc/source/building/index.rst
  doc/source/dev/contributor/devpy_test.rst
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/dev_quickstart.rst
  doc/source/dev/toolchain.rst
  environment.yml
  pyproject.toml
  scipy/conftest.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#19104 MAINT: fix the CT subclass benchmark
  benchmarks/benchmarks/interpolate.py
Labels: scipy.interpolate, maintenance, Benchmarks

#19100 MAINT: Move `trapezoid` implementation to SciPy
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, maintenance

#19110 MAINT: Remove usages of np.row_stack and np.in1d
  scipy/integrate/tests/test_integrate.py
  scipy/interpolate/tests/test_fitpack.py
  scipy/signal/tests/test_spectral.py
  scipy/sparse/linalg/_onenormest.py
  scipy/special/tests/test_basic.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
Labels: maintenance

#19113 MAINT, TST: default_rng few tests
  scipy/_lib/tests/test__util.py
  scipy/cluster/tests/test_vq.py
Labels: maintenance

#18561 DOC:sparse: More properties and docs for sparse array classes
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_lil.py
Labels: scipy.sparse, Documentation

#18917 ENH: move {c, q}spline_1d to use sosfilt/lfilter
  scipy/signal/_bsplines.py
Labels: scipy.signal, maintenance

#19107 ENH: Use double precision numbers in specfun.f
  scipy/special/specfun/specfun.f
Labels: scipy.special, Fortran

#19115 ENH, TST: Use explicit imports in docstring examples
  scipy/io/_idl.py
  scipy/io/_netcdf.py
  scipy/io/arff/_arffread.py
  scipy/io/matlab/_byteordercodes.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/_miobase.py
  scipy/linalg/interpolative.py
  scipy/ndimage/_morphology.py
  scipy/signal/_arraytools.py
  scipy/signal/_bsplines.py
  scipy/signal/_filter_design.py
  scipy/signal/_ltisys.py
  scipy/signal/_peak_finding.py
  scipy/sparse/_sputils.py
  scipy/sparse/linalg/_dsolve/__init__.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_eigen/_svds_doc.py
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmc.py
Labels: Documentation, maintenance

#19057 ENH: add computing a selected number m of extreme eigenpairs in LaplacianNd class in _special_sparse_arrays.py
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/sparse/linalg/tests/test_special_sparse_arrays.py
Labels: enhancement, scipy.sparse.linalg, scipy.sparse

#19052 BENCH: update asv, fail benchmark CI on errors, fix fallout
  .circleci/config.yml
  benchmarks/asv.conf.json
  benchmarks/benchmarks/optimize_milp.py
  benchmarks/benchmarks/sparse_linalg_svds.py
  benchmarks/benchmarks/spatial.py
  benchmarks/benchmarks/stats.py
  dev.py
  environment.yml
Labels: Benchmarks, CI, DX

#19060 MAINT: port minpack2.dcsrch from Fortran to Python, remove Fortran code
  scipy/optimize/_dcsrch.py
  scipy/optimize/_linesearch.py
  scipy/optimize/meson.build
Labels: scipy.optimize, Fortran

#18850 ENH: improve performance of `SphericalVoronoi` area calculation
  benchmarks/benchmarks/spatial.py
  scipy/spatial/_spherical_voronoi.py
Labels: enhancement, scipy.spatial

#18846 MAINT: Reduce file size of the SVG files included in `signal.rst`
  doc/source/_static/tutorial_stft_sliding_win_start.svg
  doc/source/_static/tutorial_stft_sliding_win_stop.svg
  doc/source/tutorial/signal.rst
Labels: scipy.signal, maintenance

#18706 DOC: linalg: various doc improvements
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_qr.py
Labels: scipy.linalg, Documentation

#17757 DOC: clarify input dimensions for `directed_hausdorff` method
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#19124 BLD: Sort input file list
  scipy/special/utils/makenpz.py
Labels: Build issues

#19123 BLD: Avoid absolute pathnames in .pyx files
  scipy/special/_generate_pyx.py
Labels: Build issues

#19127 DOC: linalg: fix typos in pinv docs
  scipy/linalg/_basic.py
Labels: scipy.linalg, Documentation

#14103 DOC: integrate: Add complex matrix DE solution to examples
  scipy/integrate/_ivp/ivp.py
Labels: scipy.integrate, Documentation

#19111 BUG: Fixes #19103 by adding back make_strictly_feasible to lsq trf.
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_least_squares.py
Labels: defect, scipy.optimize, backport-candidate

#19135 MAINT: signal: Remove the cval parameter from the private function _pad_test.
  scipy/signal/_upfirdn_apply.pyx
Labels: scipy.signal, backport-candidate, Cython

#17495 DOC: Optimize: update DE documentation
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize, Documentation

#19136 MAINT: remove NumPy infty alias
  scipy/sparse/linalg/_isolve/lsmr.py
Labels: maintenance

#19141 MAINT: more NumPy API shims
  scipy/linalg/tests/test_decomp_update.py
  scipy/special/tests/test_lambertw.py
Labels: maintenance

#18650 ENH: integrate._tanhsinh: tanh-sinh quadrature
  scipy/integrate/_tanhsinh.py
  scipy/integrate/meson.build
  scipy/integrate/tests/test_quadrature.py
  scipy/optimize/_zeros_py.py
Labels: enhancement, scipy.integrate

#19129 DOC:Added Examples To `combine_pvalues` and `fhtoffset`
  scipy/fft/_fftlog.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation, scipy.fft

#19095 ENH: optimize: add inv Hess estimate in BFGS
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize

#18714 ENH: Improve beta entropy when one argument is large
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18986 ENH: add possibility to fix parameters in multivariate normal fit
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#18893 ENH: Geometric quality metrics for random sampling
  scipy/stats/_qmc.py
  scipy/stats/qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement

#19152 DOC: fix predeces(s)or typo.
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_traversal.pyx
Labels: Documentation, scipy.sparse.csgraph

#19162 ENH: Allow `sparse_mtx.transpose(axes=(1, 0))`
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#19165 DEP: improve deprecation warnings for constants module
  scipy/_lib/tests/test_public_api.py
  scipy/constants/codata.py
  scipy/constants/constants.py
Labels: scipy.constants, deprecated

#19166 MAINT: Reflect changes from `numpy` namespace refactor Part 5
  scipy/io/_idl.py
Labels: maintenance

#17697 ENH: special: Improvements for the incomplete beta functions.
  scipy/sparse/csgraph/tests/test_spanning_tree.py
  scipy/special/__init__.py
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_hypergeometric.py
  scipy/special/tests/test_mpmath.py
Labels: enhancement, scipy.special, C/C++
