Repository scipy/scipy, pull requests merged in 2023-06, with the labels that each got.

#18133 BUG: Fix fails of some tests and bad behaviour for x=zeta in levy_stable
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#18586 ENH: override sf for rdist distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18496 ENH: Faster _select_samples in _differential_evolution.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/stats/tests/test_fit.py
Labels: enhancement, scipy.optimize

#18608 Fix typo of module name in deprecation warning
  scipy/signal/__init__.py
Labels: scipy.signal

#18606 ENH: override sf for Pearson3 distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18594 DOC: more explicit example usage of scipy.linalg.lu_factor
  scipy/linalg/_decomp_lu.py
Labels: scipy.linalg, Documentation

#18610 DEP: stats: remove deprecated binom_test
  scipy/stats/__init__.py
  scipy/stats/_morestats.py
  scipy/stats/morestats.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#18599 Revert "ENH: sparse: Add _array version of `diags` creation functions…
  scipy/sparse/__init__.py
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Labels: scipy.sparse

#18552 DOC: stats.laplace_asymmetric: note relationship between scale and lambda
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#14552 BUG: Fix LSODA interpolation scheme
  scipy/integrate/_ivp/common.py
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/lsoda.py
  scipy/integrate/_ivp/tests/test_ivp.py
Labels: defect, scipy.integrate

#18617 MAINT: interpolate: delete duplicated FITPACK bisplev interface
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/src/_fitpackmodule.c
Labels: scipy.interpolate, maintenance

#18612 DEP: stats.iqr: remove deprecated `scale='raw'`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#18616 ENH: override sf in loglaplace distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18620 MAINT: signal: avoid eval/exec in hilbert2
  scipy/signal/_signaltools.py
Labels: scipy.signal, maintenance

#18614 ENH: override sf for loguniform/reciprocal distribution
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, enhancement

#18629 Mark `void` functions as `noexcept` in _rotation.pyx
  scipy/spatial/transform/_rotation.pyx
Labels: scipy.spatial, maintenance, backport-candidate

#18598 CI: fix wheel upload to anaconda [wheel build]
  ci/cirrus_wheels.yml
Labels: Official binaries, backport-candidate, CI

#18633 BUG: Fix issue levy_stable.pdf
  scipy/stats/_levy_stable/__init__.py
Labels: scipy.stats

#18640 MAINT: Fix lint warnings in `_traversal.pyx`
  scipy/sparse/csgraph/_traversal.pyx
Labels: scipy.sparse, scipy.sparse.csgraph

#18641 ENH: makes `_covariance` a cached property
  scipy/stats/_covariance.py
Labels: scipy.stats

#18156 ENH: Added loggamma entropy method
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18492 Add NdBSpline: n-dim tensor product b-spline object
  mypy.ini
  scipy/interpolate/__init__.py
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_ndbspline.py
  scipy/interpolate/meson.build
  scipy/interpolate/tests/test_bsplines.py
Labels: enhancement, scipy.interpolate, Cython

#18465 ENH: asymptotic expansion for multivariate t entropy
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#18499 ENH: asymptotic expansion for beta entropy for large a and b
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18652 BUG: Fixes how the length of argument x of linalg.blas.?gbmv is checked
  scipy/linalg/fblas_l2.pyf.src
  scipy/linalg/tests/test_blas.py
Labels: defect, scipy.linalg

#18570 ENH:optimize: Rewrite nnls in Python
  scipy/optimize/__nnls.pyi
  scipy/optimize/__nnls/nnls.f
  scipy/optimize/__nnls/nnls.pyf
  scipy/optimize/_nnls.py
  scipy/optimize/meson.build
  scipy/optimize/setup.py
  scipy/optimize/tests/test_nnls.py
Labels: enhancement, scipy.optimize, maintenance

#18658 TST: fix two test failures that showed up on conda-forge
  scipy/optimize/tests/test__shgo.py
  scipy/special/tests/test_hypergeometric.py
Labels: scipy.special, scipy.optimize, maintenance, backport-candidate

#18659 DOC: `scipy._sensitivity_analysis`: correct statement about sums of Sobol' indices; and improve clarity and grammar
  scipy/stats/_sensitivity_analysis.py
Labels: scipy.stats, Documentation, backport-candidate

#18661 CI: update `SCIPY_NIGHTLY_UPLOAD_TOKEN` on CirrusCI.
  ci/cirrus_wheels.yml
Labels: CI

#18571 ENH: linalg: Add wrapper for `?tgsyl`
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#18636 MAINT: stats.truncnorm/stats.betaprime: fix _munp for higher moments, add tests
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance, backport-candidate

#18666 DEV: update environment.yml, removing setuptools
  environment.yml
Labels: maintenance, DX

#18664 ENH: stats.dirichlet: add covariance method
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#18630 MAINT: stats: remove long double support for all boost ufuncs
  scipy/stats/_boost/include/code_gen.py
  scipy/stats/tests/test_boost_ufuncs.py
Labels: scipy.stats, Build issues, backport-candidate, C/C++

#18672 BUG: small shim for release process
  tools/write_release_and_log.py
Labels: defect, backport-candidate

#18677 TST: linalg: improve seeding of some tests that are a problem on musllinux
  ci/cirrus_general_ci.yml
  scipy/_lib/_testutils.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_decomp.py
Labels: scipy.linalg, maintenance

#18676 BUG: signal: fix detrend with array-like bp
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal, backport-candidate

#18681 CI: put back an upper bound on setuptools in environment.yml
  environment.yml
Labels: maintenance, CI

#18682 TST: stats: fix xslow test failures
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance

#18686 DEV: Add ability to run memory benchmarks on macOS
  benchmarks/benchmarks/common.py
Labels: Benchmarks, DX

#18671 MAINT: backports for 1.11.0rc2
  .circleci/config.yml
  .github/workflows/linux_meson.yml
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
  doc/source/_static/version_switcher.json
  doc/source/conf.py
  doc/source/release/1.11.0-notes.rst
  meson.build
  scipy/io/_mmio.py
  scipy/optimize/tests/test__shgo.py
  scipy/signal/__init__.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/spatial/transform/_rotation.pyx
  scipy/special/tests/test_hypergeometric.py
  scipy/stats/_boost/include/code_gen.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_boost_ufuncs.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  tools/write_release_and_log.py
Labels: scipy.stats, scipy.special, scipy.io, scipy.optimize, scipy.signal, scipy.spatial, maintenance

#18690 DOC: mention that `genlogistic` is one of several types of generalized logistic distributions
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#18376 ENH: CloughTocher2DInterpolator multiple times with different values
  benchmarks/benchmarks/interpolate.py
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/interpnd.pyx
Labels: enhancement, scipy.interpolate, needs-work

#18488 MAINT:ENH:sparse.linalg: Rewrite iterative solvers in Python, remove FORTRAN code
  scipy/optimize/tests/test_nonlin.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/iterative/BiCGREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/BiCGSTABREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/CGREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/CGSREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/GMRESREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/QMRREVCOM.f.src
  scipy/sparse/linalg/_isolve/iterative/_iterative.pyf.src
  scipy/sparse/linalg/_isolve/iterative/getbreak.f.src
  scipy/sparse/linalg/_isolve/meson.build
  scipy/sparse/linalg/_isolve/setup.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: enhancement, scipy.sparse.linalg, Documentation, maintenance

#18692 MAINT: signal: replace `np.r_["-1", arrays]` by a more sane incantation
  scipy/signal/_filter_design.py
Labels: scipy.signal, maintenance

#18696 MAINT Fix broken link in scipy.optimize._differentialevolution.py
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize, Documentation

#18693 DOC: remove twine GPG from rel docs
  doc/source/dev/core-dev/releasing.rst.inc
Labels: Documentation

#18477 DOC: stats.truncnorm: add example about truncation points
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#18699 DEP: integrate: deprecate old aliases
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.integrate, deprecated

#18698 DEP: interpolate: delay interp2d deprecation and update link
  scipy/interpolate/_interpolate.py
Labels: scipy.interpolate, deprecated

#17719 ENH: Add Chandrupatla's algorithm to optimize._zeros_py.py to allow operating on vectors.
  scipy/optimize/_tstutils.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: enhancement, scipy.optimize

#18710 MAINT: remove np.r_["-1", ...]
  scipy/linalg/_decomp_svd.py
  scipy/signal/_lti_conversion.py
Labels: scipy.linalg, scipy.signal, maintenance

#18708 MAINT: signal/dlsim: avoid using interp1d; use make_interp_spline instead
  scipy/signal/_ltisys.py
Labels: scipy.signal, maintenance

#18697 MAINT: NumPy 1.25.0 shims for arm64
  scipy/optimize/_linprog_highs.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.optimize, maintenance, backport-candidate

#18713 MAINT: fix linter error in `_fitpack_impl.py`
  scipy/interpolate/_fitpack_impl.py
Labels: scipy.interpolate

#18219 DEP: integrate: Deprecate `initial` values other than None or 0 in cumulative_trapezoid
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, deprecated

#18715 MAINT: signal: remove duplicated _atleast_2d_or_none
  scipy/signal/_ltisys.py
Labels: scipy.signal, maintenance

#18695 ENH: override halflogistic fit for free parameters
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18720 DOC: Fix notational variation in _lbfgsb_py.py: "pg_i" and "proj g_i" to "proj g_i"
  scipy/optimize/_lbfgsb_py.py
Labels: scipy.optimize, Documentation

#18624 DEP: adjust deprecation of positional arguments
  scipy/_lib/deprecation.py
  scipy/integrate/_quadrature.py
  scipy/signal/_fir_filter_design.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, scipy.special, scipy.signal, scipy.integrate, scipy._lib, maintenance, deprecated

#18705 MAINT Optimize link in scipy.optimize._differentialevolution.py
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize

#18719 MAINT: optimize._chandrupatla: result object fixup
  scipy/optimize/_optimize.py
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#18727 MAINT: Add skip CI link to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance

#18557 MAINT Remove redundant checks in sparse arrays and sparse matrices
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
Labels: scipy.sparse, maintenance

#18712 MAINT: bump minimal supported NumPy version to 1.22.4
  .github/workflows/linux_meson.yml
  .github/workflows/windows.yml
  doc/source/dev/toolchain.rst
  pyproject.toml
  scipy/__init__.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_resampling.py
  setup.py
Labels: scipy.stats, maintenance

#18718 TST: mark two tests of `lsq_linear` as xslow
  scipy/optimize/tests/test_lsq_linear.py
Labels: scipy.optimize, maintenance

#18729 DOC: Add note connecting weibull_min to standard exponential.
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#18726 ENH: improve halflogistic distribution fitting with fixed parameters
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18734 MAINT: Update codeowners
  .github/CODEOWNERS
Labels: github

#18738 TST: flaky `test_complex_iir_dlti`
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, backport-candidate

#18737 TST: flaky TestSOSFreqz::test_fs_param
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal, backport-candidate

#18743 MAINT: more 1.11.0 backports
  doc/source/release/1.11.0-notes.rst
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance

#18746 MAINT: forward port 1.11.0 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release/1.11.0-notes.rst
Labels: maintenance

#18747 REL, MAINT: prep for 1.11.1
  doc/source/release.rst
  doc/source/release/1.11.1-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#18744 TST:sparse.linalg:Relax test_hermitian_modes tolerances
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
Labels: scipy.sparse.linalg, maintenance

#18622 MAINT: Move rvs_ratio_uniforms to sampling
  scipy/stats/_rvs_sampling.py
  scipy/stats/_sampling.py
  scipy/stats/meson.build
  scipy/stats/sampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, deprecated

#18756 DOC: stats.boxcox_normmax: correct minimize -> maximize
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#18723 MAINT:sparse.linalg: Use _NoValue for deprecated kwargs
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, maintenance, deprecated

#18758 DOC: Document performance cliff for scipy.sparse.random
  scipy/sparse/_construct.py
Labels: scipy.sparse, Documentation

#18771 Fix typo from #18758
  scipy/sparse/_construct.py
Labels: scipy.sparse

#18762 FIX:linalg.lu:Guard against permute_l out of bound behavior
  scipy/linalg/_decomp_lu_cython.pyx
Labels: scipy.linalg, maintenance, backport-candidate

#18754 BUG: fix handling for `factorial(..., exact=False)` for 0-dim array inputs
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, backport-candidate

#18755 ENH: override isf for Burr distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: scipy.stats, enhancement

#18741 BUG: Fix work array construction for various weight shapes.
  scipy/odr/_odrpack.py
  scipy/odr/tests/test_odr.py
Labels: defect, scipy.odr

#18784 Allow johnsonsu parameters to be floats
  scipy/stats/_continuous_distns.py
Labels: scipy.stats

#18786 MAINT: forward port 1.11.1 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.11.1-notes.rst
Labels: maintenance

#18679 MAINT:stats:Cythonize and remove Fortran statlib code
  scipy/_lib/tests/test_public_api.py
  scipy/stats/__init__.py
  scipy/stats/_ansari_swilk_statistics.pyx
  scipy/stats/_morestats.py
  scipy/stats/meson.build
  scipy/stats/setup.py
  scipy/stats/statlib.py
  scipy/stats/statlib.pyf
  scipy/stats/statlib/ansari.f
  scipy/stats/statlib/spearman.f
  scipy/stats/statlib/swilk.f
Labels: scipy.stats, enhancement, maintenance

#18787 REL, MAINT: prep for 1.11.2
  doc/source/release.rst
  doc/source/release/1.11.2-notes.rst
  meson.build
  tools/version_utils.py
Labels: maintenance

#18790 DOC: Fix broken link to installation guide in README
  README.rst
Labels: Documentation

#18794 MAINT: fix `halflogistic.fit` for bad location guess
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#18760 ENH: override halfnorm fit
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#18764 ENH: stats: add informative error message to `boxcox_normmax` for non-positive input
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#18777 DOC: Clarify Prewitt filter
  scipy/ndimage/_filters.py
Labels: scipy.ndimage, Documentation

#18728 MAINT: optimize._chandrupatla: refactor for code reuse
  scipy/optimize/_zeros_py.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance
