Repository scipy/scipy, pull requests merged in 2024-07, with the labels that each got.

#21087 DOC: optimize: remove inadvertent block quote indentation
  scipy/optimize/_basinhopping.py
  scipy/optimize/_constraints.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/_linprog.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_minimize.py
  scipy/optimize/_minpack_py.py
  scipy/optimize/_nonlin.py
  scipy/optimize/_optimize.py
  scipy/optimize/_qap.py
  scipy/optimize/_root.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/_shgo.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/_tnc.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_zeros_py.py
Labels: scipy.optimize, Documentation

#21094 DOC: sparse.linalg.gcrotmk: fix backticks and add `maxiter` default
  scipy/sparse/linalg/_isolve/_gcrotmk.py
Labels: scipy.sparse.linalg, scipy.sparse, Documentation

#21098 DEV: don't add `sparse` label for submodules
  .github/label-globs.yml
Labels: DX

#21096 DOC: sparse.linalg.gcrotmk: add missing backticks
  scipy/sparse/linalg/_isolve/_gcrotmk.py
Labels: scipy.sparse.linalg, Documentation

#21101 DOC: special.ellipj: fix order of parameters in docstring
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#21103 MAINT: itemsize pybind cleanup
  scipy/spatial/src/distance_pybind.cpp
Labels: scipy.spatial, maintenance, C/C++

#20985 BLD: Add build only CI workflow for Windows using MSVC + ifx + OpenBLAS
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
  tools/install_intel_oneAPI_windows.bat
Labels: Build issues, CI

#20800 ENH: optimize.elementwise: vectorized scalar optimization and root finding tools
  doc/source/reference/optimize.elementwise.rst
  scipy/_lib/tests/test_public_api.py
  scipy/optimize/__init__.py
  scipy/optimize/_elementwise.py
  scipy/optimize/elementwise.py
  scipy/optimize/meson.build
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
Labels: enhancement, scipy.optimize, array types

#21109 MAINT: `stats.combine_pvalues`: fix native `axis` support for `method='stouffer'`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#21107 DOC: add release note for 1.14 sparse section about sparse array iteration
  doc/source/release/1.14.0-notes.rst
Labels: scipy.sparse, Documentation, backport-candidate

#21112 Update _differentialevolution.py
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize

#20558 ENH: linalg: Cythonize `id_dist` FORTRAN code
  mypy.ini
  scipy/linalg/_decomp_interpolative.pyx
  scipy/linalg/_interpolative_backend.py
  scipy/linalg/interpolative.py
  scipy/linalg/meson.build
  scipy/linalg/src/id_dist/README.txt
  scipy/linalg/src/id_dist/doc/doc.bib
  scipy/linalg/src/id_dist/doc/doc.tex
  scipy/linalg/src/id_dist/doc/supertabular.sty
  scipy/linalg/src/id_dist/src/dfft.f
  scipy/linalg/src/id_dist/src/id_rand.f
  scipy/linalg/src/id_dist/src/id_rtrans.f
  scipy/linalg/src/id_dist/src/idd_frm.f
  scipy/linalg/src/id_dist/src/idd_house.f
  scipy/linalg/src/id_dist/src/idd_id.f
  scipy/linalg/src/id_dist/src/idd_id2svd.f
  scipy/linalg/src/id_dist/src/idd_qrpiv.f
  scipy/linalg/src/id_dist/src/idd_sfft.f
  scipy/linalg/src/id_dist/src/idd_snorm.f
  scipy/linalg/src/id_dist/src/idd_svd.f
  scipy/linalg/src/id_dist/src/iddp_aid.f
  scipy/linalg/src/id_dist/src/iddp_asvd.f
  scipy/linalg/src/id_dist/src/iddp_rid.f
  scipy/linalg/src/id_dist/src/iddp_rsvd.f
  scipy/linalg/src/id_dist/src/iddr_aid.f
  scipy/linalg/src/id_dist/src/iddr_asvd.f
  scipy/linalg/src/id_dist/src/iddr_rid.f
  scipy/linalg/src/id_dist/src/iddr_rsvd.f
  scipy/linalg/src/id_dist/src/idz_frm.f
  scipy/linalg/src/id_dist/src/idz_house.f
  scipy/linalg/src/id_dist/src/idz_id.f
  scipy/linalg/src/id_dist/src/idz_id2svd.f
  scipy/linalg/src/id_dist/src/idz_qrpiv.f
  scipy/linalg/src/id_dist/src/idz_sfft.f
  scipy/linalg/src/id_dist/src/idz_snorm.f
  scipy/linalg/src/id_dist/src/idz_svd.f
  scipy/linalg/src/id_dist/src/idzp_aid.f
  scipy/linalg/src/id_dist/src/idzp_asvd.f
  scipy/linalg/src/id_dist/src/idzp_rid.f
  scipy/linalg/src/id_dist/src/idzp_rsvd.f
  scipy/linalg/src/id_dist/src/idzr_aid.f
  scipy/linalg/src/id_dist/src/idzr_asvd.f
  scipy/linalg/src/id_dist/src/idzr_rid.f
  scipy/linalg/src/id_dist/src/idzr_rsvd.f
  scipy/linalg/src/id_dist/src/prini.f
  scipy/linalg/tests/test_interpolative.py
Labels: enhancement, scipy.linalg, Fortran, Cython, Meson

#21113 MAINT, DOC: simplify docs warn filter
  doc/source/conf.py
Labels: Documentation, maintenance

#21104 MAINT: Unskip `scipy.misc.test.test_decorator` for Python 3.13+
  scipy/misc/tests/test_doccer.py
Labels: scipy.misc, maintenance

#21118 DOC: optimize: Add docstring to InverseJacobian
  scipy/optimize/_nonlin.py
Labels: scipy.optimize, Documentation

#21111 BUG: ndimage.binary_erosion: avoid divide by zero by capping block_size at size
  scipy/ndimage/src/ni_morphology.c
  scipy/ndimage/tests/test_morphology.py
Labels: defect, scipy.ndimage, C/C++

#21119 MAINT: remove another mpl test shim
  scipy/stats/tests/test_survival.py
Labels: scipy.stats, maintenance

#20794 ENH: stats: add array API support for `directional_stats`
  scipy/_lib/_array_api.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement, array types

#21124 MAINT: use `xp_vector_norm` instead of `xp.linalg.vector_norm`
  scipy/stats/_stats_py.py
Labels: scipy.stats, maintenance

#21125 MAINT: remove unused minpack2 fortran code
  .gitignore
  scipy/optimize/meson.build
  scipy/optimize/minpack2/dcsrch.f
  scipy/optimize/minpack2/dcstep.f
  scipy/optimize/minpack2/minpack2.pyf
Labels: scipy.optimize, maintenance, Fortran

#21120 BUG: cluster: Avoid OOB write when distances are NaN in `centroid`
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/tests/test_hierarchy.py
Labels: defect, scipy.cluster, Cython

#21097 ENH: `stats.boxcox_llf`: add array API support
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement, array types

#21127 TST: fix `boxcox_llf` test skips
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance, array types

#20898 MAINT: sparse: clean up `_sputils.getdtype` docstring
  scipy/sparse/_sputils.py
Labels: scipy.sparse, maintenance

#21128 TST: special.logsumexp: modernise tests
  scipy/special/tests/test_logsumexp.py
Labels: scipy.special, maintenance

#21132 TST: sparse.linalg: simplify dtypes def in `test_expm_multiply.py`
  scipy/sparse/linalg/tests/test_expm_multiply.py
Labels: scipy.sparse.linalg, maintenance

#21136 CI: update Anaconda.org upload tokens for Cirrus CI
  ci/cirrus_wheels.yml
Labels: CI

#20701 TST/MAINT: special: test with CuPy, make some CUDA fixes
  scipy/special/meson.build
  scipy/special/special/config.h
  scipy/special/special/error.h
  scipy/special/special/hyp2f1.h
  scipy/special/special/iv_ratio.h
  scipy/special/special/tools.h
  scipy/special/tests/meson.build
  scipy/special/tests/test_xsf_cuda.py
Labels: scipy.special, maintenance, C/C++, Meson

#21042 DOC: stats: Move biomedical examples to notebooks
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/hypothesis_tests.rst
  scipy/stats/_morestats.py
  scipy/stats/_multicomp.py
  scipy/stats/_odds_ratio.py
  scipy/stats/_qmc.py
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
Labels: scipy.stats, Documentation

#21141 DOC: Remove outdated comment about macos/musl in Cirrus CI config
  ci/cirrus_general_ci.yml
Labels: Documentation, CI

#20519 MAINT: signal: further refactor spline filters
  mypy.ini
  scipy/signal/__init__.py
  scipy/signal/_bspline_util.c.in
  scipy/signal/_spline_filters.py
  scipy/signal/_splinemodule.cc
  scipy/signal/_splinemodule.h
  scipy/signal/_splines.py
  scipy/signal/bsplines.py
  scipy/signal/meson.build
  scipy/signal/tests/meson.build
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_splines.py
Labels: scipy.signal, maintenance, C/C++, Meson

#21021 ENH:MAINT:optimize: Re-rewrite nnls in Cython
  scipy/optimize/_cython_nnls.pyx
  scipy/optimize/_nnls.py
  scipy/optimize/meson.build
  scipy/optimize/tests/test_nnls.py
Labels: enhancement, scipy.optimize, maintenance, Cython, Meson

#21041 ENH: `differentiate`: add sub-package for array-API compatible numerical differentiation tools
  .github/workflows/array_api.yml
  doc/source/reference/differentiate.rst
  doc/source/reference/index.rst
  doc/source/tutorial/index.rst
  scipy/__init__.py
  scipy/_lib/tests/test_public_api.py
  scipy/differentiate/__init__.py
  scipy/differentiate/_differentiate.py
  scipy/differentiate/meson.build
  scipy/differentiate/tests/__init__.py
  scipy/differentiate/tests/meson.build
  scipy/differentiate/tests/test_differentiate.py
  scipy/meson.build
  scipy/optimize/meson.build
  scipy/optimize/tests/meson.build
  tools/refguide_check.py
Labels: enhancement, scipy.optimize, scipy._lib, Documentation, Meson, array types, needs-release-note

#21143 MAINT: signal: Don't redefine `PyArray_MIN` macro
  scipy/signal/_splinemodule.cc
  scipy/signal/_splinemodule.h
Labels: scipy.signal, maintenance, C/C++

#21147 MAINT: optimize.curve_fit: improve error message
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_minpack.py
Labels: scipy.optimize, maintenance

#21085 DEP: spatial: deprecate complex input to `cosine` and `correlation`
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated, needs-release-note

#21151 DOC: interpolate: fix `py:obj reference target not found` warning
  scipy/interpolate/_polyint.py
Labels: scipy.interpolate, Documentation

#21154 DOC: fix documentation about verbose in minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
Labels: scipy.optimize, Documentation

#21146 MAINT: sparse.linalg: `spsolve` simplification
  scipy/sparse/linalg/_dsolve/linsolve.py
Labels: scipy.sparse.linalg, maintenance

#21116 BUG: `optimize.root_scalar`: let bracket be passed as a NumPy array
  scipy/optimize/_root_scalar.py
  scipy/optimize/tests/test_zeros.py
Labels: defect, scipy.optimize

#21123 DEV/CI: add `gmpy2` back to test dependencies
  pyproject.toml
  requirements/test.txt
  tools/generate_requirements.py
Labels: CI, DX

#21168 BLD: remove optional test dependencies from cibuildwheel config
  pyproject.toml
Labels: Build issues, Official binaries, maintenance

#21160 BUG: signal: fix crash under free-threaded CPython in medfilt2d
  scipy/signal/_medianfilter.c
  scipy/signal/_sigtoolsmodule.c
Labels: defect, scipy.signal, maintenance, C/C++, no-GIL

#21162 MAINT: `optimize.root_scalar`: ensure user function gets scalar argument
  scipy/optimize/_root_scalar.py
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#21179 BUG: special: `cupy` import guard
  scipy/special/tests/test_xsf_cuda.py
Labels: defect, scipy.special

#21129 TST: sparse.linalg: test all dtypes for `lobpcg` B-orthonormalization
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: scipy.sparse.linalg, maintenance

#20058 DOC:signal: Suggest remedies for slow speed in `resample` when the number of samples is prime and large.
  scipy/signal/_signaltools.py
Labels: scipy.signal, Documentation

#21185 DOC: optimize: Mark `x1` as optional for secant root finding
  scipy/optimize/_root_scalar.py
Labels: scipy.optimize, Documentation

#20834 ENH: integrate.nsum: elementwise evaluation of finite or infinite series
  scipy/integrate/__init__.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Labels: enhancement, scipy.integrate, needs-release-note

#21186 DOC: array->array_like in a few functions
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/optimize/_elementwise.py
Labels: scipy.optimize, scipy.integrate, Documentation, scipy.differentiate

#21131 ENH:optimize: Rewrite MINPACK in C
  scipy/optimize/__minpack.c
  scipy/optimize/__minpack.h
  scipy/optimize/_minpack_py.py
  scipy/optimize/_minpackmodule.c
  scipy/optimize/meson.build
  scipy/optimize/minpack.h
  scipy/optimize/minpack/chkder.f
  scipy/optimize/minpack/dogleg.f
  scipy/optimize/minpack/dpmpar.f
  scipy/optimize/minpack/enorm.f
  scipy/optimize/minpack/fdjac1.f
  scipy/optimize/minpack/fdjac2.f
  scipy/optimize/minpack/hybrd.f
  scipy/optimize/minpack/hybrd1.f
  scipy/optimize/minpack/hybrj.f
  scipy/optimize/minpack/hybrj1.f
  scipy/optimize/minpack/lmder.f
  scipy/optimize/minpack/lmder1.f
  scipy/optimize/minpack/lmdif.f
  scipy/optimize/minpack/lmdif1.f
  scipy/optimize/minpack/lmpar.f
  scipy/optimize/minpack/lmstr.f
  scipy/optimize/minpack/lmstr1.f
  scipy/optimize/minpack/minpack.txt
  scipy/optimize/minpack/qform.f
  scipy/optimize/minpack/qrfac.f
  scipy/optimize/minpack/qrsolv.f
  scipy/optimize/minpack/r1mpyq.f
  scipy/optimize/minpack/r1updt.f
  scipy/optimize/minpack/rwupdt.f
Labels: enhancement, scipy.optimize, maintenance, C/C++, Fortran, Meson

#21171 DEV: fix `--debug` and add `--release` to `dev.py build`
  dev.py
Labels: DX

#21194 MAINT: `stats.differential_entropy`: fix results with integer input and `method='ebrahimi'`
  scipy/stats/_entropy.py
  scipy/stats/tests/test_entropy.py
Labels: scipy.stats, maintenance

#21163 MAINT: special: Make fixes needed for ellipkinc and ellipeinc to work on CUDA
  scipy/special/meson.build
  scipy/special/special/cephes/ellie.h
  scipy/special/special/cephes/ellik.h
  scipy/special/tests/test_xsf_cuda.py
Labels: scipy.special, maintenance, C/C++, Meson

#21196 DEV: add label glob for `scipy.differentiate`
  .github/label-globs.yml
Labels: DX

#20539 ENH: special: Overhaul of Legendre functions
  mypy.ini
  scipy/special/__init__.py
  scipy/special/_basic.py
  scipy/special/_gufuncs.cpp
  scipy/special/_gufuncs_docs.cpp
  scipy/special/_input_validation.py
  scipy/special/_multiufuncs.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/meson.build
  scipy/special/special.h
  scipy/special/special/config.h
  scipy/special/special/gamma.h
  scipy/special/special/legendre.h
  scipy/special/special/recur.h
  scipy/special/special/sph_harm.h
  scipy/special/special/tuples.h
  scipy/special/tests/meson.build
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
  scipy/special/ufunc.h
Labels: enhancement, scipy.special, C/C++, needs-release-note

#21200 DOC: Fix type of ``html_sidebars`` value in ``conf.py``
  doc/source/conf.py
Labels: Documentation, CI

#21121 BUG: cluster: Fix `fcluster` `"maxclust"` binary search logic
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/tests/test_hierarchy.py
Labels: defect, scipy.cluster, Cython

#21157 DEP: `stats.find_repeats`: deprecate function
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated, needs-release-note

#21203 BUG: optimize: Avoid sharing BFGS HessianUpdateStrategy between constraints
  scipy/optimize/_constraints.py
  scipy/optimize/_trustregion_constr/tests/meson.build
  scipy/optimize/_trustregion_constr/tests/test_nested_minimize.py
Labels: defect, scipy.optimize

#21209 BUG: fft: fix array-like input
  scipy/fft/_basic_backend.py
  scipy/fft/_fftlog_backend.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_real_transforms.py
Labels: defect, backport-candidate, scipy.fft

#21213 MAINT, DOC: bump jupyterlite-sphinx lower bound
  pyproject.toml
  requirements/doc.txt
Labels: Documentation, CI

#21068 ENH: `stats.zmap`/`zscore`/`gzscore`: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#21222 BUG: special: `cython_special` missing dep
  scipy/special/meson.build
Labels: defect, scipy.special, Meson

#21225 MAINT: io: move `_test_fortran` under `tests`
  scipy/io/meson.build
  scipy/io/tests/_test_fortran.f
  scipy/io/tests/meson.build
  scipy/io/tests/test_fortran.py
  scipy/io/tests/test_fortran.pyf
Labels: scipy.io, maintenance, Fortran, Meson

#21215 MAINT: `_lib`: update `_docscrape` from upstream
  scipy/_lib/_docscrape.py
  tools/lint.toml
Labels: scipy._lib, maintenance

#21235 MAINT: interpolate: remove `README`
  scipy/interpolate/README
Labels: scipy.interpolate, maintenance

#21089 ENH: `stats.alexandergovern`: vectorize calculation for n-D arrays
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, needs-release-note

#21242 BUG: sparse: fix two slow tests that fail in numpy 2 inside A.nnz
  scipy/sparse/_bsr.py
Labels: defect, scipy.sparse

#21244 BUG: sparse: fix failing doctests in io and csgraph that print sparse
  scipy/io/_harwell_boeing/hb.py
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_traversal.pyx
Labels: defect, scipy.io, scipy.sparse, scipy.sparse.csgraph, Cython

#21245 DOC: add sphinx-copybutton
  doc/source/conf.py
  environment.yml
  pyproject.toml
  requirements/doc.txt
Labels: Documentation

#21252 DOC: `integrate.solve_bvp`: make notation consistent
  scipy/integrate/_bvp.py
Labels: scipy.integrate, Documentation

#21243 BENCH: fix `--compare` in `python dev.py bench`
  benchmarks/asv.conf.json
Labels: Benchmarks

#21223 MAINT: interpolate: remove several fused type uses from `_bspl.pyx`
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_ndbspline.py
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, Cython

#21265 BUG: fix cstddef include
  scipy/special/special/config.h
Labels: defect, scipy.special, C/C++

#21259 BUG: interpolate: avoid OOB in the periodic spline constructor
  scipy/interpolate/_bsplines.py
Labels: defect, scipy.interpolate, Cython

#21267 MAINT: add Stack Overflow link to readme file
  README.rst
Labels: maintenance

#21260 BUG: io.loadmat: fix read of large Matlab 4 arrays
  scipy/io/matlab/_mio4.py
  scipy/io/matlab/tests/data/debigged_m4.mat
  scipy/io/matlab/tests/meson.build
  scipy/io/matlab/tests/test_mio.py
Labels: defect, scipy.io

#21271 DOC: stats: silence the doctest error
  doc/source/tutorial/stats/sampling_tdr.rst
Labels: scipy.stats, Documentation

#21274 MAINT: sparse.linalg: update `SuperLU/colamd.c` to fix license issue
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/colamd.c
Labels: scipy.sparse.linalg, maintenance, backport-candidate, C/C++

#21268 MAINT/BENCH: optimize: fix `CosineMixture` reference
  benchmarks/benchmarks/go_benchmark_functions/go_funcs_C.py
Labels: scipy.optimize, maintenance, Benchmarks

#21216 ENH: `integrate._tanhsinh`: add array API support
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/_lib/_elementwise_iterative_method.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Labels: enhancement, scipy.integrate, scipy._lib, array types

#21276 MAINT: Fix incorrectly named 1234 Hz fs .wav test file
  scipy/io/tests/data/test-1234Hz-le-1ch-10S-20bit-extra.wav
  scipy/io/tests/meson.build
  scipy/io/tests/test_wavfile.py
Labels: scipy.io, maintenance

#21278 BLD: bump cibuildwheel closes #21275
  .github/workflows/free_threaded_wheels.yml
  .github/workflows/wheels.yml
Labels: Build issues, CI

#21240 ENH: sparse: refactor 2-D COO sparse-dense matrix-matrix multiplication
  scipy/sparse/_coo.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/coo.h
  scipy/sparse/tests/test_coo.py
Labels: enhancement, scipy.sparse, C/C++

#21247 ENH: linalg.nullspace: expose SVD options
  scipy/linalg/_decomp_svd.py
  scipy/linalg/tests/test_decomp.py
Labels: enhancement, scipy.linalg

#21281 MAINT: `test_maxiter_worsening` cleanup
  dev.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance

#21150 ENH: ndimage: add array API standard support
  .github/workflows/array_api.yml
  mypy.ini
  pytest.ini
  scipy/_lib/_array_api.py
  scipy/ndimage/__init__.py
  scipy/ndimage/_dispatchers.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/_ndimage_api.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/_support_alternative_backends.py
  scipy/ndimage/meson.build
  scipy/ndimage/tests/__init__.py
  scipy/ndimage/tests/test_c_api.py
  scipy/ndimage/tests/test_datatypes.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/ndimage/tests/test_ni_support.py
  scipy/ndimage/tests/test_splines.py
  scipy/signal/_savitzky_golay.py
  scipy/signal/tests/test_savitzky_golay.py
Labels: enhancement, scipy.ndimage, scipy._lib, array types, needs-release-note

#21282 TST: ndimage: unskip `test_boundary_spline_accuracy` for `torch`
  scipy/ndimage/tests/test_interpolation.py
Labels: scipy.ndimage, maintenance

#21284 MAINT: Remove mutable defaults in function definitions, forbid new uses of mutable defaults with linter
  scipy/_build_utils/_generate_blas_wrapper.py
  scipy/cluster/hierarchy.py
  scipy/integrate/tests/test_quadrature.py
  scipy/interpolate/tests/test_polyint.py
  scipy/io/_idl.py
  scipy/ndimage/_interpolation.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test_linprog.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/spatial/tests/test_distance.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/utils/datafunc.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_mstats_extras.py
  scipy/stats/_stats_py.py
  tools/lint.toml
Labels: maintenance
