Repository scipy/scipy, pull requests merged in 2024-05, with the labels that each got.

#20621 TYP: add type annotations to `scipy/_lib/_array_api.py`
  mypy.ini
  scipy/_lib/_array_api.py
  scipy/_lib/_util.py
Labels: scipy._lib, static typing, array types

#20480 CI: fail slow tests
  .github/workflows/windows.yml
  environment.yml
  pyproject.toml
  requirements/test.txt
  scipy/_lib/tests/test_import_cycles.py
  scipy/_lib/tests/test_warnings.py
  scipy/conftest.py
  scipy/linalg/tests/test_extending.py
  scipy/optimize/_trustregion_constr/tests/test_report.py
  scipy/optimize/tests/test_extending.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/tests/test_extending.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_stats.py
Labels: CI

#20628 TST: integrate.tanhsinh: make test case XSLOW
  scipy/integrate/tests/test_tanhsinh.py
Labels: scipy.integrate, maintenance

#20629 MAINT/DEV: lint: disable UP032
  tools/lint.toml
Labels: maintenance, DX

#20627 MAINT: special: Drop unused function_calls variable in kolmogorov.h
  scipy/special/special/cephes/kolmogorov.h
Labels: scipy.special, C/C++

#20625 TST: add dtype dependent default rtol to xp_assert_close
  scipy/_lib/_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.cluster, scipy._lib, maintenance, array types

#20597 ENH: stats.skewtest: add array-API support
  scipy/_lib/_array_api.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20633 BUG: fix Vor/Delaunay segfaults
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: defect, scipy.spatial, backport-candidate, Cython

#20611 BUG: prevent QHull message stream being closed twice
  scipy/spatial/_qhull.pyx
Labels: defect, scipy.spatial, Cython, no-GIL

#20631 ENH: stats.sem: add array-API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20595 ENH: stats.circ___: add array-API support
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/_lib/_util.py
  scipy/optimize/tests/test_minpack.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy._lib, CI, array types

#20547 DOC: stats.linregress: split stats/mstats documentation
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation, maintenance

#20640 TST: adjust new array API test, slow tests
  scipy/linalg/tests/test_extending.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.sparse.linalg, scipy.linalg, scipy.sparse, maintenance

#20637 MAINT: Fix broken links in `datasets._fetchers` module
  scipy/datasets/_fetchers.py
Labels: maintenance, scipy.datasets

#20604 ENH: stats.monte_carlo_test: add array API support
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_resampling.py
Labels: scipy.stats, enhancement, scipy._lib, CI, array types

#20642 TST: stats.ttest_1samp: fix xslow test
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#20645 ENH: optimize.approx_fprime: avoid quadratic memory usage
  scipy/optimize/_numdiff.py
Labels: enhancement, scipy.optimize

#20651 ENH: stats.kstat/kstatvar: add native support for `axis`
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, enhancement

#20647 ENH: stats.variation: add array-API support
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/_variation.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, enhancement, CI

#20654 MAINT: stats.yulesimon: fix kurtosis
  scipy/stats/_discrete_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, maintenance

#19833 ENH: sparse: Add csr 1d sparse arrays and test_arithmetic1d
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_csr.py
  scipy/sparse/tests/meson.build
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
Labels: enhancement, scipy.sparse

#20657 MAINT: remove unused variable in special
  scipy/special/special/tools.h
Labels: scipy.special, maintenance, C/C++

#20646 ENH: special: add `log_wright_bessel`
  scipy/special/__init__.py
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_ufuncs.pyi
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/special/wright_bessel.h
  scipy/special/special_wrappers.cpp
  scipy/special/special_wrappers.h
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_wright_bessel.py
Labels: enhancement, scipy.special, C/C++, Cython

#20490 BUG: sparse: raise error for array classes, document/test old behavior
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_lil.py
  scipy/sparse/tests/test_construct.py
Labels: defect, scipy.sparse

#20665 trust-constr make origin of error message clearer when there are more equality constraints than independent variables
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: scipy.optimize

#20304 ENH: interpolate: allow Akima extrapolation
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_interpolate.py
Labels: enhancement, scipy.interpolate

#20664 Fix typo in cont2discrete
  scipy/signal/_lti_conversion.py
Labels: scipy.signal, maintenance

#20658 ENH: stats.kurtosis: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20663 MAINT: stats.kruskal: fix no-arg behavior w/ SCIPY_ARRAY_API=1
  scipy/stats/_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, CI

#20630 ENH: optimize._jacobian: use _differentiate to compute accurate Jacobian
  scipy/optimize/_differentiate.py
  scipy/optimize/tests/test_differentiate.py
Labels: enhancement, scipy.optimize

#20444 BUG: sparse: Clean up 1D input handling to sparse array/matrix and add tests
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_dia.py
  scipy/sparse/_lil.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
Labels: defect, scipy.sparse

#20675 DOC: Fixed typo in signal.ellipap
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation

#20677 TST: test__differential_evolution tweaks for speed
  scipy/optimize/tests/test__differential_evolution.py
Labels: scipy.optimize, maintenance

#20676 MAINT: clarify dual_annealing-minimizer_kwargs docstring. Closes #20614
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize, maintenance

#20653 BUG: ndimage: fix origin handling for `{minimum, maximum}_filter`
  scipy/ndimage/_filters.py
  scipy/ndimage/tests/test_filters.py
Labels: defect, scipy.ndimage, backport-candidate

#20612 BLD: fix use of non-default interpreter, improve f2py handling
  .github/workflows/linux.yml
  meson.build
  mypy.ini
  pyproject.toml
  scipy/_build_utils/_generate_blas_wrapper.py
  scipy/_build_utils/echo.py
  scipy/_build_utils/meson.build
  scipy/_lib/_testutils.py
  scipy/integrate/meson.build
  scipy/integrate/tests/test_odeint_banded.pyf
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/_interpolate.py
  scipy/interpolate/dfitpack.py
  scipy/interpolate/meson.build
  scipy/interpolate/src/dfitpack.pyf
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_fitpack.py
  scipy/io/meson.build
  scipy/io/test_fortran.pyf
  scipy/linalg/_generate_pyx.py
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/meson.build
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/sparsetools/meson.build
  scipy/special/_generate_pyx.py
  scipy/special/meson.build
  scipy/stats/meson.build
  tools/generate_f2pymod.py
  tools/version_utils.py
Labels: enhancement, Build issues, CI, Fortran, Meson

#20679 MAINT: special.wright_bessel: add comment about reference text
  scipy/special/special/wright_bessel.h
Labels: scipy.special, maintenance, C/C++

#20684 MAINT: Fix missing whitespace in signal.iirdesign, spacing consistency fix
  scipy/signal/_filter_design.py
Labels: scipy.signal

#20698 DEV/BLD: add --with-accelerate flag to `dev.py build`
  .github/workflows/macos.yml
  dev.py
Labels: Build issues, DX

#20457 ENH: Add `scipy.special._ufuncs._iv_ratio`
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/special/config.h
  scipy/special/special/iv_ratio.h
  scipy/special/special/tools.h
  scipy/special/tests/meson.build
  scipy/special/tests/test_iv_ratio.py
Labels: enhancement, scipy.special, C/C++

#20705 MAINT: Add missing whitespace
  scipy/integrate/_ode.py
  scipy/interpolate/_bsplines.py
  scipy/linalg/_decomp_qr.py
  scipy/signal/_fir_filter_design.py
  scipy/spatial/_ckdtree.pyx
Labels: scipy.linalg, scipy.signal, scipy.interpolate, scipy.integrate, scipy.spatial, maintenance, Cython

#20689 ENH: optimize._chandrupatla: add array API support
  scipy/_lib/_array_api.py
  scipy/_lib/_elementwise_iterative_method.py
  scipy/integrate/_tanhsinh.py
  scipy/optimize/_bracket.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/_differentiate.py
  scipy/optimize/tests/test_chandrupatla.py
Labels: enhancement, scipy.optimize, scipy._lib, array types

#20467 MAINT: stats._contains_nan: fix bug when -inf and inf are in sample
  scipy/_lib/_util.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy._lib, maintenance

#20673 ENH: stats.entropy, special.{entr, rel_entr}: add array API support
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_entropy.py
  scipy/stats/tests/test_entropy.py
Labels: scipy.stats, enhancement, scipy.special, array types

#20667 ENH: stats.describe: add array API support
  scipy/_lib/_util.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20656 ENH: Micro-optimizations for spatial.transform.Rotation methods
  scipy/spatial/transform/_rotation.pyx
Labels: enhancement, scipy.spatial, Cython

#20711 MAINT: numpy cleanup version bumps: fixes issue #20458
  scipy/__init__.py
  scipy/conftest.py
  scipy/sparse/tests/test_base.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#20649 MAINT: sparse: reformat str and repr for sparse arrays, correct 1D coords, improve dtype looks
  doc/source/tutorial/sparse.rst
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/_harwell_boeing/hb.py
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_construct.py
  scipy/sparse/_dia.py
  scipy/sparse/_extract.py
  scipy/sparse/_lil.py
  scipy/sparse/_matrix_io.py
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_traversal.pyx
  scipy/sparse/linalg/_matfuncs.py
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/sparse/tests/test_base.py
  scipy/stats/_crosstab.py
Labels: scipy.sparse, maintenance

#20687 BUG: sparse: Fix summing duplicates for CSR/CSC creation from (data,coords)
  scipy/sparse/_compressed.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse, backport-candidate

#18926 ENH: Move symiirorder1/2, cspline2d, qspline2d and spline_filter to use sosfilt/lfilter
  scipy/signal/__init__.py
  scipy/signal/_bspline_util.c.in
  scipy/signal/_bsplines.py
  scipy/signal/_spline.pyi
  scipy/signal/_splinemodule.c
  scipy/signal/_splinemodule.h
  scipy/signal/_splines.py
  scipy/signal/meson.build
  scipy/signal/spline.py
  scipy/signal/tests/meson.build
  scipy/signal/tests/test_splines.py
Labels: scipy.signal, maintenance, C/C++

#20469 MAINT/CI: Remove doctesting from refguide-check
  dev.py
  tools/refguide_check.py
Labels: Documentation, CI

#20644 BUG: ndimage.value_indices: deal with unfixed types
  scipy/ndimage/src/nd_image.c
  scipy/ndimage/tests/test_measurements.py
Labels: defect, scipy.ndimage, backport-candidate, C/C++

#20699 TST: fix CI failures in `test_all_nograd_minimizers`
  scipy/optimize/tests/test__basinhopping.py
Labels: scipy.optimize, maintenance, CI

#20727 CI: pin Python for MacOS conda
  .github/workflows/macos.yml
Labels: maintenance, backport-candidate, CI

#20730 BUG: special: fix algorithmic error in `ratevl` in `cephes/polevl.h`
  scipy/special/special/cephes/polevl.h
Labels: defect, scipy.special, C/C++

#20715 ENH: stats.kurtosistest: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20737 TST, MAINT: run optimize array API tests and fix `chandrupatla`
  .github/workflows/array_api.yml
  scipy/optimize/_chandrupatla.py
  scipy/optimize/_tstutils.py
  scipy/optimize/tests/test_chandrupatla.py
Labels: scipy.optimize, maintenance, array types

#20085 ENH: array types: add JAX support
  .github/workflows/array_api.yml
  dev.py
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy.special, scipy.cluster, scipy._lib, scipy.fft, Cython, array types

#20741 MAINT: optimize: another fail_slow exception for COBYQA
  scipy/optimize/tests/test_constraint_conversion.py
Labels: scipy.optimize, maintenance

#20732 BUG: interpolate: do not segfault on bad boundary conditions
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#19900 MAINT/TST: fft: remove xp backend skips, test `fftfreq` `device`
  scipy/_lib/_array_api.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
Labels: maintenance, scipy.fft, array types

#20745 BUG: Fix incorrect brackets in cephes hyperg.h
  scipy/special/special/cephes/hyperg.h
Labels: defect, scipy.special, C/C++

#20744 MAINT: use PyTorch 2.3 in CI, fix CuPy failures, more type annotations for `_array_api.py`
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/optimize/_milp.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy._lib, maintenance, CI, static typing, array types

#20748 TST: bump tolerance to address local `test_axis_nan_policy` failures
  scipy/stats/tests/test_axis_nan_policy.py
Labels: scipy.stats, maintenance

#20738 DOC: sparse.csgraph.dijkstra: add warning for `directed=False` behaviour
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: scipy.sparse, Documentation, scipy.sparse.csgraph

#20702 BUG: stats: Fix `zipf.pmf` and `zipfian.pmf` for int32 `k`
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_distns.py
Labels: defect, scipy.stats, backport-candidate

#20750 ENH: some micro-optimisations for differential_evolution
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#20481 ENH: stats: Add the Irwin-Hall distribution
  benchmarks/benchmarks/stats.py
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement

#20746 DOC: stats: update formulas given for kstat/kstatvar to reflect implementations
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#20712 ENH/BLD: Add install tags for `tests`
  .github/workflows/linux.yml
  dev.py
  scipy/_lib/meson.build
  scipy/_lib/tests/meson.build
  scipy/cluster/tests/meson.build
  scipy/constants/tests/meson.build
  scipy/datasets/tests/meson.build
  scipy/fft/_pocketfft/tests/meson.build
  scipy/fft/tests/meson.build
  scipy/fftpack/tests/meson.build
  scipy/integrate/_ivp/tests/meson.build
  scipy/integrate/meson.build
  scipy/integrate/tests/meson.build
  scipy/interpolate/tests/meson.build
  scipy/io/_harwell_boeing/tests/meson.build
  scipy/io/arff/tests/meson.build
  scipy/io/matlab/tests/meson.build
  scipy/io/meson.build
  scipy/io/tests/meson.build
  scipy/linalg/tests/data/meson.build
  scipy/linalg/tests/meson.build
  scipy/meson.build
  scipy/misc/tests/meson.build
  scipy/ndimage/meson.build
  scipy/ndimage/tests/meson.build
  scipy/odr/tests/meson.build
  scipy/optimize/_trustregion_constr/tests/meson.build
  scipy/optimize/tests/meson.build
  scipy/signal/tests/meson.build
  scipy/sparse/csgraph/tests/meson.build
  scipy/sparse/linalg/_dsolve/tests/meson.build
  scipy/sparse/linalg/_eigen/arpack/tests/meson.build
  scipy/sparse/linalg/_eigen/lobpcg/tests/meson.build
  scipy/sparse/linalg/_eigen/tests/meson.build
  scipy/sparse/linalg/_isolve/tests/meson.build
  scipy/sparse/linalg/tests/meson.build
  scipy/sparse/tests/meson.build
  scipy/spatial/tests/meson.build
  scipy/spatial/transform/tests/meson.build
  scipy/special/meson.build
  scipy/special/tests/meson.build
  scipy/stats/tests/data/levy_stable/meson.build
  scipy/stats/tests/data/meson.build
  scipy/stats/tests/data/nist_anova/meson.build
  scipy/stats/tests/data/nist_linregress/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_generation/meson.build
  tools/check_installation.py
Labels: enhancement, Build issues, CI, Meson

#20726 DOC: stats.{circmean, circvar, circstd}: improve accuracy/clarity
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#20404 BUG: interpolate: fix high memory usage for 2 classes
  benchmarks/benchmarks/interpolate.py
  scipy/interpolate/interpnd.pyx
Labels: defect, scipy.interpolate, Cython

#20753 ENH: stats.chisquare/power_divergence: add array API support
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy.special, array types

#20769 MAINT: stats: move `multiscale_graphcorr` tests to save time
  scipy/stats/__init__.py
  scipy/stats/_mgc.py
  scipy/stats/_stats_py.py
  scipy/stats/meson.build
  scipy/stats/stats.py
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_mgc.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, Meson

#19673 DEP: signal: raise error using medfilt and order_filter with float128 and object dtypes
  scipy/signal/_signaltools.py
  scipy/signal/_sigtoolsmodule.c
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, deprecated

#20775 MAINT: forward port 1.13.1 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.13.1-notes.rst
Labels: Documentation, maintenance

#20776 REL, MAINT: prep for 1.13.2
  doc/source/release.rst
  doc/source/release/1.13.2-notes.rst
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: Documentation, maintenance, Meson

#20777 ENH: stats: end-to-end array-API support for normality tests
  scipy/_lib/_array_api.py
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy._lib, array types

#20778 DOC: signal: Documentation improvements of `detrend` function
  doc/source/tutorial/signal.rst
  scipy/signal/_signaltools.py
Labels: scipy.signal, Documentation

#20764 TST: stats.fit: address xslow test failures
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance

#20781 TST: stats: remove overhead of array_namespace in calls to _get_pvalue
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/_survival.py
  scipy/stats/_wilcoxon.py
Labels: scipy.stats, enhancement, array types

#20716 DEP: integrate.quad_vec: deprecate `quadrature="trapz"`
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
  tools/refguide_check.py
Labels: scipy.integrate, deprecated

#20497 DEP: interpolate: replace interp2d by stub
  benchmarks/benchmarks/interpolate.py
  doc/source/notebooks/interp_transition_guide.md
  doc/source/tutorial/index.rst
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/interp_transition_guide.md
  doc/source/tutorial/interpolate/plots/output_10_0.png
  doc/source/tutorial/interpolate/plots/output_12_0.png
  doc/source/tutorial/interpolate/plots/output_18_0.png
  doc/source/tutorial/interpolate/plots/output_20_0.png
  doc/source/tutorial/interpolate/plots/output_28_1.png
  doc/source/tutorial/interpolate/plots/output_34_1.png
  doc/source/tutorial/interpolate/plots/output_36_1.png
  doc/source/tutorial/interpolate/plots/output_38_1.png
  scipy/interpolate/_interpolate.py
  scipy/interpolate/tests/test_interpolate.py
  tools/refguide_check.py
Labels: scipy.interpolate, deprecated

#20782 ENH: stats: end-to-end array-API support for NHSTs with chi-squared null distribution
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy.special, array types

#20787 DOC: interpolate: mention default kinds in interp2d transition guide
  doc/source/tutorial/interpolate/interp_transition_guide.md
Labels: scipy.interpolate, Documentation

#20790 BUG: special: remove redundant `Py_Initialize`
  scipy/special/ufunc.h
Labels: defect, scipy.special, C/C++

#20722 ENH: sparse: Speed up `_add_sparse` for DIA format
  scipy/sparse/_dia.py
Labels: enhancement, scipy.sparse

#20791 TST: optimize: fix failing tests for `_bracket_minimum`
  scipy/optimize/tests/test_bracket.py
Labels: scipy.optimize, maintenance

#20079 ENH: io: Read and write wav files of size > 4GB
  scipy/io/tests/data/test-44100Hz-le-1ch-4bytes-rf64.wav
  scipy/io/tests/data/test-8000Hz-le-3ch-5S-24bit-rf64.wav
  scipy/io/tests/meson.build
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: enhancement, scipy.io

#20696 MAINT: stats.gstd: return result rather than raising
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, deprecated

#20770 MAINT: optimize: remove circular reference in `ScalarFunction`
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/tests/test_differentiable_functions.py
Labels: scipy.optimize, maintenance

#20672 CI: fail slow tests (not `--full`)
  .github/workflows/windows.yml
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/dev/contributor/devpy_test.rst
  environment.yml
  scipy/_lib/tests/test__util.py
  scipy/datasets/tests/test_data.py
  scipy/fft/tests/test_multithreading.py
  scipy/fftpack/tests/test_import.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_quadpack.py
  scipy/integrate/tests/test_quadrature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/interpolate/tests/test_rgi.py
  scipy/io/tests/test_mmio.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/optimize/tests/test__basinhopping.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__dual_annealing.py
  scipy/optimize/tests/test__shgo.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_trustregion_exact.py
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: CI

#20795 MAINT: fix warnings about `noexcept` and `except *` in Cython code
  scipy/optimize/_highs/cython/src/_highs_wrapper.pyx
  scipy/stats/_stats.pxd
  scipy/stats/_stats.pyx
Labels: scipy.stats, scipy.optimize, maintenance, Cython

#20765 MAINT: stats.wilcoxon: make `method='exact'` symmetric w/ ties
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#20798 MAINT: special: fix numpy initialization, avoid build warnings
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/ufunc.h
Labels: scipy.special, maintenance, C/C++

#20796 BLD: optimize: silence build warnings coming from HiGHS
  scipy/meson.build
  scipy/optimize/_highs/meson.build
Labels: scipy.optimize, Build issues, maintenance, Meson

#20757 ENH: speed up for differential_evolution updating='deferred'
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#20804 MAINT: remove pytest-fail-slow from pyproject.toml
  pyproject.toml
  requirements/test.txt
Labels: maintenance

#15321 ENH: fft: Add `prev_fast_len` to complement `next_fast_len`
  scipy/fft/__init__.py
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/helper.py
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/fft/tests/test_helper.py
Labels: enhancement, scipy.fft, C/C++

#20807 TST: stats.nbinom: adjust cdf-ppf roundtrip test
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, maintenance

#20805 BUG: special: Restore missing line of code in the function cchg().
  scipy/special/special/specfun/specfun.h
  scipy/special/tests/test_hypergeometric.py
  scipy/special/tests/test_specfun.py
Labels: defect, scipy.special, C/C++

#20812 DOC: extend "building reproducible binaries" page
  doc/source/building/redistributable_binaries.rst
Labels: Documentation

#20780 DEP: special.comb: deprecate `exact=True` for non-integer intputs
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, deprecated

#20815 DOC: integrate: odeint user functions must not modify y.
  scipy/integrate/_odepack_py.py
Labels: scipy.integrate, Documentation

#20814 TST: optimize.differential_evolution: add fail-slow exception
  scipy/optimize/tests/test__differential_evolution.py
Labels: scipy.optimize, maintenance

#20694 MAINT: stats: make reducing functions emit consistent warning when sample is too small or empty
  doc/source/conf.py
  scipy/_lib/tests/test_warnings.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, maintenance

#20789 DEP: stats.linregress: deprecate one-arg use
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, deprecated, needs-release-note

#20582 MAINT: optimize.isotonic_regression: remove unnecessary copies
  scipy/optimize/_isotonic.py
  scipy/optimize/tests/test_isotonic_regression.py
Labels: scipy.optimize, maintenance

#20824 TST: optimize.dual_annealing: add fail_slow exception missing from original PR
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize, maintenance

#20799 DOC: ndimage: improve grayscale morphology docstrings
  scipy/ndimage/_morphology.py
Labels: scipy.ndimage, Documentation

#20792 BUG: sparse: Fix argmin/max shape diff between axis 0/1. And min/max can now return 1D shapes when axis set.
  scipy/sparse/_data.py
  scipy/sparse/tests/test_minmax1d.py
Labels: defect, scipy.sparse

#20784 DOC: SciPy 1.14.0 relnotes
  .mailmap
  doc/source/release/1.14.0-notes.rst
Labels: Documentation

#20827 REL: set version to 1.15.0.dev0
  doc/source/release.rst
  doc/source/release/1.15.0-notes.rst
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: Documentation, maintenance, Meson

#20773 BUG: sparse.csgraph, array types: support non-zero `fill_value`s
  scipy/sparse/_sputils.py
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_validation.py
  scipy/sparse/csgraph/tests/test_pydata_sparse.py
Labels: defect, scipy.sparse, scipy.sparse.csgraph, Cython, array types

#20829 MAINT: special: fix typo in `four_gammas` used by `hyp2f1`
  scipy/special/special/hyp2f1.h
Labels: scipy.special, maintenance, C/C++

#20831 MAINT: version pins/prep for 1.14.0rc1
  ci/cirrus_wheels.yml
  pyproject.toml
  scipy/__init__.py
  tools/version_utils.py
Labels: maintenance, CI

#20822 CI: Add Linux workflow to test on free-threaded Python builds
  .github/workflows/linux.yml
  scipy/misc/tests/test_doccer.py
Labels: CI, no-GIL

#20833 BUG: interpolate: make BSpline.integrate always return an array
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#20839 REL: set 1.14.0rc2 unreleased
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: maintenance, Meson

#20820 BLD: Warning fix from ``scipy/special/special/gamma.h``
  scipy/special/special/gamma.h
  scipy/special/special/loggamma.h
Labels: scipy.special, C/C++

#20838 DOC: sparse: 1.14.0 release notes additions
  doc/source/release/1.14.0-notes.rst
Labels: Documentation

#20837 MAINT: linalg: add `const` to Cython function signatures
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_matfuncs_sqrtm_triu.pyx
  scipy/linalg/_solve_toeplitz.pyx
Labels: scipy.linalg, maintenance, Cython

#20828 DEP: deprecate trapz alias of `stats.trapezoid` distribution
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, backport-candidate, deprecated

#20841 DOC: add cobyqa website reference
  scipy/optimize/_cobyqa_py.py
Labels: scipy.optimize, Documentation, backport-candidate

#20846 DOC: Wrap long titles in docs pages
  doc/source/_static/scipy.css
Labels: Documentation

#17348 BUG: integrate: make `select_initial_step` aware of integration interval
  scipy/integrate/_ivp/bdf.py
  scipy/integrate/_ivp/common.py
  scipy/integrate/_ivp/radau.py
  scipy/integrate/_ivp/rk.py
  scipy/integrate/_ivp/tests/test_ivp.py
Labels: defect, scipy.integrate
