Repository scipy/scipy, pull requests merged in 2024-08, with the labels that each got.

#21231 ENH: `optimize.elementwise.find_minimum`: add array API support
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/_lib/_elementwise_iterative_method.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/tests/test_chandrupatla.py
Labels: enhancement, scipy.optimize, scipy._lib, array types

#21295 DOC: find_simplex no self
  scipy/spatial/_qhull.pyx
Labels: scipy.spatial, Documentation, Cython

#21199 MAINT: bump pybind11, mark C/C++/Cython extension modules as safe to run without the GIL
  pyproject.toml
  requirements/build.txt
  scipy/_lib/_fpumode.c
  scipy/_lib/_uarray/_uarray_dispatch.cxx
  scipy/_lib/src/_test_ccallback.c
  scipy/fft/_pocketfft/pypocketfft.cxx
  scipy/integrate/_odepackmodule.c
  scipy/integrate/_quadpackmodule.c
  scipy/interpolate/src/_fitpackmodule.c
  scipy/meson.build
  scipy/ndimage/src/_ctest.c
  scipy/ndimage/src/nd_image.c
  scipy/odr/__odrpack.c
  scipy/optimize/__minpack.h
  scipy/optimize/_directmodule.c
  scipy/optimize/_lsap.c
  scipy/optimize/_pava/pava_pybind.cpp
  scipy/optimize/tests/_cython_examples/meson.build
  scipy/optimize/zeros.c
  scipy/signal/_sigtoolsmodule.c
  scipy/signal/_splinemodule.cc
  scipy/sparse/linalg/_dsolve/_superlumodule.c
  scipy/sparse/sparsetools/sparsetools.cxx
  scipy/spatial/src/distance_pybind.cpp
  scipy/spatial/src/distance_wrap.c
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
Labels: maintenance, C/C++, free-threading

#21299 DEV: `gh_lists`: improve sanitization of backticks
  tools/gh_lists.py
Labels: DX

#21167 ENH: interpolate: add AAA algorithm for rational approximation
  LICENSES_bundled.txt
  benchmarks/benchmarks/interpolate.py
  scipy/interpolate/__init__.py
  scipy/interpolate/_aaa.py
  scipy/interpolate/meson.build
  scipy/interpolate/tests/meson.build
  scipy/interpolate/tests/test_aaa.py
Labels: enhancement, scipy.interpolate, needs-release-note

#21305 MAINT: `stats.bartlett`: ensure statistic is non-negative
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#21294 TST: fix GPU failures
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_helper.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/ndimage/tests/test_splines.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, array types

#21304 TST: Fix bugs in various tests found via linter
  scipy/differentiate/tests/test_differentiate.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/io/tests/test_wavfile.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_sketches.py
  scipy/sparse/tests/test_dok.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#21313 BUG: find_simplex shape () segfault
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: defect, scipy.spatial, Cython

#21316 MAINT: special.chdtr: fix generic chdtr
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: scipy.special, maintenance, array types

#21318 BUG: special: Fix bug in beta ppf by setting correct Boost policy
  scipy/special/boost_special_functions.h
  scipy/special/tests/test_boost_ufuncs.py
Labels: defect, scipy.special, C/C++

#21312 MAINT: special: fix Pylance typing nit
  scipy/special/_support_alternative_backends.py
Labels: scipy.special, maintenance

#21315 CI: Update to cibuildwheel 2.20.0
  .github/workflows/free_threaded_wheels.yml
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
Labels: backport-candidate, CI

#21320 BUG: odr: fix pickling
  scipy/odr/_odrpack.py
  scipy/odr/tests/test_odr.py
Labels: defect, scipy.odr

#16467 ENH: sparse: add nonzero functionality to `min, max, argmin, argmax`
  benchmarks/benchmarks/sparse.py
  scipy/sparse/_data.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#21324 DOC: Don't use Sphinx 8.0.0 until gh-21323 is resolved.
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  pyproject.toml
  requirements/doc.txt
Labels: Documentation, CI

#21322 BUG: stats: Allow betaprime._ppf to accept scalars.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#21326 MAINT: stats: Improve precision of argus.sf.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#21329 MAINT: interpolate.AAA: improve input validation of `max_terms`
  scipy/interpolate/_aaa.py
  scipy/interpolate/tests/test_aaa.py
Labels: scipy.interpolate, maintenance

#21328 ENH: linalg: add Python wrapper of `?gtcon`
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#21333 DOC:integrate.simpson: Remove reference to removed `even` param
  scipy/integrate/_quadrature.py
Labels: scipy.integrate, Documentation

#21310 MAINT/DOC: clean up `_lib._array_api`, update docs
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_array_api.py
  scipy/_lib/_elementwise_iterative_method.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
  scipy/conftest.py
  scipy/fft/_fftlog_backend.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/_tnc.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy._lib, Documentation, maintenance, DX, array types

#21342 MAINT: stats: fix test that discrete distribution methods accept lists
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
Labels: scipy.stats, maintenance

#21335 BUG/ENH: stats: updates for cauchy.
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/functions.json
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, enhancement, scipy.special, C/C++

#21336 ENH: linalg: Add `sy/hetrs` LAPACK wrappers
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#21344 BLD: require Meson 1.5.0, fix a missing build dependency for `cython_special`
  .github/workflows/linux.yml
  .github/workflows/windows_intel_oneAPI.yml
  meson.build
  scipy/_build_utils/echo.py
  scipy/linalg/meson.build
  scipy/special/meson.build
Labels: scipy.special, Build issues, CI, Meson

#21309 MAINT:integrate: Fix an off-by-one error in QUADPACK
  scipy/integrate/__quadpack.c
Labels: scipy.integrate, maintenance, C/C++

#12824 ENH: `linalg.solve`: detect and exploit matrix structure
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg

#21353 MAINT: `stats.randint.pmf`: fix zero PMF values within the support
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_distns.py
Labels: scipy.stats, maintenance

#21283 BUG: stats: adapt to `np.floor` type promotion removal
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_basic.py
Labels: defect, scipy.stats, backport-candidate

#21331 ENH: linalg: add Python wrapper of ?trcon
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#21346 TST: special: Fix two XSLOW tests.
  scipy/special/tests/test_mpmath.py
Labels: defect, scipy.special, maintenance

#21349 TST: linalg: skip `svd_gesdd` test for large matrices for/in WebAssembly
  scipy/linalg/tests/test_decomp.py
Labels: scipy.linalg, maintenance

#21355 MAINT: `stats.geom.rvs`: ensure that output is not negative for small shape
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#21365 BUG: interpolate: FITPACK: remove `fpchec.f` in-line `if-then-endif` constructs
  scipy/interpolate/fitpack/fpchec.f
Labels: defect, scipy.interpolate, Fortran

#21368 DOC: fixes ISSUE#21366
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#21375 MAINT: Add local resources for smoke-tutorials
  scipy/conftest.py
Labels: maintenance

#21367 MAINT: `stats.mannwhitneyu`: simplify alternative hypotheses
  scipy/stats/_mannwhitneyu.py
Labels: scipy.stats, Documentation, maintenance

#21360 BLD: use OpenBLAS v0.3.28 with fewer kernels, fix OpenBLAS licences
  requirements/openblas.txt
  tools/wheels/LICENSE_linux.txt
  tools/wheels/LICENSE_osx.txt
  tools/wheels/LICENSE_win32.txt
Labels: Build issues, maintenance

#21387 DOC: signal: fix typos in `_short_time_fft.py` and `signal.rst`
  doc/source/tutorial/signal.rst
  scipy/signal/_short_time_fft.py
Labels: scipy.signal, Documentation

#21388 ENH: special: Improve precision of special.logit.
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_logit.py
  scipy/special/xsf/log_exp.h
Labels: enhancement, scipy.special, C/C++

#21395 DOC: stats.ecdf: fix example plot
  scipy/stats/_survival.py
Labels: scipy.stats, Documentation

#21399 MAINT: optimize: remove unnecessary `isnan` check
  scipy/optimize/_dual_annealing.py
Labels: scipy.optimize, maintenance

#21400 BUG: sparse: Fix 1D specialty hstack codes
  scipy/sparse/_construct.py
  scipy/sparse/tests/test_construct.py
Labels: defect, scipy.sparse, backport-candidate

#21358 BUG/ENH: stats.crystalball: implement `_sf`
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, enhancement

#21172 BUG: sparse.linalg: Update `SuperLU` to fix unfilterable output for singular matrices
  scipy/sparse/linalg/_dsolve/SuperLU/README
  scipy/sparse/linalg/_dsolve/SuperLU/README.scipy
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cdiagonal.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgscon.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsisx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsitrf.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgsrfs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgssv.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgssvx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cgstrs.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cldperm.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cmemory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/colamd.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/csp_blas2.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/cutil.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dgscon.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dgsisx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dgssv.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dgssvx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dldperm.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/dpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/get_perm_c.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/heap_relax_snode.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_cpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_dpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_relax_snode.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_spivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/ilu_zpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/memory.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/mmd.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/relax_snode.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sgscon.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sgsisx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sgssv.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sgssvx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sldperm.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_cdefs.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_scomplex.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_sdefs.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_util.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/slu_zdefs.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sp_coletree.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sp_ienv.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/sp_preorder.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/spivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/superlu_config.h
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/superlu_timer.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/util.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgscon.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgsisx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgsitrf.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgssv.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zgssvx.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zldperm.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zpanel_bmod.c
  scipy/sparse/linalg/_dsolve/SuperLU/SRC/zpivotL.c
  scipy/sparse/linalg/_dsolve/SuperLU/scipychanges.patch
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
Labels: defect, scipy.sparse.linalg, backport-candidate, C/C++

#21321 BUG: linalg: fix `solve_banded` raising `IndexError` when `m=1`
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: defect, scipy.linalg

#21377 BENCH: Update BlockDiagSparseConstruction to use a `coo_matrix` instead of a standard numpy array
  benchmarks/benchmarks/sparse.py
Labels: scipy.sparse, Benchmarks

#21352 ENH: `linalg.lapack.?lantr`: add Python wrapper
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg, needs-release-note

#21211 DEP: signal.{correlate,convolve,lfilter}: deprecate object arrays and longdoubles
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, deprecated, needs-release-note

#21371 BUG: stats.tukeylambda: Fix the support() method.
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats

#20496 DOC: stats: added `Raises` section to a few functions
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#21347 BUG/ENH: stats: Cauchy distribution fixes
  scipy/stats/_constants.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: defect, scipy.stats, enhancement

#21409 BLD: cp313 wheels on `manylinux_aarch64`
  ci/cirrus_wheels.yml
Labels: Build issues, backport-candidate, CI

#21401 MAINT: special: Accommodate changed integer handling in NumPy 2.0.
  scipy/special/_generate_pyx.py
  scipy/special/_ufuncs_extra_code_common.pxi
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/orthogonal_eval.pxd
  scipy/special/tests/meson.build
  scipy/special/tests/test_cephes_intp_cast.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_ufunc_signatures.py
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Labels: scipy.special, maintenance, backport-candidate, C/C++, Cython

#21319 BUG: sparse: fix sparray errors found by applying `test_base` to sparray directly
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/_index.py
Labels: defect, scipy.sparse

#21397 DOC/DEV: add `pooch` to virtualenv dev quickstart guide
  doc/source/dev/dev_quickstart.rst
Labels: Documentation, DX

#21425 DOC: linalg.qr: add example about explicit permutation matrix
  scipy/linalg/_decomp_qr.py
Labels: scipy.linalg, Documentation

#21431 REL, MAINT: prep for 1.14.2
  doc/source/release.rst
  doc/source/release/1.14.2-notes.rst
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: Documentation, maintenance, Meson

#21430 MAINT: forward port 1.14.1 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.14.1-notes.rst
Labels: Documentation, maintenance

#20514 TST/BUG: linalg.expm: empty array support
  scipy/linalg/_matfuncs.py
  scipy/linalg/tests/test_matfuncs.py
Labels: defect, scipy.linalg, maintenance

#20520 BUG: linalg.polar: empty array support
  scipy/linalg/tests/test_decomp_polar.py
Labels: defect, scipy.linalg

#21257 MAINT: BUG: fixed issue where optimization method trust-constr evaluated bound constraint violating iterations
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: defect, scipy.optimize, maintenance

#20528 BUG: `linalg.solve_{sylvester, continuous_lyapunov}`: empty array support
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_solvers.py
Labels: defect, scipy.linalg

#21373 ENH: interpolate.AAA: add cleanup function for removing spurious poles
  scipy/interpolate/_aaa.py
  scipy/interpolate/tests/test_aaa.py
Labels: enhancement, scipy.interpolate

#21443 DOC/DEV/CI: mambaforge -> miniforge
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  doc/source/building/index.rst
  doc/source/dev/contributor/debugging_linalg_issues.rst
Labels: Documentation, CI, DX

#21444 DOC: optimize: make `lsq_linear` example smaller
  scipy/optimize/_lsq/lsq_linear.py
Labels: scipy.optimize, Documentation, maintenance

#21437 TST/DOC: smoke docs: strict checks
  doc/source/tutorial/interpolate/1D.rst
  doc/source/tutorial/io.rst
  doc/source/tutorial/linalg.rst
  doc/source/tutorial/ndimage.rst
  scipy/conftest.py
  scipy/datasets/_fetchers.py
  scipy/differentiate/_differentiate.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_misc.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/signal/_signaltools.py
  scipy/sparse/_construct.py
  scipy/sparse/_extract.py
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/spatial/_kdtree.py
  scipy/spatial/_procrustes.py
  scipy/special/_basic.py
  scipy/stats/_multivariate.py
Labels: Documentation, maintenance

#21441 DOC: special: prolate spheroidal docs wrong
  scipy/special/_special_ufuncs_docs.cpp
Labels: scipy.special, Documentation, C/C++

#19145 ENH: stats: add Landau distribution
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_landau.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement, needs-work

#20713 ENH: optimize.HessianUpdateStrategy: add `__matmul__`
  scipy/optimize/_hessian_update_strategy.py
  scipy/optimize/tests/test_hessian_update_strategy.py
Labels: enhancement, scipy.optimize

#21449 DEV/MAINT: Add `±` and `∞` to the extra set of allowed Unicode characters of linter
  tools/unicode-check.py
Labels: maintenance, DX

#21451 Add missing call to example code
  doc/source/tutorial/interpolate/ND_regular_grid.rst
Labels: Documentation

#21450 Use miniforge for uploading wheel builds
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
Labels: maintenance, CI

#21455 TYP: ignore missing sphinx import in mypy.ini
  mypy.ini
Labels: static typing

#16090 ENH: vectorize companion matrix function
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg, needs-work

#21429 MAINT: `linalg.schur`: fix `sort='iuc'/'ouc'`, correct documentation, and add tests
  scipy/linalg/_decomp_schur.py
  scipy/linalg/tests/test_decomp.py
Labels: scipy.linalg, maintenance

#21428 DOC: linalg.hankel: emphasize that first element of `r` is ignored
  scipy/linalg/_special_matrices.py
Labels: scipy.linalg, Documentation

#21458 DOC: signal.firls: fix broken link
  scipy/signal/_fir_filter_design.py
Labels: scipy.signal

#21427 DOC: linalg.cholesky: document when/whether only selected half of matrix is referenced
  scipy/linalg/_decomp_cholesky.py
Labels: scipy.linalg, Documentation

#21361 BLD: switch to more robust git hash determination
  doc/Makefile
  doc/source/dev/core-dev/releasing.rst.inc
  meson.build
  scipy/_lib/tests/test_scipy_version.py
  scipy/meson.build
  tools/gitversion.py
  tools/version_utils.py
  tools/write_release_and_log.py
Labels: scipy._lib, Build issues, Documentation, DX, Meson

#21440 ENH: linalg.funm: Pythranize double for loop
  scipy/linalg/_linalg_pythran.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/meson.build
Labels: enhancement, scipy.linalg, Meson

#21334 TST: add `xfail_xp_backends`
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_morphology.py
Labels: scipy.ndimage, maintenance, array types

#21464 CI: remove `fetch-depth: 0` from wheel build jobs
  .github/workflows/lint.yml
  .github/workflows/wheels.yml
Labels: CI

#21457 MAINT: few scipy cleanups
  meson.options
  scipy/io/arff/_arffread.py
  scipy/io/matlab/tests/test_mio.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_trustregion.py
  scipy/optimize/tests/test_trustregion_exact.py
  scipy/optimize/tests/test_trustregion_krylov.py
  scipy/special/_testutils.py
  tools/lint.toml
Labels: scipy.special, scipy.io, scipy.optimize, maintenance

#21467 STY: fix new lint rules that are popping up in CI
  scipy/linalg/tests/test_basic.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_short_time_fft.py
  scipy/signal/_signaltools.py
  scipy/sparse/_construct.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, scipy.linalg, scipy.sparse, scipy.optimize, scipy.signal, CI

#21468 MAINT: special: remove more functions from `functions.json`
  scipy/special/_add_newdocs.py
  scipy/special/_cunity.pxd
  scipy/special/_factorial.pxd
  scipy/special/_generate_pyx.py
  scipy/special/_hyp0f1.pxd
  scipy/special/_sici.pxd
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/orthogonal_eval.pxd
  scipy/special/xsf/alg.h
  scipy/special/xsf/bessel.h
  scipy/special/xsf/beta.h
  scipy/special/xsf/cephes/ellik.h
  scipy/special/xsf/cephes/hyperg.h
  scipy/special/xsf/cephes/incbet.h
  scipy/special/xsf/ellip.h
  scipy/special/xsf/ellipk.h
  scipy/special/xsf/fresnel.h
  scipy/special/xsf/gamma.h
  scipy/special/xsf/stats.h
  scipy/special/xsf/struve.h
  scipy/special/xsf/trig.h
  scipy/special/xsf/zeta.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Labels: scipy.special, maintenance, C/C++, Cython

#21474 DOC: use `https` URLs in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#21478 DOC: Fix version matching by extending the length of `GITVER`
  doc/Makefile
Labels: Documentation

#21472 MAINT: special: refactor `ufunc.h` and move to `xsf`
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/ufunc.h
  scipy/special/xsf/numpy.h
  tools/check_python_h_first.py
Labels: scipy.special, maintenance, C/C++

#20809 ENH: ndimage: extend ndimage filter axes support to correlate and convolve
  scipy/ndimage/_filters.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#21485 MAINT: interpolate: abstract out barycentric representation of a rational function
  scipy/interpolate/__init__.py
  scipy/interpolate/_bary_rational.py
  scipy/interpolate/meson.build
  scipy/interpolate/tests/meson.build
  scipy/interpolate/tests/test_bary_rational.py
Labels: scipy.interpolate, maintenance, Meson

#21481 MAINT/DEV: pin sphinx in `environment.yml`, bump `jupyterlite-sphinx`
  environment.yml
  pyproject.toml
  requirements/doc.txt
Labels: maintenance, DX

#21471 BUG: sparse: undesired behaviour of 1D/2D matmul
  scipy/sparse/_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
Labels: defect, scipy.sparse

#21492 MAINT: Specify SHELL=/bin/bash in doc/Makefile
  doc/Makefile
Labels: Documentation, maintenance
