Repository scipy/scipy, pull requests merged in 2024-11, with the labels that each got.

#21794 BUG: stats.qmc: fix get_poly_vinit for multi-threading
  scipy/stats/_sobol.pyx
Labels: defect, scipy.stats, Cython

#21780 BUG: signal: Fix `ShortTimeFFT.extent()` for `fft_mode == 'centered'`
  scipy/signal/_short_time_fft.py
  scipy/signal/tests/test_short_time_fft.py
Labels: defect, scipy.signal

#21773 DEP: special: Remove `special.btdtr` and `special.btdtri`
  scipy/special/__init__.py
  scipy/special/_add_newdocs.py
  scipy/special/_ufuncs.pyi
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/xsf/stats.h
  scipy/special/xsf_wrappers.cpp
  scipy/special/xsf_wrappers.h
Labels: scipy.special, deprecated, needs-release-note

#21778 ENH: optimize: add array api support to `rosen` and friends
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: enhancement, scipy.optimize, scipy._lib, CI, array types

#21784 BUG: sparse: fix Asp @ vsp for 1D sparse vector and add tests
  scipy/sparse/_compressed.py
  scipy/sparse/tests/test_common1d.py
Labels: defect, scipy.sparse

#21792 BUG: sparse: fix setdiag for matrices with missing diagonal entries
  scipy/sparse/_compressed.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#21702 MAINT: special: clean up factorial corner cases, including complex nans
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, maintenance

#21700 ENH: `stats.Mixture`: add mixture distributions for new infrastructure
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement, needs-release-note

#21800 DOC: signal.find_peaks: Document that widths are returned
  scipy/signal/_peak_finding.py
Labels: scipy.signal, Documentation

#21710 ENH: sparse.linalg: convert sparse.linalg to use sparray internally
  doc/source/tutorial/examples/newton_krylov_preconditioning.py
  scipy/sparse/linalg/_dsolve/__init__.py
  scipy/sparse/linalg/_dsolve/_add_newdocs.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/_svds_doc.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/lsmr.py
  scipy/sparse/linalg/_isolve/lsqr.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/_isolve/tests/test_lsmr.py
  scipy/sparse/linalg/_isolve/tests/test_lsqr.py
  scipy/sparse/linalg/_isolve/tfqmr.py
  scipy/sparse/linalg/_matfuncs.py
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/_onenormest.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/linalg/tests/test_norm.py
  scipy/sparse/linalg/tests/test_propack.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: enhancement, scipy.sparse.linalg, Documentation

#21695 ENH: `stats.chisquare`: add `sum_check` to disable check that total observed/expected counts are equal
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, Documentation

#21808 BUG:signal.correlation_lags: fail with meaningful error message if the mode is unknown
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#21726 ENH: linalg.solve: add `assume_a='banded'`
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg

#21774 API: `optimize.differential_evolution`: transition to Generator (SPEC 7)
  scipy/_lib/_util.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/stats/_fit.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.optimize, scipy._lib, maintenance

#21815 TST: interpolate: parametrize tests on `griddata`
  scipy/interpolate/tests/test_ndgriddata.py
Labels: scipy.interpolate, maintenance

#21818 CI: Replace deadsnakes 3.13t by Quansight-Labs/setup-python action
  .github/workflows/linux.yml
Labels: CI, free-threading

#21821 TST: optimize: mark MIP6 tests xslow
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_milp.py
  scipy/sparse/linalg/tests/test_propack.py
Labels: scipy.sparse.linalg, scipy.optimize, maintenance

#21793 CI: Move free-threaded-wheels.yml into wheels.yml
  .github/workflows/free_threaded_wheels.yml
  .github/workflows/wheels.yml
  tools/wheels/cibw_before_build_win.sh
Labels: CI, free-threading

#21825 DOC: make `_transition_to_rng` replace documentation of `rng`
  scipy/_lib/_util.py
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize, scipy._lib, Documentation

#21802 MAINT: special: remove dependence of `xsf::numpy` on `sf_error`
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/xsf/numpy.h
Labels: scipy.special, maintenance, C/C++

#21831 DOC: fixup `_transition_to_rng` Oldest GCC `"'rng' is not in list"` error
  scipy/_lib/_util.py
Labels: scipy._lib, Documentation

#21832 CI: constrain array-api-strict version to allow conversion to NumPy array
  .github/workflows/array_api.yml
  environment.yml
  pyproject.toml
  requirements/test.txt
Labels: CI

#21834 DOC: fft.fht: fix typo in example
  scipy/fft/_fftlog.py
Labels: Documentation, scipy.fft

#21785 MAINT: optimize : migration to sparray pass 1 changes
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize, maintenance

#21823 API: `optimize.dual_annealing`: adopt SPEC007
  scipy/_lib/tests/test__util.py
  scipy/optimize/_dual_annealing.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize, maintenance

#21841 DOC: tone down the text of the "legacy" admonition
  doc/source/conf.py
Labels: Documentation

#19475 ENH: stats.lmoment: add function to calculate sample L-moments
  scipy/stats/__init__.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, needs-release-note

#21822 TST: `stats.fit`: adjust tests for `seed`->`rng` transition
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance

#21446 ENH: linalg: enable N-D batch support in special matrix functions
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg

#21849 DOC: interpolate: declare 1D FITPACK wrappers legacy
  scipy/interpolate/_fitpack2.py
  scipy/interpolate/_fitpack_py.py
Labels: scipy.interpolate, Documentation

#21851 STY: add comment about allowed whitespace in table
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#21850 BUG: linalg.svd: avoid segmentation fault
  scipy/linalg/_decomp_svd.py
Labels: defect, scipy.linalg

#21853 DOC: replace only first paragraph of rng documentation
  scipy/_lib/_util.py
Labels: scipy._lib, Documentation

#21845 MAINT: SPEC-007 optimize.check_grad
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, maintenance

#21847 MAINT: SPEC-007 basinhopping
  scipy/optimize/_basinhopping.py
  scipy/optimize/tests/test__basinhopping.py
Labels: scipy.optimize, maintenance

#21856 MAINT, TST: `test_create_diagonal` GPU support
  scipy/_lib/tests/test_array_api.py
Labels: scipy._lib, maintenance, array types

#21354 MAINT: `stats.rv_discrete.ppf`: fix infinite loop bug
  scipy/stats/_distn_infrastructure.py
  scipy/stats/tests/test_discrete_distns.py
Labels: scipy.stats, maintenance

#21857 BLD: warn on accelerate + non-native
  scipy/meson.build
Labels: Build issues, Meson

#21840 DOC: interpolate: add a tutorial page for smoothing splines
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/smoothing_splines.rst
  scipy/interpolate/_fitpack_repro.py
Labels: scipy.interpolate, Documentation

#21827 BUG: special: Fix behavior of `gamma` and `gammasgn` at poles of the Gamma function
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_hyp2f1.py
  scipy/special/xsf/cephes/beta.h
  scipy/special/xsf/cephes/expn.h
  scipy/special/xsf/cephes/gamma.h
  scipy/special/xsf/cephes/hyp2f1.h
  scipy/special/xsf/cephes/hyperg.h
  scipy/special/xsf/cephes/incbet.h
  scipy/special/xsf/cephes/jv.h
  scipy/special/xsf/cephes/rgamma.h
  scipy/special/xsf/cephes/struve.h
  scipy/special/xsf/hyp2f1.h
Labels: defect, scipy.special, C/C++

#21861 MAINT: special: Use consistent std::isnan and std::isinf in a few C++ headers
  scipy/special/boost_special_functions.h
  scipy/special/xsf/bessel.h
  scipy/special/xsf/sph_bessel.h
Labels: scipy.special, C/C++

#21865 MAINT: `fft`: Remove outdated documentation workaround
  doc/source/conf.py
Labels: Documentation, maintenance

#21658 ENH: `stats.xi_correlation`: add xi correlation function
  scipy/stats/__init__.py
  scipy/stats/_correlation.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_correlation.py
  tools/unicode-check.py
Labels: scipy.stats, enhancement, needs-release-note

#21567 MAINT: stats.wilcoxon: small improvements/fixes
  scipy/stats/_morestats.py
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#21819 ENH: `stats.ContinuousDistribution`: improve method resolution logic
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#21801 ENH: extend factorial{,2,k} to allow complex inputs
  scipy/_lib/tests/test_warnings.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: enhancement, scipy.special

#21779 ENH: sparse.csgraph: migrate to use sparray (code changes only)
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_validation.py
  scipy/sparse/csgraph/tests/test_conversions.py
  scipy/sparse/csgraph/tests/test_flow.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
  scipy/sparse/csgraph/tests/test_matching.py
  scipy/sparse/csgraph/tests/test_pydata_sparse.py
  scipy/sparse/csgraph/tests/test_reordering.py
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/csgraph/tests/test_spanning_tree.py
  scipy/sparse/csgraph/tests/test_traversal.py
Labels: enhancement, scipy.sparse.csgraph, Cython

#21419 ENH: `linalg.circulant`: allow batching
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_special_matrices.py
  scipy/stats/_qmc.py
  scipy/stats/_sensitivity_analysis.py
Labels: enhancement, scipy.linalg

#21799 ENH: sparse.linalg: add `is_sptriangular` and `spbandwidth` functions
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
Labels: enhancement, scipy.sparse.linalg

#21869 MAINT: stats.ContinuousDistribution: clarify conditions that detects precision loss
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.stats, maintenance

#21812 API: interpolate.BarycentricInterpolator: transition to Generator (SPEC 7)
  scipy/interpolate/_polyint.py
  scipy/interpolate/tests/test_polyint.py
Labels: scipy.interpolate, maintenance

#21875 MAINT: interpolate.barycentric_interpolate: add rng argument
  scipy/interpolate/_polyint.py
  scipy/interpolate/tests/test_polyint.py
Labels: scipy.interpolate, maintenance

#21873 DOC: sparse.csgraph: update csgraph docs to use sparray
  scipy/sparse/csgraph/__init__.py
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_reordering.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/_traversal.pyx
  scipy/sparse/csgraph/tests/test_reordering.py
  scipy/sparse/csgraph/tests/test_traversal.py
Labels: Documentation, scipy.sparse.csgraph, Cython

#21868 BUG: io.matlab: expose `varmats_from_mat`
  scipy/_lib/tests/test_public_api.py
  scipy/io/matlab/__init__.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/tests/test_mio.py
Labels: defect, scipy.io

#21524 ENH: integrate.trapezoid: add array API standard support
  .github/workflows/array_api.yml
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: enhancement, scipy.integrate, array types

#21880 API: linalg.clarkson_woodruff_transform: transition to rng (SPEC7)
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_sketches.py
Labels: scipy.linalg

#21878 API: cluster: transition to rng (SPEC 7)
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: scipy.cluster, maintenance

#21848 MAINT: SPEC-007 quadratic_assignment
  scipy/optimize/_qap.py
  scipy/optimize/tests/test_quadratic_assignment.py
Labels: scipy.optimize, maintenance

#21883 DOC/MAINT: Fix some typos regarding GitHub
  .gitignore
  doc/source/dev/contributor/adding_new/new_stats_distribution.rst.inc
  doc/source/dev/contributor/continuous_integration.rst
  doc/source/dev/gitwash/useful_git.rst
  scipy/datasets/__init__.py
  scipy/optimize/tests/test__root.py
  scipy/optimize/tests/test_minpack.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_windows.py
  scipy/sparse/tests/test_base.py
  scipy/special/_precompute/gammainc_data.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, scipy.special, scipy.sparse, scipy.optimize, scipy.signal, Documentation, maintenance, DX

#21881 API: `stats`: transition `goodness_of_fit`, `sobol_indices`, and `dunnett` to rng (SPEC 7)
  scipy/stats/_fit.py
  scipy/stats/_multicomp.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_multicomp.py
  scipy/stats/tests/test_sensitivity_analysis.py
Labels: scipy.stats, maintenance, needs-release-note

#21860 MAINT: improve handling of thread-local storage
  scipy/_lib/meson.build
  scipy/_lib/src/ccallback.h
  scipy/integrate/meson.build
  scipy/meson.build
  scipy/ndimage/meson.build
  scipy/optimize/meson.build
  scipy/scipy_config.h.in
  scipy/stats/_unuran/meson.build
Labels: scipy.stats, scipy.optimize, scipy.ndimage, scipy.integrate, scipy._lib, Build issues, maintenance, C/C++, Meson

#21891 BUG: spatial: guard `distance_wrap` directives
  scipy/spatial/src/distance_wrap.c
Labels: defect, scipy.spatial, C/C++

#21892 MAINT: `_lib`: use `is_numpy` etc helpers from the compat library
  scipy/_lib/_array_api.py
Labels: scipy._lib, maintenance, array types

#21886 API: `stats.PermutationMethod`: transition to `rng` (SPEC 7)
  scipy/stats/_resampling.py
  scipy/stats/tests/test_correlation.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, needs-release-note

#21893 MAINT: linalg.interpolative: normalize rng argument (SPEC7)
  scipy/linalg/_decomp_interpolative.pyx
  scipy/linalg/interpolative.py
Labels: scipy.linalg, maintenance, Cython

#20589 TST: optimize.linprog/milp: add tests for various bug reports
  scipy/optimize/tests/test_milp.py
Labels: scipy.optimize, maintenance

#21811 ENH: differentiate: add array API support to `jacobian` and `hessian`
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/differentiate/tests/test_differentiate.py
Labels: enhancement, array types, scipy.differentiate

#21731 ENH: `stats.dpareto_lognorm`: add double Pareto lognormal distribution
  doc/source/tutorial/stats/continuous.rst
  doc/source/tutorial/stats/continuous_dpareto_lognorm.rst
  doc/source/tutorial/stats/probability_distributions.rst
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distr_params.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement, Documentation, needs-release-note

#21609 ENH: `integrate.lebedev_rule`: points and weights of Lebedev quadrature
  LICENSES_bundled.txt
  scipy/integrate/__init__.py
  scipy/integrate/_lebedev.py
  scipy/integrate/meson.build
  scipy/integrate/tests/test_quadrature.py
Labels: enhancement, scipy.special

#21901 MAINT: stats.dpareto_lognorm._cdf: treat special case at x=0
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, maintenance

#21904 BUG: fix nogil LinearNDInterpolator
  scipy/interpolate/_interpnd.pyx
Labels: defect, scipy.interpolate, Cython

#21906 CI: gha update
  .github/workflows/array_api.yml
  .github/workflows/commit_message.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
Labels: CI

#21909 DOC: Io.loadmat: document uint16_codec parameter
  scipy/io/matlab/_mio.py
Labels: scipy.io

#21789 ENH: integrate.nsum: support unimodal functions and infinite lower limit of summation
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Labels: enhancement, scipy.integrate

#17318 ENH: signal: Add functionality of Complex Chirp waveform
  scipy/signal/_waveforms.py
  scipy/signal/tests/test_waveforms.py
Labels: enhancement, scipy.signal

#21897 MAINT: Hausdorff Generator handling
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Labels: scipy.spatial, maintenance, Cython

#21913 API: `spatial.directed_hausdorff`: transition to 'rng' keyword (SPEC 7)
  scipy/spatial/distance.py
  scipy/spatial/tests/test_hausdorff.py
Labels: scipy.spatial, maintenance

#21899 API: sparse.linalg.svds: transition to rng (SPEC 7)
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/_svds_doc.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_svdp.py
  scipy/sparse/linalg/tests/test_propack.py
Labels: scipy.sparse.linalg, maintenance

#21916 MAINT, TST: differentiate test_examples bump
  scipy/differentiate/tests/test_differentiate.py
Labels: maintenance, array types, scipy.differentiate

#21912 BUG: integrate.trapezoid: fix broadcasting issue
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: defect, scipy.integrate

#20543 ENH: ndimage: log(n) implementation for 1D rank filter
  scipy/ndimage/_filters.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/meson.build
  scipy/ndimage/src/_rank_filter_1d.cpp
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage, needs-work, C/C++, Cython, Meson

#21378 DOC: signal.hilbert: update to reflect implementation
  scipy/signal/_signaltools.py
Labels: scipy.signal, Documentation

#21917 BLD: fortran: only use `-std=legacy` for gfortran
  meson.build
Labels: Build issues, Meson

#21728 ENH: special: use boost in `nctdtr`
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/tests/test_cdflib.py
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, enhancement, scipy.special, C/C++, Cython

#21888 API: `sparse`: transition `random`-like functions to `rng` (SPEC 7)
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/_construct.py
  scipy/sparse/csgraph/_laplacian.py
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_construct.py
  scipy/sparse/tests/test_coo.py
Labels: scipy.sparse, maintenance, Cython, needs-release-note

#21926 REV: Revert "MAINT: io: move `_test_fortran` under `tests`"
  scipy/io/_test_fortran.f
  scipy/io/meson.build
  scipy/io/test_fortran.pyf
  scipy/io/tests/meson.build
  scipy/io/tests/test_fortran.py
Labels: scipy.io, maintenance, Fortran, Meson

#21930 TST: sparse.linalg: tweak rtol for flaky `expm_multiply` test
  scipy/sparse/linalg/tests/test_expm_multiply.py
Labels: scipy.sparse.linalg, maintenance

#21549 ENH: ndimage: add axes support to most morphology functions
  scipy/ndimage/_delegators.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_morphology.py
Labels: enhancement, scipy.ndimage

#21928 DEV: `gh_lists`: fix warnings
  tools/gh_lists.py
Labels: DX

#21938 TST: linalg: do not call `np.asarray_chkfinite(np.empty((3, 1, 1))`
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg, maintenance

#21932 ENH: integrate.nsum: add array API standard support
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Labels: enhancement, scipy.integrate, array types

#21931 MAINT: stats.qmc: transition to rng (SPEC 7)
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, maintenance

#21870 MAINT: spatial/special: follow-up on `std::isnan`, `std::isinf`
  scipy/spatial/ckdtree/src/build.cxx
  scipy/special/Faddeeva.cc
  scipy/special/_round.h
  scipy/special/stirling2.h
  scipy/special/wright.cc
Labels: scipy.special, scipy.spatial, maintenance, C/C++

#21947 TST: stats.chatterjeexi: fix error message
  scipy/stats/tests/test_correlation.py
Labels: scipy.stats, maintenance

#21944 ENH: sparse: add `broadcast_shapes` function to `_sputils.py`
  scipy/sparse/_compressed.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_sputils.py
Labels: enhancement, scipy.sparse

#21950 CI: fix `Intel oneAPI tests` job
  .github/workflows/linux_intel_oneAPI.yml
Labels: CI

#21920 ENH: `optimize.elementwise.bracket_root`: add array API support
  .github/workflows/array_api.yml
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Labels: enhancement, scipy.optimize

#21953 TST: stats.rdist: skip failing xslow test
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, scipy.optimize, maintenance

#21943 MAINT: mark f2py-generated extension modules as safe to run without GIL
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  tools/generate_f2pymod.py
Labels: scipy.sparse.linalg, scipy.linalg, maintenance, Meson, free-threading

#21955 ENH: spatial: ensure thread-safety
  scipy/io/matlab/tests/test_mio.py
  scipy/io/tests/test_mmio.py
  scipy/io/tests/test_netcdf.py
  scipy/spatial/tests/test_distance.py
  scipy/spatial/tests/test_hausdorff.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_slerp.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, free-threading

#21867 MAINT: stats.wilcoxon: improve documentation and tests
  scipy/stats/_morestats.py
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#21964 TST: optimize: slight tolerance bump for a dual-annealing test
  scipy/optimize/tests/test__dual_annealing.py
Labels: scipy.optimize, maintenance

#21941 DOC: add docs on parallel execution and thread safety
  doc/source/tutorial/index.rst
  doc/source/tutorial/parallel_execution.rst
  doc/source/tutorial/thread_safety.rst
  scipy/cluster/hierarchy.py
Labels: scipy.cluster, Documentation, free-threading

#21824 BUG: sparse: fix `idx_dtype` when building index arrays in many parts of sparse
  scipy/sparse/_compressed.py
  scipy/sparse/_construct.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/tests/test_construct.py
Labels: defect, scipy.sparse

#21973 DEV: lint: disable UP031
  tools/lint.toml
Labels: DX

#21974 DEV: add `conda-build` to `environment.yml`
  environment.yml
Labels: DX

#21937 TST: linalg.blas: fix test concurrency, mark `*ger` as unsafe
  scipy/linalg/tests/test_blas.py
Labels: scipy.linalg, maintenance, free-threading

#21975 CI: use stable NumPy for "old build"
  .github/workflows/linux.yml
Labels: maintenance, CI

#21976 TST: `optimize.elementwise.bracket_root`: fix torch test tolerance issue
  scipy/optimize/tests/test_bracket.py
Labels: scipy.optimize, maintenance

#21433 DOC: Cache jupyter notebooks build
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/conf.py
Labels: Documentation
