Repository scipy/scipy, pull requests merged in 2024-12, with the labels that each got.

#21980 ENH: `optimize.elementwise.bracket_minimum`: add array API support
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Labels: enhancement, scipy.optimize

#21984 BUG: signal: actually reject objects in correlate/convolve
  scipy/signal/_signaltools.py
Labels: defect, scipy.signal, maintenance

#21979 API: integrate.simpson: allow `x` to be passed positionally
  scipy/integrate/_quadrature.py
Labels: scipy.integrate, maintenance

#21977 ENH: integrate.tanhsinh: make `_tanhsinh` public
  scipy/integrate/__init__.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/special/tests/test_boost_ufuncs.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement, scipy.special, scipy.integrate, needs-release-note

#21989 DOC: integrate.tanhsinh: fix reference format; Examples heading
  scipy/integrate/_tanhsinh.py
Labels: scipy.integrate, Documentation

#21981 MAINT: purge `from __future__ import annotations`
  mypy.ini
  scipy/_lib/_array_api.py
  scipy/_lib/_array_api_no_0d.py
  scipy/_lib/_util.py
  scipy/constants/_codata.py
  scipy/constants/_constants.py
  scipy/integrate/_cubature.py
  scipy/integrate/_quadrature.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/ndimage/tests/__init__.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_isotonic.py
  scipy/optimize/_trustregion_constr/report.py
  scipy/signal/_short_time_fft.py
  scipy/spatial/__init__.py
  scipy/spatial/_ckdtree.pyi
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/_kdtree.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/distance.pyi
  scipy/spatial/meson.build
  scipy/spatial/tests/test_qhull.py
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/meson.build
  scipy/special/_orthogonal.pyi
  scipy/special/tests/test_cython_special.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_multicomp.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_survival.py
  scipy/stats/_unuran/unuran_wrapper.pyi
  tools/check_test_name.py
Labels: maintenance, static typing

#20097 ENH: signal: Compute envelope of a real- or complex-valued signal
  scipy/signal/__init__.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal, needs-release-note

#21990 CI: remove setting macOS 10.9 for SDK and deployment target
  .github/workflows/macos.yml
Labels: CI

#21983 BUG: linalg: fix cython import order
  scipy/linalg/__init__.pxd
  scipy/linalg/meson.build
  scipy/linalg/tests/_cython_examples/extending.pyx
  scipy/meson.build
  scipy/optimize/__init__.pxd
  scipy/optimize/meson.build
  scipy/special/__init__.pxd
  scipy/special/meson.build
Labels: defect, scipy.linalg, Cython, Meson

#21948 TST: add more thorough SPEC 7 tests
  scipy/_lib/tests/test__util.py
  scipy/sparse/_construct.py
  scipy/stats/_qmc.py
  scipy/stats/_resampling.py
Labels: scipy.stats, scipy.sparse, scipy._lib, maintenance

#21992 DOC: Unhide `toctree` in `scipy.cluster` with `maxdepth` set to 1
  scipy/cluster/__init__.py
Labels: scipy.cluster, Documentation

#21918 BUG: `optimize.curve_fit`: fix sigma dimension issue with `nan_policy="omit"`
  scipy/optimize/_minpack_py.py
  scipy/optimize/tests/test_minpack.py
Labels: defect, scipy.optimize

#21919 Call `lcov` to generate coverage reports for C, C++ and Fortran codes.
  .github/workflows/linux.yml
  dev.py
Labels: DX

#21965 ENH: special: ensure thread-safety
  scipy/special/_test_internal.pyi
  scipy/special/_test_internal.pyx
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_nan_inputs.py
  scipy/special/tests/test_orthogonal_eval.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_sf_error.py
Labels: enhancement, scipy.special, C/C++, Cython, free-threading

#20989 ENH: `stats.chi2_contingency`: add `method` parameter
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_contingency.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, needs-release-note

#21991 BUG: `stats.sobol_indices`: fix mutation of input parameters
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/tests/test_sensitivity_analysis.py
Labels: defect, scipy.stats

#21994 BLD: Remove `ld_classic` usage on macOS
  meson.build
Labels: Build issues, Meson

#21871 ENH: stats.ContinuousDistribution.sample: generate QMC samples
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_probability_distribution.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#21797 BUG: special: fix array index out of bound for `pro_rad2`
  scipy/special/tests/test_specfun.py
  scipy/special/xsf/specfun/specfun.h
Labels: defect, scipy.special, C/C++

#21864 DEP: remove scipy.misc
  .github/label-globs.yml
  .github/workflows/windows_intel_oneAPI.yml
  doc/source/conf.py
  doc/source/reference/index.rst
  doc/source/reference/misc.rst
  pytest.ini
  scipy/__init__.py
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test_config.py
  scipy/_lib/tests/test_doccer.py
  scipy/_lib/tests/test_public_api.py
  scipy/misc/__init__.py
  scipy/misc/_common.py
  scipy/misc/ascent.dat
  scipy/misc/common.py
  scipy/misc/doccer.py
  scipy/misc/ecg.dat
  scipy/misc/face.dat
  scipy/misc/meson.build
  scipy/misc/tests/__init__.py
  scipy/misc/tests/meson.build
  scipy/misc/tests/test_common.py
  tools/refguide_check.py
Labels: scipy.misc, deprecated, needs-release-note

#21998 MAINT, DOC: Use Jupytext's API, and fix cross-platform usage for `doc/convert_notebooks.py`
  doc/convert_notebooks.py
Labels: Documentation, maintenance

#21435 ENH: sparse: Add nD COO support for matmul, dot and tensordot
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/coo.h
  scipy/sparse/tests/test_coo.py
Labels: enhancement, scipy.sparse, needs-release-note

#21996 ENH: stats.fisher_exact: extend to R x C tables
  scipy/stats/_stats_py.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#21729 MAINT: signal.lombscargle: vectorization changes and handling rare division-by-zero edge cases
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Labels: scipy.signal, maintenance

#22002 TST: Run complex zeta avoid underflow tests only on platforms known to be supported
  scipy/special/tests/test_zeta.py
Labels: scipy.special, maintenance

#21858 ENH: sparse: Add safe casting function for sparse index to sputils
  scipy/sparse/_sputils.py
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/tests/test_sputils.py
Labels: enhancement, scipy.sparse.linalg, scipy.sparse

#21753 DOC: sparse: migration to sparray guide updates
  doc/source/reference/sparse.migration_to_sparray.rst
Labels: scipy.sparse, Documentation

#21746 ENH: stats: exponential, logarithm, and reciprocal of a random variable
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#21921 DEP: `stats.ttest_ind`: deprecate `random_state` and `permutation` in favor of `method`; require keywords for most args
  scipy/_lib/deprecation.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_multicomp.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy._lib, maintenance, deprecated

#21752 ENH: stats.truncate: truncated random variables
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#21790 ENH: stats: distributions of order statistics
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#22003 DEV: unified git submodule exclusion for tools
  .github/workflows/lint.yml
  dev.py
  doc/source/dev/missing-bits.rst
  tools/check_installation.py
  tools/check_test_name.py
  tools/check_unicode.py
  tools/get_submodule_paths.py
  tools/lint.py
  tools/pre-commit-hook.py
Labels: maintenance, DX

#21551 MAINT: interpolate: trim down `_bspl` extension
  mypy.ini
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_fitpack_repro.py
  scipy/interpolate/_ndbspline.py
  scipy/interpolate/meson.build
  scipy/interpolate/src/__fitpack.cc
  scipy/interpolate/src/__fitpack.h
  scipy/interpolate/src/_dierckxmodule.cc
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, C/C++, Cython, Meson

#21982 DOC: SciPy 1.15.0 relnotes
  .mailmap
  doc/source/conf.py
  doc/source/release/1.15.0-notes.rst
Labels: Documentation

#22010 REL: set version to 1.16.0.dev0
  doc/source/release.rst
  doc/source/release/1.16.0-notes.rst
  pyproject.toml
Labels: Documentation, maintenance

#20908 DOC: signal.dbode: improve docstring
  scipy/signal/_ltisys.py
Labels: scipy.signal, Documentation

#22026 MAINT: stats.Mixture: fix default `weights`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22033 TST: fix sparse.linalg failures for tfmqr and svds
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance, backport-candidate

#22030 MAINT: `stats.FoldedDistribution`: accommodate for private methods of distributions being invalid outside support
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22036 DOC: adapt to NumPy 2.2 changes for abbreviation of large arrays
  scipy/datasets/_fetchers.py
  scipy/linalg/_basic.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Labels: scipy.sparse.linalg, scipy.linalg, Documentation, backport-candidate

#20772 ENH: array types, signal: delegate to CuPy and JAX for correlations and convolutions
  .github/workflows/array_api.yml
  scipy/conftest.py
  scipy/signal/__init__.py
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/meson.build
  scipy/signal/tests/test_signaltools.py
  scipy/special/_support_alternative_backends.py
Labels: enhancement, scipy.signal, array types

#22032 MAINT: attempt to fix mypy complaints
  scipy/optimize/_isotonic.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.optimize, maintenance, backport-candidate, static typing

#22040 MAINT: `stats.make_distribution`: support more existing distributions
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#21557 ENH: `stats._continued_fraction`: elementwise, Array API compatible continued fraction evaluation
  scipy/stats/_continued_fraction.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_continued_fraction.py
Labels: scipy.stats, enhancement

#22015 DEV: lint: add option to lint all files
  dev.py
  tools/lint.py
Labels: DX

#22046 TST: optimize: fix CuPy failure for `bracket_minimum`
  scipy/optimize/tests/test_bracket.py
Labels: scipy.optimize, maintenance, array types

#22048 TST: integrate.tanhsinh: fix abscissae/weight "compression" bug
  scipy/_lib/_elementwise_iterative_method.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
Labels: scipy.integrate, maintenance, backport-candidate

#22013 DEV: `gh_lists`: fix asterisk sanitisation
  tools/gh_lists.py
Labels: DX

#21713 ENH: signal: add array API support / delegation to lfilter et al
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal, array types

#22052 DOC: sparse.linalg: add note about complex matrices to `splu` and `spilu`
  scipy/sparse/linalg/_dsolve/linsolve.py
Labels: scipy.sparse.linalg, Documentation

#22056 MAINT: stats.wilcoxon: fix attempt to access np.AxisError
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#22050 MAINT: stats.order_statistic: override `support`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22027 MAINT: stats.ContinuousDistribution: improve doc generation; fix broken doctests by making `stats.Uniform` public again
  scipy/integrate/_tanhsinh.py
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, Documentation, backport-candidate

#22058 DOC: stats.order_statistic: add 'Returns' section
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.stats, Documentation

#22037 MAINT: stats: Add custom reprs for transformed distributions
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22059 TST: temp skip of extending tests
  scipy/linalg/tests/test_extending.py
  scipy/optimize/tests/test_extending.py
  scipy/special/tests/test_extending.py
Labels: scipy.special, scipy.linalg, scipy.optimize, maintenance, backport-candidate

#22063 MAINT: trivial linters fix
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/special/tests/test_nan_inputs.py
Labels: scipy.special, scipy.sparse.linalg, maintenance

#22061 BUG: ndimage: convert array scalars on return
  scipy/ndimage/_support_alternative_backends.py
Labels: defect, scipy.ndimage, array types

#22024 MAINT: version pins/prep for 1.15.0rc1
  ci/cirrus_wheels.yml
  pyproject.toml
  scipy/__init__.py
Labels: maintenance, CI

#22043 ENH: sparse: make two sputils public for easier index array casting
  doc/source/reference/sparse.migration_to_sparray.rst
  doc/source/release/1.15.0-notes.rst
  scipy/sparse/__init__.py
  scipy/sparse/_sputils.py
Labels: enhancement, scipy.sparse, Documentation, backport-candidate

#22067 MAINT: 1.15.0rc1 backports
  ci/cirrus_wheels.yml
  doc/source/reference/sparse.migration_to_sparray.rst
  doc/source/release/1.15.0-notes.rst
  scipy/_lib/_elementwise_iterative_method.py
  scipy/datasets/_fetchers.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_extending.py
  scipy/optimize/_isotonic.py
  scipy/optimize/tests/test_extending.py
  scipy/signal/_ltisys.py
  scipy/sparse/__init__.py
  scipy/sparse/_sputils.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/special/tests/test_extending.py
  scipy/stats/__init__.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/_probability_distribution.py
  scipy/stats/meson.build
  scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_stats.py
Labels: maintenance

#22073 DEP: sparse: remove conjtransp
  scipy/sparse/_dok.py
Labels: scipy.sparse, deprecated

#22079 DEP: stats: remove support for masked arrays from power_divergence and chisquare
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#22078 REL: set 1.15.0rc2 unreleased
  pyproject.toml
Labels: maintenance

#22074 DEP: remove remaining trapz references
  scipy/integrate/_quad_vec.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
  tools/refguide_check.py
Labels: scipy.integrate, deprecated

#22081 MAINT: Add `__str__` overrides for distributions in new infra to fix plot titles
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22019 MAINT: signal: remove tempita templating
  scipy/meson.build
  scipy/signal/_correlate_nd.cc
  scipy/signal/_firfilter.cc
  scipy/signal/_lfilter.cc
  scipy/signal/_medianfilter.cc
  scipy/signal/_sigtools.hh
  scipy/signal/_sigtoolsmodule.cc
  scipy/signal/meson.build
Labels: scipy.signal, maintenance, C/C++, Meson

#22068 ENH: optimize: migrate to use sparray
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/lsq_linear.py
  scipy/optimize/_numdiff.py
  scipy/optimize/_remove_redundancy.py
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/optimize/_trustregion_constr/equality_constrained_sqp.py
  scipy/optimize/_trustregion_constr/projections.py
  scipy/optimize/_trustregion_constr/qp_subproblem.py
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/_trustregion_constr/tests/test_qp_subproblem.py
  scipy/optimize/_trustregion_constr/tr_interior_point.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test_constraints.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linear_assignment.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: enhancement, scipy.sparse, scipy.optimize

#22082 BUG, DOC: fixup md5 hash reporting
  tools/write_release_and_log.py
Labels: defect, Documentation, backport-candidate

#22091 DOC: Update special release notes
  doc/source/release/1.15.0-notes.rst
Labels: Documentation

#22042 DOC, MAINT: Add a `"jupyterlite_sphinx_strip"` tag to the `scipy.stats` interactive notebooks
  doc/source/conf.py
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/sampling.md
Labels: Documentation, maintenance

#22092 MAINT: signal: fixed build warning (`sprintf`) on MacOS
  scipy/signal/_sigtoolsmodule.cc
Labels: scipy.signal, maintenance, C/C++

#22075 DEP: stats.linregress: remove one arg use
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#22085 DOC: sparse: explicit dtypes for nonzero()
  scipy/sparse/_base.py
Labels: scipy.sparse, Documentation

#22098 DOC: mention the removal of AccuracyWarning
  doc/source/release/1.15.0-notes.rst
Labels: scipy.integrate, Documentation, backport-candidate

#22089 TST: optimize: suppress incorrect sparray warning from scikit-sparse
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_trustregion_constr/projections.py
Labels: scipy.optimize, maintenance

#22025 DOC: stats: probability tutorial/transition guide
  doc/source/tutorial/stats.rst
  doc/source/tutorial/stats/probability_distributions.rst
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/rv_infrastructure_1.png
  doc/source/tutorial/stats/rv_infrastructure_2.png
  doc/source/tutorial/stats/rv_infrastructure_3.png
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.stats, Documentation, backport-candidate

#22103 DOC: Correct version reference for `axis` in `scipy.stats.pearsonr`
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#22106 DOC: sparse: correct `eye_array` docs for first shape input to fix #22095
  scipy/sparse/_construct.py
Labels: scipy.sparse, Documentation, backport-candidate

#22107 MAINT/DOC: Doctests fix scpdt 1.6
  scipy/conftest.py
  scipy/sparse/linalg/_dsolve/_add_newdocs.py
Labels: scipy.sparse.linalg, Documentation, maintenance, backport-candidate

#22076 BUG: datasets: add headers to fetchers to avoid 403 errors
  scipy/datasets/_download_all.py
  scipy/datasets/_fetchers.py
Labels: defect, scipy.datasets

#22110 TST: linalg: use infinity norm of matrix when norm='I'
  scipy/linalg/tests/test_lapack.py
Labels: scipy.linalg, maintenance

#22104 DOC: 1.15.0 release note updates
  doc/source/release/1.15.0-notes.rst
Labels: Documentation, backport-candidate

#21462 ENH: linalg.eig: support batched input
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/tutorial/linalg.rst
  doc/source/tutorial/linalg_batch.md
  scipy/_lib/_util.py
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: enhancement, scipy.linalg, scipy._lib

#22124 DOC: Fix incorrect reference to "Random Variable Transition Guide" notebook
  doc/source/tutorial/stats/rv_infrastructure.md
Labels: Documentation, backport-candidate

#22115 DOC: release notes: ensure TOC links to headings below
  doc/source/release/1.16.0-notes.rst
Labels: Documentation, maintenance

#22116 DOC: update the interpolate roadmap
  doc/source/dev/roadmap-detailed.rst
Labels: Documentation, DX

#22127 ENH: linalg: add batch support for matrix -> scalar funcs
  scipy/_lib/_util.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp.py
  scipy/linalg/_expm_frechet.py
  scipy/linalg/tests/meson.build
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg, scipy._lib, Meson

#22131 TST: `skip|xfail_xp_backends` disregards `reason=`
  scipy/conftest.py
Labels: maintenance, array types

#22130 TST: ndimage: array API-related cosmetic tweaks in tests
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_morphology.py
Labels: scipy.ndimage, maintenance

#22135 MAINT: _lib: add missing f string to _deprecate_positional_args
  scipy/_lib/deprecation.py
Labels: scipy._lib, maintenance, backport-candidate

#22139 MAINT: stats._SimpleDomain: ensure that instances do not share `symbols`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22100 DEP: signal.spline: use standard submodule deprecation machinery
  scipy/_lib/tests/test_public_api.py
  scipy/signal/spline.py
Labels: scipy.signal, scipy._lib, deprecated

#22133 ENH: linalg: add batch support for functions that accept a single array
  scipy/linalg/_basic.py
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_ldl.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_polar.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_cythonized_array_utils.py
Labels: enhancement, scipy.linalg

#22129 ENH: sparse: nD cleanup and docs
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_csr.py
Labels: enhancement, scipy.sparse, Documentation, backport-candidate

#21863 CI: use macos-15 for a macOS run
  .github/workflows/macos.yml
Labels: CI

#22087 DEP: special: raise error for non-integer types with exact=True for comb and perm
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, deprecated

#22149 MAINT: stats.ContinuousDistribution.llf: remove method
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.stats, maintenance, backport-candidate

#22148 TST: ndimage: fix test skip typo
  scipy/ndimage/tests/test_morphology.py
Labels: scipy.ndimage, maintenance

#22147 ENH: linalg: add batch support to several remaining functions
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_qz.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_expm_frechet.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_procrustes.py
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_procrustes.py
Labels: enhancement, scipy.linalg

#22099 DEP: update version in deprecation warning of interpnd
  scipy/_lib/deprecation.py
Labels: scipy.interpolate, scipy._lib, backport-candidate, deprecated

#22157 ENH: linalg: add batch support for remaining cholesky functions
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg

#22162 TYP: temporarily ignore the `numpy==2.2.1` mypy errors
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Labels: scipy.io, backport-candidate

#22156 DEP: deprecation warnings for ``special.lpn`` and ``[c]lpmn``
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
Labels: scipy.special, backport-candidate, deprecated

#22165 ENH: linalg: add batch support to remaining eigenvalue functions
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg

#22113 ENH: sparse: enhance dtype checking in constructors
  scipy/sparse/_bsr.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse, backport-candidate

#22158 MAINT: accept ndarray subclasses in interpolate._dierckx
  scipy/interpolate/src/_dierckxmodule.cc
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, backport-candidate, C/C++

#22168 BUG: fix incorrect values in factorial for 0 with uint dtypes
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: defect, scipy.special, backport-candidate

#22173 DOC: interpolate: add missing method `integrate` for `PchipInterpolator`
  scipy/interpolate/_cubic.py
Labels: scipy.interpolate, Documentation

#22174 Maint: optimize: switch suppress_warnings to catch_warnings
  scipy/optimize/_linprog_ip.py
  scipy/optimize/_trustregion_constr/projections.py
Labels: scipy.optimize, backport-candidate

#22167 DEP: special: deprecation warning for `sph_harm` + comments
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_data.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_mpmath.py
  scipy/special/tests/test_sph_harm.py
  scipy/special/xsf_special.h
Labels: scipy.special, backport-candidate, deprecated, C/C++

#22177 MAINT: fix extension module not declaring free-threading support, and wheel build changes
  scipy/interpolate/meson.build
  scipy/interpolate/src/_dierckxmodule.cc
  tools/wheels/cibw_before_build_linux.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
  tools/wheels/cibw_test_command.sh
Labels: scipy.interpolate, maintenance, backport-candidate, C/C++, free-threading

#22175 MAINT: stats: fix thread-safety issues under free-threaded CPython
  scipy/stats/_kde.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_morestats.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance, backport-candidate, free-threading

#22172 MAINT: improve overflow handling in factorial functions
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, maintenance

#22181 REL: set 1.15.0rc3 unreleased
  pyproject.toml
Labels: maintenance

#22182 TST: ndimage: cupy tweaks for inplace out=
  scipy/ndimage/tests/test_morphology.py
Labels: scipy.ndimage, maintenance

#22186 DOC: interpolate: add a note about rounding rule of the `nearest mothod`
  scipy/interpolate/_rgi.py
Labels: scipy.interpolate, Documentation

#22166 ENH: linalg.block_diag: add batch support
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg

#22160 DEP: interpolate: remove incidental imports from private modules
  scipy/_lib/tests/test_public_api.py
  scipy/interpolate/dfitpack.py
  scipy/interpolate/interpnd.py
Labels: scipy.interpolate, scipy._lib, deprecated

#22198 DOC: basinhopping, clarify when lowest_optimization_result is updated
  scipy/optimize/_basinhopping.py
Labels: scipy.optimize, Documentation

#22199 ENH: `linalg.qr_*`: add batch support
  scipy/_lib/_util.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_update.pyx.in
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg, scipy._lib, Cython

#22197 ENH: linalg.cossin: add batch support
  scipy/linalg/_decomp_cossin.py
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg

#20717 ENH: Speed up sparse.csgraph.dijkstra 2.0
  .gitignore
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/meson.build
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: enhancement, scipy.sparse, scipy.sparse.csgraph, Cython, Meson

#22193 DEP: linalg.solve_toeplitz/matmul_toeplitz: warn on n-D `c`, `r`
  doc/source/release/1.15.0-notes.rst
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_solve_toeplitz.py
Labels: scipy.linalg, maintenance, backport-candidate, deprecated

#22101 DOC: update `stats`, `integrate`, `optimize`, and `differentiate` sections of roadmap
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Labels: scipy.stats, scipy.optimize, scipy.integrate, Documentation, DX, scipy.differentiate

#22211 DOC: interpolate: add missed `integrate` doc link for `Akima1DInterpolator`
  scipy/interpolate/_cubic.py
Labels: scipy.interpolate, Documentation

#22155 ENH: stats: add axis/nan_policy/keepdims/etc. support to correlation tests
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#22192 ENH: linalg: add batch support to linear system solvers
  doc/source/tutorial/linalg_batch.md
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_cubic.py
  scipy/linalg/_basic.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_solve_toeplitz.py
  scipy/stats/_covariance.py
Labels: enhancement, scipy.linalg, scipy._lib

#22213 BUG: zpk2tf works correctly with complex k, real p, z
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#22212 ENH: linalg: wrap ?gbcon
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#22142 ENH: signal: add CuPy/JAX delegation to scipy.signal
  mypy.ini
  scipy/signal/__init__.py
  scipy/signal/_delegators.py
  scipy/signal/_short_time_fft.py
  scipy/signal/_signal_api.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/_wavelets.py
  scipy/signal/meson.build
Labels: enhancement, scipy.signal, Meson, array types

#22219 ENH: `_lib`: deobfuscate `jax.jit` crash in `_asarray`
  scipy/_lib/_array_api.py
Labels: enhancement, scipy._lib, array types

#22154 ENH: linalg.clarkson_woodruff_transform: add batch support
  scipy/linalg/_sketches.py
  scipy/linalg/tests/test_batch.py
Labels: enhancement, scipy.linalg

#22216 TST: TestBracketMinimum MPS shims
  scipy/optimize/tests/test_bracket.py
Labels: scipy.optimize, maintenance, array types

#22215 ENH: io: throw `FileNotFoundError` exception when the source file does not exist in `io.mmread`
  scipy/io/_fast_matrix_market/__init__.py
  scipy/io/tests/test_mmio.py
Labels: enhancement, scipy.io

#22220 MAINT: stats: replace nonstandard calls in (mostly) array API compatible functions/tests
  scipy/stats/_continued_fraction.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance
