Repository scipy/scipy, pull requests merged in 2024-04, with the labels that each got.

#20187 ENH: sparse.csgraph: Yen K-shortest paths
  scipy/sparse/csgraph/__init__.py
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: enhancement, scipy.sparse, scipy.sparse.csgraph, Cython

#20295 BUG: linalg: support empty arrays
  scipy/linalg/_basic.py
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_cholesky.py
  scipy/linalg/_decomp_lu.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/linalg/_matfuncs.py
  scipy/linalg/_matfuncs_inv_ssq.py
  scipy/linalg/_matfuncs_sqrtm.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/meson.build
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_cholesky.py
  scipy/linalg/tests/test_decomp_lu.py
  scipy/linalg/tests/test_decomp_polar.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_misc.py
  scipy/linalg/tests/test_procrustes.py
  scipy/linalg/tests/test_solve_toeplitz.py
  scipy/linalg/tests/test_special_matrices.py
Labels: defect, scipy.linalg

#20362 MAINT, BUG: bump OpenBLAS
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  tools/openblas_support.py
  tools/wheels/cibw_before_build_win.sh
Labels: defect, maintenance, backport-candidate

#20374 MAINT: update pybind11 and numpy build-time requirements for 1.13.0
  pyproject.toml
Labels: maintenance

#20321 BUG: Fix for scipy.special seterr, geterr, errstate
  .github/workflows/windows.yml
  scipy/_lib/tests/test_public_api.py
  scipy/special/__init__.py
  scipy/special/meson.build
  scipy/special/sf_error.c
  scipy/special/sf_error.h
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/sf_error_state.h
  scipy/special/tests/test_sf_error.py
  tools/check_pyext_symbol_hiding.sh
  tools/refguide_check.py
  tools/wheels/repair_windows.sh
Labels: defect, scipy.special, C/C++, Meson

#20367 STY: always `import numpy as np`
  .git-blame-ignore-revs
  benchmarks/benchmarks/sparse.py
  doc/source/tutorial/sparse.rst
  scipy/io/wavfile.py
  scipy/linalg/_decomp.py
  scipy/linalg/_decomp_qr.py
  scipy/linalg/_decomp_schur.py
  scipy/linalg/_decomp_svd.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_fourier.py
  scipy/ndimage/_interpolation.py
  scipy/ndimage/_measurements.py
  scipy/ndimage/_morphology.py
  scipy/ndimage/_ni_support.py
  scipy/ndimage/tests/__init__.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_fourier.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_morphology.py
  scipy/odr/_odrpack.py
  scipy/optimize/_shgo_lib/_complex.py
  scipy/optimize/tests/test__shgo.py
  scipy/signal/_filter_design.py
  scipy/signal/_lti_conversion.py
  scipy/signal/_ltisys.py
  scipy/special/_orthogonal.pyi
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_multivariate.py
Labels: maintenance

#20381 REL, MAINT: prep for 1.13.1
  doc/source/release.rst
  doc/source/release/1.13.1-notes.rst
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: Documentation, maintenance, Meson

#20373 MAINT: drop Python 3.9 and NumPy 1.22.x
  .github/workflows/linux_meson.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  ci/cirrus_wheels.yml
  doc/source/dev/toolchain.rst
  pyproject.toml
  requirements/build.txt
  requirements/default.txt
Labels: Documentation, maintenance, CI, DX

#20382 MAINT: lint: enforce `numpy as np` alias
  scipy/constants/_constants.py
  scipy/linalg/blas.py
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
  tools/lint.toml
Labels: maintenance

#20380 MAINT: forward port 1.13.0 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release/1.13.0-notes.rst
Labels: Documentation, maintenance

#20401 DOC: optimize: fix wrong optional argument name in `root(method="lm")`.
  scipy/optimize/_root.py
Labels: scipy.optimize, Documentation, backport-candidate

#19954 MAINT: Translate wright_bessel function to C++
  scipy/special/_add_newdocs.py
  scipy/special/_digamma.pxd
  scipy/special/_special.h
  scipy/special/_trig.pxd
  scipy/special/_wright_bessel.pxd
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/special/cephes/chbevl.h
  scipy/special/special/cephes/gamma.h
  scipy/special/special/cephes/lanczos.h
  scipy/special/special/cephes/rgamma.h
  scipy/special/special/config.h
  scipy/special/special/gamma.h
  scipy/special/special/wright_bessel.h
Labels: scipy.special, maintenance, C/C++, Cython

#20416 ENH: optimize._chandrupatla: allow infinite function value at bracket endpoints
  scipy/optimize/_chandrupatla.py
  scipy/optimize/tests/test_chandrupatla.py
Labels: enhancement, scipy.optimize

#20384 ENH:special:Re-rewrite cdflib in C
  scipy/special/_cdflib.pyx
  scipy/special/_cdflib_wrappers.pxd
  scipy/special/cdflib.c
  scipy/special/cdflib.h
  scipy/special/meson.build
Labels: enhancement, scipy.special, C/C++, Cython

#20421 Added float32 overloads for amos functions
  scipy/special/_special_ufuncs.cpp
  scipy/special/special/amos.h
  scipy/special/tests/meson.build
  scipy/special/tests/test_ufunc_signatures.py
Labels: scipy.special, C/C++

#20405 BUG: Fix pair of bugs in Amos and Cephes yv which masked each other
  scipy/special/cephes/yn.c
  scipy/special/special/amos/amos.h
  scipy/special/tests/test_basic.py
Labels: defect, scipy.special, C/C++

#20425 MAINT: Fix DOI visibility badge in README
  README.rst
Labels: maintenance

#20424 MAINT:special: Add license to cdflib and remove old pxd file
  scipy/special/_cdflib.pxd
  scipy/special/cdflib.c
  scipy/special/cdflib.h
Labels: scipy.special, maintenance, C/C++

#20417 ENH: Make cython_special actual code, not autogenerated
  .gitignore
  scipy/special/_cython_special.pxi
  scipy/special/_cython_special_custom.pxi
  scipy/special/_generate_pyx.py
  scipy/special/_hyp0f1.pxd
  scipy/special/_hyp2f1.pxd
  scipy/special/_hypergeometric.pxd
  scipy/special/_legacy.pxd
  scipy/special/_sici.pxd
  scipy/special/_spherical_bessel.pxd
  scipy/special/_ufuncs.pyi
  scipy/special/amos_wrappers.cpp
  scipy/special/amos_wrappers.h
  scipy/special/cephes/struve.c
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/orthogonal_eval.pxd
  scipy/special/scaled_exp1.c
  scipy/special/specfun_wrappers.cpp
  scipy/special/specfun_wrappers.h
  scipy/special/special_wrappers.cpp
  scipy/special/special_wrappers.h
  scipy/special/sph_harm.pxd
Labels: enhancement, scipy.special, Cython, Meson

#20320 ENH: Generalised ufuncs in special
  mypy.ini
  scipy/special/__init__.py
  scipy/special/_basic.py
  scipy/special/_gufuncs.cpp
  scipy/special/_gufuncs_docs.cpp
  scipy/special/_specfun.pyx
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/meson.build
  scipy/special/specfun.py
  scipy/special/special/bessel.h
  scipy/special/special/legendre.h
  scipy/special/special/mdspan.h
  scipy/special/special/specfun/specfun.h
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_ufunc_signatures.py
  scipy/special/ufunc.h
Labels: enhancement, scipy.special, C/C++, Cython

#20089 ENH: Translate complex valued hyp2f1 to C++ and make improvements
  scipy/special/_hyp2f1.pxd
  scipy/special/_precompute/meson.build
  scipy/special/_special.h
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/orthogonal_eval.pxd
  scipy/special/special/cephes/gamma.h
  scipy/special/special/cephes/poch.h
  scipy/special/special/config.h
  scipy/special/special/hyp2f1.h
  scipy/special/special/tools.h
  scipy/special/special_c_wrappers.cpp
  scipy/special/special_c_wrappers.h
  scipy/special/tests/test_hyp2f1.py
Labels: enhancement, scipy.special, C/C++, Cython

#20435 DOC: add missing deprecations from 1.13.0 release notes
  doc/source/release/1.13.0-notes.rst
Labels: Documentation, backport-candidate, deprecated

#20437 MAINT/DOC: fix syntax in 1.13.0 release notes
  doc/source/release/1.13.0-notes.rst
Labels: Documentation, maintenance, backport-candidate

#20418 BUG: signal: corrections to `iir{peak,notch,comb}` filter gain
  scipy/signal/_filter_design.py
Labels: defect, scipy.signal

#20427 DOC: speed up some examples
  scipy/ndimage/_filters.py
  scipy/signal/_signaltools.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_resampling.py
Labels: scipy.stats, scipy.signal, Documentation

#20441 BLD: Install cython_special.pxd
  scipy/special/meson.build
Labels: scipy.special, Build issues, Meson

#20443 MAINT: sparse: Update EfficiencyWarning message to reflect array/matrix
  scipy/sparse/_compressed.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
Labels: scipy.sparse.linalg, scipy.sparse, maintenance

#20446 MAINT: remove repetitive word typos
  scipy/linalg/_basic.py
  scipy/stats/_stats_py.py
Labels: maintenance

#20426 DOC: add hints on how to debug linalg issues with gdb
  doc/source/dev/contributor/debugging_linalg_issues.rst
Labels: scipy.linalg, Documentation, DX

#20438 ENH: Translate `sph_harm` Cython->C++, add `sph_harm_all` gufunc
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
  scipy/special/_generate_pyx.py
  scipy/special/_gufuncs.cpp
  scipy/special/_gufuncs_docs.cpp
  scipy/special/_legacy.pxd
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/orthogonal_eval.pxd
  scipy/special/special/legendre.h
  scipy/special/special/mdspan.h
  scipy/special/special/sph_harm.h
  scipy/special/special_c_wrappers.cpp
  scipy/special/special_c_wrappers.h
  scipy/special/special_wrappers.cpp
  scipy/special/special_wrappers.h
  scipy/special/sph_harm.pxd
  scipy/special/tests/test_sph_harm.py
  scipy/special/ufunc.h
Labels: enhancement, scipy.special, C/C++, Cython

#20449 DOC: remove spurious backtick from release notes
  doc/source/release/1.13.0-notes.rst
Labels: scipy._lib, Documentation, backport-candidate

#20450 BLD: avoid setting an environment variable in a meson.build file
  scipy/linalg/_generate_pyx.py
  scipy/linalg/meson.build
Labels: scipy.linalg, Build issues, Cython, Meson

#20453 DOC: special: add examples for pdtrc, pdtri, pdtrik
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#20445 ENH: sparse: special-case DIA * scalar
  scipy/sparse/_base.py
  scipy/sparse/_dia.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse

#20456 BUG: signal.iirfilter: avoid integer overflow
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#20460 DOC: Remove extra css colors and settings
  doc/source/_static/scipy.css
  doc/source/conf.py
  doc/source/index.rst
Labels: Documentation

#20462 DOC: update readme with link to new forum
  README.rst
Labels: Documentation

#20465 MAINT: special: fix compiler warning for unused variable
  scipy/special/special/hyp2f1.h
Labels: scipy.special, maintenance, C/C++

#20454 DOC: Update toolchain roadmap (1/N)
  doc/source/dev/toolchain.rst
Labels: Documentation, DX

#20463 MAINT: Refactor special function ufunc generation and consolidate wrappers
  scipy/special/_add_newdocs.py
  scipy/special/_exprel.pxd
  scipy/special/_generate_pyx.py
  scipy/special/_hyp0f1.pxd
  scipy/special/_logit.h
  scipy/special/_special.h
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/special/.clang-format
  scipy/special/special/binom.h
  scipy/special/special/cephes/hyp2f1.h
  scipy/special/special/config.h
  scipy/special/special/digamma.h
  scipy/special/special/hyp2f1.h
  scipy/special/special/lambertw.h
  scipy/special/special/legendre.h
  scipy/special/special/log_exp.h
  scipy/special/special/loggamma.h
  scipy/special/special/sph_harm.h
  scipy/special/special/wright_bessel.h
  scipy/special/special_wrappers.cpp
  scipy/special/special_wrappers.h
  scipy/special/stirling2.h
  scipy/special/tests/test_sph_harm.py
  scipy/special/ufunc.h
Labels: scipy.special, maintenance, C/C++, Cython

#20397 ENH: Support scalar-first order of quaternion components in Rotation
  scipy/spatial/transform/_rotation.pyi
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, Cython

#20473 BUG: linalg: fix ordering of complex conj gen eigenvalues
  scipy/linalg/tests/test_decomp.py
Labels: defect, scipy.linalg, backport-candidate

#19816 BLD: Add Accelerate support for macOS 13.3+
  .github/workflows/macos_meson.yml
  meson.build
  scipy/_build_utils/_generate_blas_wrapper.py
  scipy/_build_utils/_wrappers_common.py
  scipy/_build_utils/meson.build
  scipy/_build_utils/src/npy_cblas.h
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/meson.build
  scipy/linalg/_generate_pyx.py
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/odr/meson.build
  scipy/optimize/_trlib/meson.build
  scipy/optimize/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/special/meson.build
Labels: Build issues, 3rd party binaries, CI, C/C++, Cython, Meson

#20073 ENH: special: fix premature overflow in `boxcox`
  scipy/special/_boxcox.pxd
  scipy/special/tests/test_boxcox.py
Labels: enhancement, scipy.special, Cython

#20477 BLD: ensure all static libraries use hidden visibility
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/meson.build
  scipy/odr/meson.build
  scipy/optimize/meson.build
  scipy/sparse/linalg/_dsolve/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/special/meson.build
  scipy/stats/_levy_stable/meson.build
Labels: Build issues, maintenance, Meson

#20322 BUG: sparse: align dok_array.pop() to dict.pop() for case with no default arg
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_dok.py
Labels: defect, scipy.sparse, backport-candidate

#20413 MAINT: Vendor npyrandom instead of using static library
  scipy/meson.build
  scipy/stats/_biasedurn.pyx
  scipy/stats/_rcont/_rcont.c
  scipy/stats/_rcont/_rcont.h
  scipy/stats/_rcont/meson.build
  scipy/stats/_rcont/rcont.pyx
  scipy/stats/libnpyrandom/README.md
  scipy/stats/libnpyrandom/distributions.c
  scipy/stats/libnpyrandom/distributions.h
  scipy/stats/libnpyrandom/logfactorial.c
  scipy/stats/libnpyrandom/logfactorial.h
  scipy/stats/libnpyrandom/ziggurat_constants.h
  scipy/stats/meson.build
Labels: scipy.stats, maintenance, C/C++, Cython, Meson

#20484 TST: compare absolute values of U and VT in pydata-sparse SVD test
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: scipy.sparse.linalg, scipy.sparse, maintenance

#20478 CI/MAINT: Increase minimum required compiler versions to GCC 9.1 and Clang 14.0; adapt CI
  .github/workflows/linux_meson.yml
  doc/source/dev/contributor/continuous_integration.rst
  meson.build
Labels: maintenance, CI, Meson

#20495 BUG: Remove keyword argument from ValueError in SciPy.optimize
  scipy/optimize/_optimize.py
Labels: defect, scipy.optimize

#20503 MAINT: spatial: Fix type annotation of `query_ball_point`
  scipy/spatial/_ckdtree.pyi
Labels: scipy.spatial, maintenance

#20508 DOC: Fix legacy admonition styling
  doc/source/_static/scipy.css
Labels: Documentation

#20511 BUG: Fix raising ValueError on a zero-size array for SciPy.special.logsumexp
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Labels: defect, scipy.special

#20483 ENH: special: translate `sph_bessel` to C++, refactor `cyl_bessel`
  scipy/special/_add_newdocs.py
  scipy/special/_generate_pyx.py
  scipy/special/_gufuncs.cpp
  scipy/special/_hyp0f1.pxd
  scipy/special/_legacy.pxd
  scipy/special/_sici.pxd
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_spherical_bessel.pxd
  scipy/special/cephes/struve.c
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/meson.build
  scipy/special/scaled_exp1.c
  scipy/special/scaled_exp1.h
  scipy/special/sf_error.c
  scipy/special/sf_error.cc
  scipy/special/sf_error.h
  scipy/special/sf_error_state.h
  scipy/special/special.h
  scipy/special/special/airy.h
  scipy/special/special/amos.h
  scipy/special/special/bessel.h
  scipy/special/special/error.h
  scipy/special/special/expint.h
  scipy/special/special/fresnel.h
  scipy/special/special/kelvin.h
  scipy/special/special/legendre.h
  scipy/special/special/mathieu.h
  scipy/special/special/par_cyl.h
  scipy/special/special/specfun.h
  scipy/special/special/sph_bessel.h
  scipy/special/special/sph_harm.h
  scipy/special/special/sphd_wave.h
  scipy/special/special/wright_bessel.h
  scipy/special/special_wrappers.cpp
  scipy/special/special_wrappers.h
  scipy/special/ufunc.h
  scipy/special/wright.cc
Labels: enhancement, scipy.special, C/C++, Cython

#20474 TST: tolerance bumps for the conda-forge builds
  scipy/interpolate/tests/test_rbfinterp.py
  scipy/interpolate/tests/test_rgi.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
Labels: defect, scipy.interpolate, backport-candidate

#20500 DOC: Update dead reference link in `Scipy.linalg._solvers.py`: #20492
  scipy/linalg/_solvers.py
Labels: scipy.linalg, Documentation

#20516 BUG: linalg: fix eigh(1x1 array, driver='evd') f2py check
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/tests/test_decomp.py
Labels: defect, scipy.linalg, backport-candidate

#20522 TST: Skip or fix some failing tests on certain macOS builds
  scipy/optimize/tests/test_linprog.py
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, scipy.optimize, maintenance

#20526 BLD: adjust lower bound on Clang/LLVM from 14.0 to 12.0
  doc/source/dev/toolchain.rst
  meson.build
Labels: Build issues, Documentation, DX, Meson

#20515 BLD: default to C17 rather than C99
  meson.build
  scipy/meson.build
Labels: Build issues, Meson

#20499 DEP: execute sparse array API deprecations
  benchmarks/benchmarks/sparse_linalg_solve.py
  scipy/io/_fast_matrix_market/__init__.py
  scipy/linalg/tests/test_lapack.py
  scipy/sparse/_base.py
  scipy/sparse/linalg/_dsolve/tests/test_linsolve.py
  scipy/sparse/linalg/tests/test_matfuncs.py
  scipy/sparse/tests/meson.build
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_deprecations.py
  scipy/stats/_crosstab.py
  scipy/stats/tests/test_crosstab.py
Labels: scipy.sparse, deprecated

#20529 MAINT: remove repeated "is" typos
  scipy/integrate/quadpack/doc
  scipy/integrate/quadpack/readme
  scipy/interpolate/interpnd.pyx
  scipy/signal/_peak_finding_utils.pyx
  scipy/stats/_covariance.py
Labels: maintenance

#20530 BLD: Fix error message for f2py generation fail
  tools/generate_f2pymod.py
Labels: Build issues, backport-candidate

#20505 BUG: Include Python.h before system headers.
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/_wright.cxx
  scipy/special/ufunc.h
Labels: defect, scipy.io, C/C++

#20527 BUG: `spherical_in` for `n=0` and `z=0`
  scipy/special/special/sph_bessel.h
  scipy/special/tests/test_spherical_bessel.py
Labels: defect, scipy.special, C/C++

#20292 ENH: stats.moment: add array API support
  .github/workflows/array_api.yml
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/conftest.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_rank.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy._lib, array types

#20533 TST: Adapt to `__array__(copy=True)`
  scipy/linalg/_testutils.py
  scipy/optimize/_nonlin.py
Labels: scipy.linalg, scipy.optimize, maintenance

#20538 TST: _lib: remove redundant test for missing `stacklevel`
  scipy/_lib/tests/test_warnings.py
Labels: scipy._lib, maintenance

#20541 ENH: stats.skew: add array-API support
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#20537 BLD: Move Python-including files to start of source.
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
  scipy/special/_wright.cxx
Labels: scipy.special, scipy.io, Build issues, C/C++

#20534 BUG: Fixes incorrect upper_band value for scipy.linalg.bandwidth
  scipy/linalg/_cythonized_array_utils.pyx
  scipy/linalg/tests/test_cythonized_array_utils.py
Labels: defect, scipy.linalg, Cython

#20542 BLD: Accelerate builds should not define `NO_APPEND_FORTRAN`
  scipy/_build_utils/_wrappers_common.py
  scipy/_build_utils/src/npy_cblas.h
  scipy/_build_utils/src/wrap_dummy_g77_abi.c
  scipy/_build_utils/src/wrap_g77_abi.c
Labels: Build issues, C/C++

#20482 CI: standardize job names
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/musllinux.yml
  .github/workflows/windows.yml
Labels: CI

#20498 DEP: switch sparse methods to kwarg-only; remove tol/restrt kwargs
  scipy/_lib/tests/test_warnings.py
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/_isolve/tfqmr.py
Labels: scipy.sparse.linalg, scipy.sparse, needs-work, deprecated

#20546 DOC: use more correct and inclusive pronouns
  doc/source/dev/core-dev/decisions.rst.inc
  doc/source/dev/core-dev/licensing.rst.inc
  doc/source/dev/governance.rst
  scipy/signal/_ltisys.py
  scipy/sparse/linalg/_special_sparse_arrays.py
Labels: Documentation

#20550 DEP: stats: switch kendalltau to kwarg-only, remove initial_lexsort kwarg
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#20199 DOC/DEV/MAINT: update core-dev guide
  doc/source/dev/contributor/reviewing_prs.rst
  doc/source/dev/core-dev/deprecations.rst.inc
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/core-dev/github.rst.inc
  doc/source/dev/core-dev/licensing.rst.inc
  doc/source/dev/core-dev/versioning.rst.inc
Labels: Documentation, maintenance, DX

#20545 ENH: stats.ttest_1samp: add array-API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20548 TST: Skip Cython tests for editable installs
  scipy/_lib/_testutils.py
  scipy/linalg/tests/test_extending.py
  scipy/optimize/tests/test_extending.py
  scipy/special/tests/test_extending.py
Labels: maintenance

#20556 DOC: release process updates
  doc/source/dev/core-dev/releasing.rst.inc
Labels: Documentation, DX

#20536 CI: Check whether Python.h is included first in a file
  .github/workflows/lint.yml
  dev.py
  scipy/io/_fast_matrix_market/src/_fmm_core.cpp
  scipy/optimize/_pava/pava_pybind.cpp
  scipy/spatial/ckdtree/src/count_neighbors.cxx
  scipy/spatial/ckdtree/src/query.cxx
  scipy/spatial/ckdtree/src/query_ball_point.cxx
  scipy/spatial/ckdtree/src/query_ball_tree.cxx
  scipy/spatial/ckdtree/src/query_pairs.cxx
  scipy/spatial/ckdtree/src/sparse_distances.cxx
  scipy/special/sf_error.cc
  tools/check_python_h_first.py
Labels: scipy.special, scipy.io, scipy.optimize, Build issues, CI, C/C++

#20468 TST: stats: mark tests slow/xslow
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fast_gen_inversion.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_odds_ratio.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_sensitivity_analysis.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#20563 BUG: Fix invalid default bracket selection in _bracket_minimum
  scipy/optimize/_bracket.py
  scipy/optimize/tests/test_bracket.py
Labels: defect, scipy.optimize

#20575 TST: stats.skew: assert_equal -> xp_assert_equal as appropriate
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#20567 REV: 1.13.x: revert changes to f2py and tempita handling in meson.build files
  meson.build
  scipy/_build_utils/tempita.py
  scipy/integrate/meson.build
  scipy/interpolate/meson.build
  scipy/io/meson.build
  scipy/linalg/meson.build
  scipy/meson.build
  scipy/optimize/cython_optimize/meson.build
  scipy/optimize/meson.build
  scipy/signal/meson.build
  scipy/sparse/linalg/_eigen/arpack/meson.build
  scipy/sparse/linalg/_propack/meson.build
  scipy/sparse/meson.build
  scipy/stats/meson.build
  tools/generate_f2pymod.py
Labels: Build issues, Meson

#20577 DEV: add unicode check to pre-commit-hook
  tools/pre-commit-hook.py
Labels: DX

#20510 BLD: Accelerate wheels for macOS 14+
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  doc/source/dev/toolchain.rst
  tools/wheels/cibw_test_command.sh
Labels: scipy.special, Build issues, CI

#20569 update openblas to 0.3.27
  tools/openblas_support.py
Labels: scipy.linalg, maintenance, backport-candidate

#20559 DOC/DEV: add core-dev page on vendored code
  doc/source/dev/core-dev/index.rst
  doc/source/dev/core-dev/vendored-code.rst.inc
Labels: Documentation, DX

#20586 MAINT: optimize.linprog: fix bug when integrality is a list of all zeros
  scipy/optimize/_linprog.py
  scipy/optimize/tests/test_linprog.py
Labels: scipy.optimize, maintenance

#20583 TST: stats.rv_continuous.fit: adjust fit XSLOW/XFAIL/skip sets
  scipy/stats/tests/test_continuous_basic.py
Labels: scipy.stats, maintenance

#20565 DEP: linalg: remove cond / rcond kwargs from linalg.pinv and switch to kwarg-only
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg, deprecated

#20554 DEP: integrate: switch simpson to kwarg-only, remove even kwarg
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, deprecated

#20560 DEP: linalg: remove turbo / eigvals kwargs from linalg.{eigh,eigvalsh} and switch to kwarg-only
  scipy/linalg/_decomp.py
  scipy/linalg/tests/test_decomp.py
Labels: scipy.linalg, deprecated

#20588 DEP: special: remove legacy kwarg from special.comb and switch to kwarg-only
  scipy/special/_basic.py
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/tests/test_basic.py
Labels: scipy.special, deprecated

#13534 ENH: Add more initialization methods for HessianUpdateStrategy
  scipy/optimize/_hessian_update_strategy.py
  scipy/optimize/tests/test_hessian_update_strategy.py
Labels: enhancement, scipy.optimize

#20573 BUG: Fix error with 180 degree rotation in Rotation.align_vectors() with an infinite weight
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: defect, scipy.spatial, Cython

#20600 TYP: update supported Mypy version from 1.0.0 to 1.10.0
  .github/workflows/linux.yml
  pyproject.toml
  requirements/dev.txt
  scipy/_lib/_testutils.py
  scipy/conftest.py
  scipy/optimize/_milp.py
  scipy/spatial/_ckdtree.pyi
  scipy/special/_orthogonal.pyi
  scipy/special/_support_alternative_backends.py
  scipy/stats/_qmc.py
  scipy/stats/_unuran/unuran_wrapper.pyi
Labels: static typing

#20601 MAINT: lint: temporarily disable UP031
  tools/lint.toml
Labels: maintenance

#20572 MAINT: vendor Tempita in `scipy/_build_utils`
  LICENSES_bundled.txt
  scipy/_build_utils/tempita.py
  scipy/_build_utils/tempita/LICENSE.txt
  scipy/_build_utils/tempita/__init__.py
  scipy/_build_utils/tempita/_looper.py
  scipy/_build_utils/tempita/_tempita.py
  tools/lint.toml
Labels: Build issues, maintenance, Cython, Meson

#20578 DEP: signal: remove nyq / Hz kwargs in firwin* and switch to kwarg-only
  scipy/signal/_fir_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
Labels: scipy.signal, deprecated

#20593 ENH: constants: add array api support
  .github/workflows/array_api.yml
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_array_api.py
  scipy/constants/_constants.py
  scipy/constants/tests/test_constants.py
Labels: enhancement, scipy.constants, array types

#20501 MAINT: optimize._chandrupatla: reduce xatol
  scipy/optimize/_chandrupatla.py
Labels: enhancement, scipy.optimize, maintenance

#20615 ENH: stats: Implement _isf for burr12
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, enhancement

#20607 BUG: handle uint arrays in factorial{,2,k}
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: defect, scipy.special, backport-candidate

#20487 TST: adjust other very slow tests
  scipy/_lib/tests/test_import_cycles.py
  scipy/integrate/tests/test_quadpack.py
  scipy/interpolate/tests/test_gil.py
  scipy/interpolate/tests/test_rgi.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test_minimize_constrained.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/tests/test_propack.py
Labels: maintenance
