Repository scipy/scipy, pull requests merged in 2024-06, with the labels that each got.

#20849 DOC/DEV: mention `-b` option in contributor guide on testing
  doc/source/dev/api-dev/array_api.rst
  doc/source/dev/contributor/devpy_test.rst
Labels: Documentation, DX

#20855 TST: add additional margin to `fail_slow`s
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_import_cycles.py
  scipy/_lib/tests/test_warnings.py
  scipy/datasets/tests/test_data.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/tests/test__quad_vec.py
  scipy/integrate/tests/test_quadpack.py
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_interpnd.py
  scipy/interpolate/tests/test_rgi.py
  scipy/io/tests/test_mmio.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_extending.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/optimize/tests/test__basinhopping.py
  scipy/optimize/tests/test__differential_evolution.py
  scipy/optimize/tests/test__dual_annealing.py
  scipy/optimize/tests/test__shgo.py
  scipy/optimize/tests/test_constraint_conversion.py
  scipy/optimize/tests/test_extending.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linprog.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_trustregion_exact.py
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/tests/test_base.py
  scipy/spatial/tests/test_kdtree.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cython_special.py
  scipy/special/tests/test_extending.py
  scipy/special/tests/test_round.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_fast_gen_inversion.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_mgc.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, CI

#20859 DEP: signal: remove `cmplx_sort`
  scipy/signal/__init__.py
  scipy/signal/_signaltools.py
  scipy/signal/signaltools.py
Labels: scipy.signal, deprecated, needs-release-note

#20865 DEP: signal: remove wavelet functions
  doc/source/conf.py
  doc/source/dev/roadmap-detailed.rst
  scipy/signal/__init__.py
  scipy/signal/_peak_finding.py
  scipy/signal/_waveforms.py
  scipy/signal/_wavelets.py
  scipy/signal/tests/test_wavelets.py
  scipy/signal/wavelets.py
Labels: scipy.signal, Documentation, deprecated, DX, needs-release-note

#20869 DEP: special.factorial: raise error for non-integer scalars and `exact=True`
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, deprecated, needs-release-note

#20866 DEP: stats: remove `rvs_ratio_uniforms`
  doc/source/tutorial/stats/sampling.rst
  scipy/stats/__init__.py
  scipy/stats/_rvs_sampling.py
  scipy/stats/meson.build
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation, deprecated, Meson, needs-release-note

#20871 TST: sparse.csgraph: skip `sparse` tests for `sparse < 0.15.4`
  scipy/sparse/csgraph/tests/test_pydata_sparse.py
Labels: scipy.sparse, scipy.sparse.csgraph, maintenance, array types

#20862 MAINT: special: Add kokkos `mdspan`
  LICENSES_bundled.txt
  scipy/special/special/mdspan.h
  scipy/special/special/sph_harm.h
  scipy/special/special/third_party/kokkos/mdspan.hpp
  scipy/special/ufunc.h
Labels: scipy.special, maintenance, C/C++

#20874 MAINT: spatial: add ``const`` to Cython function signatures
  scipy/spatial/_hausdorff.pyx
  scipy/spatial/_voronoi.pyx
  scipy/spatial/transform/_rotation.pyx
Labels: scipy.spatial, maintenance, Cython

#20873 MAINT: sparse: add ``const`` to Cython function signatures
  scipy/sparse/csgraph/_flow.pyx
  scipy/sparse/csgraph/_matching.pyx
  scipy/sparse/csgraph/_min_spanning_tree.pyx
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: scipy.sparse, scipy.sparse.csgraph, maintenance, Cython

#20771 ENH: `stats.ttest_ind`: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#20830 DOC: `optimize.differential_evolution`: change convergence to reflect implementation
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize, Documentation

#20857 ENH: sparse: add axis parameter to `count_nonzero` method
  scipy/sparse/_base.py
  scipy/sparse/_bsr.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_lil.py
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse, needs-release-note

#20881 DOC: mailing list to forum
  .github/ISSUE_TEMPLATE/config.yml
  README.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/core-dev/decisions.rst.inc
  doc/source/dev/core-dev/deprecations.rst.inc
  doc/source/dev/core-dev/distributing.rst.inc
  doc/source/dev/core-dev/github.rst.inc
  doc/source/dev/core-dev/licensing.rst.inc
  doc/source/dev/gitwash/git_links.inc
  doc/source/dev/governance.rst
  doc/source/dev/hacking.rst
  doc/source/dev/missing-bits.rst
  doc/source/dev/roadmap-detailed.rst
  doc/source/index.rst
Labels: Documentation, maintenance, DX

#20876 DOC: use `intersphinx_registry` for easier intersphinx mapping maintenance
  doc/source/conf.py
  doc/source/dev/toolchain.rst
  environment.yml
  pyproject.toml
  requirements/doc.txt
Labels: Documentation, maintenance, DX

#20843 DOC/DEV: add docs for enabling interactive examples
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/try_examples.json
Labels: Documentation, DX

#20883 ENH: stats: rewrite `ttest_rel` in terms of `ttest_1samp`
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#20868 DEP: interpolate: deprecate complex dtypes in `{Akima1D, Pchip}Interpolator`
  scipy/interpolate/_cubic.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/interpolate/tests/test_rgi.py
Labels: scipy.interpolate, deprecated, needs-release-note

#20885 BUG: fix incorrect intersphinx-registry entry in environment.yml
  environment.yml
Labels: defect

#20886 CI/DEV: fix Node.js 16 warnings by bumping actions
  .github/workflows/array_api.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/pull-request-labeler.yml
Labels: CI, DX

#20793 ENH: stats: end-to-end array-API support for NHSTs with beta null distribution
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, enhancement, scipy.special, array types

#20891 MAINT: stats: add ``const`` to Cython function signatures
  scipy/stats/_ansari_swilk_statistics.pyx
  scipy/stats/_qmc_cy.pyx
  scipy/stats/_rcont/rcont.pyx
  scipy/stats/_sobol.pyx
  scipy/stats/_stats.pyx
Labels: scipy.stats, maintenance, Cython

#20884 ENH: stats: end-to-end array-API support for NHSTs with Student's t null distribution
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, enhancement, scipy.special

#20754 ENH: sparse: add dtype validation in `__init__` and `astype`
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/_dia.py
  scipy/sparse/_dok.py
  scipy/sparse/_lil.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_sputils.py
Labels: enhancement, scipy.sparse, needs-release-note

#20870 BLD: test delocate works by removing original lib [wheel build]
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  tools/wheels/cibw_before_build_macos.sh
Labels: Build issues, backport-candidate, CI

#20887 MAINT: signal: add ``const`` to Cython function signatures
  scipy/signal/_max_len_seq_inner.pyx
  scipy/signal/_peak_finding_utils.pyx
  scipy/signal/_upfirdn_apply.pyx
Labels: scipy.signal, maintenance, Cython

#20303 DOC: stats: Convert sampling tutorial to MyST-md
  .gitignore
  doc/Makefile
  doc/source/conf.py
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/toolchain.rst
  doc/source/tutorial/index.rst
  doc/source/tutorial/stats/sampling.md
  doc/source/tutorial/stats/sampling.rst
  environment.yml
Labels: scipy.stats, Documentation

#20242 DOC: sparse: Correct `todense` documentation
  scipy/sparse/_base.py
  scipy/sparse/_matrix.py
Labels: scipy.sparse, Documentation, needs-work

#20408 DOC: ndimage.convolve: modify `origin` param description
  scipy/ndimage/_filters.py
Labels: scipy.ndimage, Documentation, maintenance

#20889 MAINT: sparse: Align matmul tests in `test_base.py` for spmatrix and sparray
  scipy/sparse/_data.py
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, maintenance

#20907 CI: Make sure nightly free-threaded wheels are tested with GIL disabled
  tools/wheels/cibw_before_test.sh
  tools/wheels/cibw_test_command.sh
Labels: CI

#20875 BLD/DEV: special: Fix warning due to mixed initializers
  .github/workflows/linux.yml
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
Labels: scipy.special, Build issues, CI, C/C++, DX

#20906 DOC: linalg.schur: update doc for the argument `sort`
  scipy/linalg/_decomp_schur.py
Labels: scipy.linalg, Documentation

#20914 TST: linalg: bump tolerance in `TestEig::test_singular`
  scipy/linalg/tests/test_decomp.py
Labels: scipy.linalg, maintenance, backport-candidate

#20913 BUG: sparse.csgraph.dijkstra: fix dtype and shape bugs
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: defect, scipy.sparse, scipy.sparse.csgraph, Cython

#20900 ENH: stats: add array API support to combine_pvalues
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20923 DOC: update doctests to satisfy scipy-doctests==1.2.0
  scipy/stats/_fit.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#20927 MAINT: adapt to a scipy-doctests change
  doc/source/tutorial/interpolate/smoothing_splines.rst
  scipy/conftest.py
Labels: maintenance

#20924 BUG: `_lib`: ensure reasonable length `_deprecate_positional_args` messages
  scipy/_lib/deprecation.py
Labels: defect, scipy._lib, deprecated

#20919 BLD: optimize: use hidden visibility for static HiGHS libraries
  scipy/optimize/_highs/meson.build
Labels: scipy.optimize, Build issues, maintenance, Meson

#20922 BUG: stats.mstats: fix `mstats.{ttest_rel, ttest_1samp}` when array API is enabled
  .github/workflows/array_api.yml
  scipy/stats/_mstats_basic.py
Labels: defect, scipy.stats, CI

#20759 MAINT: sparse.linalg: adjust `norm`, `eigs`, and `lsqr` to `pydata/sparse` input
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_isolve/lsqr.py
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: scipy.sparse.linalg, scipy.sparse, maintenance, array types

#20932 MAINT: io: fix premature setting of attributes in `HBInfo`
  scipy/io/_harwell_boeing/hb.py
Labels: scipy.io, maintenance

#20851 DOC: add cobyqa website reference (#20841)
  scipy/optimize/_cobyqa_py.py
Labels: scipy.optimize, Documentation, backport-candidate

#20920 MAINT: special: fix msvc build by using `new` and `delete` for `cwrk`
  scipy/special/special/amos/amos.h
Labels: scipy.special, Build issues, maintenance, backport-candidate, C/C++

#20743 ENH: `stats._xp_mean`, an array API compatible `mean` with `weights` and `nan_policy`
  scipy/_lib/_util.py
  scipy/_lib/tests/test_warnings.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy._lib, array types

#20936 DOC: `array_api.rst`: update 1.14 functions with array API support
  doc/source/dev/api-dev/array_api.rst
  doc/source/release/1.14.0-notes.rst
Labels: Documentation, backport-candidate, DX, array types

#20941 DOC/MAINT: single to double backticks to remove improper linking
  scipy/fftpack/_realtransforms.py
  scipy/sparse/_construct.py
  scipy/sparse/_data.py
  scipy/sparse/_dok.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lsmr.py
  scipy/sparse/linalg/_isolve/lsqr.py
  scipy/sparse/linalg/_isolve/tfqmr.py
  scipy/sparse/linalg/_svdp.py
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/_kdtree.py
  scipy/spatial/_spherical_voronoi.py
  scipy/spatial/distance.py
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_generation/reference_distributions.py
Labels: Documentation, maintenance

#20945 TST: address tolerance violations with SciPy 1.14.0rc1 on linux-{aarch64,ppc64le}
  scipy/optimize/tests/test_differentiate.py
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, scipy.optimize, maintenance, backport-candidate

#20953 TST: loosen tolerance in test_krandinit slightly to pass with MKL
  scipy/cluster/tests/test_vq.py
Labels: scipy.cluster, maintenance

#20952 TST: loosen tolerance in test_x0_working to pass with alternate BLAS backends
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, scipy.sparse, maintenance

#20937 BUG/BLD: special: Ensure symbols in `sf_error_state` shared library are exported/imported on MSVC
  scipy/_build_utils/src/scipy_dll.h
  scipy/meson.build
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/meson.build
  scipy/special/sf_error_state.c
  scipy/special/sf_error_state.h
Labels: defect, scipy.special, Build issues, backport-candidate, C/C++, Meson

#20955 DOC: Single to double backticks for non-targets
  scipy/interpolate/_fitpack_py.py
  scipy/linalg/_basic.py
  scipy/linalg/_generate_pyx.py
  scipy/linalg/_interpolative_backend.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/interpolative.py
  scipy/ndimage/_ni_docstrings.py
  scipy/odr/_odrpack.py
  scipy/optimize/_direct_py.py
  scipy/optimize/_optimize.py
  scipy/optimize/_shgo.py
  scipy/signal/_signaltools.py
  scipy/special/_add_newdocs.py
  scipy/special/_basic.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_mgc.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
Labels: Documentation, maintenance

#20946 ENH: stats.gmean: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20766 MAINT: stats: minor numerical improvements to circular statistics
  scipy/stats/_morestats.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, maintenance

#20954 MAINT: stats.hmean/pmean: simplify prior to array API conversion
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#20934 TST: stats.combine_pvalues: parameterise tests and update reference values from R
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#20961 TST: robustify test_nnls_inner_loop_case1
  scipy/optimize/tests/test_nnls.py
Labels: scipy.optimize, maintenance

#20944 DOC: update distributing section
  doc/source/dev/core-dev/distributing.rst.inc
Labels: Documentation, DX

#20968 MAINT: fix some misspellings
  scipy/conftest.py
  scipy/integrate/_ivp/ivp.py
  scipy/interpolate/_cubic.py
  scipy/interpolate/_fitpack_py.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_signaltools.py
  scipy/sparse/_construct.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_stats_py.py
Labels: maintenance

#20969 DOC: linalg: add # may vary to a linalg.schur example
  scipy/linalg/_decomp_schur.py
Labels: scipy.linalg, Documentation

#20975 DOC: single to double backticks
  doc/source/tutorial/fft.rst
  doc/source/tutorial/integrate.rst
  doc/source/tutorial/interpolate/ND_regular_grid.rst
  doc/source/tutorial/interpolate/splines_and_polynomials.rst
  scipy/cluster/_hierarchy.pyx
  scipy/signal/_signaltools.py
  scipy/sparse/__init__.py
  scipy/spatial/distance.py
Labels: scipy.sparse, scipy.signal, scipy.cluster, scipy.spatial, Documentation, Cython

#20916 DOC: Mention that ``sparse.bsr_array`` does not support slicing.
  scipy/sparse/_bsr.py
  scipy/sparse/_dia.py
Labels: scipy.sparse, Documentation

#20977 DOC: More single to double backtick
  doc/source/release/1.1.0-notes.rst
  doc/source/release/1.11.0-notes.rst
  doc/source/release/1.2.0-notes.rst
  doc/source/release/1.5.0-notes.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/stats/continuous_geninvgauss.rst
  doc/source/tutorial/stats/continuous_norminvgauss.rst
  doc/source/tutorial/stats/sampling_srou.rst
  scipy/interpolate/_cubic.py
  scipy/interpolate/_interpolate.py
  scipy/ndimage/_morphology.py
  scipy/odr/_odrpack.py
  scipy/optimize/_bracket.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_differentiate.py
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/_optimize.py
  scipy/optimize/_root_scalar.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/_tnc.py
  scipy/optimize/_zeros_py.py
  scipy/signal/_signaltools.py
  scipy/special/_add_newdocs.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_crosstab.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_mgc.py
  scipy/stats/_multivariate.py
  scipy/stats/_qmvnt.py
Labels: scipy.stats, scipy.special, scipy.optimize, scipy.signal, scipy.interpolate, scipy.ndimage, scipy.odr, Documentation

#20867 DEP: `integrate.cumulative_trapezoid`: raise `ValueError` for values of `initial` other than `None` and `0`
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, deprecated, needs-release-note

#20979 STY: `_lib._util`: address new mypy complaint in main
  scipy/_lib/_util.py
Labels: scipy._lib, maintenance, static typing

#20973 TST:sparse.linalg: Skip test due to sensitivity to numerical noise
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
Labels: scipy.sparse.linalg, maintenance

#20974 ENH: stats.combine_pvalues: add native axis support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement

#20970 REL: set 1.14.0 rc3 unreleased
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: maintenance

#20980 CI, MAINT: `test_plot_iv` NumPy 2 shim
  .github/workflows/linux.yml
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance, CI

#20912 DOC: Add more information about how to use Accelerate
  doc/source/building/blas_lapack.rst
  doc/source/building/index.rst
Labels: Documentation

#20987 DOC/DEV: update commit message guidance
  .github/PULL_REQUEST_TEMPLATE.md
  doc/source/dev/contributor/development_workflow.rst
Labels: Documentation, DX

#20965 ENH: `stats.tmean`: add array API support
  scipy/_lib/_array_api.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/constants/tests/test_constants.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#20915 DOC: `integrate.quad_vec`: Add example when using `workers`
  scipy/integrate/_quad_vec.py
Labels: scipy.integrate, Documentation

#20995 CI: test cp313-dev
  .github/workflows/linux.yml
  scipy/special/_ellip_harm.pxd
Labels: scipy.special, CI, Cython

#20971 TST: special: use `standard_normal` to generate arguments in `test_support_alternative_backends`
  scipy/_lib/_array_api.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.special, scipy._lib, maintenance, array types

#20998 MAINT: signal: fix code comment typo
  scipy/signal/_spectral_py.py
Labels: scipy.signal, maintenance

#21003 MAINT: odr: fix a refcounting issue in `__odrpack.c`
  scipy/odr/__odrpack.c
Labels: scipy.odr, maintenance, C/C++

#21004 DOC: stats: Convert `chisquare` example to notebook
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_tests.rst
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#21005 CI: one invocation for all tests in array API job
  .github/workflows/array_api.yml
Labels: CI, array types

#20767 ENH: stats.qmc: add bounds parameters to PoissonDisk
  benchmarks/benchmarks/stats.py
  scipy/stats/_qmc.py
  scipy/stats/tests/test_qmc.py
Labels: scipy.stats, enhancement

#20120 ENH: sparse: Add indexing for 1D arrays
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_csr.py
  scipy/sparse/_dok.py
  scipy/sparse/_index.py
  scipy/sparse/tests/meson.build
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_dok.py
  scipy/sparse/tests/test_indexing1d.py
Labels: enhancement, scipy.sparse, needs-release-note

#21000 BLD: make cp313 wheels [wheel build]
  .github/workflows/wheels.yml
  ci/cirrus_wheels.yml
  tools/wheels/cibw_before_build_win.sh
Labels: Build issues, CI

#21023 DEV: lint: enforce newlines at end of files
  tools/lint.toml
Labels: DX

#21017 MAINT: smoke-docs: add special/_precompute to --ignore list, improve the error message if scipy-doctest is not found
  dev.py
  scipy/_lib/_testutils.py
  scipy/conftest.py
Labels: scipy._lib, maintenance, DX

#20909 DEP: special.perm: deprecate non-integer `N` and `k` with `exact=True`
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, backport-candidate, deprecated, needs-release-note

#20962 DOC/MAINT: stats.gmean/gstd/hmean/pmean: document/treat invalid input consistently
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, Documentation, maintenance, backport-candidate

#20986 DEV: `gh_lists`: single -> double backticks
  .gitignore
  tools/gh_lists.py
Labels: DX

#21032 DOC/DEV: update vendored-code page
  doc/source/dev/core-dev/vendored-code.rst.inc
Labels: Documentation, DX

#21033 DOC: interpolate: discuss linear interpolation with extrapolation
  doc/source/tutorial/interpolate/1D.rst
Labels: scipy.interpolate, Documentation

#20928 ENH: optimize._differentiate: add array API support
  .github/workflows/array_api.yml
  scipy/optimize/_differentiate.py
  scipy/optimize/tests/test_differentiate.py
Labels: enhancement, scipy.optimize, array types

#21022 BUG: sparse: Fix advanced indexing using both slice and array
  scipy/sparse/_index.py
  scipy/sparse/tests/test_indexing1d.py
Labels: defect, scipy.sparse

#21019 MAINT: "final" backports for 1.14.0
  doc/source/release/1.14.0-notes.rst
  scipy/_lib/_util.py
  scipy/optimize/tests/test_nnls.py
  scipy/sparse/linalg/_isolve/tests/test_iterative.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.sparse.linalg, scipy.sparse, scipy.optimize, scipy._lib, Documentation, maintenance

#21034 ENH: stats.xp_var: array-API compatible variance with scipy.stats interface
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#21037 MAINT: forward port 1.14.0 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release/1.14.0-notes.rst
Labels: Documentation, maintenance

#21035 ENH: stats.hmean/pmean: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#21047 TST: optimize: fix exception test on PyPy3.10
  scipy/optimize/tests/test_hessian_update_strategy.py
Labels: scipy.optimize, maintenance

#21036 ENH: stats.tvar/tstd/tsem: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#21038 REL, MAINT: prep for 1.14.1
  doc/source/release.rst
  doc/source/release/1.14.1-notes.rst
  meson.build
  pyproject.toml
  tools/version_utils.py
Labels: Documentation, maintenance, Meson

#21018 MAINT: sparse: better error message on `matmul` mismatch
  scipy/sparse/_base.py
Labels: scipy.sparse, maintenance

#21063 MAINT: gcc-14 test_region5 tol bump
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, maintenance

#21067 BUG: special: remove type punning to avoid warnings in LTO builds
  scipy/special/special_wrappers.cpp
Labels: defect, scipy.special, backport-candidate, C/C++

#21051 BUG: interpolate.LinearNDInterpolator: fix for precomputed triangulation
  scipy/interpolate/interpnd.pyx
  scipy/interpolate/tests/test_interpnd.py
Labels: defect, scipy.interpolate, Cython

#21062 BUG: special: Fixes for pro_rad1
  scipy/special/special/specfun/specfun.h
  scipy/special/tests/test_specfun.py
Labels: defect, scipy.special, backport-candidate, C/C++

#20040 DOC: optimize: add comparison of optimizers to guide
  doc/source/tutorial/optimize.rst
Labels: scipy.optimize, Documentation

#21069 MAINT: uarray: fix typo in `small_dynamic_array.h`
  scipy/_lib/_uarray/small_dynamic_array.h
Labels: defect, scipy._lib, maintenance, C/C++, uarray

#21083 MAINT: simplify `_integrate_pdf`
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, maintenance

#21086 DOC: spatial: Fix typo in `seuclidean` docstring
  scipy/spatial/distance.py
Labels: scipy.spatial, Documentation

#21074 MAINT: adapt to array-api-strict 2.0
  pyproject.toml
  pytest.ini
  requirements/test.txt
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/conftest.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, array types

#21084 BLD: Enable `open_memstream()` on newer glibc
  scipy/_lib/meson.build
Labels: scipy._lib, Build issues, backport-candidate, Meson

#21076 ENH: `stats.differential_entropy`: add array API support
  scipy/stats/_entropy.py
  scipy/stats/tests/test_entropy.py
Labels: scipy.stats, enhancement, array types

#21081 DOC: Add default options for COBYQA
  scipy/optimize/_cobyqa_py.py
Labels: scipy.optimize, Documentation
