Repository scipy/scipy, pull requests merged in 2024-10, with the labels that each got.

#21616 BUG: sparse: fix indexing after ellipsis and 2D array indexing
  scipy/sparse/_csc.py
  scipy/sparse/_csr.py
  scipy/sparse/_dok.py
  scipy/sparse/_index.py
  scipy/sparse/_lil.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#21646 DOC: sparse: Migration Guide rewording and tweaks
  doc/source/reference/sparse.migration_to_sparray.rst
Labels: scipy.sparse, Documentation

#21637 MAINT: interpolate: deduplicate input validation for NdBSpline
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_ndbspline.py
Labels: scipy.interpolate, maintenance, Cython

#21647 DOC: optimize.root: replace 'fprime' with 'jac' in `method=’hybr’`
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#20517 DOC: sparse.linalg: updated preconditioner doc for iterative linear solvers
  scipy/sparse/linalg/_isolve/iterative.py
Labels: scipy.sparse.linalg, Documentation

#18979 DOC: Add units to scipy.constants description
  scipy/constants/__init__.py
Labels: Documentation, scipy.constants

#21572 DEP: spatial.distance: deprecate `kulczynski1` and `sokalmichener` metrics
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated

#21652 BUG: `special.log_wright_bessel`: fix non-log for `1<x<=2`
  scipy/special/tests/test_wright_bessel.py
  scipy/special/xsf/wright_bessel.h
Labels: defect, scipy.special, backport-candidate, C/C++

#21648 DOC/TST: `integrate.cubature`: Clean up docstring and add additional tests
  scipy/integrate/_cubature.py
  scipy/integrate/_rules/_base.py
  scipy/integrate/tests/test_cubature.py
Labels: scipy.integrate, Documentation, maintenance

#21656 API: `integrate.cubature`: change some arguments to keyword-only
  scipy/integrate/_cubature.py
  scipy/integrate/tests/test_cubature.py
Labels: scipy.integrate, maintenance

#21050 ENH: `stats.Normal`: add new continuous distribution infrastructure + normal distribution
  scipy/integrate/_tanhsinh.py
  scipy/stats/__init__.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_fit.py
  scipy/stats/_new_distribution_docs.json
  scipy/stats/_new_distributions.py
  scipy/stats/meson.build
  scipy/stats/tests/meson.build
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement, scipy.integrate, Meson

#15993 TST: sparse.linalg: Add iterative step test of solvers with LU preconditioner
  scipy/sparse/linalg/_isolve/tests/test_gcrotmk.py
  scipy/sparse/linalg/_isolve/tests/test_lgmres.py
Labels: scipy.sparse.linalg, maintenance

#21220 TST: sparse.linalg.lobpcg: add unit tests for accuracy
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: scipy.sparse.linalg, maintenance

#21568 MAINT: special: performance optimization for simple autodifferentiation
  scipy/special/xsf/config.h
  scipy/special/xsf/dual.h
  scipy/special/xsf/legendre.h
Labels: scipy.special, maintenance, C/C++

#11345 MAINT: constants: revise way 'exact' values are recomputed
  scipy/constants/__init__.py
  scipy/constants/_codata.py
  scipy/constants/_constants.py
  scipy/constants/tests/test_codata.py
Labels: scipy.constants, maintenance

#21636 MAINT: `differentiate.differentiate`: rename function to `derivative`
  scipy/differentiate/__init__.py
  scipy/differentiate/_differentiate.py
  scipy/differentiate/tests/test_differentiate.py
Labels: maintenance, scipy.differentiate

#21673 BUG: signal.ShortTimeFFT: fix multichannel roundtrip with `mfft` set
  scipy/signal/_short_time_fft.py
  scipy/signal/tests/test_short_time_fft.py
Labels: defect, scipy.signal

#16088 DOC: signal: Make `_filter_design.py` plot labels consistent
  scipy/signal/_filter_design.py
Labels: scipy.signal, Documentation, needs-work

#21221 BENCH: sparse.linalg: check accuracy properly in LOBPCG benchmarks
  benchmarks/benchmarks/sparse_linalg_lobpcg.py
Labels: scipy.sparse.linalg, Benchmarks

#21626 BUG: sparse.linalg: Set `t=2` in `test_onenormest_table_6_t_1` in `scipy/sparse/linalg/test_onenormest.py`
  scipy/sparse/linalg/tests/test_onenormest.py
Labels: defect, scipy.sparse.linalg

#21663 CI: fix failing conda setup
  .github/workflows/windows_intel_oneAPI.yml
Labels: CI

#21672 BUG: ndimage: fix 0d arrays in `_normalize_sequence`
  scipy/ndimage/_ni_support.py
  scipy/ndimage/tests/test_interpolation.py
Labels: defect, scipy.ndimage

#19058 DOC:special/signal: Add examples for `berp_zeros` and `band_stop_obj`
  scipy/signal/_filter_design.py
  scipy/special/_basic.py
Labels: scipy.special, scipy.signal, Documentation, needs-work

#21680 MAINT:integrate: Silence a few QUADPACK compiler warnings
  scipy/integrate/__quadpack.c
Labels: scipy.integrate, maintenance, C/C++

#21277 ENH: signal.lombscargle: update to the generalized Lomb-Scargle periodogram
  .gitignore
  doc/source/tutorial/signal.rst
  mypy.ini
  scipy/signal/_spectral.py
  scipy/signal/_spectral.pyx
  scipy/signal/_spectral_py.py
  scipy/signal/meson.build
  scipy/signal/tests/test_spectral.py
Labels: enhancement, scipy.signal, needs-release-note

#21590 DOC: signal.firwin: emphasise cutoff freq is half-amplitude
  doc/source/tutorial/signal.rst
  scipy/signal/_filter_design.py
  scipy/signal/_fir_filter_design.py
Labels: scipy.signal, Documentation

#21625 ENH: `optimize.differential_evolution`: respect workers when polishing
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: enhancement, scipy.optimize

#21691 BUG: sparse: enable sparray for sparse.linalg.norm
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Labels: defect, scipy.sparse.linalg

#21697 MAINT: signal.lombscargle: fix numerical backward-compat
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Labels: scipy.signal, maintenance

#19989 MAINT: special: factorial clean-ups
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: scipy.special, maintenance

#21701 MAINT: interpolate: remove undocumented nu arg of BSpline.design_matrix
  scipy/interpolate/_bspl.pyx
  scipy/interpolate/_bsplines.py
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, Cython

#21699 BUG: sparse.linalg: remove faulty test of eigval order from ARPACK
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
Labels: defect, scipy.sparse.linalg

#21711 BUG: special: Fix formula for division of dual numbers in xsf
  scipy/special/xsf/dual.h
Labels: defect, scipy.special, C/C++

#18605 ENH: special: add `softplus`
  scipy/special/__init__.py
  scipy/special/_basic.py
  scipy/special/tests/test_basic.py
Labels: enhancement, scipy.special

#21714 TST: stats.sampling: add fail slow exception
  scipy/stats/tests/test_sampling.py
Labels: scipy.stats, maintenance

#21686 BUG: signal: int handling for `resample_poly`
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#21712 MAINT: special.logsumexp: preserve tiny imaginary components
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Labels: scipy.special, maintenance

#21705 MAINT: Allow greek Unicode symbols in linter.
  doc/source/dev/missing-bits.rst
  tools/unicode-check.py
Labels: Documentation, maintenance, DX

#21635 TST: special: fix XSLOW failure in `test_mpmath.TestSystematic.test_spherical_jn`
  scipy/special/tests/test_mpmath.py
Labels: scipy.special, maintenance

#21638 ENH: `differentiate.jacobian`: support array `step_direction`
  scipy/differentiate/_differentiate.py
  scipy/differentiate/tests/test_differentiate.py
Labels: enhancement, scipy.differentiate

#21577 MAINT: special.hankel2: fix edge case
  scipy/special/tests/test_basic.py
  scipy/special/xsf/bessel.h
Labels: scipy.special, maintenance, C/C++

#21719 BLD: macos-12 image deprecated [wheel build]
  .github/workflows/wheels.yml
Labels: Build issues, CI

#21703 DOC: sparse: update spdiags handling in doc_string and migration guide for sparray
  doc/source/reference/sparse.migration_to_sparray.rst
  scipy/sparse/_construct.py
Labels: scipy.sparse, Documentation

#21723 DOC: Fixed a typo in the description of `scipy.sparse.csgraph.maximum_bipartite_matching()`.
  scipy/sparse/csgraph/_matching.pyx
Labels: Documentation, scipy.sparse.csgraph, Cython

#21706 DEP: signal: deprecate object arrays in sosfilt
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, deprecated

#21718 DOC: `stats.bootstrap`: improve description of `paired` argument
  scipy/stats/_resampling.py
Labels: scipy.stats, Documentation

#21389 ENH: `scipy.stats`: add normal-inverse-gamma distribution
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement, needs-release-note

#21721 MAINT: signal: lombscargle docstring tweaks and fix handling of arraylike inputs
  scipy/signal/_spectral_py.py
Labels: scipy.signal, maintenance

#21730 MAINT: sparse.linalg: use @ for matmul in docs/tests for Linear Operator interface
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: scipy.sparse.linalg, Documentation, maintenance

#21363 ENH: linalg.solve: use structure to speed up finite check, apply `rcond` estimates
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg

#21737 TST: differentiate: small tolerance bump on failing test
  scipy/differentiate/tests/test_differentiate.py
Labels: maintenance, scipy.differentiate

#21739 BLD: fix issue with capitalisation when meson detects Accelerate
  scipy/meson.build
Labels: Build issues, Meson

#21657 ENH: `integrate.cubature`: support for infinite limits
  scipy/integrate/_cubature.py
  scipy/integrate/_rules/_base.py
  scipy/integrate/_rules/_gauss_kronrod.py
  scipy/integrate/_rules/_gauss_legendre.py
  scipy/integrate/_rules/_genz_malik.py
  scipy/integrate/tests/test_cubature.py
Labels: enhancement, scipy.integrate

#19209 ENH: sparse.linalg: `LinearOperator` dtype determination in `_interface.py`
  scipy/optimize/_trustregion_constr/canonical_constraint.py
  scipy/sparse/linalg/_eigen/_svds.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
  scipy/sparse/linalg/_eigen/tests/test_svds.py
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/tests/test_interface.py
Labels: enhancement, scipy.sparse.linalg

#21751 BUG: array API conformance in cubature
  scipy/integrate/_cubature.py
Labels: defect, scipy.integrate, array types

#21748 MAINT: Updated pybind11 min version to 2.13.2
  pyproject.toml
  requirements/build.txt
  scipy/meson.build
Labels: maintenance

#21749 MAINT/DEV: fix `python dev.py ipython` under Debian 12 / Python 3.11
  dev.py
Labels: maintenance, DX

#21754 MAINT: interpolate: rename `interpnd` -> `_interpnd`
  mypy.ini
  scipy/interpolate/__init__.py
  scipy/interpolate/_interpnd.pyx
  scipy/interpolate/_interpolate.py
  scipy/interpolate/_ndgriddata.py
  scipy/interpolate/_rgi.py
  scipy/interpolate/interpnd.py
  scipy/interpolate/meson.build
  scipy/interpolate/tests/test_interpnd.py
Labels: scipy.interpolate, maintenance, Cython, Meson

#21407 BUG: optimize.minimize: set `trust-constr` `success=False` when constraints are not satisfied
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: defect, scipy.optimize

#21682 DOC: Reduce duplication in user guide
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/tutorial/index.rst
  doc/source/tutorial/ndimage.rst
  doc/source/tutorial/spatial.rst
  doc/source/tutorial/special.rst
Labels: Documentation

#21765 MAINT: remove equality constraint that was impossible to satisfy with…
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test_minimize_constrained.py
Labels: scipy.optimize, maintenance

#21767 MAINT: `stats.ContinuousDistribution`: protect attributes, correct right operators, improve `__repr__`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement, maintenance

#21756 DOC: interpolate: detail `interp1d` recommended replacements
  doc/source/tutorial/interpolate.rst
  doc/source/tutorial/interpolate/1D.rst
Labels: scipy.interpolate, Documentation

#21744 ENH: special: Extend Riemann Zeta function to complex inputs
  scipy/special/_basic.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/tests/test_zeta.py
  scipy/special/xsf/numpy.h
  scipy/special/xsf/zeta.h
Labels: enhancement, scipy.special, C/C++

#21768 BUG: sparse: fix ellipsis and bool array indexing combination
  scipy/sparse/_index.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#21770 DOC: stats: correct conclusion associated with high p-value
  doc/source/tutorial/stats/probability_distributions.rst
Labels: scipy.stats, Documentation

#21763 BUG: handle pearsonr constant case with n=2 vectors
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: defect, scipy.stats

#21668 BUG: fft.fht: set `u.imag[-1] = 0` only when `n` is even
  scipy/fft/_fftlog_backend.py
  scipy/fft/tests/test_fftlog.py
Labels: defect, scipy.fft
