Repository scipy/scipy, pull requests merged in 2025-03, with the labels that each got.

#22610 ENH: _lib.doccer: Simplify and optimize indentation loop
  scipy/_lib/doccer.py
Labels: enhancement, scipy._lib

#22611 MAINT: stats: rewrite `gaussian_kde.integrate_box`, remove `_mvn` F77 extension
  scipy/stats/_kde.py
  scipy/stats/meson.build
  scipy/stats/mvn.pyf
  scipy/stats/mvndst.f
  scipy/stats/tests/test_kdeoth.py
Labels: scipy.stats, maintenance, Fortran, Meson

#22617 CI: minimise disk space usage for oneAPI jobs
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/windows_intel_oneAPI.yml
Labels: CI

#22556 ENH: optimize: speed up `LbfgsInvHessProduct.todense` on large matrices
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/tests/test_lbfgsb_hessinv.py
Labels: enhancement, scipy.optimize

#22490 ENH: stats: add `marray` support to most remaining array API functions
  scipy/_lib/_util.py
  scipy/special/_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_marray.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.special, scipy._lib, array types

#22585 MAINT: stats.multinomial: `FutureWarning` about normalization of `p`
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#22624 BUG: stats: `kde.integrate_box` was missing an `rng` parameter
  scipy/stats/_kde.py
  scipy/stats/tests/test_kdeoth.py
Labels: defect, scipy.stats, maintenance

#22616 ENH: stats: use `vecdot` and `nonzero` where appropriate
  scipy/_lib/_util.py
  scipy/stats/_kde.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy._lib

#22566 TST: `skip_xp_backends(eager_only=True)`
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/tests/test__util.py
  scipy/cluster/tests/test_hierarchy.py
  scipy/conftest.py
  scipy/ndimage/tests/test_morphology.py
Labels: scipy._lib, maintenance, array types

#22628 MAINT: stats.tmin/tmax: ensure exact results with unreasonably large integers
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#22602 DOC: stats.pearsonr: add tutorial
  doc/source/tutorial/stats/hypothesis_pearsonr.md
  doc/source/tutorial/stats/hypothesis_tests.rst
  scipy/stats/_stats_py.py
Labels: scipy.stats, Documentation

#22630 MAINT: stats: tmin/tmax tweaks
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#22632 MAINT: stats.multinomial: use dtype-dependent tolerance
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#22634 TST: special: cosmetic nits
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: scipy.special, maintenance

#22631 DOC: interpolate.BarycentricInterpolator: documentation improvements
  scipy/interpolate/_polyint.py
Labels: scipy.interpolate, Documentation

#22618 BUG: Fix dual quaternion normalization procedure
  scipy/spatial/transform/_rigid_transform.pyx
  scipy/spatial/transform/tests/test_rigid_transform.py
Labels: defect, scipy.spatial, Cython

#22469 TST: stats: improve JAX test coverage
  scipy/stats/_entropy.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#22633 ENH: special: `softmax` / `log_softmax` Array API support
  scipy/special/_logsumexp.py
  scipy/special/tests/meson.build
  scipy/special/tests/test_log_softmax.py
  scipy/special/tests/test_logsumexp.py
Labels: enhancement, scipy.special, array types

#22554 BUG: `lfiltic`'s handling of `a[0] != 1` differs from `lfilter`'s
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#22125 TST: stats: ensure tests are thread-safe
  scipy/stats/tests/common_tests.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
  scipy/stats/tests/test_hypotests.py
  scipy/stats/tests/test_kdeoth.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
  scipy/stats/tests/test_multivariate.py
  scipy/stats/tests/test_qmc.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_sampling.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, free-threading

#22636 MAINT: fix domain check for `ncfdtri`
  scipy/special/boost_special_functions.h
  scipy/special/tests/test_cdflib.py
Labels: scipy.special, maintenance, C/C++

#22642 BUG: sparse: sparse sum/mean out parameter shape not enforced for 1D
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_dia.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
Labels: defect, scipy.sparse

#22649 DOC, CI: Fix legend warning for CloughTocher2DInterpolator docstring
  scipy/interpolate/_interpnd.pyx
Labels: scipy.interpolate, Documentation, CI

#22650 TST: stats: mark `nct` fit xslow
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, maintenance

#22653 DOC: add COBYQA to local optimizer comparison table
  doc/source/tutorial/optimize.rst
Labels: Documentation

#22643 BUG: spatial.transform.Rotation: support 0-length rotations
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: defect, scipy.spatial, Cython

#22660 BUG: Avoid expensive access of basis.col_status in _highs_wrapper column status loop
  scipy/optimize/_highspy/_highs_wrapper.py
Labels: defect, scipy.optimize

#22614 MAINT: linalg: fix cython lint failures in build output
  scipy/linalg/_decomp_update.pyx.in
Labels: scipy.linalg, maintenance, Cython

#22419 MAINT: special: Remove `libsf_error_state` shared library in favor of coordinated update of separate static libraries
  scipy/_build_utils/src/scipy_dll.h
  scipy/special/__init__.py
  scipy/special/_ellip_harm_2.pxd
  scipy/special/_ellip_harm_2.pyx
  scipy/special/_gufuncs.cpp
  scipy/special/_special_ufuncs.cpp
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/sf_error.h
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/sf_error_state.h
Labels: scipy.special, Build issues, maintenance, C/C++, Cython, Meson

#22609 ENH: stats: shared array api support information to generate docs and test skip decorators
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_array_api.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
  tools/check_unicode.py
Labels: scipy.stats, scipy._lib, array types

#22667 DEV: cap Sphinx version in environment.yml
  environment.yml
Labels: DX

#22661 TST: fix some test failures and excessive memory use on Guix
  scipy/interpolate/tests/test_bary_rational.py
  scipy/sparse/tests/test_construct.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_morestats.py
Labels: scipy.stats, scipy.sparse, scipy.interpolate, maintenance

#22658 CI: clean up free-threading job, add new job using pytest-run-parallel
  .github/workflows/linux.yml
  scipy/integrate/tests/test_banded_ode_solvers.py
  scipy/linalg/tests/_cython_examples/meson.build
  scipy/linalg/tests/test_batch.py
  scipy/sparse/tests/test_sparsetools.py
  scipy/spatial/tests/test_qhull.py
  scipy/special/tests/_cython_examples/meson.build
Labels: scipy.special, scipy.linalg, scipy.sparse, scipy.integrate, scipy.spatial, CI, free-threading

#22668 DOC: document Array API support for the constants module and optimize.rosen and associated functions
  scipy/constants/_constants.py
  scipy/constants/tests/test_constants.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
Labels: scipy.optimize, Documentation, scipy.constants, array types

#22675 ENH: stats: Improvements to support/domain endpoints in custom distributions in new infrastructure
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#22676 ENH: stats.mode: vectorize implementation
  scipy/stats/_stats_py.py
Labels: scipy.stats, enhancement

#22683 MAINT: remove outdated `xp_` functions, `xp.asarray` on elementwise function args
  scipy/_lib/_array_api.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/optimize/_bracket.py
  scipy/optimize/_chandrupatla.py
  scipy/optimize/tests/test_bracket.py
  scipy/special/_logsumexp.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/_variation.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, scipy.special, scipy.optimize, scipy.integrate, scipy._lib, maintenance, array types, scipy.differentiate

#22549 ENH: use `workers` keyword in `optimize._differentiable_functions.VectorFunction`
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_numdiff.py
  scipy/optimize/tests/test_differentiable_functions.py
Labels: enhancement, scipy.optimize

#22687 MAINT: Bump Array API to 2024.12
  pyproject.toml
  pytest.ini
  scipy/conftest.py
  scipy/integrate/_tanhsinh.py
  scipy/signal/tests/test_windows.py
  scipy/special/_logsumexp.py
  scipy/stats/_morestats.py
Labels: maintenance, array types

#22693 BUG: spatial.HalfspaceIntersection: fix `add_halfspaces` batch size support
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: defect, scipy.spatial, backport-candidate, Cython

#22694 DOC: interpolate.make_smoothing_spline: improve example visibility
  scipy/interpolate/_bsplines.py
Labels: scipy.interpolate, Documentation

#22535 DOC: update roadmap sparse
  doc/source/dev/roadmap-detailed.rst
  doc/source/dev/roadmap.rst
Labels: scipy.sparse, Documentation, DX

#22691 DOC: signal: fix `freqz_sos` and `sosfreqz` docstrings
  scipy/signal/__init__.py
  scipy/signal/_filter_design.py
  tools/refguide_check.py
Labels: scipy.signal, Documentation

#22696 MAINT: spatial: support empty case in `RigidTransform`
  scipy/spatial/transform/_rigid_transform.pyx
  scipy/spatial/transform/tests/test_rigid_transform.py
Labels: scipy.spatial, maintenance, Cython

#22710 DOC: integrate.quad_vec: returned object is not a dictionary
  scipy/integrate/_quad_vec.py
Labels: scipy.integrate, Documentation

#22701 TST: optimize: add more tests
  scipy/optimize/tests/test_zeros.py
Labels: scipy.optimize, maintenance

#22575 ENH: `ndimage.vectorized_filter`: `generic_filter` with memory, speed, and feature improvements for vectorized Python callables
  scipy/ndimage/__init__.py
  scipy/ndimage/_delegators.py
  scipy/ndimage/_filters.py
  scipy/ndimage/_ni_docstrings.py
  scipy/ndimage/tests/test_filters.py
Labels: enhancement, scipy.ndimage

#22716 DOC: optimize: Clarify use of `xtol` in 1D rootfinder docstrings
  scipy/optimize/_zeros_py.py
Labels: scipy.optimize, Documentation

#22721 MAINT: bump musl image
  .github/workflows/musllinux.yml
Labels: maintenance, CI

#22671 MAINT: enforce modularity with `tach`
  .github/workflows/lint.yml
  scipy/_lib/meson.build
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_finite_differences.py
  scipy/stats/_ksstats.py
  scipy/stats/meson.build
  tach.toml
Labels: scipy.linalg, scipy._lib, maintenance

#22725 MAINT: ndimage.affine_transform: remove outdated and unhelpful warning
  scipy/ndimage/_interpolation.py
Labels: scipy.ndimage, maintenance

#22726 MAINT: compensate for dot exceptions
  scipy/optimize/_linprog_util.py
  scipy/sparse/linalg/_isolve/_gcrotmk.py
Labels: scipy.sparse.linalg, scipy.optimize, maintenance

#22689 BUG: signal.resample_poly: fix dtype preservation
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#22557 ENH: Replace `_lazywhere` with `xpx.apply_where`
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/optimize/_minpack_py.py
  scipy/special/_spherical_bessel.py
  scipy/stats/_continuous_distns.py
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
  scipy/stats/_levy_stable/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/_stats_py.py
  scipy/stats/_wilcoxon.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.special, scipy.optimize, scipy._lib, maintenance, array types

#22722 DOC: ndimage.affine_transformation: add examples to docstring
  scipy/ndimage/_interpolation.py
Labels: scipy.ndimage, Documentation

#22713 DOC: linalg.solve: clarify symmetry requirement
  scipy/linalg/_basic.py
Labels: scipy.linalg, Documentation

#22607 MAINT: special.logsumexp: improve behavior with complex infinities
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Labels: scipy.special, maintenance

#22555 BUG: ``scipy.sparse.linalg``: Fix ``expm_multiply`` if both ``A`` and ``B`` are ``scipy.sparse`` arrays
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
Labels: defect, scipy.sparse.linalg

#22738 DOC: PRIMA licence and reference fix
  LICENSES_bundled.txt
  doc/source/dev/core-dev/vendored-code.rst.inc
  doc/source/release/1.16.0-notes.rst
  scipy/optimize/_cobyla_py.py
Labels: scipy.optimize, Documentation

#22552 MAINT: sparse.csgraph: Raise error if ``predecessors.dtype != ITYPE`` in ``construct_dist_matrix``
  scipy/sparse/csgraph/_tools.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: scipy.sparse.csgraph, maintenance, Cython

#22741 CI: fix crash of free-threading job in `sparse`, bump GHA versions
  .github/workflows/array_api.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
  .github/workflows/windows_intel_oneAPI.yml
  scipy/sparse/tests/test_sparsetools.py
Labels: scipy.sparse, maintenance, CI, free-threading

#22641 ENH: special: add Dask support to `rel_entr`
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: enhancement, scipy.special, array types

#22740 TST: special: remove test skips due to array-api-strict#131
  pyproject.toml
  requirements/test.txt
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: scipy.special, maintenance

#22742 CI/MAINT: make special.errstate thread-safe and run pytest-run-parallel on special/stats
  .github/workflows/linux.yml
  scipy/sparse/linalg/_dsolve/_superlu_utils.c
  scipy/special/meson.build
  scipy/special/sf_error.cc
  scipy/special/tests/test_sf_error.py
  scipy/special/tests/test_sph_harm.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, CI, C/C++, free-threading

#22651 MAINT: ndimage.zoom: eliminate noise when `zoom=1`
  scipy/ndimage/_interpolation.py
  scipy/ndimage/tests/test_interpolation.py
Labels: scipy.ndimage, maintenance

#22751 TST: linalg.test_batch: minor tolerance bumps
  scipy/linalg/tests/test_batch.py
Labels: scipy.linalg, maintenance

#22728 ENH/BUG: optimize: use `_differentiable_functions.VectorFunction` in `least_squares`
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_lsq/dogbox.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/_lsq/trf.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_least_squares.py
Labels: defect, enhancement, scipy.optimize

#22711 DOC: stats: Extend documentation of random_correlation matrix
  scipy/stats/_multivariate.py
Labels: scipy.stats, Documentation

#22750 DOC: fft.hfft2: added example
  scipy/fft/_basic.py
Labels: Documentation, scipy.fft

#22749 ENH: stats: add support for multiple parameterizations for custom distributions in new distribution infra
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement

#22745 DOC: fft.rfft2: add example to docstring
  scipy/fft/_basic.py
Labels: Documentation, scipy.fft

#22760 BUG: VectorFunction.f_updated wasn't being set on initalisation
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/_lsq/least_squares.py
  scipy/optimize/tests/test_differentiable_functions.py
  scipy/optimize/tests/test_least_squares.py
Labels: defect, scipy.optimize

#22759 TST: weightedtau rng thread safety
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance, free-threading

#22695 MAINT: improve dtype handling now that `xp.result_type` accepts Python scalars
  scipy/_lib/_array_api.py
  scipy/_lib/_elementwise_iterative_method.py
  scipy/_lib/_util.py
  scipy/_lib/tests/test_array_api.py
  scipy/differentiate/_differentiate.py
  scipy/integrate/_cubature.py
  scipy/integrate/_quadrature.py
  scipy/integrate/_tanhsinh.py
  scipy/optimize/_bracket.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/special/_logsumexp.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_continued_fraction.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_quantile.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_continued_fraction.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_quantile.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, array types

#22524 ENH:MAINT:optimize: Rewrite SLSQP and NNLS in C
  mypy.ini
  scipy/optimize/__nnls.c
  scipy/optimize/__nnls.h
  scipy/optimize/__slsqp.c
  scipy/optimize/__slsqp.h
  scipy/optimize/_cython_nnls.pyx
  scipy/optimize/_nnls.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/meson.build
  scipy/optimize/slsqp.py
  scipy/optimize/slsqp/slsqp.pyf
  scipy/optimize/slsqp/slsqp_optmz.f
  scipy/optimize/tests/test_nnls.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_slsqp.py
Labels: enhancement, scipy.optimize, maintenance, C/C++, Fortran, Cython, Meson

#22764 MAINT: optimize: `VectorFunction`: remove reference cycle
  scipy/optimize/_differentiable_functions.py
  scipy/optimize/tests/test_differentiable_functions.py
Labels: scipy.optimize, maintenance

#22755 MAINT: special: refine `logsumexp` writeback behaviour
  scipy/_lib/_array_api.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Labels: scipy.special, scipy._lib, maintenance, array types

#22735 ENH: stats: lazy trimmed stats for Dask and JAX
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_marray.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types
