Repository scipy/scipy, pull requests merged in 2025-01, with the labels that each got.

#22221 MAINT: linalg.leslie: use _apply_over_batch
  scipy/linalg/_special_matrices.py
Labels: scipy.linalg, maintenance

#22222 ENH: `special`/`stats`: implement xp-compatible `stdtrit` and use in `stats`
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, scipy.special, array types

#22108 CI: Run 'Checkout scipy' and 'Check for skips' only on Github actions CI
  .github/workflows/commit_message.yml
Labels: CI

#22225 DOC: differentiate.jacobian: correct/improve documentation about callable interface
  scipy/differentiate/_differentiate.py
Labels: Documentation, backport-candidate, scipy.differentiate

#22229 MAINT: cluster: remove unnecessary namespace changes
  scipy/cluster/vq.py
Labels: scipy.cluster, maintenance

#22233 MAINT: backports for SciPy 1.15.0 "final"
  doc/source/release/1.15.0-notes.rst
  scipy/differentiate/_differentiate.py
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_matmul_toeplitz.py
  scipy/linalg/tests/test_solve_toeplitz.py
Labels: scipy.linalg, Documentation, maintenance, scipy.differentiate

#22234 MAINT: forward port 1.15.0 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release/1.15.0-notes.rst
Labels: Documentation, maintenance

#22132 TST: array types: enforce namespace in tests
  .github/workflows/array_api.yml
  doc/source/dev/api-dev/array_api.rst
  pytest.ini
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_array_api.py
  scipy/conftest.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/special/tests/test_support_alternative_backends.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, scipy.optimize, scipy.signal, scipy.ndimage, scipy._lib, maintenance, CI, array types

#22161 DOC, MAINT: Add updates for interactive notebooks via `jupyterlite-sphinx` 0.17
  doc/Makefile
  doc/convert_notebooks.py
  doc/source/conf.py
  doc/source/dev/toolchain.rst
  doc/source/overrides.json
  doc/source/tutorial/linalg_batch.md
  doc/source/tutorial/stats/hypothesis_bartlett.md
  doc/source/tutorial/stats/hypothesis_chi2_contingency.md
  doc/source/tutorial/stats/hypothesis_chisquare.md
  doc/source/tutorial/stats/hypothesis_dunnett.md
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_fligner.md
  doc/source/tutorial/stats/hypothesis_friedmanchisquare.md
  doc/source/tutorial/stats/hypothesis_jarque_bera.md
  doc/source/tutorial/stats/hypothesis_kendalltau.md
  doc/source/tutorial/stats/hypothesis_kurtosistest.md
  doc/source/tutorial/stats/hypothesis_levene.md
  doc/source/tutorial/stats/hypothesis_normaltest.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  doc/source/tutorial/stats/hypothesis_shapiro.md
  doc/source/tutorial/stats/hypothesis_skewtest.md
  doc/source/tutorial/stats/hypothesis_spearmanr.md
  doc/source/tutorial/stats/rv_infrastructure.md
  doc/source/tutorial/stats/sampling.md
  environment.yml
  pyproject.toml
  requirements/doc.txt
Labels: Documentation, maintenance, DX

#22242 MAINT: integrate.cubature: fix undefined `asarray` use
  scipy/integrate/_rules/_base.py
Labels: scipy.integrate, maintenance, array types

#22243 DOC: sparse: docstring example of random_array with uint32 data_sampler
  scipy/sparse/_construct.py
Labels: scipy.sparse, Documentation

#22235 REL, MAINT: prep for 1.15.1
  doc/source/release.rst
  doc/source/release/1.15.1-notes.rst
  pyproject.toml
Labels: Documentation, maintenance

#22245 MAINT: fix url for array-api-extra git submodule
  .gitmodules
Labels: maintenance, backport-candidate

#22170 ENH: signal: convert `symiirorder` and related filters to work with array backends
  scipy/signal/_delegators.py
  scipy/signal/_spline_filters.py
  scipy/signal/tests/test_bsplines.py
  scipy/signal/tests/test_splines.py
Labels: scipy.signal, array types

#22228 ENH: linalg.lapack: wrap ?sytri and ?hetri
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#22217 ENH: linalg: wrap ?langb
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/flapack_other.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#22064 MAINT: `sparse.linalg._isolve`: Remove postprocess function
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
  scipy/sparse/linalg/_isolve/utils.py
Labels: scipy.sparse.linalg, maintenance, needs-decision

#22251 ENH: linalg.solve: use langb
  scipy/linalg/_basic.py
Labels: enhancement, scipy.linalg

#22208 ENH: io.wavfile: read unseekable files
  scipy/io/tests/test_wavfile.py
  scipy/io/wavfile.py
Labels: enhancement, scipy.io

#22261 TST: dev.py quietly ignores user markers
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_testutils.py
Labels: scipy._lib, Documentation, maintenance, DX

#22262 TST: Mark with `xp` all tests in Array API-compatible modules
  scipy/constants/tests/test_constants.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_helper.py
  scipy/fft/tests/test_real_transforms.py
  scipy/ndimage/tests/test_filters.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: maintenance, array types

#22259 TST: signal: fix symiir tests
  scipy/signal/tests/test_splines.py
Labels: defect, scipy.signal

#22255 EHN: cluster: JAX support (non-jitted)
  scipy/cluster/tests/test_hierarchy.py
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: enhancement, scipy.cluster, array types

#22260 TST: Make `@pytest.mark.usefixtures("skip_xp_backends")` redundant
  doc/source/dev/api-dev/array_api.rst
  scipy/cluster/tests/test_hierarchy.py
  scipy/conftest.py
  scipy/fft/tests/test_real_transforms.py
  scipy/stats/tests/test_morestats.py
Labels: scipy._lib, Documentation, maintenance, DX

#22266 MAINT: linalg.solve: raise when diagonal matrix is exactly singular
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_basic.py
Labels: scipy.linalg, maintenance

#22256 ENH: special: JAX support (non-jitted)
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: enhancement, scipy.special, array types

#22272 TST: fix thread safety issue in interpolate.bsplines memmap test
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance, backport-candidate, free-threading

#22270 BLD: fix some issues with undeclared internal build dependencies
  scipy/linalg/meson.build
  scipy/spatial/meson.build
Labels: scipy.linalg, Build issues, scipy.spatial, backport-candidate, Meson

#22269 DOC: optimize.curve_fit: add note about more advanced curve fitting
  doc/source/tutorial/optimize.rst
  scipy/optimize/_minpack_py.py
Labels: scipy.optimize, Documentation

#22276 TST: stats.Normal: bump tolerance on test of logcdf
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance

#22280 TST: `_lib`: more idiomatic conditional skips
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_ccallback.py
Labels: scipy._lib, maintenance

#22281 TST: special: better skip message for stdtrit on JAX
  scipy/special/tests/test_support_alternative_backends.py
Labels: scipy.special, maintenance, array types

#22277 DOC: Replace Twitter with X, including the icon
  doc/source/conf.py
  doc/source/dev/conduct/code_of_conduct.rst
Labels: Website, Documentation

#22279 TST: Add skips for GPU CI failures
  scipy/ndimage/tests/test_interpolation.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.signal, scipy.ndimage, maintenance, CI

#22275 CI: add a GPU CI job
  .github/workflows/gpu-ci.yml
  .github/workflows/pixi.lock
  .github/workflows/pixi.toml
  .gitignore
Labels: enhancement, CI, array types

#22284 ENH: sparse: getter error message for unsupported dtypes
  scipy/sparse/_sputils.py
Labels: defect, scipy.sparse

#22274 ENH: `_contains_nan` for lazy arrays
  scipy/_lib/_util.py
  scipy/_lib/tests/test__util.py
  scipy/optimize/_minpack_py.py
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_morestats.py
  scipy/stats/_mstats_basic.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: enhancement, scipy._lib, array types

#22289 CI: fix skip/trigger condition of GPU CI job
  .github/workflows/gpu-ci.yml
Labels: CI

#22283 BUG: Fix banded Jacobian for lsoda: `ode` and `solve_ivp`
  scipy/integrate/_ode.py
  scipy/integrate/tests/test_banded_ode_solvers.py
Labels: defect, scipy.integrate

#22273 ENH: linalg.solve: use gbcon
  scipy/linalg/_basic.py
  scipy/linalg/flapack_gen_banded.pyf.src
  scipy/linalg/tests/test_basic.py
Labels: enhancement, scipy.linalg

#22295 DOC: signal.ShortTimeFFT.nearest_k_p: fix typo
  scipy/signal/_short_time_fft.py
Labels: scipy.signal, Documentation

#22300 MAINT: remove end year from copyright
  LICENSE.txt
  doc/source/conf.py
Labels: Documentation, maintenance

#22237 BENCH: sparse.csgraph.dijkstra: add benchmark
  benchmarks/benchmarks/sparse_csgraph_dijkstra.py
Labels: Benchmarks

#22302 MAINT: remove unused library import
  doc/source/conf.py
Labels: Documentation, maintenance

#22306 REL, MAINT: prep for 1.15.2
  doc/source/release.rst
  doc/source/release/1.15.2-notes.rst
  pyproject.toml
Labels: Documentation, maintenance

#22201 DOC: Clarify support behavior in rv_continuous documentation
  scipy/stats/_discrete_distns.py
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, Documentation

#22304 ENH: stats.special_ortho_group: speed up, allow 1x1 and 0x0 ortho and unitary groups
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#22038 BUG: immortalize uarray global strings in order to prevent negative refcounts
  scipy/_lib/_uarray/_uarray_dispatch.cxx
Labels: defect, scipy._lib, C/C++, uarray

#22311 TST: replace `pytest.xfail` with `skip/xfail_xp_backends`
  scipy/ndimage/tests/test_measurements.py
  scipy/stats/tests/test_entropy.py
Labels: scipy.stats, scipy.ndimage, maintenance

#22322 MAINT: stats.Mixture: make return type consistent when `shape == ()`
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22320 TST: array types: wrap namespaces centrally
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/cluster/tests/test_vq.py
  scipy/conftest.py
  scipy/differentiate/tests/test_differentiate.py
  scipy/fft/tests/test_basic.py
  scipy/fft/tests/test_fftlog.py
  scipy/fft/tests/test_helper.py
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/ndimage/tests/test_filters.py
  scipy/ndimage/tests/test_interpolation.py
  scipy/ndimage/tests/test_measurements.py
  scipy/ndimage/tests/test_morphology.py
  scipy/optimize/tests/test_bracket.py
  scipy/optimize/tests/test_chandrupatla.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_splines.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, array types

#22324 ENH: io: add invalid field name warning for `savemat`
  scipy/io/matlab/__init__.py
  scipy/io/matlab/_mio.py
  scipy/io/matlab/_mio5.py
  scipy/io/matlab/_miobase.py
  scipy/io/matlab/tests/test_mio.py
Labels: enhancement, scipy.io

#22293 ENH: Add __repr__ method to scipy.spatial.transform.Rotation
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, Cython

#22264 MAINT: interpolate: make BSpline allocate out arrays in C
  scipy/interpolate/_bsplines.py
  scipy/interpolate/src/_dierckxmodule.cc
Labels: scipy.interpolate, maintenance, C/C++

#22308 TST: `_lib`: run tests with `@jax.jit`
  doc/source/dev/api-dev/array_api.rst
  mypy.ini
  scipy/_lib/_lazy_testing.py
  scipy/_lib/meson.build
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test__util.py
  scipy/_lib/tests/test_array_api.py
  scipy/_lib/tests/test_lazy_testing.py
  scipy/conftest.py
Labels: scipy._lib, maintenance, array types

#22122 MAINT: signal.oaconvolve: avoid xp <-> numpy conversions
  scipy/fft/_helper.py
  scipy/fft/_pocketfft/helper.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.signal, maintenance, array types

#22340 MAINT: linalg: reorganize tridiagonal eigenvalue routines
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/flapack_other.pyf.src
Labels: scipy.linalg, maintenance

#22345 TST: turn off dtype check due to endianness
  scipy/interpolate/tests/test_bsplines.py
Labels: scipy.interpolate, maintenance

#22080 BUG: special: Fix unchecked memory allocations in `specfun.h`
  scipy/special/__init__.py
  scipy/special/_ellip_harm.pxd
  scipy/special/_specfun.pyx
  scipy/special/_special_ufuncs.cpp
  scipy/special/_ufuncs_extra_code.pxi
  scipy/special/ellint_carlson_cpp_lite/ellint_common.hh
  scipy/special/sf_error.cc
  scipy/special/sf_error.pxd
  scipy/special/sf_error_state.c
  scipy/special/tests/test_sf_error.py
  scipy/special/xsf/error.h
  scipy/special/xsf/mathieu.h
  scipy/special/xsf/par_cyl.h
  scipy/special/xsf/specfun/specfun.h
  scipy/special/xsf/sphd_wave.h
Labels: scipy.special, backport-candidate, C/C++, Cython

#22348 DOC: Harmonize summary line of docstrings of iterative sparse solvers.
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/_isolve/iterative.py
  scipy/sparse/linalg/_isolve/lgmres.py
  scipy/sparse/linalg/_isolve/minres.py
  scipy/sparse/linalg/_isolve/tfqmr.py
Labels: scipy.sparse.linalg, Documentation

#22344 BUG: Fix bug with dpss degenerate case
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Labels: defect, scipy.signal

#22351 DOC: sparse.linalg.eigsh: fix inconsistent definitions of OP and OPinv#18214
  scipy/sparse/linalg/_eigen/arpack/arpack.py
Labels: scipy.sparse.linalg, Documentation

#22356 TST: interpolate: small tolerance bump to TestAAA.test_basic_functions
  scipy/interpolate/tests/test_bary_rational.py
Labels: scipy.interpolate, maintenance, backport-candidate

#22357 MAINT: Stop installing `libhighs`
  scipy/optimize/_highspy/meson.build
Labels: scipy.optimize, maintenance, backport-candidate, Meson

#22359 MAINT: remove temporary `# type: ignore`'s from #22162
  scipy/io/arff/tests/test_arffread.py
  scipy/io/matlab/_mio5.py
Labels: scipy.io, maintenance

#18375 ENH: signal: Add `firwin_2d` filter
  scipy/signal/__init__.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/fir_filter_design.py
  scipy/signal/tests/test_fir_filter_design.py
Labels: enhancement, scipy.signal, needs-release-note

#22313 BUG: signal.bilinear handles complex input, and strips leading zeros
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#22364 TST: bump tolerance on TestHyp2f1.test_region3[hyp2f1_test_case23]
  scipy/special/tests/test_hyp2f1.py
Labels: scipy.special, maintenance

#21783 ENH: signal.windows: add array API support (take 2)
  scipy/signal/tests/test_windows.py
  scipy/signal/windows/_windows.py
Labels: enhancement, scipy.signal, scipy._lib, array types

#22372 BUG: sparse.linalg.norm: add test for and fix return type
  scipy/sparse/linalg/_norm.py
  scipy/sparse/linalg/tests/test_norm.py
Labels: defect, scipy.sparse.linalg, backport-candidate

#22376 DOC: sparse.linalg: sparray updates in doc_strings and Sakurai and MikotaK methods
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/linalg/_special_sparse_arrays.py
Labels: scipy.sparse.linalg, scipy.linalg, Documentation, maintenance

#22379 DOC: interpolate.AAA: add may vary to example
  scipy/interpolate/_bary_rational.py
Labels: scipy.interpolate, Documentation, maintenance

#22339 BUG: special: Fix unchecked malloc in stirling2.h
  scipy/special/stirling2.h
Labels: defect, scipy.special, backport-candidate, C/C++

#22366 DOC: integrate: fix quad documentation to correctly describe QAGS algorithm
  scipy/integrate/_quadpack_py.py
Labels: scipy.integrate, Documentation

#22380 DOC: Replace link to X in header with link to scientific python forum
  doc/source/_static/custom-icons.js
  doc/source/conf.py
Labels: Documentation, backport-candidate

#22375 DOC: sparse.linalg: fix doctest in scipy.sparse.linalg._norm.py
  scipy/sparse/__init__.py
  scipy/sparse/linalg/_norm.py
Labels: scipy.sparse.linalg, Documentation

#22381 MAINT: special: A bit of clean up in stirling2.h
  scipy/special/stirling2.h
Labels: scipy.special, maintenance, C/C++

#22388 DOC: Fix documentation for ``predecessors`` matrix in ``shortest_path``, ``bellman_ford``, ``johnson`` and ``dijkstra``
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: Documentation, scipy.sparse.csgraph, Cython

#22397 DOC: spatial: Added mention of Davenport Angles to Rotation class documentation
  scipy/spatial/transform/_rotation.pyx
Labels: scipy.spatial, Cython

#22374 DOC: sparse.linalg: add two recent functions to namespace and fix doctests
  scipy/sparse/linalg/__init__.py
  scipy/sparse/linalg/_dsolve/__init__.py
  scipy/sparse/linalg/_dsolve/linsolve.py
Labels: scipy.sparse.linalg, Documentation, backport-candidate

#22373 BUG: sparse: revert NotImplemented return values in dot and matmul
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_coo.py
Labels: defect, scipy.sparse, backport-candidate

#22389 DOC: Add "Assert function selection guideline" doc in the new page "Tips for writing tests".
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/writing_test_tips.rst
Labels: Documentation, DX

#20610 ENH: signal.ShortTimeFFT: determine arbitrary dual windows
  doc/source/tutorial/signal.rst
  scipy/signal/__init__.py
  scipy/signal/_short_time_fft.py
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_short_time_fft.py
  tools/refguide_check.py
Labels: enhancement, scipy.signal, Documentation, needs-release-note

#22398 MAINT: special: clean up os/warnings modules exposed in special namesspace
  scipy/special/__init__.py
Labels: scipy.special, maintenance

#22399 TST: remove thread-unsafe skips for a now fixed Cython fused types issue
  scipy/linalg/tests/test_basic.py
  scipy/ndimage/tests/test_measurements.py
  scipy/signal/tests/test_cont2discrete.py
  scipy/signal/tests/test_signaltools.py
Labels: scipy.linalg, scipy.signal, scipy.ndimage, maintenance, free-threading

#22305 MAINT, DOC: forward port 1.15.1 relnotes
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.15.1-notes.rst
Labels: Documentation, maintenance

#22401 TYP: Runtime-subscriptable ``sparray`` and ``spmatrix`` types
  scipy/sparse/_base.py
  scipy/sparse/_matrix.py
Labels: scipy.sparse, static typing

#22408 MAINT: integrate.cumulative_simpson: bump test tolerance
  scipy/integrate/tests/test_quadrature.py
Labels: scipy.integrate, maintenance

#22411 DOC: stats.gaussian_kde: clarify Silverman method
  scipy/stats/_kde.py
Labels: scipy.stats, Documentation

#22405 MAINT: stats.zmap: restore support for complex data
  scipy/_lib/_array_api.py
  scipy/_lib/_util.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy._lib, maintenance

#22353 BUG: sparse: fix selecting wrong dtype for coo coords
  scipy/sparse/_coo.py
  scipy/sparse/tests/test_coo.py
Labels: defect, scipy.sparse, backport-candidate

#22396 DOC: signal: Use where='post' when plotting discrete response #21020
  scipy/signal/_ltisys.py
Labels: scipy.signal, Documentation

#22407 MAINT: remove `_lib`->`sparse` dependency
  scipy/_lib/_array_api.py
  scipy/_lib/_sparse.py
  scipy/_lib/_util.py
  scipy/_lib/meson.build
  scipy/optimize/_constraints.py
  scipy/optimize/_differentialevolution.py
  scipy/optimize/_lsq/common.py
  scipy/optimize/_lsq/least_squares.py
  scipy/sparse/_base.py
Labels: scipy.sparse, scipy._lib, maintenance

#22337 MAINT: stats.Mixture: fix inverse functions when mean is undefined
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance, backport-candidate

#22413 DOC: stats: Edited the NIST Handbook reference
  doc/source/tutorial/stats/hypothesis_shapiro.md
Labels: scipy.stats, Documentation

#22386 DEP: optimize.nnls: deprecate unused atol parameter
  scipy/optimize/_nnls.py
  scipy/optimize/tests/test_nnls.py
Labels: scipy.optimize, deprecated, needs-release-note

#22416 TST: linalg: bump tolerances in two TestBatch tests
  scipy/linalg/tests/test_batch.py
Labels: scipy.linalg, maintenance

#22187 BUG: cluster: `cophenet` intercept invalid linkage matrix count
  scipy/cluster/_hierarchy.pyx
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: defect, scipy.cluster, Cython

#22420 TST: use singular `reason=` in `skip_xp_backends`
  scipy/integrate/tests/test_cubature.py
  scipy/integrate/tests/test_quadrature.py
  scipy/optimize/tests/test_optimize.py
  scipy/stats/tests/test_continued_fraction.py
Labels: scipy.stats, scipy.optimize, scipy.integrate, maintenance

#22423 BUG: special: Fix a memory leak in the AMOS function besy().
  scipy/special/xsf/amos.h
  scipy/special/xsf/amos/amos.h
Labels: defect, scipy.special, backport-candidate, C/C++

#22421 BUG: ndimage: `binary_erosion` vs. broadcasted input
  scipy/ndimage/_morphology.py
  scipy/ndimage/tests/test_morphology.py
Labels: defect, scipy.ndimage

#22431 Corrected formatting
  doc/source/tutorial/integrate.rst
Labels: scipy.integrate, Documentation

#22430 MAINT: cluster: vectorize tests in `is_valid_linkage`
  scipy/cluster/hierarchy.py
Labels: scipy.cluster, maintenance

#22387 DOC: Add example to show usage of ``predecessors`` matrix returned from `sparse.csgraph.shortest_path`
  doc/source/tutorial/csgraph.rst
  scipy/sparse/csgraph/_shortest_path.pyx
Labels: Documentation, scipy.sparse.csgraph, Cython

#22434 DOC: integrate.tanhsinh: remove incorrect reference to _differentiate
  scipy/integrate/_tanhsinh.py
Labels: scipy.integrate, Documentation

#22425 MAINT: special: Update handling of `betainc` and `betaincc` edge cases
  scipy/special/_add_newdocs.py
  scipy/special/boost_special_functions.h
  scipy/special/tests/test_basic.py
Labels: scipy.special, maintenance, C/C++

#22440 DOC: Fix year of publication in `_dual_annealing.py`
  scipy/optimize/_dual_annealing.py
Labels: scipy.optimize, Documentation

#22439 MAINT: special: Add `log1mexp` for ``log(1 - exp(x))``
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_ufuncs.pyi
  scipy/special/tests/meson.build
  scipy/special/tests/test_log1mexp.py
  scipy/special/xsf/log_exp.h
  scipy/stats/_continuous_distns.py
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.special, maintenance, C/C++, Cython, Meson

#22442 DOC: Modified Link for code of conduct documentation
  .github/CODE_OF_CONDUCT.md
Labels: Documentation

#22443 DOC: Corrected Path
  .github/CODE_OF_CONDUCT.md
Labels: Documentation

#22441 BUG: special: Fix incorrect handling of `nan` input in `gammainc` and `gammaincc`
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_gammainc.py
  scipy/special/xsf/cephes/chdtr.h
  scipy/special/xsf/cephes/igam.h
Labels: scipy.special, C/C++

#22445 CI: avoid mpmath pre-release version that's failing in CI
  .github/workflows/linux.yml
Labels: scipy.special, maintenance, CI

#22298 MAINT: stats: remove `mvn` fortran calls from `multivariate_normal.cdf`
  mypy.ini
  scipy/stats/_multivariate.py
  scipy/stats/_qmvnt.py
  scipy/stats/_qmvnt_cy.pyx
  scipy/stats/meson.build
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#22446 CI: migrate Linux aarch64 jobs to GitHub Actions, add cp313t wheels
  .cirrus.star
  .github/workflows/linux.yml
  .github/workflows/wheels.yml
  ci/cirrus_general_ci.yml
  ci/cirrus_wheels.yml
Labels: enhancement, CI, free-threading

#22447 BUG: io.loadmat: throw error on file containing all zeros
  scipy/io/matlab/_miobase.py
  scipy/io/matlab/tests/test_mio.py
Labels: defect, scipy.io

#22418 BUG: scipy.spatial: Fix inaccurate orthonormalization in `Rotation.from_matrix()`
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
Labels: defect, scipy.spatial, Cython

#21684 MAINT: `stats.dirichlet_multinomial` relax `n` to `>= 0`
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#22426 ENH: linalg: wrap ?stevd
  scipy/linalg/flapack_gen_tri.pyf.src
  scipy/linalg/lapack.py
  scipy/linalg/tests/test_lapack.py
Labels: enhancement, scipy.linalg

#22448 DOC: optimize.elementwise.find_minimum: fix documented termination condition
  scipy/optimize/_elementwise.py
Labels: scipy.optimize, Documentation
