Repository scipy/scipy, pull requests merged in 2025-05, with the labels that each got.

#22915 BLD: optimize sdist contents through a dist script
  .gitattributes
  doc/source/_static/gitpod/github-gitpod.png
  doc/source/_static/gitpod/gitpod-edit-permissions-gh.png
  doc/source/_static/gitpod/gitpod-workspace.png
  doc/source/_static/gitpod/gitpod_ci_build_flow.png
  doc/source/_static/gitpod/installing-gitpod-io.png
  doc/source/_static/gitpod/rst-rendering.png
  doc/source/_static/gitpod/scipy-github.png
  doc/source/_static/gitpod/scipy-gitpod-branches.png
  doc/source/_static/gitpod/vscode-rst.png
  doc/source/_static/gitpod/vscode-statusbar.png
  meson.build
  tools/trim_sdist_content.py
Labels: Build issues, Documentation, Meson

#22916 DOC: integrate.solve_bvp: add missing reference details
  scipy/integrate/_bvp.py
Labels: scipy.integrate, Documentation

#22918 TST: `linalg` add test coverage to exception handling for invalid shapes in `linalg._decomp_cossin._cossin`
  scipy/linalg/tests/test_decomp_cossin.py
Labels: scipy.linalg, maintenance

#22919 TST: `optimize` add test coverage to callback warning in `optimize.least_squares`
  scipy/optimize/tests/test_least_squares.py
Labels: scipy.optimize, maintenance

#22927 MAINT: tools/check_test_name: specify encoding
  tools/check_test_name.py
Labels: maintenance

#22686 TST/DOC: `lazy_xp_backends` in `xp_capabilities`
  doc/source/dev/api-dev/array_api.rst
  scipy/_lib/_array_api.py
  scipy/conftest.py
  scipy/constants/_constants.py
  scipy/constants/tests/test_constants.py
  scipy/optimize/_optimize.py
  scipy/optimize/tests/test_optimize.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_stats.py
  tools/check_unicode.py
Labels: scipy._lib, Documentation, maintenance, array types

#22932 BUG: interpolate: do not call PyArray macros on non-arrays
  scipy/interpolate/src/_dierckxmodule.cc
Labels: defect, scipy.interpolate, C/C++

#20035 BUG: spatial.HalfspaceIntersection: raise on non-feasible half space
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
Labels: defect, scipy.spatial, backport-candidate, Cython

#22930 DOC: linalg: update roadmap entry for BLAS/LAPACK bindings
  doc/source/dev/roadmap-detailed.rst
Labels: scipy.linalg, Documentation, DX

#22926 MAINT: spatial.cKDTree: remove software prefetching and software branch-prediction
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/ckdtree/src/build.cxx
  scipy/spatial/ckdtree/src/ckdtree_decl.h
  scipy/spatial/ckdtree/src/count_neighbors.cxx
  scipy/spatial/ckdtree/src/distance.h
  scipy/spatial/ckdtree/src/query.cxx
  scipy/spatial/ckdtree/src/query_ball_point.cxx
  scipy/spatial/ckdtree/src/query_ball_tree.cxx
  scipy/spatial/ckdtree/src/query_pairs.cxx
  scipy/spatial/ckdtree/src/rectangle.h
  scipy/spatial/ckdtree/src/sparse_distances.cxx
Labels: scipy.spatial, maintenance, C/C++, Cython

#22718 TST: special: overhaul test_support_alternative_backends
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: scipy.special, maintenance, array types

#22941 MAINT: stats.qmc.Sobol: fix stacklevel of warning
  scipy/stats/_qmc.py
Labels: scipy.stats, maintenance

#22840 MAINT: 1.15.3 backports
  .github/workflows/array_api.yml
  .github/workflows/linux.yml
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/macos.yml
  .github/workflows/windows_intel_oneAPI.yml
  .mailmap
  benchmarks/benchmarks/io_mm.py
  doc/source/release/1.15.3-notes.rst
  environment.yml
  pyproject.toml
  requirements/doc.txt
  scipy/_lib/_array_api.py
  scipy/_lib/src/ccallback.h
  scipy/_lib/tests/test_array_api.py
  scipy/integrate/_ivp/common.py
  scipy/integrate/_ivp/ivp.py
  scipy/integrate/_ivp/tests/test_ivp.py
  scipy/integrate/_tanhsinh.py
  scipy/integrate/tests/test_tanhsinh.py
  scipy/linalg/_decomp_interpolative.pyx
  scipy/linalg/_matfuncs_expm.c
  scipy/linalg/interpolative.pyf
  scipy/linalg/tests/test_interpolative.py
  scipy/ndimage/_ndimage_api.py
  scipy/ndimage/src/_rank_filter_1d.cpp
  scipy/ndimage/tests/test_filters.py
  scipy/optimize/_bracket.py
  scipy/optimize/_highspy/_highs_wrapper.py
  scipy/optimize/_linprog_highs.py
  scipy/optimize/_linprog_util.py
  scipy/optimize/tests/test_bracket.py
  scipy/signal/_short_time_fft.py
  scipy/signal/_signaltools.py
  scipy/signal/tests/_scipy_spectral_test_shim.py
  scipy/signal/tests/test_short_time_fft.py
  scipy/signal/tests/test_signaltools.py
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_dia.py
  scipy/sparse/linalg/_eigen/arpack/arpack.py
  scipy/sparse/linalg/_expm_multiply.py
  scipy/sparse/linalg/_interface.py
  scipy/sparse/linalg/_isolve/_gcrotmk.py
  scipy/sparse/linalg/tests/test_expm_multiply.py
  scipy/sparse/linalg/tests/test_interface.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/spatial/_qhull.pyx
  scipy/spatial/tests/test_qhull.py
  scipy/spatial/transform/_rotation.pyx
  scipy/spatial/transform/tests/test_rotation.py
  scipy/special/_logsumexp.py
  scipy/special/tests/test_hyp2f1.py
  scipy/special/tests/test_logsumexp.py
  scipy/special/xsf/hyp2f1.h
  scipy/special/xsf/numpy.h
  scipy/special/xsf/specfun/specfun.h
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: maintenance

#22950 MAINT: refresh gpu-ci pixi.lock
  .github/workflows/pixi.lock
  environment.yml
Labels: maintenance, CI

#22934 MAINT: optimize.zeros: fix error message
  scipy/optimize/tests/test_zeros.py
  scipy/optimize/zeros.c
Labels: scipy.optimize, maintenance, C/C++

#22944 MAINT: fix regressions in array-api-strict after disabling np.float64
  scipy/fft/tests/test_fftlog.py
  scipy/signal/windows/_windows.py
Labels: scipy.signal, maintenance, scipy.fft

#22949 MAINT: mass rename `make_skip_xp_backends` to `make_xp_test_case`
  scipy/_lib/_array_api.py
  scipy/constants/tests/test_constants.py
  scipy/optimize/tests/test_optimize.py
  scipy/special/tests/test_logsumexp.py
  scipy/stats/tests/test_stats.py
Labels: maintenance, array types

#22947 MAINT: avoid nested `asarray` calls
  scipy/integrate/tests/test_cubature.py
  scipy/ndimage/tests/test_filters.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, scipy.ndimage, scipy.integrate, maintenance

#22952 MAINT, DOC: forward port 1.15.3 release notes
  .mailmap
  doc/source/_static/version_switcher.json
  doc/source/release.rst
  doc/source/release/1.15.3-notes.rst
Labels: Documentation, maintenance

#22814 BUG: signal.resample: Fix bug for parameter num=2 (including refactor and improved docstr)
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
  scipy/signal/tests/test_windows.py
Labels: defect, scipy.signal

#22955 MAINT: wheel downloader
  tools/download-wheels.py
Labels: maintenance

#22896 ENH: signal: `tf2zpk` et al Array API
  scipy/signal/_filter_design.py
  scipy/signal/_polyutils.py
  scipy/signal/tests/test_filter_design.py
Labels: enhancement, scipy.signal, Meson, array types

#22939 TST: spatial.transform: Add array API standard support for testing
  scipy/spatial/transform/tests/test_rigid_transform.py
  scipy/spatial/transform/tests/test_rotation.py
  scipy/spatial/transform/tests/test_rotation_spline.py
Labels: scipy.spatial, maintenance, array types

#22968 DOC: outline that not all attributes of OptimizeResult may be present
  scipy/optimize/_minimize.py
Labels: scipy.optimize, Documentation

#22648 MAINT: stats.quantile: fixup quantile for p < minimum plotting position
  scipy/stats/_quantile.py
  scipy/stats/tests/test_quantile.py
Labels: scipy.stats, maintenance

#22963 MAINT: wrap wrapcauchy samples around the circle
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#22719 TST: add tests for `ncfdtri`
  scipy/special/tests/test_cdflib.py
Labels: scipy.special, maintenance

#22976 ENH: stats: Implement _munp for gennorm
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, enhancement

#22982 BUG: signal: fix incorrect vendoring of `npp_polyval`
  scipy/signal/_polyutils.py
  scipy/signal/tests/test_filter_design.py
Labels: defect, scipy.signal

#22969 MAINT: stats.make_distribution: fix most remaining discrete distribution specific issues
  scipy/stats/_discrete_distns.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance

#22811 ENH: ndimage.rotate: performance enhancement on WoA
  scipy/ndimage/src/ni_interpolation.c
Labels: enhancement, scipy.ndimage, C/C++

#22971 MAINT: fix skellam distribution tests
  scipy/special/boost_special_functions.h
  scipy/special/tests/test_boost_ufuncs.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, scipy.special, maintenance, C/C++

#21628 BUG:signal: Fix passing lti as system to cont2discrete
  scipy/signal/_lti_conversion.py
  scipy/signal/tests/test_cont2discrete.py
Labels: defect, scipy.signal

#22961 TST: `cluster`: reduce test reliance from linkage
  scipy/cluster/tests/test_hierarchy.py
Labels: scipy.cluster, maintenance

#22809 ENH: `optimize.root`: add warning for invalid inner parameters in `newton_krylov` method
  scipy/optimize/_nonlin.py
  scipy/optimize/tests/test_nonlin.py
Labels: enhancement, scipy.optimize

#22984 MAINT: special: remove test_compiles_in_cupy
  scipy/special/tests/meson.build
  scipy/special/tests/test_xsf_cuda.py
Labels: scipy.special, maintenance, Meson

#22987 DOC: sparse: sparray migration guide updates
  doc/source/reference/sparse.migration_to_sparray.rst
Labels: scipy.sparse, Documentation

#22873 ENH: sparse: Support nD sum/mean/min/max/argmin for sparse arrays
  scipy/sparse/_base.py
  scipy/sparse/_coo.py
  scipy/sparse/_data.py
  scipy/sparse/_dia.py
  scipy/sparse/_sputils.py
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_common1d.py
  scipy/sparse/tests/test_coo.py
  scipy/sparse/tests/test_sputils.py
Labels: enhancement, scipy.sparse

#22897 ENH: sparse: ND binary operations support
  scipy/sparse/_base.py
  scipy/sparse/_compressed.py
  scipy/sparse/_coo.py
  scipy/sparse/linalg/tests/test_pydata_sparse.py
  scipy/sparse/tests/test_arithmetic1d.py
  scipy/sparse/tests/test_base.py
  scipy/sparse/tests/test_coo.py
Labels: enhancement, scipy.sparse

#22959 ENH: `cluster`: more lazy functions
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: enhancement, scipy.cluster, array types

#22893 MAINT: vendor qhull as subproject
  .github/workflows/macos.yml
  .spin/cmds.py
  LICENSES_bundled.txt
  doc/source/dev/core-dev/vendored-code.rst.inc
  meson.build
  meson.options
  scipy/spatial/_qhull.pyx
  scipy/spatial/meson.build
  scipy/spatial/qhull_misc.c
  scipy/spatial/qhull_misc.h
  scipy/spatial/qhull_misc_README.txt
  scipy/spatial/qhull_src/README.txt
  subprojects/qhull_r/libqhull_r/Announce.txt
  subprojects/qhull_r/libqhull_r/COPYING.txt
  subprojects/qhull_r/libqhull_r/geom2_r.c
  subprojects/qhull_r/libqhull_r/geom_r.c
  subprojects/qhull_r/libqhull_r/geom_r.h
  subprojects/qhull_r/libqhull_r/global_r.c
  subprojects/qhull_r/libqhull_r/io_r.c
  subprojects/qhull_r/libqhull_r/io_r.h
  subprojects/qhull_r/libqhull_r/libqhull_r.c
  subprojects/qhull_r/libqhull_r/libqhull_r.h
  subprojects/qhull_r/libqhull_r/mem_r.c
  subprojects/qhull_r/libqhull_r/mem_r.h
  subprojects/qhull_r/libqhull_r/merge_r.c
  subprojects/qhull_r/libqhull_r/merge_r.h
  subprojects/qhull_r/libqhull_r/poly2_r.c
  subprojects/qhull_r/libqhull_r/poly_r.c
  subprojects/qhull_r/libqhull_r/poly_r.h
  subprojects/qhull_r/libqhull_r/qhull_ra.h
  subprojects/qhull_r/libqhull_r/qset_r.c
  subprojects/qhull_r/libqhull_r/qset_r.h
  subprojects/qhull_r/libqhull_r/random_r.c
  subprojects/qhull_r/libqhull_r/random_r.h
  subprojects/qhull_r/libqhull_r/rboxlib_r.c
  subprojects/qhull_r/libqhull_r/stat_r.c
  subprojects/qhull_r/libqhull_r/stat_r.h
  subprojects/qhull_r/libqhull_r/user_r.c
  subprojects/qhull_r/libqhull_r/user_r.h
  subprojects/qhull_r/libqhull_r/usermem_r.c
  subprojects/qhull_r/libqhull_r/userprintf_r.c
  subprojects/qhull_r/libqhull_r/userprintf_rbox_r.c
  subprojects/qhull_r/meson.build
  tools/vendor_qhull.sh
Labels: scipy.spatial, maintenance, Meson

#22946 ENH: `special`: add `xp_capabilities`
  scipy/_lib/_array_api.py
  scipy/special/__init__.py
  scipy/special/_support_alternative_backends.py
  scipy/special/tests/test_support_alternative_backends.py
Labels: enhancement, scipy.special, scipy._lib, array types

#21180 ENH: sparse: efficient arithmetic operations for DIA format
  scipy/sparse/_dia.py
  scipy/sparse/_generate_sparsetools.py
  scipy/sparse/sparsetools/dia.h
  scipy/sparse/tests/test_base.py
Labels: enhancement, scipy.sparse, C/C++

#22460 MAINT: signal.csd: port away from using `_spectral_helper`
  scipy/signal/_spectral_py.py
  scipy/signal/tests/_scipy_spectral_test_shim.py
  scipy/signal/tests/test_spectral.py
Labels: scipy.signal, maintenance

#22970 MAINT: stats.DiscreteDistribution: fix inversion methods
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, maintenance

#22071 MAINT: Use `ENUM_CHECK_NAME` for avoiding memory leaks in `_superluobject.c`
  scipy/sparse/linalg/_dsolve/_superluobject.c
Labels: scipy.sparse.linalg, maintenance, C/C++

#22992 ENH: `signal.cspline1d_eval,qspline1d_eval` throw exception for empty cj array
  scipy/signal/_spline_filters.py
  scipy/signal/tests/test_bsplines.py
Labels: enhancement, scipy.signal

#22995 CI: pin marray version
  .github/workflows/array_api.yml
Labels: CI

#22787 DOC: optimize: Add the multiplier details to SLSQP funcs
  scipy/optimize/_minimize.py
  scipy/optimize/_slsqp_py.py
Labels: scipy.optimize, Documentation

#22994 DOC: signal.csd: Small fixes to docstr
  scipy/signal/_spectral_py.py
Labels: scipy.signal, Documentation

#22973 BUG: interpolate.make_splrep: raise error when `residuals.sum()` becomes `NaN`
  scipy/interpolate/_fitpack_repro.py
  scipy/interpolate/tests/test_bsplines.py
Labels: defect, scipy.interpolate

#22997 CI: temporarily disable free-threaded job with parallel-threads
  .github/workflows/linux.yml
Labels: CI, free-threading

#23001 DOC: `special`: update top-level docs to reflect `xp_capabilities`
  doc/source/dev/api-dev/array_api.rst
Labels: scipy.special, Documentation

#22998 BUG: Fix duplicate `--pyargs` due to double addition in SciPy and `spin`
  .spin/cmds.py
Labels: defect, DX

#23005 BUG: sparse: fix mean/sum change in return of np.matrix for sparse matrices
  scipy/sparse/_base.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse

#22967 CI: address some potential vulnerabilities
  .github/workflows/circle_artifacts.yml
  .github/workflows/commit_message.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
Labels: CI

#22343 ENH: `signal.{envelope,resample,resample_poly}`: array API standard support
  scipy/ndimage/_delegators.py
  scipy/ndimage/_ni_support.py
  scipy/signal/_delegators.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_fir_filter_design.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal, array types

#22960 DOC/TST: `cluster.hierarchy`: use `xp_capabilities`
  scipy/_lib/_array_api.py
  scipy/cluster/hierarchy.py
  scipy/cluster/tests/test_hierarchy.py
Labels: scipy.cluster, Documentation, maintenance, array types

#23000 ENH/DOC/TST: `cluster.vq`: use `xp_capabilities`
  scipy/cluster/tests/test_vq.py
  scipy/cluster/vq.py
Labels: scipy.cluster, Documentation, maintenance, array types

#22991 DOC: update SciPy 1.16.0 release notes
  .mailmap
  doc/source/release/1.16.0-notes.rst
Labels: Documentation, needs-work

#23006 REL: set version to 1.17.0.dev0
  doc/source/release.rst
  doc/source/release/1.17.0-notes.rst
  pyproject.toml
Labels: Documentation, maintenance

#23010 DOC: edit and extend the release notes for 1.16.0
  doc/source/release/1.16.0-notes.rst
Labels: Documentation

#23013 MAINT: version pins/prep for 1.16.0rc1
  pyproject.toml
  scipy/__init__.py
Labels: maintenance

#23014 DOC: .mailmap updates for 1.16.0rc1
  .mailmap
  doc/source/release/1.16.0-notes.rst
Labels: Documentation

#23023 DEP: stats: remove find_repeats
  scipy/stats/__init__.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_py.py
  scipy/stats/morestats.py
  scipy/stats/stats.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#23026 DEV: Remove `--parallel` and rely on `spin`'s `--jobs` argument
  .spin/cmds.py
Labels: DX

#23031 REL: set 1.16.0rc2 unreleased
  pyproject.toml
Labels: maintenance

#23029 DOC: add documentation for the new `use-system-libraries` build option
  doc/source/building/redistributable_binaries.rst
Labels: Documentation, backport-candidate

#23024 MAINT: fix inaccuracy in factorial2 docstring
  scipy/special/_basic.py
Labels: scipy.special, Documentation, maintenance

#23039 TYP: fix and improve the ``linalg._decomp_lu_cython`` stub
  scipy/linalg/_decomp_lu_cython.pyi
Labels: scipy.linalg, static typing

#23034 DEP: linalg.interpolative: remove seed and rand
  scipy/linalg/interpolative.py
Labels: scipy.linalg, deprecated, needs-release-note

#22990 ENH: fix typo in differential_evolution docstring for atol parameter
  scipy/optimize/_differentialevolution.py
Labels: enhancement, scipy.optimize

#23040 DOC: linalg: adjust release note wording
  doc/source/release/1.16.0-notes.rst
Labels: Documentation

#22827 ENH: stats: add `marray` support to a few remaining functions
  .github/workflows/array_api.yml
  scipy/_lib/_array_api.py
  scipy/_lib/tests/test_warnings.py
  scipy/spatial/distance.py
  scipy/stats/_entropy.py
  scipy/stats/_morestats.py
  scipy/stats/_quantile.py
  scipy/stats/_stats_py.py
  scipy/stats/_variation.py
  scipy/stats/tests/test_marray.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, enhancement, array types

#23028 MAINT: create `_lib._array_api_override` to solve circular import
  scipy/_lib/_array_api.py
  scipy/_lib/_array_api_compat_vendor.py
  scipy/_lib/_array_api_override.py
  scipy/_lib/meson.build
  scipy/_lib/tests/test_array_api.py
Labels: scipy._lib, maintenance, array types

#22041 BUG: Perform ``Py_DECREF`` on ``obj`` to avoid memory leak
  scipy/sparse/linalg/_dsolve/_superlu_utils.c
Labels: defect, scipy.sparse.linalg, C/C++

#23043 DEP: linalg: remove kron
  doc/source/conf.py
  scipy/conftest.py
  scipy/linalg/__init__.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: scipy.linalg, Documentation, deprecated, needs-release-note

#23044 TST: update all `result_to_tuple=` callables to accept two arguments
  scipy/stats/_axis_nan_policy.py
  scipy/stats/_correlation.py
  scipy/stats/_entropy.py
  scipy/stats/_hypotests.py
  scipy/stats/_morestats.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/_variation.py
Labels: scipy.stats, maintenance, backport-candidate

#23041 DOC/DEV: Updated developer docs for `spin`
  benchmarks/README.rst
  benchmarks/benchmarks/optimize.py
  doc/source/building/blas_lapack.rst
  doc/source/building/compilers_and_options.rst
  doc/source/building/distutils_equivalents.rst
  doc/source/building/index.rst
  doc/source/building/understanding_meson.rst
  doc/source/dev/api-dev/array_api.rst
  doc/source/dev/contributor/benchmarking.rst
  doc/source/dev/contributor/compiled_code.rst
  doc/source/dev/contributor/contributor_toc.rst
  doc/source/dev/contributor/cython.rst
  doc/source/dev/contributor/debugging_linalg_issues.rst
  doc/source/dev/contributor/development_workflow.rst
  doc/source/dev/contributor/devpy_test.rst
  doc/source/dev/contributor/pep8.rst
  doc/source/dev/contributor/rendering_documentation.rst
  doc/source/dev/contributor/reviewing_prs.rst
  doc/source/dev/core-dev/releasing.rst.inc
  doc/source/dev/hacking.rst
  scipy/conftest.py
  tools/check_installation.py
Labels: Documentation, DX

#23045 DEP: interpolate.interpnd: remove incidental imports from private but present module
  scipy/_lib/tests/test_public_api.py
  scipy/interpolate/interpnd.py
Labels: scipy.interpolate, scipy._lib, deprecated, needs-release-note

#23058 CI: clean up free-threading job, use released Cython/Pythran
  .github/workflows/linux.yml
Labels: CI, free-threading

#23060 DOC: Revise a footnote in meson-distutils
  doc/source/building/distutils_equivalents.rst
Labels: Documentation

#23062 DEV: help debug free-threading build of Fortran modules
  .gitignore
  scipy/meson.build
Labels: DX, Meson

#23073 TST: `linalg`: refactor `test_blas`
  scipy/linalg/tests/test_blas.py
Labels: scipy.linalg, maintenance

#23065 ENH: stats.tukey_hsd: improve array index iteration in ``TukeyHSDResult.__str__``
  scipy/stats/_hypotests.py
Labels: scipy.stats, enhancement

#23085 TST: signal: fix flaky TestZpk2Sos
  scipy/signal/tests/test_filter_design.py
Labels: scipy.signal, maintenance

#23086 CI: update windows-2019 runner image to windows-2022
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
Labels: CI

#23083 TST: linalg: pytest-run-parallell out of memory
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_extending.py
Labels: scipy.linalg, maintenance, free-threading

#22911 ENH: signal: Array API for filter design functions
  scipy/signal/_delegators.py
  scipy/signal/_filter_design.py
  scipy/signal/_polyutils.py
  scipy/signal/_signaltools.py
  scipy/signal/_support_alternative_backends.py
  scipy/signal/tests/test_filter_design.py
  scipy/signal/tests/test_signaltools.py
Labels: enhancement, scipy.signal, array types
