Repository scipy/scipy, pull requests merged in 2025-09, with the labels that each got.

#23535 BUG: special: Fix switched overflow and underflow error messages.
  scipy/special/sf_error.cc
  scipy/special/tests/test_sf_error.py
Labels: defect, scipy.special, C/C++

#23540 MAINT, BLD: ignore meson wraplock
  .gitignore
Labels: Build issues, maintenance, Meson

#23536 DOC: Convert math symbols into Latex for format consistency
  doc/source/tutorial/stats/sampling_dgt.rst
  scipy/integrate/_quadrature.py
Labels: scipy.integrate, Documentation

#22925 ENH: stats: Add matrix variate t distribution
  benchmarks/benchmarks/stats.py
  scipy/stats/__init__.py
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, enhancement

#23426 ENH: geometric_slerp extrapolation
  scipy/spatial/_geometric_slerp.py
  scipy/spatial/tests/test_slerp.py
Labels: enhancement, scipy.spatial, Documentation

#23558 DOC: ``special.modfresnelm`` docstring equation fix
  scipy/special/_special_ufuncs_docs.cpp
Labels: scipy.special, Documentation, C/C++

#23370 ENH: spatial: add ability to suppress gimbal lock warnings for rotations
  scipy/spatial/transform/_rotation.py
  scipy/spatial/transform/_rotation_cy.pyx
  scipy/spatial/transform/_rotation_xp.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, Cython

#23507 ENH: add array api support for `linalg.orthogonal_procrustes` and `_apply_over_batch`
  scipy/_lib/_util.py
  scipy/linalg/_procrustes.py
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_cythonized_array_utils.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_procrustes.py
  scipy/linalg/tests/test_solvers.py
Labels: enhancement, scipy.linalg, scipy._lib, array types

#23562 DOC: Fix duplicate and dead link in fligner docstring
  scipy/stats/_morestats.py
Labels: scipy.stats, Documentation

#23566 MAINT: Use np.view instead of setting dtype
  scipy/sparse/_data.py
Labels: scipy.sparse, maintenance

#23588 MAINT: Test spatial.transform.Rotation.__iter__ with jit
  scipy/spatial/transform/_rotation.py
Labels: scipy.spatial, maintenance, array types

#23592 MAINT: special: Replace disrecommended assert functions with assert_allclose
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_boxcox.py
  scipy/special/tests/test_ellip_harm.py
  scipy/special/tests/test_lambertw.py
  scipy/special/tests/test_legendre.py
  scipy/special/tests/test_logit.py
  scipy/special/tests/test_orthogonal.py
  scipy/special/tests/test_pdtr.py
  scipy/special/tests/test_spfun_stats.py
  scipy/special/tests/test_spherical_bessel.py
Labels: scipy.special, maintenance

#23563 BUG: fix memory leaks in `optimize.nnls` and `linalg.sqrtm`
  scipy/linalg/_matfuncs_sqrtm.h
  scipy/optimize/__slsqp.h
Labels: defect, scipy.optimize, maintenance, backport-candidate, C/C++

#23609 BUG: signal.deconvolve: More meaningful error messages for invalid parameters.
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#23607 BUG: signal.lfilter: More meaningful error messages for invalid parameters.
  scipy/signal/_signaltools.py
  scipy/signal/tests/test_signaltools.py
Labels: defect, scipy.signal

#23613 `special.logsumexp`: replace `_sign` with `xp.sign`
  scipy/special/_logsumexp.py
  scipy/special/tests/test_logsumexp.py
Labels: scipy.special

#23538 MAINT: differential_evolution, polish takes a callable
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: scipy.optimize, maintenance

#23614 TST: shim for NumPy warning changes
  scipy/ndimage/tests/test_filters.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, scipy.ndimage, maintenance, backport-candidate

#23617 MAINT: optimize.differential_evolution: fix mistake in `partial` import
  scipy/optimize/_differentialevolution.py
  scipy/optimize/tests/test__differential_evolution.py
Labels: scipy.optimize

#23623 DOC: stats.levy_stable: improvements
  scipy/stats/_levy_stable/__init__.py
Labels: scipy.stats, Documentation

#23629 CI: use asv<0.6.5 to avoid problem with that release - fixes benchmarks job
  .circleci/config.yml
Labels: CI

#23633 MAINT/TST: stats: loosen a test tolerance.
  scipy/stats/tests/test_distributions.py
Labels: scipy.stats, maintenance

#23565 DOC/DEV: update editable install guidance for `spin install`
  doc/source/building/index.rst
Labels: Documentation, DX

#23618 BUG: sparse.csgraph.yen: Validate source and sink to avoid seg. faults.
  scipy/sparse/csgraph/_shortest_path.pyx
  scipy/sparse/csgraph/tests/test_shortest_path.py
Labels: defect, scipy.sparse.csgraph, Cython

#23646 CI: fix issue with `spin` broken due to new `click` release
  .github/workflows/array_api.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/musllinux.yml
  .github/workflows/windows.yml
  pyproject.toml
  requirements/dev.txt
Labels: CI

#23647 CI: fix issue with spin broken due to new click release (follow-up)
  .github/workflows/linux_intel_oneAPI.yml
  .github/workflows/windows_intel_oneAPI.yml
  environment.yml
Labels: CI

#23425 ENH: spatial.transform.RigidTransform: add array API backend
  scipy/spatial/transform/_rigid_transform.py
  scipy/spatial/transform/_rigid_transform_cy.pyx
  scipy/spatial/transform/_rigid_transform_xp.py
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/test_rigid_transform.py
Labels: enhancement, scipy.spatial, array types

#23653 MAINT: Fix `spatial.transform.RigidTransform` xp backend comments
  scipy/spatial/transform/_rigid_transform_xp.py
Labels: scipy.spatial, maintenance

#23632 MAINT: spatial.transform.Rotation: `from_euler/from_davenport` shape consistency
  scipy/spatial/transform/_rotation.py
  scipy/spatial/transform/_rotation_cy.pyx
  scipy/spatial/transform/_rotation_xp.py
  scipy/spatial/transform/tests/test_rigid_transform.py
  scipy/spatial/transform/tests/test_rotation.py
Labels: scipy.spatial, maintenance, Cython, needs-release-note

#23649 CI: use Pixi for `array_api.yml` and `lint.yml`
  .github/ccache/action.yml
  .github/workflows/array_api.yml
  .github/workflows/lint.yml
  .github/workflows/pixi.lock
  .github/workflows/pixi.toml
Labels: CI

#23625 ENH: sparse: Add DOK update method and tests
  scipy/sparse/_dok.py
  scipy/sparse/tests/test_dok.py
Labels: enhancement, scipy.sparse

#23656 DOC: Fix some typos in the stats module of scipy
  doc/source/tutorial/stats/continuous_chi2.rst
  doc/source/tutorial/stats/discrete_hypergeom.rst
  doc/source/tutorial/stats/hypothesis_fisher_exact.md
  doc/source/tutorial/stats/hypothesis_odds_ratio.md
  scipy/stats/_distn_infrastructure.py
Labels: scipy.stats, Documentation

#23584 ENH: migrate `special.chdtriv` to boost
  scipy/special/_add_newdocs.py
  scipy/special/_cdflib_wrappers.pxd
  scipy/special/boost_special_functions.h
  scipy/special/cdflib.c
  scipy/special/cdflib.h
  scipy/special/cython_special.pxd
  scipy/special/cython_special.pyx
  scipy/special/functions.json
  scipy/special/tests/test_basic.py
  scipy/special/tests/test_cdflib.py
Labels: enhancement, scipy.special, C/C++, Cython

#23661 DOC: Improve formatting in continuous distributions description
  scipy/stats/_continuous_distns.py
Labels: scipy.stats, Documentation

#23573 MAINT: slsqp callback accepts intermediate_result
  scipy/optimize/_minimize.py
  scipy/optimize/_optimize.py
  scipy/optimize/_slsqp_py.py
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_slsqp.py
Labels: scipy.optimize, maintenance

#23579 ENH: interpolate.AAA: add diagonal scaling to improve conditioning
  scipy/interpolate/_bary_rational.py
  scipy/interpolate/tests/test_bary_rational.py
Labels: enhancement, scipy.interpolate

#23537 ENH: Add two private ufuncs related to generalized harmonic numbers.
  scipy/integrate/tests/test_tanhsinh.py
  scipy/special/_generate_pyx.py
  scipy/special/_special_ufuncs.cpp
  scipy/special/_special_ufuncs_docs.cpp
  scipy/special/_ufuncs.pyi
  scipy/special/gen_harmonic.h
  scipy/special/tests/meson.build
  scipy/special/tests/test_gen_harmonic.py
  scipy/stats/_discrete_distns.py
  scipy/stats/tests/test_discrete_basic.py
  scipy/stats/tests/test_discrete_distns.py
  scipy/stats/tests/test_fit.py
Labels: scipy.stats, enhancement, scipy.special, C/C++, Cython, Meson

#23615 TST, MAINT: backports, restore lfilter
  .circleci/config.yml
  scipy/ndimage/tests/test_filters.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_mstats_basic.py
Labels: scipy.stats, scipy.signal, scipy.ndimage, maintenance

#23679 MAINT/STY: `spatial._kdtree`: Fix type of default value of eps parameter in query methods
  scipy/spatial/_kdtree.py
Labels: scipy.spatial, query, maintenance

#23685 MAINT: optimize: fix usage of `nextafter(..., where=)` without `out=`.
  scipy/optimize/_trustregion_constr/minimize_trustregion_constr.py
Labels: scipy.optimize, maintenance, backport-candidate

#23580 DOC: spatial: Better document align_vectors weighting
  scipy/spatial/transform/_rotation.py
Labels: scipy.spatial, Documentation

#23688 MAINT: Remove 'o' (Greek omicron) from allowed symbols.
  tools/check_unicode.py
Labels: maintenance

#23259 ENH: stats: ``Logistic`` distribution
  scipy/stats/__init__.py
  scipy/stats/_new_distributions.py
  scipy/stats/tests/test_continuous.py
Labels: scipy.stats, enhancement, needs-release-note

#23504 BUG: stats: trapezoid.fit does not converge
  scipy/stats/_continuous_distns.py
  scipy/stats/tests/test_continuous.py
  scipy/stats/tests/test_continuous_basic.py
  scipy/stats/tests/test_distributions.py
  scipy/stats/tests/test_fit.py
Labels: defect, scipy.stats

#23675 ENH: spatial.transform.RigidTransform: support broadcasting
  scipy/spatial/transform/_rigid_transform.py
  scipy/spatial/transform/_rigid_transform_cy.pyx
  scipy/spatial/transform/_rigid_transform_xp.py
  scipy/spatial/transform/tests/test_rigid_transform.py
Labels: enhancement, scipy.spatial, Cython

#23683 MAINT: sparse: avoid recent free-threading `test_matrix_io.py` failures
  scipy/sparse/tests/test_matrix_io.py
Labels: scipy.sparse, maintenance, free-threading

#23694 DOC: Correct minor formatting issues in `scipy.sparse.linalg`
  scipy/sparse/linalg/_dsolve/linsolve.py
  scipy/sparse/linalg/_onenormest.py
Labels: scipy.sparse.linalg, Documentation

#23697 DEV: improve `spin build --help` w.r.t. debug builds
  .spin/cmds.py
Labels: DX

#23681 BUG: linalg:solve...are: fix bug when optional array is skipped
  scipy/_lib/_util.py
  scipy/linalg/_solvers.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_solvers.py
Labels: scipy.linalg, maintenance, backport-candidate
