Repository scipy/scipy, pull requests merged in 2025-10, with the labels that each got.

#23706 MAINT: stats.multivariate_t.logpdf/pdf: fix infinite DOF special case
  scipy/stats/_multivariate.py
  scipy/stats/tests/test_multivariate.py
Labels: scipy.stats, maintenance

#23690 DOC: spatial.transform.Rotation: update docs
  scipy/spatial/transform/_rotation.py
Labels: scipy.spatial, Documentation

#23680 MAINT: linalg.hankel: warn against changing behavior for multidimensional arrays
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_special_matrices.py
Labels: scipy.linalg, maintenance

#23719 DOC: minor typo
  scipy/optimize/_constraints.py
Labels: scipy.optimize

#23721 TST: test_as_euler_symmetric_axes tol bump
  scipy/spatial/transform/tests/test_rotation.py
Labels: scipy.spatial, maintenance

#23695 DOC: spatial.transform.RigidTransform: update docs
  scipy/spatial/transform/_rigid_transform.py
Labels: scipy.spatial, Documentation

#23727 MAINT: Consistent ``spatial.[c]KDTree`` method parameter defaults for ``eps`` and ``p``
  scipy/spatial/_ckdtree.pyx
  scipy/spatial/_kdtree.py
Labels: scipy.spatial, maintenance, Cython

#23726 Fix typo (coefficent -> coefficient)
  doc/source/tutorial/stats/hypothesis_pearsonr.md
Labels: Documentation

#23713 TST: macos-15-intel
  .github/workflows/macos.yml
Labels: maintenance, CI

#23693 ENH: stats.mode: add array API support
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_rank.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, enhancement, array types

#21872 MAINT: remove `np.random.seed` from `scipy.optimize`
  scipy/optimize/_trustregion_constr/tests/test_projections.py
  scipy/optimize/tests/test__linprog_clean_inputs.py
  scipy/optimize/tests/test__numdiff.py
  scipy/optimize/tests/test__remove_redundancy.py
  scipy/optimize/tests/test__spectral.py
  scipy/optimize/tests/test_least_squares.py
  scipy/optimize/tests/test_linear_assignment.py
  scipy/optimize/tests/test_linesearch.py
  scipy/optimize/tests/test_lsq_linear.py
  scipy/optimize/tests/test_minpack.py
  scipy/optimize/tests/test_nonlin.py
  scipy/optimize/tests/test_optimize.py
  scipy/optimize/tests/test_slsqp.py
  scipy/optimize/tests/test_trustregion_exact.py
Labels: scipy.optimize, maintenance

#23735 CI: silence pyparsing 3.3.0a1 deprecation warnings
  pytest.ini
Labels: CI
