Repository scipy/scipy, pull requests merged in 2025-06, with the labels that each got.

#23094 DOC: fix linalg overview for `cdf2rdf` and `khatri_rao`
  scipy/linalg/_decomp.py
  scipy/linalg/_matfuncs.py
Labels: scipy.linalg, Documentation

#23093 DEV: remove duplicate `--doctest-collect=api` in `spin smoke-docs`
  .spin/cmds.py
Labels: DX

#23082 TST: linalg: thread-safe rng
  scipy/linalg/tests/test_basic.py
  scipy/linalg/tests/test_decomp.py
  scipy/linalg/tests/test_decomp_ldl.py
  scipy/linalg/tests/test_decomp_update.py
  scipy/linalg/tests/test_fblas.py
  scipy/linalg/tests/test_interpolative.py
  scipy/linalg/tests/test_lapack.py
  scipy/linalg/tests/test_matfuncs.py
  scipy/linalg/tests/test_sketches.py
  scipy/linalg/tests/test_special_matrices.py
Labels: scipy.linalg, maintenance, free-threading

#23099 MAINT: fix SPDX license expressions for LAPACK, OpenBLAS, GCC
  tools/wheels/LICENSE_linux.txt
  tools/wheels/LICENSE_osx.txt
  tools/wheels/LICENSE_win32.txt
Labels: maintenance, backport-candidate, licensing

#23091 BUG: sparse: correct eq and ne with different shapes. (and add test)
  scipy/sparse/_base.py
  scipy/sparse/tests/test_base.py
Labels: defect, scipy.sparse, backport-candidate

#23108 MAINT: Remove optional arguments from `*_impl` functions in `_fitpack_repro.py`
  scipy/interpolate/_fitpack_repro.py
Labels: scipy.interpolate, maintenance

#23047 BUG: signal.csd: Zero-pad for different size inputs
  scipy/signal/_spectral_py.py
  scipy/signal/tests/test_spectral.py
Labels: defect, scipy.signal, backport-candidate

#23048 MAINT: ndimage.vectorized_filter: fix behavior of axes when length equals dimensionality of image
  scipy/ndimage/_filters.py
  scipy/ndimage/tests/test_filters.py
Labels: scipy.ndimage, maintenance, backport-candidate

#23112 MAINT: remove duplicated test in `stats.tests.test_stats.py`
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#23113 DOC: improve docs for `-Duse-system-libraries` build option
  doc/source/building/redistributable_binaries.rst
Labels: Documentation, backport-candidate

#23115 BUG: implicit string concatenation in ``linalg._decomp_interpolative.__all__``
  scipy/linalg/_decomp_interpolative.pyx
Labels: defect, scipy.linalg, Cython

#23118 TYP: generic ``signal.ShortTimeFFT`` type
  scipy/signal/_short_time_fft.py
  scipy/signal/tests/test_short_time_fft.py
Labels: scipy.signal, static typing

#23088 DEP: stats.ttest_ind: remove random_state and permutation
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_axis_nan_policy.py
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, deprecated

#23130 DEV: spin: change shorthand of `--setup-args` to `-S` to avoid `UserWarning`
  .github/workflows/pixi.toml
  .github/workflows/windows_intel_oneAPI.yml
  .spin/cmds.py
  doc/source/building/blas_lapack.rst
  doc/source/dev/contributor/debugging_linalg_issues.rst
Labels: DX

#21743 TST: sparse: Separate Test64Bit from test_base.py, refactor to allow Test_Classes based marks, ignore some methods
  scipy/sparse/tests/meson.build
  scipy/sparse/tests/test_64bit.py
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, maintenance, CI, Meson

#23140 TST: Fix missing exceptions
  scipy/linalg/tests/test_decomp_update.py
Labels: scipy.linalg

#22924 ENH: linalg: low-level nD support, take 3
  scipy/linalg/_basic.py
  scipy/linalg/_common_array_utils.h
  scipy/linalg/_decomp_lu.py
  scipy/linalg/lapack.py
  scipy/linalg/meson.build
  scipy/linalg/src/_batched_linalg_module.cc
  scipy/linalg/src/_common_array_utils.hh
  scipy/linalg/src/_linalg_inv.hh
  scipy/linalg/src/_npymath.hh
  scipy/linalg/tests/test_basic.py
  scipy/sparse/linalg/_eigen/lobpcg/tests/test_lobpcg.py
Labels: enhancement, scipy.linalg, C/C++, Meson

#23149 TST: ndimage.vectorized_filter: add missing assertion to test
  scipy/ndimage/tests/test_filters.py
Labels: scipy.ndimage, maintenance

#23151 CI: use 4 cores on GitHub Actions
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: CI

#22936 TST: sparse: more tests for sparse `has_canonical_format` flag
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, maintenance

#23153 TST: optimize: cap pytest-run-parallel memory usage
  scipy/optimize/tests/test_least_squares.py
Labels: scipy.optimize, maintenance, free-threading

#23170 TST: add all SciPy-specific pytest markers to `scipy/conftest.py`
  pytest.ini
  scipy/conftest.py
Labels: maintenance, backport-candidate

#23176 BUG: `spin bench` ignores `--quick` parameter
  .spin/cmds.py
Labels: defect, Benchmarks

#23179 TST: ndimage: avoid implicit dtype conversions in vectorized_filter tests
  scipy/ndimage/tests/test_filters.py
Labels: scipy.ndimage, maintenance, array types

#23164 MAINT: backports and prep for 1.16.0 "final"
  .github/workflows/array_api.yml
  doc/source/conf.py
  doc/source/release/1.16.0-notes.rst
  pytest.ini
  scipy/conftest.py
  scipy/linalg/blas.py
  scipy/linalg/flapack_sym_herm.pyf.src
  scipy/stats/_distribution_infrastructure.py
Labels: scipy.stats, scipy.linalg, Documentation, maintenance

#22972 ENH: spatial.transform.RigidTransform: refactor into pure Python class and cython backend
  scipy/spatial/transform/__init__.py
  scipy/spatial/transform/_rigid_transform.py
  scipy/spatial/transform/_rigid_transform_cy.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/test_rigid_transform.py
Labels: enhancement, scipy.spatial, Cython, array types

#23189 BLD: implement build-time version check for minimum Python version
  meson.build
  pyproject.toml
Labels: Build issues, maintenance, backport-candidate, Meson

#23187 CI: add cp314/cp314t nighly wheel builds
  .github/workflows/wheels.yml
  scipy/io/matlab/tests/test_streams.py
  scipy/stats/tests/test_fast_gen_inversion.py
Labels: scipy.stats, scipy.io, Official binaries, CI, free-threading

#23188 WIP, MAINT: a few more backports for 1.16.0
  .github/workflows/array_api.yml
  .github/workflows/pixi.toml
  .github/workflows/wheels.yml
  doc/source/release/1.16.0-notes.rst
  meson.build
  pyproject.toml
  scipy/optimize/_lbfgsb_py.py
  scipy/optimize/tests/test_optimize.py
  scipy/signal/tests/test_signaltools.py
  scipy/stats/_resampling.py
  scipy/stats/_stats_py.py
  scipy/stats/tests/test_morestats.py
  tools/wheels/cibw_before_build_linux.sh
  tools/wheels/cibw_before_build_macos.sh
  tools/wheels/cibw_before_build_win.sh
  tools/wheels/cibw_before_test.sh
Labels: needs-work, maintenance

#23206 DOC: ndimage.vectorized_filter: correct `output` description
  scipy/ndimage/_filters.py
Labels: scipy.ndimage, Documentation, backport-candidate

#23202 DEP: spatial: raise error for complex input to cosine and correlation
  scipy/spatial/distance.py
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated

#23205 TST: stats.ttest_ind: remove test of deprecated/removed `permutations`
  scipy/stats/tests/test_stats.py
Labels: scipy.stats, maintenance

#23121 BUG: sparse.linalg.LaplacianNd: periodic eigenvectors
  scipy/sparse/linalg/_special_sparse_arrays.py
  scipy/sparse/linalg/tests/test_special_sparse_arrays.py
Labels: defect, scipy.sparse.linalg

#23214 REL, MAINT: prep for 1.16.1
  doc/source/release.rst
  doc/source/release/1.16.1-notes.rst
  pyproject.toml
Labels: Documentation, maintenance

#23167 BUG: optimize.shgo: Complex cache `split_edge` differently
  scipy/optimize/_shgo_lib/_complex.py
Labels: defect, scipy.optimize

#22914 ENH: signal: Add Array API compatibility to the `filter_design` section
  scipy/signal/_delegators.py
  scipy/signal/_filter_design.py
  scipy/signal/tests/test_filter_design.py
Labels: enhancement, scipy.signal, array types

#23210 DEP: spatial.distance: remove kulczynski1 and sokalmichener metrics
  benchmarks/benchmarks/spatial.py
  scipy/spatial/distance.py
  scipy/spatial/distance.pyi
  scipy/spatial/src/distance_impl.h
  scipy/spatial/src/distance_metrics.h
  scipy/spatial/src/distance_pybind.cpp
  scipy/spatial/src/distance_wrap.c
  scipy/spatial/tests/test_distance.py
Labels: scipy.spatial, deprecated, C/C++

#23138 MAINT: sparse: remove python 2 remnants from `_spbase`
  scipy/sparse/_base.py
Labels: scipy.sparse, maintenance

#23224 MAINT: _lib: remove old/unneeded code
  scipy/_lib/_util.py
Labels: scipy._lib, maintenance

#23089 ENH/DEP: linalg: support batching for toeplitz and related functions
  scipy/linalg/_basic.py
  scipy/linalg/_special_matrices.py
  scipy/linalg/tests/test_batch.py
  scipy/linalg/tests/test_solve_toeplitz.py
  scipy/linalg/tests/test_special_matrices.py
Labels: enhancement, scipy.linalg, deprecated

#23232 DOC: Fix typo in 1.12.0-notes.rst
  doc/source/release/1.12.0-notes.rst
Labels: Documentation

#23223 MAINT: port `_test_fortran.f` to Python functions in `test_fortran.py`
  scipy/io/_test_fortran.f
  scipy/io/meson.build
  scipy/io/test_fortran.pyf
  scipy/io/tests/test_fortran.py
Labels: scipy.io, maintenance, Fortran

#23198 ENH: spatial.transform.Rotation: refactor into pure Python class and cython backend
  scipy/spatial/transform/_rigid_transform_cy.pyx
  scipy/spatial/transform/_rotation.py
  scipy/spatial/transform/_rotation_cy.pyx
  scipy/spatial/transform/meson.build
  scipy/spatial/transform/tests/test_rotation.py
Labels: enhancement, scipy.spatial, Cython

#23244 TYP: generic ``optimize`` types
  scipy/optimize/_constraints.py
  scipy/optimize/_nonlin.py
Labels: scipy.optimize

#23256 MAINT: remove `_lib._threadsafety`
  scipy/_lib/_threadsafety.py
  scipy/_lib/meson.build
  scipy/_lib/tests/meson.build
  scipy/_lib/tests/test__threadsafety.py
Labels: scipy._lib, maintenance

#23258 MAINT: ``sparse`` testing without ``decorator``
  scipy/sparse/tests/test_base.py
Labels: scipy.sparse, scipy._lib, maintenance

#23260 MAINT: Remove ``_lib.decorator``
  LICENSES_bundled.txt
  mypy.ini
  scipy/_lib/decorator.py
  scipy/_lib/meson.build
  tools/lint.toml
Labels: scipy._lib, maintenance

#23254 DOC: special: LaTeX cleanup
  scipy/special/_special_ufuncs_docs.cpp
Labels: scipy.special, Documentation
