Repository scipy/scipy, pull requests merged in 2025-08, with the labels that each got.

#23403 BUG: Skip installing gmpy2(test deps) for Win-ARM64
  requirements/test.txt
  tools/generate_requirements.py
Labels: defect, backport-candidate

#23381 MAINT: stats: Apply xp_capabilities decorator to all public functions
  doc/source/array_api_capabilities_table.py
  scipy/_lib/_array_api_docs_tables.py
  scipy/_lib/tests/test_array_api.py
  scipy/spatial/transform/tests/test_rotation.py
  scipy/stats/_binned_statistic.py
  scipy/stats/_binomtest.py
  scipy/stats/_bws_test.py
  scipy/stats/_correlation.py
  scipy/stats/_distribution_infrastructure.py
  scipy/stats/_entropy.py
  scipy/stats/_fit.py
  scipy/stats/_hypotests.py
  scipy/stats/_mannwhitneyu.py
  scipy/stats/_mgc.py
  scipy/stats/_morestats.py
  scipy/stats/_multicomp.py
  scipy/stats/_page_trend_test.py
  scipy/stats/_quantile.py
  scipy/stats/_resampling.py
  scipy/stats/_sensitivity_analysis.py
  scipy/stats/_stats_mstats_common.py
  scipy/stats/_stats_py.py
  scipy/stats/_survival.py
  scipy/stats/_variation.py
  scipy/stats/contingency.py
  scipy/stats/tests/test_entropy.py
  scipy/stats/tests/test_marray.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_quantile.py
  scipy/stats/tests/test_resampling.py
  scipy/stats/tests/test_stats.py
  scipy/stats/tests/test_variation.py
Labels: scipy.stats, Documentation, maintenance, array types

#23340 DEP/MAINT: sparse: change default dtype behavior of 'diags_array' and 'diags'.
  scipy/sparse/_construct.py
  scipy/sparse/csgraph/tests/test_graph_laplacian.py
  scipy/sparse/linalg/_eigen/arpack/tests/test_arpack.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
  scipy/sparse/tests/test_array_api.py
  scipy/sparse/tests/test_construct.py
Labels: scipy.sparse.linalg, scipy.sparse, scipy.sparse.csgraph, maintenance, deprecated

#23421 DX: don't lint cython build output
  scipy/linalg/_decomp_lu_cython.pyi
  scipy/spatial/_qhull.pyi
  tools/lint.py
Labels: scipy.linalg, scipy.spatial

#23432 DOC: interpolate.RBFInterpolator: fix typo
  scipy/interpolate/_rbfinterp.py
Labels: scipy.interpolate, Documentation

#23414 BUG: signal: Avoid unbounded cache for ShortTimeFFT
  scipy/signal/_short_time_fft.py
Labels: defect, scipy.signal, backport-candidate

#21683 ENH:MAINT:integrate: Rewrite DOP F77 code in C
  .gitignore
  scipy/integrate/_dopmodule.c
  scipy/integrate/_ode.py
  scipy/integrate/dop.pyf
  scipy/integrate/dop/dop853.f
  scipy/integrate/dop/dopri5.f
  scipy/integrate/meson.build
  scipy/integrate/src/LICENSE_DOP
  scipy/integrate/src/dop.c
  scipy/integrate/src/dop.h
Labels: enhancement, scipy.integrate, maintenance, C/C++, Fortran, Meson

#23434 CI: fix skip conditions in `linux_blas.yml` jobs
  .github/workflows/linux_blas.yml
Labels: CI

#23422 DOC: special: add example to ellipeinc and correct docstring of ellipj
  scipy/special/_special_ufuncs_docs.cpp
Labels: scipy.special, Documentation, C/C++

#23439 DOC: special: Add some simple examples for loggamma.
  scipy/special/_special_ufuncs_docs.cpp
Labels: scipy.special, Documentation, C/C++

#23453 MAINT: Support ruff 0.12
  environment.yml
  pyproject.toml
  requirements/dev.txt
  scipy/special/_orthogonal.pyi
  tools/lint.py
Labels: scipy.special, maintenance, DX

#23454 ENH, MAINT: simpler calculate_areas()
  scipy/spatial/_spherical_voronoi.py
Labels: enhancement, scipy.spatial, maintenance

#23424 ENH: spatial: optimize performance of Rotation
  scipy/spatial/transform/_rotation.py
  scipy/spatial/transform/_rotation_cy.pyx
Labels: enhancement, scipy.spatial, Cython

#23456 DOC: Update link to Jupyter Project Governance
  doc/source/dev/governance.rst
Labels: Documentation, DX

#23466 DOC: Remove boilerplate text in a remark
  doc/source/tutorial/stats/discrete.rst
Labels: Documentation

#23452 MAINT: Update licensing of bundled software
  LICENSES_bundled.txt
Labels: maintenance, backport-candidate, licensing

#23463 DOC: sparse.kronsum: add example
  scipy/sparse/_construct.py
Labels: scipy.sparse, Documentation

#23233 ENH: Implement support for `bc_type="periodic"` in `make_splrep` and `make_splprep`
  scipy/interpolate/_bsplines.py
  scipy/interpolate/_fitpack_repro.py
  scipy/interpolate/src/__fitpack.cc
  scipy/interpolate/src/__fitpack.h
  scipy/interpolate/src/_dierckxmodule.cc
  scipy/interpolate/tests/test_bsplines.py
  scipy/interpolate/tests/test_fitpack.py
  scipy/interpolate/tests/test_fitpack2.py
Labels: enhancement, scipy.interpolate, C/C++

#23479 DOC: Update outdated `lazy_xp_function` references
  doc/source/dev/api-dev/array_api.rst
Labels: Documentation, DX

#23488 MAINT: Bump CuPy to 13.6.0 to fix GPU CI
  .github/workflows/gpu-ci.yml
  .github/workflows/pixi.lock
Labels: maintenance, CI

#23494 ENH:scipy.integrate.quad: shortcut if upper/lower bounds are equal
  scipy/integrate/_quadpack_py.py
  scipy/integrate/tests/test_quadpack.py
Labels: enhancement, scipy.integrate

#23495 MAINT: add lower bound for pytest
  environment.yml
  pyproject.toml
  requirements/test.txt
Labels: maintenance, backport-candidate

#23486 DOC: special: remove duplicated docstrings
  scipy/special/_add_newdocs.py
Labels: scipy.special, Documentation

#23497 ENH: integrate.romb: array-API support
  scipy/integrate/_quadrature.py
  scipy/integrate/tests/test_quadrature.py
Labels: enhancement, scipy.integrate, array types

#23483 ENH: signal.abcd_normalize: Refactor, improve docstr, and make ARRAY API compatible
  doc/source/tutorial/signal.rst
  scipy/signal/__init__.py
  scipy/signal/_lti_conversion.py
  scipy/signal/_ltisys.py
  scipy/signal/tests/test_ltisys.py
Labels: enhancement, scipy.signal, Documentation, array types

#23512 MAINT: remove unused cdflib code
  scipy/special/_cdflib_wrappers.pxd
  scipy/special/cdflib.c
  scipy/special/cdflib.h
Labels: scipy.special, maintenance, C/C++, Cython

#23521 BUG: shgo should accept args for fun/jac/hess
  scipy/optimize/_shgo.py
  scipy/optimize/tests/test__shgo.py
Labels: defect, scipy.optimize

#23523 MAINT: Use reshape instead of setting the shape attribute for numpy arrays
  scipy/interpolate/_fitpack_impl.py
  scipy/interpolate/tests/test_interpolate.py
  scipy/io/matlab/tests/test_mio.py
  scipy/linalg/_basic.py
  scipy/linalg/tests/test_decomp.py
  scipy/optimize/_optimize.py
  scipy/signal/_fir_filter_design.py
  scipy/signal/_signaltools.py
  scipy/stats/_morestats.py
  scipy/stats/_tukeylambda_stats.py
  scipy/stats/tests/test_morestats.py
  scipy/stats/tests/test_mstats_basic.py
Labels: maintenance

#23427 DOC: stats.chatterjeexi: document how to handle ties in `x`
  scipy/stats/_correlation.py
Labels: scipy.stats

#23478 DOC: Clarify parameter selection process in differential_evolution documentation
  scipy/optimize/_differentialevolution.py
Labels: scipy.optimize, Documentation

#23524 MAINT: Use reshape instead of setting the shape attribute for numpy
  scipy/interpolate/tests/test_fitpack.py
  scipy/interpolate/tests/test_rbf.py
  scipy/ndimage/_morphology.py
  scipy/sparse/linalg/_eigen/lobpcg/lobpcg.py
Labels: maintenance

#23528 CI: swap to windows-2025 [wheel build]
  .github/workflows/wheels.yml
  .github/workflows/windows.yml
Labels: CI

#23465 BUG: sparse: nD sparse save_npz and load_npz
  scipy/sparse/_matrix_io.py
  scipy/sparse/tests/test_matrix_io.py
Labels: defect, scipy.sparse
